.article-interactions
	border-top: 1px solid $zon_light_grey
	padding: remify(12px 0)

.sharing-menu
	font-size: remify(14px)
	font-family: $font-tabletgothic
	&__title
		color: $zon_grey
		cursor: pointer
		letter-spacing: 0.04em
		+on-interaction
			color: $zon_dark_grey
		&:after
			+drop_icon()
	&__items
		display: none
		padding: 0
		margin: remify(20px 0)
	&__item
		display: inline-block
		font-weight: bold
		&:before
			content: " / "
			color: $zon_grey
			margin: remify(0 6px)
			display: inline-block

		&:first-child:before
			display: none
	&__link
		&--facebook
			+link
				color: #3B5998 // corporate fb color
			+on-interaction
				border-bottom: 1px solid #3B5998
		&--twitter
			+link
				color: #55ACEE // corporate twitter color
			+on-interaction
				border-bottom: 1px solid #55ACEE
		&--google
			+link
				color: #CC3732 // corporate g+ color
			+on-interaction
				border-bottom: 1px solid #CC3732
		&--mail
			+link
				color: $zon_grey
			+on-interaction
				border-bottom: 1px solid $zon_grey
	// js-induced state modifications
	&--active
		& > .sharing-menu__title
			color: $zon_dark_grey
			&:after
				+rotate(180deg)
		& > .sharing-menu__items,
		.no-js .sharing-menu__items // no-js fallback
			display: block
