.article-heading
	margin: remify(24px 0)
	&__kicker
		color: $zon-red
		display: block
		font-size: remify(14px)
		font-weight: bold
		letter-spacing: $zon-letter-spacing-m
		padding-bottom: remify(17px)
	&__notice
		+padded
		display: block
		font-weight: bold
		margin-bottom: rem(5px)
		+respond-min($break-tablet-min)
			padding: rem(20px) 0 0
		&:before
			+font-smoothing
			background-color: $grey
			border-radius: 50%
			color: $white
			content: "\2139"
			display: inline-block
			height: rem(20px)
			line-height: 1
			margin-right: rem(5px)
			position: relative
			top: rem(-2px)
			text-align: center
			width: rem(20px)
	&__title
		color: $zon-charcoal
		display: block
		font-size: remify(30px)
		font-weight: bold
		line-height: 1.2

	+respond-min($break-tablet-min)
		margin-top: remify(60px)

	+respond-min($break-desktop-min)
		&__title
			font-size: remify(42px)

.breaking-news-heading
	background: #fffee8
	margin: 0 (-$page-padding--small) remify(24px)
	padding: remify(24px) $page-padding--small
	+respond-min($break-tablet-min)
		margin-left: -$page-padding
		margin-right: -$page-padding
		padding: remify(40px) $page-padding
	.article-heading
		margin: 0
