.article
	width: auto
	+respond-min($break-desktop-min)
		width: remify(660px)
		margin: auto

.article__subheading,
.article-page__page-teaser
	font-size: remify(20px)
	line-height: 1.25
	margin: 1.4em 0 .5em
	+respond-min($break-desktop-min)
		font-size: remify(24px)

.summary,
.byline,
.article__page-teaser
	color: $grey--mid
	font-size: remify(18px)
	line-height: 1.4
	margin-bottom: remify($petite--px)
	+respond-min($break-tablet-min)
		line-height: 1.5
	+respond-min($break-desktop-min)
		font-size: remify(20px)

.byline
	margin-bottom: remify(30px)

.byline__author
	font-weight: bold

.metadata
	color: $zon_grey
	font-size: remify(14px)
	letter-spacing: $zon-letter-spacing-s
	margin-bottom: remify(40px)

.stage--large
	width: auto
	margin: 0 (-$page-padding) 40px (-$page-padding)
	+respond-min($break-desktop-min)
		margin: 0 -80px 40px -80px
		img
			width: 100% // prevents 'max-width: 100%', blows image up

.figure__caption
	font-family: $font-franziska
	font-size: remify(15px)
	font-style: italic
	line-height: 1.5
	margin: $thin $page-padding 0 $page-padding
	color: $zon_dark_grey
	+respond-min($break-desktop-min)
		margin: $thin remify(80px) 0 remify(80px)
		font-size: remify(16px)

.figure__copyright
	color: $zon_grey
	a
		// normal, hover, active, visited, focus
		+link-colors($zon_grey, $color-link--hover, $color-link--active, $zon_grey, $color-link--focus)
