%figure-caption
	font-family: $font-franziska
	font-size: remify(15px)
	font-style: italic
	font-weight: normal // needed for e.g. liveblog header image
	line-height: 1.5
	color: $zon-dark-grey
	+respond-min($break-desktop-min)
		font-size: remify(16px)


.article
	width: auto

	&__item

		width: 100%

		&--rimless
			margin-left: -$page-padding
			margin-right: -$page-padding
			width: auto

		&--apart
			margin-top: remify(28px)
			margin-bottom: remify(40px)

		&--marginalia
			clear: both
			margin: remify(40px) auto
			width: 90%

		+respond-min($break-tablet-min)
			max-width: remify(660px)
			margin-left: auto
			margin-right: auto

			&--wide
				clear: both
				max-width: remify(820px)

			&--marginalia
				float: left
				margin: remify(14px 25px 14px 0)
				width: remify(205px)

			&--has-badge
				max-width: remify(820px)
				margin-right: 0px

		+respond-min($break-desktop-min)
			&--apart
				margin-top: remify(40px)

			&--full
				max-width: none

			&--marginalia
				margin: remify(16px 25px 16px 60px)
				width: remify(220px)

	/* structure adaption for zplus badge */
	&__intro
		+respond-min($break-tablet-min)
			display: table-cell
			vertical-align: top
			max-width: remify(560px)

.article__subheading
	font-size: remify(20px)
	line-height: 1.25
	margin-top: 1.4em
	margin-bottom: .5em
	+respond-min($break-desktop-min)
		font-size: remify(24px)

.article__page-teaser
	color: $zon-grey
	font-size: em(16px)
	margin-bottom: remify(28px)
	&--column
		margin-top: remify(-4px)
	h1
		color: inherit
		display: inline
		font-size: 1em
		font-weight: normal
		margin: 0

.summary,
.byline
	color: $zon-dark-grey
	font-size: em(18px)
	line-height: 1.4
	margin-bottom: remify(20px)
	+respond-min($break-tablet-min)
		line-height: 1.5
	+respond-min($break-desktop-min)
		font-size: em(20px)

.byline
	&--on-videopage
		color: $zon-light-grey
		a
			color: $zon-lighter-grey
			+on-interaction
				color: $zon-light-grey
	margin-bottom: remify(30px)
	span[itemprop="name"]
		font-weight: bold

.zplus
	&__banner
		background-color: $zon-lighter-grey
		height: remify(40px)
		position: relative
	&__badge
		display: table-cell
	&__marker
		background-color: $zon-red
		display: table-cell
		vertical-align: middle
		width: remify(40px)
		height: remify(40px)
	&__marker-icon
		color: #fff
		margin: auto
		display: block
	&__text
		display: table-cell
		padding-left: remify(10px)
		vertical-align: middle
		line-height: remify(40px)
		font-size: em(12px)
		color: $grey
		text-transform: uppercase
		letter-spacing: $zon-letter-spacing-l
	&__link
		+animated-interaction()
		color: $grey
		border-bottom: 1px solid $grey
	&__media
		height: remify(60px)
		width: remify(82px)
	&__cover
		position: absolute
		right: remify(14px)
		top: remify(-10px)

	+respond-min($break-tablet-min)
		display: table-cell
		vertical-align: top
		padding-left: $page-padding

		&__banner
			width: remify(180px)
			min-height: remify(180px)
		&__label
			display: block
		&__media
			width: remify(125px)
			margin: auto
		&__text
			line-height: remify(20px)
			display: block
			width: 100%
			text-align: center
			padding: remify(18px 0 21px 0)
			font-size: em(13px)
		&__cover
			position: static
			width: 100%
		&__badge
			position: absolute
			top: remify(100px)
			left: remify(20px)

		// modifications for minimal version
		&--coverless
			vertical-align: bottom

			.zplus__banner
				min-height: remify(80px)
				margin-bottom: remify(40px)

			.zplus__text
				padding-top: remify(30px)

			.zplus__badge
				top: remify(-20px)
				left: remify(70px)


.article-page
	&:last-of-type
		margin-bottom: remify(50px)

.figure

	&__caption
		@extend %figure-caption
		margin: remify(8px auto 0)

		&--marginalia
			margin-top: remify(12px)

		.article__item--rimless &
			padding-left: $page-padding
			padding-right: $page-padding
			+respond-min($break-tablet-min)
				padding-left: 0
				padding-right: 0

		+respond-min($break-tablet-min)
			margin-left: auto
			margin-right: auto
			max-width: remify(660px)


	&__copyright
		color: $zon-grey
		a
			color: inherit
			+on-interaction
				color: $color-link--hover

// Brightcove styling makes the video small. We need to enforce the size
.article .video-player .video-js
	width: 100% !important
	height: auto !important
