.article-notice
	letter-spacing: 0.3px
	margin-top: remify(30px)
	+respond-max($break-tablet-min)
		padding: remify(0 20px)
	&__title
		margin: 0 0 remify(6px) 0
	&__title-icon
		color: currentColor
		height: 1em
		margin-bottom: remify(-1px)
		width: 1em
	&__text
		color: $zon-grey
		font-size: remify(15px)
		margin: 0
