.article-heading
	margin: remify(24px 0)
	&__kicker
		color: $zon-red
		display: block
		font-size: remify(14px)
		font-weight: bold
		letter-spacing: $zon-letter-spacing-m
		padding-bottom: remify(17px)
	&__title
		color: $zon-charcoal
		display: block
		font-size: remify(30px)
		font-weight: bold
		line-height: 1.2

	+respond-min($break-tablet-min)
		margin-top: remify(60px)

	+respond-min($break-desktop-min)
		&__title
			font-size: remify(42px)

.breaking-news-heading
	background: #fffee8
	margin: 0 (-$page-padding--small) remify(24px)
	padding: remify(24px) $page-padding--small
	+respond-min($break-tablet-min)
		margin-left: -$page-padding
		margin-right: -$page-padding
		padding: remify(40px) $page-padding
	.article-heading
		margin: 0
