.article-interactions
	border-top: 2px solid $zon_lighter_grey
	padding: remify(12px 0)

.sharing-menu
	font-size: remify(14px)
	font-family: $font-tabletgothic
	&__title
		color: $zon_grey
		cursor: pointer
		letter-spacing: 0.04em
		+on-interaction
			color: $zon_dark_grey
		&:after
			+drop_icon()
	&__items
		// we animate both margin & max-height so it looks smoother
		+transition-property(margin, max-height)
		+transition-duration(0.5s)
		+transition-timing-function(ease)
		max-height: 0 // animated
		margin: 0 // animated
		overflow: hidden // needed for animation
		padding: 0
	&__item
		display: inline-block
		&:before
			content: " / "
			color: $zon_light_grey
			margin: remify(0 8px)
			display: inline-block
		&:first-child:before
			content: ""
			display: none
		&--whatsapp
			+respond-min($break-tablet-min)
				display: none
	&__link
		font-weight: bold
		line-height: 2.0
		&--facebook
			+link
				color: #3B5998 // corporate fb color
			+on-interaction
				border-bottom: 1px solid #3B5998
		&--twitter
			+link
				color: #55ACEE // corporate twitter color
			+on-interaction
				border-bottom: 1px solid #55ACEE
		&--google
			+link
				color: #CC3732 // corporate g+ color
			+on-interaction
				border-bottom: 1px solid #CC3732
		&--mail
			+link
				color: $zon_grey
			+on-interaction
				border-bottom: 1px solid $zon_grey
		&--whatsapp
			+link
				color: #4DC247 // corporate whatsapp color
			+on-interaction
				border-bottom: 1px solid #4DC247

// js-induced state modifications
.sharing-menu--active > .sharing-menu__title
	color: $zon_dark_grey
	&:after
		+rotate(180deg)

.sharing-menu--active > .sharing-menu__items,
.no-js .sharing-menu__items // no-js fallback
	margin:  remify(14px 0) // animated
	max-height: remify(64px) // animated
