$article-tags-margin-right-small: 7px
$article-tags-margin-right-large: 16px

.article-tags
	font-size: em(15px)
	letter-spacing: $zon-letter-spacing-s
	margin: $vertical-space auto remify(32px)
	&--video
		margin: remify(50px) auto remify(50px)
	&__title
		color: $zon-dark-grey
		margin: remify(0 0 4px)
		&--video
			color: $zon-mid-grey
	&__list
		+clearfix
		list-style-type: none
		margin: 0 remify(-$article-tags-margin-right-small) 0 0
		padding: 0
		li
			float: left
	&__link
		+link
			color: $zon-grey
		+on-interaction
			color: $black
		background-color: $zon-lighter-grey
		border-radius: .36em
		display: block
		margin: remify(7px $article-tags-margin-right-small 0 0)
		padding: remify(4px 12px 5px)
		&--video
			background-color: #FFF
			background-color: rgba(255, 255, 255, 0.1)
			+link
				color: $zon-mid-grey
			+on-interaction
				color: $zon-light-grey

+respond-min($break-tablet-min)
	.article-tags
		font-size: em(14px)
		&__title
			margin-bottom: 0
		&__list
			margin-right: remify(-$article-tags-margin-right-large)
		&__link
			background-color: transparent
			border-radius: 0
			margin: remify(6px $article-tags-margin-right-large 0 0)
			padding: 0
