.article-heading
	&--podcast
		+unpadded
		background-color: #CCE8E9
		margin-top: 0
		padding-top: remify(24px)
		position: relative
	&__container--podcast
		+padded
	&__headline--podcast
		margin: 0
		text-align: center
	&__title
		&--podcast
			line-height: 1.12
			margin-bottom: $vertical-space
	&__series,
	&__kicker
		&--podcast
			color: $zon-charcoal
			display: block
			font-weight: normal
			font-size: remify(16px)
			letter-spacing: $letter-spacing-l
			margin: $vertical-space 0
			text-transform: uppercase
	&__media
		&--podcast
			img
				margin-left: auto
				margin-right: auto
				max-height: 220px
				width: auto
	&__podcast-player
		margin-bottom: remify(30px)
		max-height: remify(66px) // prevent jumping layout
		overflow: hidden

+respond-min($break-tablet-min)
	.article-heading
		&--podcast
			padding-top: remify(60px)
		&__container--podcast
			display: flex
			justify-content: center
			margin: 0 auto
			max-width: remify(840px)
		&__item
			margin-left: auto
			margin-right: auto
			max-width: $medium-content-width
			position: relative
		&__media
			&--podcast
				align-self: center
				margin-right: remify(60px)
				img
					max-height: none
					width: remify(220px)
		&__podcast-player
			margin-bottom: remify(60px)
		&__headline--podcast
			text-align: left

+respond-min($break-desktop-min)
	.article-heading
		&__podcast-player
			margin-bottom: remify(80px)

// Unbemmy: The first article item (which should be summary and metadata)
// needs more margin, according to the design.
+respond-min($break-tablet-min)
	.article-heading--podcast + .article-heading__item > .summary
		margin-top: remify(60px)
	.article-heading--podcast + .article-heading__item + .article-body
		margin-top: remify(60px)
