$interaction-color: $zon-grey
$interaction-hover-color: $zon-dark-grey

@import "web.core/modules/article/article-interactions"

.print-menu
	position: absolute
	top: 0
	left: remify(55px)

.sharing-menu
	&__title
		@extend %article-interactions__item
		&:after
			+drop_icon()
	&__items
		// we animate both margin & max-height so it looks smoother
		+transition-property(margin, max-height)
		+transition-duration(0.5s)
		+transition-timing-function(ease)
		max-height: 0 // animated
		overflow: hidden // needed for animation
	&__item
		+inline-block
		&:before
			content: "/"
			color: $color-separator
			margin: remify(0 8px)
		&:first-child:before
			content: none
	&__link
		font-weight: bold
		line-height: 2.0
		+on-interaction
			border-bottom: 1px solid currentColor
		&--facebook
			+link
				color: $color-facebook
		&--twitter
			+link
				color: $color-twitter
		&--whatsapp
			+link
				color: $color-whatsapp
		&--mail
			+link
				color: $zon-grey

// js-induced state modifications
.sharing-menu--active .sharing-menu__title
	color: $zon-dark-grey
	&:after
		+drop_icon($open: true)

.sharing-menu--active .sharing-menu__items,
.no-js .sharing-menu__items // no-js fallback
	margin:  remify(14px 0 0) // animated
	max-height: remify(64px) // animated

