.infobox
	background: $zon-lighter-grey
	clear: both
	margin: remify(40px (-$page-padding))
	overflow: hidden
	padding: 0 $page-padding
	.js &__navigation
		display: none
		+respond-min($break-tablet-min)
			display: block
			float: left
			margin: remify(35px 40px 50px)
			width: remify(148px)
		+respond-min($break-desktop-min)
			margin-right: remify(65px)
			width: 180px
	.js &__content
		+respond-min($break-tablet-min)
			float: left
			margin: remify(50px 0)
			width: remify(465px)
		+respond-min($break-desktop-min)
			width: remify(582px)

.infobox-tab
	margin: 0
	padding: 0
	border-bottom: 1px solid $color-border
	+respond-min($break-tablet-min)
		border: none
	&:last-of-type
		border: none
	&__title
		margin: 0
		padding: remify(15px 0 13px)
		text-transform: uppercase
		+respond-min($break-tablet-min)
			border-bottom: 1px solid $color-border
			&:last-of-type
				border: none
		.js &
			display: none
		.js &--displayed
			display: block
		&:focus
			outline: 0
	&__link
		font-family: $font-tabletgothic
		font-size: remify(14px)
		font-weight: 300
		letter-spacing: $zon-letter-spacing-l
		line-height: remify(17px)
		+link
			color: $zon-dark-grey
			text-decoration: none
		+on-interaction
			color: $black
			text-decoration: underline
		&:focus
			outline: 0
		&:after
			+build-mobile-plus-minus-button()
		&--active
			+link
				text-decoration: underline
			&:after
				+build-mobile-plus-minus-button('\2212') // U+2212 = − (minus sign)
		.js &--displayed
			display: block
	&__panel
		// aria attributes late added by javascript
		// so these apply only progressively enhanced
		overflow: hidden
		&[aria-hidden='true']
			max-height: 0
		&[aria-hidden='false']
			height: auto
			max-height: 100000px // very large size just to animate container
		// obviously we left the BEM path here
		// cause in the moment, we have no influence on html in infoboxes
		// for backwards compatibility puposes
		// sorry for that, http://i.giphy.com/sSlq4iEQ4KdDa.gif
		p,
		li,
		td
			color: $zon-dark-grey
			font-family: $font-tabletgothic
			font-size: remify(14px)
			line-height: remify(20px)
			margin: remify(5px 0 10px)
			+respond-min($break-tablet-min)
				margin: remify(0 0 15px)
				font-size: remify(16px)
				line-height: remify(23px)
		figure
			margin: remify(32px) 0
			+old-ie
				.lt-ie9 &
					display: none
		.figure__caption
			font-size: remify(14px)
			line-height: 1.3
			margin: remify(8px 0 0)
		img
			max-width: 100%
