// styles for "external" content
// intended for Datenjournalismus & Co.
// prefixed with "x"

// standard content width
.x-content-column
	+respond-min($break-tablet-min)
		max-width: remify(660px)
		margin-left: auto
		margin-right: auto

// vertical space
.x-spacing
	margin-top: $vertical-space
	margin-bottom: $vertical-space
.x-spacing--paragraph
	margin-top: .6em
	margin-bottom: .6em
.x-spacing--large
	margin-top: $vertical-space * 2
	margin-bottom: $vertical-space * 2

// responsive fullwidth
.x-fullwidth
	margin-left: -$page-padding
	margin-right: -$page-padding

+respond-max(em(480px), false)
	.x-fullwidth--mobile
		margin-left: -$page-padding
		margin-right: -$page-padding

+respond-max($break-phablet-min, false)
	.x-fullwidth--phablet
		margin-left: -$page-padding
		margin-right: -$page-padding

+respond-max($break-tablet-min, false)
	.x-fullwidth--tablet
		margin-left: -$page-padding
		margin-right: -$page-padding


