.metadata
	color: $zon_grey
	font-size: remify(14px)
	letter-spacing: $zon-letter-spacing-s
	margin-bottom: remify(40px)
	&__seperator,
	>*:not(:last-child):not(:empty):after
		content: ' / '
		opacity: .71
		margin: 0 remify(4px)
	&--column
		margin-bottom: 0
	&__commentcount
		@extend %commentcount
	&__source > a
		color: $zon_grey

