.portraitbox
	+default-article-textlink
	font-family: $font-tabletgothic
	font-size: remify(14px)
	line-height: 1.5
	+respond-min($break-tablet-min)
		line-height: 1.4
	+respond-min($break-desktop-min)
		font-size: remify(15px)
	&__heading
		color: $zon-charcoal
		font-size: 1em
		letter-spacing: $zon-letter-spacing-l
		margin: 0
		text-transform: uppercase
	&__body
		color: $zon-grey
		letter-spacing: $zon-letter-spacing-s
