.storystream-in-article-teaser
	display: none
	margin: remify(40px) (-$page-padding)

	+respond-min($break-tablet-min)
		display: block

	&__container
		padding: 0 $page-padding--small
		background: $zon-lighter-grey

	&__content
		border-left: 1px $zon-mid-grey solid
		font-family: $font-tabletgothic
		margin: 0 auto
		padding: $vertical-space $page-padding
		width: 100%
		max-width: remify(660px)
		+default-article-textlink($color: $zon-dark-grey, $hover: $zon-dark-grey, $border-color: rgba(68, 68, 68, 0.4), $border-color--hover: rgba(68, 68, 68, 1))

	&__kicker
		color: $zon-grey
		font-size: remify(14px)
		font-weight: normal
		letter-spacing: $letter-spacing-m
		line-height: round-to-precision(16/14, $precision: 1)
		text-transform: uppercase
		position: relative
		margin-right: remify(18px)
		&:before
			+make-a-circle($color: $zon-lighter-grey, $radius: 9px, $border-color: $zon-mid-grey, $border-width: 1px)
			left: -($page-padding + remify(6px))
			top: remify(3px)

	&__link
		letter-spacing: $letter-spacing-s



.storystream-in-article
	font-family: $font-tabletgothic
	margin: 0 (-$page-padding)

	&__container
		padding: 0 $page-padding--small
		&--header
			background: $zon-lighter-grey
			padding-top: $vertical-space

	&__content
		margin: 0 auto
		position: relative
		padding: 0 $page-padding--small
		width: 100%
		+respond-min($break-tablet-min)
			max-width: remify(660px)
			padding: 0 $page-padding
		&--header
			padding-bottom: $vertical-space
		&--footer
			padding: remify(25px) 0 $vertical-space
		&--with-border
			&:after
				content: ''
				position: absolute
				width: 1px
				height: 100%
				background-color: $zon-mid-grey
				left: 0
				top: remify(4px)

	&__list
		list-style: none
		margin: 0
		padding: $vertical-space 0 0

	&__listcaption
		color: $zon-dark-grey
		font-size: remify(12px)
		letter-spacing: $letter-spacing-l
		line-height: round-to-precision(20/12, $precision: 1)
		margin-bottom: remify(2px)
		text-transform: uppercase
		&--current
			color: $zon-mid-grey
		+respond-min($break-tablet-min)
			margin-bottom: remify(2px)

	&__listitem
		color: $zon-dark-grey
		font-weight: bold
		font-size: remify(16px)
		line-height: round-to-precision(20/16, $precision: 1)
		position: relative
		&:before
			+make-a-circle($color: currentColor, $radius: 9px, $border-width: 4px)
			left: -($page-padding--small + remify(8px))
			top: remify(1px)
			z-index: 1
		+respond-min($break-tablet-min)
			&:before
				left: -($page-padding + remify(8px))
		&--current
			color: $zon-mid-grey
		&:last-child
			padding-bottom: remify(11px)

	&__link
		color: currentColor
		+animated-interaction($color: $zon-dark-grey)

	&__headline
		font-weight: normal
		margin: 0
		position: relative
		&:before
			+make-a-circle($color: $zon-lighter-grey, $radius: 9px, $border-color: $zon-mid-grey, $border-width: 1px)
			left: -($page-padding--small + remify(5px))
			top: remify(3px)
			z-index: 1
		+respond-min($break-tablet-min)
			&:before
				left: -($page-padding + remify(5px))

	&__kicker
		color: $zon-grey
		display: block
		font-size: remify(14px)
		letter-spacing: $letter-spacing-m
		line-height: round-to-precision(18/14, $precision: 1)
		text-transform: uppercase

	&__title
		color: $zon-dark-grey
		display: block
		font-family: $font-franziska
		font-size: remify(20px)
		font-style: italic
		letter-spacing: $letter-spacing-s
		line-height: round-to-precision(24/20, $precision: 1)
		+respond-min($break-tablet-min)
			font-size: remify(24px)
			line-height: round-to-precision(29/24, $precision: 1)


.storystream-in-article__listitem + .storystream-in-article__listitem
	margin-top: remify(10px)
	+respond-min($break-tablet-min)
		margin-top: remify(14px)

.storystream-in-article__listitem + .storystream-in-article__listcaption
	margin-top: remify(18px)
	+respond-min($break-tablet-min)
		margin-top: remify(20px)
