.article-toc
	display: none
	+respond-min($break-tablet-min)
		display: block

	&__container
		float: left
		font-size: em(14px)
		line-height: round-to-precision(20/14)
		margin: remify(0 25px 20px 0)
		padding-top: remify(3px)
		width: remify(205px) // same like .article__item--marginalia
		+respond-min($break-desktop-min)
			width: remify(220px) // same like .article__item--marginalia

	&__headline
		font-size: 1em
		letter-spacing: $zon-letter-spacing-l
		margin: 0
		text-transform: uppercase

	&__list
		letter-spacing: $zon-letter-spacing-s
		list-style: none
		margin: 0
		padding: 0

	&__item
		color: $zon_grey
		margin: remify(16px 0)
		&--current
			color: inherit

	&__link
		color: $zon_grey
		strong
			color: $color-text
			letter-spacing: $zon-letter-spacing-m

	&__onesie
		color: $color-text
		font-weight: bold
		letter-spacing: $zon-letter-spacing-m
		&:after
			content: " \203A" // › = single right-pointing angle quotation mark

	a
		+on-interaction
			border-bottom: 1px solid rgba($color-text, .5)
			color: currentColor
