.video-figure
	&__caption
		color: $zon-dark-grey
		margin: remify(20px auto 0)
		padding: remify(0 $page-padding--small)
		+respond-min($break-page-padding)
			max-width: remify(660px)
			padding: 0
	&__pagetitle
		@extend %teaser-title
		font-size: remify(17px)
		margin-bottom: remify(16px)
	&__description
		@extend %figure-caption
	&__copyright
		@extend %figure-caption
		color: $zon-grey
		font-size: 0.85em
