.volume-teaser
	@extend %figure-caption
	+font-smoothing
	margin-top: remify(45px)
	margin-right: remify(50px)
	margin-bottom: remify(28px)
	&__link
		color: $trout
		display: inherit
		margin-top: remify(6px)
