.volume-teaser
	@extend %figure-caption
	color: $dimgray
	+font-smoothing
	margin: remify(45px 50px 28px 0)
	&__link
		display: inherit
		margin-top: remify(6px)
		color: inherit
		+on-interaction
			color: $color-link--hover
