{% extends "zeit.web.magazin:templates/inc/header/header.html" %}
{# data-x-marker are needed for interactive, because they recomposite the headers #}
{% block article_header %}
<header class="article__title-wrap" data-ct-area="articleheader" data-x-marker="header">
    <h1 data-x-marker="headline">
        <span class="article__head__title">{{ view.title }}</span>
    </h1>
    <div class="article__head__meta" data-x-marker="meta">
        {% include "zeit.web.magazin:templates/inc/article_area_date.html" %}
        <span data-ct-row="author">
            {{ self.genre_and_authors() }}
        </span>
    </div>
</header>
{% endblock %}
