{% block article_header %}
<header class="header-article header-article--{% block layout %}{{ view.header_layout }}{% endblock %}
    {%- if view.zplus_label and view.zplus_label.zplus and view.page_nr == 1 %} header-article--zplusbadge{% endif %} {% if view.is_advertorial %}header-article--advertorial{% endif %}" data-ct-area="articleheader">
    {% block header_content %}
    {% block headline -%}
    <h1 class="headline" itemprop="headline">
        <span class="headline__supertitle">{{ view.supertitle }}</span>
        <span class="headline__title">{{ view.title }}</span>
    </h1>
    {% endblock -%}

    {% block zplusbadge %}
        {% if view.zplus_label and view.zplus_label.zplus and view.page_nr == 1 %}
            {% include "zeit.web.core:templates/inc/article/zplus-badge.html" %}
        {% endif %}
    {% endblock zplusbadge %}

    {% if view.page_nr == 1 and view.header_module %}
        {% include "zeit.web.magazin:templates/inc/asset/image_article_header.tpl" %}
    {% endif %}

    {% block subtitle -%}
    <div class="header-article__subtitle" data-ct-row="author">
        {{ view.subtitle }}

        {% block genre_and_authors -%}
            {%- set byline = view.context | get_byline('main') %}
            {% if byline | length -%}
                {% include 'zeit.web.core:templates/inc/meta/byline.html' %}
            {% endif -%}
        {% endblock genre_and_authors -%}
    </div>
    {% endblock -%}

    {% block article_date -%}
        {% if not view.is_advertorial %}
        <div class="meta">
            {% include "zeit.web.magazin:templates/inc/article_area_date.html" %}
        </div>
        {% endif %}
    {% endblock -%}
    {% endblock header_content %}
</header>
{% endblock article_header %}
