{% extends "zeit.web.magazin:templates/inc/header/header.html" %}

{% block article_header %}
<header class="header-article header-article--text-only" data-ct-area="articleheader">
    {{ self.headline() }}
    {# someone enters whitespace to trigger margins, may he burn in hell forever #}
    {% if view.subtitle.strip()  %}
    <div class="header-article__subtitle">
        {{- view.subtitle -}}
    </div>
    {% endif %}

    <div class="meta">
        <div class="meta__byline" data-ct-row="author">
            {{ self.genre_and_authors() }}
        </div>
        {% include "zeit.web.magazin:templates/inc/article_area_date.html" %}
    </div>
</header>

{% if view.page_nr == 1 and view.header_module %}
    {% set block = view.header_module %}
    {% include "zeit.web.magazin:templates/inc/blocks/image.html" %}
{% endif %}
{% endblock %}
