.app-user-feedback
	background: #289562
	color: #fff
	padding: remify(30px 10px)
	margin: 0 0 remify(50px) remify(-20px)
	text-align: center
	width: calc(100% + 40px)
	+font-smoothing

.questions-item
	&__text
		font-size: remify(20px)
		font-weight: bolder
		margin-bottom: remify(30px)

	&__button
		border-radius: remify(4px)
		background-color: #ffffff
		color: $zon-dark-grey
		display: block
		font-size: remify(15px)
		font-weight: bolder
		line-height: remify(40px)
		margin: remify(20px) 20%
		min-height: remify(40px)
		min-width: remify(40px)
		text-align: center
		text-transform: uppercase
		&:last-child
			margin-bottom: 0

.hidden
	display: none
