.notification
	+padded
	padding-top: $page-padding*0.75
	padding-bottom: $page-padding*0.75
	font-size: remify(16px)
	letter-spacing: $letter-spacing-s
	text-align: center
	&--success
		color: #005600
		background-color: #cfeac7
