.notification
	font-size: remify(16px)
	letter-spacing: $letter-spacing-s
	padding: $page-padding*0.75 $page-padding
	text-align: center
	&--success
		color: #005600
		background-color: #cfeac7

+respond-min($break-tablet-min)
	.notification
		position: relative
		margin-top: -2px // cover navigation border-bottom
