{% import '{}:templates/macros/layout_macro.tpl'.format(view.package) as lama %}
{% import '{}:templates/macros/centerpage_macro.tpl'.format(view.package) as cp %}
<div class="{{ 'cp-area' | with_mods(area.kind, cp_area_modifier if cp_area_modifier) }}{% if area.visible_mobile == False %} mobile-hidden{% endif %}">
    {% profile %}
    {% block before_module_list %}{% endblock %}
    {% block module_list %}
        {% for module in area.values() -%}
            {# XXX Is using the rather teaser-specific mechanisms of first_child
               and get_layout for all modules really such a good idea? #}
            {% set teaser = module | first_child %}
            {% set layout = module | get_layout %}
            {% set journalistic_format = module | get_journalistic_format %}

            {# ZON-2011: if there is no author image on columns, render as default teaser #}
            {# ZON-3039: if teaser is zco content, render as default teaser #}
            {% if journalistic_format == 'column' and (not get_column_image(teaser) or teaser is zco_content) %}
                {% set journalistic_format = None %}
            {% endif %}

            {% set module_loop = loop %}
            {% block before_module_include scoped %}{% endblock %}
            {% include [
                "{0}:templates/inc/teaser/{1}_{2}_{3}.tpl".format(view.package, layout, journalistic_format, area.kind),
                "{0}:templates/inc/teaser/{1}_{2}.tpl".format(view.package, layout, journalistic_format),
                "{0}:templates/inc/module/{1}_{2}.html".format(view.package, layout, area.kind),
                "{0}:templates/inc/teaser/{1}_{2}.tpl".format(view.package, layout, area.kind),
                "{0}:templates/inc/module/{1}.html".format(view.package, layout),
                "{0}:templates/inc/teaser/{1}.tpl".format(view.package, layout),
                "{0}:templates/inc/module/{1}.html".format("zeit.web.core", layout),
                "{0}:templates/inc/teaser/default.tpl".format(view.package)] %}
            {% block after_module_include scoped %}
            {#
            Display mobile ad place 3 in zon on homepage after the first module that's not a raw element, assuming for now, that there will be:
            - only ONE raw element at the start of the first region (like olympia navigation)
            - that the raw contains navigational elements and the ad should be placed after the first teaser, not the raw itself
            #}
            {%
                if view.package == 'zeit.web.site'
                and view.is_hp
                and region_loop.index == 1
                and area_loop.index == 1
                and module_loop.index < 3
            %}
                {% if (module_loop.index == 1 and layout != 'rawtext') or ( module_loop.index == 2 )  %}
                {{ lama.adplace(view.banner(3), view, mobile=True) }}
                {% endif %}
            {% endif %}
            {% endblock %}
        {% endfor %}
    {% endblock module_list %}
    {% block after_module_list %}{% endblock %}
    {% endprofile %}
</div>
