{% import '{}:templates/macros/layout_macro.tpl'.format(view.package) as lama %}
{% import '{}:templates/macros/centerpage_macro.tpl'.format(view.package) as cp %}

<div class="{{ 'cp-area' | with_mods(area.kind) }}{% if area.visible_mobile == False %} mobile-hidden{% endif %}">
    {% profile %}
    {% block before_module_list %}{% endblock %}
    {% block module_list %}
        {% for module in area.values() | map('get_module') -%}
            {% set teaser = module | first_child %}
            {% set layout = module | get_layout %}
            {% set journalistic_format = module | get_journalistic_format %}

            {# ZON-2011: if there is no author image on columns, render as default teaser #}
            {% if journalistic_format == 'column' and not get_column_image(teaser) %}
                {% set journalistic_format = None %}
            {% endif %}

            {% set module_loop = loop %}
            {% block before_module_include scoped %}{% endblock %}
            {% include [
                "{0}:templates/inc/teaser/{1}_{2}_{3}.tpl".format(view.package, layout, journalistic_format, area.kind),
                "{0}:templates/inc/teaser/{1}_{2}.tpl".format(view.package, layout, journalistic_format),
                "{0}:templates/inc/module/{1}_{2}.html".format(view.package, layout, area.kind),
                "{0}:templates/inc/teaser/{1}_{2}.tpl".format(view.package, layout, area.kind),
                "{0}:templates/inc/module/{1}.html".format(view.package, layout),
                "{0}:templates/inc/teaser/{1}.tpl".format(view.package, layout),
                "{0}:templates/inc/module/{1}.html".format("zeit.web.core", layout),
                "{0}:templates/inc/teaser/default.tpl".format(view.package)] %}
            {% block after_module_include scoped %}{% endblock %}
        {% endfor %}
    {% endblock module_list %}
    {% block after_module_list %}{% endblock %}
    {% endprofile %}
</div>
