{% extends "zeit.web.core:templates/inc/area/default.html" %}

{% block topic_class %}teaser-topic{% endblock %}
{% block image_variant %}cinema{% endblock %}
{% block show_extended %}True{% endblock %}

{% block module_list %}
	<section class="{{ self.topic_class() }}">
		{% if area.values() | length > 0 %}
			{% set module = area.values()[0] %}

			{% if area.referenced_cp is not none %}
			    {% set teaser = area.referenced_cp %}
			{% else %}
				{% set teaser = module | first_child %}
			{% endif %}

			{% set image = get_image(module, teaser, variant_id=self.image_variant()) %}
			{% set module_layout = self.topic_class() %}
			{% include "zeit.web.core:templates/inc/asset/image_topic_teaser.tpl" %}

			{% set topic_layout = self.topic_class() + '-main' %}
			{% set show_extended = self.show_extended() %}
			{% include "zeit.web.core:templates/inc/teaser/topic_main.tpl" %}

			<div class="{{ self.topic_class() }}-list">
				{% for module in area.values()[0:3] -%}
				    {% set teaser = module | first_child %}
				    {% include "zeit.web.core:templates/inc/teaser/topic_list.tpl" %}
				{% endfor %}
			</div>
		{% endif %}
	</section>
{% endblock %}
