{% if view.volume_navigation %}

    {%- extends "zeit.web.core:templates/inc/teaser/abstract-volume.tpl" -%}

    {% set volume = view.volume %}
    {% set linklabel = 'Lesen Sie diese Ausgabe als E-Paper, App und auf dem E-Reader.' %}

    {% block volumeteaser_link %}{{ view.volume_navigation.link }}{% endblock %}

    {% block volumeteaser_modifier %}teaser-volume--below-volumeheader{% endblock %}
    {% block volumeteaser_data_ct %}data-ct-area="volume-navigation" data-ct-row="current-volume" data-ct-column="false"{% endblock %}
    {% block volumeteaser_data_ct_label %}data-ct-label="{{ linklabel }}"{% endblock %}

    {% block volumeteaser_navigation %}
        <span class="{{ self.volumeteaser_blockname() }}__previous" data-ct-row="prev-volume" data-ct-column="false">
            {% if view.volume_previous %}
            <a class="{{ self.volumeteaser_blockname() }}__previous-link" href="{{ view.volume_previous.link }}">
                DIE ZEIT Nr. {{view.volume_previous.label}}
            </a>
            {% endif %}
        </span>
        <span class="{{ self.volumeteaser_blockname() }}__next" data-ct-row="next-volume" data-ct-column="false">
            {% if view.volume_next %}
            <a class="{{ self.volumeteaser_blockname() }}__next-link" href="{{ view.volume_next.link }}">
                DIE ZEIT Nr. {{view.volume_next.label}}
            </a>
            {% endif %}
        </span>
    {% endblock %}

{% endif %}
