{% if view.volume_navigation %}

    {%- extends "zeit.web.core:templates/inc/teaser/abstract-volume.tpl" -%}

    {% set volume = view.volume %}
    {% set linklabel = 'Lesen Sie diese Ausgabe als E-Paper, App und auf dem E-Reader.' %}

    {% block volumeteaser_link %}{{ view.volume_navigation.link }}{% endblock %}

    {% block volumeteaser_modifier %}teaser-volume--below-volumeheader{% endblock %}
    {% block volumeteaser_ct_area %}volume-navigation{% endblock %}
    {% block volumeteaser_ct_row %}current-volume{% endblock %}

    {% block volumeteaser_navigation %}
        <span class="teaser-volume__previous" data-ct-row="prev-volume" data-ct-column="false">
            {% if view.volume_previous %}
            <a class="teaser-volume__previous-link" href="{{view.volume_previous.link}}">
                DIE ZEIT Nr. {{view.volume_previous.label}}
            </a>
            {% endif %}
        </span>
        <span class="teaser-volume__next" data-ct-row="next-volume" data-ct-column="false">
            {% if view.volume_next %}
            <a class="teaser-volume__next-link" href="{{view.volume_next.link}}">
                DIE ZEIT Nr. {{view.volume_next.label}}
            </a>
            {% endif %}
        </span>
    {% endblock %}

{% endif %}
