{% import 'zeit.web.campus:templates/macros/layout_macro.tpl' as lama %}

{% set stoa = adapt(context, 'zeit.campus.interfaces.IStudyCourse') %}

<aside id="stoa-artikelanker">
    <a class="stoa" href="{{ stoa.href }}" data-unique-id="stoa" data-meetrics="stoa" data-clicktracking="stoa">
        <span class="stoa__title">
            {{ stoa.text }}
        </span>
        <span class="stoa__link">
            <span class="stoa__button">
                {{ stoa.button_text }}
                {{ lama.use_svg_icon('arrow-right', 'stoa__icon', request) }}
            </span>
        </span>
    </a>
</aside>
