{% import 'zeit.web.campus:templates/macros/layout_macro.tpl' as lama %}

<aside id="stoas-artikelanker" data-unique-id="#" data-meetrics="stoas" data-clicktracking="stoas">
    <a class="stoas" href="#">
        <span class="stoas__title">
            Bin ich der Typ für Geisteswissenschaften?
        </span>
        <span class="stoas__link">
            <span class="stoas__button">
                Interessentest starten
                {{ lama.use_svg_icon('arrow-right', 'stoas__icon', request) }}
            </span>
        </span>
    </a>
</aside>
