{%- extends "zeit.web.core:templates/inc/asset/image_linked.tpl" -%}

{% set image = block %}
{% set module_layout = 'article' %}
{% set href = image.href %}
{% set image_itemprop = 'image' %}

{% block media_caption_class %}infographic{% endblock %}
{% block media_copyright_class %}x-copyright x-caption--sans{% endblock %}

{% set media_block_additional_class = 'infographic' %}

{% set media_caption_additional_class = 'x-footer'
    ~ ('' if image.copyright and image.meta.origin else '--borderless')
    ~ (' figure__caption--marginalia' if image.display_mode == 'float' else '')
%}

{% block media_caption_above %}
    <h3 class="x-subheadline{{ '' if image.caption else '--borderless' }}" itemprop="name">{{ image.meta.title }}</h3>
    <p class="x-copytext" itemprop="caption">{{ image.caption }}</p>
{% endblock %}

{% block media_caption_content %}
    {%- if image.meta.origin -%}
    <span class="x-caption--sans">Quelle: {{ image.meta.origin }}</span>
    {%- endif -%}
    {{ super() }}
{% endblock %}
