// Disable Alpha Filter for IE < 9
$opacity-usage-threshold: 100 !default
// Disable legacy support for inline-block
$inline-block-support-threshold: 100 !default
// Disable legacy support for has-layout
$has-layout-support-threshold: 100 !default

$base-font-size: 16px !default
