$old-ie: true
$fix-mqs: 64em
$fix-mqs-h: 48em
//$breakpoint-media-output: true
//$breakpoint-raw-output: false
//$breakpoint-ie-output: true

@import screen
@import "base/textonly"

// fixes for IE8:
// we've decided as Microsoft dropped support of IE8
// recently, not to fix many bugs in IE8 but to fallback
// as much as possible. Some fixes though are applied
// to logos and completely utter things
.lt-ie9
    .main-nav__logo__img
        background-image: none
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/zeit-logo--magazin.png',sizingMethod='scale')
    .icon-zm-logo--white
        background: none !important
        background-image: none
    .cp_leader--full
        .cp_leader__asset
            background: transparent
            position: static
    .cp_comment__count__wrap
        top: 2em
