@charset "UTF-8"

@import compass

@import "vendor/normalize"
@import "vendor/sass-ie"

@import "base/functions"
@import "base/constants"
@import "base/typography"
@import "base/helper"
@import "base/states"

@import "layout/containers"
@import "layout/grid"

@import "modules/article"

@import "base/shame"

*
	+box-sizing(border-box)

body
	+franziska
	font-size: $font-m
	line-height: $base-line-height
	margin: 0
	padding: 0