{% import "zeit.web.arbeit:templates/macros/layout_macro.tpl" as lama %}
<div class="header__brand" data-ct-row="lead">
    <div class="header__publisher" id="publisher" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <a itemprop="url" href="{{ request.route_url('home') }}arbeit/index" data-ct-label="logo">
            <meta itemprop="name" content="ZEIT Online Arbeit">
            <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                {{ lama.use_svg_icon('logo-zar-combined', 'header__logo', view.package) }}
                {# The "logo" dimensions must not exceed 600x60 -#}
                <meta itemprop="url" content="{{ request.asset_host }}/images/structured-data-publisher-logo-zar.png">
                <meta itemprop="width" content="600">
                <meta itemprop="height" content="49">
            </span>
        </a>
    </div>
    {% if view.is_advertorial -%}
    <span class="header__ad-label">{{ view.cap_title | default('Anzeige') }}</span>
    {% endif -%}
    <a class="header__menu-link" href="#navigation" role="button" aria-controls="navigation" aria-label="Menü" data-ct-label="menu">
        {{ lama.use_svg_icon('menu', 'header__menu-icon header__menu-icon--menu', view.package) }}
        {{ lama.use_svg_icon('close', 'header__menu-icon header__menu-icon--close', view.package) }}
    </a>
</div>

<div class="nav" id="navigation" data-ct-row="1">
    {% set vertical_campaign_param_long = 'zarbeit' %}
    {% set vertical_campaign_param_short = 'zar' %}
    {% set vertical_campaign_param_abolink = '01w0058k0000keiaboall1805' %}
    {%- include "zeit.web.core:templates/inc/navigation/navigation-vertical.html" -%}
    <div class="nav__login">
        {% block login %}
            {%- set esi_source = '{}login-state?for=arbeit&context-uri={}'.format(request.route_url('home'), request.url | urlquote_plus) -%}
            {{- lama.insert_esi(esi_source, 'Anmeldung nicht möglich') -}}
        {% endblock login %}
    </div>
    <div class="nav__primary" data-ct-row="2">
        <nav class="nav__topics">
            {% require topics = view.context | topic_links -%}
            <span class="nav__topics-title">{{ topics.title }}</span>
            <ul class="nav__topics-list">
            {% for label, link in topics %}
                <li><a href="{{ link }}">{{ label }}</a></li>
            {% endfor %}
            </ul>
            {% endrequire -%}
        </nav>
        <a class="nav__button" href="https://jobs.zeit.de/?wt_zmc=fix.int.zonaudev.arbeit-ressort.nav.stellenmarkt_startseite.textlink.link.x&amp;utm_medium=fix&amp;utm_source=arbeit-ressort_zonaudev_int&amp;utm_campaign=nav&amp;utm_content=stellenmarkt_startseite_textlink_link_x">
            <span>ZEIT Stellenmarkt</span>
        </a>
    </div>

</div>
