{% import 'zeit.web.magazin:templates/macros/layout_macro.tpl' as lama %}

{% if user %}
    <span class="main-nav__section__trigger js-main-nav-section-trigger">
        {% if user.picture %}
            <span class="main-nav__avatar" style="background-image: url({{ user.picture }})"></span>
        {% else %}
            {{ lama.use_svg_icon('avatar-std', 'main-nav__avatar', 'zeit.web.magazin') }}
        {% endif %}
    </span>
    <div class="main-nav__section__content js-main-nav-section-content">
        <a href="{{ profile }}" id="hp.zm.topnav.community.account">Account</a>
        <a href="{{ logout }}" id="hp.zm.topnav.community.logout">Logout</a>
    </div>
{% else %}
    <a href="{{ login }}" id="hp.zm.topnav.community.login">Anmelden</a>
{% endif %}

{% include "zeit.web.core:templates/inc/inline_js/rawr_sso.tpl" %}
