{% import 'zeit.web.magazin:templates/macros/layout_macro.tpl' as lama %}

<header class="header" data-ct-area="zmo-topnav">
    <div class="header__brand" data-ct-row="lead">
        {% with tag_name = 'h1' if view.is_hp else 'div' -%}
        <{{ tag_name }} class="header__publisher" id="publisher" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="{{ request.route_url('home') }}zeit-magazin/index" data-ct-label="logo">
                <meta itemprop="name" content="ZEITmagazin">
                <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                    {{ lama.use_svg_icon('logo-zmo-large', 'header__logo', view.package) }}
                    {# The "logo" dimensions must not exceed 600x60 -#}
                    <meta itemprop="url" content="{{ request.asset_host }}/images/structured-data-publisher-logo-zmo.png">
                    <meta itemprop="width" content="600">
                    <meta itemprop="height" content="56">
                </span>
            </a>

        </{{ tag_name }}>
        {% endwith -%}

        {% if view.is_advertorial -%}
            <span class="header__ad-label">{{ view.cap_title | default('Anzeige') }}</span>
        {% endif -%}

        <a class="header__menu-link" href="#navigation" role="button" aria-controls="navigation" aria-label="Menü" data-ct-label="menu">
            {{ lama.use_svg_icon('menu', 'header__menu-icon header__menu-icon--menu', view.package) }}
            {{ lama.use_svg_icon('close', 'header__menu-icon header__menu-icon--close', view.package) }}
        </a>
    </div>

    <div class="nav" id="navigation" data-ct-row="1">
        <div class="nav__home">
            <h2 class="nav__home-title"><a href="{{ request.route_url('home') }}index">ZEIT ONLINE</a></h2>
        </div>
        <nav class="nav__service">
            <a class="nav__service-title" href="#service-menu" role="button" aria-controls="service-menu"><span class="nav__dropdown">Service</span></a>
            <ul class="nav__service-list" id="service-menu" aria-hidden="true" data-ct-column>
                <li><a href="{{ request.route_url('home') }}wissen/zeit-geschichte/index">ZEITGeschichte</a></li>
                <li><a href="{{ request.route_url('home') }}wissen/zeit-wissen/index">ZEITWissen</a></li>
                <li><a href="{{ request.route_url('home') }}angebote/partnersuche/index?pscode=01_100_20003_0001_0001_0005_empty_AF00ID_GV00ID">Partnersuche</a></li>
                <li><a href="http://zeit.immowelt.de/">Immobilien</a></li>
                <li><a href="http://automarkt.zeit.de/">Automarkt</a></li>
                <li><a href="http://jobs.zeit.de/">Jobs</a></li>
                <li><a href="https://premium.zeit.de/zeit-apps?wt_mc=pm.intern.fix.zmo.fix.dach.text.apps">Apps</a></li>
                <li><a href="https://premium.zeit.de/zeit-audio?wt_mc=pm.intern.fix.zmo.fix.dach.text.audio">Audio</a></li>
                <li><a href="{{ request.route_url('home') }}archiv">Archiv</a></li>
                <li><a href="{{ request.route_url('home') }}spiele/index">Spiele</a></li>
            </ul>
        </nav>
        <div class="nav__login">
            {% block login %}
                {%- set esi_source = '{}login-state?for=magazin&context-uri={}'.format(request.route_url('home'), request.url) -%}
                {{- lama.insert_esi(esi_source, 'Anmeldung nicht möglich') -}}
            {% endblock login %}
        </div>
        <nav class="nav__ressorts" data-ct-row="2">
            <ul class="nav__ressorts-list" itemscope itemtype="http://schema.org/SiteNavigationElement">
                <li><a href="{{ request.route_url('home') }}zeit-magazin/mode-design/index">Mode &amp; Design</a></li>
                <li><a href="{{ request.route_url('home') }}zeit-magazin/essen-trinken/index">Essen &amp; Trinken</a></li>
                <li><a href="{{ request.route_url('home') }}zeit-magazin/leben/index">Leben</a></li>
            </ul>
        </nav>
        <nav class="nav__sales" data-ct-row="2">
            <ul class="nav__sales-list">
                <li><a href="http://www.zeitabo.de/?mcwt=2009_07_0002">Abo</a></li>
                <li><a href="http://shop.zeit.de/?et=l6VVNm&amp;et_cid=42&amp;et_lid=175&amp;et_sub=Startseite_header">Shop</a></li>
                <li><a href="https://premium.zeit.de/?wt_mc=pm.intern.fix.zmo.fix.dach.text.epaper">ePaper</a></li>
            </ul>
        </nav>
    </div>
</header>
