{% import 'zeit.web.core:templates/macros/layout_macro.tpl' as lama %}

<header class="header" data-ct-area="zmo-topnav">
    <div class="header__brand" data-ct-row="lead">
        {% with tag_name = 'h1' if view.is_hp else 'div' -%}
        <{{ tag_name }} class="header__publisher">
            <a href="{{ request.route_url('home') }}zeit-magazin/index" data-ct-label="logo">
                {{ lama.use_svg_icon('logo-zmo-large', 'header__logo', view.package) }}
            </a>
        </{{ tag_name }}>
        {% endwith -%}

        {% if view.is_advertorial -%}
            <span class="header__ad-label">{{ view.cap_title | default('Anzeige') }}</span>
        {% endif -%}

        <a class="header__menu-link" href="#navigation" role="button" aria-controls="navigation" aria-label="Menü" data-ct-label="menu">
            {{ lama.use_svg_icon('menu', 'header__menu-icon header__menu-icon--menu', view.package) }}
            {{ lama.use_svg_icon('close', 'header__menu-icon header__menu-icon--close', view.package) }}
        </a>
    </div>
    <div class="nav" id="navigation" data-ct-row="1">
        {% set vertical_campaign_param_long = 'zmagazin' %}
        {% set vertical_campaign_param_short = 'zmo' %}
        {% set vertical_campaign_param_abolink = '01w0016k0000keiaboall1805' %}
        {%- include "zeit.web.core:templates/inc/navigation/navigation-vertical.html" -%}
        <div class="nav__login">
            {% block login %}
                {%- set esi_source = '/login-state?for=magazin&context-uri={}'.format(request.url | urlquote_plus) -%}
                {{- lama.insert_esi(esi_source, 'Anmeldung nicht möglich') -}}
            {% endblock login %}
        </div>
        <nav class="nav__ressorts" data-ct-row="2">
            <ul class="nav__ressorts-list" itemscope itemtype="http://schema.org/SiteNavigationElement">
                <li><a href="{{ request.route_url('home') }}zeit-magazin/mode-design/index">Mode &amp; Design</a></li>
                <li><a href="{{ request.route_url('home') }}zeit-magazin/essen-trinken/index">Essen &amp; Trinken</a></li>
                <li><a href="{{ request.route_url('home') }}zeit-magazin/leben/index">Leben</a></li>
            </ul>
        </nav>
        <nav class="nav__sales" data-ct-row="2">
            <ul class="nav__sales-list">
                <li><a href="http://shop.zeit.de/?et=l6VVNm&amp;et_cid=42&amp;et_lid=175&amp;et_sub=Startseite_header">Shop</a></li>
                <li><a href="https://premium.zeit.de/?wt_mc=pm.intern.fix.zmo.fix.dach.text.epaper">ePaper</a></li>
            </ul>
        </nav>
    </div>
</header>
