.article
	width: auto
	+respond-min($break-desktop-min)
		width: remify(660px)
		margin: auto

.article-heading
	margin: remify($petite--px) 0 remify(25px) 0

.kicker
	color: $zon-red
	display: block
	font-size: remify(14px)
	letter-spacing: $zon-letter-spacing-m
	padding-bottom: remify(17px)
	+respond-min($break-desktop-min)
		font-size: remify(14px)

.title
	color: $zon-charcoal
	display: block
	font-size: remify(30px)
	line-height: 1.2
	+respond-min($break-desktop-min)
		font-size: remify(42px)

.article-page__page-teaser
	color: $zon-charcoal
	font-size: remify(20px)
	line-height: 1.25
	margin: 2em 0 1em
	+respond-min($break-desktop-min)
		font-size: remify(24px)

.summary,
.article__page-teaser
	color: $grey--mid
	font-size: remify(18px)
	line-height: 1.5
	margin-bottom: remify($petite--px)
	+respond-min($break-desktop-min)
		font-size: remify(20px)

.paragraph
	font-family: $font-franziska
	font-size: remify(18px)
	line-height: 1.4
	margin-bottom: $little
	+respond-min($break-desktop-min)
		font-size: remify(20px)

.byline
	color: $grey--mid
	margin-bottom: remify(40px)

.byline__author
	font-weight: bold
	+link
		color: inherit
		text-decoration: none
	+on-interaction
		text-decoration: underline

.metadata
	color: $zon_grey
	font-size: remify(14px)
	letter-spacing: $zon-letter-spacing-s
	margin-bottom: remify(40px)

.stage--large
	width: auto
	margin: 0 (-$page-padding) 40px (-$page-padding)
	+respond-min($break-desktop-min)
		margin: 0 -80px 40px -80px
		img
			width: 100% // prevents 'max-width: 100%', blows image up

.figure__caption
	font-family: $font-franziska
	font-size: remify(14px)
	font-style: italic
	line-height: 1.5
	margin: $thin $page-padding 0 $page-padding
	+respond-min($break-desktop-min)
		margin: $thin remify(80px) 0 remify(80px)
		font-size: remify(16px)
