@import "web.core/modules/basics"

%commentcount
	color: inherit
	position: relative
	white-space: nowrap
	// paint a "border" with current link color and opacity
	&:after
		background-color: currentColor
		bottom: -1px
		content: ""
		height: 1px
		left: 0
		opacity: .4
		position: absolute
		width: 100%
	+on-interaction
		color: inherit
		&:after
			opacity: .8

%tags
	border-radius: .3em
	border: 1px solid $color-border
	color: inherit
	display: inline-block
	font-size: remify(11px)
	letter-spacing: $zon-letter-spacing-l
	line-height: 1rem
	margin: remify(0 9px 5px 0)
	padding: remify(2px 7px 3px)
	text-transform: uppercase
	+on-interaction
		background-color: $zon-lighter-grey
		border-color: $zon-mid-grey
		color: inherit

%exclamation
	background-color: $zon-grey
	border-radius: 50%
	color: $white
	content: "!"
	display: inline-block
	font-size: 0.8125em
	height: 1.125em
	line-height: 1
	margin-right: .375em
	text-align: center
	width: 1.125em

// scales images as used in columns
%square-item
	height: 0
	margin: 0
	overflow: hidden
	padding-bottom: 100%
	width: 100%
