.skiplink
	color: green
	@extend %off-screen

.nowrap
	white-space: nowrap

.visually-hidden
	+visuallyhidden

%ad-label
	color: $zon_mid_grey
	display: block
	font-family: $font-tabletgothic
	font-size: em(9px)
	letter-spacing: .15em
	line-height: 1
	margin-bottom: remify(10px)
	text-align: right
	text-transform: uppercase

%commentcount
	color: inherit
	position: relative
	white-space: nowrap
	// paint a "border" with current link color and opacity
	&:after
		background-color: currentColor
		bottom: -1px
		content: ""
		height: 1px
		left: 0
		opacity: .4
		position: absolute
		width: 100%
	+on-interaction
		color: inherit
		&:after
			opacity: .8

// override normalize.css
input[type="search"]
	+box-sizing(border-box)

// visually hidden construct, which I properly didn't hated enough to prevent us from it
// a region, area or teaser can be set to be not `visible_mobile`. If so, it's hidden on
// mobile breakpoint. This must totally unbemmy overrule all other instructions
+respond-max($break-mobile-max)
	#main
		.mobile-hidden
			display: none
