.breadcrumbs
	border-top: 1px solid $color-border

	&__list
		margin: 1em 0
		padding: 0

	&__item
		color: $zon-mid-grey
		display: inline
		letter-spacing: $zon-letter-spacing-s
		&:not(:last-child):after
			content: "›"
			margin-left: .25em

	&__link
		list-style-type: none
		+on-interaction
			color: inherit
