.footer-breadcrumbs
	border-top: 1px solid $color-border
	&__item
		color: $zon-mid-grey
		display: inline
		letter-spacing: $zon-letter-spacing-s
		&:after
			content: "›"
			margin-left: .25em
		&:last-child:after
			content: none
	&__link
		list-style: outside none none
		&:hover, &:link, &:visited
			color: inherit
	&__list
		margin: 1em 0
		padding: 0
