$buzz-box-width: em(280px)

.teaser-collection.teaser-collection--buzz,
.teasers.teasers--buzz
	width: 100%
	+respond-min($break-phablet-min)
		width: $buzz-box-width

.teaser-collection__heading.teaser-collection__heading--buzz
	+tablet(bold)
	border-bottom: $hair--px solid $zon_light_grey
	font-size: $font-s
	letter-spacing: $hair
	line-height: normal
	margin-bottom: $small
	padding-bottom: $small
	text-align: center
	text-transform: uppercase

.teaser.teaser--buzz
	margin: 0
	padding: 0
	border: none

	.teaser__title
		font-size: $font-s
		font-weight: normal
		line-height: $headline-line-height
		+respond-min($break-phablet-min)
			font-size: $font-m

	.teaser__kicker
		font-size: $font-xs

.teaser.teaser--buzz-facebook
	margin-left: $petite--px
	+respond-min($break-phablet-min)
		margin-left: 0

.teaser.teaser--buzz:not(:last-child)
	margin-bottom: $small

.teaser__media.numeric.numeric--buzz-mostread
	+tiemann
	display: inline-block
	vertical-align: top
	font-size: $font-mxl
	line-height: $font-mxl--px
	margin: 0

.annotated-icon.annotated-icon--buzz-facebook
	margin: $thin 0 0 0
	.icon-buzz-facebook, .label
		display: inline-block
	.icon-buzz-facebook
		height: $small
		width: $small
		background-size: contain

.annotated-icon__label
	+tablet(thin)
	font-size: $little
	vertical-align: text-bottom
	margin-left: $thin

.teaser__heading.teaser__heading--buzz
	display: inline-block
	margin: 0

.teaser__heading.teaser__heading--buzz-mostread
	max-width: $buzz-box-width - $hefty
	margin-left: $little
