.teaser-collection.teaser-collection--buzz
	padding: $petite 0

.teaser-collection.teaser-collection--buzz,
.teasers.teasers--buzz
	width: 100%

.teaser-collection__heading.teaser-collection__heading--buzz
	font-family: $font-tabletgothic
	font-weight: bold
	border-bottom: $hair--px solid $zon_light_grey
	font-size: $font-s
	letter-spacing: $hair
	line-height: normal
	margin-bottom: $small
	padding-bottom: $small
	text-align: center
	text-transform: uppercase

.teaser.teaser--buzz
	margin: 0
	padding: 0
	border: none

	.teaser__title
		font-size: $font-s
		font-weight: normal
		line-height: $headline-line-height
		+respond-min($break-phablet-min)
			font-size: $font-m

	.teaser__kicker
		font-size: $font-xs

.teaser.teaser--buzz
	margin-left: 0
	+respond-min($break-phablet-min)
		margin-left: $petite--px

.teaser.teaser--buzz:not(:last-child)
	margin-bottom: $small

.teaser__media.numeric.numeric--buzz-comments,
.teaser__media.numeric.numeric--buzz-mostread
	+tiemann
	width: 10%
	display: inline-block
	vertical-align: top
	font-size: $font-mxl--px
	line-height: $font-mxl--px
	margin: 0

.annotated-icon.annotated-icon--buzz-facebook
	margin: $thin 0 0 0
	.icon-buzz-facebook, .label
		display: inline-block
	.icon-buzz-facebook
		height: $small
		width: $small
		background-size: contain

.annotated-icon__label
	font-family: $font-tabletgothic
	font-weight: 200
	font-size: $little
	vertical-align: text-bottom
	margin-left: $thin

.teaser__heading.teaser__heading--buzz
	display: inline-block
	width: 80%
	margin: 0

.teaser__heading.teaser__heading--buzz-comments,
.teaser__heading.teaser__heading--buzz-mostread
	margin-left: $little
