.buzz-box
	padding: $petite 0
	width: 100%
	&__heading
		font-family: $font-tabletgothic
		font-weight: bold
		border-bottom: $hair--px solid $zon_light_grey
		font-size: $font-s
		letter-spacing: $hair
		line-height: normal
		margin-bottom: $small
		padding-bottom: $small
		text-align: center
		text-transform: uppercase

=buzz-teaser($layout)
	@extend %teaser
	margin: 0
	padding: 0
	border: none

	+respond-min($break-phablet-min)
		margin-left: $petite--px
	&:not(:last-child)
		margin-bottom: $small

	&__title
		@extend %teaser-title
		font-size: $font-s
		font-weight: normal
		line-height: $headline-line-height
		+respond-min($break-phablet-min)
			font-size: $font-m

	&__combined-link
		@extend %teaser-combined-link

	&__kicker
		@extend %teaser-kicker
		font-size: $font-xs

	&__heading
		@extend %teaser-heading
		display: inline-block
		width: 80%
		margin-left: $little

@each $flavor in comments, facebook, mostread
	.buzz-#{$flavor}
		+buzz-teaser(buzz-#{$flavor})

.numeric
	+tiemann
	width: 10%
	display: inline-block
	vertical-align: top
	font-size: $font-mxl--px
	line-height: $font-mxl--px
	margin: 0

.annotated-icon
	margin: $thin 0 0 0
	&__icon
		height: $small
		width: $small
		background-size: contain
		display: inline-block
	&__label
		font-family: $font-tabletgothic
		font-weight: 200
		font-size: $little
		vertical-align: text-bottom
		margin-left: $thin
