
.main__fullwidth
    width: 100%
    display: block

.main__content
    width: 100%
    display: block
    +respond-min($break-tablet-min)
        width: 67.686% //68.086% //67%
        display: inline-block

.main__informatives
    width: 100%
    display: block
    overflow: hidden
    vertical-align: top
    +respond-min($break-tablet-min)
        width: 31.815% //32%
        display: inline-block
