
.main__fullwidth
    width: 100%
    display: block

.main__content
    width: 100%
    display: block
    +respond-min($break-tablet-min)
        width: 70%
        display: inline-block

.main__informatives
    width: 100%
    display: block
    vertical-align: top
    +respond-min($break-tablet-min)
        width: 29%
        display: inline-block
