*
	+box-sizing(border-box)

body
	background-color: $color-body-bg
	color: $color-body-text
	font-family: $font-tabletgothic
	font-size: $font-m
	line-height: $base-line-height
	margin: 0
	padding: 0

figure img
	display: block

a
	color: $color-link--default
	text-decoration: none
	+on-interaction
		color: $color-link--hover

// only target svg sprites to not destroy interactive/dataviz graphics
svg use
	fill: currentColor
	// see: http://bugs.jquery.com/ticket/11352
	pointer-events: none

// used for svg4everybody fallback images
svg img
	max-height: 100%
	max-width: 100%
