*
	+box-sizing(border-box)

body
	background-color: $color-body-bg
	color: $color-body-text
	font-family: $font-tabletgothic
	font-size: $font-m
	line-height: $base-line-height
	margin: 0
	padding: 0

figure img
	display: block

a
	// normal, hover, active, visited, focus
	+link-colors($color-link--default, $color-link--hover, $color-link--active, $color-link--visited, $color-link--focus)
	text-decoration: none

// only target svg sprites to not destroy interactive/dataviz graphics
svg use
	fill: currentColor
	// see: http://bugs.jquery.com/ticket/11352
	pointer-events: none
