// sizes
$footer_logo_width: em(300px)
$footer_logo_width_small: em(280px)


%footer_light
	background-color: $zon_lighter_grey
	color: $zon_dark_grey
	a
		+link-colors($zon_dark_grey, $black, $black, $zon_dark_grey, $black)
	+respond-min($break-tablet-min)
		color: $zon_dark_grey
		a
			+link-colors($zon_dark_grey, $black, $black, $zon_dark_grey, $black)

%footer_dark
	color: $zon_grey
	a
		+link-colors($zon_grey, $zon_lighter_grey, $zon_lighter_grey, $zon_grey, $zon_lighter_grey)

%footer_row
	+clearfix
	display: none
	font-size: remify(14px)
	max-width: remify(420px)
	margin: auto
	+respond-min($break-tablet-min)
		display: block !important
		max-width: none
		padding: 0 $page-padding

%footer_list
	float: left
	list-style: none
	margin: 0
	padding: $petite $page-padding
	text-align: left
	width: 50%
	+respond-min($break-tablet-min)
		width: 100%
		float: none
		padding: 0
		text-align: center

%footer_item
	display: block
	+respond-min($break-tablet-min)
		display: inline-block
	a
		display: inline-block
		padding: remify(10px) 0
		+respond-min($break-tablet-min)
			padding: remify(5px) 0


%footer_dot
	&:after
		font-weight: bold
		margin: 0 .3em
	+respond-min($break-tablet-min)
		&:after
			content: '•'
		&:last-child:after
			content: none

.footer
	width: 100%
	text-align: center
	margin-top: $wide

.footer-logo
	&__image
		display: inline-block
		margin-bottom: $petite
		a
			+hide-text
			+background-size(contain)
			background-position: 50% 50%
			display: block
			width: $footer_logo_width_small
			+respond-min($break-tablet-min)
				width: $footer_logo_width
			+old-ie
				height: 37px
				width: 346px

.footer-publisher
	background-color: $zon-charcoal
	+respond-min($break-tablet-min)
		background-color: $zon_lighter_grey
		padding-bottom: $petite
	&__row
		@extend %footer_row
		@extend %footer_dark
		+respond-min($break-tablet-min)
			color: $zon_dark_grey
			a
				+link-colors($zon_dark_grey, $black, $black, $zon_dark_grey, $black)
	&__list
		@extend %footer_list
	&__item
		@extend %footer_item
		@extend %footer_dot
		&--label
			font-weight: bold
			padding: remify(10px) 0
			&:after
				content: none
			+respond-min($break-tablet-min)
				padding: remify(5px) .5em remify(5px) 0
	&__row:first-child
		@extend %footer_light
		display: block
		max-width: none
	&__row:first-child &__list
		float: none
		font-weight: bold
		padding: remify(9px) $page-padding
		text-align: center
		width: 100%
	&__row:first-child &__item
		display: inline-block
		&:after
			content: '•'
		&:last-child:after
			content: none
	&__more
		@extend %footer_row
		@extend %footer_light
		+link-colors($zon_dark_grey, $black, $black, $zon_dark_grey, $black)
		border-top: 1px solid $zon_light_grey
		display: block
		max-width: none
		padding: remify(20px) $page-padding
		+respond-min($break-tablet-min)
			display: none !important
		&:after
			+drop_icon()
			+transition(transform .5s)
		&--expanded
			&:after
				+transform(rotate(-180deg))

.footer-links
	background-color: $zon-charcoal
	border-top: 1px solid $zon_grey
	padding-bottom: $junior
	+respond-min($break-tablet-min)
		border-top: none
		padding-top: $petite
	&__row
		@extend %footer_row
		@extend %footer_dark
	&__list
		@extend %footer_list
	&__item
		@extend %footer_item
		@extend %footer_dot
	&__button
		clear: both
		border-top: 1px solid $zon_grey
		margin-top: -1px
		padding: remify(18px) 0
		+respond-min($break-tablet-min)
			border-top: none
			margin-top: 0
	&__linkbutton
		+zon-button-dark
