.gallery
	background-color: $zon-lighter-grey
	margin: remify(28px) (-$page-padding)
	padding: remify(0 0 20px)
	+respond-min($break-tablet-min)
		margin-top: remify(48px)
		margin-bottom: remify(48px)
		padding: $page-padding
	+respond-min($break-desktop-min)
		padding-bottom: remify(48px)
		padding-top: remify(36px)

	&-container
		margin: 0 auto
		max-width: remify(880px)

	&__media-container
		overflow: hidden

	&__description
		p
			@extend .paragraph
