.header
    +respond-min($break-tablet-min)
        padding: $fine $petite 0

.header__metadata
    +clearfix
    color: $zon-dark-grey
    display: none
    font-size: remify(11px)
    letter-spacing: $zon-letter-spacing-l
    line-height: 1rem
    margin: remify(12px 0 7px)
    text-transform: uppercase
    &:empty
        display: none
    +respond-min($break-tablet-min)
        display: block

.header__tags
    display: inline-block

.header__tags__label
    font-weight: bold
    padding-right: 1em

.header__tags__link
    @extend %tags

.header__date
    float: right
    padding-top: 5px
