.header
    +respond-min($break-tablet-min)
        padding: $fine $petite 0

.header__metadata
    +clearfix
    color: $zon-dark-grey
    display: none
    font-size: remify(11px)
    letter-spacing: $zon-letter-spacing-l
    line-height: 1rem
    margin: remify(12px 0 7px)
    text-transform: uppercase
    &:empty
        display: none
    +respond-min($break-tablet-min)
        display: block

.header__tags
    display: inline-block

.header__tags__label
    font-weight: bold
    padding-right: 1em

.header__tags__link
    border-radius: .3em
    border: 1px solid $color-border
    color: inherit
    display: inline-block
    margin: remify(0 9px 5px 0)
    padding: remify(2px 7px 3px)
    +on-interaction
        background-color: $zon-lighter-grey
        border-color: $zon-mid-grey
        color: inherit

.header__date
    float: right
    padding-top: 5px
