.header
	background-color: #fff
	color: #000
	position: relative

	&__brand
		+clearfix
		border-bottom: 1px solid $color-border
		line-height: remify(54px)
		padding: remify(0 0 0 $page-padding--small)

	&__publisher,
	&__teaser
		float: left
		margin: 0

	&__logo
		color: $color-zon-logo
		height: remify(26px)
		width: remify(231px)
		// in case of extremely high font size on small devices
		max-width: calc(100vw - 1.7rem) // -1.7rem because of padding
		vertical-align: middle

	&__teaser
		display: none
		margin-left: remify(20px)

	&__menu-icon
		height: remify(18px)
		width: remify(18px)
		vertical-align: remify(-3px)
		&--close
			display: none

	&__menu-link
		border-left: 1px solid $color-border
		color: $zon-charcoal
		float: right
		padding: remify(0 18px)
		+on-interaction
			color: $zon-dark-grey
		&[aria-expanded="true"]
			.header__menu-icon--close
				display: inline
			.header__menu-icon--menu
				display: none


	+respond-min($break-tablet-min)
		padding: remify(10px $page-padding 0)

		&__brand
			border-bottom: 0
			line-height: inherit
			padding: 0
			position: absolute
			top: remify(64px)

		&__logo
			height: remify(38px)
			width: remify(347px)

		&__teaser
			display: block

		&__menu-link
			display: none
