$gallery-button-radius: em(35px)
$gallery-dots-diameter: 8px
$break-gallery-min: em(576px)

.inline-gallery
	@extend .gallery
	clear: both // to prevent collisions with in-article ads

	&-container
		@extend .gallery-container

.gallery-slides
	figure
		margin: 0
		padding: 0
	.gallery__media-item
		margin: 0 auto
		max-height: 620px
		width: auto
	.figure__caption
		margin: 1em auto 0
		max-width: none
		padding: 0 $page-padding
		+respond-min($break-tablet-min)
			padding: 0
	.figure__index
		color: $zon-grey
		font-family: $font-tabletgothic
		font-style: normal
		font-size: 0.875em // uses em by intention
		letter-spacing: $zon-letter-spacing-m

// appear just after bxSlider initialisation
// needed for "static" galleries
.js
	.gallery-slides
		visibility: hidden
.bx-wrapper
	.gallery-slides
		visibility: visible

.bx-wrapper--touch
	.bx-controls
		padding: $page-padding $page-padding 1em
		+respond-min($break-tablet-min)
			padding: 0 0 1em
.bx-wrapper--no-touch
	.bx-controls
		+pie-clearfix
		padding: $page-padding
		display: none
		+respond-min($break-gallery-min)
			display: block
		+respond-min($break-tablet-min)
			padding: 0 0 $page-padding
	+respond-min($break-gallery-min)
		.figure__index
			display: none

.bx-controls-direction
	float: right
.bx-wrapper--touch .bx-pager
	font-size: $gallery-dots-diameter
	line-height: 1.5
	text-align: center
.bx-wrapper--no-touch .bx-pager
	float: right
	height: remify($gallery-button-radius)
	line-height: remify($gallery-button-radius)
	padding-right: .5em
.bx-pager-item
	display: inline
	font-size: 0
	line-height: 0
.bx-pager-link
	background: #000
	border-radius: 50%
	display: inline-block
	height: $gallery-dots-diameter
	margin: 0 $gallery-dots-diameter/2
	opacity: 0.3
	outline: 0
	text-indent: -9999px
	width: $gallery-dots-diameter
	+on-interaction
		opacity: 0.7

.bx-prev,
.bx-next
	background-color: #000
	border-radius: 50%
	border: none
	color: $white
	float: left
	height: $gallery-button-radius
	margin-left: remify(10px)
	opacity: 0.3
	padding: remify(10px)
	width: $gallery-button-radius
	&:hover,
	&:active,
	&:focus
		color: $white
	&:hover
		opacity: 0.7
	&:focus
		outline: 0
	&.disabled
		opacity: 0.1

.bx-arrow-icon
	display: block
	height: remify(15px)
	width: remify(15px)

.bx-overlay-prev,
.bx-overlay-next
	@extend .bx-next
	margin: 0
	position: absolute
	top: em(10px)
	+respond-min($break-phablet-min)
		height: $gallery-button-radius * 2
		margin-top: -$gallery-button-radius
		opacity: 0
		padding: remify(20px)
		top: 50%
		width: $gallery-button-radius * 2
		.bx-arrow-icon
			height: remify(30px)
			width: remify(30px)

.bx-overlay-prev
	left: em(10px)
.bx-overlay-next
	right: em(10px)

.bx-viewport
	position: relative
	+on-interaction
		.bx-overlay-prev,
		.bx-overlay-next
			opacity: 0.3

.bx-zone-prev,
.bx-zone-next
	width: 15%
	height: 20%
	position: absolute
	z-index: 9999
	cursor: pointer
	display: none
	+respond-min($break-phablet-min)
		width: 50%
		height: 90%
		display: block
.bx-zone-prev
	&:hover
		.bx-overlay-prev
			opacity: 0.7
.bx-zone-next
	right: 0
	&:hover
		.bx-overlay-next
			opacity: 0.7

// elements not in actual use
.bx-controls-auto,
.bx-loading
	display: none

.no-js .gallery-slides
	padding-top: $vertical-space * 2
	figure
		margin-top: 0
		margin-bottom: $vertical-space
		&:last-child
			.figure__caption
				margin-bottom: $vertical-space
	.gallery__media-item
		max-width: 100%
	.figure__caption
		max-width: 100%
		width: remify(580px)
		margin-bottom: $vertical-space * 2
	.figure__copyright
		display: block
