#iqd_mainAd
    margin-bottom: 0
#iqd_align_Ad
    width: 61.25em
    margin: 0 auto
#iqd_topAd
    padding: 0
    position: relative
#iqd_rightAd
    position: absolute
    bottom: -630px
    left: 980px
    width: 160px
#iqadtile1
    padding-left: 0px
