.main
	padding: 0 $page-padding
	&__fullwidth
		display: block
		width: 100%
	&__content
		display: block
		width: 100%
		+respond-min($break-tablet-min)
			display: inline-block
			width: 67.686% //68.086% //67%
	&__informatives
		display: block
		overflow: hidden
		vertical-align: top
		width: 100%
		+respond-min($break-tablet-min)
			display: inline-block
			width: 31.815% //32%
