.main
	overflow: hidden // prevent android from wrong zooming
	+old-ie
		width: $max-page-width
	+respond-min($break-tablet-min)
		// dirty trick to hide the main navigation border
		// for pages with colored backgroud/header (columns, videopage, konto etc.)
		// hopefully harmless
		// advertorials omit the navigation border, so skip that
		@if not $is-advertorial
			position: relative
			top: -1px

.main--article,
.main--gallery,
.main--video
	padding: 0 $page-padding
	// unwrap advertising
	.ad-container
		margin: 0 (-$page-padding)
