//sizes
$zon-logo-width: em(347px)
$zon-logo-height: em(38px)
$zon-logo-width-small: em(231px)
$zon-logo-height-small: em(26px)
$zon-search-bar-height-phablet: em(70px)
$zon-search-bar-width: em(250px)
$zon-burger-size: em(37px)
$zon-classifieds-width: em(120px)
$zon-classifieds-height: em(50px)
$zon-classifieds-width-phablet: em(180px)
$zon-search-width: em(120px)
$zon-search-square-size: remify(35px)

// basic style for nav box
// important is important here, as we have to overwrite js toggling
.main_nav
	+display-flex()
	+flex-wrap(wrap)
	font-family: $font-tabletgothic
	width: 100%
	padding: 0 0 $fine 0
	+respond-min($break-tablet-min)
		padding: $fine $petite $fine $petite
	& > *[data-dropdown="true"]
		display: none
		+respond-min($break-tablet-min)
			display: inline-block !important

%main_nav_icons
	display: block
	background-size: contain
	background-position: 50% 50%

%main_nav_links
	display: inline-block
	letter-spacing: 1px
	ul
		list-style: none
		padding: 0px
		margin: 0px
		li
			display: inline-block
			margin-right: $little
	width: 100%
	a
		+link-colors($black, $black, $black, $black, $black)
	+respond-min($break-tablet-min)
		width: auto
		font-size: $font-xxxs
		text-transform: uppercase
		color: $zon_grey
		a
			+link-colors($black)

%main_nav__topics
	margin: 0 0 $petite 0
	font-size: $font-11px
	line-height: 1rem
	text-transform: uppercase
	letter-spacing: 1px
	color: $zon_dark_grey
	display: none
	+respond-min($break-tablet-min)
		display: inline-block

%main_nav_button
	+hide-text
	display: inline-block
	width: $zon-search-square-size
	height: $zon-search-square-size
	line-height: $zon-search-square-size
	border: 1px solid $zon_light_grey
	background-color: $white
	vertical-align: middle
	position: relative
	&:focus
		outline-width: 0
	&:hover
		background-color: $zon_lighter_grey
	+respond-min($break-tablet-min)
		vertical-align: bottom

//box 1: logo
.logo_bar
	+add_nav_bar_style($zon-bar-height-phablet)
	+display-flex()
	+justify-content(space-between)
	+order(10)
	margin: 0
	width: 100%
	+respond-min($break-tablet-min)
		+remove_nav_bar_style()
		+order(40)
		width: $zon-logo-width
		margin: $petite 0 $petite 0

.logo_bar__menue
	display: inline-block
	width: $zon-bar-height-phablet
	border-left: 1px solid $zon_light_grey
	+hover_nav_icon()
	+respond-min($break-tablet-min)
		display: none

.logo_bar__menue__image
	@extend %main_nav_icons
	width: $small
	height: $small
	margin: 0

.logo_bar__image
	display: inline-block
	a
		+hide-text
		@extend %main_nav_icons
		margin: em(13px) 0 0 0
		width: $zon-logo-width-small
		height: $zon-logo-height-small
		+respond-min($break-tablet-min)
			margin: 0
			width: $zon-logo-width
			height: $zon-logo-height

//box 2: community
.main_nav__community
	@extend %main_nav_links
	+add_nav_bar_style($zon-bar-height-phablet)
	line-height: $zon-bar-height-phablet
	+order(20)
	text-align: left
	+respond-min($break-tablet-min)
		+remove_nav_bar_style()
		+order(30)
		width: 7%
		text-align: right
		display: inline-block
		a
			+link-colors($black, $zon_dark_grey, $black, $black, $black)


.main_nav__community__image
	@extend %main_nav_icons
	display: inline-block
	width: $small
	height: $small
	position: relative
	top: $dblhair + $hair
	margin-right: $micro
	+respond-min($break-tablet-min)
		display: none

//box 3: ressorts
.main_nav__ressorts
	width: 100%
	+order(30)
	+respond-min($break-tablet-min)
		+order(60)

// box 4: classifieds
.main_nav__classifieds
	@extend %main_nav_links
	+add_nav_bar_style(auto)
	padding-left: $petite
	line-height: $zon-classifieds-height
	+order(50)
	& [data-feature='dropdown']
		display: none
	& > ul
		+display-flex()
		+flex-wrap(wrap)
		+justify-content(space-between)
		li
			width: 50%
			text-align: left
			margin: 0
	+respond-min($break-phablet-min)
		ul
			li
				width: 33%
	+respond-min($break-tablet-min)
		+remove_nav_bar_style()
		+order(10)
		width: 55%
		text-align: left
		& > ul
			margin-right: $petite
			display: inline-block
			& > li
				width: auto
				margin-right: $little
				&:nth-child(n+6)
					display: none
		& [data-feature='dropdown']
			display: inline-block


// box 5: services
.main_nav__services
	@extend %main_nav_links
	+add_nav_bar_style($zon-bar-height-phablet,true)
	line-height: $zon-bar-height-phablet
	+order(40)
	padding-left: 0
	ul
		+display-flex()
		+justify-content(space-between)
		text-align: center
		height: em($zon-bar-height-phablet-px - 1)
		li
			width: 33%
			margin-right: 0
			&:nth-child(n+4)
				display: none
			&:nth-child(2)
				border-left: 1px solid $zon_light_grey
				border-right: 1px solid $zon_light_grey
	+respond-min($break-tablet-min)
		+remove_nav_bar_style()
		+order(20)
		width: 38%
		text-align: right
		padding-left: auto
		& > ul
			margin-right: $petite
			display: inline-block
			& > li
				width: auto
				margin-right: $little
				&:nth-child(n+4)
					display: inline-block
				&:nth-child(2)
					border: none

//box 6: search
.main_nav__search
	+add_nav_bar_style($zon-search-bar-height-phablet)
	line-height: $zon-search-bar-height-phablet
	text-align: left
	+order(60)
	margin: 0
	width: 100%
	+respond-min($break-tablet-min)
		+remove_nav_bar_style()
		+order(50)
		text-align: right
		margin: $petite 0 0 0
		line-height: $zon-search-square-size
		overflow: hidden
	+respond-min($break-desktop-min)
		width: $zon-search-bar-width

.search
	label
		display: none

.search__input
	// display: inline-block
	width: 70%
	height: $zon-search-square-size
	background-color: $white
	padding: 0
	border: 1px solid $zon_light_grey
	border-right: none
	font-size: $font-m
	color: $zon_grey
	padding-left: $fine
	border-top-left-radius: $micro
	border-bottom-left-radius: $micro
	vertical-align: middle
	&:focus
		outline-width: 0
		color: $zon_dark_grey
	+respond-min($break-tablet-min)
		width: $zon-search-width
	+respond-min-max($break-tablet-min, $break-desktop-min - .001em)
		visibility: hidden
		transition: transform .2s ease-out, visibility .2s
		transform: translateX($zon-search-width)

.search__input--visible
	visibility: visible
	transform: translateX(0)
	& + .search__button
		border-top-left-radius: 0
		border-bottom-left-radius: 0
		border-top-right-radius: $micro
		border-bottom-right-radius: $micro

.search__button
	@extend %main_nav_button
	+hover_nav_icon(block,$zon_lighter_grey,0)
	border-top-right-radius: $micro
	border-bottom-right-radius: $micro
	+respond-min($break-tablet-min)
		border-radius: $micro
		box-shadow: $micro 0 0 #fff
	+respond-min($break-desktop-min)
		border-top-left-radius: 0
		border-bottom-left-radius: 0

.search__button__image
	@extend %main_nav_icons
	width: $small
	height: $small

.search__close__image
	@extend %main_nav_icons
	width: $small
	height: $small

//box 7: topics
.main_nav__tags
	@extend %main_nav__topics
	+order(70)
	width: 75%
	+respond-min($break-desktop-min)
		width: 80%
	ul
		width: 80%
		display: inline-block
		list-style: none
		padding: 0
		margin: 0
		li
			display: inline-block
			border: 1px solid $zon_light_grey
			border-radius: $tiny
			margin: 0 0 0 $little
			padding: 4px 7px 1px
			&:hover
				background-color: $zon_lighter_grey
			a
				+link-colors($zon_dark_grey)
		+respond-min($break-desktop-min)
			width: 85%

.main_nav__tags__label
	font-weight: bold
	display: inline-block
	width: 20%
	+respond-min($break-desktop-min)
		width: 15%

//box 8: date
.main_nav__date
	@extend %main_nav__topics
	font-weight: bold
	width: 25%
	text-align: right
	padding-top: 4px
	+order(80)
	+respond-min($break-desktop-min)
		width: 20%

//box 9: special teaser
.main_nav__teaser
	display: none
	+respond-min($break-tablet-min)
		display: inline
		+order(45)
		+flex-grow(1)
		margin: $petite


/* primary navigation (ressorts and stuff) */

.primary-nav
	+columns(2)
	+pie-clearfix
	font-size: $font-m
	letter-spacing: .05em
	padding: 0 0 0 $petite

	+respond-min($break-phablet-min)
		+columns(3)
	+respond-min($break-tablet-min)
		+columns(auto)
		border-bottom: $dblhair solid $zon_light_grey
		display: block
		font-size: $font-s
		padding: 0
	[data-id='more-dropdown']
		display: none
		+respond-min($break-tablet-min)
			display: block

.primary-nav__item
	color: $black
	display: block // needed for css columns
	line-height: 2.5714

	+respond-min($break-tablet-min)
		float: left
		padding-right: $little


.primary-nav__link
	display: inline-block
	&:link, &:visited
		color: inherit

.primary-nav__link--current
	font-weight: bold

.primary-nav__link:hover,
.primary-nav__link--current
	+respond-min($break-tablet-min)
		+box-shadow(inset 0px -3px 0px 0px $zon_light_grey) // w3c style box-shadow syntax


.primary-nav__item--featured
	line-height: 2.0625
	+respond-min($break-tablet-min)
		font-size: $font-s
		float: right
		margin-top: $tiny
		padding-right: 0

	.primary-nav__link
		+border-radius(3px)
		+link-colors($white)
		background-color: $zon_dark_grey
		+transition(background-color .15s linear)
		padding: 0 $fine
		&:hover
			+box-shadow(none)
			background-color: $zon_grey



/* Module: Dropdown */

.main_nav [data-feature='dropdown']
	position: relative
	+respond-min($break-tablet-min)
		& > a:after
			+drop_icon()
		&:hover
			& > a
				+box-shadow(none)
				&:after
					+rotate(180deg)
			& > .dropdown
				display: block
				z-index: 2

// the dropdown is only present on tablet and desktop
// therefore all styling is scoped in a media query
.dropdown
	display: none
	+respond-min($break-tablet-min)
		+box-shadow(0 $micro $thin rgba(0,0,0,0.05))
		background: $white
		border: $dblhair solid $zon_light_grey
		left: -$fine
		min-width: $mediumhuge
		padding-left: 0
		position: absolute
		.dropdown__item
			display: block // get rid of bullet points
			width: 100%
			& > .dropdown__link
				+link-colors($black)
				display: block
				width: 100%
				padding: 0 $fine 0 $fine
				&:after
					content: ""
					margin-left: 0
				&:hover
					background-color: $gainsboro
		// dropdowns can contain dropdowns
		.dropdown
			+box-shadow(none)
			border: none
			display: block
			left: 0
			position: relative
			.dropdown__link
				padding-left: $petite


.js .primary-nav--js-no-overflow
	+respond-min($break-tablet-min)
		max-height: $medium
		overflow: hidden

.no-js .primary-nav [data-id='more-dropdown']
	display: none

/* END: Module: Dropdown */


/* END: primary navigation */
