.page
	&__content
		background: $color-page-bg // we need background here, if page is colored
		box-shadow: 0 0 em(5px) rgba($color-body-bg, .5) // add invisible box-shadow to tame bodypainting advertising
		min-width: em(300px)
		max-width: $break-tablet-min
		+respond-min($break-desktop-min)
			margin: 0 auto
			max-width: $break-desktop-min
