.parquet-zett

    &:after
    color: $zett-orange
    content: "\203A" // › = single right-pointing angle quotation mark
    font-size: remify(32px)
    line-height: remify(12px)

    &__head
        background-color: $zon-charcoal
        height: 50px
        position: relative
        //margin-bottom: remify(13px) // ca. Abstand den das logo hineinragt

    &__logo

        p
            // placeholder bis SVG da ist
            background-color: $zett-orange
            color: $white
            display: block
            font-size: remify(40px)
            left: $page-padding
            margin: 0
            height: 63px
            padding: remify(10px)
            position: absolute
            top: 0

.parquet-zett-teasers
    display: table
    border-spacing: remify($page-padding) 0
    padding: ($vertical-space + remify(13px)) 0

