$search-icon-color: $zon-dark-grey
$search-icon-color--hover: $zon-charcoal

$zon-search-width: remify(120px)
$zon-search-square-size: remify(35px)

.search
	+clearfix
	padding: remify(16px 0)
	+respond-min($break-tablet-min)
		float: right
		padding: remify(22px 0 0)

.search__input
	background-color: $white
	border-radius: 4px 0 0 4px
	border: 1px solid $color-border
	border-right: none
	color: $zon-grey
	float: left
	font-size: $font-m
	height: $zon-search-square-size
	line-height: normal // IE 11 fix
	padding: 0 0 0 $fine
	width: 85%
	width: calc(100% - #{$zon-search-square-size})
	&:focus
		outline-width: 0
		color: $zon-dark-grey
	+respond-min($break-tablet-min)
		width: $zon-search-width
		visibility: hidden
		transition: transform .2s ease-out, visibility .2s
		transform: translateX($zon-search-width)
	+respond-min($break-desktop-min)
		visibility: visible
		transform: none

.search__input--visible
	visibility: visible
	transform: translateX(0)
	& + .search__button
		border-radius: 0 4px 4px 0

.search__button
	background-color: $white
	border-radius: 0 4px 4px 0
	border: 1px solid $color-border
	display: inline-block
	float: left
	height: $zon-search-square-size
	position: relative // needed for the transition
	width: $zon-search-square-size
	color: $search-icon-color
	+on-interaction
		background-color: $zon-lighter-grey
		color: $search-icon-color--hover
		outline-width: 0
	+respond-min($break-tablet-min)
		border-radius: 4px
		box-shadow: 4px 0 0 #fff // this is here to hide the underlying search input border
		vertical-align: bottom
	+respond-min($break-desktop-min)
		border-radius: 0 4px 4px 0

.search__icon
	width: remify(16px)
	height: remify(16px)
	position: absolute
	top: 50%
	left: 50%
	margin: remify(-8px 0 0 -8px)
