$focus-color: rgba(0, 136, 193, 0.55)

%hidden-fieldset
	border: none
	margin: 0
	padding: 0

.search-form
	background: $zon_lighter_grey
	margin: remify(0 -20px)
	padding: remify(25px 20px)

.search-text-input
	background: $white
	border: 1px solid $zon_light_grey
	border-radius: remify(4px)
	height: remify(48px)
	+display-flex
	&__label
		@extend %off-screen
	&__input
		background: transparent
		border: none
		font-size: remify(14px)
		outline: none // readd in :focus for a11y
		padding: remify(10px)
		+flex-grow(1)
		+transition(all 0.50s ease-in-out)
		&:focus
			box-shadow: inset 0 0 10px $focus-color

.search-submit
	background: transparent
	border: none
	border-left: 1px solid $zon_light_grey
	height: remify(46px)
	outline: none // readd in :focus for a11y
	overflow: hidden
	padding: 0
	width: remify(46px)
	+transition(all 0.50s ease-in-out)
	&:focus
		box-shadow: inset 0 0 10px $focus-color
	&__icon
		background-position: 50%
		float: left
		height: remify(46px)
		width: remify(46px)
	&__text
		display: none
		float: left

.search-additional-queries
	&__toggle
	&__container
		.js &
			display: none

.search-timerange
	@extend %hidden-fieldset
	&__legend

.search-typerange
	@extend %hidden-fieldset
	&__legend
