.gallery
    background-color: $zon-lighter-grey
    margin: $compact (-$page-padding)
    padding: 0 0 $small
    +respond-min($break-tablet-min)
        margin-top: $big
        margin-bottom: $big
        padding: $page-padding
    +respond-min($break-desktop-min)
        padding: $medium $big $big

    &__media-container
        overflow: hidden

    &__description
        p
            @extend .paragraph
