// just a helper until we introduce the real structure

$zon-teaser-standart-width: em(480px)
$zon-teaser-standart-height: em(620px)
$zon-fullwidth-image-height: em(528px)

.teasers
	position: relative
	width: 100%
	+respond-min($break-tablet-min)
		width: em(480px)
	+respond-min($break-desktop-min)
		width: em(620px)

.fullwidth_teasers
	position: relative
	.teaser__media--hasshadow
		width: 100%
		height: $zon-fullwidth-image-height
		margin-top: $petite
		.teaser__media-item
			max-height: $zon-fullwidth-image-height

.teaser
	+pie-clearfix
	padding: $petite 0
	border-bottom: 1px solid #ccc
	+respond-min($break-tablet-min)
		border-bottom: none

.teaser--small
	border-bottom: none

.teaser--small.teaser--hasmedia
	position: relative
	+respond-min($break-phablet-min)
		padding: $petite 0 $petite ($teaser-image-desktop-width + $petite)
	+respond-min($break-tablet-min)
		padding: $petite 0 $petite ($teaser-image-phablet-width + $petite)
	+respond-min($break-desktop-min)
		padding: $petite 0 $petite ($teaser-image-desktop-width + $petite)

.teaser--iscentered
	.teaser__heading
		+respond-min($break-phablet-min)
			text-align: center
			margin-left: auto
			margin-right: auto
	.teaser__container
		margin: $junior auto
		+respond-min($break-tablet-min)
			text-align: center

.teaser--ispositioned
	position: absolute
	bottom: $fine
	margin: 0 $petite 0 $petite
	border: 0
	overflow: hidden

.teaser--islight
	color: $white
	z-index: 1
	.teaser__kicker,
	.teaser__title
		color: $white !important
	.teaser__metadata
		a, .teaser__datetime:hover
			border: 0
		font-weight: normal

.teaser__heading
	font-size: 1em
	margin: 0 0 $fine 0

.teaser__heading--hasmedia
	margin: 0 0 $petite 0

.teaser__heading--issized
	+respond-min($break-phablet-min)
		width: 70%

.teaser__heading__small
	margin: 0 0 $thin 0

.teaser__combined-link
	color: $color-text
	text-decoration: none
	&:link > .teaser__kicker,
	&:visited > .teaser__kicker
		color: $color-text-highlighted
	&:link > .teaser__title,
	&:visited > .teaser__title
		color: $color-text
	&:hover
		text-decoration: none
		& > .teaser__title
			text-decoration: underline

.teaser__kicker
	display: block
	font-family: TabletGothic
	font-size: $font-s
	font-weight: bold
	letter-spacing: $standard-letter-spacing
	margin-bottom: em(4px, $font-s--px)

.teaser__title
	display: block
	font-family: FranziskaWebPro
	font-size: $font-xl--rem
	font-weight: bold
	line-height: 1.15
	+respond-min($break-tablet-min)
		font-size: $font-xxl--rem

.teaser__title--small
	font-size: $font-l--rem
	+respond-min($break-tablet-min)
		font-size: $font-l--rem

.teaser__media
	margin: 0 0 $little 0

.teaser__media--small
	display: none
	width: 100%
	+respond-min($break-phablet-min)
		display: inline-block
		position: absolute
		left: 0
		top: $petite
		width: $teaser-image-desktop-width
	+respond-min($break-tablet-min)
		width: $teaser-image-phablet-width
	+respond-min($break-desktop-min)
		width: $teaser-image-desktop-width

.teaser__media--hasshadow
	.mediablock__helper
		+fake-box-shadow-inset($black, 1)
	background-color: $black

.teaser__media--fullwidth_mobile
	margin-left: -$petite
	margin-right: -$petite
	+respond-min($break-tablet-min)
		margin-left: 0
		margin-right: 0

.teaser__media-link
.teaser__media-item
	height: auto
	max-width: 100%
	width: 100%

.teaser__media-item--small
	max-width: 100%

.teaser__container
.teaser__text
	line-height: 1.4
	margin: 0 0 $thin 0

.teaser__byline
	display: block
	font-family: FranziskaWebPro
	font-size: em(15px)
	font-style: italic
	margin-bottom: rem(6px)

.teaser__byline--isinline
	display: none
	+respond-min($break-phablet-min)
		display: inline

.teaser__metadata
	font-size: em(13px)
	font-weight: bold
	letter-spacing: $standard-letter-spacing

.teaser__metadata--ishead
	margin-top: $fine

.teaser__datetime
	&:link, &:visited
		border-bottom: 1px solid #ccc
		color: inherit
		text-decoration: none
	&:hover
		border-bottom: 1px solid #777

.teaser__commentcount
	@extend .teaser__datetime
	margin-left: $fine

.teaser__container--issized
	+respond-min($break-phablet-min)
		width: 70%

.teaser__container--issized-desktop
	+respond-min($break-tablet-min)
		width: 70%

// first small teaser in collection displays image in mobile mode
// TODO: solved with css for now, might have to be adapted later (asz)
.teaser-collection--main
	.teaser--small:nth-of-type(1) .teaser__media--small
		display: block
