/// Teaser Scaffolding
/// As all teasers should be BEM-Blocks, they need to share
/// lots of code via placeholder selectors

%teaser
	+pie-clearfix
	padding: $petite 0
	border-top: 1px solid #ccc
	&:nth-of-type(1)
		border-top: none
	+respond-min($break-tablet-min)
		border-bottom: none
		border-top: none

%teaser-small-media-placement
	position: relative
	+respond-min($break-phablet-min)
		padding: $petite 0 $petite ($teaser-image-phablet-width + $petite)
	+respond-min($break-tablet-min)
		padding: $petite 0 $petite ($teaser-image-phablet-width + $petite)
	+respond-min($break-desktop-min)
		padding: $petite 0 $petite ($teaser-image-desktop-width + $petite)

%teaser-small-media
	vertical-align: top
	width: 100%
	+respond-min($break-phablet-min)
		display: table-cell
		padding-right: $petite
		width: $teaser-image-phablet-width + $petite
	+respond-min($break-tablet-min)
		width: $teaser-image-phablet-width + $petite
	+respond-min($break-desktop-min)
		width: $teaser-image-desktop-width + $petite

%teaser-small-container
	vertical-align: top
	+respond-min($break-phablet-min)
		display: table-cell
		vertical-align: top

%teaser-heading
	font-size: 1em
	margin: 0 0 $tiny 0

%teaser-kicker
	display: block
	color: $color-text-highlighted
	font-family: TabletGothicNarrow
	font-size: $zon-font-s
	font-weight: bold
	letter-spacing: $zon-letter-spacing-l
	line-height: 1.2
	margin-bottom: em(3px, 13px)

%teaser-combined-link
	color: $color-text
	text-decoration: none
	&:link,
	&:visited
		color: inherit
	&:hover
		span
			text-decoration: none
		span:first-child
			text-decoration: none

%teaser-title
	display: block
	color: $zon-charcoal
	font-family: TabletGothic
	font-size: $font-l
	font-weight: 700
	letter-spacing: $zon-letter-spacing-s
	line-height: 1.232
	&:hover
		color: $black

%teaser-media
	margin: 0 0 $petite 0

%teaser-media-item
	height: auto
	max-width: 100%
	width: 100%

%teaser-text
	color: $grey--mid
	line-height: 1.4
	margin: 0 0 $micro 0

%teaser-byline
	color: $grey
	display: block
	font-family: TabletGothicNarrow
	font-size: $font-s
	letter-spacing: $zon-letter-spacing-m
	margin-bottom: 4px // IE 8 Fallback
	margin-bottom: rem(4px)

%teaser-metadata
	font-size: em(13px)
	line-height: 1.4
	font-weight: bold
	letter-spacing: $standard-letter-spacing

%teaser-datetime
	&:not(:last-child):after
		content: ' ⧸ '
		margin: 0 $micro 0 $micro

%teaser-commentcount
	&:link, &:visited
		border-bottom: 1px solid $zon_lighter_grey
		color: inherit
		text-decoration: none
	&:hover
		border-bottom: 1px solid $zon_light_grey
