// all things teaser-collections
.teasers
	position: relative
	width: 100%
	+respond-min($break-tablet-min)
		width: em(480px)
	+respond-min($break-desktop-min)
		width: em(620px)

.fullwidth_teasers
	position: relative
