.video-stage
	background-color: #33333A
	margin: 0 (-$page-padding) remify($small--px) (-$page-padding)
	padding: 0 $page-padding
	font-family: $font-tabletgothic
	color: $grey--light
	+respond-min($break-desktop-min)
		padding-right: 0
		position: relative


.video-centerpage-link
	+link
		color: inherit
		text-decoration: none
	text-transform: uppercase
	font-size: remify(16px)
	background-color: lighten(#33333A, 20%)
	display: inline-block
	margin: remify($small--px) auto

.video-small
	+respond-min($break-phablet-min)
		display: table-cell
		width: 48%
	+respond-min($break-tablet-min)
		width: 31.5%
	+respond-min($break-desktop-min)
		width: auto
