.video-stage
	background-color: #33333A
	margin: 0 (-$page-padding) remify($small--px) (-$page-padding)
	padding: 0 $page-padding
	font-family: $font-tabletgothic
	color: $grey--light
	text-align: center

.video-stage-heading
	display: inline-block
	font-size: remify(18px)
	font-weight: bold
	line-height: 1.125
	text-align: center
	margin: 0
	padding: remify($small--px) 0

.video-stage-secondary
	display: none
	+respond-min($break-phablet-min)
		display: block

	&__title
		display: none
		+respond-min($break-desktop-min)
			display: block
			text-transform: uppercase

.video-stage-footer

.video-centerpage-link
	+link
		color: inherit
		text-decoration: none
	text-transform: uppercase
	font-size: remify(16px)
	background-color: lighten(#33333A, 20%)
	display: inline-block
	margin: remify($small--px) auto
