$comment-color-preferences-background:     $grey--light
$comment-color-preferences-font:           $grey
$comment-color-preferences-hoverunderline: $silver
$comment-color-preferences-active:         $zon-charcoal
$comment-color-preferences-seperator:      #fff

@import "web.core/modules/comments/comment-preferences"
