$comment-color-author-bg:                        $grey--light
$comment-color-border:                           $color-border

$comment-color-body-font:                        $zon-charcoal
$comment-color-overlay-count-background:         $zon-charcoal
$comment-color-overlay-cta-font:                 $grey--mid
$comment-color-overlay-cta-border:               $dusty-gray

$comment-color-moderation-font:                  $grey
$comment-color-moderation-link:                  $red
$comment-color-moderation-sending-font:          $silver

$comment-color-date-link:                        $color-link--default
$comment-color-date-link-hover:                  $color-link--hover
$comment-color-reaction-active:                  $red

$comment-color-count-background:                 $trout
$comment-color-count-font:                       $grey--light
$comment-color-cta-font:                         $grey
$comment-color-cta-border:                       $silver

$comment-color-rewrapper-hover-count-background: $zon-charcoal
$comment-color-rewrapper-hover-cta-border:       $dusty-gray
$comment-color-rewrapper-hover-cta-font:         $grey--mid

$comment-color-badge-background:                 $primary-color
$comment-color-indented-boxshadow:               $grey--light

$comment-color-placeholder-background:           $cararra
$comment-color-placeholder-font:                 $silver

@import "web.core/modules/comments/comment"
