$comment-color-meta-text:       $color-link--default
$comment-color-meta-text-hover: $color-link--hover
$comment-color-icon-author:     $zon-charcoal
$comment-color-name-link:       $color-text

@import "web.core/modules/comments/comment-meta"
