$comment-color-author-bg:               $grey--light
$comment-color-border:                  $color-border

$comment-color-body-font:               $zon-charcoal

$comment-color-count-background:        $trout
$comment-color-count-font:              $grey--light
$comment-color-cta-border:              $silver
$comment-color-cta-font:                $grey
$comment-color-count-background--hover: $zon-charcoal
$comment-color-cta-border--hover:       $dusty-gray
$comment-color-cta-font--hover:         $grey--mid

$comment-color-moderation-font:         $grey
$comment-color-moderation-sending:      $silver

$comment-color-date-link:               $color-link--default
$comment-color-date-link-hover:         $color-link--hover
$comment-color-reaction-active:         $red

$comment-color-badge-background:        $primary-color
$comment-color-indented-boxshadow:      $grey--light

$comment-color-placeholder-background:  $cararra
$comment-color-placeholder-font:        $silver

@import "web.core/modules/comments/comment"
