*
    +box-sizing(border-box)

body
    background-color: $gainsboro
    color: $color-text
    font-family: $article-body-font
    font-size: $font-m
    line-height: $base-line-height
    margin: 0
    padding: 0

img
    max-width: 100%
    height: auto
    display: block

*[id^='iqadtile'] noscript img
    width: auto !important
    height: auto !important

a
    +link-colors($color-link--default, $color-link--hover, $color-link--hover, $color-link--default, $color-link--hover)
    text-decoration: none

// 'fill: currentColor' does not work on <use> element in IE 9-10
.svg-symbol
    fill: currentColor

// used for svg4everybody fallback images
svg img
    max-height: 100%
    max-width: 100%
