.button
	+inline-block
	background-color: $color-button-bg
	border: none
	color: $color-button
	cursor: pointer
	font-family: $font-tabletgothic
	font-size: remify(14px)
	letter-spacing: 1px
	padding: remify(9px 16px 8px)
	text-transform: uppercase
	+on-interaction
		background-color: $color-button-bg--hover
		color: $color-button--hover
	&[disabled]
		background-color: $color-button-bg--disabled
		color: $color-button--disabled

input,
textarea,
select
	background-color: $color-input-bg
	border: none
	color: $color-input
	font-size: remify(15px)
	padding: remify(16px)
	&.error
		background-color: $color-input-bg--error
		color: $color-input--error
	&:focus
		background-color: $color-input-bg--focus
		color: $color-input--focus

textarea
	display: block
	min-height: em(140px)
	resize: vertical
	width: 100%

+input-placeholder
	color: $charcoal
	opacity: 1
