.page-wrap
  margin: 0 auto

.page-wrap--inner
  max-width: $max-page-width
  background-color: $color-page-bg
  +respond-min($max-page-width)
    +transition(all, 0.5s)
    position: relative
    left: 50%
    margin-left: -$max-page-width/2
  &.for-longform
    max-width: none
    left: 0
    margin-left: 0

