{#

imagegroup lead template for zmo-square-large

Available attributes:
    teaser

#}
{% extends "templates/inc/lead/lead_zmo-square-large_default_default.html" -%}

{% block asset %}
{%- set image = get_teaser_image(teaser_block, teaser) %}
<a href="{{teaser.uniqueId | translate_url}}">
    <div class="scaled-image is-pixelperfect cp__lead-leader__image" data-wrap=".cp__lead-leader__wrap">
        <!--[if gte IE 9]> -->
            <noscript data-ratio="{{image.ratio}}">
        <!-- <![endif]-->
                <img alt="{{image.attr_alt}}" title="{{image.attr_title}}" class="figure__media" src="{{image | default_image_url | default('http://placehold.it/160x90', true)}}" data-ratio="{{image.ratio}}">
        <!--[if gte IE 9]> -->
            </noscript>
        <!-- <![endif]-->
    </div>
</a>
{% endblock %}
