{#

default lead template for zmo-landscape-small

Available attributes:
    teaser

#}

<div class='cp__buttons__wrap-double'>
	{% block asset %}{% endblock %}
	<span class="cp__buttons__title__wrap">
	    <span class="cp__buttons__supertitle">
	    	<a href="{{teaser.uniqueId | translate_url}}">
	 			{{teaser.teaserSupertitle | hide_none}}
			</a>
		</span>
		<span class="cp__buttons__title">
			<a href="{{teaser.uniqueId | translate_url}}">
				{{teaser.teaserTitle}}
	        </a>
		</span>
	    <span class="cp__buttons__subtitle">
	      {{teaser.teaserText | hide_none}}
		</span>
	</span>
</div>
