{% if area.values() | length == 0 %}
<!-- BrandEins-Parquet not shown because empty or timed out. -->
{% else %}

    {% extends "zeit.web.site:templates/inc/area/parquet.html" %}

    {% block area_title %}
        <a class="parquet-meta__title parquet-meta__title--brandeins" href="https://www.brandeins.de/?utm_source=zeit&utm_medium=navigation&utm_content=logo">
            {{ lama.use_svg_icon('logo-brandeins', 'parquet-meta__logo parquet-meta__logo--brandeins', view.package) }}
        </a>
    {% endblock area_title %}

    {% block area_links %}
        <div class="parquet-meta__links">
            <ul class="parquet-meta__topic-links parquet-meta__topic-links--brandeins">
                <li>
                    <a href="https://www.brandeins.de/zugabe/rubriken/die-welt-in-zahlen?utm_source=zeit&utm_medium=navigation&utm_content=wiz" class="parquet-meta__topic-link">Die Welt in Zahlen</a>
                </li>
                <li>
                    <a href="https://www.brandeins.de/zugabe/rubriken/leichte-sprache?utm_source=zeit&utm_medium=navigation&utm_content=ls" class="parquet-meta__topic-link">Leichte Sprache</a>
                </li>
                <li>
                    <a href="https://www.brandeins.de/zugabe/rubriken/mikrooekonomie?utm_source=zeit&utm_medium=navigation&utm_content=mo" class="parquet-meta__topic-link">Mikroökonomie</a>
                </li>
            </ul>
            <div class="parquet-meta__more parquet-meta__more--brandeins">
                <a href="https://www.brandeins.de/?utm_source=zeit&utm_medium=navigation&utm_content=mehr" class="parquet-meta__more-link parquet-meta__more-link--brandeins">mehr von brand eins</a>
            </div>
        </div>
    {% endblock area_links %}

{% endif %}
