{% extends "zeit.web.core:templates/inc/area/default.html" %}

{% set module_layout = 'teaser-gallery' %}

{% block before_module_list %}
    {% set tracking_slug = '{}...{}.{}'.format(region_loop.index, '-'.join([area.kind, module_layout]), 'alle_fotostrecken') %}
	{{ cp.section_heading('Fotostrecken', 'Alle Fotostrecken', 'foto/index', view, tracking_slug, unpadded=True) }}
{% endblock %}

{% block module_list %}
	<div class="{{ module_layout }}-group__container">
		{{ super() }}
	</div>
{% endblock %}

{% block after_module_list %}
	{% if area.next_page %}
		<a href="{{ view.request.route_url('home') }}foto/index"
			class="button {{ module_layout }}-group__button js-bar-teaser-paginate"
			{# The random segment in the url below is supposed to generate ten (somewhat)
			different versions of this area that will still be varnish-cacheable.
			The actual value will be set via JS just before the request. #}
			data-sourceurl="{{ view.content_url }}/area/{{ area.uniqueId.rsplit('/', 1)[-1] }}?p=">
			{{ lama.use_svg_icon('shuffle', '{}-group__shuffle-icon'.format(module_layout), view.package) }}Weitere laden
		</a>
	{% endif %}
{% endblock %}
