{% extends "zeit.web.core:templates/inc/area/default.html" %}
{% block after_module_include %}
    {# new adplace, only on ressortpages, first region, first area, after second module #}
    {% if view.is_ressortpage and module_loop.length > 1 %}
        {#  show after module 1 if solo region present else after module 2  #}
        {% set after_module = 2 if region_loop.first else 1 %}
        {% if area_loop.index == 1 and module_loop.index == after_module %}
            {% include "zeit.web.core:templates/inc/ads/places/mobile/place3.html" %}
        {% endif %}
    {% endif %}
{% endblock %}
