{% extends "zeit.web.core:templates/inc/area/default.html" %}
{% block after_module_include %}
    {% if toggles('iqd_mobile_transition_zmo_cp') %}
        {# new adplace, only on ressortpages, first region, first area, after second module #}
        {% if view.is_ressortpage and module_loop.length > 1 %}
            {% if region_loop.index == 1 and area_loop.index == 1 and module_loop.index == 2 %}
                {{ lama.adplace(banner(3), view, mobile=True) }}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
