{% extends "zeit.web.core:templates/inc/area/default.html" %}

{% block before_module_include %}

    {#
    Insert Ads into Minor Column.
    - Case A: Banner 7 inside first Minor, before the Module, if a SoloLeader exists on page.
    - Case B: Banner 7 inside first Minor, after the Module, if no SoloLeader exists on page.
    - Case C: Banner 8 inside every other Minor, before the Module.

    Currently, Banner 8 would break if it occurs multiple times on a page. Which does not happen at the moment.

    This is kind of a hotfix, and subject to change. Ad distribution logic will be done in the view.
    #}

    {# Case A: First Region after a Solo Leader: BANNER 7 before the First Module. #}
    {% if view.has_solo_leader and region_loop.index == 2 and module_loop.index == 1 %}
        {{ lama.adplace(banner(7), view) }}
    {% endif %}

    {# Case C: Every other Region: BANNER 8 before the First Module. #}
    {% if
        (
        (not view.has_solo_leader and region_loop.index > 1) or
        (view.has_solo_leader and region_loop.index > 2)
        )
        and module_loop.index == 1
        %}
        {{ lama.adplace(banner(8), view) }}
    {% endif %}
{% endblock %}

{% block after_module_include %}
    {# Case B: First Region on page Solo Leader: BANNER 7 after the First Module. #}
    {% if not(view.has_solo_leader) and region_loop.index == 1 and module_loop.index == 1 %}
        {{ lama.adplace(banner(7), view) }}
    {% endif %}
{% endblock %}

{% block after_module_list %}
    {# assuming 1st or 2nd region is the region we're looking for. #}
    {% if (view.has_solo_leader and region_loop.index == 2) or (not(view.has_solo_leader) and region_loop.index == 1) %}
        {{ lama.adplace(banner(4), view, mobile=True) }}
    {% endif %}
{% endblock %}
