<div class="{{ 'cp-area' | with_mods(area.kind) }}">
<div class="newsticker">
    {% block before_module_list %}
        <div class="newsticker__head" id="newsticker">
            <span class="newsticker__title">{{ area.title }}</span>
            <a class="newsticker__link" href="foo">Alle Schlagzeilen</a>
        </div>
    {% endblock %}
    {% for column in area.values() | map('get_module') | slice(2) -%}
        <div class="newsticker__column newsticker__column-{{ loop.index }}">
        {% for module in column %} 
            <article class="newsteaser">
                <time class="newsteaser__time">11:00</time>
                <div class="newsteaser__text">
                    <a class="newsteaser__combined-link" title="Big Data - Schwanger ohne digitale Spuren" href="http://localhost:9090/artikel/autorenbox">
                        <span class="newsteaser__kicker">Big Data</span>
                        <span class="newsteaser__title">Schwanger ohne digitale
                        Spuren. Hier noch etwas mehr Text, damit es zwei Zeilen
                        werden</span>
                    </a>
                    <span class="newsteaser__product">ZEDE</span>
                </div>
            </article>
        {% endfor %}
        </div>
    {% endfor %}
    {% block after_module_list %}{% endblock %}
</div>
</div>
