{% if ( area.values() | length ) > 0 %}

{% extends "zeit.web.core:templates/inc/area/default.html" %}

{% set cp_type = view.context.type if view.context.type else '' %}
{% set cp_area_modifier = ('newsticker-on-' ~ cp_type) if ('keywordpage' or 'topicpage') == cp_type and 'newsticker' == area.kind %}

{% block before_module_list %}
    {% set tracking_slug = '{}...{}.{}'.format(region_loop.index, 'newsteaser', 'alle_schlagzeilen') %}
    {{ cp.section_heading(area.title, 'Alle Schlagzeilen', '' if ('keywordpage' or 'topicpage') in cp_type else 'news/index' , view, tracking_slug, unpadded=True) }}
{% endblock %}

{% block module_list %}
    {% if ('keywordpage' or 'topicpage') in cp_type %}
        <div>
            {% for module in area.values() %}
                {% set teaser = module | first_child %}
                {% include "zeit.web.site:templates/inc/teaser/zon-newsteaser.tpl" %}
            {% endfor %}
        </div>
    {% else %}
        {% for column in area.values() | slice(2) -%}
            <div class="newsticker__column">
                {% for module in column %}
                    {% set teaser = module | first_child %}
                    {% include "zeit.web.site:templates/inc/teaser/zon-newsteaser.tpl" %}
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% endif %}
