{% extends "zeit.web.core:templates/inc/area/default.html" %}

{% from "zeit.web.core:templates/inc/area/default.html" import is_kw_tp_page with context %}

{% set link_path = '' if is_kw_tp_page else 'news/index' %}

{% block before_module_list %}
    {% set tracking_slug = '{}...{}.{}'.format(region_loop.index, 'newsteaser', 'alle_schlagzeilen') %}
    {{ cp.section_heading(area.title, 'Alle Schlagzeilen', link_path , view, tracking_slug, unpadded=True) }}
{% endblock %}

{% block module_list %}

    {% if not is_kw_tp_page %}
        {% for column in area.values() | slice(2) -%}
            <div class="newsticker__column">
                {% for module in column %}
                    {% set teaser = module | first_child %}
                    {% include "zeit.web.site:templates/inc/teaser/zon-newsteaser.tpl" %}
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <div class="newsticker__single">
            {% for module in area.values() %}
                {% set teaser = module | first_child %}
                {% include "zeit.web.site:templates/inc/teaser/zon-newsteaser.tpl" %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
