{% extends "zeit.web.site:templates/inc/area/default.html" %}

{% block before_module_list %}
    <div class="parquet-meta">

        {% if area.referenced_cp is none %}
            <span class="parquet-meta__title">
                {{ area.title | hide_none }}
            </span>
        {% else %}
            <a class="parquet-meta__title{% if provides(area.referenced_cp, 'zeit.magazin.interfaces.IZMOContent') %} parquet-meta__title--zmo{% endif %}" href="{{ area.referenced_cp.uniqueId | create_url }}">
            {% if provides(area.referenced_cp, 'zeit.magazin.interfaces.IZMOContent') %}
                {{ lama.use_svg_icon('logo-zmo', 'parquet-meta__logo parquet-meta__logo--zmo', request) }}
            {% else %}
                {{ area.title | hide_none }}
            {% endif %}
            </a>
        {% endif %}

        <div class="parquet-meta__links">
        {% if area.referenced_cp is not none and area.referenced_cp | topic_links | length %}
            <ul class="parquet-meta__topic-links">
                {% for label, link in area.referenced_cp | topic_links %}
                    <li>
                        <a href="{{ link }}" class="parquet-meta__topic-link">
                            {{ label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if area.read_more and area.read_more_url %}
            <a href="{{ area.read_more_url }}" class="parquet-meta__more-link">
                {{ area.read_more }}
            </a>
        {% endif %}
        </div>

    </div>
    <div class="parquet-teasers">
    {# XXX Do we really need the parquet-teasers divs? (ND) #}
{% endblock %}

{% block after_module_list %}
    </div>
{% endblock %}
