{% extends "zeit.web.core:templates/inc/area/default.html" %}

{% block before_module_list %}
    <div class="parquet-meta">

        {% block area_title %}
            {% if area.referenced_cp is none %}
                <span class="parquet-meta__title">
                    {% block area_title_text %}{{ area.title }}{% endblock %}
                </span>
            {% else %}
                <a class="parquet-meta__title" href="{{ area.referenced_cp.uniqueId | create_url }}">
                    {{ self.area_title_text() }}
                </a>
            {% endif %}
        {% endblock area_title %}

        {% block area_links %}
            <div class="parquet-meta__links">
            {% require topics = area.referenced_cp | topic_links %}
                <ul class="parquet-meta__topic-links">
                    {% for label, link in topics %}
                        <li>
                            <a href="{{ link }}" class="parquet-meta__topic-link">
                                {{ label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endrequire %}
            {% if area.read_more and area.read_more_url %}
                <a href="{{ area.read_more_url | create_url }}" class="parquet-meta__more-link {% block parquet_meta_more_link_additional_class %}{% endblock %}">
                    {{ area.read_more }}
                </a>
            {% endif %}
            </div>
        {% endblock area_links %}
    </div>
    <div class="parquet-teasers">
    {# XXX Do we really need the parquet-teasers divs? (ND) #}
{% endblock %}

{% block after_module_list %}
    </div>
{% endblock %}
