{% extends "zeit.web.core:templates/inc/area/default.html" %}

{% set module_layout = 'teaser-printkiosk' %}

{% block before_module_list %}
    <h3 class="printkiosk__title">{{ area.title }}</h3>
{% endblock %}

{% block module_list %}
    <div class="printkiosk__container">
        {{ super() }}
    </div>
{% endblock %}

{% block after_module_list %}
    {% set tracking_slug = '{}...{}'.format(region_loop.index, '-'.join([area.kind, module_layout])) %}
    <a  href="{{ area.read_more_url }}"
        data-id="{{ tracking_slug }}.paginationbutton"
        class="button printkiosk__button js-bar-teaser-paginate"
        data-sourceurl="{{ view.content_url }}/area/{{ area.uniqueId.rsplit('/', 1)[-1] }}?p=">
        {{ lama.use_svg_icon('shuffle', 'printkiosk__shuffle-icon', view.package) }}
        Weitere laden
    </a>
{% endblock %}
