{% extends "zeit.web.site:templates/inc/area/default.html" %}

{% set module_layout = 'teaser-printkiosk' %}

{% block before_module_list %}
    <h3 class="{{ module_layout }}-group__title">{{ area.title }}</h3>
{% endblock %}

{% block module_list %}
    <div class="{{ module_layout }}-group__container {{ module_layout }}-group__container--shop ">
        {{ super() }}
    </div>
{% endblock %}

{% block after_module_list %}
    <a href="http://www.zeitabo.de/magazin-angebote.html">
        <span class="button {{ module_layout }}-group__button {{ module_layout }}-group__button--default">Alle Angebote</span>
        <span class="button {{ module_layout }}-group__button {{ module_layout }}-group__button--jsdesktop
            {% if area.next_page %}js-bar-teaser-shuffle{% endif %}"
            data-sourceurl="{{ view.content_url }}/area/{{ area.uniqueId.rsplit('/', 1)[-1] }}?p={{ area.next_page }}">
            {{ lama.use_svg_icon('shuffle', '{}-group__shuffle-icon'.format(module_layout), request) }}
            Weitere laden
        </span>
    </a>
{% endblock %}
