{% extends "zeit.web.core:templates/inc/area/default.html" %}

{% block before_module_list %}
{% if area.query_string %}
<div class="search-counter">
    <div class="search-counter__hits"{% if area.hits %} id="search-area-has-hits"{% endif %}>
        {{ area.hits | default(0) | pluralize('Keine Suchergebnisse', '{} Suchergebnis', '{} Suchergebnisse') }} für &raquo;{{ area.query_string | truncate(120, True) }}&laquo;
    </div>
    <nav>
        <span class="search-counter__label">Sortieren nach</span>
        <a class="search-counter__link{% if area.sort_order == 'aktuell' %} search-counter__link--marked{% endif %}" href={{ view.request | append_get_params(sort='aktuell') }}>Aktualität</a>
        <a class="search-counter__link{% if area.sort_order == 'relevanz' %} search-counter__link--marked{% endif %}" href="{{ view.request | append_get_params(sort='relevanz') }}">Relevanz</a>
    </nav>
</div>
{% endif %}
{% endblock %}

{% block after_module_list %}
{% if area.pagination %}
    {% include "zeit.web.site:templates/inc/pagination.tpl" %}
{% endif %}
{% endblock %}
