<div class="{{ 'cp-area' | with_mods(area.kind) }}">
    {% block before_module_list %}{% endblock %}
    {% block before_module_include scoped %}{% endblock %}
    {% set module = area.values()[:1][0] %}
    {% set teaser = module | first_child %}
    {% set module_layout = 'teaser-topic-main' %}
    {% include "zeit.web.site:templates/inc/teaser_asset/{}_zon-topic.tpl".format(teaser | auto_select_asset | block_type)
        ignore missing with context %}
    {% include
        ["zeit.web.site:templates/inc/teaser/zon-topic-main.tpl",
         "zeit.web.site:templates/inc/teaser/default.tpl"] ignore missing %}
    <div class="teaser-topic-list">
    {% for module in area.values()[1:4] -%}
        {% set teaser = module | first_child %}
        {% include
            ["zeit.web.site:templates/inc/teaser/zon-topic-list.tpl",
             "zeit.web.site:templates/inc/teaser/default.tpl"] ignore missing %}
        {% block after_module_include scoped %}{% endblock %}
    {% endfor %}
    </div>
    {% block after_module_list %}{% endblock %}
</div>
