{% if view.volume_navigation %}
<div class="volume-heading__navigation">
    <div class="volume-heading__current">
        <span class="volume-heading__packshot">
            {% set packshot = view.volume_navigation.cover %}
            {% set packshot_layout = 'volume-heading' %}
            {% include "zeit.web.core:templates/inc/asset/image_packshot.tpl" ignore missing %}
        </span>
        <span class="volume-heading__cta">
            Lesen Sie diese Ausgabe als <a class="volume-heading__link" href="{{view.volume_navigation.link}}">E-Paper, App und auf dem E-Reader</a>.
        </span>
    </div>
    <span class="volume-heading__previous">
        {% if view.volume_previous %}
        <a class="volume-heading__previous-link" href="{{view.volume_previous.link}}">
            DIE ZEIT Nr. {{view.volume_previous.label}}
        </a>
        {% endif %}
    </span>
    <span class="volume-heading__next">
        {% if view.volume_next %}
        <a class="volume-heading__next-link" href="{{view.volume_next.link}}">
            DIE ZEIT Nr. {{view.volume_next.label}}
        </a>
        {% endif %}
    </span>
</div>
{% endif %}
