{% if view.volume_navigation %}
<div class="volume-navigation__navigation">
    <div class="volume-navigation__current">
        <span class="volume-navigation__packshot">
            {% set packshot = view.volume_navigation.cover %}
            {% set packshot_layout = 'volume-navigation' %}
            {% include "zeit.web.core:templates/inc/asset/image_packshot.tpl" ignore missing %}
        </span>
        <span class="volume-navigation__cta">
            Lesen Sie diese Ausgabe als <a class="volume-navigation__link" href="{{view.volume_navigation.link}}">E-Paper, App und auf dem E-Reader</a>.
        </span>
    </div>
    <a class="volume-navigation__previous" href="{{view.volume_previous.link}}">
        DIE ZEIT Nr. {{view.volume_previous.label}}
    </a>
    <a class="volume-navigation__next" href="{{view.volume_next.link}}">
        DIE ZEIT Nr. {{view.volume_next.label}}
    </a>
</div>
{% endif %}
