{% extends "zeit.web.core:templates/inc/area/default.html" %}

{% block before_module_list %}
    <div class="parquet-meta">
        <a class="parquet-meta__title parquet-meta__title--zett" href="{{ 'http://ze.tt/' | append_campaign_params }}">
            {{ lama.use_svg_icon('logo-zett', 'parquet-meta__logo parquet-meta__logo--zett', view.package) }}
        </a>
        <div class="parquet-meta__links">
            <div class="parquet-meta__more parquet-meta__more--zett">
                Geschichten, Ideen, Gefühle:
                <a class="parquet-meta__more-link parquet-meta__more-link--zett" href="{{ 'http://ze.tt/' | append_campaign_params }}">
                    ze.tt
                </a>
            </div>
        </div>
    </div>

    <div class="parquet-teasers">
{% endblock %}

{% block after_module_list %}
    </div>
{% endblock %}
