{% if view.breadcrumbs -%}
<nav class="breadcrumbs">
    <ul class="breadcrumbs__list" itemscope itemtype="http://schema.org/BreadcrumbList">
    {%- for breadcrumb in view.breadcrumbs -%}
        {%- set text = breadcrumb[0] -%}
        {%- set link = breadcrumb[1] -%}
        {%- set title = breadcrumb[2] -%}
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            {%- if link -%}
            <a class="breadcrumbs__link" itemprop="item" href="
                {{- link | create_url -}}
                " data-id="footernav.breadcrumbs.1.{{ loop.index }}.{{ text | format_webtrekk }}"
                {%- if title %} title="{{ title }}"{% endif -%}
                >
                {%- if title -%}
                    {{- text -}}
                    <meta itemprop="name" content="{{ title }}">
                {%- else -%}
                    <span itemprop="name">{{ text }}</span>
                {%- endif -%}
            </a>
            {%- else -%}
                <span itemprop="name">{{ text }}</span>
            {%- endif -%}
            <meta itemprop="position" content="{{ loop.index }}">
        </li>
    {% endfor -%}
    </ul>
</nav>
{%- endif %}
