{% if view.breadcrumbs -%}
<nav class="breadcrumbs" data-ct-row="breadcrumbs">
    <ul class="breadcrumbs__list" data-ct-column="1">
        <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ request.route_url('home') }}index" title="ZEIT ONLINE">Start</a>
        </li>
        {% for text, link in view.breadcrumbs -%}
        <li class="breadcrumbs__item">
            {%- if link -%}
                <a class="breadcrumbs__link" href="{{ link | create_url }}">{{ text }}</a>
            {%- else -%}
                {{ text }}
            {%- endif -%}
        </li>
        {% endfor -%}
    </ul>
</nav>
{%- endif %}
