{% if toggles('dataprotection_popover') %}
    <div id="data-protection-overlay" aria-hidden="true" class="data-protection data-protection--hidden">
        <div class="data-protection__wrapper">
            <div class="data-protection__main">
                <h3 class="data-protection__headline">{{ settings('dataprotection_headline') }}</h3>
                <p class="data-protection__description">{{ settings('dataprotection_text') }}</p>
            </div>
            <div class="data-protection__aside">
                <button class="data-protection__button" id="dataProtection-popover-dismiss">{{ settings('dataprotection_button') }}</button>
            </div>
        </div>
    </div>
{% endif %}
