{% extends "zeit.web.core:templates/amp/layout.html" %}

{% block symbols %}
	{% include "zeit.web.static:css/web.campus/amp.svg" %}
{% endblock symbols %}

{% block logo %}
	<div class="article__item article__item--wide">
		<a itemprop="url" href="{{ request.route_url('home') }}campus/index">
			<meta itemprop="name" content="ZEIT Campus">
			<svg class="header__logo" itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
				<use xlink:href="#svg-logo-zco"/>
				{# The "logo" dimensions must not exceed 600x60 -#}
				<meta itemprop="url" content="{{ request.asset_host }}/images/structured-data-publisher-logo-zco.png">
                <meta itemprop="width" content="347">
                <meta itemprop="height" content="60">
			</svg>
		</a>
	</div>
{% endblock logo %}

{% block footer_logo %}
	<a href="{{ request.route_url('home') }}campus/index">
		<svg class="footer__logo">
			<use xlink:href="#svg-logo-zco"/>
		</svg>
	</a>
{% endblock footer_logo %}

{% block style %}
	<style amp-custom>
		{% include "zeit.web.static:css/web.campus/amp.css" %}
	</style>
{% endblock style %}
