.cardstack
	margin: $vertical-space--small 0
	text-align: center

	// &__container
	background-color: $color-background--light
	padding-bottom: remify(30px)

	&__link
		border-bottom: 1px solid #ddd
		color: $color-text
		+on-interaction
			border-bottom-color: #999
			color: $color-article-primary

	+respond-min($break-tablet-min)
		margin: $vertical-space $cp-padding

		// &__container
		background-color: transparent
		padding: 0
		position: relative
		&:before
			background-color: $color-background--light
			content: ""
			display: block
			height: 0
			padding-bottom: 100%
			position: absolute
			top: 0
			width: 100%
