.cp-region
	+pie-clearfix

+respond-min($break-tablet-min)
	.cp-region
		&--duo,
		&--trio,
		&--topic-variant
			padding: $cp-padding

	.cp-area
		float: left
		&--solo
			float: none
			width: 100%
		&--major
			width: 66.66%
		&--duo
			width: 50%
		&--trio,
		&--minor
			width: 33.33%
