
+respond-min($break-tablet-min)
	.cp-region
		+pie-clearfix

		&--duo,
		&--trio,
		&--topic-variant
			padding: 0 $cp-padding

	.cp-area
		&--major
			float: left
			width: 66.66%
		&--duo
			float: left
			width: 50%
		&--trio,
		&--minor
			float: left
			width: 33.33%
