.cp-quiz
	margin: $vertical-space 0
	+respond-min($break-tablet-min)
		margin: $vertical-space $cp-padding
		position: relative
		&:before
			background-color: $color-background--light
			content: ""
			display: block
			height: 0
			padding-bottom: 100%
			position: absolute
			top: 0
			width: 100%
	&__iframe
		border: none
		height: rem(450px)
		width: 100%
		+respond-min($break-tablet-min)
			padding: rem(30px) rem(30px) 0
		+respond-min($break-desktop-min)
			height: rem(550px)
			padding: rem(40px) rem(35px) 0
			width: rem(390px)
