.quiz
	margin: $vertical-space 0
	+respond-min($break-tablet-min)
		margin: $vertical-space $cp-padding
	&__iframe
		border: none
		+respond-min($break-tablet-min)
			padding: rem(30px) rem(30px) 0
		+respond-min($break-desktop-min)
			height: rem(550px)
			padding: rem(40px) rem(35px) 0
			width: rem(390px)
