.teaser-topic
	+clearfix
	+font-smoothing
	background-color: $color-topics-primary
	padding: remify(20px $page-padding--small 24px)
	position: relative
	&__media
		bottom: 0
		left: 0
		opacity: 0.1
		position: absolute
		right: 0
		top: 0
		&.is-pixelperfect
			img
				min-height: 100%
				min-width: 100%
				width: auto

.teaser-topic-main
	position: relative
	&__heading
		@extend %font-beckett
		+scaled-font(42px, $title-factor)
		margin: remify(0 0 24px)
	&__combined-link
		display: block
	&__kicker
		color: #000
		&:after
			content: ' / '
	&__title
		color: #fff
	&__button
		border: 3px solid #fff
		color: #fff
		display: inline-block
		+scaled-font(16px)
		font-weight: bold
		letter-spacing: 0.01em
		margin: remify(0 0 28px)
		min-width: remify(160px)
		padding: remify(6px 8px)
		text-align: center
		+on-interaction
			background-color: #fff
			color: $color-topics-primary

.teaser-topic-list
	position: relative

.teaser-topic-item
	&:after
		border-bottom: 4px solid #fff
		content: ""
		display: block
		height: 0
		margin: remify(24px 0)
		width: remify(50px)
	&:last-child:after
		content: none
	&__heading
		margin: 0
	&__combined-link
		display: block
	&__kicker
		color: #E6EDEE
		display: block
		+scaled-font(12px)
		font-weight: bold
		letter-spacing: $letter-spacing-l
		line-heigth: round-to-precision(15/12, $precision: 1)
		margin-bottom: remify(12px)
		text-transform: uppercase
	&__title
		@extend %font-beckett
		color: #fff
		display: block
		+scaled-font(28px, $title-factor)

+respond-min($break-tablet-min)
	.teaser-topic
		padding: remify(50px $cp-padding)
	.teaser-topic-main
		float: left
		margin-top: remify(4px)
		padding: remify(0 30px)
		width: 58%
		&__heading
			+scaled-font(64px, $title-factor)
	.teaser-topic-list
		float: right
		padding: remify(0 30px 0 $cp-padding)
		width: 42%
	.teaser-topic-item
		&__title
			+scaled-font(26px, $title-factor)

+respond-min($break-desktop-min)
	.teaser-topic-main
		width: 66.66%
	.teaser-topic-list
		width: 33.33%
