.teaser-topic-variant
    +pie-clearfix
    position: relative
    padding-top: remify(25px) // use padding to center label vertically
    margin-top: $page-padding--small // use margin to adjust teaser in cp design

    &__media
        background-color: $greyish-white
        height: 0
        padding-bottom: 100% / 16 * 9 // image variant 'wide' (16:9)
        width: 100%


.teaser-topic-variant-list
    border-bottom: 1px solid $color-border

    /* this kinda sucks */
    /* last kicker in teaserlist should be pink */
    article:last-child
        span:first-child
            color: $color-community-primary


.teaser-topic-variant-main
    position: absolute
    top: 0
    left: 50%
    +transform(translateX(-50%))
    background-color: $primary-color
    padding: remify(10px) remify(15px)

    &__heading
        @extend %font-beckett
        margin: 0
        padding: 0
        font-size: remify(26px)
        a
            color: $white

    &__kicker
        vertical-align: sub


+respond-min($break-tablet-min)
    .teaser-topic-variant
        margin: $cp-padding
        padding: 0
        &__media
            width: 50%
            float: left
            padding-bottom: 50% / 3 * 4 // image variant 'portrait' (3:4), refers to half-width

    .teaser-topic-variant-list
        padding-top: remify(130px)
        padding-left: $page-padding--small
        border: none
        float: left
        width: 50%

    .teaser-topic-variant-main
        top: remify(20px)
        padding: remify(10px) remify(25px)
        &__heading
            font-size: remify(36px)

+respond-min($break-desktop-min)
    .teaser-topic-variant-main
        top: remify(25px)

    .teaser-topic-variant-list
        padding-top: remify(140px)
