.teaser-topic-alternative
    position: relative

    &__media

    .teaser-topic-alternative-list

    .teaser-topic-main
        position: absolute
        top: 0

        &__kicker,
        &__text,
        &__metadata
            display: none
        .visually-hidden
            display: none
