.teaser-topic-variant
	@extend %teaser
	+clearfix
	position: relative
	padding: remify(25px 0 $page-padding--small) // use padding to center label vertically
	margin-top: $page-padding--small // use margin to adjust teaser in cp design

	&__media
		@extend %teaser-media
		overflow: hidden
		padding-bottom: 100% / 16 * 9 // image variant 'wide' (16:9)


.teaser-topic-variant-main
	+transform(translateX(-50%))
	left: 50%
	position: absolute
	top: 0

	&__heading
		@extend %font-beckett
		+font-smoothing
		background-color: $color-background--dark
		color: $white
		display: inline-block
		font-size: remify($font-size-26)
		margin: 0
		padding: remify(10px 15px)

	&__kicker
		color: $white
		vertical-align: sub


+respond-min($break-tablet-min)
	.teaser-topic-variant
		margin: $page-padding
		padding: 0
		&__media
			width: 50%
			width: calc(50% - #{$cp-padding})
			float: left
			padding-bottom: 50% / 3 * 4 // image variant 'portrait' (3:4), refers to half-width

	.teaser-topic-variant-list
		padding: remify(20px) 0 0 $cp-padding
		float: right
		width: 50%

	.teaser-topic-variant-main
		+transform(none)
		position: static
		margin-left: remify(-40px)

		&__heading
			font-size: remify($font-size-36)
			padding: remify(8px 20px)

+respond-min($break-desktop-min)
	.teaser-topic-variant-main
		margin-left: remify(-45px)

		&__heading
			padding: remify(14px 25px)
