{% import '{}:templates/macros/layout_macro.tpl'.format(view.package) as lama %}
<script type="text/template" id="image-copyright-template">
    <div class="image-copyright-footer" id="bildrechte">
        <div class="image-copyright-footer__container">
            <button class="image-copyright-footer__button js-image-copyright-footer-close" title="schließen">
                {{ lama.use_svg_icon('close', 'image-copyright-footer__icon', request, inline=view.inline_svg_icons) }}
            </button>
            <h2 class="image-copyright-footer__headline">
                Bildrechte auf dieser Seite
            </h2>
            <ul class="image-copyright-footer__items" id="image-copyright-items">
            </ul>
            <button class="image-copyright-footer__button js-image-copyright-footer-close">
                Bereich schließen
            </button>
        </div>
    </div>
</script>
