<script>
    window.ZMO = {
        scriptsURL: '{{ request.registry.settings.scripts_url | hide_none }}',
        view: {
            {% for key, value in view.js_vars -%}
                '{{ key }}': '{{ value | remove_break }}',
            {% endfor -%}

            {# use to get view values savely #}

            get: function( key ) {
                return this[key] ? this[key] : '';
            }
        },
        {% if view.is_wrapped -%}
        is_wrapped: true,
        wrapped: {
            client: /Android/i.test(navigator.userAgent) ? 'android' : 'ios',
            ivwclient: this.client === 'android' ? 'aadzeion' : 'appzeion'
        },
        {% endif -%}
        clientWidth: Math.max( document.documentElement.clientWidth || 0, window.innerWidth || 0 ),
        mobileWidth: 768,
        noliquidMaxWidth: 1024,
        sideAdMinWidth: 998,
        maxWidth: 1280,
        isMobileView: function() {
            return this.clientWidth < this.mobileWidth;
        },
        getSiteParam: function( concatString ) {
            concatString = concatString || '';
            if ( this.isMobileView() ) {
                if ( this.is_wrapped ) {
                    return this.wrapped.ivwclient + concatString;
                }
                return "mobile" + concatString;
            }
            return "desktop" + concatString;
        },
        viewport: {
            meta: document.getElementById('viewport-meta'),
            standard: document.getElementById('viewport-meta').getAttribute('content'),
            banner: 'width=1280',
            set: function( key ) {
                this.meta.setAttribute( 'content', this[ key ] );
                {# update clientWidth after swicth #}
                ZMO.clientWidth = Math.max( document.documentElement.clientWidth || 0, window.innerWidth || 0 );
            },
            isLandscape: function() {
                if ( window.matchMedia ) {
                    return window.matchMedia( '(orientation: landscape)' ).matches;
                }

                var orientation = screen.orientation || screen.mozOrientation || screen.msOrientation,
                    angle;

                if ( typeof orientation === 'string' ) {
                    return /^landscape/.test( orientation );
                }

                if ( typeof orientation === 'object' ) {
                    angle = orientation.angle;
                } else if ( 'orientation' in window ) {
                    angle = window.orientation;
                }

                return Math.abs( angle ) === 90;
            }
        },
        breakpoint: {
            get: function () {
                try {
                    return window.getComputedStyle( document.querySelector('body'), ':before' ).getPropertyValue( 'content' ).replace( /\W/g, '' ) || 'desktop'; // replace " and ' at last
                } catch( e ) {
                    return 'desktop';
                }
            },
            getTrackingBreakpoint: function() {
                var point = this.get();
                return point === 'desktop' ? 'stationaer' : point;
            }
        },
        communityHost: '{{ request.registry.settings.community_host }}'
    };


{%- if view.context.advertising_enabled %}
    {%- if view.banner_toggles('viewport_zoom') == 'tablet' %}
    {# /* ZON style: set viewport for tablets */ #}

    if ( screen.width >= window.ZMO.mobileWidth && screen.width < window.ZMO.maxWidth ) {
        window.ZMO.viewport.set( 'banner' );
    }

    {%- elif view.banner_toggles('viewport_zoom') == 'tablet-landscape' %}
    {# /* ZMO style: set viewport for tablets in landscape mode */ #}

    if ( screen.width >= window.ZMO.mobileWidth && screen.width < window.ZMO.maxWidth && window.ZMO.viewport.isLandscape() ) {
        window.ZMO.viewport.set( 'banner' );
    }

    {%- endif %}
{%- endif %}

</script>
