<script>
    window.ZMO = {
        scriptsURL: '{{ request.registry.settings.scripts_url | hide_none }}',
        view: {
            {% for key, value in view.js_vars -%}
                '{{ key }}': '{{ value | remove_break }}',
            {% endfor -%}

            {# use to get view values savely #}

            get: function( key ) {
                return this[key] ? this[key] : '';
            }
        },
        clientWidth: Math.max( document.documentElement.clientWidth, window.innerWidth || 0 ),
        mobileWidth: 768,
        isMobileView: function() {
            return this.clientWidth < this.mobileWidth;
        },
        viewport: {
            meta: document.getElementById('viewport-meta'),
            standard: document.getElementById('viewport-meta').getAttribute('content'),
            landscape: 'width=1280',
            set: function() {
                if ( screen.width === window.ZMO.mobileWidth && Math.abs( window.orientation ) === 90 ) {
                    this.meta.setAttribute( 'content', this.landscape );
                } else {
                    this.meta.setAttribute( 'content', this.standard );
                }
            }
        },
        breakpoint: {
            value: '',
            refreshValue: function () {
                this.value = window.getComputedStyle(document.querySelector('body'), ':before').getPropertyValue('content').replace(/\"/g, '').replace(/\'/g, '') || 'desktop';
                // we need the fallback to desktop to account for a proper value in IE 8 !
            }
        }
    };

{%- if view.context.advertising_enabled and view.banner_toggles('viewport_zoom') %}
    window.ZMO.viewport.set();
    if ( window.addEventListener ) {
        window.addEventListener( 'resize', function() { window.ZMO.viewport.set(); }, false );
    }
{%- endif %}
</script>
