// margins and paddings
$gutter:				remify(20px)
$page-padding:			remify(20px)
$page-padding--small:	remify(14px)
$cp-padding:			remify(10px)
$vertical-space:		remify(20px)
$vertical-space--small:	remify(14px)

@import "../constants"

// semantic colors
$primary-color: #252525
$zco-charcoal: #313131
$zco-accent: #005AFF

$color-article-primary: #005aff
$color-article-secondary: #f8e71c
$color-topics-primary: $color-article-primary // was #943fff
$color-topics-secondary: $color-article-secondary // was #ffa500
$color-tools-primary: #1cdcb5
$color-tools-secondary: #f54a2b
$color-community-primary: #f55697
$color-community-secondary: #00e6e6
$color-body-bg: #ddd
$color-body-text: #333
$color-background: #e6edee !default
$color-background--light: #f0f4f5
$color-background--dark: #252525
$color-page-bg: #fff !default
$color-text: #313131
$color-text--light: #707070
$color-text-highlighted: #f00
$color-text--on-dark: #eee
$color-link--default: $color-article-primary
$color-link--visited: $color-article-primary
$color-link--hover: $color-text
$color-link--active: $color-text
$color-link--focus: $color-text
$color-input: #0f0
$color-input-bg: #0f0
$color-input-border: #0f0
$color-input--focus: #0f0
$color-input-bg--focus: #0f0
$color-input-border--focus: #0f0
$color-input--error: #0f0
$color-input-bg--error: #0f0
$color-input-border--error: #0f0
$color-border: #ddd
$color-tools-bg: #1cdcb5
$color-tools-text: #f54a2b
$color-teaser-meta: #707070
$color-separator: #ccc
$color-facebook: #3b5998

// font sizes
$font-size-12: 12px !default
$font-size-13: 13px !default
$font-size-14: 14px !default
$font-size-15: 15px !default
$font-size-16: 16px !default
$font-size-17: 17px !default
$font-size-18: 18px !default
$font-size-20: 20px !default
$font-size-21: 21px !default
$font-size-24: 24px !default
$font-size-26: 26px !default
$font-size-28: 28px !default
$font-size-30: 30px !default
$font-size-32: 32px !default
$font-size-36: 36px !default
$font-size-42: 42px !default
$font-size-44: 44px !default
$font-size-48: 48px !default
$font-size-64: 64px !default
$font-size-82: 82px !default
$font-size-84: 84px !default
$font-size-112: 112px !default
