@import "../constants"

// semantic colors
$color-body-bg: #41464d
$color-body-text: #000
$color-page-bg: #fff
$color-text: #000
$color-text-highlighted: #f00
$color-link--default: #0f0
$color-link--visited: #0f0
$color-link--hover: #0f0
$color-link--active: #0f0
$color-link--focus: #0f0
$color-input: #0f0
$color-input-bg: #0f0
$color-input-border: #0f0
$color-input--focus: #0f0
$color-input-bg--focus: #0f0
$color-input-border--focus: #0f0
$color-input--error: #0f0
$color-input-bg--error: #0f0
$color-input-border--error: #0f0
$color-border: #0f0

// margins and paddings
$page-padding: remify(20px)
$cp-padding: remify(10px)
$vertical-space: remify(20px)
