// margins and paddings
$gutter:				remify(20px)
$page-padding:			remify(20px)
$page-padding--small:	remify(14px)
$cp-padding:			remify(10px)
$vertical-space:		remify(20px)
$vertical-space--small:	remify(14px)

@import "../constants"

// semantic colors
$primary-color: #252525
$zco-charcoal: #313131
$zco-accent: #005AFF

$color-article-primary: #005aff
$color-article-secondary: #f8e71c
$color-topics-primary: $color-article-primary // was #943fff
$color-topics-secondary: $color-article-secondary // was #ffa500
$color-tools-primary: #1cdcb5
$color-tools-secondary: #f54a2b
$color-community-primary: #f55697
$color-community-secondary: #00e6e6
$color-body-bg: #ddd
$color-body-text: #333
$color-background: #e6edee
$color-background--light: #f0f4f5
$color-page-bg: #fff
$color-text: #313131
$color-text-highlighted: #f00
$color-link--default: $color-article-primary
$color-link--visited: $color-article-primary
$color-link--hover: $color-text
$color-link--active: $color-text
$color-link--focus: $color-text
$color-input: #0f0
$color-input-bg: #0f0
$color-input-border: #0f0
$color-input--focus: #0f0
$color-input-bg--focus: #0f0
$color-input-border--focus: #0f0
$color-input--error: #0f0
$color-input-bg--error: #0f0
$color-input-border--error: #0f0
$color-border: #ddd
$color-tools-bg: #1cdcb5
$color-tools-text: #f54a2b
$color-teaser-meta: #707070
$color-separator: #ccc
