// ZEIT ONLINE CSS Coding Guidelines
// https://github.com/ZeitOnline/coding-guidelines/blob/master/css/guidelines.md

@import "utils"
@import "functions"
@import "constants"
@import "mixins"

$logo-width: remify(185px)
$logo-height: remify(33px)

$color-kicker: $color-article-primary
$color-headline: $color-text
$color-summary: $color-text
$color-metadata: $color-text

$copytext-font-family: $font-tabletgothic
$copytext-font-size: remify(17px)
$caption-background-color: $color-background--light
$caption-font-style: normal
$caption-max-width: none

@import "web.core/amp"
@import "modules/amp/header"
@import "modules/amp/article"
