.article
	+respond-min($break-tablet-min)
		max-width: remify(660px)
		margin-left: auto
		margin-right: auto

.byline,
	letter-spacing: $letter-spacing-s

.summary
	font-size: em(18px)
	margin-bottom: remify(10px)

	+respond-min($break-desktop-min)
		font-size: em(22px)
