
+respond-min($break-tablet-min)
	.article
		&__item
			max-width: $medium-content-width
			margin-left: auto
			margin-right: auto

.byline
	font-size: remify(15px)
	color: $color-text--light
	letter-spacing: $letter-spacing-s
	display: inline-block
	&:after
		content: "\002c\00a0"

.summary
	font-size: remify(18px)
	margin-bottom: remify(10px)

	+respond-min($break-desktop-min)
		font-size: remify(22px)
