.article-footer
	border-top: 1px solid $zar-white
	clear: both
	margin: remify($vertical-space auto)
	position: relative
	+respond-min($break-tablet-min)
		margin: remify($vertical-space--large auto)
