.article-heading
	margin: 0
	padding-top: remify(16px)
	padding-bottom: remify(16px)
	&__kicker
		color: $zar-darkish-pink
		display: block
		font-variant-ligatures: none
		font-size: remify(16px)
		font-weight: normal
		letter-spacing: $letter-spacing-l
		margin-bottom: remify(16px)
	&__title
		color: $primary-color
		display: block
		font-family: $font-patronbold
		font-size: remify(32px)
		line-height: 1.3
		margin-left: auto
		margin-right: auto
		max-width: $wide-content-width
		&--underlined
			background-image: linear-gradient(90deg, $zar-sun-yellow, $zar-sun-yellow)
			background-size: auto 4px
			background-repeat: repeat-x
			// use em here deliberately to match underline's position with
			// parent's font-size across viewports
			background-position: 0 1.18em
			text-shadow: -2px 3px $white, 2px 3px $white

+respond-min($break-tablet-min)
	.article-heading
		padding-bottom: remify(40px)
		padding-top: remify(60px)
		&__kicker
			font-size: remify(20px)
			margin-bottom: remify(40px)
			margin-left: auto
			margin-right: auto
			max-width: $medium-content-width
			-webkit-text-stroke-width: remify(1.5px)
		&__title
			font-size: remify(60px)
			&--underlined
				background-size: auto 7px
				text-shadow: -4px 6px $white, 4px 6px $white
