$article-tags-margin-right-small: 7px
$article-tags-margin-right-large: 16px

.article-tags
	clear: both
	font-size: remify(14px)
	letter-spacing: $letter-spacing-s
	&__title
		font-family: $font-patronbold
		color: $color-text
		font-size: remify(16px)
		margin: remify(0 0 4px)
	&__list
		list-style-type: none
		margin: 0
		padding: 0
		li
			display: inline
	&__link
		+link
			color: $color-link-on-grey
			+respond-min($break-tablet-min)
				color: $color-text
				box-shadow: 0 1px 0 $color-text
		+on-interaction
			color: $color-link--hover
			+respond-min($break-tablet-min)
				color: $zar-darkish-pink
				box-shadow: 0 1px 0 $zar-darkish-pink
		background-color: $zar-whitesmoke
		border-radius: .36em
		margin: remify(7px $article-tags-margin-right-small 0 0)
		padding: remify(4px 12px 5px)
		display: inline-block

+respond-min($break-tablet-min)
	.article-tags
		font-size: remify(16px)
		&__title
			display: inline-block
			margin-right: remify($article-tags-margin-right-large)
			&:after
				content: "\003a"
		&__list
			font-family: $font-patronbold
			display: inline
		&__link
			background-color: transparent
			border-radius: 0
			line-height: 1.1em
			margin: remify(8px $article-tags-margin-right-large 0 0)
			padding: 0
