.article-heading
	margin-top: remify(16px)
	margin-bottom: remify(16px)
	&__kicker
		display: block
		font-weight: normal
		color: $zar-darkish-pink
		font-size: remify(16px)
		letter-spacing: $letter-spacing-l
		margin-bottom: remify(16px)

	&__title
		max-width: $wide-content-width
		font-family: $font-patronbold
		color: $primary-color
		display: block
		font-size: remify(32px)
		line-height: 1.3
		margin-left: auto
		margin-right: auto

+respond-min($break-tablet-min)
	.article-heading
		margin-top: remify(60px)
		margin-bottom: remify(40px)
		&__kicker
			max-width: $medium-content-width
			margin-right: auto
			margin-bottom: remify(40px)
			margin-left: auto
			font-size: remify(20px)
		&__title
			font-size: remify(60px)
