.nextread-advertisement
	+font-smoothing
	+padded
	+unpadded
	background-color: $color-jobs-areas
	color: #fff
	position: relative
	&__label
		@extend %teaser-adlabel
		color: #fff
		position: absolute
		top: remify(6px)
		right: $page-padding--small

	&__media
		background-image: url('/static/latest/images/arbeit/jobbox/cans.png')
		background-position: center
		background-repeat: no-repeat
		width: remify(198px)
		height: remify(150px)
		margin: remify(0 auto 24px)
		background-size: 100%
		opacity: 0.92

	&__container
		margin: 0 auto
		max-width: $medium-content-width
		padding: $vertical-space 0
		text-align: center

	&__title
		@extend %teaser-title--m
		margin-top: remify(10px)

	&__text
		font-size: remify(18px)
		line-height: 1.5

	&__button
		@extend %zar-button-hollow--nextread-ad
		margin: remify(8px) 0
		vertical-align: middle

+respond-min($break-phablet-min)
	.nextread-advertisement
		&__media
			float: right
			margin: remify(10px) 0 0 $cp-padding
		&__container
			+pie-clearfix
			text-align: left
		&__label
			right: $page-padding
