.print-menu
	display: none

	&__link
		color: $zon-grey
		font-size: remify(14px)
		letter-spacing: $letter-spacing-s
		+on-interaction
			color: $zon-dark-grey

	+respond-min($break-desktop-min)
		display: block

.sharing-menu
	left: auto
	line-height: remify(35px)
	right: 0
