.protocolbox
	+unpadded
	margin-top: remify(40px)
	background-color: $primary-color

	&__container
		+font-smoothing
		padding: remify(0 30px 30px 30px)
		text-align: center

	&__title
		font-family: $font-patronbold
		color: #fff
		font-size: remify(20px)
		line-height: 1.3

	&__subtitle
		font-family: $font-franziska
		color: #99999c
		font-size: remify(18px)
		line-height: 1.22

	&__text
		font-family: $font-tabletgothic
		color: #fff
		font-size: remify(15px)
		line-height: 1.47
		margin: 0
