.profilebox
	+unpadded
	margin-top: remify(40px)
	background-color: $primary-color

	&__media
		+reserve-space-for-teaser-media(100% / 16 * 9)

	&__media--tablet-desktop
		display: none

	&__container
		+font-smoothing
		padding: remify(0 30px 30px 30px)
		text-align: center

	&__title
		font-family: $font-patronbold
		color: #fff
		font-size: remify(20px)
		line-height: 1.3
		margin: remify(20px 0 5px 0)

	&__subtitle
		font-family: $font-franziska
		color: $zar-cool-grey
		font-size: remify(18px)
		font-weight: normal
		line-height: 1.22
		margin: remify(5px 0 20px 0)

	&__text
		font-family: $font-tabletgothic
		color: #fff
		font-size: remify(15px)
		line-height: 1.47
		margin: 0

	&__text-switch
		display: none

	&__text-content
		&:before
			content: ''
			background-color: $zar-cool-grey
			display: block
			height: remify(30px)
			margin: 0 auto remify(20px) auto
			width: remify(1px)
		// content is a markup field in Vivi. We need to handle that.
		> p:first-child
			margin-top: 0
		> p:last-child
			margin-bottom: 0
		a
			color: currentColor
			border-bottom: 1px $zar-cool-grey solid
			+on-interaction
				color: $zar-whitesmoke
				border-color: currentColor
		ul
			display: inline-block
			max-width: remify(400px)
			text-align: left

+respond-min($break-tablet-min)
	.profilebox
		margin-bottom: remify(60px)
		&__text-content:before
			height: remify(60px)

// Gibts überhaupt Browser die flex können, aber kein @supports?
// ja, leider. Also: `html.flexbox` noch dazu, ohne Code-Doppelung
//
// Now we need a 60-40-Design which has a covering image,
// regardless the text length.
@supports (display: flex)
	+respond-min($break-tablet-min)
		.profilebox
			display: flex
			&__media
				display: none
			// background (instead of img) is needed for full-covering the box
			&__media--tablet-desktop
				display: block
				background-repeat: no-repeat
				background-position: center
				background-size: cover
				min-height: remify(350px)
				width: 60%
			&__container
				display: flex
				flex-direction: column
				justify-content: center
				width: 40%

	+respond-min($break-desktop-min)
		.profilebox
			&__media--tablet-desktop
				min-height: remify(450px)

// toggle-button on mobile
+respond-max($break-tablet-min)
	.js .profilebox
		&__text-switch
			border-bottom: 1px $zar-battleship-grey solid
			color: $zar-cool-grey
			display: inline
			letter-spacing: $letter-spacing-s
			&[role="button"]
				cursor: pointer
			&[aria-expanded="true"]
				display: none
			&:before
				content: '+'
		&__text-content
			display: none
			&[aria-hidden="false"]
				display: block

