.quote
	color: $color-text
	margin: remify(40px) auto
	width: 90%
	+respond-min($break-tablet-min)
		max-width: remify(600px)
	+respond-min($break-desktop-min)
		max-width: remify(820px)
		width: 100%

	&__text
		font-family: $font-patronbold
		font-size: remify(22px)
		letter-spacing: $letter-spacing-s
		line-height: 1.3
		margin: 0
		+respond-min($break-desktop-min)
			font-size: remify(28px)
			line-height: 1.4

	&__source
		display: inline-block
		font-family: $font-tabletgothic
		font-size: remify(15px)
		margin-top: remify(14px)
		&:before
			content: $svg-arrow-right-40px
			display: inline-block
			fill: currentColor
			margin-right: remify(8px)
		+respond-min($break-tablet-min)
			font-size: remify(16px)
			line-height: 1.2
		+respond-min($break-desktop-min)
			font-size: remify(17px)

	&__link
		color: currentColor
		+on-interaction
			color: $zar-marigold

.quote--share
	background-color: $zar-sun-yellow
	width: 100%

	// TODO: Warum ist das überhaupt ein article__item? Und die Buttons nicht?
	// Und muss das so kompliziert sein???
	&.article__item
		margin-bottom: 0
		padding: remify($page-padding--small)
		+respond-min($break-tablet-min)
			padding: remify($page-padding)

	.quote__link
		line-height: 1.4
		+on-interaction
			border-bottom: 1px currentColor solid
			color: currentColor

.quote--share + .quote--share
	margin-top: 0

// TODO: Breite lieber abstrakt oder simpel halten? Oder Container?
// Warum ist das so ruckelig hier?

.quote-sharing
	text-align: right

	&__label
		display: inline

	&__items
		display: inline
		list-style: none
		margin: 0
		padding: 0
		text-align: right

	&__item
		display: inline-block

	&__text
		display: none // TODO: lieber visuallyhidden



.quote-sharing
	&__link
		color: $color-text
		+on-interaction
			color: $zar-grey
		&--facebook
			+on-interaction
				color: $color-facebook
		&--twitter
			+on-interaction
				color: $color-twitter

+respond-max($break-tablet-min)
	.quote--share + .quote--share
		border-top: 1px #fff solid

	.quote-sharing
		&__item
			border-left: 1px #fff solid
		&__label
			padding: remify($page-padding--small)

		&__item
			padding: remify($page-padding--small)

+respond-min($break-tablet-min)
	.quote-sharing
		&__label
			padding: remify($page-padding--small 5px)
		&__items
			padding-right: remify($page-padding)
		&__item
			padding: remify($page-padding--small 5px)
