@import "web.core/modules/article/sharing-menu"

.sharing-menu
	margin-bottom: $vertical-space
	&__link
		transition: all 0.15s ease-in-out
	&__text
		font-family: $font-patronbold
		font-size: remify(16px)
		letter-spacing: $letter-spacing-s
		text-transform: none
	// TABLET
	+respond-min($break-tablet-min)
		&__icon
			margin: remify(-3px 8px 0 12px)
			&--facebook
				margin: remify(-2px 11px 0 15px)
