.sharing-podcast
	&__items
		list-style-type: none
		text-align: right
		margin: 0 // override user-agent styles
		padding-top: remify(10px)
	&__item
		display: inline
		margin-left: remify(20px)
	&__icon
		color: inherit
		vertical-align: middle
	&__link
		color: $zar-darkslate-grey

	+respond-min($break-tablet-min)
		max-width: $medium-content-width
		margin: 0 auto
		&__item
			&--whatsapp,
			&--messenger
				display: none
