@import "web.core/modules/article/sharing-menu"

.sharing-menu
	margin: remify($vertical-space 0)
	&__link
		transition: all 0.15s ease-in-out
	&__text
		font-family: $font-patronbold
		font-size: em(16px)
		letter-spacing: $letter-spacing-s
		text-transform: none
	// TABLET
	+respond-min($break-tablet-min)
		margin: remify($vertical-space--large 0)
		&__icon
			&--facebook
				margin: remify(-2px 11px 0 15px)
