@import "web.core/modules/article/sharing-menu"

.sharing-menu
	margin: remify($vertical-space 0)
	&__link
		transition: all 0.15s ease-in-out

	// TABLET
	+respond-min($break-tablet-min)
		margin: remify($vertical-space--large 0)
