.podcast-sharing
	padding-bottom: remify(16px)
	padding-top: remify(16px)

	&__podlove
		float: left
		margin-right: remify(12px)
		// avoid jumping while the JS loads
		max-height: remify(30px)
		max-width: remify(110px)
		overflow: hidden

	&__link
		border-bottom: 1px $color-link--default solid
		font-size: remify(14px)
		+on-interaction
			color: $color-text
			border-bottom: 1px $color-text solid
		&:after
			content: " \203A"
