.zplus-badge
	display: none
	display: flex
	margin: remify($vertical-space/2 0)
	&__link
		color: $color-text--light
		display: flex
		align-items: center
	&__text
		font-size: remify(15px)
		letter-spacing: $letter-spacing-s
		vertical-align: middle
