# @see: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Global styles
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# HTML templates and CSS files
[*.{html,tpl}]
indent_style = space
indent_size = 4

[*.{sass, scss, css}]
indent_style = tab
indent_size = 4
