{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "arrow-parens": ["error", "as-needed"]
  }
}
