*.pyc
*.pyo
.Python
.installed.cfg
bin/
develop-eggs
dist
downloads
eggs
include
lib/
lib64
parts
src/*.egg-info
.*
/node_modules/
src/zeit/frontend/css
src/zeit/frontend/js
/.sass-cache/
.DS_Store
/profiles/
frontend.ini
buildout.cfg
/photobox/
ghostdriver.log
pyramid.log
pyramid.pid

/buildout_overrides.cfg
