*.pyc
*.pyo
.Python
dist
src/*.egg-info
.*
setuptools_git-*
src/zeit/web/static/css
src/zeit/web/static/js
javascript/documentation
/.sass-cache/
.DS_Store
/node_modules/
tools/resource
tools/resource.meta
