*.pyc
*.pyo
.DS_Store
.Python
.sass-cache
/bower_components/
/node_modules/
javascript/documentation
sass/icons-minified
setuptools_git-*
src/*.egg-info
src/zeit/frontend/css
src/zeit/frontend/js
tools/resource
tools/resource.meta
