
.teaser-landscape-large
    @extend %teaser
    margin-top: $compact
    padding-top: 0

    &__image
        @extend %teaser__image
        height: $cp_button__image-height--large
        +respond-min($break-2)
            height: $cp_button__image-height--large

    &__title__wrap
        @extend %teaser__title__wrap
        padding: 0 $compact 0 $compact
        +respond-min($break-2)
            padding: 0 0 0 0

    &__supertitle
        @extend %teaser__supertitle

    &__title
        @extend %teaser__title

    &__subtitle
        @extend %teaser__subtitle
