.cp-area--ranking .teaser
	@extend %teaser
	margin: 0 auto
	min-height: initial
	padding-bottom: remify(40px)
	max-width: remify(680px)
	+respond-min($break-1)
		padding: $vertical-space $cp-padding

	&__media
		@extend %teaser__media
		background-color: transparent
		display: block
		max-height: initial
		+respond-min($break-1)
			display: table-cell
			max-height: remify(145px)

	&__heading
		+scaled-font(28px, $title-factor)
		line-height: 0
		margin: remify(0 0 10px)

	&__link
		color: #313131

	&__kicker
		@extend %teaser__kicker
		display: block
		padding-botton: remify(3px)
		position: static

	&__title
		@extend %teaser__title

	&__text
		@extend %teaser__text
		display: block
		vertical-align: top
		+respond-min($break-1)
			display: table-cell
			width: remify(380px)

	&__media-container
		display: block
		vertical-align: top
		width: 100%
		+respond-min($break-1)
			height: remify(170px)
			margin-right: remify(30px)
			padding-bottom: remify(40px) / 16 * 9 // image variant 'wide' (16:9)
			width: remify(295px)

.cp-area--ranking
	&:before
		border-bottom: 3px solid #000
		content: ""
		display: block
		height: remify(3px)
		margin: remify(5px auto 38px)
		width: remify(90px)

	.pager--ranking
		text-align: center
