// basic classes for default teaser

%teaser
    position: relative
    display: inline-block
    width: 100%
    margin-bottom: $small
    +respond-min($break-2)
        margin-bottom: $compact

%teaser__media
    margin: 0 0 remify(18px)
    img
        width: 100%
        height: 100%

%teaser__text
    display: block

%teaser__kicker
    @extend %teaser-link--light
    color: $black
    display: block
    font-size: $font-s
    letter-spacing: $hair
    line-height: 1.25
    margin-bottom: $micro

%teaser__title
    @extend %teaser-link--light
    color: $black
    display: block
    font-size: $font-ml
    font-weight: bold
    line-height: 1.25
    margin: 0 0 $thin 0

%teaser__subtitle
    @extend %teaser-link--light
    color: $black
    font-size: $font-s
    line-height: 1.5
    margin: 0

//standart teaser shadows
%teaser--dark
    +fake-box-shadow-inset($black, 0.8)

%teaser--darker
    +fake-box-shadow-inset($black, 0.8, 0.1)

%teaser--light
    +fake-box-shadow-inset($white)

//standard teaser links
%teaser-link--light
    a
        +link-colors($black, $black, $black, $black, $black)

%teaser-link--dark
    a
        +link-colors($white, $white, $white, $white, $white)

// standart teaser if nothing else applies
// will hopefully be never shown
.teaser
    @extend %teaser
    padding: 0 remify(28px)
    +respond-min($break-2)
        padding: 0
    &__media
        @extend %teaser__media
        max-height: remify(165px)
    &__text
        @extend %teaser__text
    &__kicker
        @extend %teaser__kicker
    &__title
        @extend %teaser__title
    &__subtitle
        @extend %teaser__subtitle
