// basic classes for large teaser

%teaser-large
	background-color: $black
	color: $white
	margin-bottom: $compact
	min-height: remify(220px) // fallback for expired images
	position: relative
	width: 100%

	+respond-min($break-2)
		margin-bottom: $big // large teaser, should have larger margin

%teaser-large__text
	bottom: 0
	color: inherit
	overflow: hidden
	padding: $thin 5% $medium
	position: absolute
	width: 100%

%teaser-large__title
	display: block
	font-size: $font-xl
	font-weight: bold
	letter-spacing: $letter-spacing-s
	line-height: 1.25
	width: 100%
	+respond-min($break-0)
		font-size: $font-xxl
	+respond-min($break-2)
		font-size: $font-xxxl

%teaser-large__subtitle
	font-size: $font-m
	line-height: 1.25
	margin: remify(15px 0 0)
	+respond-min($break-2)
		font-size: $font-ml

%teaser-large__kicker
	display: block
	font-size: $font-s
	line-height: 2.25
	+respond-min($break-2)
		font-size: $font-ml

%teaser-large__media
	@extend %teaser--dark
