
.teaser-landscape-large-photo
    @extend %teaser
    +respond-min($break-2)
        margin-bottom: $big // large teaser, should have larger margin

    &__media
        @extend %teaser__media
        height: 0
        padding-bottom: 100% / 16 * 9 // image variant 'wide'

    &__text
        @extend %teaser__text
        text-align: center
        padding: remify(0 28px)
        +respond-min($break-2)
            padding: 0

    &__kicker
        @extend %teaser__kicker

    &__title
        @extend %teaser__title
        text-transform: uppercase
