
.teaser-nextread-maximal
    width: 100%
    position: relative

    &__supertitle
        @extend %teaser-nextread__supertitle
    &__title
        font-size: $font-xxl
        letter-spacing: $hair
        +respond-min($break-2)
            font-size: $font-xxxl
    &__media
        width: 100%
    &__text
        @extend %nextread-link-light
        width: 100%
        position: absolute
        text-align: center
        bottom: 0
        padding-bottom: remify(50px)


