
.teaser-gallery-upright
    @extend %teaser
    height: $cp_button-gallery-height
    overflow: hidden
    margin-bottom: $compact
    display: block
    & a > .scaled-image
        height: $cp_button-gallery-height
        @extend %teaser--dark
        img
            bottom: 0
            left: 0
            min-height: 100%
            position: absolute
            right: 0
            top: 0
            width: 100%

    &__media
        @extend %teaser__media

    &__text
        @extend %teaser__text
        bottom: 0
        padding: $tiny $petite $compact $petite
        position: absolute
        width: 100%
        z-index: 2

    &__kicker
        @extend %teaser__kicker
        margin-bottom: $tiny
        color: $white
        letter-spacing: 0

    &__title
        @extend %teaser__title
        color: $white
        margin: 0
        text-shadow: rgba(255, 255, 255, .01) 0 -1px 1px
        -webkit-font-smoothing: antialiased

    &__subtitle
        @extend %teaser__subtitle

    &__comments
        @extend %teaser__comments

.icon-galerie-icon-white
    position: absolute
    top: -$medium
