
.teaser-mtb-square
	@extend %teaser
	margin-bottom: remify(40px)
	max-width: remify(320px)
	min-width: remify(270px)

	+respond-min($break-0)
		margin-left: remify(14px)
		margin-right: remify(14px)
	+respond-min($break-1)
		float: left // no-flexbox fallback
		width: 45%
	+respond-min($break-desktop-min)
		width: 30%

	&__media
		@extend %teaser__media

	&__title-box
		@extend %teaser__title-box

	&__text
		+respond-max(em(360px))
			padding-left: remify(14px)
			padding-right: remify(14px)

	&__link
		@extend %teaser__link

	&__kicker
		@extend %teaser__kicker

	&__title
		@extend %teaser__title

	&__series-label
		@extend %teaser__series-label
