$cp_lead-full-height: em(550px)

.teaser-fullwidth
    @extend %teaser-large
    padding-top: 0
    margin-top: 0
    margin-bottom: 0
    height: $cp_lead-full-height
    display: block
    +respond-min($break-2)
        margin-top: 0
        margin-bottom: 0

    &__media-container
        @extend %teaser-large__media-container

    &__text
        @extend %teaser-large__text
        text-align: center
        padding: $thin 15% $medium 15%

    &__title
        @extend %teaser-large__title

    &__subtitle
        @extend %teaser-large__subtitle

    &__kicker
        @extend %teaser-large__kicker

    &__comments
        @extend %teaser__comments

    &--light
        .teaser-fullwidth__media-container
            @extend %teaser--light
            position: absolute
        .teaser-fullwidth__text
            +link-colors($black, $black, $black, $black, $black)
