.teaser-fullwidth
	@extend %teaser-large
	margin-bottom: 0
	+respond-min($break-2)
		margin-bottom: 0

	&__media
		@extend %teaser-large__media
		height: 0
		padding-bottom: 100% / 3 * 4 // image variant 'portrait'
		+respond-min($break-2)
			padding-bottom: 100% / 16 * 9 // image variant 'wide'

	&__text
		@extend %teaser-large__text
		padding: $thin 15% $medium
		text-align: center

	&__link
		@extend %teaser__link

	&__title
		@extend %teaser-large__title
		display: inline
		width: auto

	&__subtitle
		@extend %teaser-large__subtitle

	&__kicker
		@extend %teaser-large__kicker

	&__series-label
		@extend %teaser__series-label

	&--light
		background-color: $white
		color: $black

	&--light &__media
		@extend %teaser--light

	+respond-min($break-2)
		.zplus-logo,
		.zplus-logo-register
			height: remify(23px)
			margin-right: remify(10px)
			width: remify(28px)
