.teaser-ranking
	margin-bottom: (40px)
	padding: 0 $page-padding--small
	+respond-min($break-0)
		display: flex
	+respond-min($break-areas)
		padding: 0

	&__media
		margin: 0 0 remify(20px)
		+respond-min($break-0)
			margin: 0
			padding-right: 3.5%
			flex: 0 0 33%
		+respond-min($break-2)
			padding-right: 4.5%
			flex: 0 0 49%

	&__text

	&__title-box
		@extend %teaser__title-box

	&__link
		@extend %teaser__link

	&__kicker
		@extend %teaser__kicker

	&__title
		@extend %teaser__title

	&__subtitle
		@extend %teaser__subtitle

	&__series-label
		@extend %teaser__series-label

