
.nextread-minimal
    .teaser-nextread-minimal
        background: $white
        margin: 0 auto
        padding: $medium
        width: 80%
        &__title,
        &__supertitle
            text-align: center
