
.teaser-square-large
    @extend %teaser-large
    padding-top: 100%

    &__media-container
        @extend %teaser-large__media-container

    &__media-item
        height: 100%

    &__text
        @extend %teaser-large__text

    &__title
        @extend %teaser-large__title

    &__subtitle
        @extend %teaser-large__subtitle

    &__kicker
        @extend %teaser-large__kicker

    &__comments
        @extend %teaser__comments

    &--light
        .teaser-square-large__media-container
            @extend %teaser--light
            position: absolute
        .teaser-square-large__text
            +link-colors($black, $black, $black, $black, $black)
