$nextread-teaser-width: 260px
$nextread-minimal-height: em(165px)
$nextread-maximal-height: em(320px)

%nextread-link-dark
    a
        +link-colors($black, $black, $black, $black, $black)

%nextread-link-light
    a
        +link-colors($white, $white, $white, $white, $white)

%teaser-nextread
    display: table
    margin: $large auto $junior
    width: 80%
    +respond-min($break-2)
        background: $white

%teaser-nextread__supertitle
    @extend %supertitle
    font-size: $font-s
    font-weight: normal
    display: block
    margin: $micro 0
    text-align: left

%teaser-nextread__title
    display: block
    font-size: $font-l
    letter-spacing: 1px
    text-align: left
    +respond-min($break-1)
        font-size: $font-xl
    +respond-min($break-2)
        font-size: $font-xxl

%teaser-nextread__img
    display: table-cell
    width: $nextread-teaser-width

%teaser-nextread__text
    padding: 0
    +respond-min($break-2)
        display: table-cell
        vertical-align: top
        padding: $medium $thin $thin $medium

%teaser-nextread__link
    width: 100%
    display: block

.teaser-nextread
    @extend %teaser-nextread
    &__supertitle
        @extend %teaser-nextread__supertitle
    &__title
        @extend %teaser-nextread__title
    &__img
        @extend %teaser-nextread__img
    &__link
        @extend %teaser-nextread__link
    &__text
        @extend %teaser-nextread__text

    &--no-img
        .teaser-nextread__text--single
            +respond-min($break-2)
                display: block
                padding: $medium
            .teaser-nextread__title,
            .teaser-nextread__supertitle
                text-align: center

