$cp_button-gallery-height: em(386px)
$cp_button__image-height: em(165px)
$cp_button__image-height--large: em(330px)

%teaser
    position: relative
    display: inline-block
    width: 100%
    span
        display: block

%teaser__image
    overflow: hidden
    height: $cp_button__image-height*1.5
    margin-bottom: $small
    img
        width: 100%
        height: 100%
    +respond-min($break-2)
        height: $cp_button__image-height

%teaser__title__wrap
    display: block

%teaser__supertitle
    @extend %cp_link--light
    margin-bottom: $micro
    line-height: 1.25
    color: $black
    font-size: $font-s
    letter-spacing: $hair

%teaser__title
    @extend %cp_link--light
    font-family: $sans-serif-base-font
    font-weight: bold
    line-height: 1.25
    color: $black
    font-size: $font-ml
    margin: 0 0 $thin 0

%teaser__subtitle
    @extend %cp_link--light
    line-height: 1.5
    color: $black
    font-size: $font-s

// standart teaser
.teaser
    @extend %teaser
    margin-bottom: $compact
    &__image
        @extend %teaser__image
    &__title__wrap
        @extend %teaser__title__wrap
    &__supertitle
        @extend %teaser__supertitle
    &__title
        @extend %teaser__title
    &__subtitle
        @extend %teaser__subtitle
