.teaser-square-large
	@extend %teaser-large

	&__media
		@extend %teaser-large__media
		height: 0
		padding-bottom: 100%

	&__text
		@extend %teaser-large__text

	&__title-box
		@extend %teaser__title-box

	&__title
		@extend %teaser-large__title

	&__subtitle
		@extend %teaser-large__subtitle

	&__kicker
		@extend %teaser-large__kicker

	&--light
		background-color: $white
		color: $black

	&--light &__media
		@extend %teaser--light
