
.teaser-nextread-maximal
    @extend %teaser-nextread
    +background-size(cover)
    @extend %nextread-link-light
    height: $nextread-minimal-height
    width: 100%
    +respond-min($break-1)
        height: $nextread-minimal-height * 1.5
    +respond-min($break-2)
        height: $nextread-maximal-height
        background: transparent

    &__supertitle
        @extend %teaser-nextread__supertitle
        text-align: center
        width: 100%
        padding-top: $medium
        +respond-min($break-2)
            padding-top: $huge
    &__title
        @extend %teaser-nextread__title
        font-size: $font-xl
        text-align: center
        width: 100%
        +respond-min($break-1)
            font-size: $font-xxl
        +respond-min($break-2)
            font-size: $font-xxxl
        +respond-min($break-3)
            font-size: $font-xxxxl
    &__img
        @extend %teaser-nextread__img
    &__link
        @extend %teaser-nextread__link



