
.teaser-nextread-minimal
    @extend %teaser-nextread
    background: $white
    padding: $medium

    &__supertitle
        @extend %teaser-nextread__supertitle
    &__text
        @extend %nextread-link-dark
        text-align: center
    &__title
        @extend %teaser-nextread__title
    &__media
        @extend %teaser-nextread__media
