
.teaser-print-cover
    @extend %teaser

    &__media
        @extend %teaser__media
        margin-bottom: 0

    &__media-container
        a
            @extend %teaser--darker

    &__text
        @extend %teaser__text
        bottom: 0
        padding: $tiny $petite $big
        position: absolute

    &__kicker
        @extend %teaser__kicker
        color: $white
        letter-spacing: normal
        margin-bottom: remify(6px)

    &__title
        @extend %teaser__title
        +font-smoothing
        color: $white
        margin: 0
        text-shadow: rgba(255, 255, 255, .01) 0 -1px 1px
