<div class="parquet-row parquet-row--spektrum" id="parquet-spektrum">
    <div class="parquet-meta">
        <a class="parquet-meta__title parquet-meta__title--spektrum" href="http://spektrum.de">Spektrum.de</a>
        <ul class="parquet-meta__topic-links parquet-meta__topic-links--spektrum">
            <li>
                <a href="http://www.spektrum.de/astronomie" class="parquet-meta__topic-link">Astronomie</a>
            </li>
            <li>
                <a href="http://www.spektrum.de/erde-umwelt" class="parquet-meta__topic-link">Erde &amp; Umwelt</a>
            </li>
            <li>
                <a href="http://www.spektrum.de/physik" class="parquet-meta__topic-link">Physik</a>
            </li>
        </ul>
        <div class="parquet-meta__more parquet-meta__more--spektrum">
            Aktuelles aus der Welt von Wissenschaft und Forschung:
            <a href="http://www.zeit.de/index" class="parquet-meta__more-link parquet-meta__more-link--spektrum">
                Spektrum.de
            </a>
        </div>
    </div>
    <ul class="parquet-teasers">
        {% for teaser in row -%}
            {% if loop.index <= 3 %}
                {% include ["zeit.web.site:templates/inc/parquet/zon-parquet-small-spektrum.tpl"] %}
            {% endif %}
        {% endfor %}
    </ul>
</div>


<h1>{{row.id}}</h1>

<div class="parquet-row parquet-row--spektrum" id="parquet-spektrum">

    <ul class="parquet-teasers">
        <article class="teaser-parquet-small " data-block-type="teaser" data-unique-id="http://xml.zeit.de/zeit-online/cp-content/article-01">
            <figure class="teaser-parquet-small__media scaled-image">
                <!--<![endif]-->
                <div class="teaser-parquet-small__media-container">
                    <a class="teaser-parquet-small__media-link" title="Dies ist der Titel" href="http://localhost:9090/zeit-online/cp-content/article-01">
                        <img class="teaser-parquet-small__media-item" alt="Dies ist der Titel" data-src="http://localhost:9090/zeit-online/cp-content/ig-1/bitblt-640x480-9233bf866124e837824b56b39c8df60148115b15/ig-1-zon-large.jpg" data-ratio="1.77914110429" src="http://localhost:9090/zeit-online/cp-content/ig-1/bitblt-174x98-8ec06048cac22391fdb7d68e9eb4de9bb66dac7c/ig-1-zon-large.jpg">
                    </a>
                </div>
                <!--[if gt IE 8]><!-->
            </figure>
            <div class="teaser-parquet-small__container ">
                <h2 class="teaser-parquet-small__heading">
                    <a class="teaser-parquet-small__combined-link" title="Motorräder - Born to be wild" href="http://localhost:9090/zeit-online/cp-content/article-01">
                        <span class="teaser-parquet-small__kicker teaser-parquet-small__kicker--spektrum">Motorräder</span>
                        <span class="teaser-parquet-small__title">Born to be wild</span>
                    </a>
                 </h2>
                <p class="teaser-parquet-small__text">
                    Der Chopper gehört zu den USA wie Rock 'n' Roll und Beatlyrik. Der Film "Easy Rider" machte einst das Motorrad weltberühmt. Ein neuer Bildband erzählt seine Geschichte.
                </p>
            </div>
        </article>
        <article class="teaser-parquet-small " data-block-type="teaser" data-unique-id="http://xml.zeit.de/zeit-online/cp-content/article-01">
            <figure class="teaser-parquet-small__media scaled-image">
                <!--<![endif]-->
                <div class="teaser-parquet-small__media-container">
                    <a class="teaser-parquet-small__media-link" title="Dies ist der Titel" href="http://localhost:9090/zeit-online/cp-content/article-01">
                        <img class="teaser-parquet-small__media-item" alt="Dies ist der Titel" data-src="http://localhost:9090/zeit-online/cp-content/ig-1/bitblt-640x480-9233bf866124e837824b56b39c8df60148115b15/ig-1-zon-large.jpg" data-ratio="1.77914110429" src="http://localhost:9090/zeit-online/cp-content/ig-1/bitblt-174x98-8ec06048cac22391fdb7d68e9eb4de9bb66dac7c/ig-1-zon-large.jpg">
                    </a>
                </div>
                <!--[if gt IE 8]><!-->
            </figure>
            <div class="teaser-parquet-small__container ">
                <h2 class="teaser-parquet-small__heading ">
                    <a class="teaser-parquet-small__combined-link" title="Motorräder - Born to be wild" href="http://localhost:9090/zeit-online/cp-content/article-01">
                        <span class="teaser-parquet-small__kicker teaser-parquet-small__kicker--spektrum">Motorräder</span>
                        <span class="teaser-parquet-small__title">Born to be wild</span>
                    </a>
                 </h2>
                <p class="teaser-parquet-small__text">
                    Der Chopper gehört zu den USA wie Rock 'n' Roll und Beatlyrik. Der Film "Easy Rider" machte einst das Motorrad weltberühmt. Ein neuer Bildband erzählt seine Geschichte.
                </p>
            </div>
        </article>
        <article class="teaser-parquet-small " data-block-type="teaser" data-unique-id="http://xml.zeit.de/zeit-online/cp-content/article-01">
            <figure class="teaser-parquet-small__media scaled-image">
                <!--<![endif]-->
                <div class="teaser-parquet-small__media-container">
                    <a class="teaser-parquet-small__media-link" title="Dies ist der Titel" href="http://localhost:9090/zeit-online/cp-content/article-01">
                        <img class="teaser-parquet-small__media-item" alt="Dies ist der Titel" data-src="http://localhost:9090/zeit-online/cp-content/ig-1/bitblt-640x480-9233bf866124e837824b56b39c8df60148115b15/ig-1-zon-large.jpg" data-ratio="1.77914110429" src="http://localhost:9090/zeit-online/cp-content/ig-1/bitblt-174x98-8ec06048cac22391fdb7d68e9eb4de9bb66dac7c/ig-1-zon-large.jpg">
                    </a>
                </div>
                <!--[if gt IE 8]><!-->
            </figure>
            <div class="teaser-parquet-small__container ">
                <h2 class="teaser-parquet-small__heading ">
                    <a class="teaser-parquet-small__combined-link" title="Motorräder - Born to be wild" href="http://localhost:9090/zeit-online/cp-content/article-01">
                        <span class="teaser-parquet-small__kicker teaser-parquet-small__kicker--spektrum">Motorräder</span>
                        <span class="teaser-parquet-small__title">Born to be wild</span>
                    </a>
                 </h2>
                <p class="teaser-parquet-small__text">
                    Der Chopper gehört zu den USA wie Rock 'n' Roll und Beatlyrik. Der Film "Easy Rider" machte einst das Motorrad weltberühmt. Ein neuer Bildband erzählt seine Geschichte.
                </p>
            </div>
        </article>
    </ul>
</div>