<div class="parquet-row parquet-row--spektrum" id="parquet-spektrum">
    <div class="parquet-meta">
        <a class="parquet-meta__title parquet-meta__title--spektrum" href="http://www.spektrum.de"><span class="parquet-meta__logo parquet-meta__logo--spektrum icon-logo-spektrum">Spektrum.de</span></a>
        <ul class="parquet-meta__topic-links parquet-meta__topic-links--spektrum">
            <li>
                <a href="http://www.spektrum.de/astronomie" class="parquet-meta__topic-link">Astronomie</a>
            </li>
            <li>
                <a href="http://www.spektrum.de/biologie" class="parquet-meta__topic-link">Biologie</a>
            </li>
            <li>
                <a href="http://www.spektrum.de/psychologie-hirnforschung" class="parquet-meta__topic-link">Psychologie</a>
            </li>
        </ul>
        <div class="parquet-meta__more parquet-meta__more--spektrum">
            Aktuelles aus der Welt von Wissenschaft und Forschung:
            <a href="http://www.spektrum.de" class="parquet-meta__more-link parquet-meta__more-link--spektrum">
                Spektrum.de
            </a>
        </div>
    </div>
    <ul class="parquet-teasers">
        {% for teaser in row -%}
            {% if loop.index <= 3 %}
                {% include ["zeit.web.site:templates/inc/parquet/zon-parquet-small-spektrum.tpl"] %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
