.liveblog
	+unpadded
	margin-bottom: remify(20px)
	margin-top: remify(48px)
	// there is some additional padding on `.article__body` at the moment
	+respond-min($break-3)
		margin-left: -$page-padding - remify(10px)
		margin-right: -$page-padding - remify(10px)
