.meta
	font-family: $sans-serif-base-font
	font-size: $font-xs
	font-weight: bold
	letter-spacing: 1px
	line-height: 1.7
	margin-top: remify(6px)
	max-width: remify(480px)
	text-align: left
	text-transform: uppercase
	&__source
		&:after
			content: ' — '
		a
			color: inherit
	&__byline
		margin-top: remify(92px)
