.nextread-minimal
	@extend %teaser-nextread
	padding: $medium
	text-align: center

	&__heading
		@extend %teaser-nextread__heading
		color: $black
		+on-interaction
			color: $black

	&__kicker
		@extend %teaser-nextread__kicker

	&__title
		@extend %teaser-nextread__title
