.portraitbox
	+default-article-textlink
	font-family: $font-tabletgothic
	&__heading
		font-size: em(14px)
		letter-spacing: $letter-spacing-l
		line-height: $headline-line-height
		margin: remify(0 0 10px)
		text-transform: uppercase
	&__body
		color: $grey
		font-size: em(14px)
		letter-spacing: $letter-spacing-s
