.volume-teaser
	&__media-container
		img
  			margin: auto
  			max-height: remify(240px)
  			width: auto
	&__media
		.figure__caption
  			margin: 1rem auto
  			max-width: remify(400px)
  			text-align: center
