<span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="url" content="{{ request.route_url('home') }}zeit-magazin/index">
    <meta itemprop="name" content="ZEITmagazin">
    <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="url" content="{{ request.asset_host }}/images/structured-data-publisher-logo-zmo.png">
        <meta itemprop="width" content="600">
        <meta itemprop="height" content="56">
    </span>
</span>
