{% if block.contents -%}
{% set id = block.title | attr_safe %}
<aside class="infobox js-infobox" id="{{ id }}">
    <div class="infobox__container">
        <h2 class="infobox__title">{{ block.title | default('Information', True) }}</h2>
        <div class="infobox__navigation"></div>
        <div class="infobox__content">
        {% for title, text in block.contents %}
            <section class="infobox-tab" id="{{ id }}-{{ loop.index }}">
                <h3 class="infobox-tab__title" role="presentation">
                    <a
                        class="infobox-tab__link"
                        id="{{ id }}-{{ loop.index }}-tab"
                        role="tab"
                        href="#{{ id }}-{{ loop.index }}"
                        data-id="{{ id }}-{{ loop.index }}-tab"
                        aria-controls="{{ id }}-{{ loop.index }}-article">
                        {{- title -}}
                    </a>
                </h3>
                <div
                    class="infobox-tab__panel"
                    id="{{ id }}-{{ loop.index }}-article"
                    role="tabpanel"
                    aria-labelledby="{{ id }}-{{ loop.index }}-tab">
                    {% for block in text %}
                        {% set type = block | block_type %}
                        {% include [
                            "{0}:templates/inc/blocks/{1}.html".format(view.package, type),
                            "zeit.web.core:templates/inc/blocks/{0}.html".format(type)] ignore missing %}
                    {% endfor %}
                </div>
            </section>
        {% endfor %}
        </div>
    </div>
</aside>
{%- endif %}
