{% if block.contents -%}
{% set base_id = block.identifier %}
<aside class="infobox js-infobox" id="{{ base_id }}">
    <div class="infobox__container">
        <h2 class="infobox__title">{{ block.title | default('Information', True) }}</h2>
        <div class="infobox__navigation"></div>
        <div class="infobox__content">
        {% for title, text in block.contents %}
            {% set tab_id = '%s-%s' | format(base_id, loop.index) %}
            <section class="infobox-tab">
                <h3 class="infobox-tab__title" role="presentation">
                    <a
                        class="infobox-tab__link"
                        id="{{ tab_id }}-tab"
                        role="tab"
                        href="#{{ tab_id }}-tab"
                        data-id="{{ tab_id }}-tab"
                        aria-controls="{{ tab_id }}-article">
                        {{- title -}}
                    </a>
                </h3>
                <div
                    class="infobox-tab__panel"
                    id="{{ tab_id }}-article"
                    role="tabpanel"
                    aria-labelledby="{{ tab_id }}-tab">
                    {% for block in text %}
                        {% set type = block | block_type %}
                        {% include [
                            "{0}:templates/inc/blocks/{1}.html".format(view.package, type),
                            "zeit.web.core:templates/inc/blocks/{0}.html".format(type)] ignore missing %}
                    {% endfor %}
                </div>
            </section>
        {% endfor %}
        </div>
    </div>
</aside>
{%- endif %}
