{% import 'zeit.web.core:templates/macros/video_macro.tpl' as vima %}

{#
    The block is always a video object. In case it is broken, properties are
    simply missing. Workaround: check if the used property (id) exists.
#}
{% if block.id and not (block | is_expired) %}
<figure class="article__item article__item--wide article__item--rimless article__item--apart">
    {% set playerId = 'c09a3b98-8829-47a5-b93b-c3cca8a4b5e9' %}
    {% if toggles('zon_inline_video_via_html5') %}
        {{ vima.brightcove_video_tag(block.id, iframe=False, brightcove_player=playerId) }}
    {% else %}
        {{ vima.brightcove_video_tag(block.id, iframe=True, brightcove_player=playerId) }}
    {% endif %}
    <figcaption class="video-figure__caption">
        <span class="video-figure__pagetitle">{{ [block.supertitle, block.title] | join_if_exists(' - ') }}</span>
        <span class="video-figure__description">{{ block.description }}</span>
    </figcaption>
</figure>
{% endif %}
