.storystream-scope
	background-color: #f6f6f6
	padding: 0 $storystream-padding-mobile

	&__container
		padding: 0 $storystream-padding-mobile

	&__content
		color: #999
		font-size: remify(13px)
		letter-spacing: $zon-letter-spacing-l
		line-height: 1.7
		margin: 0 auto
		max-width: remify(640px)
		padding: $vertical-space 0
		position: relative
		text-transform: uppercase
		&:after
			content: ''
			position: absolute
			width: 1px
			height: 100%
			background-color: $color-storystream-border
			left: -$storystream-padding-mobile
			top: 0
			z-index: 1
	&__link,
	&__number
		color: #444
	&__counter:after
		content: '\A'
		white-space: pre
	&__link
		white-space: nowrap
		border-bottom: 1px rgba(170, 170, 170, 0.4) solid
		+on-interaction
			border-bottom: 1px rgba(170, 170, 170, 1.0) solid
			color: #444

+respond-min($break-phablet-min)
	.storystream-scope
		&__counter:after
			color: #444
			content: "/"
			opacity: .7
			margin: 0 .25em

+respond-min($break-tablet-min)
	.storystream-scope
		padding: 0 $storystream-padding-tablet
		&__content:after
			left: -$storystream-padding-tablet

+respond-min($break-desktop-min)
	.storystream-scope
		padding: 0 $storystream-padding-desktop-outer
		&__content:after
			left: -$storystream-padding-desktop-inner
