.storystream-scope
	background-color: $zon-seashell
	&__container
		border-left: 1px $color-storystream-border solid
		margin: 0 $storystream-padding-mobile
		padding: $vertical-space $storystream-padding-mobile
