.storystream-sharing
	background-color: #41434D
	padding: 0 $storystream-padding-mobile

	&__container
		padding: 0 $storystream-padding-mobile

	&__content
		margin: 0 auto
		max-width: remify(640px)
		padding: remify(13px 0)
		position: relative
		&:after
			content: ''
			position: absolute
			width: 1px
			height: 100%
			background-color: $color-storystream-border
			left: -$storystream-padding-mobile
			top: 0
			z-index: 1

	// &__button
	// 	background-color: rgba(0, 0, 0, 0.2)
	// 	border-color: #999
	// 	vertical-align: top
	// 	+link
	// 		color: #eee
	// 	&:hover
	// 		background-color: rgba(0, 0, 0, 0.5)
	// 		border-color: #ccc
	// 		color: #fff

	&__link
		color: #fff
		display: inline-block
		height: remify(38px)
		opacity: 0.7
		+on-interaction
			color: #fff
			opacity: 1.0

	&__link + &__link
		border-left: 1px rgba(119, 119, 119, 0.7) solid

	&__icon
		height: 22px
		margin: remify(9px 12px)
		width: 22px

+respond-min($break-tablet-min)
	.storystream-sharing
		padding: 0 $storystream-padding-tablet
		&__content:after
			left: -$storystream-padding-tablet
		&__link--whatsapp
			display: none

+respond-min($break-desktop-min)
	.storystream-sharing
		padding: 0 $storystream-padding-desktop-outer
		&__content:after
			left: -$storystream-padding-desktop-inner
