
$color-storystream-border: $color-border

$storystream-padding-mobile: $page-padding
$storystream-padding-tablet: remify(27px)
$storystream-padding-desktop-outer: remify(90px)
$storystream-padding-desktop-inner: remify(70px)
