
$color-storystream-border: $zon-alto

$storystream-padding-mobile: $cp-padding*2
$storystream-padding-tablet: remify(27px)
$storystream-padding-desktop-outer: remify(90px)
$storystream-padding-desktop-inner: remify(70px)
