.storystream-summary
	padding: $storystream-padding-mobile*1.5 $storystream-padding-mobile
	&__container
		max-width: remify(640px)
		font-size: remify(18px)
		line-height: 1.4
		margin: 0 auto remify(20px)

	+respond-min($break-tablet-min)
		line-height: 1.5
		padding: 0 $storystream-padding-tablet
	+respond-min($break-desktop-min)
		font-size: remify(20px)
		padding: 0 $storystream-padding-desktop-outer
