.storystream-teaser
	padding: 0 $storystream-padding-mobile

	&__container
		padding: 0 $storystream-padding-mobile

	&__content
		margin: 0 auto
		max-width: remify(640px)
		padding: 2*$vertical-space 0 $vertical-space
		position: relative
		&:after
			content: ''
			position: absolute
			width: 1px
			height: 100%
			background-color: $color-storystream-border
			left: -$storystream-padding-mobile
			top: 0
			z-index: 1

	&__title
		font-size: remify(16px)
		&--milestone
			font-size: remify(16px)
			line-height: remify(18px)

	&__description
		font-family: $font-franziska
		font-size: remify(17px)
		line-height: remify(24px)
		&--milestone
			font-size: remify(18px)
			line-height: 1.4

	&__date
		background: $white
		border-radius: em(4px)
		font-size: em(13px)
		letter-spacing: $zon-letter-spacing-m
		margin-left: remify(-30px)
		// move up to make space for the headline
		margin-top: remify(-42px)
		padding: remify(6px 10px 6px 3px)
		position: absolute
		z-index: 2
		&--milestone
			background: #4c4f5f
			color: $white
			padding: remify(8px 10px)

	&__link
		color: $zon-red
		font-family: $font-tabletgothic
		font-size: remify(12px)
		text-transform: uppercase
		white-space: nowrap
		+link
			border-bottom: 1px solid rgba($zon_grey, .4)
		+on-interaction
			border-bottom-color: rgba($zon_grey, .8)

	&__media
		margin: 1em 0
		width: remify(140px)

+respond-min($break-tablet-min)
	.storystream-teaser
		padding: 0 $storystream-padding-tablet

		&__content:after
			left: -$storystream-padding-tablet

		&__date
			margin-left: remify(-37px)

		&__title
			font-size: em(20px)
			line-height: em(26px)

		&__description
			line-height: remify(25px)
			&--milestone
				line-height: 1.5

+respond-min($break-desktop-min)
	.storystream-teaser
		padding: 0 $storystream-padding-desktop-outer

		&__content
			padding-top: $vertical-space
			&:after
				left: -$storystream-padding-desktop-inner

		&__title
			margin: 0

		&__description
			font-size: remify(18px)
			line-height: remify(26px)
			margin: remify(5px 0 1em 0)
			&--milestone
				font-size: remify(20px)
				margin: 1em 0

		&__date
			margin-left: remify(-115px)
			margin-top: 0
			padding: 0.4rem
			text-align: center
			width: remify(90px)

		&__text
			position: relative

		&__media
			margin-top: 0
			position: absolute
			right: remify(-150px)
			top: 0
