{% import 'zeit.web.magazin:templates/macros/article_macro.tpl' as blocks with context %}

<div class="article__head-wrap">
    <header class="article__head article__head--default">
        <h1 itemprop="headline">
            {{ blocks.supertitle() }}
            {{ blocks.title() }}
        </h1>
        {% if view.page_nr == 1 and view.header_module %}
            <div class="article__head__image">
                {{ blocks[view.header_module|block_type](view.header_module) }}
            </div>
        {% endif %}
        {{ blocks.subtitle(include_meta=True) }}
        <span class="article__head__meta-wrap">
            <span class="article__head__meta">
                {% include "zeit.web.magazin:templates/inc/article_area_date.html" ignore missing %}
            </span>
        </span>
    </header>
</div>
