{% import 'zeit.web.magazin:templates/macros/article_macro.tpl' as blocks with context %}

<header class="article__head article__head--traum">
    <div class="is-constrained is-centered">
        <h1 itemprop="headline">
            {{ blocks.supertitle() }}
            {{ blocks.title() }}
        </h1>
        {{ blocks.subtitle() }}
    </div>
    {% include "zeit.web.magazin:templates/inc/asset/image_article_header.tpl" %}
    <div class="is-constrained is-centered">
        <div class="article__head__meta">
            <div class="article__head__byline">
                {{ view.genre }}
                {{ blocks.meta_author(view.authors) }}
            </div>
            {% include "zeit.web.magazin:templates/inc/article_area_date.html" ignore missing %}
        </div>
    </div>
</header>
