<aside class="{% block layout %}jobbox-dropdown{% endblock %} js-dropdownlink">
    <span class="{{ self.layout() }}__label">Verlagsangebot</span>
    <div class="{{ self.layout() }}__media"></div>

    <div class="{{ self.layout() }}__container">
        <h2 class="{{ self.layout() }}__title">Der Stellenmarkt der ZEIT</h2>
        <p class="{{ self.layout() }}__text">Starten Sie jetzt die Jobsuche und entdecken Sie passende Stellenangebote mit Perspektive.</p>

        <select class="{{ self.layout() }}__dropdown" data-tracklink="">
            <option class="{{ self.layout() }}__dropdown-option">Berufsfeld auswählen</option>
            {% for joblist in module.jobs %}
                {% for job in joblist %}
                    <option class="{{ self.layout() }}__dropdown-option" value="{{ job.href }}">{{ job.title }}</option>
                {% endfor %}
            {% endfor %}
        </select>

        <a class="{{ self.layout() }}__button js-dropdownlink-submit" href="{{ module.button.link }}">Jobs finden</a>

        <p class="{{ self.layout() }}__text"><a class="{{ self.layout() }}__link" href="{{ module.link.link }}">{{ module.link.title }}</a></p>
    </div>
</aside>
