<div class="author-header">
    <div class="author-header__upper">
        <div class="author-header__inner">
            <div class="author-header__image">
                {% set image = get_image(context, variant_id='square', fallback=False) %}
                {% set module_layout = 'author-header' %}
                {% include "zeit.web.core:templates/inc/asset/image.tpl" %}
            </div>
            <div class="author-header-info">
                <div class="author-header-info__inner">
                    <h1 class="author-header-info__name">
                        {{ context.display_name }}
                    </h1>
                    <div class="author-header-info__summary">
                        {{ context.summary }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

