<div class="author-header">
    <div class="author-header__inner">
        <div class="author-header__information">
            <h1 class="author-header__name">
                {{ module.name }}
            </h1>
            <div class="author-header__position">
                {{ module.position }}
            </div>
            <div class="author-header__image">
                {% include "zeit.web.site:templates/inc/article/column_author_image.tpl" %}
            </div>
        </div>
    </div>
</div>

