<div class="author-header">
    <div class="author-header__inner">
        <div class="author-header__information">
            <h1 class="author-header__name">
                {{ context.display_name }}
            </h1>
            <div class="author-header__position">
                {{ context.summary }}
            </div>
            <div class="author-header__image">
                <!-- context.image_group : passendes Template für image group nutzen -->
            </div>
        </div>
    </div>
</div>

