<div class="{{ 'buzz-box' | with_mods(module.layout) }}">
    <div class="{{ 'buzz-box__heading' | with_mods(module.layout) }}">
        {{ module.header }}
    </div>
    <div class="{{ 'buzz-box__teasers' | with_mods(module.layout) }}">
        {% for teaser in module -%}
            {% with -%}
                {% set index = loop.index %}
                {% set layout = module | get_layout %}
                {% include "zeit.web.site:templates/inc/teaser/{}.tpl".format(layout) %}
            {%- endwith %}
        {%- endfor %}
    </div>
</div>
