<div class="dashboard">
    <div class="dashboard__upper">
        <div class="article__item">
            <h1 class="dashboard__header" itemprop="headline">
                <span class="column-heading__kicker">
                    Herzlich Willkommen
                </span>
                <span class="column-heading__title">Mein Konto</span>
            </h1>
        </div>
    </div>
    <div class="dashboard__lower">
        <div class="article__item">
            <div class="dashboard__user">
                Giovanni di Lorenzo
            </div>
        </div>
    </div>
</div>
