{% extends "zeit.web.site:templates/layout.html" %}
{% block main %}
<div class="dashboard">
    <div class="dashboard__upper">
        <div class="article__item">
            <h1 class="dashboard__header" itemprop="headline">
                <span class="dashboard__kicker">
                    {{view.dashboard_user.kicker}}
                </span>
                <span class="dashboard__title">{{view.dashboard_user.title}}</span>
            </h1>
        </div>
    </div>
    <div class="dashboard__lower">
        <div class="article__item">
            <div class="dashboard__user">
                {% if not request.user.picture %}
                    <img src="{{request.user.picture}}" class="dashboard__user-image" />
                {% endif %}
                <span class="dashboard__user-name">
                    {{request.user.name}}
                </span>
            </div>
            <!-- header -->
            {% for section in view.dashboard_user.sections['header'] %}
            <div class="dashboard__box dashboard__box--is-header" data-ct-area="user-dashboard">
                <h2 class="dashboard__box-title">{{section.section_atts.name}}</h2>
                <ul class="dashboard__box-list" data-ct-column="false">
                    {% for link in section.links %}
                      <li>
                        <a href="{{link.attributes.href}}" id="{{link.attributes.id}}">
                          {{link.text}}
                        </a>
                      </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- body -->
    <div class="dashboard__content">
        <div class="article__item">
              {% for section in view.dashboard_user.sections['body'] %}
                <div class="dashboard__box" data-ct-area="user-dashboard">
                <h2 class="dashboard__box-title">{{section.section_atts.name}}</h2>
                  <ul class="dashboard__box-list" data-ct-column="false">
                    {% for link in section.links %}
                      <li>
                        <a href="{{link.attributes.href}}" id="{{link.attributes.id}}">
                          {{link.text}}
                        </a>
                      </li>
                      {%- if loop.index > 1 and (loop.length / 2)|round|int == loop.index %}
                        </ul><ul class="dashboard__box-list">
                      {% endif -%}
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}
        </div>
    </div>
</div>
{% endblock main %}
