{% import 'zeit.web.site:templates/macros/layout_macro.tpl' as lama %}
<aside class="{% block layout %}follow-us{% endblock %}">
    <div class="{{ self.layout() }}__container">
        <h2 class="{{ self.layout() }}__title">Folgen Sie uns</h2>
        <ul>
            <li><a href="https://www.facebook.com/zeitonline/" target="_blank" class="{{ self.layout() }}__link {{ self.layout() }}__link--facebook" title="Folgen Sie uns auf Facebook" data-ct-label="facebook">{{ lama.use_svg_icon('follow-facebook', 'follow-us__follow-icon', view.package) }}<span class="{{ self.layout() }}__divider"></span><span class="{{ self.layout() }}__linktext">Facebook</span></a></li>
            <li><a href="https://twitter.com/zeitonline" target="_blank" class="{{ self.layout() }}__link {{ self.layout() }}__link--twitter" title="Folgen Sie uns auf Facebook" data-ct-label="twitter">{{ lama.use_svg_icon('follow-twitter', 'follow-us__follow-icon', view.package) }}<span class="{{ self.layout() }}__divider"></span><span class="{{ self.layout() }}__linktext">Twitter</span></a></li>
            <li><a href="https://www.instagram.com/zeit/" target="_blank" class="{{ self.layout() }}__link {{ self.layout() }}__link--instagram" title="Folgen Sie uns auf Facebook" data-ct-label="instagram">{{ lama.use_svg_icon('follow-instagram', 'follow-us__follow-icon', view.package) }}<span class="{{ self.layout() }}__divider"></span><span class="{{ self.layout() }}__linktext">Instagram</span></a></li>
            <li><a href="https://www.xing.com/news/pages/zeit-online-165" target="_blank" class="{{ self.layout() }}__link {{ self.layout() }}__link--xing" title="Folgen Sie uns auf Facebook" data-ct-label="xing">{{ lama.use_svg_icon('follow-xing', 'follow-us__follow-icon', view.package) }}<span class="{{ self.layout() }}__divider"></span><span class="{{ self.layout() }}__linktext">Xing</span></a></li>
            <li><a href="http://community.zeit.de/newsletter" target="_blank" class="{{ self.layout() }}__link {{ self.layout() }}__link--newsletter" title="Folgen Sie uns auf Facebook" data-ct-label="newsletter">{{ lama.use_svg_icon('follow-newsletter', 'follow-us__follow-icon', view.package) }}<span class="{{ self.layout() }}__divider"></span><span class="{{ self.layout() }}__linktext">Newsletter</span></a></li>
        </ul>
        <div class="{{ self.layout() }}__clear"></div>
    </div>
</aside>
