<header class="header-image{% if module.visible_mobile == False %} mobile-hidden{% endif %}"{% if module %} data-block-type="{{ module.type | hide_none }}"{% endif %} data-unique-id="{{ module.uniqueId }}" data-meetrics="{{ area.kind }}">
    {# get the image directy from the supplied image group #}
    {% set image = get_image(module, default='panorama') %}
    {% set tag = 'div' if view.is_advertorial else 'h1' %}
    {# we need to explecitly pass the layout aka block class name #}
    {% set module_layout = "header-image" %}
    {% include "zeit.web.site:templates/inc/module/headerimage_image.tpl" ignore missing %}
    <{{tag}} class="header-image__heading">
        {% if view.is_advertorial %}
        <span class="header-image__title">{{ module.title }}</span>
        <span class="header-image__kicker">{{ module.supertitle }}</span>
        {% else %}
        <span class="header-image__kicker">{{ module.supertitle }}</span>
        <span class="visually-hidden">: </span>
        <span class="header-image__title">{{ module.title }}</span>
        {% endif %}
    </{{tag}}>
    {% if view.is_advertorial %}
    <div class="header-image__adlabel">Anzeige</div>
    {% endif %}
</header>

