{% import 'zeit.web.site:templates/macros/layout_macro.tpl' as lama %}

<aside class="jobbox {% block modifier %}jobbox--animate{% endblock %}">
    <span class="jobbox__label">Verlagsangebot</span>
    <div class="jb-box">
        <div class="jb-box__kicker">
            {% block kicker %}Aktuelle Jobs im ZEIT Stellenmarkt{% endblock %}
        </div>
        {% for teaser in module[:3] %}
        <a class="jb-content{% if loop.first %} jb-content--first{% endif %}" href="{{ teaser.url }}">
            <div class="jb-icon">
                <span class="jb-icon__bullet"></span>
            </div>
            <div class="jb-text">
                <div class="jb-text__title">{{ teaser.title }}</div>
                <div class="jb-text__byline">{{ teaser.text }}</div>
            </div>
        </a>
        {% endfor %}
        <span class="jb-action">
            <div class="jb-button">
                <span class="jb-button__text">{% block button %}mehr erfahren{% endblock %}</span>
            </div>
            {% block link %}
                <div class="jb-link">
                    <a class="jb-link__text" href="http://jobs.zeit.de/?wt_mc=zeit_de.intern.zeit_stellenmarkt.zon_hp.ticker.stellenmarkt_startseite.textlink">Zum Stellenmarkt</a>
                </div>
            {% endblock %}
        </span>
    </div>
</aside>

<!--
<a class="jb-content" href="#">
                <div class="jb-icon">
                    <span class="jb-icon__bullet"></span>
                </div>
                <div class="jb-text">
                    <div class="jb-text__title">
                        Academic positions - Faculty of Kinesiology and Rehabilitation Sciences
                    </div>
                    <div class="jb-text__byline">
                        University of Leuven. Löwen (Belgien)
                    </div>
                </div>
        </a>-->
