<aside class="jobbox {% block modifier %}{% endblock %}">
    <span class="jobbox__label">Verlagsangebot</span>
    <div class="jb-box">
        <div class="jb-content">
            <div class="jb-content__kicker">
                Aktuelle Jobs im ZEIT Stellenmarkt
            </div>
            <div class="jb-content__title">
                Wissenschaftlicher Referent der Arbeitsstelle Verdammt langer Text über mehrere Zeilen
            </div>
            <div class="jb-content__byline">
                Stiftung Deutsches Forum was ebenfalls einen ziemlich langen Titel hat
            </div>
        </div>
        <span class="jb-action">
            <div class="jb-button">
                <span class="jb-button__text">mehr erfahren</span>
            </div>
            <div class="jb-link">
                <span class="jb-link__text">Zum Stellenmarkt</span>
            </div>
        </span>
    </div>
</aside>
