{% import 'zeit.web.site:templates/macros/layout_macro.tpl' as lama %}
{% if module | length > 0 %}
<aside class="{{ 'jobbox' | with_mods(area.kind) }}{% block jobbox_modifier %} jobbox--animate{% endblock %}">
	{% block jobbox_toplabel %}<span class="jobbox__label">Verlagsangebot</span>{% endblock %}
	<div class="jobbox__container">
		{% block jobbox_boxlabel %}{% endblock %}
		{% block jobbox_header %}
		<div class="jobbox__kicker">
			Aktuelle Jobs im ZEIT Stellenmarkt
		</div>
		{% endblock %}

		<div class="jobbox__jobs">
        {# Sometimes, the RSS feed provides >100 items. We only want to show 10 max. #}
		{% for teaser in module[:10] %}
			<a class="jobbox__job" href="{{ teaser.url }}{% block tracking %}?wt_zmc=fix.int.zonpmr.zeitde.stellenmarkt.jobticker1.textlink.stellenanzeige.&utm_medium=fix&utm_source=zeitde_zonpmr_int&utm_campaign=stellenmarkt&utm_content=jobticker1_textlink_stellenanzeige_{% endblock %}">
				<div class="jobbox__title">{{ teaser.title }}</div>
				<div class="jobbox__byline">{{ teaser.text }}</div>
			</a>
		{% endfor %}
		</div>

		<div class="jobbox__action">
		{% block jobbox_button %}
			<a class="jobbox__button" href="{% if module %}{{ module[0].url }}{{ self.tracking() }}{% endif %}">zum Jobangebot</a>
		{% endblock %}

		{% block jobbox_link %}
			<span class="jobbox__links">
				<a class="jobbox__link" href="http://jobs.zeit.de/?wt_zmc=fix.int.zonpmr.zeitde.stellenmarkt.jobticker1.textlink.startseite.x&utm_medium=fix&utm_source=zeitde_zonpmr_int&utm_campaign=stellenmarkt&utm_content=jobticker1_textlink_startseite_x">Zum Stellenmarkt</a>
			</span>
		{% endblock %}
		</div>
	</div>
</aside>
{% endif %}
