{%- extends "zeit.web.site:templates/inc/module/partnerbox.html" -%}

{% block modifier %}reisen{% endblock %}


{% block intro %}
    {% set module_layout = 'partner' %}
    {% include "zeit.web.core:templates/inc/asset/image_teaser.tpl" ignore missing %}
{% endblock %}

{% block dropdown_title %}
    <span class="partner__dropdown-title">Finden Sie hier Ihre Traumreise!</span>
{% endblock %}

{% block dropdown_intro %}Entdecken Sie einzigartige ZEIT-Reisen das ganze Jahr in über 60 faszinierende Länder dieser Erde!{% endblock %}

{% block dropdown %}
    {{ partner_macro.dropdown_reisen() }}
{% endblock %}

{% block button %}Reisen anzeigen{% endblock %}

{% block link_button %}{{ module.href }}{% endblock %}

{% block link_bottom %}
    <div class="partner__link-text">Ein Angebot von</div>
    <a href="{{ module.href }}">
        {{ lama.use_svg_icon('logo-zeit-reisen', 'partner__link-icon', view.package) }}
    </a>
{% endblock %}
