{%- extends "zeit.web.site:templates/inc/module/partnerbox.html" -%}

{% block modifier %}jobs{% endblock %}
{% block kicker %}
    <div class="partner__kicker">
        <span class="partner__kicker-img"></span>
        <span class="partner__kicker-text">Der Stellenmarkt der ZEIT</span>
    </div>
{% endblock %}

{% block intro %}Starten Sie jetzt die Jobsuche und entdecken Sie passende Stellenangebote mit Perspektive.{% endblock %}

{% block dropdown %}
    <select class="partner__dropdown" data-tracklink="">
        <option class="partner__dropdown-option">Berufsfeld auswählen</option>
        {% for joblist in module.jobs %}
            {% for job in joblist %}
                <option class="partner__dropdown-option" value="{{ job.href }}">{{ job.title }}</option>
            {% endfor %}
        {% endfor %}
    </select>
{% endblock %}

{% block button %}Jobs finden{% endblock %}

{% block link_button %}{{ module.button.link }}{% endblock %}

{% block link_bottom %}<a class="partner__link-url" href="{{ module.link.link }}">{{ module.link.title }}</a>{% endblock %}
