{%- extends "zeit.web.site:templates/inc/module/partnerbox.html" -%}

{% block modifier %}reisen{% endblock %}
{% block kicker_text %}Finden Sie hier Ihre Traumreise!{% endblock %}

{% block intro %}Entdecken Sie einzigartige ZEIT-Reisen das ganze Jahr in über 60 faszinierende Länder dieser Erde!{% endblock %}

{% block dropdown %}
    {{ partner_macro.dropdown_reisen() }}
{% endblock %}

{% block button %}Reisen anzeigen{% endblock %}

{% block link_bottom %}
    <a href="http://zeitreisen.zeit.de/">Alle Reisen</a>
    {{ lama.use_svg_icon('logo-zeit-reisen', 'pa-link--icon', request) }}
{% endblock %}
