{%- extends "zeit.web.site:templates/inc/module/partnerbox.html" -%}

{% block modifier %}reisen{% endblock %}


{% block intro_title %}
<span class="partner__intro-title">Finden Sie hier Ihre Traumreise!</span>
{% endblock %}

{% block intro %}
    {#<span class="partner__intro-img"></span>#}

        {% include "zeit.web.core:templates/inc/asset/image_teaser.tpl" ignore missing %}

{% endblock %}

{% block dropdown_intro %}Entdecken Sie einzigartige ZEIT-Reisen das ganze Jahr in über 60 faszinierende Länder dieser Erde!{% endblock %}

{% block dropdown %}
    {{ partner_macro.dropdown_reisen() }}
{% endblock %}

{% block button %}Reisen anzeigen{% endblock %}

{% block link_button %}http://zeitreisen.zeit.de/?wt_mc=zr.intern.display.zeit_online.reisebox.dynamisch.widget.widget&amp;utm_source=zeit_online&amp;utm_medium=display&amp;utm_campaign=reisebox_dynamisch&amp;utm_content=widget{% endblock %}

{% block link_bottom %}
    <div class="partner__link-text">Ein Angebot von</div>
    <a href="http://zeitreisen.zeit.de/?wt_mc=zr.intern.display.zeit_online.reisebox.dynamisch.widget.widget&amp;utm_source=zeit_online&amp;utm_medium=display&amp;utm_campaign=reisebox_dynamisch&amp;utm_content=widget">
        {{ lama.use_svg_icon('logo-zeit-reisen', 'partner__link-icon', view.package) }}
    </a>
{% endblock %}
