{%- extends "zeit.web.site:templates/inc/module/partnerbox.html" -%}

{% block modifier %}jobs{% endblock %}
{% block kicker_text %}Der Stellenmarkt der ZEIT{% endblock %}

{% block intro %}Starten Sie jetzt die Jobsuche und entdecken Sie passende Stellenangebote mit Perspektive.{% endblock %}

{% block dropdown %}
    {{ partner_macro.dropdown_jobs() }}
{% endblock %}

{% block button %}Jobs finden{% endblock %}

{% block link_button %}http://jobs.zeit.de/action/account/create/agent-all?wt_zmc=fix.int.zonpmr.z
eitde.stellenmarkt.funktionsbox.streifen.startseite.&amp;utm_medium=fix&amp;utm_sou
rce=zeitde_zonpmr_int&amp;utm_campaign=stellenmarkt&amp;utm_content=funktionsbox_st
reifen_startseite_{% endblock %}

{% block link_bottom %}<a class="partner__link-url" href="http://jobs.zeit.de/action/account/create/agent-all?wt_zmc=fix.int.zonpmr.zeitde.stellenmarkt.funktionsbox.streifen.job_nl_bestellen.&amp;utm_medium=fix&amp;utm_source=zeitde_zonpmr_int&amp;utm_campaign=stellenmarkt&amp;utm_content=funktionsbox_streifen_job_nl_bestellen_
">Jobs per Mail</a>{% endblock %}
