{% import 'zeit.web.site:templates/macros/partnerbox_macro.tpl' as partner_macro %}
{% import 'zeit.web.site:templates/macros/layout_macro.tpl' as lama %}

<aside class="partnerbox">
    <span class="partnerbox__label">Verlagsangebot</span>
    <div class="partner partner--{% block modifier %}{% endblock %}">
        {% block kicker %}{% endblock %}
        <div class="partner__intro">
            {% block intro %}{% endblock %}
        </div>
        <div class="partner__action">
            <span class="partner__dropdown-intro">
                {% block dropdown_title %}{% endblock %}
                {% block dropdown_intro %}{% endblock %}
            </span>
            {% block dropdown %}{% endblock %}
            <span class="partner__button">
                <a class="partner__button-text" href="{% block link_button %}{% endblock %}">{% block button %}{% endblock %}</a>
            </span>
            <span class="partner__link">
                {% block link_bottom %}{% endblock %}
            </span>
        </div>
    </div>
</aside>
