{% import 'zeit.web.site:templates/macros/layout_macro.tpl' as lama %}

{% if view.is_hp %}
{{ lama.adplace(view.banner(10), view) }}
{% endif %}

<section class="video-stage" id="video-stage">
    {# html5, eine section braucht eine headline, falls das seomäßig nicht geht, können wir auch nicht section nehmen (NB) #}
    <header>
        <h6 class="video-stage-heading">Videos auf {{ lama.use_svg_icon('logo-zon-white', 'video-stage-heading__logo', view.package) }}</h6>
    </header>
    {# We heard you like modules, so we put some modules in your module (ND) #}
    <div class="video-stage-main">
        {% with %}
            {% set teaser = module.videos[0] %}
            {% include "zeit.web.site:templates/inc/teaser/video-large.tpl" %}
        {% endwith %}
    </div>
    <div class="video-stage-secondary">
        <h6 class="video-stage-secondary__title">Die neuesten Videos</h6>
        {% for teaser in module.videos[1:4] %}
            {% include "zeit.web.site:templates/inc/teaser/video-small.tpl" %}
        {% endfor %}
    </div>
    <footer class="video-stage-footer">
        <div class="video-series">
            {# ist so nicht accessible umzusetzen, ohne js auch nicht bedienbar (NB) #}
            <label for="series_select" class="video-series__label">Videoserien</label>
            <select id="series_select" class="video-series__select" name="serie">
                <option>Bitte auswählen</option>
                {% for video in module.video_series_list %}
                    <option value="{{ video.url }}">{{ video.title }}</option>
                {% endfor %}
            </select>
        </div>
        {# Sind doch gar nicht alle Videos? (NB) #}
        <a class="video-centerpage-link" href="{{ 'http://xml.zeit.de/video' | create_url }}">Alle Videos</a>
    </footer>
</section>
