{% import 'zeit.web.core:templates/macros/layout_macro.tpl' as lama %}

{% if view.is_hp %}
    <!-- P4 -->
    {% include "zeit.web.core:templates/inc/ads/places/desktop/place4.html" %}
{% endif %}

<section class="video-stage" id="video-stage">
    <div class="video-stage-main">
        {# html5, eine section braucht eine headline, falls das seomäßig nicht geht, können wir auch nicht section nehmen (NB) -#}
        <header>
            <h6 class="video-stage-heading">Unsere besten Videos</h6>
        </header>
        {# We heard you like modules, so we put some modules in your module (ND) #}
        {% with %}
            {% set teaser = module.videos[0] %}
            {% include "zeit.web.site:templates/inc/teaser/video-large.tpl" %}
            {{- view.append_to_webtrekk_assets(['video', region_loop.index, 1, 1] | join('.')) -}}
        {% endwith %}
    </div>
    <div class="video-stage-secondary">
        {% for teaser in module.videos[1:4] %}
            {% include "zeit.web.site:templates/inc/teaser/video-small.tpl" %}
            {{- view.append_to_webtrekk_assets(['video', region_loop.index, 2, loop.index] | join('.')) -}}
        {% endfor %}
    </div>
    <footer class="video-stage-footer">
        <div class="video-series">
            {# ist so nicht accessible umzusetzen, ohne js auch nicht bedienbar (NB) #}
            <label for="series_select" class="video-series__label">Videoserien</label>
            <select id="series_select" class="video-series__select" name="serie">
                <option>Videoserien</option>
                {% for video in module.video_series_list %}
                    <option value="{{ video.url }}">{{ video.title }}</option>
                {% endfor %}
            </select>
        </div>
        {# Sind doch gar nicht alle Videos? (NB) #}
        <a class="video-centerpage-link" href="{{ 'http://xml.zeit.de/video' | create_url }}">Alle Videos</a>
    </footer>
</section>
