{% set teaser_position = '{}.{}.{}'.format(region_loop.index, area_loop.index, module_loop.index) %}

<aside class="print-box">
    {% set title = teaser.supertitle + ' - ' + teaser.title -%}
    <div class="print-box__heading">
        Diese Woche in der Zeit
        <span class="print-box__issue">Nr. {{ teaser.volume }}/{{ teaser.year }}</span>
    </div>
    <div class="print-box__content">
        <figure class="print-box__media">
            <a href="{{ teaser.url }}?wt_zmc=cross.int.zonpme.zeitde.printbox.ausgseite.bildtext.cover.cover&amp;utm_medium=cross&amp;utm_source=zeitde_zonpme_int&amp;utm_campaign=printbox&amp;utm_content=ausgseite_bildtext_cover_cover" title="{{ title }}" data-id="{{ teaser_position }}.print-box.image">
                <img class="print-box__media-item" src="{{ module.image | default_image_url('zon-printbox-wide') }}">
            </a>
        </figure>
        <div class="print-box__container">
            <a href="{{ teaser.url }}?wt_zmc=cross.int.zonpme.zeitde.printbox.ausgseite.bildtext.headline.headline&amp;utm_medium=cross&amp;utm_source=zeitde_zonpme_int&amp;utm_campaign=printbox&amp;utm_content=ausgseite_bildtext_headline_headline" title="{{ title }}" class="print-box__combined-link" data-id="{{ teaser_position }}.print-box.title-and-text">
                <h2 class="print-box__content-heading">
                    <span class="print-box__kicker">{{ teaser.supertitle }}</span>
                    <span class="print-box__title">{{ teaser.title }}</span>
                </h2>
                <p class="print-box__text">{{ teaser.subtitle }}</p>
            </a>
            <a href="{{ teaser.url }}?wt_zmc=cross.int.zonpme.zeitde.printbox.ausgseite.bildtext.weitere.weitere&amp;utm_medium=cross&amp;utm_source=zeitde_zonpme_int&amp;utm_campaign=printbox&amp;utm_content=ausgseite_bildtext_weitere_weitere" class="print-box__link" data-id="{{ teaser_position }}.print-box.weitere_themen">
                Weitere Themen
            </a>
            <a href="{{ teaser.url }}?wt_zmc=cross.int.zonpme.zeitde.printbox.ausgseite.bildtext.button.button&amp;utm_medium=cross&amp;utm_source=zeitde_zonpme_int&amp;utm_campaign=printbox&amp;utm_content=ausgseite_bildtext_button_button" data-id="{{ teaser_position }}.print-box.button">
                <span class="print-box__button">Mehr erfahren</span>
            </a>
            <a href="http://leserservice.zeit.de/diesewoche/DIE-ZEIT-kostenlos-testen/index.php?r=npb" class="print-box__link" data-id="{{ teaser_position }}.print-box.testen_sie_3_wochen_die_gedruckte_zeit">
                Testen Sie 3 Wochen die gedruckte ZEIT
            </a>
        </div>
    </div>
</aside>
