{% set teaser_position_region = region_loop.index %}
{% set teaser_position_area = area_loop.index %}
{% set teaser_position_module = module_loop.index %}

{% if module.has_digital_ad -%}

<aside class="print-box print-box--angebot">
    <div class="print-box__heading">
        {{ teaser.supertitle }}
    </div>
    <div class="print-box__content">
            <a class="print-box__title" href="{{ teaser.url }}?wt_zmc=fix.int.zonpme.zeitde.angebbox.angebseite.bildtext.headline.headline&amp;utm_medium=fix&amp;utm_source=zeitde_zonpme_int&amp;utm_campaign=angebbox&amp;utm_content=angebseite_bildtext_headline_headline" title="{{ teaser.title }}" data-id="{{ teaser_position_region }}.{{ teaser_position_area }}.{{ teaser_position_module }}.angebots-box.title">{{ teaser.title }}</a>
        <figure class="print-box__media">
            <a href="{{ teaser.url }}?wt_zmc=fix.int.zonpme.zeitde.angebbox.angebseite.bildtext.cover.cover&amp;utm_medium=fix&amp;utm_source=zeitde_zonpme_int&amp;utm_campaign=angebbox&amp;utm_content=angebseite_bildtext_cover_cover" title="{{ teaser.title }}" data-id="{{ teaser_position_region }}.{{ teaser_position_area }}.{{ teaser_position_module }}.angebots-box.image">
                <img class="print-box__media-item" src="{{ module.image | default_image_url('zon-printbox') }}">
            </a>
        </figure>
        <div class="print-box__container">
            <a href="{{ teaser.url }}?wt_zmc=fix.int.zonpme.zeitde.angebbox.angebseite.bildtext.text.text&amp;utm_medium=fix&amp;utm_source=zeitde_zonpme_int&amp;utm_campaign=angebbox&amp;utm_content=angebseite_bildtext_text_text" title="{{ teaser.title }}" data-id="{{ teaser_position_region }}.{{ teaser_position_area }}.{{ teaser_position_module }}.angebots-box.text">
                <p class="print-box__text">{{ teaser.subtitle }}</p>
            </a>
            <a href="{{ teaser.url }}?wt_zmc=fix.int.zonpme.zeitde.angebbox.angebseite.bildtext.button.button&amp;utm_medium=fix&amp;utm_source=zeitde_zonpme_int&amp;utm_campaign=angebbox&amp;utm_content=angebseite_bildtext_button_button" data-id="{{ teaser_position_region }}.{{ teaser_position_area }}.{{ teaser_position_module }}.angebots-box.button">
                <span class="print-box__button">Test-Zugang sichern</span>
            </a>
        </div>
    </div>
</aside>
{% else -%}
<aside class="print-box">
    {% set title = teaser.supertitle + ' - ' + teaser.title -%}
    <div class="print-box__heading">
        Diese Woche in der Zeit
        <span class="print-box__issue">Nr. {{ teaser.volume }} / {{ teaser.year }}</span>
    </div>
    <div class="print-box__content">
        <figure class="print-box__media">
            <a href="{{ teaser.url }}?wt_zmc=fix.int.zonpme.zeitde.printbox.ausgseite.bildtext.cover.cover&amp;utm_medium=fix&amp;utm_source=zeitde_zonpme_int&amp;utm_campaign=printbox&amp;utm_content=ausgseite_bildtext_cover_cover" title="{{ title }}" data-id="{{ teaser_position_region }}.{{ teaser_position_area }}.{{ teaser_position_module }}.print-box.image">
                <img class="print-box__media-item" src="{{ module.image | default_image_url('zon-printbox-wide') }}">
            </a>
        </figure>
        <div class="print-box__container">
            <a href="{{ teaser.url }}?wt_zmc=fix.int.zonpme.zeitde.printbox.ausgseite.bildtext.headline.headline&amp;utm_medium=fix&amp;utm_source=zeitde_zonpme_int&amp;utm_campaign=printbox&amp;utm_content=ausgseite_bildtext_headline_headline" title="{{ title }}" class="print-box__combined-link" data-id="{{ teaser_position_region }}.{{ teaser_position_area }}.{{ teaser_position_module }}.print-box.title-and-text">
                <h2 class="print-box__content-heading">
                    <span class="print-box__kicker">{{ teaser.supertitle }}</span>
                    <span class="print-box__title">{{ teaser.title }}</span>
                </h2>
                <p class="print-box__text">{{ teaser.subtitle }}</p>
            </a>
            <a href="{{ teaser.url }}?wt_zmc=fix.int.zonpme.zeitde.printbox.ausgseite.bildtext.weitere.weitere&amp;utm_medium=fix&amp;utm_source=zeitde_zonpme_int&amp;utm_campaign=printbox&amp;utm_content=ausgseite_bildtext_weitere_weitere" class="print-box__link" data-id="{{ teaser_position_region }}.{{ teaser_position_area }}.{{ teaser_position_module }}.print-box.weitere-themen">
                Weitere Themen
            </a>
            <a href="{{ teaser.url }}?wt_zmc=fix.int.zonpme.zeitde.printbox.ausgseite.bildtext.button.button&amp;utm_medium=fix&amp;utm_source=zeitde_zonpme_int&amp;utm_campaign=printbox&amp;utm_content=ausgseite_bildtext_button_button" data-id="{{ teaser_position_region }}.{{ teaser_position_area }}.{{ teaser_position_module }}.print-box.button">
                <span class="print-box__button">Mehr erfahren</span>
            </a>
            <a href="http://leserservice.zeit.de/diesewoche/DIE-ZEIT-kostenlos-testen/index.php?r=npb" id="intern.box.zeitde.fix.probe.homepage.leserservice.text.cross" class="print-box__link" data-id="{{ teaser_position_region }}.{{ teaser_position_area }}.{{ teaser_position_module }}.print-box.testen-sie">
                Testen Sie 3 Wochen die gedruckte ZEIT
            </a>
        </div>
    </div>
</aside>
{% endif -%}
