{% import 'zeit.web.site:templates/macros/layout_macro.tpl' as lama %}
<form class="search-form">
	<div class="search-form__fieldset">
		<div class="search-text-input">
			<label for="query" class="visually-hidden">Suchbegriff</label>
			<input type="text" name="q" id="query" value="{{ module.search_term }}" placeholder="Suchbegriff eingeben" class="search-text-input__input" autofocus />
			<button type="submit" id="search" value="Suchen" class="search-submit">
				{{ lama.use_svg_icon('search', 'search-submit__icon', view.package) }}
				<span class="search-submit__text">Suchen</span>
			</button>
		</div>
		<div class="search-options">
			<span class="search-options__on">+ Suchergebnis eingrenzen</span>
			<div class="search-options__container">
				<fieldset class="search-range">
					<legend class="search-range__legend">
						Datum eingrenzen
						{{ lama.use_svg_icon('arrow-down', 'search-range__icon', view.package) }}
					</legend>
					<div class="search-range__extend">
						{% for id, checked, label in module.mode_choice %}
						<label class="search-range__label">
							<input class="search-range__input" type="radio" name="mode" value="{{ id }}"{% if checked %} checked{% endif %}/>
							{{ label }}
						</label>
						{% endfor %}
					</div>
				</fieldset>
				<fieldset class="search-range">
					<legend class="search-range__legend">
						Typ eingrenzen
						{{ lama.use_svg_icon('arrow-down', 'search-range__icon', view.package) }}
					</legend>
					<div class="search-range__extend">
						{% for id, checked, label in module.type_choice %}
						<label class="search-range__label">
							<input class="search-range__input" type="checkbox" name="type" value="{{ id }}"{% if checked %} checked{% endif %}/>
							{{ label }}
						</label>
						{% endfor %}
					</div>
				</fieldset>
				<span class="search-options__off">
					{{ lama.use_svg_icon('close', 'search-options__icon', view.package) }}
				</span>
			</div>
		</div>
	</div>
</form>
