{% set module = module | get_module %}

<form class="search-form">
    <input type="text" name="q" id="query" value="{{ module.q | hide_none }}"/>

    {% for id, checked, label in module.mode_choice %}
    <label for="{{ id }}">{{ label }}</label>
    <input type="radio" name="mode" id="{{ id }}" value="{{ id }}"{% if checked %} checked{% endif %}/>
    {% endfor %}

    {% for id, checked, label in module.type_choice %}
    <label for="{{ id }}">{{ label }}</label>
    <input type="checkbox" name="type" id="{{ id }}" value="{{ id }}"{% if checked %} checked{% endif %}/>
    {% endfor %}

    <input type="submit" id="search" value="Suchen"/>
</form>
