{% import 'zeit.web.site:templates/macros/layout_macro.tpl' as lama %}
{% import 'zeit.web.site:templates/macros/centerpage_macro.tpl' as cp %}

{# the blockname is also used by clicktracking.js for tracking/reporting stuff #}
{% set blockname = 'teaser-storystream' %}

{% if area.kind == 'minor' %}
    {% set blockname_modifier = 'in-area-minor' %}
{% endif %}

{% set target_url = teaser.uniqueId | create_url %}

<article class="{{ blockname | with_mods(blockname_modifier) }}
    {%- if module.visible_mobile == False %} mobile-hidden{% endif %}" data-unique-id="{{ teaser.uniqueId }}" data-meetrics="{{ area.kind }}" data-clicktracking="{{ area.kind }}">
    <header class="{{ '{}__header'.format(blockname) | with_mods(blockname_modifier) }}">
        {# get the image directly from the supplied image group #}
        {% require image = get_image(module, variant_id='cinema', fallback=False) %}
            {# we need to explicitly pass the layout aka block class name #}
            {% set module_layout = blockname %}
            {% include "zeit.web.site:templates/inc/storystream/asset/headerimage_image.tpl" %}
        {% endrequire %}

        <div class="{{ '{}__headercontent'.format(blockname) | with_mods(blockname_modifier) }}">
            <a class="{{ blockname }}__link" href="{{ target_url }}">
                <span class="{{ blockname }}__kicker">{{ teaser.teaserSupertitle or teaser.supertitle }}</span>
                {%- if teaser.teaserSupertitle or teaser.supertitle -%}
                <span class="visually-hidden">: </span>
                {% endif -%}
                <h2 class="{{ '{}__title'.format(blockname) | with_mods(blockname_modifier) }}">{{ teaser.teaserTitle or teaser.title }}</h2>
            </a>
        </div>
    </header>
    <div class="{{ '{}__content'.format(blockname) | with_mods(blockname_modifier) }}">
        <ul class="{{ '{}__list'.format(blockname) | with_mods(blockname_modifier) }}">
            {% for article_module in module.article_modules %}
                {% set article_teaser = article_module | first_child %}
                <li class="{{ '{}__listitem'.format(blockname) | with_mods(blockname_modifier) }}">{{ article_teaser.tldr_title or article_teaser.teaserTitle or article_teaser.title }}</li>
            {% endfor %}
        </ul>

        {% set updated = cp.include_teaser_datetime(teaser, blockname, blockname) %}
        {% if updated %}
            <span class="{{ '{}__update'.format(blockname) | with_mods(blockname_modifier) }}">
                {{ lama.use_svg_icon('storystream-updated', 'teaser-storystream__updateicon', view.package) }}
                Aktualisiert {{ updated }}
            </span>
        {% endif %}

        <a class="button {{ '{}__button'.format(blockname) | with_mods(blockname_modifier) }}" href="{{ target_url }}">zum Live-Dossier</a>
    </div>
</article>
