<aside class="studiumbox">
	<span class="studiumbox__label">Verlagsangebot</span>
	<div class="studiumbox__container js-tabs">
		{# TAB 1 #}
		<h2 class="studiumbox__headline studiumbox__headline--active">
			<a href="#studium-interessenstest">Studium-Interessenstest</a>
		</h2>
		<div class="studiumbox__content studiumbox__content--active" id="studium-interessenstest">
			<h3 class="studiumbox__title">Welches Studium passt zu ihren Interessen?</h3>
			<p class="studiumbox__text">Finden Sie es heraus mit dem Studium-Interessentest.</p>
			<a href="http://studiengaenge.zeit.de/sit?wt_zmc=fix.int.zonpmr.zeitde.funktionsbox_studium.sit.teaser.button.&utm_medium=fix&utm_source=zeitde_zonpmr_int&utm_campaign=funktionsbox_studium&utm_content=sit_teaser_button_" class="studiumbox__button">zum Test</a>
		</div>

		{# TAB 2 #}
		<h2 class="studiumbox__headline">
			<a href="#studiengangssuche"><span class="concise">Studiengangssuche</span><span class="verbose">Suchmaschine für Studiengänge</span></a>
		</h2>
		<div class="studiumbox__content" id="studiengangssuche">
			<form method="post" action="http://studiengaenge.zeit.de/studienangebote?wt_zmc=fix.int.zonpmr.zeitde.funktionsbox_studium.suma.teaser.button.&utm_medium=fix&utm_source=zeitde_zonpmr_int&utm_campaign=funktionsbox_studium&utm_content=suma_teaser_button_">
				<h3 class="studiumbox__title">Was oder wo möchten Sie studieren?</h3>
				<input name="suche_refine" type="text" class="studiumbox__input" placeholder="Suchbegriff eingeben">
				<input class="studiumbox__button" type="submit" value="Suchen">
				<a href="http://studiengaenge.zeit.de/studienangebote?wt_zmc=fix.int.zonpmr.zeitde.funktionsbox_studium.suma.teaser.button.&utm_medium=fix&utm_source=zeitde_zonpmr_int&utm_campaign=funktionsbox_studium&utm_content=suma_teaser_button_" class="studiumbox__link">Ich weiß es noch nicht</a>
			</form>
		</div>

		{# TAB 3 #}
		<h2 class="studiumbox__headline">
			<a href="#hochschulranking">CHE Hochschul&shy;Ranking</a>
		</h2>
		<div class="studiumbox__content" id="hochschulranking">
			<form method="post" action="http://ranking.zeit.de/che2015/de/rankingunion/show?esb=7&ab=3&hstyp=1#&left_f1=23&left_f2=42&left_f3=346&left_f4=272&left_f5=14&order=alpha&unionview=table&subfach=&wt_zmc=fix.int.zonpmr.zeitde.funktionsbox_studium.suma.teaser.button.&utm_medium=fix&utm_source=zeitde_zonpmr_int&utm_campaign=funktionsbox_studium&utm_content=suma_teaser_button_">
				<h3 class="studiumbox__title">Welche Uni ist die beste für Ihr Fach?</h3>
				<select name="" class="studiumbox__input">
					<option value="sad">as</option>
				</select>
				<input class="studiumbox__button" type="submit" value="zum Ranking">
			</form>
		</div>

	</div>
</aside>
