<div class="centerpage-header centerpage-header--volume">
    <h1 class="centerpage-header__title">Archiv</h1>
    <span class="centerpage-header__text">Hier finden sie alle Artikel aus DIE ZEIT seit 1946.</span>
    <span class="centerpage-header__selector">
        <select class="centerpage-header__dropdown">
            <option>2016</option>
            <option>2015</option>
            <option>2014</option>
            <option>2013</option>
        </select>
        <a href="" class="centerpage-header__link">Suchen</a>
    </span>
</div>
