{%- extends "zeit.web.site:templates/inc/module/centerpage-header.html" -%}

{% block modifier %}centerpage-header--volume{% endblock %}">
{% block additional_content %}
    <span class="centerpage-header__text">Hier finden sie alle Artikel aus DIE ZEIT seit 1946.</span>
    <span class="centerpage-header__selector">
        <select class="centerpage-header__dropdown">
            {% for year in view.volume_years_list %}
                <option value="{{ year }}" {%- if year == view.volume_year %}selected{% endif -%}>{{ year }}</option>
            {% endfor %}
        </select>
        <a href="#" onclick="window.location.href=window.location.protocol+'//'+window.location.host+'/'+document.getElementsByClassName('centerpage-header__dropdown')[0].value;" class="centerpage-header__link">Suchen</a>
    </span>
{% endblock %}
