// collect article elements with font-beckett and change font size

.article
    &__subheading
        font-size: remify(26px) * 0.6875

.article-toc
    &__headline
        font-size: remify(32px) * 0.6875
    &__item
        strong
            font-size: remify(32px) * 0.6875

.article-header
    &__title
        font-size: remify(48px) * 0.6875

.infobox
    &__container
        &:before
            font-size: remify(32px) * 0.6875

.nextread
    &__lead
        font-size: remify(26px) * 0.6875

.nextread-teaser
    &__title
        font-size: remify(26px) * 0.6875

.quote
    &__text
        font-size: 0.6875rem

.video-caption
    &__title
        font-size: remify(28px) * 0.6875

.stoa
    &__title
        font-size: remify(30px) * 0.6875

+respond-min($break-tablet-min)
    .article
        &__subheading
            font-size: remify(42px) * 0.6875

    .article-header
        &__title
            font-size: remify(112px) * 0.6875

    .nextread-teaser
        &__title
            font-size: remify(64px) * 0.6875
