.cp-region
    font-family: $font-verdana
    font-size: 0.85em

%teaser-title
    font-family: $font-impact
    font-size: 0.6875em
    line-height: 1.2em
    letter-spacing: $letter-spacing-m

%teaser-kicker
    font-family: $font-verdana
    background-color: $color-page-bg

%teaser-combined-link
    background-color: $color-page-bg
    box-shadow: $teaser-heading-box-shadow 0 0 0 $color-page-bg
