.cp-region
    font-size: 0.85em

%teaser-title
    font-size: 0.6875em
    line-height: 1.2em
    letter-spacing: $letter-spacing-m

%teaser-kicker
    font-size: 0.6875rem
    &:before
        content: "Advertorial \2014 "
        font-weight: normal
