.header
    &__ad-label
        display: none

    +respond-min($break-tablet-min)
        &__ad-label
            color: $dusty-gray
            font-size: remify(15px)
            letter-spacing: $letter-spacing-m
            margin-left: $page-padding
            display: inline-block
