.header
	&__ad-label
		color: $dusty-gray
		float: left
		font-size: em(9px)
		letter-spacing: 0.15em
		margin-left: remify(10px)
		text-transform: uppercase
		+respond-min(em(350px))
			font-size: em(15px)
			letter-spacing: $letter-spacing-m
			margin-left: remify(20px)
			text-transform: none
