// main teaser adaptions

%teaser-title
    font-size: 0.6875em

%teaser-kicker
    &:before
        content: "Advertorial \2014 "
        font-weight: normal

// additional adaptions for different teaser/ teaser-area types
// not sure if even needed (as)

.teaser-topic-variant-main
    &__heading
        font-size: remify(26px) * 0.6875
        +respond-min($break-tablet-min)
            font-size: remify(36px) * 0.6875

.teaser-topic-main
    &__heading
        font-size: em(42px) * 0.6875
        +respond-min($break-tablet-min)
            font-size: em(64px) * 0.6875

.teaser-topic-item
    &__title
        font-size: em(28px) * 0.6875

.teaser-graphical
    &__heading
        font-size: em(26px) * 0.6875
        +respond-min($break-tablet-min)
            font-size: em(36px) * 0.6875
        +respond-min($break-desktop-min)
            font-size: em(42px) * 0.6875
