.author
	&__item
		+respond-min($break-tablet-min)
			max-width: remify(660px)
			margin-left: auto
			margin-right: auto

	&__subheadline
		color: $zon-dark-grey
		font-size: em(13px)
		letter-spacing: $zon-letter-spacing-m
		margin: 0 0 .5em
		text-transform: uppercase
		+respond-min($break-tablet-min)
			font-size: em(15px)

.author-profile
	position: relative
	margin-bottom: remify(40px)
	+respond-min($break-tablet-min)
		padding-right: remify(180px)
	+respond-min($break-desktop-min)
		padding-right: remify(140px)

.author-bio
	margin: 1em 0
