.author
	&__item
		+respond-min($break-tablet-min)
			max-width: remify(660px)
			margin-left: auto
			margin-right: auto

	&__subheadline
		color: $zon-dark-grey
		font-size: em(14px)
		letter-spacing: $zon-letter-spacing-m
		margin: 0 0 .5em
		text-transform: uppercase
		+respond-min($break-tablet-min)
			font-size: em(16px)
