.author-contact
	+clearfix
	margin-bottom: remify(30px)
	&:only-child
		float: none
		margin-right: 0
		max-width: none

	&__link
		color: $zon-dark-grey
		max-width: 100%
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		+respond-min($break-areas)
			display: inline-block
			margin-bottom: remify(3px)

	&__icon
		height: remify(24px)
		width: remify(24px)

		&--twitter
			color: $color-twitter
			margin-top: remify(3px)
		&--facebook
			color: $color-facebook
		&--instagram
			color: #66583d
		&--email
			color: $zon-grey
			margin-top: remify(5px)

		+respond-min($break-areas)
			height: remify(18px)
			margin-right: remify(10px)
			vertical-align: middle
			width: remify(18px)

	&__text
		font-size: em(13px)
		letter-spacing: $zon-letter-spacing-s

	+respond-max($break-areas)
		&__title
			display: none
		&__item
			float: left
			max-width: remify(70px)
			width: 25%
			line-height: normal

		&__item--facebook
			width: 20%

		&__icon
			display: block
		&__text
			display: none
	+respond-min($break-areas)
		float: right
		margin-bottom: remify(20px)
		margin-right: remify(-220px)
		max-width: remify(180px)
	+respond-min($break-desktop-min)
		margin-right: remify(-240px)
		max-width: remify(200px)
