.author-header
    margin-left: -$page-padding
    margin-right: -$page-padding
    padding-bottom: remify(40px)
    background-color: $zon-lighter-grey

    &__inner
        +respond-min($break-tablet-min)
            max-width: remify(620px)
            margin-left: auto
            margin-right: auto
