.author-questions
    @extend %author-copytext
    +transition(max-height .5s)
    margin-top: remify(30px)
    overflow: hidden
    position: relative

    &__title
        font-size: inherit
        margin: 0 0 .5em

    &__text
        margin: 0 0 .75em

    &--wrapped
        +text-wrapper($content: '+ mehr')
