.user-comment
    border-top: 1px solid $color-border
    font-size: remify(16px)
    padding: remify(24px 0)

    +respond-min($break-tablet-min)
        border: none
        // this is better be done by html class .author-item
        // substitute after merge; TODO: ARNE
        max-width: remify(620px)
        margin-left: auto
        margin-right: auto
        // /END

    &__text
        line-height: 1.5
        & > p:first-child
            margin-top: 0
    &__date
        color: $zon-mid-grey
        font-size: remify(14px)
        margin-bottom: remify(10px)

    &__article-link
        font-weight: bold
    &__article-kicker
        color: $zon-red
        letter-spacing: $zon-letter-spacing-m
    &__article-title
        color: $black
