.teaser-small
	@extend %teaser
	border-bottom: 1px $color-border-on-bright solid
	padding: $vertical-space--small $page-padding--small
	+respond-min($break-tablet-min)
		border: none
		padding: $vertical-space $cp-padding

	&__media
		@extend %teaser-media
		+reserve-space-for-teaser-media(100% / 16 * 9) // image variant 'wide' (16:9)
		margin-bottom: remify(12px)

	&__heading
		margin: 0

	&__combined-link
		@extend %teaser-combined-link

	&__series-label
		@extend %teaser-kicker--s

	&__kicker
		@extend %teaser-kicker--s
		margin-bottom: remify(8px)

	&__title
		@extend %teaser-title--xs
		margin-bottom: remify(8px)

	&__text
		@extend %teaser-text
		margin: remify(0 0 8px)

	&__metadata
		@extend %teaser-metadata
		font-family: $font-franziska
		font-style: italic

	&__commentcount
		@extend %teaser-commentcount

+respond-max($break-tablet-min)
	.teaser-small
		&__media
			display: none
			&--force-mobile
				display: block

	// we want to seperate trio teasers from lead teasers (which we _assume_ inside the first solo region)
	.cp-region--solo:first-of-type + .cp-region--trio > .cp-area--trio:first-child > .teaser-small
		border-top: 1px $color-border-on-bright solid

.teaser-small
	&--advertorial
		position: relative
		.teaser-small__heading
			&:before
				@extend %teaser-advertoriallabel
				top: $vertical-space--small
				right: $page-padding--small
				+respond-min($break-tablet-min)
					padding: remify(8px)
					top: $vertical-space
					right: $cp-padding
				+respond-max($break-tablet-min)
					background: none
					color: $primary-color
		// Very special special case:
		.teaser-small__media--force-mobile + .teaser-small__container
			.teaser-small__heading
				&:before
					+respond-max($break-tablet-min)
						background: rgba($primary-color, 0.6)
						color: #fff
						padding: remify(8px)
