%teaser
	color: $color-text

%teaser-media
	background-color: $greyish-white
	color: $color-text // force alt text being readable

%teaser-combined-link
	color: inherit

// ------------------------------------------------------
// TEASER-KICKER

%teaser-kicker
	display: block
	font-weight: normal
	line-height: 1.2
	+respond-min($break-tablet-min)
		line-height: 1.3

%teaser-kicker--l
	@extend %teaser-kicker
	font-size: remify(16px)
	letter-spacing: $letter-spacing-l
	+respond-min($break-tablet-min)
		font-size: remify(20px)
		letter-spacing: $letter-spacing-xl

%teaser-kicker--s
	@extend %teaser-kicker
	color: $zar-battleship-grey
	font-size: remify(14px)
	letter-spacing: $letter-spacing-s
	+respond-min($break-tablet-min)
		letter-spacing: $letter-spacing-m

// ------------------------------------------------------
// TEASER-TITLE

%teaser-title
	display: block
	font-family: $font-patronbold

%teaser-title--xxs
	@extend %teaser-title
	font-size: remify(18px)
	line-height: 1.4

%teaser-title--xs
	@extend %teaser-title
	font-size: remify(20px)
	line-height: 1.3

%teaser-title--s
	@extend %teaser-title
	font-size: remify(22px)
	line-height: 1.2
	+respond-min($break-tablet-min)
		font-size: remify(28px)
		line-height: 1.3

%teaser-title--xl
	@extend %teaser-title
	font-size: remify(28px)
	line-height: 1.3
	+respond-min($break-tablet-min)
		font-size: remify(54px)
		line-height: 1.1

// ------------------------------------------------------
// TEASER-TEXT

%teaser-text-fontsize
	font-size: remify(16px)
	line-height: 1.5
	+respond-min($break-tablet-min)
		font-size: remify(15px)
		line-height: 1.4

%teaser-text
	@extend %teaser-text-fontsize
	color: $zar-battleship-grey

// ------------------------------------------------------
// TEASER-METADATA

%teaser-metadata
	color: $zar-cool-grey
	@extend %teaser-text-fontsize
	letter-spacing: $letter-spacing-s
	> *:not(:last-child):not(:empty):after
		content: " \2014 " // — = em dash
		margin: 0 .2em
		opacity: $color-separator-opacity
	time
		white-space: nowrap

%teaser-commentcount
	@extend %commentcount

.series-label
	&:after
		content: " / "
		margin: 0 .25em

// ------------------------------------------------------
// TEASER-KICKER

%teaser-adlabel
	font-size: remify(9px)
	line-height: remify(11px)
	letter-spacing: 1.5px
	text-transform: uppercase
	color: #99999c
