.teaser-topic
	@extend %teaser
	border: remify(6px) $zar-sun-yellow solid
	margin: $vertical-space--small $page-padding--small
	padding: $vertical-space--small $page-padding--small

+respond-min($break-tablet-min)
	.teaser-topic
		margin: $vertical-space $cp-padding
		padding: $vertical-space $cp-padding
		+pie-clearfix

	.teaser-topic-main,
	.teaser-topic__list
		width: 50%
		padding: $page-padding--small
		float: left
