=teaser-duo-equal-height
	// equal height for teasers in flexboxed duo regions
	// duo-teaser and vertical-specific mixin, hence declared here instead in
	// global mixins.scss for now
	height: 100%
	margin-bottom: 0
	margin-top: 0

.teaser-duo
	@extend %teaser
	margin: remify(14px) $page-padding--small
	+respond-min($break-tablet-min)
		margin: $vertical-space $cp-padding

	&__media
		// do not extend teaser-media, because we want the duo-teaser background color
		+reserve-space-for-teaser-media(100% / 16 * 9) // image variant 'wide' (16:9)
		margin-bottom: remify(12px)

	&__container
		padding: remify(5px 20px 20px)

	&__heading
		margin: 0

	&__combined-link
		@extend %teaser-combined-link

	&__series-label
		@extend %teaser-kicker--s

	&__kicker
		@extend %teaser-kicker--s
		margin-bottom: remify(8px)

	&__title
		@extend %teaser-title--s
		margin-bottom: remify(8px)

	&__text
		@extend %teaser-text
		margin: remify(0 0 8px)

	&__metadata
		@extend %teaser-metadata
		font-family: $font-franziska
		font-style: italic

	&__commentcount
		@extend %teaser-commentcount


	&--bright
		background-color: #EEEEF0
	&--dark
		+font-smoothing
		background-color: #252525
		.teaser-duo__title
			color: #FFFFFF
		.teaser-duo__kicker,
		.teaser-duo__text,
		.teaser-duo__metadata
			color: $zar-french-grey

// same height on desktop for "modern" browsers
// TODO: to be discussed. Should we apply the margin to the region in all cases?
+respond-min($break-tablet-min)
	html.flexbox
		.cp-region--duo
			display: flex
			margin-bottom: $vertical-space*2 // vertical-space is designed to be used as padding which adds up. But here, margins collapse.
			margin-top: $vertical-space*2 // vertical-space is designed to be used as padding which adds up. But here, margins collapse.
		.teaser-duo
			+teaser-duo-equal-height

	// noJS fallback for flexbox capable browsers
	html.no-js
		@supports (display: flex)
			.cp-region--duo
				display: flex
				margin-bottom: $vertical-space*2 // vertical-space is designed to be used as padding which adds up. But here, margins collapse.
				margin-top: $vertical-space*2 // vertical-space is designed to be used as padding which adds up. But here, margins collapse.
			.teaser-duo
				+teaser-duo-equal-height
