.teaser-podcast-footer
	&__link
		border-bottom: 1px rgba($color-text, 0.2) solid
		color: $color-text

+respond-min($break-tablet-min)
	.cp-area--duo .teaser-podcast
		margin: 0 $cp-padding
		width: 100%
