$teaser-topiccluster-bordercolor: red // $zar-white

.teaser-topiccluster
	background: #eeeef0
	color: $color-text
	margin: 0
	text-align: center

	&__container
		margin: $page-padding--small
		border-bottom: 1px $teaser-topiccluster-bordercolor solid

	// TODO: DRY
	&:last-child > .teaser-topiccluster__container
		border-bottom: none

	&__combined-link
		@extend %teaser-combined-link
		display: block
		padding: remify(13px $page-padding--small)
		+on-interaction
			color: $zar-darkish-pink

	&__heading
		margin: remify(($page-padding--small) (-$page-padding--small))

	&__title
		@extend %teaser-title
		font-size: 18px
		line-height: 1.4

+respond-min($break-phablet-min)
	+respond-max($break-tablet-min)
		.teaser-topiccluster
			float: left
			width: 50%
		.teaser-topiccluster:nth-of-type(2n) > .teaser-topiccluster__container > .teaser-topiccluster__heading
			border-left: 1px $teaser-topiccluster-bordercolor solid
		.teaser-topiccluster:nth-of-type(n+3) > .teaser-topiccluster__container,
		.teaser-topiccluster:nth-of-type(n+3) > .teaser-topiccluster__container > .teaser-topiccluster__heading
			margin-top: 0
		.teaser-topiccluster:nth-last-child(-n+2) > .teaser-topiccluster__container
			border-bottom: none

+respond-min($break-tablet-min)
	.teaser-topiccluster
		float: left
		width: 33.3%
	.teaser-topiccluster:not(:nth-of-type(3n+1)) > .teaser-topiccluster__container > .teaser-topiccluster__heading
		border-left: 1px $teaser-topiccluster-bordercolor solid
	.teaser-topiccluster:nth-of-type(n+4) > .teaser-topiccluster__container,
	.teaser-topiccluster:nth-of-type(n+4) > .teaser-topiccluster__container > .teaser-topiccluster__heading
		margin-top: 0
	.teaser-topiccluster:nth-last-child(-n+3) > .teaser-topiccluster__container
		border-bottom: none
