
.debate
    @extend %border-box
    border-color: $color-community-primary
    margin-top: 2.2em

    &__heading
        margin: 0

    &__kicker
        display: block
        font-weight: bold
        font-size: em(12px)
        letter-spacing: $letter-spacing-l
        color: $color-community-primary
        text-transform: uppercase

    &__title
        display: block
        font-family: $font-beckett
        color: $color-text
        letter-spacing: 1.5px
        font-size: remify(28px)
        line-height: 0.95
        padding: remify(10px)

    &__text
        color: $grey--mid
        font-size: remify(16px)
        line-height: round-to-precision(24/16, $precision: 1)
        a
            color: $color-community-primary

    &__label
        @extend %border-box--cta
        color: $color-community-primary
        &:before
            border-color: $color-community-primary

    +respond-min($break-tablet-min)
        &__kicker
            font-size: em(14px)
        &__title
            font-size: em(42px)
