
.debate
    @extend %border-box
    border-color: $color-community-primary
    margin-top: 2.2em

    &__kicker
        display: block
        font-weight: bold
        font-size: em($font-size-12)
        letter-spacing: $letter-spacing-l
        color: $color-community-primary
        text-transform: uppercase

    &__title
        @extend %font-beckett
        display: block
        color: $color-text
        letter-spacing: 1.5px
        font-size: remify($font-size-28)
        line-height: 0.95
        padding: remify(10px)

    &__text
        color: $grey--mid
        font-size: remify($font-size-16)
        line-height: round-to-precision(24/16, $precision: 1)
        a
            color: $color-community-primary

    &__label
        @extend %border-box--cta
        color: $color-community-primary
        &:before
            border-color: $color-community-primary

    +respond-min($break-tablet-min)
        &__kicker
            font-size: em($font-size-14)
        &__title
            font-size: em($font-size-42)
