.blog-format
	color: $zon-dark-grey
	font-size: remify(14px)
	line-height: 1.2

	&__marker
		+inline-block
		border-bottom: remify(5px) solid $zon-alto
		font-weight: bold
		letter-spacing: 0.14em
		margin: remify(0 2px 14px 0)
		padding-bottom: remify(8px)

	&__name
		font-family: $font-franziska
		font-style: italic
		font-weight: normal

