.blog-format
	color: $zon-dark-grey
	font-size: remify(14px)
	line-height: 1.2
	&--fullwidth
		padding-left: $page-padding
		+respond-min($break-tablet-min)
			padding-left: 0
			color: $white
			left: remify(32px)
			position: absolute
			top: remify(28px)
			z-index: 1
		+respond-min($break-desktop-min)
			left: remify(36px)

	&__marker
		+inline-block
		border-bottom: remify(5px) solid $zon-alto
		font-weight: bold
		letter-spacing: 0.14em
		margin: remify(0 2px 14px 0)
		padding-bottom: remify(8px)
		&--fullwidth
			margin-top: remify(14px)
			+respond-min($break-tablet-min)
				margin-top: 0
				border-color: $white

	&__name
		font-family: $font-franziska
		font-style: italic
		font-weight: normal
