// Styles for the so-called "Kolumnenteaser"

$color-column-background: $zon-warm-grey
$teaser-column-image-size-mobile: 100px
$teaser-column-fullwidth-image-size-phablet: 150px
$teaser-column-fullwidth-image-size-tablet: 200px
$teaser-column-large-image-size-phablet: 150px
$teaser-column-small-image-size-desktop: 200px

%teaser-column
	@extend %teaser
	background-color: $color-column-background
	border-top-width: 0
	position: relative

	& + article // remove border on successive teaser
		border-top-width: 0

	& + &
		border-top-width: 1px

	+respond-min($break-areas)
		margin-bottom: $vertical-space
		margin-top: $vertical-space
		padding-left: $page-padding
		padding-right: $page-padding

		& + &
			border-top-width: 0

%teaser-column__media
	bottom: 0
	height: $teaser-column-image-size-mobile
	position: absolute
	right: remify(10px)
	width: $teaser-column-image-size-mobile

%teaser-column__media-item
	@extend %teaser-media-item !optional

%teaser-column__media-space
	min-height: remify($teaser-column-image-size-mobile - 20px)
	padding-right: remify($teaser-column-image-size-mobile + 20px)
