// Styles for the so-called "Kolumnenteaser"

$color-column-background: $zon-warm-grey
$teaser-column-mobile-image-size: 80px

$teaser-column-image-height-large: 130px
$teaser-column-image-width-large: 130px
$teaser-column-image-height-fullwidth: 210px
$teaser-column-image-width-fullwidth: 210px


%teaser-column
	@extend %teaser
	background-color: $color-column-background
	border-top-width: 0
	padding: $page-padding
	position: relative

	& + article // remove border on successive teaser
		border-top-width: 0

	& + &
		border-top-width: 1px

	+respond-min($break-areas)
		margin-top: $vertical-space
		margin-bottom: $vertical-space

		& + &
			border-top-width: 0

%teaser-column__media
	overflow: hidden
	position: absolute
	bottom: 0
	right: 0
	width: $teaser-column-mobile-image-size
	height: $teaser-column-mobile-image-size
	margin: 0

%teaser-column__media-item
	@extend %teaser-media-item !optional
	+old-ie
		background: $white
		margin-left: 20px
		margin-top: 30px
		position: static

%teaser-column__media-space
	padding-right: remify($teaser-column-mobile-image-size + 20px)
	// min-height: $teaser-column-mobile-image-size - $page-padding - ownMarginBottom = 5rem - 1.25rem - 0.25rem
	min-height: 3.5rem
