.teaser-volume-overview
	+pie-clearfix
	flex: 0 1 100%
	padding: remify(0 0 32px)
	&__link
		+on-interaction
			span
				color: inherit
	&__media
		float: left;
		margin-right: remify(20px)
		max-width: remify(160px)
		width: 50%
	&__media-item
		@extend %volume-packshot-shadow
	&__caption
		font-size: remify(16px)
		letter-spacing: $letter-spacing-l
		padding-top: remify(16px)
		white-space: nowrap
	&__issue
		margin: 0
	&__cta
		border-bottom: 1px solid currentColor
		color: $zon-mid-grey
		font-size: remify(13px)

	+respond-min($break-phablet-min)
		flex: 0 1 33.33%
		padding-right: remify(24px)
		&__media
			float: none
			margin-right: 0
			max-width: none
			width: auto
		&__caption
			font-size: remify(14px)
			padding-top: remify(14px)

	+respond-min($break-tablet-min)
		flex: 0 1 25%
