/// Teaser Scaffolding
/// As all teasers should be BEM-Blocks, they need to share
/// lots of code via placeholder selectors

%teaser
	+pie-clearfix
	border-color: $color-border
	border-style: solid
	border-width: 1px 0 0
	padding: $vertical-space $page-padding--small
	&:nth-of-type(1)
		border-top-width: 0
	+respond-min($break-areas)
		border-top-width: 0
		padding: $vertical-space 0

%teaser-small-media
	display: none
	margin: 0 0 remify(20px)
	+respond-min($break-phablet-min)
		display: table-cell
		margin: 0
		padding-right: remify(20px)
		vertical-align: top
		width: remify(150px+20px)
	+respond-min($break-desktop-min)
		width: remify(250px+20px)

%teaser-small-media-inhouse
	+respond-max($break-phablet-min)
		display: block
		margin: 0 0 remify(20px)

%teaser-small-media-exclusive
	+respond-min($break-tablet-min)
		padding-right: remify(10px)
		width: 50%

%teaser-small-container
	vertical-align: top
	+respond-min($break-phablet-min)
		display: table-cell

%teaser-series-label
	color: $zon-grey
	font-size: em(12px)
	letter-spacing: $zon-letter-spacing-l
	margin: 0 0 remify(8px)
	text-transform: uppercase

%teaser-heading
	font-size: 1em
	margin: 0 0 em(6px)
	+respond-min($break-desktop-min)
		margin-bottom: em(10px)

%teaser-kicker
	align-items: center
	color: $color-text-highlighted
	display: flex
	font-size: em(13px)
	font-weight: bold
	letter-spacing: $zon-letter-spacing-m
	line-height: 1.2
	margin-bottom: em(4px, 13px)
	&--blog
		color: $zon-dark-grey
		font-family: $font-franziska
		font-style: italic
		font-weight: normal
	&--brandeins
		color: $kicker-color-brandeins
		font-size: remify(13px)
		font-weight: normal
		letter-spacing: $zon-letter-spacing-l
		line-height: normal
	&--zmo
		color: $black
		font-size: em(15px)
		font-weight: normal
		letter-spacing: .1em
	&--zco
		color: $kicker-color-campus
		font-size: remify(12px)
		text-transform: uppercase
	&--zar
		color: $kicker-color-arbeit
		font-size: remify(13px)
		font-weight: normal
		text-transform: none
	&--zmo-parquet
		font-size: em(13px)
		letter-spacing: .06em
	&--zco-parquet
		@extend %teaser-kicker--zco
	&--zar-parquet
		@extend %teaser-kicker--zar
	&--zett
		color: $black
		font-size: em(13px)
		font-weight: normal
		letter-spacing: 0.05em
		line-height: 1.3
	&--zett-parquet
		color: $primary-color-zett

%teaser-kicker-logo
	&--brandeins
		$logo_format: (71.5/14)
		border-right: 1px solid $zon-light-grey
		color: $kicker-logo-color-brandeins
		height: em(15px, 13px)
		margin-bottom: em(1px, 13px)
		margin-right: em(7px, 13px)
		width: em(ceil(14px*$logo_format), 13px) // use em for larger fullwidth kicker
		padding: em(1px 7px 1px 0, 13px)
	&--zmo
		background-color: rgba(25,25,25,0.7)
		border-radius: 3px
		color: $white
		height: remify(18px)
		margin-right: remify(8px)
		margin-top: remify(-1px)
		width: remify(31px)
	&--zett
		background-color: $primary-color-zett
		color: $white
		height: remify(18px)
		margin-right: remify(8px)
		width: remify(30px)
	&--zco
		$logo_format: (185/33)
		border-right: 1px solid currentColor
		height: em(14px + 3px, 12px)
		margin-right: remify(6px)
		width: em(ceil(14px*$logo_format + 7px), 12px) // add padding for border right, use em for larger fullwidth kicker
		padding: em(3px 6px 0 0, 12px)
	&--zar
		$logo_format: (122/30)
		border-right: 1px solid currentColor
		color: $primary-color-zar
		height: em(16px + 3px, 13px)
		margin-right: remify(6px)
		width: em(ceil(16px*$logo_format + 7px), 13px) // add padding for border right, use em for larger fullwidth kicker
		padding: em(1px 6px 0 0, 13px)
	&--liveblog
		background-image: linear-gradient(to top, $zon-red, #d41910)
		background-color: $zon-red
		border-radius: remify(3px)
		color: $white
		font-size: remify(10px)
		font-weight: bold
		font-style: normal
		letter-spacing: $zon-letter-spacing-l
		margin-right: remify(8px)
		padding: remify(2px 6px 3px)
		text-transform: uppercase
		&:before
			animation: live-blog-indicator-animation 2s infinite
			background-color: $zon-lighter-grey
			border-radius: 50%
			content: ""
			display: inline-block
			height: remify(8px)
			margin-right: remify(4px)
			width: remify(8px)
		&-closed
			background-image: linear-gradient(to top, #494b52, $trout)
			background-color: $trout
			&:before
				animation: none
	&--zplus
		background-color: $zon-red
		color: #fff
		flex-shrink: 0
		height: remify(23px)
		margin-right: remify(8px)
		margin-top: remify(-2px)
		width: remify(28px)
	&--zplus-xs
		@extend %teaser-kicker-logo--zplus
		height: remify(18px)
		margin-right: remify(6px)
		width: remify(22px)
	&--zplus-register
		@extend %teaser-kicker-logo--zplus
		background-color: $grey
	&--zplus-xs-register
		@extend %teaser-kicker-logo--zplus-xs
		background-color: $grey
	&--tag
		color: $zon-charcoal
		margin-right: remify(7px)

%teaser-combined-link
	color: inherit
	display: block

%teaser-title
	display: block
	color: $zon-charcoal
	font-size: em(20px)
	font-weight: 700
	letter-spacing: $zon-letter-spacing-s
	line-height: 1.2

%teaser-media
	margin: 0 0 remify(20px)

%teaser-media-item

%teaser-text
	color: $zon-dark-grey
	font-size: em(17px)
	line-height: 1.4
	margin: 0 0 remify(12px)
	+respond-min($break-phablet-min)
		font-size: em(15px)

%teaser-metadata
	color: $zon-grey
	font-size: em(14px)
	line-height: 1.4
	letter-spacing: $zon-letter-spacing-s
	+respond-min($break-tablet-min)
		font-size: em(13px)
	> *:not(:last-child):not(:empty):after
		content: " / "
		margin: 0 .2em
		opacity: $color-separator-opacity

%teaser-byline

%teaser-datetime
	white-space: nowrap

%teaser-commentcount
	@extend %commentcount

%teaser-label
	@extend %label

/**
 * Abstract teaser for the so called 'Biga-Riegel' or 'Shop-Riegel'
 */
%teaser-bar
	background-color: $white
	margin-bottom: remify(20px)
	&:hover
		box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05)
	&__media
		height: 0
		padding-bottom: 100% / 16 * 9
		position: relative
	&__container
		padding: remify(20px 18px)
	&__button
		@extend .button--uncolored
		display: table
		margin: 0 auto
	&__shuffle-icon
		width: remify(15px)
		height: remify(13px)
		margin-right: 0.5em
		vertical-align: -1px

%teaser-cp-area-fullwidth
	+clearfix
	+font-smoothing
	padding: remify(24px $page-padding--small 32px)
	position: relative
	text-align: center
	+respond-min($break-areas)
		padding: remify(40px 0)
		text-align: inherit
	&__media
		bottom: 0
		left: 0
		margin: 0
		min-height: 100%
		min-width: 100%
		position: absolute
		right: 0
		top: 0
		&.is-pixelperfect
			a
				height: 100%
			img
				min-height: 100%
				min-width: 100%
				width: auto
	&__media-container
		+plain-transparent-overlay($alpha: 0.5)
		background-color: $color-dark-background
		height: 100%

%teaser-item-divider
	margin: auto
	max-width: remify(450px)
	&:after
		border-bottom: 1px solid rgba($white, .4)
		content: ""
		display: block
		height: 0
		margin: remify(20px) auto remify(12px)
	&:last-child:after
		content: none

%teaser-kicker-cp-area-fullwidth
	color: $zon-lighter-grey
	display: inline-block
	font-size: em(14px)
	font-weight: normal
	letter-spacing: $zon-letter-spacing-l
	line-height: 1.2
	text-transform: uppercase
	margin-bottom: remify(4px)
