/// Teaser Scaffolding
/// As all teasers should be BEM-Blocks, they need to share
/// lots of code via placeholder selectors

%teaser
	+pie-clearfix
	border-color: $color-border
	border-style: solid
	border-width: 1px 0 0
	margin: 0 (-$page-padding)
	padding: $vertical-space $page-padding
	&:nth-of-type(1)
		border-top-width: 0
	+respond-min($break-areas)
		border-top-width: 0
		margin-left: 0
		margin-right: 0
		padding: $vertical-space 0

%teaser-small-media
	display: none
	margin: 0 0 remify(20px)
	+respond-min($break-phablet-min)
		display: table-cell
		margin: 0
		padding-right: remify(20px)
		vertical-align: top
		width: remify(150px+20px)
	+respond-min($break-desktop-min)
		width: remify(250px+20px)

%teaser-small-media-inhouse
	+respond-max($break-phablet-min)
		display: block
		margin: 0 0 remify(20px)

%teaser-small-container
	vertical-align: top
	+respond-min($break-phablet-min)
		display: table-cell

%teaser-series-label
	color: $zon-grey
	font-size: em(12px)
	letter-spacing: $zon-letter-spacing-l
	margin: 0 0 remify(8px)
	text-transform: uppercase

%teaser-heading
	font-size: 1em
	margin: 0 0 em(6px)
	+respond-min($break-desktop-min)
		margin-bottom: em(10px)

%teaser-kicker
	display: block
	color: $color-text-highlighted
	font-size: em(13px)
	font-weight: bold
	letter-spacing: $zon-letter-spacing-m
	line-height: 1.2
	margin-bottom: em(4px, 13px)
	&--blog
		color: $zon-dark-grey
		font-family: $font-franziska
		font-style: italic
		font-weight: normal
	&--zmo
		color: $black
		font-size: em(15px)
		font-weight: normal
		letter-spacing: .1em
	&--zco
		color: $kicker-color-campus
		font-size: remify(12px)
		text-transform: uppercase
	&--zmo-parquet
		@extend %teaser-kicker--zmo
		font-size: em(13px)
		letter-spacing: .06em
	&--zco-parquet
		@extend %teaser-kicker--zco
	&--zett
		color: $black
		font-size: em(13px)
		font-weight: normal
		letter-spacing: 0.05em
		line-height: 1.3
	&--zett-parquet
		color: $primary-color-zett

%teaser-kicker-logo-divider
	border-right: 1px solid currentColor
	margin-right: remify(3px)
	padding-right: remify(6px)

%teaser-kicker-logo
	&--zmo
		background-color: rgba(25,25,25,0.7)
		border-radius: 3px
		color: $white
		height: remify(18px)
		margin-right: remify(4px)
		vertical-align: middle
		width: remify(31px)
	&--zett
		background-color: $primary-color-zett
		color: $white
		height: remify(18px)
		margin-right: remify(4px)
		vertical-align: sub
		width: remify(30px)
	&--zco
		$logo_format: (185/33)
		height: remify(14px)
		vertical-align: middle
		width: remify(ceil(14px*$logo_format))
	&--liveblog
		background-image: linear-gradient(to top, $zon-red, #d41910)
		background-color: $zon-red
		border-radius: remify(3px)
		color: $white
		font-size: remify(10px)
		font-weight: bold
		font-style: normal
		letter-spacing: $zon-letter-spacing-l
		margin-right: remify(3px)
		padding: remify(2px 6px 3px)
		text-transform: uppercase
		vertical-align: 2px
		&:before
			animation: live-blog-indicator-animation 2s infinite
			background-color: $zon-lighter-grey
			border-radius: 50%
			content: ""
			display: inline-block
			height: remify(8px)
			margin-right: remify(4px)
			width: remify(8px)
		&-closed
			background-image: linear-gradient(to top, #494b52, $trout)
			background-color: $trout
			&:before
				animation: none
	&--zplus
		background-color: $zon-red
		color: #fff
		margin-right: remify(4px)
		margin-top: remify(-2px)
		vertical-align: middle

%teaser-combined-link
	color: inherit
	display: block

%teaser-title
	display: block
	color: $zon-charcoal
	font-size: em(20px)
	font-weight: 700
	letter-spacing: $zon-letter-spacing-s
	line-height: 1.2

%teaser-media
	margin: 0 0 remify(20px)

%teaser-media-item

%teaser-text
	color: $zon-dark-grey
	font-size: em(17px)
	line-height: 1.4
	margin: 0 0 remify(12px)
	+respond-min($break-phablet-min)
		font-size: em(15px)

%teaser-metadata
	color: $zon-grey
	font-size: em(14px)
	line-height: 1.4
	letter-spacing: $zon-letter-spacing-s
	+respond-min($break-tablet-min)
		font-size: em(13px)
	> *:not(:last-child):not(:empty):after
		content: " / "
		margin: 0 .2em
		opacity: $color-separator-opacity

%teaser-byline

%teaser-datetime
	white-space: nowrap

%teaser-commentcount
	@extend %commentcount

%teaser-label
	@extend %label

/**
 * Abstract teaser for the so called 'Biga-Riegel' or 'Shop-Riegel'
 */
%teaser-bar
	background-color: $white
	margin-bottom: remify(20px)
	&:hover
		box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05)
	&__media
		margin: 0
	&__container
		padding: remify(20px 18px)
	&__figurewrapper
		position: relative
		height: 0
		padding-bottom: 100% / 16 * 9
%teaser-bar-group
	&__button
		background-color: $white
		display: table
		margin: 0 auto
	&__shuffle-icon
		width: remify(15px)
		height: remify(18px)
		margin-right: 0.5em
		vertical-align: text-top
