.teaser-small
	@extend %teaser
	&__media
		@extend %teaser-small-media
		&--force-mobile
			+respond-max($break-phablet-min)
				display: block
	&__media-item
		@extend %teaser-media-item !optional
	&__container
		@extend %teaser-small-container
	&__series-label
		@extend %teaser-series-label
	&__heading
		@extend %teaser-heading
	&__combined-link
		@extend %teaser-combined-link
	&__kicker
		@extend %teaser-kicker
		&--blog
			@extend %teaser-kicker--blog
		&--spektrum
			color: $primary-color-spektrum
		&--zmo
			@extend %teaser-kicker--zmo
		&--zmo-parquet
			@extend %teaser-kicker--zmo-parquet
		&--zett
			@extend %teaser-kicker--zett
		&--zett-parquet
			@extend %teaser-kicker--zett-parquet
		&--zco
			@extend %teaser-kicker--zco
		&--zco-parquet
			@extend %teaser-kicker--zco-parquet
	&__kicker-logo-divider
		@extend %teaser-kicker-logo-divider
	&__kicker-logo
		&--zmo
			@extend %teaser-kicker-logo--zmo
		&--zett
			@extend %teaser-kicker-logo--zett
		&--liveblog
			@extend %teaser-kicker-logo--liveblog
		&--liveblog-closed
			@extend %teaser-kicker-logo--liveblog-closed
		&--zco
			@extend %teaser-kicker-logo--zco
		&--zplus
			@extend %teaser-kicker-logo--zplus
	&__title
		@extend %teaser-title
	&__text
		@extend %teaser-text
	&__metadata
		@extend %teaser-metadata
	&__byline
		@extend %teaser-byline !optional
	&__datetime
		@extend %teaser-datetime !optional
	&__commentcount
		@extend %teaser-commentcount
	&__label
		@extend %teaser-label
		+respond-min($break-phablet-min)
			text-align: left
	&--inhouse &__media
		@extend %teaser-small-media-inhouse !optional
	&--exclusive &__media
		@extend %teaser-small-media-exclusive
	&--exclusive &__media + &__container
		vertical-align: middle
		+respond-min($break-tablet-min)
			padding-left: remify(20px)
	&--exclusive &__title
		+respond-min($break-tablet-min)
			font-size: remify(28px)
		+respond-min($break-desktop-min)
			font-size: remify(32px)
	&--exclusive &__metadata
		+respond-min($break-tablet-min)
			font-size: em(14px)
