.teaser-fullwidth-column
	@extend %teaser-column
	margin: remify(40px) (-$page-padding) $vertical-space (-$page-padding)
	&__media
		@extend %teaser-column__media
	&__media-item
		@extend %teaser-column__media-item
	&__series-label
		@extend .teaser-large__series-label
	&__heading
		@extend .teaser-large__heading
	&__combined-link
		@extend .teaser-large__combined-link
	&__kicker
		@extend .teaser-large__kicker
	&__title
		@extend .teaser-large__title
	&__text
		@extend .teaser-large__text
	&__byline
		@extend %teaser-column__byline
	&__metadata
		@extend %teaser-metadata
	&__datetime
		@extend %teaser-datetime
	&__commentcount
		@extend %teaser-commentcount

.teaser-fullwidth-column--has-media
	.teaser-fullwidth-column__byline
		padding-right: remify($teaser-column-mobile-image-size)
		// min-height: $teaser-column-mobile-image-size - $page-padding - ownMarginBottom = 5rem - 1.25rem - 0.25rem
		min-height: 3.5rem

+respond-min($break-phablet-min)
	.teaser-fullwidth-column--has-media
		.teaser-fullwidth-column__media
			width: $teaser-column-image-width-fullwidth
			height: $teaser-column-image-height-fullwidth
		.teaser-fullwidth-column__byline
			min-height: initial
		.teaser-fullwidth-column__text,
		.teaser-fullwidth-column__title
			padding-right: remify($teaser-column-image-width-fullwidth)

