.teaser-large-column-parquet
	@extend %teaser-column
	@extend %teaser-column--in-parquet
	&__media
		@extend %teaser-column__media
	&__media-item
		@extend %teaser-column__media-item
	&__series-label
		@extend .teaser-large__series-label
	&__heading
		@extend .teaser-large__heading
	&__combined-link
		@extend .teaser-large__combined-link
	&__kicker
		@extend .teaser-large__kicker
	&__title
		@extend .teaser-large__title
	&__text
		@extend .teaser-large__text
	&__byline
		@extend %teaser-column__byline
	&__metadata
		@extend %teaser-metadata
	&__datetime
		@extend %teaser-datetime
	&__commentcount
		@extend %teaser-commentcount


.teaser-large-column-parquet--has-media
	.teaser-large-column-parquet__byline
		padding-right: remify($teaser-column-mobile-image-size)
		// min-height: $teaser-column-mobile-image-size - $page-padding - ownMarginBottom = 5rem - 1.25rem - 0.25rem
		min-height: 3.5rem

+respond-min($break-tablet-min)
	.teaser-large-column-parquet--has-media
		.teaser-large-column-parquet__media
			width: $teaser-column-image-width-large
			height: $teaser-column-image-height-large
		.teaser-large-column-parquet__byline
			min-height: initial
		.teaser-large-column-parquet__text,
		.teaser-large-column-parquet__title
			padding-right: remify($teaser-column-image-width-large + 20px)
