// teaser__column.sass
// Styles for the so-called "Kolumnenteaser"

$color-column-background: $zon-warm-grey
$color-column-shadow: $zon-warm-dark-grey
$teaser-column-shadow: 50px
$teaser-column-mobile-image-size: 80px

.teaser-column
	@extend %teaser
	background: $color-column-background
	border-top: none
	padding: $petite
	margin: em(40px) (-$page-padding) $petite (-$page-padding)
	position: relative
	box-shadow: inset 0 $teaser-column-shadow 0 0 $color-column-shadow
	+respond-min($break-tablet-min)
		margin-left: 0
		margin-right: 0
	+respond-min($break-desktop-min)
		box-shadow: none
		margin: $petite 0 $petite 0
		min-height: remify(250px)
		padding: $petite $petite $petite ($teaser-image-desktop-width + $petite)
	&__media
		overflow: hidden
		position: absolute
		top: -($teaser-column-mobile-image-size - $teaser-column-shadow)
		left: 0
		width: $teaser-column-mobile-image-size
		height: $teaser-column-mobile-image-size
		margin: 0
		+respond-min($break-desktop-min)
			overflow: hidden
			position: absolute
			top: 0
			right: 60%
			bottom: 0
			left: 0
			width: 40%
			height: 100%
	&__media-item
		@extend %teaser-media-item
		+old-ie
			background: $white
			margin-left: 20px
			margin-top: 30px
			position: static
	&__heading
		@extend %teaser-heading
		&--padded
			padding-top: $petite
			+respond-min($break-desktop-min)
				padding-top: 0
	&__combined-link
		@extend %teaser-combined-link
	&__series
		letter-spacing: $zon-letter-spacing-l
		display: inline-block
		font-size: $font-xs--rem
		font-weight: bold
		left: 100px
		position: absolute
		text-transform: uppercase
		top: $small
		color: $zon-charcoal
		a:link &,
		a:visited &,
		a:hover &,
		a:active &
			color: $grey--mid
		+respond-min($break-desktop-min)
			display: inline
			left: auto
			position: static
			top: auto
			&:after
				content: ' \29F8 ' // ⧸ = Big solidus
	&__kicker
		@extend %teaser-kicker
		padding: remify(24px 0 3px 0)
		+respond-min($break-desktop-min)
			display: inline
	&__title
		@extend %teaser-title
	&__text
		@extend %teaser-text
	&__byline
		@extend %teaser-byline
	&__metadata
		@extend %teaser-metadata
	&__datetime
		@extend %teaser-datetime
	&__commentcount
		@extend %teaser-commentcount
	&__kicker-container
		+respond-min($break-desktop-min)
			display: block
			margin-bottom: remify(4px)

// prevent next teaser from having border
.teaser-column + .teaser // deprecated
	border-top: none
.teaser-column + *[data-block-type='teaser'] // new
	border-top: none
