.teaser-small-minor
	@extend %teaser
	&__container
		@extend %teaser-small-container
	&__series-label
		@extend %teaser-series-label
	&__heading
		@extend %teaser-heading
	&__media
		@extend %teaser-media
		display: none
		+respond-min($break-phablet-min)
			display: table-cell
			padding-right: remify(20px)
			width: remify(150px+20px)
		+respond-min($break-tablet-min)
			display: block
			padding-right: 0
			width: auto
		&--force-mobile
			+respond-max($break-phablet-min)
				display: block
	&__media-item
		@extend %teaser-media-item !optional
	&__combined-link
		@extend %teaser-combined-link
	&__kicker
		@extend %teaser-kicker
		&--blog
			@extend %teaser-kicker--blog
		&--zmo
			@extend %teaser-kicker--zmo
		&--zett
			@extend %teaser-kicker--zett
		&--zco
			@extend %teaser-kicker--zco
	&__kicker-logo-divider
		@extend %teaser-kicker-logo-divider
	&__kicker-logo
		&--zmo
			@extend %teaser-kicker-logo--zmo
		&--zett
			@extend %teaser-kicker-logo--zett
		&--liveblog
			@extend %teaser-kicker-logo--liveblog
		&--liveblog-closed
			@extend %teaser-kicker-logo--liveblog-closed
		&--zco
			@extend %teaser-kicker-logo--zco
		&--zplus
			@extend %teaser-kicker-logo--zplus
	&__title
		@extend %teaser-title
	&__text
		@extend %teaser-text
	&__metadata
		@extend %teaser-metadata
	&__byline
		@extend %teaser-byline !optional
	&__datetime
		@extend %teaser-datetime !optional
	&__commentcount
		@extend %teaser-commentcount
	&__label
		@extend %teaser-label
		+respond-min-max($break-phablet-min, $break-areas)
			text-align: left
	&--inhouse &__media
		@extend %teaser-small-media-inhouse !optional
