.teaser-zett

    background-color: $white
    display: table-row

    &:last-child
        display: none
        &__media
            display: none // nötig, damit responsive image nicht geladen wird

    +respond-min($break-phablet-min)
        display: table-cell
        vertical-align: top
        width: 50%

    +respond-min($break-tablet-min)
        width: 33.3333%

    +respond-min($break-desktop-min)
        &:last-child
            display: table-cell

    &__media
        @extend %teaser-media

    &__container
        padding: remify(0 10px 20px)

    &__heading
        font-size: 1em
        margin: 0

    &__title
        @extend %teaser-title
        font-size: remify(16px)
