.teaser-buzzboard
	&__media
		@extend %teaser-media
	&__media-item
		@extend %teaser-media-item !optional
	&__heading
		font-size: 1em
		margin: 0 0 em(4px)
	&__combined-link
		@extend %teaser-combined-link
	&__kicker
		@extend %teaser-kicker
		color: $black
		font-weight: normal
		letter-spacing: $zon-letter-spacing-s
		line-height: 1.4
		margin-bottom: 0
	&__title
		@extend %teaser-title
		font-size: em(16px)
		line-height: 1.4
	&__metadata
		@extend %teaser-metadata
		font-size: em(13px)
	&__icon
		height: 1em
		margin-right: .25em
		vertical-align: -0.15em
		width: 1.5em
