.teaser-blog
	@extend %teaser
	&__media
		@extend %teaser-media
		@extend %teaser-small-media
		margin-bottom: remify(12px)
	&__media-item
		@extend %teaser-media-item !optional
	&__container
		@extend %teaser-small-container
	&__heading
		@extend %teaser-heading
		display: inline
	&__combined-link
		@extend %teaser-combined-link
		display: inline
	&__marker
		display: inline
		color: $zon_dark_grey
		font-family: $font-tabletgothic
		font-size: remify(14px)
		font-weight: bold
		letter-spacing: 0.14em
		line-height: 1.2
		margin: remify(0 2px 14px 0)
	&__name,
	&__kicker
		color: $zon_dark_grey
		font-family: $font-franziska
		font-size: remify(14px)
		font-style: italic
		margin-right: remify(2px)
	&__name
		display: inline
		line-height: 1.2
	&__kicker
		+inline-block(baseline)
		font-weight: normal
	&__title
		@extend %teaser-title
		margin: remify(8px 0)
		&:before
			border-top: remify(5px) solid $zon-alto
			content: ''
			display: block
			padding-bottom: remify(10px)
			width: remify(36px)
	&__text
		@extend %teaser-text
	&__byline
		@extend %teaser-byline
	&__metadata
		@extend %teaser-metadata
	&__datetime
		@extend %teaser-datetime
	&__commentcount
		@extend %teaser-commentcount
