.author-list
	list-style: none
	margin: 0
	padding: 0
	columns: 344px 2
	column-gap: 40px
	&__item
		break-inside: avoid
		page-break-inside: avoid
		border-bottom: 1px solid #eee
		// avoid collapsing of margins, which happens sometimes(!) for image items on top right position
		padding-top: 1px

.zon-author-list

	&__textitem
		color: #444
		display: block
		font-size: em(15px)
		line-height: remify(48px)
		overflow: hidden
		padding: remify(0 10px)
		text-overflow: ellipsis
		white-space: nowrap
		&:after
			color: $zon-grey
			content: "\203A" // › = single right-pointing angle quotation mark
			font-size: 16px
			font-weight: bold
			margin-left: remify(5px)

	&__imageitem
		background-color: #FAFAFA
		box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1)
		margin: remify(23px 0)
		height: remify(100px) // 90px squareImg + 10px
		padding: remify(10px 10px 0 0)
		+on-interaction
			box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2)
			.zon-author-list__text:before
				color: #000
	&__media
		float: left
		width: remify(90px)
	&__text
		padding: remify(0 10px 0 100px)
		&:before
			color: #707070
			content: " \203A" // › = single right-pointing angle quotation mark
			float: right
			font-size: em(16px)
			font-weight: bold
			margin-right: remify(-10px)
			margin-top: remify(20px)
	&__name
		color: #313131
		font-size: em(15px)
		font-weight: bold
		line-height: 1.2
		margin: remify(8px 0)
		overflow: hidden
		white-space: nowrap
		text-overflow: ellipsis
		&--without-summary
			padding-top: remify(25px)
	&__summary
		color: #707070
		font-size: em(14px)
		height: remify(3 * 17px) // 3 lines for overflow:hidden
		letter-spacing: $zon-letter-spacing-s
		line-height: (17 / 14)
		margin: 0
		overflow: hidden
		// multiline ellipsis for webkit browsers:
		display: -webkit-box
		-webkit-line-clamp: 3
		-webkit-box-orient: vertical
