
// REFERENCE:
// https://zeit-online.atlassian.net/secure/attachment/19208/bigariegel_desktop%2Btablet_vermaßt.png
// https://zeit-online.atlassian.net/secure/attachment/19207/bigariegel_phone%2Bphablet_vermaßt.png

$break-gallery-teasers: $break-phablet-min

.teaser-gallery-group
	&__container
		padding-bottom: em(10px)
		+respond-min($break-gallery-teasers)
			padding-bottom: em(20px)
			// flexbox for same height
			display: flex

	&__button
		@extend %teaser-bar-group__button

	&__shuffle-icon
		@extend %teaser-bar-group__shuffle-icon


.no-js .js-bar-teaser-shuffle
	display: none

.teaser-gallery
	@extend %teaser-bar
	+respond-min($break-gallery-teasers)
		width: 50%

		// substitute for :nth-child(even)
		& + &
			margin-left: remify(20px)

	&__media
		@extend %teaser-bar__media

	&__container
		@extend %teaser-bar__container

	&__figurewrapper
		@extend %teaser-bar__figurewrapper

	&__heading
		@extend %teaser-heading

	&__combined-link
		@extend %teaser-combined-link

	&__kicker
		@extend %teaser-kicker
		&--zplus
			@extend %teaser-kicker--zplus-extended-margin

	&__kicker-logo
		&--zplus
			@extend %teaser-kicker-logo--zplus

	&__title
		@extend %teaser-title

	&__text,
	&__counter
		+respond-max($break-tablet-min)
			display: none

	&__text
		@extend %teaser-text

	&__icon
		position: absolute
		bottom: em(10px)
		left: em(10px)
		height: em(22px)
		width: em(32px)
		stroke: $white
		color: $zon-charcoal
		fill-opacity: 0.6

	&__counter
		background-color: $zon-charcoal
		bottom: 0
		color: $white
		font-size: remify(12px)
		letter-spacing: 0.04em
		padding: remify(2px) 1rem
		pointer-events: none // enable covered link
		position: absolute
		right: 0
