.teaser-zett
    display: table-cell
    width: 33.3333%
    background-color: $white

    &__media
        margin: 0
        width: 100%

    &__heading
        margin: remify(20px) remify(10px)
        font-size: remify(16px)
        font-weight: bold
        line-height: 1.125
        color: $zon-charcoal
