.teaser-buzzboard
	&__media
		@extend %teaser-media
		height: 0
		padding-bottom: 100% / 16 * 9 // image variant 'wide'
		&--column
			background-color: $zon-warm-grey
			overflow: hidden
	&__media-container--column
		margin: remify(8px 16px 0)
		width: 50%
	&__media-container--duplicate
		opacity: 0.4
	&__media-item
		@extend %teaser-media-item !optional
	&__heading
		font-size: 1em
		margin: 0 0 em(4px)
	&__combined-link
		@extend %teaser-combined-link
	&__kicker
		@extend %teaser-kicker
		color: $black
		font-weight: normal
		letter-spacing: $zon-letter-spacing-s
		line-height: 1.375
		margin-bottom: 0
	&__kicker-logo
		&--zplus
			@extend %teaser-kicker-logo--zplus
	&__title
		@extend %teaser-title
		font-size: em(16px)
		line-height: 1.375
		overflow: hidden
		text-overflow: ellipsis
	&__metadata
		@extend %teaser-metadata
		font-size: em(13px)
