.teaser-large
	@extend %teaser
	&__series-label
		@extend %teaser-series-label
	&__heading
		@extend %teaser-heading
		margin-bottom: remify(14px)
		&--parquet
			margin-bottom: remify(6px)
	&__combined-link
		@extend %teaser-combined-link
	&__kicker
		@extend %teaser-kicker
		&--blog
			@extend %teaser-kicker--blog
		&--brandeins
			@extend %teaser-kicker--brandeins
		&--zmo
			@extend %teaser-kicker--zmo
		&--zmo-parquet
			@extend %teaser-kicker--zmo-parquet
		&--zett
			@extend %teaser-kicker--zett
		&--zett-parquet
			@extend %teaser-kicker--zett-parquet
		&--zco
			@extend %teaser-kicker--zco
		&--zco-parquet
			@extend %teaser-kicker--zco-parquet
		&--zar
			@extend %teaser-kicker--zar
		&--zar-parquet
			@extend %teaser-kicker--zar-parquet
	&__kicker-logo
		&--brandeins
			@extend %teaser-kicker-logo--brandeins
		&--zmo
			@extend %teaser-kicker-logo--zmo
		&--zett
			@extend %teaser-kicker-logo--zett
		&--liveblog
			@extend %teaser-kicker-logo--liveblog
		&--liveblog-closed
			@extend %teaser-kicker-logo--liveblog-closed
		&--zco
			@extend %teaser-kicker-logo--zco
		&--zar
			@extend %teaser-kicker-logo--zar
		&--zplus
			@extend %teaser-kicker-logo--zplus
		&--zplus-register
			@extend %teaser-kicker-logo--zplus-register
		&--tag
			@extend %teaser-kicker-logo--tag
	&__title
		@extend %teaser-title
		font-size: remify(24px)
		+respond-min($break-tablet-min)
			font-size: em(28px)
	&__media
		@extend %teaser-media
		height: 0
		padding-bottom: 100% / 16 * 9 // image variant 'wide'
	&__media-item
		@extend %teaser-media-item !optional
	&__text
		@extend %teaser-text
	&__metadata
		@extend %teaser-metadata
	&__byline
		@extend %teaser-byline !optional
	&__datetime
		@extend %teaser-datetime !optional
	&__commentcount
		@extend %teaser-commentcount
