// teaser__column.sass
// Styles for the so-called "Kolumnenteaser"

$color-column-background: $zon-warm-grey
$teaser-column-mobile-image-size: 80px

.teaser-column
	@extend %teaser
	background: $color-column-background
	margin: remify(40px) (-$page-padding) $vertical-space (-$page-padding)
	position: relative
	+respond-min($break-tablet-min)
		margin-left: 0
		margin-right: 0
		padding: $page-padding
	+respond-min($break-desktop-min)
		margin: $vertical-space 0 $vertical-space 0
		min-height: remify(250px)
		padding: $petite $petite $petite remify(250px+20px)
	&__media
		overflow: hidden
		position: absolute
		bottom: 0
		right: 0
		width: $teaser-column-mobile-image-size
		height: $teaser-column-mobile-image-size
		margin: 0
		+respond-min($break-desktop-min)
			overflow: hidden
			position: absolute
			top: 0
			right: 60%
			bottom: 0
			left: 0
			width: 40%
			height: 100%
	&__media-item
		@extend %teaser-media-item !optional
		+old-ie
			background: $white
			margin-left: 20px
			margin-top: 30px
			position: static
	&__heading
		@extend %teaser-heading
	&__combined-link
		@extend %teaser-combined-link
	&__series
		color: $zon_grey
		display: block
		font-size: remify(12px)
		letter-spacing: $zon-letter-spacing-l
		margin: 0 0 remify(24px) 0
		text-transform: uppercase
		+respond-min($break-desktop-min)
			font-size: remify(14px)
	&__kicker
		@extend %teaser-kicker
	&__title
		@extend %teaser-title
	&__text
		@extend %teaser-text
	&__byline
		@extend %teaser-byline
		color: $zon_mid_grey
		font-size: remify(14px)
	&__metadata
		@extend %teaser-metadata
	&__datetime
		@extend %teaser-datetime
	&__commentcount
		@extend %teaser-commentcount


// if there is an image, make sure the byline wraps around it.
.teaser-column--hasmedia
	.teaser-column__container
		padding-bottom: remify(44px)
		+respond-min($break-desktop-min)
			padding-bottom: 0
	.teaser-column__byline,
	.teaser-column__metadata
		padding-right: remify(100px)
		+respond-min($break-desktop-min)
			padding-right: 0


// prevent next teaser from having border
.teaser-column + .teaser // deprecated
	border-top: none
.teaser-column + *[data-block-type='teaser'] // new
	border-top: none
