.teaser-fullwidth
	@extend %teaser
	border-bottom: 1px solid $zon_light_grey
	+respond-min($break-tablet-min)
		border-bottom: none
		margin-left: -$page-padding
		margin-right: -$page-padding
		overflow: hidden
		padding: 0
		position: relative
		text-shadow: 0 0 10px rgba(0, 0, 0, .5)
		&:before
			content: ''
			min-height: 100%
			min-width: 100%
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			z-index: 1
			background-color: rgba(0, 0, 0, .1)
			opacity: 0
			+transition(opacity .2s ease-in-out)
		&:hover:before
			opacity: 1
	&__media
		margin: 0 (-$page-padding) $petite
		+respond-min($break-tablet-min)
			margin: 0
			z-index: 1
	&__media-container
		+respond-min($break-tablet-min)
			+teaser-image-dark-overlay
	&__media-item
		height: auto
		width: 100%
	&__inner-helper
		+respond-min($break-tablet-min)
			bottom: 0
			left: 0
			position: absolute
			padding: 0 $twice $twice $twice
			width: em(510px) + (2 * $twice)
			z-index: 2
		+respond-min($break-desktop-min)
			padding: 0 0 $medium $medium
			width: em(640px)
	&__heading
		@extend %teaser-heading
	&__kicker
		@extend %teaser-kicker
		+respond-min($break-tablet-min)
			color: $white
			font-size: $font-s
			letter-spacing: 0.12em
			margin-bottom: remify(6px)
			+font-smoothing()
	&__title
		@extend %teaser-title
		font-size: em(28px)
		line-height: 1.12
		+respond-min($break-tablet-min)
			color: $white
			&:hover
				color: $white
			+font-smoothing()
		+respond-min($break-desktop-min)
			font-size: em(34px)
			line-height: 1.232
	&__combined-link
		@extend %teaser-combined-link
	// &__container
	// not in use
	&__text
		@extend %teaser-text
		+respond-min($break-tablet-min)
			color: $white
			+font-smoothing()
		+respond-min($break-desktop-min)
			font-size: $font-ml
	&__byline,
	&__metadata
		@extend %teaser-byline
		+respond-min($break-tablet-min)
			color: $zon_lighter_grey
			margin-bottom: 0
			+font-smoothing()
		+respond-min($break-desktop-min)
			font-size: $font-s--rem
			letter-spacing: 0.04em
	&__datetime
		@extend %teaser-datetime
	&__commentcount
		@extend %teaser-commentcount
		&:link, &:visited
			border-bottom: 1px solid $zon_dark_grey
		&:hover
			border-bottom: 1px solid $zon_mid_grey
