.teaser-media-container--has-icon
	position: relative

.teaser-image-icon
	bottom: remify(14px)
	height: remify(22px)
	left: remify(14px)
	position: absolute
	width: remify(32px)
	// svg colors [needs fixing]
	color: #fff
	fill-opacity: 0.9
	pointer-events: none
	&--on-teaser-small,
	&--on-teaser-small-minor
		bottom: remify(10px)
		height: remify(20px)
		left: remify(10px)
		width: remify(24px)
