.teaser-small-column
	@extend %teaser-column
	&__media
		@extend %teaser-column__media
	&__media-item
		@extend %teaser-column__media-item
	&__series-label
		@extend .teaser-small__series-label
	&__heading
		@extend .teaser-small__heading
	&__combined-link
		@extend .teaser-small__combined-link
	&__kicker
		@extend .teaser-small__kicker
	&__title
		@extend .teaser-small__title
	&__text
		@extend .teaser-small__text
	&__byline
		@extend %teaser-column__byline
	&__metadata
		@extend %teaser-metadata
	&__datetime
		@extend %teaser-datetime
	&__commentcount
		@extend %teaser-commentcount

.teaser-small-column--has-media
	.teaser-small-column__byline
		padding-right: remify($teaser-column-mobile-image-size)
		// min-height: $teaser-column-mobile-image-size - $page-padding - ownMarginBottom = 5rem - 1.25rem - 0.25rem
		min-height: 3.5rem

+respond-min($break-desktop-min)
	.teaser-small-column
		margin: $vertical-space 0 $vertical-space 0
	.teaser-small-column
		&--has-media,
			min-height: remify(250px)
			padding: $petite $petite $petite remify(250px+20px)
		&__media
			top: 0
			right: 60%
			bottom: 0
			left: 0
			width: 40%
			height: 100%
