.teaser-small-column-parquet
	@extend %teaser-column
	&:first-child
		border-top-width: 1px
	&:last-child
		border-bottom-width: 1px
	&__media
		@extend %teaser-column__media
	&__media-item
		@extend %teaser-column__media-item !optional
	&__container
		@extend %teaser-small-container
	&__series-label
		@extend %teaser-series-label
	&__heading
		@extend %teaser-heading
	&__combined-link
		@extend %teaser-combined-link
	&__kicker
		@extend %teaser-kicker
		&--zplus
			@extend %teaser-kicker--zplus-extended-margin
	&__kicker-logo
		&--zplus
			@extend %teaser-kicker-logo--zplus
	&__title
		@extend %teaser-title
	&__text
		@extend %teaser-text
	&__metadata
		@extend %teaser-metadata
	&__byline
		@extend %teaser-byline !optional
	&__datetime
		@extend %teaser-datetime !optional
	&__commentcount
		@extend %teaser-commentcount

	&--has-media &__metadata
		@extend %teaser-column__media-space

+respond-min($break-tablet-min)
	.teaser-small-column-parquet
		background-color: transparent
		margin: 0
		padding: $vertical-space 0
		&:first-child
			border-top-width: 0
		&:last-child
			border-bottom-width: 0
		&__media
			background-color: $color-column-background
			border-right: remify(150px - 85px) solid $color-column-background
			float: left
			height: remify(85px) // 16:9
			margin-right: remify(20px)
			position: static
			width: remify(150px)
			+respond-min($break-desktop-min)
				border-right-width: remify(250px - 140px)
				height: remify(140px) // 16:9
				width: remify(250px)
		&--has-media &__metadata
			min-height: initial
			padding-right: 0
