.cp-region.cp-region--topic
	padding: 0
	position: relative

.cp-area.cp-area--topic
	padding: 0

.teaser-topic-main
	@extend %teaser
	margin: $petite 0
	padding: 0
	position: relative
	&__heading
		@extend %teaser-heading
		position: relative
		margin-top: remify(6px)
		margin-bottom: remify(24px)
		+respond-min($break-tablet-min)
			margin-bottom: remify(34px)
			margin-top: remify(10px)
		+respond-min($break-desktop-min)
			margin-bottom: remify(45px)
			margin-top: remify(15px)
	&__inner-helper
		left: 0
		padding: 0
		position: absolute
		text-align: center
		top: 50%
		transform: translate(0, -60%)
		width: 100%
		z-index: 1
		+respond-min($break-tablet-min)
			padding-left: remify(50px)
			padding-right: remify(24px)
			text-align: left
			transform: none
			top: remify(35px)
			width: 57%
		+respond-min($break-desktop-min)
			padding-right: remify(42px)
			width: 66.66%
	&__introduction
		color: $white
		font-size: $font-s--rem
		letter-spacing: $zon-letter-spacing-l
		text-transform: uppercase
		-webkit-font-smoothing: antialiased
		+respond-min($break-tablet-min)
			font-size: $font-m--rem
		+respond-min($break-desktop-min)
			font-size: $font-m--rem
	&__media
		float: left
		margin: 0
		overflow: hidden
		width: 100%
		z-index: 1
	&__media-container
		background-color: $black
		position: relative
		min-height: 160px
		&:after
			bottom: 0
			content: ''
			left: 0
			min-height: 100%
			min-width: 100%
			position: absolute
			right: 0
			top: 0
			+background(rgba(0, 0, 0, 0.5))
			+respond-min($break-tablet-min)
				+background(rgba(0, 0, 0, 0.5))
	&__media-item
		height: auto
		left: -35%
		max-width: none
		position: absolute
		width: 165vw
		+respond-min($break-tablet-min)
			max-width: 100%
			position: static
	&__readmore
		background-color: rgba(0, 0, 0, 0.5)
		border-radius: 5px
		border: 2px solid $zon_mid_grey
		color: $white
		font-family: TabletGothic
		font-size: $font-ss--rem
		font-weight: bold
		letter-spacing: $zon-letter-spacing-l
		padding: remify(11px 41px)
		text-transform: uppercase
		-webkit-font-smoothing: antialiased
	&__title
		@extend %teaser-title
		color: $white
		font-size: $font-mxl--rem
		line-height: 1.12em
		+respond-min($break-tablet-min)
			font-size: remify(26px)
		+respond-min($break-desktop-min)
			font-size: $font-xxxl--rem
			line-height: 1.28em
	&__title:hover
		color: $white

.teaser-topic-item
	display: none
	+respond-min($break-tablet-min)
		display: block
	&:after
		content: ""
		display: block
		width: 15%
		height: 0px
		margin-bottom: $petite
		+respond-min($break-desktop-min)
			border-bottom: 1px solid $zon_mid_grey
	&:first-child:after
		+respond-min($break-tablet-min)
			border-bottom: 1px solid $zon_mid_grey
	&:last-child:after
		border: none
	&__kicker
		@extend %teaser-kicker
		color: $zon_mid_grey
		font-size: $font-s--rem
		font-weight: normal
		letter-spacing: 0.1em
		margin-bottom: $thin
		text-transform: uppercase
		+respond-min($break-tablet-min)
			font-size: $font-mm--rem
	&__title
		@extend %teaser-title
		color: $white
		line-height: 1.12em
		letter-spacing: $zon-letter-spacing-m
		+respond-min($break-tablet-min)
			font-size: $font-l--rem
	&__title:hover
		color: $white

.teaser-topic-item:last-of-type
	+respond-min($break-tablet-min)
		display: none
	+respond-min($break-desktop-min)
		display: block

.teaser-topic-list
	+respond-min($break-tablet-min)
		padding-left: $cp-padding
		padding-right: remify(20px)
		padding: 0
		position: absolute
		right: 0
		top: remify(27px)
	+respond-min($break-tablet-min)
		top: remify(36px)
		width: 43%
	+respond-min($break-desktop-min)
		width: 33.33%
