.beta-teaser
	@extend %teaser
	margin: 0 auto
	max-width: remify(560px)

	&__image
		width: 100%
		margin-bottom: $twice

	&__title
		@extend %teaser-title
		text-align: center
		margin-bottom: remify($compact--px)

	&__kicker
		@extend %teaser-kicker
		text-align: center

	&__prose,
	&__cta
		margin: $small auto
		color: $zon_grey
		position: relative
		+respond-min($break-1)
			padding: 0 $big 0

	&__cta
		text-align: center

	&__cta--aligned
		text-align: left

	&__radio
		margin: $bristle $petite $tiny 0
		position: absolute

	&__label
		display: block
		margin: 0 remify(-21px) $tiny $medium

	&__button
		+zon-button-light($margin: remify(14px 6px))

	&__status
		display: inline-block
		height: 17px
		position: relative
		right: remify(-12px)
		vertical-align: middle
		width: 21px

.js #beta-toggle-submit
	display: none

.icon-zon-logo-navigation_close
	+animation(rotate 1s linear infinite)
