// teaser for series elements
.teaser-series
	@extend %teaser
	+respond-min($break-phablet-min)
		border-top: 1px dotted $zon_light_grey
		border-bottom: 1px dotted $zon_light_grey
		margin-top: remify(5px)
		position: relative
	+respond-min($break-desktop-min)
		margin-top: remify(25px)
	&__label
		font-size: $font-s
		letter-spacing: $zon-letter-spacing-l
		line-height: 1
		margin: 0 0 1em 0
		text-transform: uppercase
		+respond-min($break-phablet-min)
			background: $color-page-bg
			left: remify(17px)
			padding: 0 remify(3px)
			position: absolute
			top: em(-6px, $little--px)
			+inline-block
		+respond-min($break-tablet-min)
			left: 0
			padding-left: 0
		+respond-min($break-desktop-min)
			font-size: 0.0875
			padding-right: 0.75
			top: em(-8px, 16px)
	&__media
		@extend %teaser-media
		@extend %teaser-small-media
	&__media-item
		@extend %teaser-media-item
	&__container
		@extend %teaser-small-container
	&__heading
		@extend %teaser-heading
		margin: 0 0 $thin 0
	&__kicker
		@extend %teaser-kicker
	&__combined-link
		@extend %teaser-combined-link
	&__title
		@extend %teaser-title
	&__text
		@extend %teaser-text
	&__byline
		@extend %teaser-byline
	&__metadata
		@extend %teaser-metadata
	&__datetime
		@extend %teaser-datetime
	&__commentcount
		@extend %teaser-commentcount

// prevent next teaser from having border
.teaser-series + [data-block-type='teaser'] // new
	+respond-min($break-phablet-min)
		border-top: none

.teaser-series + .teaser, // deprecated
	+respond-min($break-phablet-min)
		border-top: none
