.teaser-zett

    background-color: $white
    display: table-row

    &:last-child
        display: none

    +respond-min($break-phablet-min)
        display: table-cell
        vertical-align: top
        width: 50%

    +respond-min($break-tablet-min)
        width: 33.3333%

    +respond-min($break-desktop-min)
        &:last-child
            display: table-cell

    &__media
        margin: 0

    &__heading
        font-size: 1em
        margin: 0
        padding: remify(20px 10px)

    &__title
        @extend %teaser-title
        font-size: remify(16px)
