.teaser-buzz
	&__heading
		@extend %teaser-heading
		margin: 0
	&__combined-link
		@extend %teaser-combined-link
	&__kicker
		@extend %teaser-kicker
		font-weight: normal
		font-size: em(12px)
	&__kicker-logo
		&--liveblog
			@extend %teaser-kicker-logo--liveblog
		&--liveblog-closed
			@extend %teaser-kicker-logo--liveblog-closed
		&--zplus
			@extend %teaser-kicker-logo--zplus-xs
		&--zplus-register
			@extend %teaser-kicker-logo--zplus-xs-register
	&__title
		@extend %teaser-title
		font-size: em(16px)
		line-height: 1.4
	&__metadata
		@extend %teaser-metadata
		font-size: em(12px)
	&__icon
		height: 1em
		margin-right: .25em
		vertical-align: -0.15em
		width: 1.5em
	&__commentcount
		@extend %teaser-commentcount
