.teaser-podcast
	background-color: #eeeef0 // same as the podigee player skin
	margin: $vertical-space 0

.teaser-podcast-footer
	border-top: 1px $zon-light-grey solid
	display: flex
	justify-content: space-between
	padding: remify(12px 15px 12px 20px)

	&__link
		border-bottom: 1px rgba($zon-charcoal, 0.2) solid
		color: $zon-dark-grey
		font-size: remify(14px)
		letter-spacing: $letter-spacing-s
		&:after
			content: "\203A"
			margin-left: 0.5em
		+on-interaction
			border-bottom: 1px currentColor solid
