.print-box
	padding: $vertical-space 0
	&__heading
		color: $zon-charcoal
		border-bottom: 1px solid $color-border
		font-size: $font-s
		font-weight: bold
		letter-spacing: $zon-letter-spacing-m
		margin: 0 0 remify(16px)
		padding: remify(0 10px 10px 10px)
		text-transform: uppercase

	&__issue
		font-weight: normal
		white-space: nowrap
		font-size: em(12px)

	&__content
		+clearfix

	&__combined-link
		@extend %teaser-combined-link

	&__content-heading
		font-size: 1em
		margin: 1em 0 0.125em
		+respond-min($break-phablet-min)
			margin: 0

	&__kicker
		@extend %teaser-kicker
		font-size: $font-xs

	&__title
		@extend %teaser-title
		font-size: em(18px)
		line-height: 1.4

	&__media
		margin: auto
		max-width: 320px
		+respond-min($break-phablet-min)
			float: left
			margin: 1.25em 0 0
			padding-right: 1.25em
			width: 50%
		+respond-min($break-tablet-min)
			float: none
			margin-bottom: remify(16px)
			margin-top: 0
			padding-right: 0
			width: auto

	&__container
		+respond-min($break-phablet-min)
			display: table-cell
		+respond-min($break-tablet-min)
			display: block
			width: auto

	&__media-item
		@extend %teaser-media-item !optional
		width: 100%

	&__text
		@extend %teaser-text
		font-size: $font-mm
		line-height: 1.4
		margin: 0 0 remify(8px)

	&__link
		color: $zon-red
		display: block
		font-size: $font-ss

		&:visited,
		&:hover,
		&:active
			color: $zon-red

	&__button
		+zon-button-light($margin: remify(12px) 0)
		display: block
		&:after
			content: "\25B8" // ▸ = Black right-pointing small triangle
			margin-left: 3px


.print-box--angebot
	.print-box
		&__heading
			font-size: $font-s

		&__media
			margin: 0

		&__title
			margin: 0 0 remify(20px)
			+respond-min($break-phablet-min)
				width: 50%
				float: right
				margin: 0
			+respond-min($break-tablet-min)
				float: none
				font-size: $font-ml
				margin: 0 0 remify(20px)
				position: static
				width: auto
			+respond-min($break-desktop-min)
				font-size: $font-mxl

		&__text
			margin: remify(12px) 0
