.teaser-buzzboard
	&__media
		@extend %teaser-media
		height: 0
		padding-bottom: 100% / 16 * 9 // image variant 'wide'
		&--column
			background-color: $zon-warm-grey
			position: relative
		&--duplicate
			opacity: 0.4
	&__media-container--column
		bottom: 0
		left: 8%
		position: absolute
		width: 50%
	&__media-item
		@extend %teaser-media-item !optional
	&__heading
		font-size: 1em
		margin: 0 0 em(4px)
	&__combined-link
		@extend %teaser-combined-link
	&__kicker
		@extend %teaser-kicker
		color: $black
		font-weight: normal
		letter-spacing: $zon-letter-spacing-s
		line-height: 1.375
		margin-bottom: 0
	&__kicker-logo
		&--liveblog
			@extend %teaser-kicker-logo--liveblog
		&--liveblog-closed
			@extend %teaser-kicker-logo--liveblog-closed
		&--zplus
			@extend %teaser-kicker-logo--zplus-xs
		&--zplus-register
			@extend %teaser-kicker-logo--zplus-xs-register
	&__title
		@extend %teaser-title
		font-size: em(16px)
		line-height: 1.375
		overflow: hidden
		text-overflow: ellipsis
	&__metadata
		@extend %teaser-metadata
		font-size: em(13px)
