.header
	border-bottom: 1px #ccc solid
	padding: $vertical-space $page-padding--small
	+respond-min($break-tablet-min)
		padding: $vertical-space 0

.logo_bar__brand-logo
	color: $color-zon-logo
	display: block
	height: em(25px)
	margin: 0 auto
	width: em(235px)
	+respond-min($break-tablet-min)
		height: em(35px)
		width: em(330px)

.main_nav--has-login
	+clearfix
	.logo_bar
		float: left
	.login
		float: right
		+respond-min($break-tablet-min)
			line-height: em(35px)
