.header
	border-bottom: 1px solid $color-border
	padding: $vertical-space $page-padding--small
	+respond-min($break-tablet-min)
		padding: $vertical-space 0

.header__logo
	color: $color-zon-logo
	display: block
	height: em(25px)
	margin: 0 auto
	width: em(231px)
	+respond-min($break-tablet-min)
		height: em(35px)
		width: em(330px)

.header--has-login
	+clearfix
	.header__logo
		float: left
	.header__login
		float: right
		+respond-min($break-tablet-min)
			line-height: em(35px)
