.page
	&__content
		background: $color-page-bg // we need background here, if page is colored
		box-shadow: 0 0 em(5px) rgba($color-body-bg, .5) // add invisible box-shadow to tame bodypainting advertising
		color: $color-text
		min-width: em(300px)
		padding: 0

		+respond-min($break-tablet-min)
			padding: 0 $page-padding
