{#

This is the nextread area at the bottom of an article.

#}
<aside class="nextread" id="nextread" aria-labelledby="nextread-lead">
    <h3 class="nextread__lead" id="nextread-lead">Weiter geht’s</h3>
    {%- set module = view.nextread -%}
    {% set teaser = module | first_child %}
    {% set teaser_type = teaser | block_type %}
    {% include
        ["zeit.web.campus:templates/inc/article/nextread/{}.html".format(teaser_type),
         "zeit.web.campus:templates/inc/article/nextread/default.html"] ignore missing %}
</aside>
