{% extends "zeit.web.core:templates/inc/article/table-of-contents.html" %}
{% import 'zeit.web.campus:templates/macros/layout_macro.tpl' as lama %}

{% block toc_svg_icon %}
<span class="article-toc__toggle">
    {{ lama.use_svg_icon('circle_plus', 'article-toc__toggle-icon article-toc__toggle-icon--plus', request) }}
    {{ lama.use_svg_icon('circle_minus', 'article-toc__toggle-icon article-toc__toggle-icon--minus', request) }}
</span>
{% endblock %}

{% block toc_item %}
    <strong>{{ '{0:02d}'.format(pagenr) }}</strong>
    {% if view.pagination.pages_titles[pagenr - 1] %}<span>{{ view.pagination.pages_titles[pagenr - 1] }}</span>
    {%- endif %}
{% endblock %}

{% block toc_link_bottom %}
    {{ self.toc_link_onesie() }}
{% endblock %}

{% block toc_after_container %}{% endblock %}
