<blockquote class="
        {%- if block.layout == 'wide' -%}
            quote--wide
        {%- else -%}
            quote
        {%- endif -%}
">
    <span class="quote__text">{{ block.text }}</span>
    {% if block.attribution %}
        {% if block.url %}
            <span class="quote__author">
                <a href="{{ block.url }}">{{ block.attribution }}</a>
            </span>
        {% else %}
            <span class="quote__author">{{ block.attribution }}</span>
        {% endif %}
    {% endif %}
</blockquote>
