{% if block.id and 'header' not in block.layout | default('') -%}
<figure class="
    {% if block.layout == 'zmo-small-left' or block.layout == 'small' %}
        figure-stamp
    {% elif block.layout == 'large' or block.layout == 'zmo-large-left' or block.layout == 'zmo-large-center' or block.layout == 'zmo-large-right' %}
        figure-full-width
    {% elif block.layout == 'zmo-small-right' %}
         figure-stamp--right
    {% else %}
         figure is-constrained is-centered
    {% endif %}"
    {%- if block.video.serie and block.video.serie.serienname %} data-video-series="{{ block.video.serie.serienname | format_webtrekk }}"{% endif %}
    data-video-size="large"
    data-video-provider="brightcove"
    data-video-page-url="{{ block.video | create_url }}">


    <div class="js-videoplayer"
         data-video-id="{{ block.id }}"
         data-video-advertising="{{ 'withAds' if block.video.has_advertisement else 'withoutAds' }}"
         data-video-playertype="article"></div>

    {% block video_caption -%}
    <figcaption class="figure__caption">
        {{ block.subtitle }}
    </figcaption>
    {%- endblock %}

</figure>
{% endif %}
