{% if view.has_comment_area %}
    <div class="comment-balloon" data-ct-area="comment-balloon" data-ct-row="comments" data-ct-column="false">
        <a class="comment-balloon__link js-scroll" href="#comments" data-ct-label="{{ view.comment_count | pluralize('{} Kommentare', '{} Kommentar', '{} Kommentare') }}">
            <span class="comment-balloon__count">{{ view.comment_count | default(0) }}</span>
            <span class="comment-balloon__text">{% if view.comment_count == 1 %}Kommentar{% else %}Kommentare{% endif %}</span>
        </a>
    </div>
{% endif %}
