{% import 'zeit.web.magazin:templates/macros/article_macro.tpl' as article_macros with context %}

{% for block in page %}
    {% set type = ( block | block_type ) %}
    {% if type in article_macros.__dict__ %}
        {{ article_macros[type](block) }}
    {% else %}
        {% include [
        "{0}:templates/inc/blocks/{1}_{2}.html".format(view.package, type, block.layout),
        "{0}:templates/inc/blocks/{1}.html".format(view.package, type),
        "zeit.web.core:templates/inc/blocks/{0}_{1}.html".format(type, block.layout),
        "zeit.web.core:templates/inc/blocks/{0}.html".format(type)] ignore missing %}
    {% endif %}
{% endfor %}
