{% extends "zeit.web.campus:templates/content.html" %}

{% block article_pages %}
    <section class="article-page" data-page-number="{{ view.current_page.number + 1 }}">
        {%- set page = view.current_page -%}
        {%- include "zeit.web.campus:templates/inc/article/page.html" -%}
    </section>
{% endblock article_pages %}

{% block article_pagination %}
    {% include "zeit.web.campus:templates/inc/article/pagination.html" %}
{% endblock article_pagination %}

{% block webtrekk_swiss %}
    {%- include "zeit.web.core:templates/inc/tracking/webtrekk_swiss.html" -%}
{% endblock %}
