{% extends "zeit.web.campus:templates/article.html" %}

{% block article_pages %}
    {% for page in view.pages %}
        <section class="article-page" data-page-number="{{ page.number+1 }}" id="seite-{{ page.number+1 }}">
            {% if not loop.first -%}
                <h2 class="article__subheading article__item">{{ page.teaser }}</h2>
            {% endif -%}
            {% for block in page %}
                {% if block | block_type == 'paragraph' %}
                    <p>{{ block | safe }}</p>
                {% endif %}
            {% endfor %}
        </section>
    {% endfor %}
{% endblock article_pages %}
