.user-is-back
	background: rgba(darken(#78777d, 5), .95)
	bottom: 0
	color: #fff
	display: flex
	font-size: remify(14px)
	justify-content: space-between
	left: 0
	padding: 15px 10px
	position: fixed
	right: 0
	+font-smoothing
	&__text
	&__button
