.wm-ticker
	&__header
		align-items: baseline
		display: flex
		justify-content: space-between

	&__headline
		font-size: em(20px)

	&__link
		@extend %commentcount
		display: inline-block
		font-size: em(14px)
		letter-spacing: $letter-spacing-s
		line-height: 1.2
		margin: remify(14px 0 0 10px)

	+respond-min($break-tablet-min)
		&__header
			border-top: 1px solid $color-border
