.wm-ticker
	&__matches
		text-align: center

	/* current game */
	&__match-detail
		margin-bottom: remify($petite)

		&:not(:first-of-type)
			border-top: 1px solid $zon-light-grey
			padding-top: remify($petite)

	&__match-detail-content
		display: flex
		justify-content: center
		align-items: center

	/* text underneath flag */
	&__text
		color: $zon-grey
		font-size: $font-ss--px
		font-weight: bold
		padding: .1rem 0

		&--large
			font-size: $font-xxxxl--px
			font-weight: bolder
			line-height: 1
			vertical-align: middle

	/* everything center container in current game */
	&__match-time
		color: $zon-mid-grey
		font-size: $font-m--px // time should be bigger - thank you layouts

	&__score
		margin-left: remify($petite--px)
		margin-right: remify($petite--px)
		min-width: remify(140px)

	&__dots
		font-size: $font-xxxl--px
		font-weight: bolder
		padding-left: remify($tiny)
		padding-right: remify($tiny)
		vertical-align: middle

	+respond-min($break-desktop-min)
		&__matches
			align-items: center
			display: flex
			justify-content: center

		&__match-detail
			&:not(:last-of-type)
				border-right: remify(1px) solid $zon-alto
				padding-right: $compact
				margin-bottom: 0
				margin-right: $compact

			&:not(:first-of-type)
				border-top: 0
				padding-top: 0

		&__link
			color: inherit
			font-weight: bold

		&__text
			color: $zon-dark-grey
			font-size: $font-m

		&__match-time
			font-size: $font-s--px
