{% extends 'zeit.web.arbeit:templates/layout.html' %}

{% block babator_include %}
    {%- include "zeit.web.core:templates/inc/meta/babator.html" -%}
{% endblock %}

{% block ligatus_include %}
    {%- include "zeit.web.core:templates/inc/meta/ligatus.html" -%}
{% endblock %}

{% block structured_data -%}
    {% include "zeit.web.core:templates/inc/structured-data/article.html" %}
{% endblock structured_data -%}

{% block main %}
    {% block advertorial_marker %}{% endblock advertorial_marker %}
    {% block content %}
    <article class="article article--{{ view | block_type }}" id="js-article" itemprop="mainEntity" itemscope itemtype="http://schema.org/Article" itemref="publisher">
        <link itemprop="mainEntityOfPage" href="{{ view.canonical_url }}">
        {% block article_heading -%}
            {% include ["zeit.web.arbeit:templates/inc/article-header/{}.html".format(view.header_layout),
                        "zeit.web.arbeit:templates/inc/article-header/default.html"] %}
        {% endblock article_heading -%}
        {% block article_body %}
        <div class="article-body article-body--{{ view | block_type }}" itemprop="articleBody">
            {% block article_pages %}
                <!-- Here goes the content for a page -->
            {% endblock article_pages %}
            {% block article_pagination %}
            {% endblock article_pagination %}
        </div>
        {% endblock article_body %}
        {% block article_footer %}
        <footer class="article-footer article__item" data-ct-area="articlebottom">
            {% block article_sharing %}
                {% include "zeit.web.core:templates/inc/article/sharing-menu.html" %}
            {% endblock %}

            {% block article_tags %}
                {% include "zeit.web.core:templates/inc/article/tags.html" %}
            {% endblock %}
        </footer>
        {% endblock %}
    </article>
    {% endblock content %}

    {% if view.ligatus %}
        {% block ligatus %}
            {% set ligatus_id = '101842' %}
            {% include 'zeit.web.core:templates/inc/ligatus/ligatus.html' %}
        {% endblock %}
    {% else %}
        {% block nextread %}
            {% set module = view.nextread %}
            {% include "zeit.web.arbeit:templates/inc/article/nextread.tpl" %}
        {% endblock %}

        {% block nextread_ad %}
            {% set module = view.nextread_ad %}
            {% include "zeit.web.arbeit:templates/inc/article/nextread.tpl" %}
        {% endblock %}
    {% endif %}

    {% block comments %}
        {% profile %}
            {% include "zeit.web.core:templates/inc/article/comments.html" %}
        {% endprofile %}
    {% endblock comments %}

{% endblock main %}
