{% extends "zeit.web.arbeit:templates/content.html" %}

{% block article_pages %}
    {% require gallery = view.gallery %}
    <div class="article-page">
        <p class="article__summary article__item" itemprop="description">
            {{- view.subtitle -}}
        </p>
        {% include "zeit.web.core:templates/inc/article/gallery.html" %}
    </div>
    <div class="article-page">
        <div class="gallery__description article__item">
            {{ gallery.html | safe }}
        </div>
    </div>
    {% endrequire %}
{% endblock article_pages %}
