{% import "zeit.web.arbeit:templates/macros/layout_macro.tpl" as lama %}
<!DOCTYPE html>
<html lang="de" class="no-js" itemscope itemtype="http://schema.org/WebPage">
<head>
    {% include "zeit.web.core:templates/inc/meta/basics.html" %}
    {% include "zeit.web.core:templates/inc/meta/dns-prefetch.html" %}

    <link rel="shortcut icon" sizes="16x16 32x32" href="{{ request.route_url('home') }}favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="{{ request.image_host }}/static/img/ZO-ipad-114x114.png">

    {% block css_link %}
        <link href="{{ request.asset_host }}/css/web.arbeit/screen.css" media="all" rel="stylesheet" type="text/css">
    {% endblock css_link %}

    {%- include "zeit.web.core:templates/inc/inline_js/library.html" -%}
    {%- include "zeit.web.core:templates/inc/meta/date.html" -%}
    {%- include "zeit.web.arbeit:templates/inc/meta/sharing.html" -%}
    {%- include "zeit.web.core:templates/inc/meta/app-indexing.html" -%}
    {% block schemaorg_data %}{% endblock %}

    <script src="{{ request.asset_host }}/js/vendor/modernizr-custom.js"></script>
    {% include "zeit.web.core:templates/inc/inline_js/print.html" %}
    {% if toggles('third_party_modules') -%}
        <script src="https://script.ioam.de/iam.js"></script>
    {% endif -%}
    {% if toggles('optimize_ab_testing') -%}
        <script src="https://converlytics-services.de/zon/optimize_to_wt.js"></script>
    {% endif -%}
    {% if toggles('third_party_modules', 'iqd') %}
        {% include "zeit.web.core:templates/inc/ads/head.html" %}
        {%- block content_ad_script -%}{%- endblock -%}
    {% endif %}
    {% include "zeit.web.core:templates/inc/inline_js/rawr.tpl" %}
    {% if settings('livereload') %}
        <script src="//localhost:35729/livereload.js"></script>
    {% endif %}

    {% include "zeit.web.core:templates/inc/cardstack/header.tpl" %}
</head>
<body data-page-type="{{ view.type }}"{% if view.no_overscrolling %} data-overscrolling="off"{% endif %}>

    {% include "zeit.web.core:templates/inc/tag-manager.html" %}
    {% include "zeit.web.core:templates/inc/ads/static_oop-tag.html" %}
    {% include "zeit.web.core:templates/inc/tracking/ivw_ver2.html" %}

    {% block skiplink %}
    <a class="skiplink" href="#main" id="top" title="Direkt zum Inhalt springen">Inhalt</a>
    {% endblock skiplink %}
    <div class="page">
        {% block adplace_top %}
            {% include "zeit.web.core:templates/inc/ads/mainad.html" %}
        {% endblock adplace_top %}
        <div class="page__content">
            {% if not view.is_wrapped %}
            <header class="header" data-ct-area="arbeit-topnav">
                {%- block navigation -%}
                    {%- include "zeit.web.arbeit:templates/inc/navigation/navigation.html" -%}
                {%- endblock navigation -%}
            </header>
            {% endif %}
            {% block adplace_billboard %}
                {% include "zeit.web.core:templates/inc/ads/places/desktop/place3.html" %}
                {% include "zeit.web.core:templates/inc/ads/places/mobile/place1.html" %}
            {% endblock adplace_billboard %}
            <main class="{{ 'main' | with_mods(view.type) }}" id="main" itemprop="mainContentOfPage">
                {% block main %}{% endblock main %}
            </main>
            {% block adplace_floor %}
                <!-- P7 -->
                {% include "zeit.web.core:templates/inc/ads/places/desktop/place16.html" %}
                {% include "zeit.web.core:templates/inc/ads/places/mobile/place8.html" %}
            {% endblock adplace_floor %}
            {% block footer %}
                {%- include "zeit.web.arbeit:templates/inc/footer.html" -%}
            {% endblock footer %}
        </div>
    </div>
    {% include "zeit.web.core:templates/inc/ads/finalize.html" %}
    {% include "zeit.web.core:templates/inc/tracking/zeit.html" %}
    {# Include login-state ESI before webtrekk! It contains the customer SSO ID. #}
    {% include "zeit.web.core:templates/inc/login-state-footer-esi.html" %}
    {% include "zeit.web.core:templates/inc/tracking/webtrekk.html" %}
    {% include "zeit.web.core:templates/inc/tracking/celera_one.html" %}
    {% include "zeit.web.core:templates/inc/inline_js/app_wrapper.html" %}
    {% include "zeit.web.core:templates/inc/tracking/meetrics.html" %}

    <script src="{{ request.asset_host }}/js/arbeit.js"></script>

    {% if toggles('third_party_modules') and view.vgwort_url -%}
    <img src="{{ view.vgwort_url }}" width="1" height="1" alt="" class="visually-hidden">
    {% endif -%}
    {% include "zeit.web.core:templates/inc/cardstack/footer.tpl" %}
</body>
</html>
