{% extends "zeit.web.core:templates/layout.html" %}

{% block css_link -%}
    <link href="{{ request.asset_host }}/css/web.arbeit/screen.css" media="all" rel="stylesheet" type="text/css">
{% endblock css_link -%}

{%- block head %}
    {% if view.is_podcastseries -%}
        <link type="application/rss+xml" rel="alternate" title="{{ view.series_title }}" href="https://{{ view.podcastseries_feed }}.podigee.io/feed/mp3"/>
    {% else -%}
        <link rel="alternate" type="application/rss+xml" href="https://newsfeed.zeit.de/arbeit/index">
    {% endif -%}
    {% include "zeit.web.core:templates/inc/inline_js/print.html" %}
{% endblock head %}

{%- block body %}
    <div class="page">
        {% block adplace_top %}
            {% include "zeit.web.core:templates/inc/ads/mainad.html" %}
        {% endblock adplace_top %}
        <div class="page__content">
            {% if not view.is_wrapped %}
            <header class="header" data-ct-area="arbeit-topnav">
                {%- block navigation -%}
                    {%- include "zeit.web.arbeit:templates/inc/navigation/navigation.html" -%}
                {%- endblock navigation -%}
            </header>
            {% endif %}
            {% block adplace_billboard %}
                {% include "zeit.web.core:templates/inc/ads/places/desktop/place3.html" %}
                {% include "zeit.web.core:templates/inc/ads/places/mobile/place1.html" %}
            {% endblock adplace_billboard %}
            <main class="{{ 'main' | with_mods(view.type) }}" id="main">
                {% block main %}{% endblock main %}
            </main>
            {% block adplace_floor %}
                <!-- P7 -->
                {% include "zeit.web.core:templates/inc/ads/places/desktop/place16.html" %}
                {% include "zeit.web.core:templates/inc/ads/places/mobile/place8.html" %}
            {% endblock adplace_floor %}
            {% block footer %}
                {%- include "zeit.web.arbeit:templates/inc/footer.html" -%}
            {% endblock footer %}
        </div>
    </div>

    {%- include "zeit.web.core:templates/inc/data-protection-popover.html" -%}

    {% include "zeit.web.core:templates/inc/ads/finalize.html" %}
    {% include "zeit.web.core:templates/inc/tracking/zeit.html" %}
    {# Include login-state ESI before webtrekk! It contains the customer SSO ID. #}
    {% include "zeit.web.core:templates/inc/login-state-footer-esi.html" %}
    {% include "zeit.web.core:templates/inc/tracking/webtrekk.html" %}
    {% include "zeit.web.core:templates/inc/tracking/celera_one.html" %}
    {% include "zeit.web.core:templates/inc/inline_js/app_wrapper.html" %}
    {% include "zeit.web.core:templates/inc/tracking/meetrics.html" %}

    <script src="{{ request.asset_host }}/js/arbeit.js"></script>

    {% if toggles('third_party_modules') and view.vgwort_url -%}
    <img src="{{ view.vgwort_url }}" width="1" height="1" alt="" class="visually-hidden">
    {% endif -%}
    {% include "zeit.web.core:templates/inc/cardstack/footer.tpl" %}
{% endblock body %}
