.zplus-badge
	color: $zon-charcoal
	display: inline-block
	margin-bottom: remify(48px)

	&__icon
		background-color: $red
		color: #fff
		height: remify(23px)
		width: remify(28px)
		vertical-align: middle

	&__text
		font-size: em(12px)
		letter-spacing: $letter-spacing-l
		margin-left: remify(8px)
		text-transform: uppercase

	+respond-min($break-tablet-min)
