.header
    +padded
    background-color: $primary-color
    color: #fff
    padding-bottom: remify(13px)
    padding-top: remify(13px)

    &__logo
        color: #fff
        display: block
        height: $logo-height
        width: $logo-width
