.header
    background-color: $primary-color
    color: #fff
    padding: remify(14px $page-padding)

    &__logo
        color: #fff
        display: block
        height: $logo-height
        width: $logo-width
