{% if image %}
    {%- set image_sources = image_sources | default([320, 480, 660, 750, 820]) %}
    {%- set display_mode = display_mode | default(block.display_mode if block) %}
    {%- set default_width = 320 %}
    {%- set default_height = (default_width / image.ratio) | int %}
    {%- set image_width = image.fallback_width | default(default_width, True) %}
    {%- set image_height = image.fallback_height | default(default_height, True) %}
    {%- block image %}
        <figure class="{% block media_block %}{{ 'figure' | with_mods(display_mode) }}{% endblock %}">
            {% block media -%}
            <amp-img
                src="{{ request.image_host + image.fallback_path }}"
                srcset="{% for w in image_sources %}{{ '%s%s__%sx%s %sw' | format(request.image_host, image.path, w, (w / image.ratio) | int, w) }}{{ ', ' if not loop.last }}{% endfor %}"
                alt="{{ image.alt }}"
                width="{{ image_width }}"
                height="{{ image_height }}"
                {% block sizes -%}
                    {% if display_mode == 'large' -%}
                        sizes="(min-width: 820px) 820px, 100vw"
                    {% endif -%}
                {%- endblock %}

                layout="responsive"
                attribution="{{ image.copyrights | map(attribute='text') | join(', ') }}"></amp-img>
            {% endblock media -%}
            {% block caption -%}
            <figcaption class="figure__caption" {%- if not image.caption and not image.copyrights | length %} hidden{% endif %}>
                <span class="figure__text">{{ image.caption }}</span>
                {% for item in image.copyrights %}
                <span class="figure__copyright">
                    {%- if item.url %}<a href="{{ item.url }}"{% if item.nofollow %} rel="nofollow"{% endif %}>{% endif -%}
                    {{- item.text -}}
                    {%- if item.url %}</a>{% endif -%}
                </span>
                {% endfor %}
            </figcaption>
            {% endblock caption %}
        </figure>
    {% endblock %}
{% endif %}
