$comment-color-preferences-background: $zon-lighter-grey
$comment-color-preferences-font: $zon-grey
$comment-color-preferences-hoverunderline: $zon-light-grey
$comment-color-preferences-active: $zon-charcoal
$comment-color-preferences-seperator: #fff

@import "web.core/modules/comments/comment-preferences"
