$comment-color-form-text:			$zon-grey
$comment-color-form-user-link:		$zon-red
$comment-color-form-cancel-link: 	$zon-grey

@import "web.core/modules/comments/comment-form"

.comment-section__button,
.comment-login__button,
.comment-form__button
	@extend .button--uncolored
