.comment-form
	margin-bottom: 2em
	+respond-min($break-desktop-min)
		margin: 1em em(160px)
	&__avatar
		border-radius: 50%
		display: inline-block
		height: em(36px)
		margin-right: em(12px)
		width: em(36px)
		vertical-align: middle
	&__username
		+link
			color: $zon-red
		+on-interaction
			text-decoration: underline
	&__textarea
		background-color: $zon_lighter_grey
		border: 1px solid $zon_light_grey
		display: block
		margin: 1rem auto
		width: 97%
		height: 16rem
		padding: 1rem
		color: $black
	&__submit
		+zon-button-light
		display: block
		margin: auto

.comment-login
	padding-bottom: 3rem
	padding-top: 3rem
	text-align: center
	&__cta
		display: inline-block
		width: 98%
	&__button
		+zon-button-light
		display: inline-block
