$comment-color-meta-text: 			$zon-grey
$comment-color-meta-text-hover:		$zon-dark-grey
$comment-color-icon-author:			$zon-charcoal
$comment-color-name-link:			$zon-red

@import "web.core/modules/comments/comment-meta"

// own styles, which differ from core
.comment-meta
	&__name
		font-size: remify(16px)
		font-weight: bold
		line-height: 1.2
