.comment-section
	margin: 0 (-$page-padding)
	+respond-min($break-tablet-min)
		border-top: 1px solid $color-border
	&__item
		margin-left: auto
		margin-right: auto
		padding: 0 $page-padding
		+respond-min($break-tablet-min)
			max-width: remify(700px) // 660px + 2*$page-padding
	&__head
		background-color: $zon_lighter_grey
		padding-bottom: em(32px)
		padding-top: em(32px)
		text-align: center
		+respond-min($break-phablet-min)
			+display-flex // flexbox
			+justify-content(space-between) // flexbox
			+align-items(center)
		+respond-min($break-tablet-min)
			background-color: transparent
	&__headline
		font-size: remify(18px)
		font-weight: bold
		display: block
		margin-bottom: .5em
		+respond-min($break-phablet-min)
			font-size: remify(20px)
			display: inline
			margin-bottom: 0
			text-align: left
		small
			color: $zon_mid_grey
			display: block
			font-size: remify(12px)
			font-weight: normal
			letter-spacing: $zon-letter-spacing-m
	&__button
		white-space: nowrap
		&:after
			content: "\25B8" // ▸ = Black right-pointing small triangle
			margin-left: 3px
	&__form
		border-top: 1px solid $color-border

		.comment-form__cancel--hidden
			display: none

.no-js .comment-section__link-autoupdate
	display: none
