.comment-section
	border-top: 2px solid $zon-seashell
	margin: 4rem (-$page-padding) 0
	&__head
		margin-left: auto
		margin-right: auto
		max-width: remify(700px) // 660px + 2*$page-padding
		padding: em(32px) $page-padding
		text-align: center
		+respond-min($break-phablet-min)
			+display-flex // flexbox
			+justify-content(space-between) // flexbox
			+align-items(center)
	&__headline
		font-size: remify(18px)
		font-weight: bold
		display: block
		margin-bottom: .5em
		+respond-min($break-phablet-min)
			font-size: remify(20px)
			display: inline
			margin-bottom: 0
	&__button
		white-space: nowrap
		&:after
			content: "\25B8" // ▸ = Black right-pointing small triangle
			margin-left: 3px

	&__form
		margin-left: auto
		margin-right: auto
		max-width: remify(700px)
		padding: 0 $page-padding
