$comment-color-author-bg: $zon-lighter-grey
$comment-color-border: $color-border

$comment-color-body-font: $zon-charcoal
$comment-color-overlay-count-background: $zon-charcoal
$comment-color-overlay-cta-font: $zon-dark-grey
$comment-color-overlay-cta-border: $zon-mid-grey

$comment-color-moderation-font: $zon-grey
$comment-color-moderation-link: $zon-red
$comment-color-moderation-sending-font: $zon-light-grey

$comment-color-date-link: $zon-grey
$comment-color-date-link-hover: $zon-dark-grey
$comment-color-reaction-active: $zon-red

$comment-color-count-background: $zon-trout
$comment-color-count-font: $zon-lighter-grey
$comment-color-cta-font: $zon-grey
$comment-color-cta-border: $zon-light-grey

$comment-color-rewrapper-hover-count-background: $zon-charcoal
$comment-color-rewrapper-hover-cta-border: $zon-mid-grey
$comment-color-rewrapper-hover-cta-font: $zon-dark-grey

$comment-color-badge-background: $zon-charcoal
$comment-color-indented-boxshadow: $zon-lighter-grey

$comment-color-placeholder-background: $zon-warm-grey
$comment-color-placeholder-font: $zon-light-grey
