{% import 'zeit.web.campus:templates/macros/layout_macro.tpl' as lama %}
<aside class="toolbox">
    <h2 class="toolbox__headline">{{ module.toolbox.header_text }}</h2>
    <ul class="toolbox__list">
    {% for link in module.toolbox %}
        <li class="toolbox__item">
            <a href="{{ link.href }}" class="toolbox__link" title="{{ link.href_title }}">
                <h3 class="toolbox__title">{{ link.title }}</h3>
                <p class="toolbox__text">
                    {{ link.text }}
                </p>
                <strong class="toolbox__cta">Zum Test</strong>
                {{ lama.use_svg_icon('arrow-right', 'toolbox__arrow', view.package) }}
            </a>
        </li>
    {% endfor %}
    </ul>
    <div class="toolbox__footer">
        <a href="{{ module.toolbox.footer_link }}" class="toolbox__sit-link">{{ module.toolbox.footer_text }} {{ lama.use_svg_icon('arrow-right', 'toolbox__arrow', view.package) }}</a>
    </div>
</aside>
