{% set pid = view.request.GET['commentpid'] | e %}
{% if pid %}
	{% set submit_value = 'Antworten' %}
	{% set comment = view.comments.index[pid | int] | e %}
	{% set placeholder = 'Ihre Antwort auf Kommentar #' + comment.shown_num | e + ' von ' + comment.name | e %}
	{% set class = '' %}
{% else %}
	{% set submit_value = 'Kommentar senden' %}
	{% set placeholder = 'Ihr Kommentar' %}
	{% set class = 'comment-form__cancel--hidden' %}
{% endif %}

<div class="comment-section__form">
{%- if request.authenticated_userid %}
	{%- block comment_form %}
	<form class="comment-form" action="{{ view.comments.comment_post_url }}" method="POST" id="comment-form">
		<div class="comment-form__text">
			{% if request.session.user.picture %}
			<img class="comment-form__avatar" alt="Avatarbild von {{ request.session.user.name | e }}" src="{{ request.session.user.picture }}">
			{% endif %}
			Angemeldet als
			<a class="comment-form__username" href="{{ request.registry.settings.community_host }}/user/{{ request.session.user.uid }}">
				{{ request.session.user.name | e }}
			</a>
			<a class="comment-form__cancel" href="{{ request.registry.settings.community_host }}/logout?destination={{ request.url | e }}">
				Abmelden
			</a>
		</div>
		<textarea class="comment-form__textarea js-required" name="comment" placeholder="{{ placeholder }}" maxlength="1500"></textarea>
		<p class="comment-form__actions">
			<input type="hidden" name="nid" value="{{ view.comments.nid }}">
			<input type="hidden" name="pid" value="{{ pid }}">
			<input type="hidden" name="uid" value="{{ request.session.user.uid }}">
			<a href="{{ view.article_url }}" class="comment-form__cancel {{ class }} js-cancel-reply">Abbrechen</a>
			<input class="button" type="submit" value="{{ submit_value }}" />
		</p>
	</form>
	{%- endblock %}
{%- else %}
	<form class="comment-login" id="comment-form">
		<p>
			Bitte melden Sie sich an, um zu kommentieren.
		</p>
		<a class="button" href="{{ request.registry.settings.community_host }}/user/login?destination={{ request.url | e }}">
			Anmelden
		</a>
		<a class="button" href="{{ request.registry.settings.community_host }}/user/register?destination={{ request.url | e }}">
			Registrieren
		</a>
	</form>
{%- endif %}
</div>

<script type="text/template" id="js-report-comment-template">
{%- if request.authenticated_userid %}
	{% include "zeit.web.site:templates/inc/comments/report-comment-form.html" %}
{%- else %}
	<form class="comment-login" style="display: none">
		<p>
			Bitte melden Sie sich an, um diesen Kommentar zu melden.
		</p>
		<a class="button" href="{{ request.registry.settings.community_host }}/user/login?destination={{ request.url | e }}">
			Anmelden
		</a>
		<a class="button" href="{{ request.registry.settings.community_host }}/user/register?destination={{ request.url | e }}">
			Registrieren
		</a>
	</form>
{%- endif %}
</script>
