<div class="author-biography">
    <div class="author-summary">
        {{ context.biography }}
    </div>
    <span class="author-seperator"></span>
    <div class="author-questions">
        {% for question in context.bio_questions.values() %}
            <div class="author-questions__title">
                {{question.title}}
            </div>
            <div class="author-questions__answer">
                {{question.answer}}
            </div>
        {% endfor %}
    </div>
    <span class="author-seperator"></span>
</div>
