// Beckett Light
@font-face {
	font-family: "BeckettLight";
	src: url('https://static.zeit.de/static/latest/fonts/beckett/Beckett-Light.woff2') format('woff2'),
	     url('https://static.zeit.de/static/latest/fonts/beckett/Beckett-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
