// Regular
@font-face {
    font-family: "FranziskaWebPro";
    src: url('../../../latest/fonts/franziska/FranziskaWebPro.eot');
    src: url('../../../latest/fonts/franziska/FranziskaWebPro.eot?#iefix') format('embedded-opentype'),
         url('../../../latest/fonts/franziska/FranziskaWebPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Demibold
@font-face {
    font-family: "FranziskaWebPro";
    src: url('../../../latest/fonts/franziska/FranziskaWebPro-Demibold.eot');
    src: url('../../../latest/fonts/franziska/FranziskaWebPro-Demibold.eot?#iefix') format('embedded-opentype'),
         url('../../../latest/fonts/franziska/FranziskaWebPro-Demibold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

// Italic
@font-face {
    font-family: "FranziskaWebPro";
    src: url('../../../latest/fonts/franziska/FranziskaWebPro-Italic.eot');
    src: url('../../../latest/fonts/franziska/FranziskaWebPro-Italic.eot?#iefix') format('embedded-opentype'),
         url('../../../latest/fonts/franziska/FranziskaWebPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
