// Patron Bold
@font-face {
    font-family: "PatronBold";
    src: url('https://static.zeit.de/static/latest/fonts/patron_bold/PatronWEB-Bold.woff2') format('woff2'),
         url('https://static.zeit.de/static/latest/fonts/patron_bold/PatronWEB-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
