// Tablet Gothic
@font-face {
    font-family: "TabletGothic";
    src: url('../../../latest/fonts/tabletgothic/TabletGothic-Regular.woff2') format('woff2'),
         url('../../../latest/fonts/tabletgothic/TabletGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Tablet Gothic Italic
@font-face {
    font-family: "TabletGothic";
    src: url('../../../latest/fonts/tabletgothic/TabletGothic-Italic.woff2') format('woff2'),
         url('../../../latest/fonts/tabletgothic/TabletGothic-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

// Tablet Gothic Bold
@font-face {
    font-family: "TabletGothic";
    src: url('../../../latest/fonts/tabletgothic/TabletGothic-Bold.woff2') format('woff2'),
         url('../../../latest/fonts/tabletgothic/TabletGothic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
