@import url("//fast.fonts.net/t/1.css?apiType=css&projectid=0a8d11d9-451b-49e9-be87-907f2c9fce50");

@font-face {
	font-family: "TiemannLight";
	src: url('../../../latest/fonts/tiemann/c7659183-7f28-487e-8d4b-67f757a06277.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
