/*
 *
 * Special CSS for brightcove player inline text "Anzeige"
 *
*/
.vjs-ad-playing.vjs-user-inactive .vjs-current-time {
	-webkit-transition-delay: 3s;
	-moz-transition-delay: 3s;
	-ms-transition-delay: 3s;
	-o-transition-delay: 3s;
	transition-delay: 3s;
	-webkit-transition: width 0.5s;
	-moz-transition: width 0.5s;
	-ms-transition: width 0.5s;
	-o-transition: width 0.5s;
	transition: width 0.5s;
	width: 0;
}

.vjs-ad-playing.vjs-user-active .vjs-current-time {
	width: 120px !important;
}

.vjs-ad-playing .vjs-current-time-display::before, .vjs-ad-control-bar .vjs-volume-panel::before{
	content: 'Anzeige';
	margin: 13px -6px 0 -6px;
}

.vjs-ad-playing .vjs-control:hover::before, .vjs-ad-playing .vjs-control:focus::before{
	text-shadow: none;
}

.vjs-ad-playing .vjs-volume-panel {
	margin-right:  20px;
}

.vjs-ad-playing .vjs-volume-panel .vjs-volume-control {
	margin-left:  -18px;
}
