.advertorial-marker
	border-bottom: 1px solid #ccc
	margin: 0 (-$page-padding)
	padding: remify(30px) $page-padding
	position: relative
	width: auto
	+respond-min($break-tablet-min)
		border-bottom: none
		padding: $page-padding*2 0 $page-padding
		margin: 0 auto
		max-width: remify(660px)
	&:before
		content: "Anzeige"
		font-size: remify(13px)
		position: absolute
		right: $page-padding
		text-transform: uppercase
		top: remify(10px)
		+respond-min($break-tablet-min)
			display: none
	&__title
		font-size: remify(18px)
		font-weight: 700
		margin-bottom: remify(5px)
		text-transform: uppercase
	&__text
		color: #999
		font-size: remify(12px)

