.header-image
	+respond-min($break-tablet-min)
		margin-top: remify(1px)
	&__kicker
		letter-spacing: 0
		margin: 0 auto
		max-width: remify(580px)
		text-transform: none
	&__adlabel
		color: $white
		font-size: remify(10px)
		letter-spacing: remify(1px)
		right: remify(20px)
		position: absolute
		text-transform: uppercase
		top: remify(10px)
		+respond-min($break-tablet-min)
			display: none
