.main_nav__ad-label
	display: none
	+respond-min($break-tablet-min)
		+order(45)
		+flex-grow(1)
		+align-self(center)
		color: $zon_mid_grey
		font-family: $font-tabletgothic
		display: inline
		margin: 0 $petite
		text-transform: none
