.header
	background-color: #fff
.primary-nav
	+respond-min($break-tablet-min)
		border-bottom: none
.main_nav__ad-label
	display: none
	+respond-min($break-tablet-min)
		order: 45
		flex-grow: 1
		align-self: center
		color: $zon-dark-grey
		font-family: $adv-font
		font-size: remify(18px)
		display: inline
		margin: 0 $petite
		text-transform: none
