{% extends "zeit.web.core:templates/inc/article/pagination.html" %}

{% block article_pagination %}
    {% if view.pagination and view.pagination.next_page_url -%}
        <a class="article-pagination__link" href="{{ view.pagination.next_page_url }}" data-ct-label="Nächste Seite">
            <span class="article-pagination__button article-pagination__button--next">Nächste Seite
                {%- block pagination_icon %}{% endblock -%}
            </span>
            {% if view.pagination.next_page_title -%}
            <span class="article-pagination__nexttitle">{{ view.pagination.next_page_title }}</span>
            {%- endif %}
        </a>
    {% endif %}
{% endblock %}
