<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Organization",
    "@id": "#publisher",
    "name": "ZEIT Campus",
    "url": "{{ request.route_url('home') }}campus/index",
    "logo": {
        "@type": "ImageObject",
        "url": "{{ request.asset_host }}/images/structured-data-publisher-logo-zco.png",
        "width": 347,
        "height": 60
    },
    "sameAs": [
        "https://www.facebook.com/zeitcampus/",
        "https://www.instagram.com/zeit_campus/",
        "https://twitter.com/zeitcampus"
    ]
}
</script>
