.advertising
	+unpadded
	background-color: $color-advertising-bg
	border-bottom: 1px solid $color-border
	border-top: 1px solid $color-border
	text-align: center
	amp-iframe
		display: block
		margin: 0 auto
	&--place-4
		margin-bottom: remify(40px)
		margin-top: remify(40px)

