.advertising
	display: table
	margin: remify(40px auto 34px)
	&__container
		display: flex
		flex-direction: column
	&__marker
		@extend %label
		display: none
		order: -1
		+respond-max(em(320px), false)
			margin-right: 10px

.advertising__container > amp-ad:not([style*="display: none"]) + .advertising__marker
	display: block
