@font-face {
    font-family: "TabletGothic";
    src: url('../../../latest/fonts/tabletgothic/TabletGothic-Regular.woff2') format('woff2'),
         url('../../../latest/fonts/tabletgothic/TabletGothic-Regular.woff') format('woff'),
         url('../../../latest/fonts/tabletgothic/TabletGothic-Regular.ttf') format('truetype'),
         url('../../../latest/fonts/tabletgothic/TabletGothic-Regular.svg#TabletGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TabletGothic";
    src: url('../../../latest/fonts/tabletgothic/TabletGothic-Italic.woff2') format('woff2'),
         url('../../../latest/fonts/tabletgothic/TabletGothic-Italic.woff') format('woff'),
         url('../../../latest/fonts/tabletgothic/TabletGothic-Italic.ttf') format('truetype'),
         url('../../../latest/fonts/tabletgothic/TabletGothic-Italic.svg#TabletGothic-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "TabletGothic";
    src: url('../../../latest/fonts/tabletgothic/TabletGothic-Bold.woff2') format('woff2'),
         url('../../../latest/fonts/tabletgothic/TabletGothic-Bold.woff') format('woff'),
         url('../../../latest/fonts/tabletgothic/TabletGothic-Bold.ttf') format('truetype'),
         url('../../../latest/fonts/tabletgothic/TabletGothic-Bold.svg#TabletGothic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "FranziskaWebPro";
    src: url('../../../latest/fonts/franziska/FranziskaWebPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FranziskaWebPro";
    src: url('../../../latest/fonts/franziska/FranziskaWebPro-Demibold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "FranziskaWebPro";
    src: url('../../../latest/fonts/franziska/FranziskaWebPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "BeckettLight";
    src: url('../../../latest/fonts/beckett/Beckett-Light.woff2') format('woff2'),
         url('../../../latest/fonts/beckett/Beckett-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
