.article-sharing
	margin: remify(0 0 32px)

	&__list
		+clearfix
		list-style-type: none
		margin: 0
		padding: 0

	&__item
		float: left
		margin-right: remify(7px)

	&__link
		border-radius: 4px
		color: #fff
		display: block
		height: remify(40px)
		width: remify(40px)
		+on-interaction
			color: #fff
		&--facebook
			background-color: $color-facebook
			+on-interaction
				background-color: $color-facebook-hover				
		&--flipboard
			background-color: $color-flipboard
			+on-interaction
				background-color: $color-flipboard-hover
		&--twitter
			background-color: $color-twitter
			+on-interaction
				background-color: $color-twitter-hover
		&--whatsapp
			background-color: $color-whatsapp
			+on-interaction
				background-color: $color-whatsapp-hover
		&--messenger
			background-color: $color-messenger
			+on-interaction
				background-color: $color-messenger-hover
		&--mail
			background-color: $color-mail
			+on-interaction
				background-color: $color-mail-hover
		&--pocket
			background-color: $color-pocket
			+on-interaction
				background-color: $color-pocket-hover

	&__text
		display: none

	&__icon
		height: remify(22px)
		margin: remify(9px)
		width: remify(22px)

	+respond-min($break-tablet-min)
		&__item
			&--whatsapp,
			&--messenger
				display: none
