<h3>{{ view.supertitle }}</h3>
<h1>{{ view.title }}</h1>
<h2>{{ view.subtitle}}</h2>

{% require image = get_image(view.header_module, variant_id='wide', fallback=False) %}
    {% set image_width = 1440 %}
    {% set image_height = (image_width / image.ratio) | round | int %}
    <p>
        <img href="https://img.zeit.de/{{ image.path }}__{{ image_width }}x{{ image_height }}" alt="{{ image.alt }}" title="{{ image.caption }}"/>
        {{ image.caption }}
    </p>
{% endrequire %}

{% for page in view.pages %}
    {% set page_loop = loop %}
    {%- for block in page -%}
        {% include "zeit.web.core:templates/yahoofeed/blocks/{}.html".format(block | block_type) ignore missing %}
    {%- endfor -%}
{% endfor %}
