<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Article",
    "@id": "#mainentity",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ view.content_url }}"
    },
    {% if view.has_series_attached -%}
    "isPartOf": {
        "@type": "WebPage",
        "@id": "{{ context | find_series_cp | create_url }}",
        "name": {{ view.serie | tojson | safe }}
    },
    {% endif -%}
    {% if view.authors_structured_data -%}
    "author": {{ view.authors_structured_data | tojson | safe }},
    {% else -%}
    "author": {
        "@type": "Person",
        "name": {% if view.context.product -%}
            {{ view.context.product.title | tojson | safe }}
        {%- else -%}
            "ZEIT ONLINE"
        {%- endif %}

    },
    {% endif -%}
    "datePublished": "{{ view.date_first_released | format_date('iso8601') }}",
    "dateModified": "{{ view.date_last_modified | format_date('iso8601') }}",
    "headline": {% set headline = '%s: %s' | format(view.supertitle, view.title) -%}
        {%- if view.context is column -%}
            {{ '%s / %s' | format(view.serie, headline) | tojson | safe }}
        {%- else -%}
            {{ headline | tojson | safe }}
        {%- endif %},
    "description": {{ view.subtitle | tojson | safe }},
    {% require image = get_image(view.context, variant_id='wide', name='sharing', fallback=False) -%}
        {% set image_source = request.image_host + image.path + '__1300x731' -%}
        "image": {
            "@type": "ImageObject",
            "url": "{{ image_source }}",
            "width": 1300,
            "height": 731
        },
    {% endrequire -%}
    {% if view.keywords -%}
        "keywords": {{ view.keywords | join(', ', attribute='label') | tojson | safe }},
    {% endif -%}
    "publisher": {
        "@id": "#publisher"
    }
}
</script>
