<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Organization",
    "@id": "#publisher",
    "name": "ZEIT ONLINE",
    "url": "{{ request.route_url('home') }}index",
    "logo": {
        "@type": "ImageObject",
        "url": "{{ request.asset_host }}/images/structured-data-publisher-logo-zon.png",
        "width": 565,
        "height": 60
    },
    "sameAs": [
        "https://www.facebook.com/zeitonline/",
        "https://www.instagram.com/zeit/",
        "https://twitter.com/zeitonline",
        "https://flipboard.com/@ZEITONLINE"
    ]
}
</script>
