<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebPage",
    {% require image = get_image(view.context, variant_id='wide', name='sharing', fallback=False) -%}
        {% set image_source = request.image_host + image.path + '__1300x731' -%}
        "primaryImageOfPage": {
            "@type": "ImageObject",
            "url": "{{ image_source }}",
            "width": 1300,
            "height": 731
        },
    {% endrequire -%}
    "publisher": {
        "@id": "#publisher"
    },
    "mainEntity": {
        "@id": "#mainentity"
    },
    "breadcrumb": {
        "@id": "#breadcrumb"
    }
}
</script>
