{% set success = request.headers.get('X-Mail-Success') %}
<div class=" {{ 'feedback-section' | with_mods(block.feedbackModifier if block.feedbackModifier) }}" data-ct-area="feedback_form" id="feedback-form">

    {% if block.title or block.subtitle %}
        <div class="feedback-section__header">
            {% if block.title %}
                <h2 class="feedback-section__headline">{{ block.title }}</h2>
            {% endif %}
            {% if block.subtitle %}
                <p class="feedback-section__paragraph">{{ block.subtitle }}</p>
            {% endif %}
        </div>
    {% endif %}

    {% if success == 'True' %}
        <div class="feedback-form__success">{{ block.success_message }}</div>
    {% else %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <script>
        function onSubmit( token ) {
            document.getElementById( 'feedbackform' ).submit();
        }

        function validate( event ) {
            event.preventDefault();

            var feedbackError = document.getElementById( 'feedbackerror' ); // error msg
            var feedbackErrorTextarea = document.getElementById( 'feedbackerrortextarea' ); // error msg
            var feedbacktext = document.getElementById( 'feedbacktext' ); // textarea

            // remove errormsg when user filling in the textarea
            feedbacktext.addEventListener( 'keyup', function() {
                feedbackError.style.display = 'none';
                feedbackErrorTextarea.style.display = 'none';
                feedbacktext.className = 'feedback-form__textarea';
            });

            if (!document.getElementById( 'feedbacktext' ).value) {
                // if value for textfield isn't set
                feedbackError.innerHTML = 'Bitte überprüfen Sie Ihre Eingaben.';
                feedbackErrorTextarea.innerHTML = 'Bitte geben Sie eine Nachricht ein.';
                feedbackError.style.display = 'block';
                feedbackErrorTextarea.style.display  = 'block';
                feedbacktext.className = 'feedback-form__bgerror';
            } else {
                grecaptcha.execute();
            }
        }

        function onload() {
            var element = document.getElementById( 'formsubmit' );
            element.onclick = validate;
        }
    </script>

    <form class="feedback-form" id="feedbackform" name="feedbackform" aria-label="Haben Sie Feedback?" method="POST" action="{{ context | create_url }}">
        <input type="hidden" name="action" value="mail"/>
        <input type="hidden" name="return_url" value="{{ request.url }}">
        <div id="feedbackerror" class="feedback-form{% if success == 'False' %}__failure{% else %}__error{% endif %}">{% if success == 'False' %}Sie haben das Captcha nicht richtig ausgefüllt. Bitte versuchen Sie es nochmal.{% endif %}</div>
        <div class="feedback-form__inner">
            {% block inner_title %}{% endblock %}
        {% if block.subject %}
            <input type="hidden" name="subject" value="{{ block.subject_display }}"/>
        {% else %}
            <label for="subject" class="feedback-form__label">Ich habe Feedback zum Thema</label>
            <div class="feedback-form__select">
                <select name="subject" id="subject">
                {% for subject in block.subjects %}
                    <option>{{ subject }}</option>
                {% endfor %}
                </select>
            </div>
        {% endif %}
            <div id="feedbackerrortextarea" class="feedback-form__errortextarea"></div>
            <textarea id="feedbacktext" name="body" class="feedback-form__textarea" rows="10" aria-label="Textfeld für Ihr Feedback" required>{% if success == 'False' %}{{ request.headers.get('X-POST-body') }}{% endif %}</textarea>
            <input id="feedbackmail" type="email" name="from" placeholder="Ihre E-Mail-Adresse (freiwillig)" class="feedback-form__input" aria-label="Ihre E-Mail-Adresse (freiwillig)" autocomplete="email"/>
            <noscript>
                <input type="hidden" name="nojs" value="True">
                <p>Um Missbrauch des Mailformulars vorzubeugen, nutzen wir ein sogenanntes Captcha. Damit Sie Ihre Nachricht absenden können, lösen Sie bitte folgende Aufgabe. Sie bekommen dann einen Code angezeigt, den Sie in das leere Feld darunter kopieren. Danach können Sie Ihre Nachricht absenden.</p>
                <div class="feedback-form__recaptcha-response">
                    <iframe src="https://www.google.com/recaptcha/api/fallback?k=6LePDDUUAAAAADV2R0DaGNWyMEEcJuKSoahA3BH8" class="feedback-form__recaptcha-frame"></iframe>
                </div>
                <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response feedback-form__textarea" aria-label="Text-Area für Captcha" required></textarea>
            </noscript>
        </div>
        <div id='recaptcha' class="g-recaptcha" data-sitekey="6Ld00TUUAAAAANAca0kAaZPfp5XPYW69ss_YhaC4" data-callback="onSubmit" data-size="invisible"></div>
        <button name="feedbacksubmit" class="feedback-form__button" id="formsubmit">abschicken</button>
    </form>
    <script>onload();</script>
    {% endif %}
</div>
