{% set success = request.headers.get('X-Mail-Success') %}
<div class="feedback-section" data-ct-area="feedback_form" id="feedback-form">
    <div class="feedback-section__header">
        <h1 class="feedback-section__headline">Haben Sie Feedback?</h1>
        <p class="feedback-section__paragraph">
            Haben Sie einen Fehler gefunden? Sind Sie begeistert? Wir sind für jedes Feedback dankbar.
        </p>
    </div>
    {% if success == 'True' %}
        <div class="feedback-form__success">{{ block.success_message }}</div>
    {% else %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <script>
        function onSubmit( token ) {
            document.getElementById( 'feedbackform' ).submit();
        }

        function validate( event ) {
            event.preventDefault();

            var feedbackError = document.getElementById( 'feedbackerror' ); // error msg
            var feedbackErrorTextarea = document.getElementById( 'feedbackerrortextarea' ); // error msg
            var feedbacktext = document.getElementById( 'feedbacktext' ); // textarea

            // remove errormsg when user filling in the textarea
            feedbacktext.addEventListener( 'keyup', function() {
                feedbackError.style.display = 'none';
                feedbackErrorTextarea.style.display = 'none';
                feedbacktext.className = 'feedback-form__textarea';
            });

            if (!document.getElementById( 'feedbacktext' ).value) {
                // if value for textfield isn't set
                feedbackError.innerHTML = 'Bitte überprüfen Sie Ihre Eingaben.';
                feedbackErrorTextarea.innerHTML = 'Bitte geben Sie eine Nachricht ein.';
                feedbackError.style.display = 'block';
                feedbackErrorTextarea.style.display  = 'block';
                feedbacktext.className = 'feedback-form__bgerror';
            } else {
                grecaptcha.execute();
            }
        }

        function onload() {
            var element = document.getElementById( 'formsubmit' );
            element.onclick = validate;
        }
    </script>

    <div role="form" aria-label="Haben Sie Feedback?">
        <form class="feedback-form" id="feedbackform" name="feedbackform" aria-label="Haben Sie Feedback?" method="POST">
            <input type="hidden" name="action" value="mail"/>
            <div id="feedbackerror" class="feedback-form{% if success == 'False' %}__failure{% else %}__error{% endif %}">{% if success == 'False' %}Sie haben das Captcha nicht richtig ausgefüllt. Bitte versuchen Sie es nochmal.{% endif %}</div>
            <div class="feedback-form__inner">
            {% if block.subject %}
                <input type="hidden" name="subject" value="{{ block.subject_display }}"/>
            {% else %}
                <label for="feedbackselect" class="feedback-form__label" aria-labelledby="feedbackselect">Ich habe Feedback zum Thema</label>
                <div class="feedback-form__select" aria-label="Select-Box">
                    <select name="subject">
                    {% for subject in block.subjects %}
                        <option>{{ subject }}</option>
                    {% endfor %}
                    </select>
                </div>
            {% endif %}
                <div id="feedbackerrortextarea" class="feedback-form__errortextarea"></div>
                <textarea id="feedbacktext" name="body" class="feedback-form__textarea" rows="10" aria-label="Text-Area" required>{% if success == 'False' %}{{ request.headers.get('X-POST-body') }}{% endif %}</textarea>
                <input id="feedbackmail" type="email" name="from" placeholder="Ihre E-Mail-Adresse (freiwillig)" class="feedback-form__input" aria-label="E-Mail-Address" />
                <noscript>
                    <input type="hidden" name="nojs" value="True">
                    <div class="feedback-form__recaptcha-response">
                        <iframe src="https://www.google.com/recaptcha/api/fallback?k=6LePDDUUAAAAADV2R0DaGNWyMEEcJuKSoahA3BH8" frameborder="0" scrolling="no" class="feedback-form__recaptcha-frame"></iframe>
                    </div>
                    <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response feedback-form__textarea" aria-label="Text-Area" required></textarea>
                </noscript>
            </div>
            <div id='recaptcha' class="g-recaptcha" data-sitekey="6Ld00TUUAAAAANAca0kAaZPfp5XPYW69ss_YhaC4" data-callback="onSubmit" data-size="invisible"></div>
            <button name="feedbacksubmit" class="feedback-form__button" id="formsubmit" aria-describedby="Submit-Button">abschicken</button>
        </form>
    </div>
    <script>onload();</script>
    {% endif %}
</div>
