<html lang="de" prefix="op: http://media.facebook.com/op#">

<head>
    <meta charset="utf-8">
    <meta property="op:markup_version" content="v1.0">

    <!-- The URL of the web version of your article -->
    <link rel="canonical" href="{{ view.content_url }}">

    <!-- The style to be used for this article -->
    <meta property="fb:article_style" content="default">
</head>

<body>
    <article>
        <header>
            <!-- A kicker for your article -->
            <h3 class="op-kicker">{{ view.supertitle }}</h3>

            <!-- The title and subtitle  -->
            <h1>{{ view.title }}</h1>
            <h2>{{ view.subtitle}}</h2>

            <!-- The date and time when your article was originally published -->
            <time class="op-published" dateTime="{{ view.date_first_released | format_date('iso8601') }}">
                {{ view.date_first_released | format_date(view.show_date_format) }}
            </time>

            <!-- The date and time when your article was last updated -->
            <time class="op-modified" dateTime="{{ view.date_last_published | format_date('iso8601') }}">
                {{ view.date_last_published | format_date(view.show_date_format) }}
            </time>

            <!-- The authors of your article -->
            {% for author in view.authors -%}
                <address>
                {% if author.href %}
                    <a href="{{ author.href | create_url }}">
                        {{ author.name }}
                    </a>
                {% else %}
                    {{ author.name }}
                {% endif %}
                </address>
            {% endfor -%}

            <!-- The cover image shown inside your article -->
            <!-- FB documentation is ambigious:
                  - image shall be 2048x2048 pixels
                  - image will be cropped to 4:3
             -->
            {% require image_block = view.main_image_block,
                           variant = get_variant(view.context.main_image.target, 'square') %}
                <figure>
                    <img src="{{ request.image_host + variant.path + '__2048x2048' }}" />
                    {% set copyright = image_block.copyright[0][0] if (image_block.copyright and image_block.copyright[0]) else None %}
                    {% if image_block.caption or copyright | trim | length > 1 %}
                    <figcaption>
                        {% if image_block.caption %}
                        {{ image_block.caption }}
                        {% endif %}
                        {% if copyright | trim | length > 1 %}
                        <cite>{{ copyright }}</cite>
                        {% endif %}
                    </figcaption>
                    {% endif %}
                </figure>
            {% endrequire %}
        </header>

        <!-- Article body goes here -->
        {% for page in view.pages %}
            {% set ad_displayed = False %}
            {%- for block in page -%}
                {% include "zeit.web.core:templates/instantarticle/blocks/{}.html".format(block | block_type) ignore missing %}
                {# ad after first paragraph #}
                {% if page.number == 0 and block | block_type == 'paragraph' and ad_displayed == False %}
                    {% set ad_displayed = True %}
                    {% include "zeit.web.core:templates/instantarticle/ads/tile_4.html" ignore missing %}
                {% endif %}
                {# middle ad if more pages #}
                {% if page.number > 0 %}
                    {% if page.number == view.pages | length // 2 %}
                        {% if page | length // 2 == loop.index %}
                            {% include "zeit.web.core:templates/instantarticle/ads/tile_5.html" ignore missing %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {%- endfor -%}
        {% endfor %}

        {# ad on article end #}
        {% include "zeit.web.core:templates/instantarticle/ads/tile_8.html" ignore missing %}

        <!-- Analytics code loaded from an iframe -->
        <figure class="op-tracker">
            <iframe src="{{ request.fbia_host }}{{ view.content_path }}"></iframe>
        </figure>
        <footer>
            <small>Dieser Artikel steht unter der journalistisch-redaktionellen Verantwortung der Redaktion von zeit.de. Das Impressum finden Sie hier: <a href="{{ request.route_url('home') }}impressum/index">Impressum</a></small>
        </footer>
    </article>
</body>
</html>
