.teaser-podcast
	background-color: #eeeef0 // same as the podigee player skin
	margin: $vertical-space 0
	position: relative

.teaser-podcast-footer
	border-top: 1px $zon-light-grey solid
	display: flex
	margin-top: remify(35px)
	padding: remify(12px 15px 12px 20px)
	+respond-min($break-tablet-min)
		margin-top: 0

	&__link
		border-bottom: 1px rgba($zon-charcoal, 0.2) solid
		color: $zon-dark-grey
		font-size: remify(14px)
		letter-spacing: $letter-spacing-s
		position: absolute
		right: remify(12px)
		&:after
			content: "\203A"
			margin-left: 0.5em
		+on-interaction
			border-bottom: 1px currentColor solid

.podcast-links
	+respond-min($break-tablet-min)
		margin-left: remify(12px)

// Neither nice nor BEM, but as demanded in ZON-4235
// we have to hide podcast links from the minor section.
.cp-area--minor .podcast-links
	display: none

.podcast-links__list
	margin: 0
	padding: 0

.podcast-links__item
	display: inline
	letter-spacing: remify(20px)
	+respond-min($break-tablet-min)
		letter-spacing: remify(12px)
