.teaser-podcast
	background-color: #eeeef0 // same as the podigee player skin
	margin: $vertical-space 0
	position: relative

.teaser-podcast-footer
	border-top: 1px $zon-light-grey solid
	// display: flex
	margin-top: remify(35px)
	padding: remify(12px 15px 12px 20px)
	+respond-min($break-tablet-min)
		margin-top: 0

.podcast-links
	margin: 0
	padding: 0 remify(12px)
	&:first-child
		padding-left: 0

	&__item
		display: inline
		padding: 0 remify(6px)
		svg
			vertical-align: middle

	&__link
		color: rgba($color-text, 0.8)
		+on-interaction
			color: $color-text

.podcastfooter__podlove,
.podcastfooter__platforms,
.podcastfooter__serieslink
	display: inline-block

.podcastfooter__serieslink
	border-bottom: 1px rgba($color-text, 0.2) solid
	color: $color-text
	font-size: remify(14px)
	letter-spacing: $letter-spacing-s
	text-decoration: none
	&:after
		content: "\203A"
		margin-left: 0.5em
	+on-interaction
		color: $color-text
		border-bottom-color: currentColor


// Neither nice nor BEM, but as demanded in ZON-4235
// minor area styles have to align to mobile.
// .cp-area--minor .podcast-links, // ZON CP
// .cp-area--trio .podcast-links // ZAR CP
// 	margin-left: 0

// .cp-area--minor .teaser-podcast-footer, // ZON CP
// .cp-area--trio .teaser-podcast-footer // ZAR CP
// 	margin-top: remify(30px) // additional space for podlove-button
