{#
Abstract Template for inclusion in different gallery templates.
Will not be called by itself.
#}
{% import 'templates/macros/centerpage_macro.tpl' as cp with context%}
{% import 'templates/macros/layout_macro.tpl' as lama with context%}

<div class="{{self.additional_css_class()}}">
    {%- set image = get_teaser_image(teaser_block, teaser) %}
    {{ cp.comments_count(view.teaser_get_commentcount(teaser.uniqueId)) }}
    {% block asset %}
        <div class="scaled-image">
            {{ lama.insert_responsive_image(image) }}
        </div>
    {% endblock %}
    <div class="{{self.additional_css_class()}}__wrap">
        <span class="icon-galerie-icon-white"></span>
        {{ lama.teaser_supertitle_title(teaser, self.additional_css_class()) }}
    </div>
</div>
