{#

Default teaser template for monothematic block

Available attributes:
    teaserBlock
    teaser
#}
{% import 'templates/macros/layout_macro.tpl' as layout_macro with context %}
{%- set image = get_teaser_image(teaser_block, teaser) %}

<div class="mtb__teaser">
    <a href="{{teaser.uniqueId | translate_url}}">
        <div class="scaled-image">
            {{ layout_macro.insert_responsive_image(image, 'mtb__teaser__image') }}
        </div>
    </a>
    <div class="mtb__teaser__kicker">
        {{teaser.teaserSupertitle}}
    </div>
    <div class="mtb__teaser__title">
        {{teaser.teaserTitle}}
    </div>
</div>
