{#

Default teaser template for monothematic block

Available attributes:
    teaserBlock
    teaser
#}

<div class="cp__mtb__teaser">
    {% set image = get_teaser_image(teaser_block, teaser) %}
    <a href="{{teaser.uniqueId | translate_url}}">
        <div class="scaled-image">
            <!--[if gte IE 9]> -->
                <noscript data-ratio="{{image.ratio}}">
            <!-- <![endif]-->
                    <img alt="{{image.alt}}" title="{{image.title}}" class="cp__mtb__teaser__image" src="{{image | default_image_url | default('http://placehold.it/160x90', true)}}" data-ratio="{{image.ratio}}">
            <!--[if gte IE 9]> -->
                </noscript>
            <!-- <![endif]-->
        </div>
    </a>
    <div class="cp__mtb__teaser__kicker">
        {{teaser.teaserSupertitle}}
    </div>
    <div class="cp__mtb__teaser__title">
        {{teaser.teaserTitle}}
    </div>
</div>
