{#

imagegroup teaser template for zmo-landscape-small

Available attributes:
    teaser

#}
{% extends "templates/inc/teaser/teaser_zmo-landscape-small_default_default.html" -%}

{% block asset %}
{%- set image = get_teaser_image(teaser_block, teaser) %}
<a href="{{teaser.uniqueId | translate_url}}">
    <div class="scaled-image is-pixelperfect cp__buttons__image" data-wrap=".cp__buttons__image">
        <!--[if gte IE 9]> -->
            <noscript data-ratio="{{image.ratio}}">
        <!-- <![endif]-->
                <img alt="{{image.attr_alt}}" title="{{image.attr_title}}" src="{{image | default_image_url | default('http://placehold.it/160x90', true)}}" data-ratio="{{image.ratio}}">
        <!--[if gte IE 9]> -->
            </noscript>
        <!-- <![endif]-->
    </div>
</a>
{% endblock %}
