<!-- TODO: remove test data, switch to responsive (as)-->
<div class="cp__lead-full__wrap">
	<div class="cp__lead-full"> 
	    <img src="http://images.zeit.de/wissen/geschichte/2013-07/s79-volkstanz/s79-volkstanz-540x304.jpg">
	</div>

<header class="cp__lead-full__title__wrap">
  		<h1 class="cp__lead__title">
      		 {{teaser.title}}
  		</h1>
        <span class="cp__lead__subtitle">
      	Krankheit, Krisen und die Affäre um den DDR-Spion Günter Guillaume: Brandts überraschender Rücktritt im Mai 1974 war der letzte Akt einer dramatischen Kanzlerschaft. 
      	</span>
  	</header>
</div>
