{#

Imagegroup teaser template for buttons

Available attributes:
    teaser

#}
{% extends "templates/inc/teaser/teaser_buttons_default_default.html" -%}

{% block asset %}
{%- set image = get_teaser_image(teaser_block, teaser) %}
{%- set image_url = create_image_url(teaser_block, image) | translate_url %}
  <a href="{{teaser.uniqueId | translate_url}}">
    <div class="cp__buttons__image">
      {% if image_url %}
        <img alt="{{image.alt}}" title="{{image.title}}" src="{{image_url}}">
      {% endif %}
    </div>
  </a>
{% endblock %}
