{#

default teaser template for zmo-landscape-large-photo

Available attributes:
    teaser

#}

{% extends "templates/inc/teaser/abstract_teaser_template.html" -%}
{% block asset %}
{%- set image = get_teaser_image(teaser_block, teaser) %}

{{ cp.comments_count(view.teaser_get_commentcount(teaser.uniqueId)) }}
<a href="{{teaser | create_url}}">
    <div class="scaled-image is-pixelperfect cp__buttons__large__image" data-wrap=".cp__buttons__large__image">
        {{ lama.insert_responsive_image(image) }}
    </div>
</a>

{% endblock %}
{%block wrapper_class %}cp__buttons__large__wrap{% endblock %}
{%block title_wrapper_class %}cp__buttons__title__wrap{% endblock %}
{%block title_class %}cp__buttons__title{% endblock %}
{%block hide_subtitle %}false{% endblock %}
