<!-- TODO: remove test data (as)-->
{% macro lead_full_video(obj) -%}  
  <div data-backgroundvideo="{{obj.id}}" class="cp__lead-full">
        <video preload="auto" autoplay="true" loop="loop" muted="muted" volume="0" poster="{{obj.video_still}}">
             <source src="{{obj.source}}" type="video/mp4">
              <source src="http://opendata.zeit.de/zmo-videos/{{obj.id}}.webm" type="video/webm">
        </video>
        <img class="video--fallback" src="{{obj.video_still}}">
    </div>
{%- endmacro %}

<!-- TODO: remove test data, switch to responsive (as)-->
{% macro lead_full_image() -%}  
  <div class="cp__lead-full">
        <img src="http://images.zeit.de/wissen/geschichte/2013-07/s79-volkstanz/s79-volkstanz-540x304.jpg">
  </div>
{%- endmacro %}

<!-- TODO: remove test data (as)-->
{% macro lead_full_title(teaser) -%}
  <header class="cp__lead-full__title__wrap">
      <h1 class="cp__lead__title">
           {{teaser.teaserTitle}}
      </h1>
        <span class="cp__lead__subtitle">
        {{teaser.teaserText}} 
        </span>
    </header>
{%- endmacro %}

<div class="cp__lead-full__wrap">
  {% set type = 'video' -%}
  {% if type == 'video' %}
      {{ lead_full_video(teaser | auto_select_asset) }}
    {% elif type == 'image' %}
      {{ lead_full_image() }}
    {% endif %}
    {{ lead_full_title(teaser) }}
</div>

