{#

imagegroup teaser template for zmo-leader-fullwidth

Available attributes:
    teaser_block
    teaser

#}
{% extends "templates/inc/teaser/teaser_zmo-leader-fullwidth_default_default.html" -%}
{% import 'templates/macros/layout_macro.tpl' as layout_macro with context %}

{% block asset %}
{%- set image = get_teaser_image(teaser_block, teaser) %}
<a href="{{teaser.uniqueId | translate_url}}">
    <div class="scaled-image is-pixelperfect cp__lead-full--dark" data-wrap=".cp__lead-full__wrap">
        {{ layout_macro.insert_responsive_image(image) }}
    </div>
</a>
{% endblock %}
