{#

imagegroup teaser template for zmo-square-large

Available attributes:
    teaser

#}
{% import 'templates/macros/centerpage_macro.tpl' as cp with context%}
{% import 'templates/macros/layout_macro.tpl' as lama with context%}


<div class="cp__lead-leader__wrap">
    {%- set image = get_teaser_image(teaser_block, teaser) %}

    {{ cp.comments_count(view.teaser_get_commentcount(teaser.uniqueId)) }}
    <a href="{{teaser.uniqueId | translate_url}}">
        <div class="scaled-image is-pixelperfect cp__lead-leader__image--dark" data-wrap=".cp__lead-leader__wrap">
        {{ lama.insert_responsive_image(image) }}
        </div>
    </a>
  <header class="cp__lead-leader__title__wrap--dark">
      <span class="cp__lead__supertitle">
        <a href="{{teaser.uniqueId | translate_url}}">
          {{teaser.teaserSupertitle}}
        </a>
      </span>
      <h1 class="cp__lead__title">
        <a href="{{teaser.uniqueId | translate_url}}">
          {{teaser.teaserTitle}}
        </a>
      </h1>
    <span class="cp__lead__subtitle">
      {{teaser.teaserText}}
    </span>
  </header>
</div>
