{#

Default teaser template for leader

Available attributes:
    teaser

#}

    {% set teaser_image_src = get_teaser_image(teaser_block, teaser) | translate_url -%}

<!-- TODO: repair images and links (as)-->
<div class="cp__lead-leader__wrap">

  <header class="cp__lead-leader__title__wrap">
      <span class="cp__lead__supertitle">
        <a href="#">{{teaser.teaserSupertitle}}</a>
      </span>
        <h1 class="cp__lead__title">
          <a href="#">{{teaser.teaserTitle}}</a>
        </h1>
        <span class="cp__lead__subtitle">
          <a href="#">{{teaser.teaserText}}</a> 
        </span>
    </header>

    <div class="cp__lead-full">
          <img alt="{{teaser.attr_alt}}" title="{{teaser.attr_title}}" class="figure__media" src="{{teaser_image_src}}" data-ratio="{{teaser.ratio}}">
  </div>

</div>
