{#

Default teaser template for image groups.

Available attributes:
    teaser
    teaser_block

#}
{% extends "templates/inc/teaser/teaser_default_default_default.html" -%}

{% block asset %}
{%- set image = get_teaser_image(teaser_block, teaser) %}
<!--[if gte IE 9]> -->
    <noscript data-ratio="{{image.ratio}}">
<!-- <![endif]-->
        <img alt="{{image.attr_alt}}" title="{{image.attr_title}}" class="figure__media teaser__default__image" src="{{image | default_image_url | default('http://placehold.it/160x90', true)}}" data-ratio="{{image.ratio}}">
<!--[if gte IE 9]> -->
    </noscript>
<!-- <![endif]-->
{% endblock %}
