{#

default teaser template for zmo-landscape-large-photo

Available attributes:
    teaser

#}

<div class='cp__buttons__large-photo__wrap'>
	{% block asset %}{% endblock %}
	<span class="cp__buttons__large-photo__title__wrap">
	    <span class="cp__buttons__large-photo__supertitle">
	    	<a href="{{teaser.uniqueId | translate_url}}">
	 		{{teaser.teaserSupertitle | hide_none}}
			</a>
		</span>
		<span class="cp__buttons__large-photo__title">
			<a href="{{teaser.uniqueId | translate_url}}">
				{{teaser.teaserTitle}}
	        </a>
		</span>
	    <span class="cp__buttons__large-photo__subtitle">
	      {{teaser.teaserText | hide_none}}
		</span>
	</span>
</div>

