{#

imagegroup teaser template for zmo-square-large

Available attributes:
    teaser

#}
{% import 'templates/macros/centerpage_macro.tpl' as cp with context%}
{% extends "templates/inc/teaser/teaser_zmo-square-large-light_default_default.html" -%}

{% block asset %}
{%- set image = get_teaser_image(teaser_block, teaser) %}

{{ cp.comments_count(view.teaser_get_commentcount(teaser.uniqueId)) }}
<a href="{{teaser.uniqueId | translate_url}}">
    <div class="scaled-image is-pixelperfect cp__lead-leader__image--light" data-wrap=".cp__lead-leader__wrap">
        <!--[if gte IE 9]> -->
            <noscript data-ratio="{{image.ratio}}">
        <!-- <![endif]-->
                <img alt="{{image.attr_alt}}" title="{{image.attr_title}}" src="{{image | default_image_url | default('http://placehold.it/160x90', true)}}" data-ratio="{{image.ratio}}">
        <!--[if gte IE 9]> -->
            </noscript>
        <!-- <![endif]-->
    </div>
</a>
{% endblock %}
