{#

teaser template for citation card

Available attributes:
    teaser_block
    teaser

#}
{%- extends "templates/inc/teaser/abstract/abstract_card_teaser_template.html" -%}
{%block card_class%}{% endblock %}
{%block bg_image%}{% endblock %}
{%block text_class%}{% endblock %}
{%block teaser_text%}{{teaser.teaserText}}{% endblock %}
{%block flip%}{% endblock %}
{%block read%}true{% endblock %}
{%block back%}{% endblock %}

{% block card_deck %}
<div class="card__deck">
    <div class="card" style="background-color: #{{teaser_block.background_color}};">
        <h2>
            <div class="card__title">{{teaser.teaserSupertitle}}</div>
        </h2>
        <div class="card__text">{{teaser.teaserText}}</div>
        <div class="card__author">{{teaser.teaserTitle}}</div>
        <a href="{{teaser | create_url}}" class="card__button">Lesen</a>
    </div>
</div>
{% endblock card_deck %}
