<span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="url" content="{{ request.route_url('home') }}campus/index">
    <meta itemprop="name" content="ZEIT Campus">
    <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="url" content="{{ request.asset_host }}/images/structured-data-publisher-logo-zco.png">
        <meta itemprop="width" content="347">
        <meta itemprop="height" content="60">
    </span>
</span>
