{% if toggles('tracking') and settings('c1_prefix') and view.c1_client %}
<script>
(function() {
    var sendClientRequest = function() {
        if ( typeof cre_client !== "undefined" ) {

            {# Error handling for #ZON-3807. C1 might see loggedin users as anonymous.
               This uses our jquery.notification styles. Because we dont want
               to expose the plugin to the world, we build the HTML manually here.
            #}
            {% if toggles('reader_revenue_handle_celeraone_login_inconsistency') %}
            if ( window.Zeit.view.hasOwnProperty( 'paywall' ) && window.Zeit.view.paywall ) {
                var ls = document.getElementById( 'login-state' ),
                    ssoId;
                if ( ls ) {
                    ssoId = ls.getAttribute( 'data-sso-id' );
                    if ( ssoId ) {
                        cre_client.addListener( function( e ) {
                            if ( e.data && e.data.user_status && e.data.user_status === 'anonymous' ) {
                                var header = document.querySelector( '.page__content > .header' ),
                                    notification = document.querySelector( 'div.notification' ),
                                    message = 'Es ist ein Fehler aufgetreten. Bitte melden Sie sich ab und versuchen Sie die Anmeldung danach erneut.',
                                    htmlString = '<div class="notification notification--error" tabindex="0">' + message + '</div>';
                                if ( notification ) {
                                    notification.className = 'notification notification--error';
                                    notification.innerHTML = message;
                                } else {
                                    if ( header && typeof( header ) === 'object' ) {
                                        header.insertAdjacentHTML( 'afterend', htmlString );
                                    } else if ( !header ) {
                                        document.querySelector( '.page__content' ).insertAdjacentHTML( 'afterbegin', htmlString );
                                    } else {
                                        return false;
                                    }
                                }
                            }
                        } );
                    }
                }
            }
            {% endif %}

            cre_client.set_page_view();
            {% for func, value in view.c1_client -%}
                cre_client.{{ func }}( {{ value | safe }} );
            {% endfor -%}
            cre_client.request();
        }
    };
    var head = document.getElementsByTagName('head')[0]
    var script = document.createElement( 'script' );
    var done = false;

    script.src = "{{ settings('c1_prefix') }}/tracking/tracking.js";
    {# Attach handlers for all browsers -#}
    script.onload = script.onreadystatechange = function() {
        if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) {
            done = true;
            sendClientRequest();
            script.onload = script.onreadystatechange = null;
            head.removeChild( script );
        };
    };
    head.appendChild( script );
})();
</script>
{% endif %}
