<script type="text/javascript">
    var clickCount = {
        webtrekk: function(id) {
            // webtrekk
            if (id !== undefined && typeof wt !== 'undefined' && typeof wt.sendinfo === 'function') {
                wt.sendinfo({
                    linkId: id + window.location.pathname
                });
            }
        },
        ga: function(id) {
            // google analytics
            if (typeof _gaq !== 'undefined') {
                _gaq.push(['_trackEvent', id + window.location.pathname, 'click']);
            }
        },
        ivw: function() {
            if (typeof iom !== 'undefined' && typeof iam_data !== 'undefined') {
                // ivw version 2
                iom.c(iam_data, 1);
            } else if ('IVW' in window) {
                // ivw version 1
                var img = document.createElement('img');
                img.src = window.IVW + '?r=' + escape(document.referrer) + '&amp;d=' + (Math.random() * 100000);
                img.width = 1;
                img.height = 1;
                img.className = 'visually-hidden';
            }
        },
        cc: function() {
            // cc tracking
            var img = document.createElement('img');
            img.src = 'http://cc.zeit.de/cc.gif?banner-channel={{ view.banner_channel }}&amp;r=' + escape(document.referrer) + '&amp;rand=' + Math.random() * 10000000000000000;
        },
        all: function(id) {
            // start all tracking functions
            if (id) {
                this.webtrekk(id);
                this.ga(id);
            }
            this.cc();
            this.ivw();
        }
    }
</script>
