<!-- ivw ver2 tracking -->
<!-- SZM VERSION="2" -->
<script type="text/javascript">
    var iam_data = {
            "st" : "", // dynamicallly set mobile|desktop
            "cp" : "{{ view.ressort if view.ressort else 'administratives' }}/{% if view.sub_ressort %}{{ view.sub_ressort }}/{% endif %}bild-text",
            "sv" : "i2", // 'mo' on mobile, see below
            "co" : "URL: /{{ request.traversed | join("/") }}"
        };

    if ( window.FBIA.isMobileView() ) {
        iam_data.st = "mobzeit";
        iam_data.sv = "mo";
    } else {
        iam_data.st = "zeitonl";
    }

    if ( typeof iom !== "undefined" && typeof iam_data !== "undefined" ) {
        iom.h( iam_data, 1 );
    }
</script>
