<script type="text/javascript" src="http://ad.yieldlab.net/yp/21752,21754,21759,21987?ts=1392992264"></script>
{# BEGIN Krux Control Tag for "IQ" #}
{# Source: /snippet/controltag?confid=Ip52Cnbc&site=IQ&edit=1 #}
<script class="kxct" data-id="Ip52Cnbc" data-timing="async" data-version="1.9" type="text/javascript">
    window.Krux||((Krux=function(){Krux.q.push(arguments)}).q=[]);
    (function(){
        var k=document.createElement('script');k.type='text/javascript';k.async=true;
        var m,src=(m=location.href.match(/\bkxsrc=([^&]+)/))&&decodeURIComponent(m[1]);
        k.src = /^https?:\/\/([^\/]+\.)?krxd\.net(:\d{1,5})?\//i.test(src) ? src : src === "disable" ? "" : (location.protocol==="https:"?"https:":"http:")+"//cdn.krxd.net/controltag?confid=Ip52Cnbc";
        var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(k,s);
    }());
</script>
{# END Krux Controltag #}
{# BEGIN Krux IQ #}
<script class="kxint" type="text/javascript">
    window.Krux||((Krux=function(){Krux.q.push(arguments);}).q=[]);
    (function(){
        var Krux = this.Krux.adaudience = this.Krux.adaudience || {};
        function retrieve(n){
            var m, k='kxadaudience_'+n;
            if (window.localStorage) {
                return window.localStorage[k] || "";
            } else if (navigator.cookieEnabled) {
                m = document.cookie.match(k+'=([^;]*)');
                return (m && unescape(m[1])) || "";
            } else {
                return '';
            }
        }
        Krux.user = retrieve('user');
        Krux.segments = retrieve('segs') ? retrieve('segs').split(',') : [];
        var dfpp = [];
        for(var i = 0; i < Krux.segments.length; i++) {
            dfpp.push(Krux.segments[i]);
        }
        Krux.dfppKeyValues = dfpp.length ? dfpp.join(',') + ';' : '';
        Krux.dfppKeyValues = 'ksg=' + Krux.dfppKeyValues;
    })();
</script>