<!-- gzip testing -->
<script>var gzipEnabled = false;</script>
<script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/prod.iqadcontroller.iqdigital/iqd_gzip_test.js.gz"></script>

<!-- adcontroller load -->
<script type="text/javascript">
    // edited version of the original iqd code
    // maybe this should be loaded via appending a script instead of doucment.write
    var iqd_mode = (function() {
            var dm = window.location.href.toLowerCase();
            return ZMO.isMobileView() ? 'live' : ((dm.indexOf('iqdeployment=')>1) ? dm.split('iqdeployment=')[1] : 'live');
        })(),
        // conditionalize output of gzip fileending, to prevent code replication
        gz_suffix = gzipEnabled ? '.gz' : '',
        // conditionalize output of cdn directory for mobile, to prevent code replication
        mob_suffix = ZMO.isMobileView() ? '_mob' : '';

    document.write('<scr' + 'ipt src="https://s3-eu-west-1.amazonaws.com/prod.iqadcontroller.iqdigital/cdn_zeit' + mob_suffix + '/' + iqd_mode + '/iqadcontroller.js' + gz_suffix + '"></scr' + 'ipt>');
</script>

<!-- mandanten object -->
<script type="text/javascript">
    AdController.setPageInfo({
        $handle: '{% if view.banner_type %}{{ view.banner_type }}{% endif %}',
        $autoSizeFrames: true,
        level2: '{% if view.ressort %}{{ view.ressort }}{% endif %}',
        level3: '{% if view.sub_ressort %}{{ view.sub_ressort }}{% endif %}',
        keywords: '{% if view.adwords %}{{ view.adwords|join(',') }}{% endif %}',
        tma: ''
    });
    AdController.initialize();
</script>