<!-- ivw ver2 tracking -->
<!-- SZM VERSION="2" -->
<script type="text/javascript">
    var Z_IVW_RESSORT = "{{ view.banner_channel }}";
    var IVW="http://zeitonl.ivwbox.de/cgi-bin/ivw/CP/{{ view.banner_channel }}";
    //set breakpoint for mobile tracking
    ivw_min_width = 767;

    var iam_data = {
        "st" : "",
        "cp" : "{% if view.ressort %}{{ view.ressort }}/{% endif %}{% if view.sub_ressort %}{{ view.sub_ressort }}/{% endif %}bild-text",
        "sv" : "ke",
        "co" : "URL: {{ request.path_info }}"
    };

    if( window.innerWidth >= ivw_min_width ){
    //desktop
        iam_data.st = "zeitonl";
    }else{
    //mobile
       iam_data.st = "mobzeit";
    }

    if ( typeof iom !== "undefined" && typeof iam_data !== "undefined" ) {
        iom.c( iam_data, 1 );
    }
</script>
