{# Because this subtemplate is included by the regular site and the frame builder, we need to check for both situations #}
{% if toggles('third_party_modules', 'tracking') or view.framebuilder_requires_ivw %}
<!-- ivw ver2 tracking -->
<!-- SZM VERSION="2" -->
<script type="text/javascript">
    var iam_data = {
            "st" : "zeitonl",
            "cp" : "{{ view.ivw_code }}",
            "sv" : "{% if view.is_hp %}ke{% else %}i2{% endif %}", // 'mo' on mobile, see below
            {% if view is framebuilder -%}
            "co" : "URL: " + window.location.host + window.location.pathname
            {%- else -%}
            "co" : "URL: {{ request.path_info }}"
            {%- endif -%}
        };

    {# in our Wrapper-Apps: always use the 'Angebotskennung' for the 'MEW' (mobile enabled website) -#}
    if ( window.Zeit.isMobileView() || window.Zeit.isWrapped ) {
        iam_data.st = "mobzeit";
        iam_data.sv = "mo";
    }

    if ( typeof iom !== "undefined" && typeof iam_data !== "undefined" ) {
        {% if view.is_hp %}
            if ( window.location.hash === '#overscroll-article') {
                if ("pushState" in history) {
                    history.replaceState("", document.title, window.location.pathname + window.location.search);
                } else {
                    window.location.hash = '';
                }
            } else {
                iom.h( iam_data, 1 );
            }
        {% else %}
            iom.h( iam_data, 1 );
        {% endif %}
    }
</script>
{% endif %}
