{% include "zeit.web.core:templates/inc/tracking/webtrekk_script.html" %}

<script>
    {# XXX: Please, only set variables in jinja where absolutely needed. #}

    {% set wt_kennung = view.webtrekk.identifier %}

    {% if view.framebuilder_requires_webtrekk %}
        var Z_WT_KENNUNG = "{{ wt_kennung }}|" + window.location.hostname + window.location.pathname;
    {% else %}
        var Z_WT_KENNUNG = "{{ wt_kennung + '|' + view.content_url.replace('http://', '') }}";
    {% endif %}

    var webtrekk = {
        linkTrack : "standard",
        heatmap : "0",
        linkTrackAttribute: "data-wt-click"
    };

    if ( typeof webtrekkV3 === "function" ) {
        var wt = new webtrekkV3(webtrekk);
        wt.cookie = "1";
        wt.contentGroup = {
            {% for key in view.webtrekk.contentGroup -%}
                {% if key == 'cg7' and view.framebuilder_requires_webtrekk -%}
                    7: window.location.pathname.split('/').pop()
                {%- else -%}
                    {{ key | replace('cg', '') | int }}: "{{ view.webtrekk.contentGroup[key] }}"
                {%- endif %}
                {%- if not loop.last %},{% endif %}

            {% endfor -%}
        };

        wt.customParameter = {
            {% for key in view.webtrekk.customParameter -%}
                {% if key == 'cp12' -%}
                    12: window.Zeit.getSiteParam("site")
                {%- elif key == 'cp13' -%}
                    13: window.Zeit.breakpoint.getTrackingBreakpoint()
                {%- else -%}
                    {{ key | replace('cp', '') | int }}: "{{ view.webtrekk.customParameter[key] }}"
                {%- endif %}
                {%- if not loop.last %},{% endif %}

            {% endfor -%}
        };

        {% if view.is_wrapped -%}
        wt.customSessionParameter = {
            1: window.Zeit.wrapped.client
        };
        {%- endif %}

        {% if view.newsletter_optin_tracking -%}
        wt.customEcommerceParameter = {
            8: '{{ view.newsletter_optin_tracking | format_webtrekk }}'
        };
        {%- endif %}

        var ls = document.getElementById('login-state'),
            ssoId;

        if (ls) {
            ssoId = ls.getAttribute('data-sso-id');
            if (ssoId) {
                wt.customerId = ssoId;
            }
        }

        if ( window.location.href.indexOf('/suche/') > -1 && typeof Z_WT_KENNUNG !== 'undefined' ) {
            if ( document.getElementById('search-area-has-hits') ) {
                Z_WT_KENNUNG = Z_WT_KENNUNG.replace('/index', '/treffer');
            } else {
                Z_WT_KENNUNG = Z_WT_KENNUNG.replace('/index', '/keine_treffer');
            }
        }

        wt.contentId = Z_WT_KENNUNG;
        wt.sendinfo();
    }
</script>
<noscript>
    <div>
        <img alt="" width="1" height="1" src="{{ "%s,%s,0,0,0,0,0,0,0,0" | format(
            "http://zeit01.webtrekk.net/981949533494636/wt.pl?p=328",
            wt_kennung ~ ('|' | urlencode) ~ view.content_url.replace('http://', '')
        ) }}&amp;
        {{- view.webtrekk.contentGroup | urlencode -}}&amp;
        {{- view.webtrekk.customParameter | urlencode -}}" />
    </div>
</noscript>
