{% include "zeit.web.core:templates/inc/tracking/webtrekk_script.html" %}
<script type="text/javascript">
    {# XXX: Please, only set variables in jinja where absolutely needed. #}

    {% set wt_kennung = view.webtrekk.identifier %}

    var Z_WT_KENNUNG = "{{ wt_kennung + '|' + view.content_url.replace('http://', '') }}";

    var webtrekk = {
        linkTrack : "standard",
        heatmap : "0",
        linkTrackAttribute: "data-wt-click"
    };

    if ( typeof webtrekkV3 === "function" ) {
        var wt = new webtrekkV3(webtrekk);
        wt.cookie = "1";
        wt.contentGroup = {
            {% for key in view.webtrekk.contentGroup -%}
                {{ key | replace('cg', '') | int }}: "{{ view.webtrekk.contentGroup[key] }}"
                {%- if not loop.last %},{% endif %}

            {% endfor -%}
        };

        wt.customParameter = {
            {% for key in view.webtrekk.customParameter -%}
                {% if key == 'cp12' -%}
                    12: window.FBIA.getSiteParam()
                {%- elif key == 'cp13' -%}
                    13: window.FBIA.getTrackingBreakpointAlike()
                {%- else -%}
                    {{ key | replace('cp', '') | int }}: "{{ view.webtrekk.customParameter[key] }}"
                {%- endif %}
                {%- if not loop.last %},{% endif %}

            {% endfor -%}
        };

        wt.contentId = Z_WT_KENNUNG;
        wt.sendinfo();
    }
</script>
