{% include "zeit.web.core:templates/inc/tracking/webtrekk_script.html" %}

<script>

    if (typeof window.webtrekkConfig === 'object') {
        window.webtrekkConfig.trackId = "{{ settings('webtrekk_id') }}";
    }

    var webtrekk = {
        linkTrack : "standard",
        heatmap : "0",
        linkTrackAttribute: "data-wt-click"
    };

    if ( typeof webtrekkV3 === "function" ) {
        var wt = new webtrekkV3(webtrekk);
        wt.cookie = "1";
        wt.contentGroup = {
            {% for key in view.webtrekk.contentGroup -%}
                {% if key == 'cg7' and view is framebuilder -%}
                    7: window.location.pathname.split('/').pop()
                {%- else -%}
                    {{ key | replace('cg', '') | int }}: "{{ view.webtrekk.contentGroup[key] }}"
                {%- endif %}
                {%- if not loop.last %},{% endif %}

            {% endfor -%}
        };

        wt.customParameter = {
            {% for key in view.webtrekk.customParameter -%}
                {% if key == 'cp12' -%}
                    12: window.Zeit.getSiteParam()
                {%- elif key == 'cp13' -%}
                    13: window.Zeit.breakpoint.getTrackingBreakpoint()
                {%- else -%}
                    {{ key | replace('cp', '') | int }}: "{{ view.webtrekk.customParameter[key] }}"
                {%- endif %}
                {%- if not loop.last %},{% endif %}

            {% endfor -%}
        };

        {% if view.is_wrapped -%}
        wt.customSessionParameter = {
            1: window.Zeit.wrapped.client
        };
        {%- endif %}

        {% if view.newsletter_optin_tracking -%}
        wt.customEcommerceParameter = {
            8: '{{ view.newsletter_optin_tracking | format_webtrekk }}'
        };
        {%- endif %}

        var ls = document.getElementById('login-state'),
            ssoCp = 'nicht_angemeldet',
            ssoId, ssoUrl;

        if (ls) {
            ssoId = ls.getAttribute('data-sso-id');
            ssoUrl = ls.getAttribute('data-sso-url');
            if (ssoId) {
                wt.customerId = ssoId;
                ssoCp = 'angemeldet';
                if (ssoUrl) {
                    ssoCp = ssoCp + '|' + ssoUrl;
                }
            }
        }

        wt.customParameter[23] = ssoCp;

        {% if view is framebuilder -%}
            wt.contentId = "{{ view.webtrekk_identifier }}|" + window.location.hostname + window.location.pathname;
        {% else -%}
            wt.contentId = "{{ view.webtrekk_content_id }}";
        {% endif -%}
        wt.sendinfo();
    }
</script>
