<noscript>
    <div>
        <img alt="" width="1" height="1" src="{{ "http://zeit01.webtrekk.net/%s/wt.pl?p=%s,%s,0,0,0,0,0,0,0,0" | format(
            settings('webtrekk_id'),
            settings('webtrekk_version', 3).replace('.', ''),
            request.GET.get('content_id') | urlencode
        ) }}&amp;
        {{- request.GET.get('content_group') -}}&amp;
        {{- request.GET.get('custom_parameter') -}}&amp;
        {#- Add login parameter -#}
        cp23={{ request | webtrekk_sso_parameter }}&amp;
        {#- Add SSO user ID -#}
        cd={{ request.user.ssoid }}" />
    </div>
</noscript>
