<noscript>
    <div>
        <img alt="" width="1" height="1" src="{{ "%s?p=%s,%s,0,0,0,0,0,0,0,0" | format(
            "http://zeit01.webtrekk.net/981949533494636/wt.pl",
            settings('webtrekk_version', 3).replace('.', ''),
            request.GET.get('wt_kennung') ~ ('|' | urlencode) ~ request.GET.get('content_url').replace('http://', '')
        ) }}&amp;
        {{- request.GET.get('content_group') -}}&amp;
        {{- request.GET.get('custom_parameter') -}}" />
    </div>
</noscript>
