{# XXX: Please, only set variables in jinja where absolutely needed. #}

{% set serie = view.serie | replace(' ', '') | lower %}

{% if view.is_breaking or view.is_push_news -%}
    {% set push = 'wichtigenachrichten.push' if view.is_push_news else 'eilmeldung.push' %}
{% else %}
    {% set push = '' -%}
{% endif -%}

{% if view.date_first_released -%}
    {% set date = view.date_first_released | format_date('short_num') -%}
{% else %}
    {% set date = '' -%}
{% endif -%}

{% if view.pagination -%}
    {% set pagination = view.pagination.current ~'/'~ view.pagination.total -%}
{% else %}
    {% set pagination = '1/1' -%}
{% endif -%}

{# https://sites.google.com/a/apps.zeit.de/verpixelungskonzept-zeit-online/webtrekk#TOC-Struktur-der-Content-IDs #}
{% set wt_kennung = 'redaktion.' + view.ressort | lower + '.' + view.sub_ressort | lower + '.' + serie + '.' + view.type | lower + '.' + view.product_id | lower + '|' + view.content_url.replace('http://', '') %}

{% set ivw_code = '%s%sbild-text' | format(view.ressort | lower + '/' if view.ressort, view.sub_ressort | lower + '/' if view.sub_ressort) %}

<amp-pixel src="{{ "%s,%s,0,0,0,0,0,0,0,0&cg1=%s&cg2=%s&cg3=%s&cg4=%s&cg5=%s&cg6=%s&cg7=%s&cg8=%s&cg9=%s" | format(
    "https://zeit01.webtrekk.net/981949533494636/wt.pl?p=328",
    wt_kennung,
    "redaktion",
    view.tracking_type | lower,
    view.ressort | lower,
    view.product_id | lower,
    view.sub_ressort | lower,
    serie,
    request.path_info | substring_from('/'),
    view.banner_channel | lower,
    date)
}}{{ "&cp1=%s&cp2=%s&cp3=%s&cp4=%s&cp5=%s&cp6=%s&cp7=%s&cp8=%s&cp9=%s&cp10=%s&cp11=%s&cp12=%s&cp13=%s&cp15=%s&cp25=%s" | format(
    view.authors_list | lower,
    ivw_code,
    pagination,
    view.meta_keywords | join(';') | lower,
    view.date_last_modified,
    view.text_length,
    view.news_source | lower,
    view.product_id | lower,
    view.banner_channel | lower,
    "",
    "",
    "mobile.site",
    "mobile",
    push,
    "amp")
}}"></amp-pixel>
