{% include "zeit.web.core:templates/inc/tracking/webtrekk_script.html" %}

<script>

    if (typeof window.webtrekkConfig === 'object') {
        window.webtrekkConfig.trackId = "{{ settings('webtrekk_id') }}";
    }

    var webtrekk = {
        linkTrack : "standard",
        linkTrackAttribute: "data-wt-click"
    };

    if ( typeof webtrekkV3 === "function" ) {
        var wt = new webtrekkV3(webtrekk);
        wt.cookie = "1";
        wt.contentGroup = {
            {% for key in view.webtrekk.contentGroup -%}
                {{ key | replace('cg', '') | int }}: "{{ view.webtrekk.contentGroup[key] }}"
                {%- if not loop.last %},{% endif %}

            {% endfor -%}
        };

        wt.customParameter = {
            {% for key in view.webtrekk.customParameter -%}
                {% if key == 'cp12' -%}
                    12: window.FBIA.getSiteParam()
                {%- elif key == 'cp13' -%}
                    13: window.FBIA.getTrackingBreakpointAlike()
                {%- else -%}
                    {{ key | replace('cp', '') | int }}: "{{ view.webtrekk.customParameter[key] }}"
                {%- endif %}
                {%- if not loop.last %},{% endif %}

            {% endfor -%}
        };

        wt.contentId = "{{ view.webtrekk_content_id | replace('fbia.zeit.de', 'www.zeit.de') }}";
        wt.sendinfo();
    }
</script>
