<p>{{ view.subtitle}}</p>

{% require image = get_image(view.header_module, variant_id='wide', fallback=False) %}
    {% set image_width = 1440 %}
    {% set image_height = (image_width / image.ratio) | round | int %}
    <p>
        {# XXX: Remove as soon as we have SSL #}
        <img src="{{ (request.image_host | replace('http://', 'https://')) + image.path }}__{{ image_width }}x{{ image_height }}" alt="{{ image.alt }}" title="{{ image.caption }}"/>
        {{ image.caption }}
    </p>
{% endrequire %}

{# Videos are explicitly excluded, because they are not part of the deal with Yahoo! #}

{% for page in view.pages %}
    {% set page_loop = loop %}
    {%- for block in page -%}
        {% include "zeit.web.site:templates/yahoofeed/blocks/{}.html".format(block | block_type) ignore missing %}
    {%- endfor -%}
{% endfor %}
