.comment-section
	margin: 0 (-$page-padding)
	+respond-min($break-tablet-min)
		border-top: 1px solid $color-border
	&__item
		margin-left: auto
		margin-right: auto
		padding: 0 $page-padding
		+respond-min($break-tablet-min)
			max-width: remify(700px) // 660px + 2*$page-padding
	&__note
		background-color: $comment-color-head-background
		color: $comment-color-head-color
		padding-bottom: em(16px)
		padding-top: em(16px)
	&__head
		background-color: $comment-color-head-background
		color: $comment-color-head-color
		padding-bottom: em(32px)
		padding-top: em(32px)
		text-align: center
		+respond-min($break-phablet-min)
			+clearfix
			text-align: inherit
	&__message
		color: $color-text-highlighted
	&__notice
		+default-article-textlink($color: $comment-color-notice)
		color: $comment-color-notice
		&:before
			@extend %exclamation
	&__note + &__form
		border-top: 0
	&__head &__message
		clear: both
		padding-top: em(32px)
		text-align: left
	&__headline
		display: block
		font-weight: bold
		margin-bottom: .5em
		+respond-min($break-phablet-min)
			float: left
			margin-bottom: 0
		small
			color: $comment-color-header-sub
			display: block
			font-size: remify(12px)
			font-weight: normal
			letter-spacing: $letter-spacing-m
	&__form
		border-top: 1px solid $color-border

		.comment-section__notice,
		.comment-form__cancel--hidden
			display: none

.no-js .comment-section__link-autoupdate
	display: none
