{% import 'zeit.web.core:templates/macros/layout_macro.tpl' as lama %}

<aside class="gate article__item article__item--rimless" data-ct-area="gate" data-ct-row="{{ view.paywall }}"  data-ct-column="false">
    <a id="comments"></a> {# fake target for missing comments anchor #}
    {% block gate_icon -%}
        {{ lama.use_svg_icon('zplus', 'gate__icon', 'zeit.web.site', a11y=False) }}
    {% endblock -%}
    <h3 class="gate__title">
        {%- block gate_title -%}
            Wählen Sie Ihren Zugang und lesen Sie direkt weiter.
        {%- endblock -%}
    </h3>
    <form action="{{ settings('paywall_premium_product_digitalonly', 'https://premium.zeit.de') }}" class="gate__form" data-ct-column="digital" data-ct-subcolumn="false">
        <div class="gate__offer">
            <input class="gate__option" id="gate-option-1" type="radio" name="angebot" value="{{ settings('paywall_premium_product_digitalonly', 'https://premium.zeit.de') }}" checked="checked"
                onchange="this.form.action=this.value; this.form.setAttribute('data-ct-column', 'digital');">
            <label for="gate-option-1" class="gate__label">
                Digital-Zugang
            </label>
            <ul class="gate__list">
                <li class="gate__list-item">Alle Artikel auf ZEIT ONLINE frei</li>
                <li class="gate__list-item">DIE ZEIT als App, E-Paper und auf dem E-Reader</li>
                <li class="gate__list-item"><strong>4 Wochen kostenlos testen</strong></li>
            </ul>
        </div>
        <div class="gate__offer">
            <input class="gate__option" id="gate-option-2" type="radio" name="angebot" value="{{ settings('paywall_premium_product_digitalandprint', 'https://premium.zeit.de') }}"
                onchange="this.form.action=this.value; this.form.setAttribute('data-ct-column', 'digital+print');">
            <label for="gate-option-2" class="gate__label">
                Digital-Zugang für <span class="nowrap">ZEIT-Abonnenten</span>
            </label>
            <ul class="gate__list">
                <li class="gate__list-item">Alle Artikel auf ZEIT ONLINE frei</li>
                <li class="gate__list-item">DIE ZEIT als App, E-Paper und auf dem E-Reader</li>
                <li class="gate__list-item">Ergänzend zu Ihrem Print-Abonnement</li>
                <li class="gate__list-item"><strong>4 Wochen kostenlos testen</strong></li>
            </ul>
        </div>
        <div class="gate__actions">
            <input type="hidden" name="entry_service" value="schranke-paid">
            <input type="hidden" name="url" value="{{ '%s?url=%s' | format(settings('paywall_premium_redirect'), '%s#success-registration' | format(view.content_url) | urlquote_plus) }}">
            <input type="hidden" name="wt_zmc" value="fix.int.zonaudev.diezeit.wall_abo.premium.bar_{{ view.paywall }}.link.{{ view.product_id | lower }}">
            <input type="hidden" name="utm_medium" value="fix">
            <input type="hidden" name="utm_source" value="diezeit_zonaudev_int">
            <input type="hidden" name="utm_campaign" value="wall_abo">
            <input type="hidden" name="utm_content" value="premium_bar_{{ view.paywall }}_link_{{ view.product_id | lower }}">
            <input class="gate__button" type="submit" value="zur Bestellung" data-ct-label="button">
        </div>
    </form>

    {% block gate_link -%}
        <p class="gate__note">
            Sie sind bereits Digital-Abonnent?
            <a href="{{ request.registry.settings.sso_url }}/anmelden?url={{ view.content_url | e }}%23success-registration&entry_service=schranke-paid" class="gate__link">
                Hier anmelden
            </a>
        </p>
    {%- endblock %}
</aside>
