{% import 'zeit.web.core:templates/macros/layout_macro.tpl' as lama %}

{% set blockname = 'storystream-headerimage' %}
<header class="{{ blockname }}">
    {# get the image directy from the supplied image group #}
    {% require image = get_image(module, variant_id='cinema', fallback=True) %}
        {# we need to explecitly pass the layout aka block class name #}
        {% set module_layout = blockname %}
        {% include "zeit.web.site:templates/inc/storystream/asset/headerimage_image.tpl" %}
    {% endrequire %}

    <div class="{{ blockname }}__wrapper">
        <div class="{{ blockname }}__container">
            <div class="{{ blockname }}__content">
                <span class="{{ blockname }}__kicker">
                    <span class="{{ blockname }}__kicker-label">Live-Dossier</span>
                    <span class="{{ blockname }}__kicker-text">{{ module.supertitle }}</span>
                </span>
                <h1 class="{{ blockname }}__title">{{ module.title }}</h1>
                <time datetime="{{ view.date_first_released | format_date('iso8601') }}"></time>
                {% if view.date_last_modified %}
                    <span class="{{ blockname }}__update">
                        {{ lama.use_svg_icon('storystream-updated', 'storystream-headerimage__updateicon', view.package, a11y=False) }}
                        Zuletzt aktualisiert am
                        <time class="{{ blockname }}__date" datetime="{{ view.date_last_modified | format_date('iso8601') }}">
                            {{- view.date_last_modified | format_date('short') -}}
                        </time>
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
</header>

{% include 'zeit.web.site:templates/inc/storystream/meta/sharing.tpl' %}
{% include 'zeit.web.site:templates/inc/storystream/meta/summary.tpl' %}
