{% extends 'zeit.web.campus:templates/inc/article-header/default.html' %}

{% block article_header %}
    {% set image = get_column_image(view.context, 'portrait') -%}
    {% set modifier = '%s-%s' | format(view.article_layout, 'with-image' if image else 'no-image') -%}
    <div class="{{ 'article-header' | with_mods(view.article_layout, modifier) }}">
        {% if image -%}
        <div class="article-header__column-image">
            {%- include "zeit.web.campus:templates/inc/article/header-image.html" -%}
        </div>
        {% endif -%}

        <div class="article-header__column-wrap">
            <div class="article-header__column-info">
                {{ self.article_headline() }}
                <div class="article-header__column-details">
                    {{ self.article_byline() }}
                    {{ self.article_metadata() }}
                </div>
            </div>
            {{ self.article_topic() }}
        </div>
    </div>
{% endblock %}
