{% if view.pagination and view.pagination.current > 1 -%}
    {% block article_page_header -%}
    <div class="{{ 'page-header' | with_mods(view.article_layout) }} article__item">
        {% set headertag = 'div' if view.current_page.teaser else 'h1' -%}
        <{{ headertag }} class="{{ 'page-header__headline' | with_mods(view.article_layout) }}" itemprop="headline">
            <span class="{{ 'page-header__kicker' | with_mods(view.article_layout) }}">
                {{- view.supertitle -}}
            </span>
            {%- if view.title %}<span class="visually-hidden">: </span>{% endif -%}
            <span class="{{ 'page-header__title' | with_mods(view.article_layout) }}">
                {{- view.title -}}
            </span>
        </{{ headertag }}>
        <div class="page-header__page-headline">
            Seite {{ view.pagination.current }}/{{ view.pagination.total }}
            {%- if view.current_page.teaser -%}
                : <h1 class="page-header__page-title">{{ view.current_page.teaser }}</h1>
            {%- endif -%}
        </div>
    </div>
    {% endblock -%}
{% else -%}
    {% set image = get_image(content=view.main_image_block, variant_id='portrait', fallback=False) %}
    <div class="{{ 'article-header' | with_mods(view.article_layout, 'with-image' if image else 'no-image') }}">
    {% block article_header -%}
        {% block article_header_image -%}
            {% if image -%}
                <div class="article-header__default-image">
                    <div class="article-header__image">
                        {%- include "zeit.web.campus:templates/inc/article/header-image.html" -%}
                    </div>
                </div>
            {% endif -%}
        {% endblock -%}

        {% block article_headline -%}
            <h1 class="{{ 'article-header__headline' | with_mods(view.article_layout) }}" itemprop="headline">
                <span class="{{ 'article-header__kicker' | with_mods(view.article_layout) }}">
                    {{- view.supertitle -}}
                </span>
                {%- if view.title %}<span class="visually-hidden">: </span>{% endif -%}
                <span class="{{ 'article-header__title' | with_mods(view.article_layout) }}">
                    {{- view.title -}}
                </span>
            </h1>
        {% endblock -%}

        <div class="article-header__default-info">
        {% block article_topic-%}
            {% if view.topic_page and view.topic_label %}
            <a class="{{ 'article-header__topic' | with_mods(view.article_layout) }}" href="{{ view.topic_page.uniqueId | create_url }}">{{ view.topic_label }}</a>
            {% endif %}
        {% endblock -%}
        {% block article_byline -%}
            {% set byline = view.context | get_byline('main') -%}
            {% if byline | length -%}
            <div class="article-header__byline">
                {%- include 'zeit.web.core:templates/inc/meta/byline.html' -%}
            </div>
            {% endif -%}
        {% endblock -%}
        {% block article_metadata -%}
            <div class="article-header__metadata">
                {%- include "zeit.web.core:templates/inc/article/metadata.tpl" -%}
            </div>
        {% endblock -%}
        </div>
    {% endblock -%}
    </div>
{% endif %}
