{% extends 'zeit.web.campus:templates/inc/article-header/default.html' %}

{% block article_header %}
    {% set image = get_image(content=view.main_image_block, variant_id='wide', fallback=False) -%}
    {% set modifier = '%s-%s' | format(view.article_layout, 'with-image' if image else 'no-image') -%}
    <div class="{{ 'article-header' | with_mods(view.article_layout, modifier) }}">
        <div class="article-header__leserartikel-wrap">
            <div class="article-header__leserartikel-headline article__item">
                {{ self.article_topic() }}
                {{ self.article_headline() }}
            </div>
        </div>
        <div class="article-header__leserartikel-info article__item{% if image %} article__item--wide{% endif %}">
            {# this <div> just generates a flexbox item -#}
            <div>
                {{ self.article_byline() }}
                {{ self.article_metadata() }}
            </div>

            {% if image -%}
                <div class="article-header__leserartikel-image">
                    {%- include "zeit.web.campus:templates/inc/article/header-image.html" -%}
                </div>
            {% endif -%}
        </div>
    </div>
{% endblock %}
