{% if view.source_label %}
<span class="article__head__meta__source">
	{%- if view.source_url -%}
	<a href="{{ view.source_url }}">{{ view.source_label }}</a>
	{%- else -%}
	{{ view.source_label }}
	{%- endif -%}
	{%- if advertorial_byline %} {{ advertorial_byline }}{% endif -%}
</span>
{% endif %}
<time itemprop="datePublished" content="{{ view.date_last_modified | format_date('iso8601') }}" datetime="{{ view.date_last_modified | format_date('iso8601') }}" class="article__head__meta__date">
    {{- view.date_last_modified | format_date(view.show_date_format) -}}
</time>
