{#

This is the main template for the buzz module.

Available attributes:
    zeit.web.magazin.view_centerpage.Centerpage
#}
{% import 'zeit.web.magazin:templates/macros/layout_macro.tpl' as lama %}
{%- set captions = {'views': ('Meistgelesen', ['Keine Leser', '{} Leser', '{} Leser']),
                    'facebook': ('Auf Facebook', ['Keine Empfehlungen', '{} Empfehlung', '{} Empfehlungen']),
                    'comments': ('Kommentiert', ['Keine Kommentare', '{} Kommentar', '{} Kommentare'])} -%}

<div class="cp_buzz">
    <div class="cp_buzz__divider">
        <span class="cp_buzz__header">Beliebt und angesagt</span>
    </div>
    {% for service, articles in view.area_buzz %}
    <div class="cp_buzz__service">
        <div class="cp_buzz__header">
            {{ lama.use_svg_icon('buzz-%s' | format(service), 'cp_buzz__icon', view.package) }}
            {{ captions[service][0] }}
        </div>
        <div class="cp_buzz__service__list">
            {% for article in articles %}
                <div class="cp_buzz__service__list__entry">
                    <p class="cp_buzz__service__list__entry__supertitle">
                        {{ article.supertitle }}
                    </p>
                    <p class="cp_buzz__service__list__entry__title">
                        <a href="{{ article.uniqueId | create_url }}">{{ article.teaserTitle or article.title }}</a>
                    </p>
                    {% if article.score %}
                    <p class="cp_buzz__service__list__entry__score">
                        {{ article.score | pluralize(*captions[service][1]) }}<br>
                    </p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <div class="cp_buzz__divider"></div>
</div>
