{#

This is the monothematic block template for the context type "centerpage".

Available attributes:
    zeit.web.magazin.view_centerpage.Centerpage
#}

{%- import 'zeit.web.magazin:templates/macros/centerpage_macro.tpl' as cp with context -%}

<div class="mtb__wrap" id="mtb">
    <div class="mtb__divider"></div>
    <div class="mtb">
        {% if view.monothematic_block.supertitle %}
        <div class="mtb__title">{{ view.monothematic_block.supertitle }}</div>
        {% endif %}
        {% if view.monothematic_block.teaserText %}
        <div class="mtb__subtitle">{{ view.monothematic_block.teaserText }}</div>
        {% endif %}
        <div class="mtb__teasers__wrap">
            {{ cp.include_module(view.monothematic_block.values()) }}
        </div>
    </div><!-- end: .mtb__wrap -->
</div>
