.header
    +padded
    background-color: $primary-color
    color: #fff
    line-height: remify(50px)

    &__logo
        color: #fff
        height: $logo-height
        vertical-align: middle
        width: $logo-width
