{% import 'zeit.web.campus:templates/macros/layout_macro.tpl' as lama %}
{% if toggles('campus_toolbox') -%}
<aside class="nav-flyout" data-ct-row="2" data-ct-column="5">
    <ul class="nav-flyout__list">
        {% for link in view.toolbox %}
            <li class="nav-flyout__item">
                <a href="{{ link.href }}" class="nav-flyout__link">
                    <p class="nav-flyout__headline">{{ link.title_flyout }}</p>
                    <p class="nav-flyout__text">{{ link.cta_flyout }} {{ lama.use_svg_icon('arrow-right', 'nav-flyout__arrow', view.package) }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="nav-flyout__footer">
        <a href="{{ view.toolbox.footer_link }}" class="nav-flyout__footer-link nav-flyout__footer-link--multiple">{{ view.toolbox.footer_text }} {{ lama.use_svg_icon('arrow-right', 'nav-flyout__arrow', view.package) }}</a>
        <a href="{{ view.toolbox.footer_link2 }}" class="nav-flyout__footer-link nav-flyout__footer-link--multiple">{{ view.toolbox.footer_text2 }} {{ lama.use_svg_icon('arrow-right', 'nav-flyout__arrow', view.package) }}</a>
    </div>
</aside>
{% else %}
<aside class="nav-flyout" data-ct-row="2" data-ct-column="5">
    <ul class="nav-flyout__list">
        {% for link in view.toolbox %}
            <li class="nav-flyout__item">
                <a href="{{ link.href }}" class="nav-flyout__link">
                    <p class="nav-flyout__headline">{{ link.title_flyout }}</p>
                    <p class="nav-flyout__text">{{ link.cta_flyout }} {{ lama.use_svg_icon('arrow-right', 'nav-flyout__arrow', view.package) }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ view.toolbox.footer_link }}" class="nav-flyout__footer-link">{{ view.toolbox.footer_text }} {{ lama.use_svg_icon('arrow-right', 'nav-flyout__arrow', view.package) }}</a>
</aside>
{% endif %}
