{% import 'zeit.web.campus:templates/macros/layout_macro.tpl' as lama %}

<aside class="nav-flyout">
	<ul class="nav-flyout__list">
		<li class="nav-flyout__item">
			<a href="http://studiengaenge.zeit.de/sit" class="nav-flyout__link" title="Studium-Interessentest" data-id="campus-topnav.2.5.1.studium interessentest">
				<h2 class="nav-flyout__headline">Studium-Interessentest</h2>
				<p class="nav-flyout__text">Test starten {{ lama.use_svg_icon('arrow-right', 'nav-flyout__arrow', view.package) }}</p>
			</a>
		</li>
		<li class="nav-flyout__item">
			<a href="http://studiengaenge.zeit.de" class="nav-flyout__link" title="Suchmaschine für Studiengänge" data-id="campus-topnav.2.5.2.suchmaschine für studiengänge">
				<h2 class="nav-flyout__headline">Suchmaschine für Studiengänge</h2>
				<p class="nav-flyout__text">Zur Suche {{ lama.use_svg_icon('arrow-right', 'nav-flyout__arrow', view.package) }}</p>
			</a>
		</li>
		<li class="nav-flyout__item">
			<a href="http://ranking.zeit.de/che2016/de/" class="nav-flyout__link" title="CHE Hochschulranking" data-id="campus-topnav.2.5.3.che hochschulranking">
				<h2 class="nav-flyout__headline">CHE Hochschulranking</h2>
				<p class="nav-flyout__text">Alle Ergebnisse {{ lama.use_svg_icon('arrow-right', 'nav-flyout__arrow', view.package) }}</p>
			</a>
		</li>
	</ul>
	<a href="http://studienfuehrer-test.zeit.de/artikel/was-soll-ich-studieren.html" class="nav-flyout__sit-link" data-id="campus-topnav.2.5..was soll ich studieren">Was soll ich studieren? {{ lama.use_svg_icon('arrow-right', 'nav-flyout__arrow', view.package) }}</a>
</aside>
