{% import "zeit.web.core:templates/macros/layout_macro.tpl" as lama %}
<div class="header__brand" data-ct-row="lead">
    <div class="header__publisher" id="publisher" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <a itemprop="url" href="{{ request.route_url('home') }}campus/index" data-ct-label="logo">
            <meta itemprop="name" content="ZEIT Campus">
            <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                {{ lama.use_svg_icon('logo-zco', 'header__logo', view.package) }}
                {# The "logo" dimensions must not exceed 600x60 -#}
                <meta itemprop="url" content="{{ request.asset_host }}/images/structured-data-publisher-logo-zco.png">
                <meta itemprop="width" content="347">
                <meta itemprop="height" content="60">
            </span>
        </a>
    </div>
    {% if view.is_advertorial -%}
    <span class="header__ad-label">{{ view.cap_title | default('Anzeige') }}</span>
    {% endif -%}
    <a class="header__menu-link" href="#navigation" role="button" aria-controls="navigation" aria-label="Menü" data-ct-label="menu">
        {{ lama.use_svg_icon('menu', 'header__menu-icon header__menu-icon--menu', view.package) }}
        {{ lama.use_svg_icon('close', 'header__menu-icon header__menu-icon--close', view.package) }}
    </a>
</div>

<div class="nav" id="navigation" data-ct-row="1">
    {% set vertical_campaign_param_long = 'zcampus' %}
    {% set vertical_campaign_param_short = 'zco' %}
    {% set vertical_campaign_param_abolink = '01w0012k0000keiaboall1805' %}
    {%- include "zeit.web.core:templates/inc/navigation/navigation-vertical.html" -%}
    <div class="nav__login" {% if view.framebuilder_loginstatus_disabled %} data-featuretoggle="disable-loginstatus"{% endif %}>
        {% block login %}
            {%- set esi_source = '{}login-state?for=campus&context-uri={}'.format(request.route_url('home'), request.url | urlquote_plus) -%}
            {{- lama.insert_esi(esi_source, 'Anmeldung nicht möglich') -}}
        {% endblock login %}
    </div>
    <div class="nav__primary" data-ct-row="2">
        <nav class="nav__topics">
            {% require topics = view.context | topic_links -%}
            <span class="nav__topics-title">Themen{#{ topics.title | default('Themen', True) }#}</span>
            <ul class="nav__topics-list">
            {% for label, link in topics %}
                <li><a href="{{ link }}">{{ label }}</a></li>
            {% endfor %}
            </ul>
            {% endrequire -%}
            <a class="nav__topics-link" href="{{ request.route_url('home') }}campus/themen">Alle Themen</a>
        </nav>
        <nav class="nav__tools">
            <p class="nav__tools-title"><a href="{{ view.flyoutnavi.footer_link }}" role="button" aria-controls="tools-menu" data-follow-mobile="true"
                {%- if toggles('campus_jobs_flyout_menu') -%} data-offside="true"{% endif %}><span class="nav__dropdown">
                {{- view.flyoutnavi.header_text | replace(' soll ich', '<span class="nav__tools-extra"> soll ich</span>' | safe) -}}
            </span></a></p>
            <ul class="nav__tools-list" data-ct-column>
                {% for link in view.flyoutnavi -%}
                <li><a href="{{ link.href }}">{{ link.title_flyout }}</a></li>
                {% endfor -%}
            </ul>
        </nav>
        {% if toggles('campus_jobs_flyout_menu') -%}
        <nav class="nav__tools">
            <p class="nav__tools-title"><a href="{{ view.jobmarket.footer_link }}" role="button" aria-controls="jobs-menu" data-follow-mobile="true"><span class="nav__dropdown">
                {{- view.jobmarket.header_text | replace(' passt zu mir', '<span class="nav__tools-extra"> passt zu mir</span>' | safe) -}}
            </span></a></p>
            <ul class="nav__tools-list" data-ct-column>
                {% for link in view.jobmarket -%}
                <li><a href="{{ link.href }}">{{ link.title_flyout }}</a></li>
                {% endfor -%}
            </ul>
        </nav>
        {% endif -%}
    </div>
</div>

<div class="header__flyout" id="tools-menu" aria-hidden="true">
    {%- include "zeit.web.campus:templates/inc/navigation/flyout.html" -%}
</div>

{% if toggles('campus_jobs_flyout_menu') %}
<div class="header__flyout" id="jobs-menu" aria-hidden="true">
    {%- include "zeit.web.campus:templates/inc/navigation/flyout-jobs.html" -%}
</div>
{% endif %}
