<!doctype html>
<html ⚡ lang="de">
<head>
	<meta charset="utf-8">
	<link rel="canonical" href="{{ view.content_url }}">
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	<style>body {opacity: 0}</style><noscript><style>body {opacity: 1}</style></noscript>
	<script async src="https://cdn.ampproject.org/v0.js"></script>
</head>

<body>
	Hello World!

{% for page in view.pages %}
	<section>
	{% if not loop.first %}
		<h3>{{ page.teaser }}</h3>
	{% endif %}
	{% for block in page %}
		{% include "zeit.web.core:templates/amp/blocks/{}.html".format( block | block_type ) ignore missing %}
	{% endfor %}
	</section>
{% endfor %}
</body>

</html>
