{% extends "{}:templates/layout.html".format(view.package) %}

{% block main %}
    {% for region_prev, region, region_next in view.regions | neighborhood %}
        {% set region_loop = loop %}
        {%- include ["zeit.web.core:templates/inc/region/{}.html".format(region.kind),
                     "{}:templates/inc/region/default.html".format(view.package),
                     "zeit.web.core:templates/inc/region/default.html"] -%}
    {% endfor %}

    {# listing of articles belonging to a series/topic for google carousel #}
    {% require jsonld_listing = view.jsonld_listing %}
        <script type="application/ld+json">{{ jsonld_listing | tojson | safe }}</script>
    {% endrequire %}

{% endblock main %}
