{% extends "{}:templates/layout.html".format(view.package) %}

{% block structured_data -%}
    {% include "zeit.web.core:templates/inc/structured-data/itemlist.html" %}
{% endblock structured_data -%}

{% block main %}
    {% for region_prev, region, region_next in view.regions | neighborhood %}
        {% set region_loop = loop %}
        {%- include ["zeit.web.core:templates/inc/region/{}.html".format(region.kind),
                     "{}:templates/inc/region/default.html".format(view.package),
                     "zeit.web.core:templates/inc/region/default.html"] -%}
    {% endfor %}
{% endblock main %}
