{% import 'zeit.web.core:templates/macros/layout_macro.tpl' as lama %}
<!DOCTYPE html>
<html lang="de" class="no-js">
<head>
    {% include "zeit.web.core:templates/inc/meta/basics.html" %}
    {% include "zeit.web.core:templates/inc/meta/dns-prefetch.html" %}

    <link rel="shortcut icon" sizes="16x16 32x32" href="{{ request.route_url('home') }}favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="{{ request.image_host }}/static/img/ZO-ipad-114x114.png">

    {% block css_link -%}
        <link href="{{ request.asset_host }}/css/web.site/screen.css" media="all" rel="stylesheet" type="text/css">
    {% endblock css_link -%}

    {% include "zeit.web.core:templates/inc/inline_js/library.html" %}
    {% include "zeit.web.core:templates/inc/meta/date.html" %}
    {% include "zeit.web.core:templates/inc/meta/sharing.html" %}
    {% include "zeit.web.core:templates/inc/meta/app-indexing.html" %}
    <script>{% include "zeit.web.core:templates/inc/inline_js/modernizr-replacement.js" %}</script>
    {% if toggles('modernizr_js_file') -%}
        <script src="{{ request.asset_host }}/js/vendor/modernizr-custom.js"></script>
    {% endif -%}

    {% block ligatus_include %}{% endblock -%}
    {% block schemaorg_data %}{% endblock -%}

    {% block head %}{% endblock -%}

    {% if toggles('third_party_modules') -%}
        <script src="https://script.ioam.de/iam.js"></script>
    {% endif -%}

    {% include "zeit.web.core:templates/inc/ads/head.html" -%}
    {% include "zeit.web.core:templates/inc/inline_js/rawr.tpl" -%}

    {% if settings('livereload') -%}
        <script src="//localhost:35729/livereload.js"></script>
    {% endif -%}

    {% include "zeit.web.core:templates/inc/cardstack/header.tpl" -%}
    {% block babator_include %}{% endblock %}

</head>
<body data-page-type="{{ view.type }}" data-is-hp="{{ view.is_hp | lower }}" data-unique-id="{{ view.context.uniqueId }}"
    {%- if view.no_overscrolling %} data-overscrolling="off"{% endif %}>
    {% block body %}{% endblock %}

</body>
</html>
