{% import 'zeit.web.core:templates/macros/layout_macro.tpl' as lama %}
<!DOCTYPE html>
<html lang="de" class="no-js">
<head>
    {% include "zeit.web.core:templates/inc/meta/basics.html" %}
    {%- include "zeit.web.core:templates/inc/meta/dns-prefetch.html" %}

    <link rel="shortcut icon" sizes="16x16 32x32" href="{{ request.route_url('home') }}favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="{{ request.image_host }}/static/img/ZO-ipad-114x114.png">

    {% if toggles('preload_webfonts') -%}
    {# ../latest/ for escaping the version number. Same is used in CSS. -#}
    <link rel="preload" href="{{ request.asset_host }}/../latest/fonts/tabletgothic/TabletGothic-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ request.asset_host }}/../latest/fonts/tabletgothic/TabletGothic-Bold.woff2" as="font" type="font/woff2" crossorigin>
    {% if not view.is_hp -%}
        <link rel="preload" href="{{ request.asset_host }}/../latest/fonts/franziska/FranziskaWebPro.woff" as="font" type="font/woff" crossorigin>
    {% endif -%}
    {% endif -%}

    {% block css_link %}{% endblock -%}

    {% include "zeit.web.core:templates/inc/meta/date.html" %}
    {% include "zeit.web.core:templates/inc/meta/sharing.html" %}
    {% include "zeit.web.core:templates/inc/meta/app-indexing.html" %}

    {% include [
        "{}:templates/inc/structured-data/organization.html".format(view.package),
        "zeit.web.core:templates/inc/structured-data/organization.html"] %}
    {% include "zeit.web.core:templates/inc/structured-data/webpage.html" %}
    {% include "zeit.web.core:templates/inc/structured-data/breadcrumblist.html" %}
    {% block structured_data %}{% endblock structured_data -%}

    {% include "zeit.web.core:templates/inc/inline_js/library.html" %}
    <script>{% include "zeit.web.core:templates/inc/inline_js/modernizr-replacement.js" %}</script>
    {% if toggles('modernizr_js_file') -%}
        <script src="{{ request.asset_host }}/js/vendor/modernizr-custom.js"></script>
    {% endif -%}

    {% block ligatus_include %}{% endblock -%}
    {% block schemaorg_data %}{% endblock -%}

    {% block head %}{% endblock -%}

    {% if toggles('third_party_modules') -%}
        <script src="https://script.ioam.de/iam.js"></script>
    {% endif -%}

    {% include "zeit.web.core:templates/inc/ads/head.html" -%}
    {% include "zeit.web.core:templates/inc/inline_js/rawr.tpl" -%}

    {% if settings('livereload') -%}
        <script src="//localhost:35729/livereload.js"></script>
    {% endif -%}

    {% include "zeit.web.core:templates/inc/cardstack/header.tpl" -%}
    {% block babator_include %}{% endblock %}

</head>
<body data-page-type="{{ view.type }}" data-is-hp="{{ view.is_hp | lower }}" data-unique-id="{{ view.context.uniqueId }}"
    {%- if view.no_overscrolling %} data-overscrolling="off"{% endif %}>
    {% include "zeit.web.core:templates/inc/tracking/webtrekk_googleoptimize.html" %}
    {% include "zeit.web.core:templates/inc/tag-manager.html" %}
    {% include "zeit.web.core:templates/inc/ads/static_oop-tag.html" %}
    {% include "zeit.web.core:templates/inc/tracking/ivw_ver2.html" %}
    {% block webtrekk_swiss %}{% endblock %}

    {% block skiplink -%}
        <a class="skiplink" href="#main" id="top" title="Direkt zum Inhalt springen">Inhalt</a>
    {% endblock skiplink -%}

    {% block body %}{% endblock %}

</body>
</html>
