{% import "zeit.web.site:templates/macros/layout_macro.tpl" as lama_site with context %}
{% extends "zeit.web.site:templates/layout.html" %}
{% block main %}
    <div class="main__fullwidth">
        <div class="beta-teaser">
            {% if view.status %}
            <div>
                <h4>POST result</h4>
                <ul>
                {% for status in view.status %}
                    <li>{{ status }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            <form method='POST'>
                <div>
                    <label>Kommentar:</label>
                    <textarea rows="5" cols="70" name='comment'></textarea>
                </div>
                <div>
                    <input id='path' type='text' name='path'/>
                    <label for='path'> für Pfad (z.B.: artikel/01)</label>
                </div>
                <div>
                    <input id='pid' type='text' name='pid'/>
                    <label for='pid'>Antwort auf (pid)</label>
                </div>
                <div>
                    <select id='action' name='action'>
                        <option value="comment">Kommentieren</option>
                        <option value="report">Bedenklich melden</option>
                        <option value="recommend">Empfehlen</option>
                    </select>
                    <label for='action'>Action</label>
                </div>
                <input type='submit'/>
            <form>
        </div>
    </div>
{% endblock main %}
