<?xml version="1.0" encoding="UTF-8"?>
{%- if request.GET.get('p', 0) | int >= 1 -%}
    {%- set page_view = True -%}
{%- endif -%}
{%- for region in view.regions -%}
    {%- for area in region.values() if 'ranking' in area.kind -%}
        {%- set layout = area.values() | first_child | get_layout -%}
        {%- if layout == 'sitemap-news' -%}
            {# newssitemap has no overview #}
            {%- set page_view = True -%}
        {%- endif -%}
        {%- if page_view -%}
            {%- include "zeit.web.core:templates/inc/sitemap/page.html" -%}
        {%- else -%}
            {%- include "zeit.web.core:templates/inc/sitemap/overview.html" -%}
        {%- endif -%}
    {%- endfor -%}
{%- endfor -%}
