<!doctype html>
<html ⚡ lang="de">
<head>
	<meta charset="utf-8">
	<link itemprop="mainEntityOfPage" rel="canonical" href="{{ view.content_url }}">
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	<style>body {opacity: 0}</style><noscript><style>body {opacity: 1}</style></noscript>
	{% block style %}
		{% include "zeit.web.core:templates/amp/style.html" %}
	{% endblock style %}
	<script async src="https://cdn.ampproject.org/v0.js"></script>
	<script async custom-element="amp-brightcove" src="https://cdn.ampproject.org/v0/amp-brightcove-0.1.js"></script>
	<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
</head>

<body>
	<div class="symbols">
		{% block symbols %}
			{% include "zeit.web.static:css/web.site/amp.svg" %}
		{% endblock symbols %}
	</div>

	<div class="content">
		<header class="header" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
			{% block logo %}
			<div class="article__item article__item--wide" itemprop="brand">
				<a itemprop="url" href="{{ request.route_url('home') }}">
					<meta itemprop="name" content="ZEIT ONLINE">
					<svg class="header__logo">
						<use xlink:href="#svg-logo-zon"/>
					</svg>
				</a>
			</div>
			{% endblock logo %}
		</header>

		{% block breaking_news %}
		{% endblock breaking_news %}

		<main itemprop="mainContentOfPage">
			{% block main %}
			<article class="article" itemscope itemtype="http://schema.org/Article">
				{% block article_main_image %}
					{% set block = view.main_image_block %}
					{% include "zeit.web.core:templates/amp/blocks/image.html" ignore missing %}
				{% endblock article_main_image %}
				<div class="article-header article__item">
					<h1 class="headline" itemprop="headline">
						<span class="headline__kicker">
							{% if view and view.context and view.context.serie and view.context.serie.column %}
								{{ view.serie }} /
							{% endif %}
							{{ view.supertitle }}
						</span>{%- if view.title -%}<span class="headline__colon">: </span>{%- endif -%}
						<span class="headline__title">
							{{ view.title }}
						</span>
					</h1>
					<div class="summary" itemprop="description">
						{{ view.subtitle }}
					</div>
					{%- set byline = view.context | get_byline %}
					{% if byline | length -%}
					<div class="byline" itemscope itemtype="http://schema.org/Person" itemprop="author">
						{% include 'zeit.web.site:templates/inc/meta/byline.tpl' %}
					</div>
					{% endif -%}
					<div class="metadata">
						{% include "zeit.web.core:templates/amp/article/metadata.tpl" %}
					</div>
				</div>

				{% block article_body %}
				<div class="article-body article-body--{{ view | block_type }}" itemprop="articleBody">
					{% block article_pages %}
						{% for page in view.pages %}
							<section>
							{% if not loop.first %}
								<h3 class="intertitle article__item">{{ page.teaser }}</h3>
							{% endif %}
							{% for block in page %}
								{% include "zeit.web.core:templates/amp/blocks/{}.html".format( block | block_type ) ignore missing %}
							{% endfor %}
							</section>
						{% endfor %}
					{% endblock article_pages %}
				</div>
				{% endblock article_body %}

			</article>
			{% endblock main %}
		</main>

		<footer class="footer">
			{% block footer_logo %}
				<a href="{{ request.route_url('home') }}">
					<svg class="footer__logo">
						<use xlink:href="#svg-logo-zon"/>
					</svg>
				</a>
			{% endblock footer_logo %}
			<nav class="footer__navigation">
				<ul>
					<li><a href="{{ request.route_url('home') }}impressum/index">Impressum</a></li>
					<li><a href="{{ request.route_url('home') }}hilfe/datenschutz">Datenschutz</a></li>
				</ul>
			</nav>
		</footer>

		{% include "zeit.web.core:templates/inc/tracking/webtrekk_amp.html" %}
		<amp-pixel src="//cc.zeit.de/cc.gif?banner-channel={{ view.banner_channel | urlencode -}}&amp;rand=$RANDOM"></amp-pixel>

	</div>
</body>

</html>
