@font-face {
  font-family: 'Franziska FF';
  src: url('/fonts/franziska/FranziskaFF-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/franziska/FranziskaFF-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/franziska/FranziskaFF-Regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/franziska/FranziskaFF-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/franziska/FranziskaFF-Regular.svg#1e4004a38162f3210e840229adeccb13') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Franziska FF SemiBold';
  src: url('/fonts/franziska/FranziskaFF-SemiBoldItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/franziska/FranziskaFF-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/franziska/FranziskaFF-SemiBoldItalic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/franziska/FranziskaFF-SemiBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/franziska/FranziskaFF-SemiBoldItalic.svg#ed250bde98d24904ec97793d556ff5c8') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Franziska FF SemiBold';
  src: url('/fonts/franziska/FranziskaFF-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/franziska/FranziskaFF-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/franziska/FranziskaFF-SemiBold.woff') format('woff'), /* Modern Browsers */
       url('/fonts/franziska/FranziskaFF-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/franziska/FranziskaFF-SemiBold.svg#f66ed05ceba62da9599ad6a99fdba7b0') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Franziska FF Bold';
  src: url('/fonts/franziska/FranziskaFF-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/franziska/FranziskaFF-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/franziska/FranziskaFF-Bold.woff') format('woff'), /* Modern Browsers */
       url('/fonts/franziska/FranziskaFF-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/franziska/FranziskaFF-Bold.svg#e4dd82d0e0d88802fafced586a081d9e') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Franziska FF Hair';
  src: url('/fonts/franziska/FranziskaFF-Hair.eot'); /* IE9 Compat Modes */
  src: url('/fonts/franziska/FranziskaFF-Hair.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/franziska/FranziskaFF-Hair.woff') format('woff'), /* Modern Browsers */
       url('/fonts/franziska/FranziskaFF-Hair.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/franziska/FranziskaFF-Hair.svg#3b6a3fff523889e1d8b57f03dee5f45d') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Franziska FF';
  src: url('/fonts/franziska/FranziskaFF-RegularItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/franziska/FranziskaFF-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/franziska/FranziskaFF-RegularItalic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/franziska/FranziskaFF-RegularItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/franziska/FranziskaFF-RegularItalic.svg#1988f59606636136cac29f612d82cb93') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Franziska FF Bold';
  src: url('/fonts/franziska/FranziskaFF-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/franziska/FranziskaFF-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/franziska/FranziskaFF-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/franziska/FranziskaFF-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/franziska/FranziskaFF-BoldItalic.svg#719b771e5d9f0e0083f54fe30a50d6b1') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  700;
}
