.supertitle, %supertitle
  +tablet(thin)
  text-transform: uppercase
  color: $red
  letter-spacing: 1px
  margin-bottom: $micro

.meta, %meta
  +tablet
  color: $grey

.subheading, %subheading
  +franziska(bold)

.headline, %headline
  +tablet
  line-height: $headline-line-height.quote, %quote
.quote, %quote
  +tablet(thin)
  &:before
    content: '»'
  &:after
    content: '«'

.quote--loud, %quote--loud
  @extend %quote
  +cassise(bold)