.supertitle, %supertitle
  +tablet
  text-transform: uppercase
  color: $red
  letter-spacing: 1px
  margin-bottom: $micro

.meta-link, %meta-link
  border-bottom: 2px solid $blue
  margin-left: $micro
  text-decoration: none
  &:link
    color: $blue
  &:hover
    color: #7fa7e1
    border-bottom: 2px solid #7fa7e1

.meta, %meta
  +tablet
  color: $grey
  letter-spacing: 1px
  text-transform: uppercase

.subheading, %subheading
  +franziska(semibold)

.headline, %headline
  +tablet(bold)
  line-height: $headline-line-height

.quote, %quote
  +tablet(thin)
  &:before
    content: '»'
  &:after
    content: '«'

.quote--loud, %quote--loud
  @extend %quote
  +cassise(bold)