.supertitle, %supertitle
  +tablet
  letter-spacing: 1px
  margin-bottom: $micro

.meta-link, %meta-link
  margin-left: $micro

.meta, %meta
  +tablet(bold)
  text-transform: uppercase

.figcaption, %figcaption
  +tablet
  color: $grey

.subheading, %subheading
  +tablet

.headline, %headline
  +tablet(bold)
  letter-spacing: 1px
  line-height: $headline-line-height

.quote, %quote
  +tablet()
  margin-left: 0

.quote__text
  display: block
  line-height: 1.4
  &:before
    content: '»'
    margin-right: 0.1em
  &:after
    content: '«'
    margin-left: 0.1em

.quote__author
  @extend %meta
  font-size: $font-s--px
  display: block
  margin-top: $thin
  &:before
    content: "\2014  "
  a
    @extend %meta-link

.quote--wide, %quote--wide
  @extend %quote
  +respond-min($break-1)
    margin-left: $small
    max-width: 80%
  +respond-min($break-2)
    max-width: 70%
  +respond-min($break-3)
    max-width: 50%
