=franziska
    font-family: "FranziskaWebPro", $serif-fallbacks

=tablet($weight: regular)
    font-family: "TabletGothic", $sans-fallbacks

    @if $weight == bold
        font-weight: bold
    @else if $weight == fat
        font-weight: 900
    @else if $weight == thin
        font-weight: 200
    @else
        font-weight: normal
