=franziska($weight: regular, $style: normal)
  line-height: $base-line-height
  @if $weight == hair
    font-family: 'Franziska FF Hair'
    font-weight: 400
  @else if $weight == regular
    font-family: 'Franziska FF'
    font-weight: 400
  @else if $weight == bold
    font-family: 'Franziska FF Bold'
    font-weight: 700
    line-height: $base-line-height*0.9
  @if $style == italic
    font-style: italic
  @else if $style == normal
    font-style: normal

=tablet($weight: regular)
  @if $weight == regular
    font-family: 'TabletGothic'
    font-weight: 400
  @else if $weight == bold
    font-family: 'TabletGothic-ExtraBold'
    font-weight: 400
    line-height: $base-line-height*0.8
  @else if $weight == thin
    font-family: 'TabletGothicCompressed-Thin'
    font-weight: 700
    line-height: $base-line-height*0.75
  font-weight: normal
  font-style: normal

.tablet
  +tablet(regular)

.tablet-thin
  +tablet(thin)

.tablet-bold
  +tablet(bold)

.franziska
  +franziska(regular, normal)

.franziska-italic
  +franziska(regular, italic)

.franziska-bold
  +franziska(bold, normal)

.franziska-bold-italic
  +franziska(bold, italic)

.franziska-hair
  +franziska(hair, normal)