.font-xs, %font-xs
  font-size: $font-xs

.font-s, %font-s
  font-size: $font-s

.font-ml, %font-ml
  font-size: $font-ml

.font-m, %font-m
  font-size: $font-m

.font-l, %font-l
  font-size: $font-l

.font-xl, %font-xl
  font-size: $font-xl

.font-l-xl, %font-l-xl
  font-size: $font-l
  +respond-min($break-2)
    font-size: $font-xl

.font-m-ml, %font-m-ml
  font-size: $font-m
  +respond-min($break-2)
    font-size: $font-ml

.font-m-l, %font-m-l
  font-size: $font-m
  +respond-min($break-2)
    font-size: $font-l

.font-ml-l, %font-ml-l
  font-size: $font-ml
  +respond-min($break-2)
    font-size: $font-l

.font-xs-s, %font-xs-s
  font-size: $font-xs
  +respond-min($break-2)
    font-size: $font-s

.font-s-m, %font-s-m
  font-size: $font-s
  +respond-min($break-2)
    font-size: $font-m