{% set image = get_image(module, fallback=False) %}
<aside class="nextread nextread--{{ 'with-image' if image else 'no-image' }}">
    <a class="nextread__link" title="{{ teaser.supertitle }}: {{ teaser.title }}" href="{{ teaser | create_url }}" data-vars-url="{{ teaser | create_url | substring_from('://') }}">
        <div class="nextread__lead article__item">{{ module.lead or 'Lesen Sie jetzt' }}</div>

        {% include "zeit.web.core:templates/amp/asset/image_nextread.html" %}

        <div class="nextread__container article__item">
            <h2 class="nextread__heading">
                <span class="nextread__kicker">{{ teaser.teaserSupertitle or teaser.supertitle }}</span>
                {%- if teaser.teaserSupertitle or teaser.supertitle %}<span class="visually-hidden">: </span>{% endif -%}
                <span class="nextread__title">{{ teaser.teaserTitle or teaser.title }}</span>
            </h2>
            <div class="nextread__metadata">
                {% set byline = teaser | get_byline %}
                {% if byline | length -%}
                <span class="nextread__byline">
                    {% include 'zeit.web.core:templates/inc/meta/byline.html' %}
                </span>
                {% endif -%}

                {% set time = teaser | release_date %}
                {% if time -%}
                <span class="nextread__date">
                    {{- time | format_timedelta(days=3, absolute=True) | title -}}
                </span>
                {% endif -%}

                {% set comments = view.comment_counts.get(teaser.uniqueId, 0) %}
                {% if comments and teaser.commentSectionEnable -%}
                <span class="nextread__commentcount">
                    {{- comments | pluralize('Keine Kommentare', '{} Kommentar', '{} Kommentare') -}}
                </span>
                {% endif -%}
            </div>
        </div>
    </a>
</aside>
