{% extends "zeit.web.core:templates/inc/comments/thread.html" %}

{% block comment_section_head %}

    <h3 class="visually-hidden">Kommentare</h3>
    <div class="comment-section__head">
        <div class="comment-section__head-container comment-section__item">
            {% if view.comment_area.show_comments %}
                <span class="comment-section__headline">
                    {{ view.comments.headline }}
                    {% if view.comments.pages.title %}
                        <small>{{ view.comments.pages.title }}</small>
                    {% endif %}
                </span>
                {% if view.comment_area.show_comment_form %}
                    {# TODO: taugt js-scroll was in Campus? #}
                    <a href="#comment-form" class="comment-section__button js-scroll">
                        Mitdiskutieren
                        {{ lama.use_svg_icon('arrow-right', 'comment-section__icon', request) }}
                    </a>
                {% endif %}
            {% elif view.comment_area.no_comments %}
                <span class="comment-section__headline">
                    <span class="nowrap">Noch keine Kommentare.</span>
                    <span class="nowrap">Diskutieren Sie mit.</span>
                </span>
            {% else %}
                <span class="comment-section__headline">
                    <span class="nowrap">Kommentare</span>
                </span>
            {% endif %}
        </div>
    </div>

    {# TODO: Was ist das? #}
    {% if view.comment_area.message  %}
        <div class="comment-section__message">
            {{ view.comment_area.message }}
        </div>
    {% endif %}

{% endblock %}


{% block comment_section_pagination %}
{# TODO: accessible (und wiederverwertbare?) Kommentar-Seiten-Navigation #}

{%- set pages = view.comments.pages %}
{%- if pages.pager %}
    {%- if view.comments.sort == 'asc' -%}
        {%- set prev_label = 'Ältere Kommentare' -%}
        {%- set next_label = 'Neuere Kommentare' -%}
    {%- else -%}
        {%- set prev_label = 'Neuere Kommentare' -%}
        {%- set next_label = 'Ältere Kommentare' -%}
    {%- endif -%}

<nav class="article-pagination article-pagination--default comment-section__item" aria-labeledby="comments-pagination-title">
    <h3 class="visually-hidden" id="comments-pagination-title">Kommentarseiten</h3>

    {% if pages.current == pages.total %}
        <a class="article-pagination__link" href="{{ view.request | append_get_params(url=view.content_url, page=pages.current-1, cid=None) }}#comments">
            <span class="article-pagination__button article-pagination__button--next">
                {{ prev_label }}
            </span>
        </a>
    {% else %}
        <a class="article-pagination__link" href="{{ view.request | append_get_params(url=view.content_url, page=pages.current+1, cid=None) }}#comments">
            <span class="article-pagination__button article-pagination__button--next">
                Weitere Kommentare
                {{ lama.use_svg_icon('arrow-right', 'article-pagination__icon', request) }}
            </span>
        </a>
    {% endif %}

        <ul class="pager__pages">
            {% for page in pages.pager %}
                <li class="article-pager__number{% if page == pages.current %} article-pager__number--current{% endif %}">
                    {%- if page == pages.current -%}
                        <span>{{ page }}</span>
                    {%- elif page -%}
                        <a href="{{ view.request | append_get_params(url=view.content_url, page=page, cid=None) }}#comments" data-id="article-pager....2_TODO">{{ page }}</a>
                    {%- else -%}
                        <span>…</span>
                    {%- endif -%}
                </li>
            {% endfor %}
        </ul>
    </nav>
{%- endif %}
{% endblock %}
