.footer
	+padded
	background-color: $primary-color
	color: #777
	padding-top: remify(20px)
	padding-bottom: remify(20px)
	+respond-min($break-tablet-min)
		padding-bottom: remify(40px)

	a
		color: inherit
		+on-interaction
			color: $nav-color-tools

	&__item
		+respond-min($break-desktop-min)
			max-width: $medium-content-width

	&__logo
		color: #777
		height: remify(20px)
		width: remify(113px)

	&__links
		border-bottom: 1px solid #444
		padding-bottom: remify(8px)
		padding-top: remify(4px)
		&:first-child
			padding-top: 0
		&:last-child
			border-bottom: none
			padding-bottom: 0

	&__linkitem,
	&__link
		font-size: remify(12px)
		letter-spacing: $letter-spacing-s
		line-height: 1.5
		padding-right: remify(15px)
		white-space: nowrap
		&:last-child
			padding-right: 0

	&__linkitem
		font-weight: 400
		text-transform: uppercase
