#iqd_mainAd
    margin-bottom: 0
#iqd_align_Ad
    max-width: $max-page-width
    margin: 0 auto
#iqd_topAd
    padding: 0
    position: relative
#iqd_rightAd
    position: absolute
    bottom: -600px
    left: $max-page-width
    +respond-max($max-page-width)
        display: none
