.nav-flyout
	background-color: $color-tools-primary
	margin-bottom: 1em

	&__headline
		@extend %font-beckett
		font-size: remify(28px)
		min-height: 2em // 2 lines
		line-height: 1
		margin: remify(0 0 9px)
		+respond-min($break-desktop-min)
			font-size: remify(42px)
			letter-spacing: .03em
			margin-bottom: remify(14px)

	&__text
		margin: 0

	&__item
		display: block
		margin: 0
		background-color: $white
		width: 32%
		+on-interaction
			+transform(translateY(-5px))
			box-shadow: 0px 11px 0px -6px rgba(0, 0, 0, .1)

	&__link
		color: $color-tools-secondary
		display: block
		font-weight: bold
		padding: remify(14px 10px 22px)
		+on-interaction
			color: $zco-charcoal
		+respond-min($break-desktop-min)
			padding: remify(21px 20px 22px)

	&__list
		+display-flex()
		+justify-content(space-between)
		list-style: none
		margin: 0
		padding: remify(20px)

	&__sit-link
		+font-smoothing
		background-color: rgba(0, 0, 0, .1)
		color: $white
		display: block
		font-size: remify(16px)
		font-weight: bold
		padding: remify(12px) 0
		text-align: center
		+on-interaction
			color: $white

	&__arrow
		height: remify(20px)
		width: remify(20px)
		margin-left: .2em
		vertical-align: text-bottom
