@import "../constants"

// ZAR-Specific colors, see https://app.zeplin.io/project/593a8568a97d09fb314fc3f3/styleguide
$zar-sun-yellow: #ffe52c
$zar-battleship-grey: #77777c
$zar-marigold: #ffc800
$zar-black: #252525
$zar-white: #d8d8d8
$zar-ocean-green: #3c9d6f
$zar-faded-red: #cc3a46
$zar-charcoal-grey: #44444c
$zar-darkish-pink: #e15561
$zar-cool-grey: #99999c

// assign colors
$color-body-bg: #dfdfdf
$color-body-text: $zar-black
$color-page-bg: $white
$color-text: $zar-black

// semantic color names
$primary-color: $zar-black

// font faces
$font-patronbold: "PatronBold", $sans-fallbacks !default

// content lengths
$max-page-width: remify(1000px)
