<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Organization",
    "@id": "#publisher",
    "name": "ZEITmagazin",
    "url": "{{ request.route_url('home') }}zeit-magazin/index",
    "logo": {
        "@type": "ImageObject",
        "url": "{{ request.asset_host }}/images/structured-data-publisher-logo-zmo.png",
        "width": 600,
        "height": 56
    },
    "sameAs": [
        "https://www.facebook.com/zeitmagazin/",
        "https://www.instagram.com/zeitmagazin/",
        "https://twitter.com/zeitmagazin"
    ]
}
</script>
