{% extends "zeit.web.core:templates/inc/area/default.html" %}
{% block after_module_include %}
    {# new adplace on zco cps after second teaser #}
    {% if (region_loop.index == 2) %}
        {% if  (view.is_hp and area_loop.first) or (not view.is_hp and (area_loop.index == 2 or area_loop.last))  %}
            {% include "zeit.web.core:templates/inc/ads/places/mobile/place3.html" %}
        {% endif %}
    {% endif %}
    {% if view.is_hp and region_loop.index == 5 and area_loop.first %}
        {% include "zeit.web.core:templates/inc/ads/places/mobile/place4.html" %}
    {% endif %}
{% endblock %}
