.article-header
	margin: remify(0 0 30px)
	position: relative

	&__image-wrap
		margin-top: $page-padding--small

	&__image
		width: remify(240px)

	&__media
		height: 0
		padding-bottom: 100% / 3 * 4 // image variant 'portrait'

	&__topic-link
		@extend %font-beckett
		+font-smoothing
		+unpadded
		background-color: $primary-color
		color: $white
		display: block
		font-size: em(20px)
		line-height: inherit
		padding: remify(6px $page-padding--small 2px)
		+on-interaction
			color: $color-topics-secondary
		&:before
			content: "Thema"
			opacity: .58
			margin-right: .5em
		&--default
			margin-bottom: remify(10px)
		&--column
			margin: 0
		&--leserartikel
			+order(1)

	&__headline
		text-transform: uppercase
		margin: 0
		&--default
			+unpadded
			background-color: $color-background
			margin-top: remify(-66px)
			margin-bottom: 0
			padding: remify(15px $page-padding--small 24px 24px)

	&__kicker
		+font-smoothing
		color: $white
		display: block
		font-size: em(14px)
		font-weight: bold
		letter-spacing: .01em
		margin-bottom: remify(12px)

	&__title
		@extend %font-beckett
		color: $color-article-primary
		display: block
		font-size: em(48px)
		&--leserartikel
			color: $color-text
			padding-bottom: $page-padding--small

	&__byline,
	&__metadata
		font-size: em(15px)
		line-height: 20px / 15px
		margin-bottom: remify(8px)

	&__byline
		span[itemprop="name"]
			color: $color-text
			font-weight: bold
		a
			+on-interaction
				span[itemprop="name"]
					color: $color-article-primary

	&__metadata
		> time,
		> span
			white-space: nowrap
		> time:after,
		> span:after
			content: ", "
		> time:last-child:after,
		> span:last-child:after
			content: none


	// Kolumne
	&--column
		+unpadded
		background-color: $color-article-secondary

		.article-header__byline,
		.article-header__metadata
			display: inline
			margin: 0
		.article-header__byline + .article-header__metadata
			&:before
				content: " / "
				margin: 0 .25em

	&__column-image
		+background-image(linear-gradient(to top, #003fb4, $color-article-primary))
		bottom: remify(52px)
		overflow: hidden
		position: absolute
		right: $page-padding--small
		width: remify(80px)
	&__column-wrap
		position: relative
	&__column-info
		padding: $page-padding--small
	&__column-details
		padding-right: remify(90px)
	&__headline
		&--column
			span
				color: $color-text

	// Leserartikel
	&--leserartikel
		.article-header__media
			padding-bottom: 100% / 16 * 9 // image variant 'wide'
		.article-header__byline
			@extend %font-beckett
			font-size: em(20px)
			margin-bottom: remify(16px)
			a
				border-bottom: 2px solid $color-community-primary
				+on-interaction
					border-color: $color-text
					span[itemprop="name"]
						color: $color-text
			span[itemprop="name"]
				color: $color-community-primary
				font-weight: normal
	&__leserartikel-wrap
		+unpadded
		background-color: $color-community-primary
		margin-bottom: remify(20px)
		padding: $page-padding--small $page-padding--small 0
	&__leserartikel-headline
		+display-flex()
		+flex-flow(column nowrap)
	&__leserartikel-image
		margin-top: remify(32px)

////////////
// TABLET //
////////////

+respond-min($break-tablet-min)
	.article-header
		margin: remify(40px 0)

		&__image-wrap
			margin: 0 auto
			max-width: remify(780px)

		&__image
			width: 53.33%

		&__headline
			&--default
				margin-top: remify(-90px)
				padding: remify(11px $page-padding 24px 54px)

		&__kicker,
		&__title
			margin-left: auto
			margin-right: auto
			max-width: remify(660px)

		&__kicker
			font-size: em(16px)
			line-height: 18px / 16px
			margin-bottom: remify(22px)
			&--leserartikel
				line-height: remify(49px)

		&__title
			font-size: em(112px)
			line-height: 100px / 112px
			letter-spacing: $letter-spacing-s
			&--column
				font-size: em(64px)
			&--leserartikel
				font-size: em(82px)
				padding-bottom: 0


		&__info
			left: 50%
			max-width: remify(780px / 2)
			padding-left: remify(46px)
			position: absolute
			top: 0
			width: 50%

		&__topic-link
			display: inline-block
			font-size: em(26px)
			margin: 0
			padding: remify(8px 18px 2px)
			&:before
				content: none
			&--default
				margin-bottom: remify(15px)
			&--column
				bottom: 100%
				position: absolute
			&--leserartikel
				float: left
				margin-right: remify(20px)

		&--column
			+display-flex()
			+justify-content(space-between)
			+align-items(flex-end)
			background-color: transparent
			margin-left: 0
			margin-right: 0
		&__column-image
			position: static
			width: remify(260px)
		&__column-wrap
			margin: remify(50px 0 0 -20px)
			+flex(1 1 50%)
		&__column-info
			background-color: $color-article-secondary
			padding: remify(25px 20px)
		&__column-details
			padding-right: 0

		&--leserartikel
			.article-header__byline
				font-size: em(26px)
		&__leserartikel-wrap
			$color-stop: remify(47px)
			+background-image(linear-gradient(to top, #fff $color-stop, $color-community-primary $color-stop))
			margin: remify(0 0 30px)
			padding: remify(30px 30px 0)
		&__leserartikel-headline
			display: block
		&__leserartikel-info
			+display-flex()
		&__leserartikel-image
			$leserartikel-image-width: remify(400px)
			+order(-1)
			+flex(1 0 $leserartikel-image-width)
			margin: remify(0 20px 0 0)
			width: $leserartikel-image-width

/////////////
// DESKTOP //
/////////////

+respond-min($break-desktop-min)
	.article-header
		margin: remify(60px 0)

		&__headline
			&--default
				margin: remify(-190px 0 0)
				padding-top: remify(111px)

		&__kicker
			&--leserartikel
				line-height: remify(59px)

		&__title
			&--column
				font-size: em(82px)
			&--leserartikel
				font-size: em(112px)

		&__topic-link
			font-size: em(32px)
			padding: remify(9px 23px 2px)

		&__column-image
			width: remify(320px)
		&__column-info
			padding: remify(30px 35px 35px)

		&__leserartikel-wrap
			$color-stop: remify(65px)
			+background-image(linear-gradient(to top, #fff $color-stop, $color-community-primary $color-stop))
			margin-bottom: remify(40px)
			padding-top: remify(40px)
