.article-pagination
	@extend %cta-button
	clear: both
	color: $color-article-primary
	font-size: remify(14px)
	&--leserartikel
		color: $color-community-primary
	&__link
		@extend %cta-button-link
	&__button
		@extend %cta-button-box
		+respond-max($break-tablet-min)
			+font-smoothing
			color: #fff
			display: block
			text-align: center
	&__icon
		@extend %cta-button-icon
	&__nexttitle
		display: none

.article-pager
	display: none
	letter-spacing: $letter-spacing-m
	margin: remify(28px 0 0)
	padding: 0
	&__number
		display: inline-block
		& + &:before
			color: $color-separator
			content: "/"
		a, span
			padding: 0 1em
			display: inline-block
		span
			color: $color-separator // for "..."
		&--current
			span
				color: inherit
				font-weight: bold
		&:first-child
			a, span
				padding-left: 0


+respond-min($break-tablet-min)
	.article-pagination
		margin-bottom: remify(60px)
		&__link
			background-color: transparent
			margin: remify(0)
		&__button
			border: 3px solid currentColor
			padding: remify(6px 8px 6px 12px)
		&__nexttitle
			+display-flex(inline-flex)
			width: 70%
			margin-left: 1em

	.article-pager
		display: block
		line-height: 2
