$additional-padding: 50px

.article-heading
	background-color: $color-background
	margin-bottom: 0
	// calc() needed to compensate the additional padding
	margin-top: calc(-1em - #{$additional-padding})
	margin-left: -$page-padding--small
	padding-bottom: remify(35px)
	padding-left: remify(24px)
	padding-top: remify($additional-padding)
	text-transform: uppercase
	&__kicker
		color: $white
		display: block
		font-family: $font-tabletgothic
		font-size: remify(14px)
		font-weight: bold
		letter-spacing: .01em
		position: relative
		top: remify(-22px)

	&__title
		color: $color-article-highlight
		display: block
		font-family: $font-beckett
		font-size: remify(48px)
		font-weight: normal
		letter-spacing: remify(1.5px)

