.article-footer
	+pie-clearfix
	clear: both
	margin-bottom: remify(32px)
	+respond-min($break-tablet-min)
		border-top: 2px solid $color-border
		margin: remify(60px auto)
		padding-top: remify(40px)
