$interaction-color: $color-text--light
$interaction-hover-color: $black

@import "web.core/modules/article/article-interactions"

.article-interactions
	+display-flex
	line-height: remify(40px)

.sharing-menu

	&__item
		float: left
		margin-right: remify(1px)

	&__link
		+clearfix
		display: block
		&--facebook
			background-color: $color-facebook
			+on-interaction
				background-color: $color-facebook-hover
		&--twitter
			background-color: $color-twitter
			+on-interaction
				background-color: $color-twitter-hover
		&--whatsapp
			background-color: $color-whatsapp

	&__text
		@extend %font-beckett
		+font-smoothing
		+scaled-font(22px, $title-factor)
		color: $white
		display: none
		padding-right: remify(15px)

	&__icon
		color: $white
		float: left
		height: remify(22px)
		margin: remify(9px 12px)
		width: remify(22px)

.print-menu
	margin-left: remify(6px)

	&__link
		&:not(:last-child):after
			color: $color-separator
			content: " / "
			margin: 0 .25em

+respond-min($break-tablet-min)
	.sharing-menu
		&__item
			margin-right: remify(10px)

		&__icon
			height: remify(26px)
			margin: remify(7px 10px)
			width: remify(26px)

		&__text
			display: inline
