.article-heading
	background-color: $color-background
	margin-top: 0
	padding-left: remify(25px)
	text-transform: uppercase
	&__kicker
		color: $white
		display: block
		font-family: $font-tabletgothic
		font-size: remify(14px)
		font-weight: bold
		letter-spacing: .01em

	&__title
		color: $color-article-highlight
		display: block
		font-family: $font-beckett
		font-size: remify(48px)
		font-weight: normal
		letter-spacing: remify(1.5px)

