=article-header-banderole($start)
	background-image: linear-gradient(to bottom, transparent remify($start), $color-background remify($start))

.article-header
	margin: remify(0 0 30px)
	position: relative

	&__banderole
		+unpadded
		+padded
		background-color: $color-background
		&--portrait
			+article-header-banderole(254px)
			background-color: transparent

	&__default-image
		margin-bottom: remify(-66px)
		&--portrait
			margin-top: remify(14px)
		&--wide
			margin-left: -$page-padding--small
			margin-right: -$page-padding--small

	&__default-image-box
		&--portrait
			width: remify(240px)

	&__media
		height: 0
		position: relative
		&--portrait
			padding-bottom: 100% / 3 * 4 // image variant 'portrait'
		&--wide
			padding-bottom: 100% / 16 * 9 // image variant 'wide'
	&__media:hover &__caption
		opacity: 1
	&__media--default &__caption
		bottom: auto
		top: 0

	&__caption
		+scaled-font(12px)
		transition: opacity .2s linear
		// +background-image(linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)))
		background: rgba(0, 0, 0, 0.5)
		bottom: 0
		color: $color-text--on-dark
		letter-spacing: $letter-spacing-s
		opacity: 0
		padding: remify(6px)
		position: absolute
		width: 100%
	&__copyright
		color: inherit
		a
			color: inherit
			+on-interaction
				color: #fff

	&__media-container
		&--default
			+teaser-image-dark-overlay($color: rgba(0,0,0,.4), $angle: to bottom, $gradient: (rgba(0,0,0,0) 70%, rgba(0,0,0,.4) 100%))

	&__topic
		@extend %font-beckett
		+font-smoothing
		+unpadded
		background-color: $primary-color
		color: #fff
		display: block
		+scaled-font(20px, $title-factor)
		line-height: inherit
		padding: remify(6px $page-padding--small 2px)
		+on-interaction
			color: $color-topics-secondary
		&:before
			content: "Thema"
			opacity: .58
			margin-right: .5em
		&--default
			margin-bottom: remify(14px)
		&--column
			margin: 0
		&--leserartikel
			order: 1

	&__headline
		margin: 0
		text-transform: uppercase
		&--default
			padding: remify(15px 0 24px 10px)
			position: relative // for stacking context (z-index)

	&__kicker
		display: block
		+scaled-font(14px)
		font-weight: bold
		letter-spacing: .01em
		margin-bottom: remify(12px)
		.article-header--default-with-image &,
		&--leserartikel
			+font-smoothing
			color: #fff

	&__title
		@extend %font-beckett
		display: block
		+scaled-font(48px, $title-factor)
		word-wrap: break-word
		&--default
			color: $color-article-primary
		&--leserartikel
			padding-bottom: $page-padding--small

	&__byline,
	&__metadata
		line-height: 1.4
		margin-bottom: remify(8px)

	&__byline
		+scaled-font(15px)
		span[itemprop="name"]
			color: $color-text
			font-weight: bold
		a
			+on-interaction
				span[itemprop="name"]
					color: $color-article-primary

	&__metadata
		+scaled-font(14px)
		color: $color-text--light
		letter-spacing: $letter-spacing-s
		> time,
		> span
			white-space: nowrap
		> time:not(:last-child):not(:empty):after,
		> span:not(:last-child):not(:empty):after
			content: " \2014 " // — = em dash
			margin: 0 .25em


	// Kolumne
	&--column
		+unpadded
		background-color: $color-article-secondary

		.article-header__byline,
		.article-header__metadata
			color: inherit
			display: inline
			margin: 0
		.article-header__byline
			&:not(:last-child):after
				content: " \2014 " // — = em dash
				margin: 0 .25em

	&__column-image
		background-image: linear-gradient(to top, #003fb4, $color-article-primary)
		bottom: remify(52px)
		overflow: hidden
		position: absolute
		right: $page-padding--small
		width: remify(80px)
	&__column-wrap
		position: relative
	&__column-info
		padding: $page-padding--small
	&__column-details
		padding-right: remify(90px)

	// Leserartikel
	&--leserartikel
		.article-header__byline
			@extend %font-beckett
			+scaled-font(20px, $title-factor)
			margin-bottom: remify(16px)
			a
				box-shadow: inset 0 -2px 0 currentColor
				color: $color-community-primary
				+on-interaction
					color: $color-text
					span[itemprop="name"]
						color: inherit
			span[itemprop="name"]
				color: $color-community-primary
				font-weight: normal
	&__leserartikel-wrap
		+unpadded
		background-color: $color-community-primary
		margin-bottom: remify(20px)
		padding: $page-padding--small $page-padding--small 0
	&__leserartikel-headline
		display: flex
		flex-flow: column nowrap
	&__leserartikel-image
		margin-top: remify(32px)

	+respond-max($break-tablet-min)
		&__default-info &__byline:first-child
			margin-top: remify(30px)

.metadata
	&__commentcount
		@extend %commentcount

	&__source a
		@extend %commentcount

////////////
// TABLET //
////////////

+respond-min($break-tablet-min)
	.article-header
		margin: remify(40px auto)

		&__banderole
			background-color: transparent
			&--portrait
				+article-header-banderole(443px)
			&--wide
				+article-header-banderole(180px)

		&--default-no-image
			background-color: $color-background
			box-shadow: remify(-160px) 0 0 $color-background, remify(160px) 0 0 $color-background
			margin-top: remify(76px)
			max-width: remify(660px)
			padding: remify(48px 0)
		&--default-no-image &__topic,
		&--column-no-image &__topic
			position: absolute
			bottom: 100%
			margin-bottom: -0.6em // em intended
		&--default-no-image &__byline,
		&--default-no-image &__metadata
			margin-bottom: 0

		&--default-with-image &__default-info
			position: absolute
			top: 0
			&--portrait
				left: remify(390px)
				padding-left: remify(30px)
				+respond-min(em(820px))
					left: 50%
			&--wide
				left: remify(500px)


		&__default-image
			margin: remify(0 0 -90px)
			&--portrait
				margin-left: auto
				margin-right: auto
				max-width: remify(780px)

		&__default-image-box
			&--portrait
				width: remify(400px)
			&--wide
				width: remify(480px)

		&__headline--default
			padding: remify(11px 0 24px)
		&--default-no-image &__headline
			padding: remify(0 0 20px)

		&__kicker,
		&__title
			margin-left: auto
			margin-right: auto
			max-width: remify(660px)

		&__kicker
			+scaled-font(16px)
			line-height: 18px / 16px
			margin-bottom: remify(24px)
			&--leserartikel
				line-height: remify(49px)

		&__title
			+scaled-font(112px, $title-factor)
			line-height: 100px / 112px
			&--column
				+scaled-font(64px)
			&--leserartikel
				+scaled-font(82px)
				padding-bottom: 0

		&__topic
			display: inline-block
			+scaled-font(26px, $title-factor)
			margin: 0
			padding: remify(8px 18px 2px)
			&:before
				content: none
			&--default
				margin-bottom: remify(15px)
			&--column
				bottom: 100%
				position: absolute
			&--leserartikel
				float: left
				margin-right: remify(20px)

		&--column
			display: flex
			justify-content: space-between
			align-items: flex-end
			background-color: transparent
		&__column-image
			margin-right: remify(-20px)
			position: static
			width: remify(260px)
		&__column-wrap
			margin-top: remify(50px)
			flex: 1 1 50%
		&__column-info
			background-color: $color-article-secondary
			padding: remify(25px 20px)
		&__column-details
			padding-right: 0
		&--column-no-image &__column-wrap
			background-color: $color-article-secondary
			box-shadow: remify(-160px) 0 0 $color-article-secondary, remify(160px) 0 0 $color-article-secondary
			margin-left: auto
			margin-right: auto
			margin-top: remify(33px)
			max-width: remify(660px)
			padding-right: remify(160px)
		&--column-no-image &__column-info
			padding-left: 0
			padding-right: 0
			padding-top: remify(40px)

		&--leserartikel
			.article-header__byline
				+scaled-font(26px, $title-factor)
			span[itemprop="name"]
				// force newline
				&:before
					content: ""
					display: block
		&__leserartikel-wrap
			$color-stop: remify(47px)
			background-image: linear-gradient(to top, #fff $color-stop, $color-community-primary $color-stop)
			margin: remify(0 0 30px)
			padding: remify(30px 30px 0)
		&__leserartikel-headline
			display: block
		&__leserartikel-info
			display: flex
		&__leserartikel-image
			$leserartikel-image-width: remify(400px)
			order: -1
			flex: 1 0 $leserartikel-image-width
			margin: remify(0 20px 0 0)
			width: $leserartikel-image-width

/////////////
// DESKTOP //
/////////////

+respond-min($break-desktop-min)
	.article-header
		margin: remify(60px auto)

		&--default-no-image
			margin-top: remify(76px)
			padding: remify(58px 0 38px)

		&--default-with-image &__default-info
			&--portrait
				padding-left: remify(90px)
			&--wide
				left: remify(640px)

		&__banderole
			&--portrait
				+article-header-banderole(423px)
				margin: 0
			&--wide
				+article-header-banderole(259px)

		&__default-image-box
			&--portrait
				width: remify(460px)
			&--wide
				width: remify(620px)

		&__kicker
			&--leserartikel
				line-height: remify(59px)

		&__title
			&--column
				+scaled-font(82px, $title-factor)
			&--leserartikel
				+scaled-font(112px, $title-factor)

		&__topic
			+scaled-font(32px, $title-factor)
			padding: remify(9px 23px 2px)

		&__column-wrap
			margin-top: remify(59px)
		&__column-image
			width: remify(320px)
		&__column-info
			padding: remify(30px 35px 35px)
		&--column-no-image &__column-wrap
			margin-top: remify(40px)
			padding-right: 0

		&__leserartikel-wrap
			$color-stop: remify(65px)
			background-image: linear-gradient(to top, #fff $color-stop, $color-community-primary $color-stop)
			margin-bottom: remify(40px)
			padding-top: remify(40px)
