// styles for "external" content
// intended for Datenjournalismus & Co.
// prefixed with "x"

// standard content width
.x-content-column
	+respond-min($break-tablet-min)
		max-width: remify(660px)
		margin-left: auto
		margin-right: auto

// responsive fullwidth
.x-fullwidth
	+unpadded
	+respond-max(em(480px), false)
		&--mobile
			+unpadded
	+respond-max($break-phablet-min, false)
		&--phablet
			+unpadded
	+respond-max($break-tablet-min, false)
		&--tablet
			+unpadded

// page padding
.x-page-padding
	+padded

// text styles
.x-copytext,
.x-footer
	font-family: $font-tabletgothic
	letter-spacing: $letter-spacing-s
	line-height: 1.4

.x-headline
	@extend %font-beckett
	font-size: em(26px)
	margin-bottom: 0.5em
	margin-top: 1.4em
	+respond-min($break-desktop-min)
		font-size: em(42px)

.x-subheadline,
.x-subheadline--borderless
	@extend %font-beckett
	font-size: em(26px)
	margin-bottom: 0.5em
	margin-top: 1.4em

.x-subheadline
	border-bottom: 1px solid $color-border
	padding-bottom: .5rem

.x-copytext,
.x-copytext--size
	font-size: em(16px)
	line-height: 1.5

.x-caption
	&,
	&--sans,
	&--serif
		+clearfix
		color: #444
		font-size: em(15px)
		line-height: 1.3
	&--sans
		font-family: $font-tabletgothic
	&--serif
		font-family: $font-franziska
		font-style: italic

.x-footer,
.x-footer--borderless
	+clearfix
	color: $grey
	font-size: em(14px)
	margin-bottom: .5rem
	margin-top: .5rem

.x-footer
	border-top: 1px solid $color-border
	padding-top: .5rem

.x-copyright
	float: right

// vertical space
.x-spacing
	margin-top: $vertical-space
	margin-bottom: $vertical-space
	&--paragraph
		margin-top: .6em
		margin-bottom: .6em
	&--large
		margin-top: $vertical-space * 2
		margin-bottom: $vertical-space * 2

.x-picturefill img
	max-width: 100%
