.infobox
	+unpadded
	+padded
	background: $color-background--light
	clear: both
	counter-reset: infobox-list
	margin-bottom: remify(30px)
	margin-top: remify(80px)
	padding-bottom: remify(4px) // needed to keep the margin of the last tab-panel inside the box for .no-js

	&__container
		position: relative
		padding-top: remify(34px)
		&:before
			@extend %font-beckett
			border-bottom: 3px solid currentColor
			color: $color-article-primary
			content: "Information"
			font-size: em(32px)
			position: absolute
			top: -0.46em

	.no-js &__container
		@extend .article__item
	.js &__navigation
		display: none

.infobox-tab
	border-top: 1px solid #ccc
	&:first-child
		border: none
	&__title
		color: $color-article-primary
		font-family: $font-tabletgothic
		font-size: em(13px)
		font-weight: normal
		letter-spacing: $letter-spacing-l
		line-height: round-to-precision(19/13, $precision: 1)
		margin: 0
		position: relative
		.js &:before
			background-color: currentColor
			content: ""
			height: remify(3px)
			pointer-events: none // enable covered link
			position: absolute
			right: 0
			top: remify(18px + 5px)
			width: remify(13px)
	&__link
		color: $color-text
		display: block
		padding: remify(15px 18px 15px 0)
		text-transform: uppercase
		+on-interaction
			color: inherit
		&:before
			content: counter(infobox-list, decimal-leading-zero) "\00A0\2014\00A0" // No-Break Space and Em Dash
			counter-increment: infobox-list
			font-weight: normal
		.js &:after
			position: absolute
			content: ""
			background-color: $color-article-primary
		.js &:after
			height: remify(13px)
			right: remify(5px)
			width: remify(3px)
			top: remify(18px)
		&[aria-expanded="true"]
			color: $color-text
			font-weight: bold
			&:after
				content: none
	&__panel
		margin: remify(0 0 28px)
		// aria attributes late added by javascript
		// so these apply only progressively enhanced
		&[aria-hidden='true']
			display: none
		p,
		li,
		td
			color: #444
			font-family: $font-tabletgothic
			font-size: em(14px)
			line-height: round-to-precision(21/14, $precision: 1)
			margin: 0 0 .6em
		img
			max-width: 100%

.article--leserartikel
	.infobox
		&__container
			&:before
				color: $color-community-primary
	.infobox-tab
		&__title
			color: $color-community-primary
		&__link
			&:after
				background-color: $color-community-primary


+respond-min($break-tablet-min)
	.infobox
		margin-bottom: remify(60px)

		&__container
			padding-top: remify(50px)
			&:before
				border-bottom-width: 4px
				font-size: em(44px)
		.js &__container
			+display-flex()
			+flex-flow(row wrap)
			+justify-content(space-between)
			margin: 0 auto
			max-width: remify(820px)
		.js &__navigation
			display: block
			margin: remify(0 20px 40px 0)
			width: remify(240px)
		.js &__content
			+flex(1 1 50%)

	.infobox-tab
		.js &
			border: none
		.js & &__title
			display: none

		&__title
			font-size: em(15px)
			line-height: round-to-precision(20/15, $precision: 1)
			.js &:before
				content: none
		&__link
			padding: remify(16px 0 8px)
			.js &
				padding-top: remify(8px)
			.js &:after
				content: none
		&__panel
			margin-bottom: remify(40px)
			padding-top: remify(8px)
			p, li, td
				font-size: em(16px)
				line-height: round-to-precision(24/16, $precision: 1)
