.mailbox
	text-align: center
	border: 4px solid $color-community-primary
	font-family: $font-tabletgothic
	padding: remify(10px)
	position: relative

	&__kicker
		display: block
		font-weight: bold
		font-size: em(12px)
		letter-spacing: $letter-spacing-l
		color: $color-community-primary
		text-transform: uppercase

	&__title
		display: block
		font-family: $font-beckett
		color: $color-text
		letter-spacing: 1.5px
		font-size: remify(28px)
		line-height: 0.95
		padding: remify(10px)

	&__text
		color: $grey--mid
		font-size: remify(16px)
		line-height: round-to-precision(24/16, $precision: 1)

	&__label
		display: block
		color: $color-community-primary
		font-weight: bold
		font-size: remify(16px)
		background-color: $white
		position: absolute
		left: 50%
		bottom: remify(-20px)
		width: remify(140px)
		margin-left: remify(-70px)

