.nextread
	+unpadded
	+padded
	background: $color-background
	margin-top: remify(48px)
	padding-bottom: remify(36px)
	padding-top: remify(36px)
	position: relative
	+respond-min($break-tablet-min)
		padding-bottom: remify(60px)
		padding-top: remify(60px)
	&__lead
		@extend %font-beckett
		+scaled-font(26px, $title-factor)
		margin: 0
		position: absolute
		top: remify(-8px)
		+respond-min($break-tablet-min)
			+transform(translateX(-50%))
			left: 50%
			width: remify(660px)

.nextread-teaser
	$small-image-width: 102px
	$large-image-width: 321px
	$ratio: 3/4
	margin: 0 auto
	max-width: remify(820px)
	&__link
		+display-flex()
	&__media
		+flex(0 0 auto)
		overflow: hidden
		width: remify($small-image-width)
		+respond-min($break-tablet-min)
			+align-self(center)
			height: remify($large-image-width / $ratio)
			margin-right: remify(-40px)
			width: remify($large-image-width)
	&__container
		+flex(1 1 auto)
		background: $white
		padding: remify(12px)
		+respond-min($break-tablet-min)
			+align-self(center)
			padding: remify(20px)
	&__heading
		margin: remify(0 0 4px)
	&__kicker
		color: $color-article-primary
		display: block
		+scaled-font(12px)
		letter-spacing: $letter-spacing-l
		line-height: round-to-precision(12/13, $precision: 1)
		margin-bottom: em(8px, 12px)
		text-transform: uppercase
		&--leserartikel
			color: $color-community-primary
		+respond-min($break-tablet-min)
			margin-bottom: em(20px, 12px)

	&__title
		@extend %font-beckett
		color: $color-text
		+scaled-font(26px, $title-factor)
		+respond-min($break-tablet-min)
			+scaled-font(64px, $title-factor)

	&__metadata
		@extend %teaser-metadata
