.page-header
	margin: remify(30px auto)

	&__headline
		margin: 0
		text-transform: uppercase

	&__kicker
		display: block
		+scaled-font(14px)
		font-weight: bold
		letter-spacing: .01em
		margin-bottom: remify(12px)

	&__title
		@extend %font-beckett
		display: block
		+scaled-font(48px, $title-factor)

	&__page-headline
		+scaled-font(17px)
		font-weight: bold
		letter-spacing: $letter-spacing-s
		line-height: 1.3
		margin-top: remify(24px)

	&__page-title
		display: inline
		font-weight: inherit
		margin: 0

+respond-min($break-tablet-min)
	.page-header
		margin: remify(40px auto)

		&__kicker
			+scaled-font(16px)
			line-height: round-to-precision(18/16, $precision: 1)
			margin-bottom: remify(16px)

		&__title
			+scaled-font(64px, $title-factor)

		&__page-headline
			+scaled-font(18px)
			line-height: round-to-precision(26/18, $precision: 1)
			margin-top: remify(16px)


+respond-min($break-desktop-min)
	.page-header
		margin: remify(60px auto 45px)
