.paragraph
	+default-article-textlink($style: 'zco')
	+scaled-font(17px)
	line-height: 1.4
	margin-top: 0
	margin-bottom: .7em

	+respond-min($break-tablet-min)
		+scaled-font(18px)
		line-height: round-to-precision(28/18, $precision: 4)
		margin-bottom: .55em

	em
		font-family: $font-franziska
