.paragraph
	+default-article-textlink($style: 'zco')
	font-size: em($font-size-17)
	line-height: round-to-precision(22/17, $precision: 1)
	margin-top: 0
	margin-bottom: .7em

	+respond-min($break-tablet-min)
		font-size: em($font-size-18)
		line-height: round-to-precision(26/18, $precision: 1)
		margin-bottom: .55em

	em
		font-family: $font-franziska
