.print-menu
	display: none
	float: left
	line-height: remify(39px)
	margin: remify(20px 0 32px 6px)

	&__link
		color: $color-text--light
		font-size: em(14px)
		letter-spacing: 0.04em
		+on-interaction
			color: $black

		&:not(:last-child):after
			color: $color-separator
			content: " / "
			margin: 0 .25em


	+respond-min($break-desktop-min)
		display: block
