.quote
	@extend %font-beckett
	background-image: linear-gradient(to right, $color-article-secondary 50%, $color-article-secondary 50%), linear-gradient(to right, $color-article-secondary 50%, $color-article-secondary 50%)
	background-position: top center, bottom center
	background-repeat: no-repeat
	background-size: $micro--px 1em, $micro--px 1em
	font-size: remify(32px)
	margin: $vertical-space--small auto
	padding: .5em 0 .3em
	text-align: center
	+respond-min($break-tablet-min)
		font-size: remify(64px)
		margin: $vertical-space auto
