$quote-padding: 1em

.quote
	font-size: em($font-size-32)
	margin: remify(30px) auto
	padding: $quote-padding 0
	position: relative
	text-align: center
	+respond-min($break-tablet-min)
		font-size: em($font-size-64)
		margin: remify(40px) auto
		max-width: remify(820px)

	&:before
		border-color: $color-article-secondary
		border-style: solid
		border-width: ($quote-padding + .33em) 0
		bottom: 0
		content: ""
		left: 0
		margin: auto
		position: absolute
		right: 0
		top: 0
		width: 4px
	&--leserartikel
		&:before
			border-color: $color-community-primary

	&__text
		@extend %font-beckett
		margin: 0
		position: relative

	&__source
		font-family: $font-tabletgothic
		font-size: remify($font-size-16)
		line-height: 1.25
		margin-top: .66em
		position: relative
		&:before
			content: "\2014" // — = em dash
			margin-right: .25em

		+respond-min($break-tablet-min)
			font-size: remify($font-size-18)
			line-height: 1.33

	&__link
		color: inherit
