.sharing-menu
	+clearfix
	line-height: remify(40px)
	margin: remify(20px 0 32px)

	&__items
		float: left
		list-style-type: none
		margin: 0
		padding: 0

	&__item
		float: left
		margin-right: 1px

	&__link
		+clearfix
		display: block
		&--facebook
			background-color: $color-facebook
			+on-interaction
				background-color: $color-facebook-hover
		&--twitter
			background-color: $color-twitter
			+on-interaction
				background-color: $color-twitter-hover
		&--whatsapp
			background-color: $color-whatsapp

	&__text
		@extend %font-beckett
		+font-smoothing
		+scaled-font(22px, $title-factor)
		color: $white
		display: none
		padding-right: remify(15px)
		vertical-align: remify(-1px)

	&__icon
		color: $white
		float: left
		height: remify(22px)
		margin: remify(9px 12px)
		width: remify(22px)

	+respond-min($break-tablet-min)
		float: left

		&__item
			margin-right: remify(10px)
			&--whatsapp
				display: none

		&__icon
			height: remify(26px)
			margin: remify(7px 10px)
			width: remify(26px)

		&__text
			display: inline
