@import "web.core/modules/article/sharing-menu"

$campus-sharing-button-factor: 1.2

.sharing-menu
	margin: remify(20px 0 32px)

	&__item
		margin-right: 1px

	&__link
		border-radius: 0

	// icon size from core, but a little inflated
	&__icon
		&--facebook
			height: remify($campus-sharing-button-factor * 20px)
			width: remify($campus-sharing-button-factor * 10px)
		&--flipboard
			height: remify($campus-sharing-button-factor * 19px)
			width: remify($campus-sharing-button-factor * 19px)
		&--twitter
			height: remify($campus-sharing-button-factor * 16px)
			width: remify($campus-sharing-button-factor * 21px)
		&--whatsapp,
		&--messenger
			height: remify($campus-sharing-button-factor * 22px)
			width: remify($campus-sharing-button-factor * 22px)
		&--mail
			height: remify($campus-sharing-button-factor * 14px)
			width: remify($campus-sharing-button-factor * 20px)

	+respond-min($break-tablet-min)
		&__item
			margin-right: remify(10px)
