#stoas-artikelanker
    margin: $vertical-space 0
    +unpadded

.stoas
    width: 100%
    background-color: $color-tools-primary

    &__title
        +font-smoothing
        text-transform: uppercase
        color: $white
        font-family: $font-beckett
        letter-spacing: 1.5px
        font-size: remify(30px) // adapted to handle long words
        line-height: 1 // adapted to handle long words
        text-align: center
        display: block
        padding: remify(20px 30px)
        word-wrap: break-word
    &__link
        @extend %cta-button-link
        padding: remify(0px 30px 25px)
        display: block
        text-align: center
        background-color: transparent
        text-transform: none
        font-weight: normal
        color: $white
        +on-interaction
            .stoas__button
                border: 3px solid $color-text
    &__button
        @extend %cta-button-box
        border: 3px solid $white
        padding: remify(5px 20px)
    &__icon
        @extend %cta-button-icon

+respond-min($break-tablet-min)
    #stoas-artikelanker
        +margined
        +pie-clearfix
        float: right
        margin-top: 0

    .stoas
        max-width: remify(300px)
