.stoa
	+font-smoothing
	+unpadded
	+padded
	background-color: $color-tools-primary
	color: $white
	margin-bottom: remify(30px)
	margin-top: remify(30px)
	padding-bottom: remify(20px)
	padding-top: remify(20px)
	text-align: center

	&__link
		color: inherit
		display: block
		+on-interaction
			color: $color-text

	&__title
		@extend %font-beckett
		+scaled-font(30px, $title-factor) // adapted to handle long words
		line-height: 1 // adapted to handle long words
		margin: remify(0 0 12px)
		word-wrap: break-word

	&__button
		color: inherit
		display: inline-block

	&__icon
		@extend %cta-button-icon

	+respond-min($break-tablet-min)
		clear: left
		float: left
		margin: remify(8px 50px 20px 0)
		padding-bottom: remify(25px)
		padding-top: remify(25px)
		width: remify(300px)

		&__title
			margin-bottom: remify(18px)
