.article-toc
	color: $color-article-primary
	&__container
		font-size: em(14px)
		line-height: round-to-precision(20/14)
		margin-bottom: remify(40px)
		+respond-min($break-tablet-min)
			float: left
			padding-right: remify(25px)
			width: remify(260px)
	&__headline
		@extend %font-beckett
		border-bottom: 3px solid currentColor
		cursor: pointer
		display: inline-block
		font-size: remify(32px)
		margin: 0
		position: relative
		+respond-min($break-tablet-min)
			display: none
		&::selection
			background: transparent
		&::-moz-selection // combining with line above won't work
			background: transparent
		& .article-toc__toggle-icon--minus
			display: none
		&--active .article-toc__toggle-icon--plus
			display: none
		&--active .article-toc__toggle-icon--minus
			display: inline
		.no-js & .article-toc__toggle
			display: none
	&__toggle
		position: absolute
		right: -23px
		top: -3px
	&__toggle-icon
		$icon-size: 15px
		height: remify($icon-size)
		width: remify($icon-size)
	&__seperator
		.js &
			display: none
			+respond-min($break-tablet-min)
				display: block !important // use important to overwrite possible js (will be changed when it's made accessible)
	&__list
		list-style: none
		margin: 0
		padding: remify(20px 0 0)
		+respond-min($break-tablet-min)
			padding: 0
	&__item
		+clearfix
		margin: 0
		padding: remify(0 0 10px)
		strong
			@extend %font-beckett
			font-size: remify(32px)
			float: left
		span
			display: block
			margin-left: remify(50px)
			position: relative
			&:before
				content: "\2014" // — = em dash
				font-weight: normal
				left: -1.3em
				position: absolute
		&--current
			font-weight: 700
		&--empty
			font-size: remify(16px)
			margin: remify(-8px 0 2px)
			padding-left: remify(10px)
	&__link
		color: inherit
	&__onesie
		border-bottom: 1px solid currentColor
		color: inherit
		font-size: remify(12px)
		letter-spacing: $letter-spacing-l
		text-transform: uppercase

// color theming for leserartikel
.article--leserartikel .article-toc
	color: $color-community-primary
