.zplus-badge
	display: none
	display: flex
	justify-content: center
	margin: remify(22px 0)
	+respond-min($break-tablet-min)
		justify-content: left
	&__link
		color: $color-text--light
		display: flex
		align-items: center
	&__text
		font-size: remify(12px)
		letter-spacing: 1px
		text-transform: uppercase
		vertical-align: middle
