.zplus-badge
	display: none
	display: flex
	margin-bottom: remify(42px)
	&__link
		color: $color-text--light
		display: flex
		justify-content: center
		align-items: center
	&__text
		font-size: remify(12px)
		letter-spacing: 1px
		text-transform: uppercase
		vertical-align: middle
