// RAM vertical space rules
// Regions have vertical space as margin-bottom of $vertical-space
// Areas have no vertical space (and as they float don't collapse margins of children)
// Modules have vertical space on top and bottom as padding
//
// $vertcal-space * 2 is the vertical gutter between two elements (rule of thumb)

.cp-region
	margin-bottom: $vertical-space
	padding: 0 $cp-padding
	+pie-clearfix
	&--parquet
		margin-bottom: 0
		padding: 0
	&--topic
		padding: 0
	&--gallery
		padding: 0
	// TODO: --gallery Trennlinie zum nächsten Ressort: 1px solid #CCC.
	//       Aber: cp-region haben Margin statt Bottom. Soll das für die --gallery geändert werden???
	//       Andere Regions müssten doch auch den Border haben.
	//       Wie ist es dort gelöst?
	//       => Gar nicht. Es gibt keine Borders. Wenn, dann böte sich ein border-top an, weil
	//          die alle keinen margin-top haben.
	//       => Wenn das nächste Ressort z.B. Spektrum ist, dann braucht man auch keinen Border.
	//       => Idealerweise weiß eine Region, ob sie sich nach oben abgrenzen muss.

.cp-area
	padding: 0 $cp-padding
	float: left
	width: 100%
	&--parquet,
	&--spektrum,
	&--topic
		padding: 0
		position: relative
	&--ranking
		float: none
		max-width: remify(660px)
		margin-left: auto
		margin-right: auto
	&--gallery
		background-color: $zon_lighter_grey
		padding: remify(20px)
	+respond-min($break-areas)
		&--major
			width: 66.66%
		&--duo
			width: 50%
		&--minor
			width: 33.33%
		&--quartet
			width: 25%
