// RAM vertical space rules
// Regions have no vertical space except for duo regions which always have vertival space as $vertical-space
// Areas have no vertical space (and as they float don't collapse margins of children)
// Modules have vertical space on top and bottom as padding (or margin, e.g. column teaser)
//
// $vertical-space * 2 is the vertical gutter between two elements (rule of thumb)

.cp-region
	padding: 0 $cp-padding
	border-color: $color-border
	border-style: solid
	border-width: 0
	+pie-clearfix
	&:empty
		display: none
	&--parquet
		margin-bottom: 0
		padding: 0
		+respond-min($break-tablet-min)
			border-top-width: 1px
			&:last-child
				border-bottom-width: 1px
			+ div:not(.cp-region--parquet)
				border-top: 1px solid $color-border
			+ .cp-region--duo
				// padding instead of margin to keep the border at the
				// visual bottom of the preceding .cp-region--parquet
				margin-top: 0
				padding-top: $vertical-space

	// we want a border if grey meets grey
	&--gallery + &--parquet
		border-top-width: 1px

	// EXPERIMENT: We're trying to get rid of the 'padding/margin breakout kerfuffle'.
	// 			   Seems like we started with the desktop and retrofitted.
	// 			   This is an atempt to do it *mobile first*.
	&--solo,
	&--topic,
	&--gallery
		padding: 0
	&--duo
		+respond-min($break-tablet-min)
			margin-bottom: $vertical-space
			margin-top: $vertical-space
			&:first-child
				margin-top: 0

.cp-area
	padding: 0 $cp-padding
	width: 100%
	// EXPERIMENT: We're trying to get rid of the 'padding/margin breakout kerfuffle'.
	// 			   Seems like we started with the desktop and retrofitted.
	// 			   This is an atempt to do it *mobile first*.
	&--buzzboard,
	&--parquet,
	&--solo,
	&--spektrum,
	&--topic,
	&--zett,
	&--zplus-parquet,
	&--zmo-parquet,
	&--zco-parquet
		padding: 0
		position: relative
	&--author-list,
	&--newsticker,
	&--overview,
	&--ranking
		padding: 0 $page-padding--small

	&--ranking
		padding-top: remify(14px)

	&--buzzboard
		display: none
		+respond-min($break-tablet-min)
			display: block
	&--spektrum
		+respond-min($break-tablet-min)
			border-color: $primary-color-spektrum
			border-style: solid
			border-width: 1px 0
			margin-bottom: -1px
			margin-top: -1px

	&--newsticker-on-keywordpage,
	&--newsticker-on-topicpage
		+pie-clearfix
		border-bottom: 1px solid $color-border
		border-top: 1px solid $color-border
		padding-bottom: $page-padding

	+respond-min($break-areas)
		float: left
		&--author-list,
		&--newsticker,
		&--overview,
		&--ranking
			clear: both
			float: none
			margin: 0 auto
			padding: 0 $page-padding
		&--newsticker-on-keywordpage,
		&--newsticker-on-topicpage
			padding: remify(20px) $page-padding
		&--author-list
			max-width: $max-author-list-width + 2 * $page-padding
		&--overview
			max-width: $max-overview-width + 2 * $page-padding
		&--ranking,
		&--newsticker-on-keywordpage,
		&--newsticker-on-topicpage
			$max-ranking-width: $medium-content-width + 2 * $page-padding
			$ranking-box-shadow-width: (remify(780px) - $max-ranking-width) / 2
			background-color: $color-page-bg
			box-shadow: remify(-$ranking-box-shadow-width) 0 0 $color-page-bg, remify($ranking-box-shadow-width) 0 0 $color-page-bg
			max-width: $max-ranking-width
			padding-top: remify(20px)
			position: relative // give stacking context to align above header-image
		&--major
			width: 66.66%
		&--duo
			width: 50%
		&--minor
			width: 33.33%
		&--quartet
			width: 25%

	&--gallery,
	&--shop
		background-color: $zon-lighter-grey
		padding: 0 $page-padding remify(40px)
	// Printbanderole
	&--printkiosk
		background-color: $color-dark-background
		background-image: linear-gradient(to right, #4A4A4A 0%, #2C2A2B 30%, #494A4E 60%, #3B3B3D 80%, #4A4A4A 100%)
		color: $white
		padding: remify(24px 0 30px)
		text-align: center

	+respond-min($break-desktop-min)
		&--ranking
			padding-top: remify(30px)
