$cp-padding: em(10px)

.cp-region
	padding: 0 $cp-padding
	+pie-clearfix
	&--parquet-large,
	&--parquet-regular,
	&--parquet-spektrum
		padding: 0

.cp-area
	padding: 0 $cp-padding
	float: left
	width: 100%
	&--threequarters
		+respond-min($break-tablet-min)
			width: 75%
	&--twothirds
		+respond-min($break-tablet-min)
			width: 66.66%
	&--onehalf
		+respond-min($break-tablet-min)
			width: 50%
	&--onethird
		+respond-min($break-tablet-min)
			width: 33.33%
	&--onequarter
		+respond-min($break-tablet-min)
			width: 25%
	&--parquet
		padding: 0
