.dashboard
	border-bottom: 2px solid $color-border

	&__upper
		background-color: $trout

	&__lower
		background-color: $cararra

	&__header
		+font-smoothing
		margin: 0
		padding: remify(17px 0 20px)

	&__item
		@extend .article__item
		padding: 0 $page-padding--small

	&__kicker
		color: $charcoal
		display: block
		font-size: em(16px)
		letter-spacing: $zon-letter-spacing-m
		margin-bottom: remify(4px)

	&__title
		color: $white
		display: block
		font-size: em(24px)
		letter-spacing: 0.008em
		line-height: 1.25

	&__user
		align-items: center
		border-bottom: 2px solid $color-border
		display: flex
		padding: remify(32px 0)

	&__user-name
		font-size: em(18px)
		font-weight: bold
		letter-spacing: $letter-spacing-s
		overflow: hidden
		text-overflow: ellipsis

	&__user-image
		height: remify(80px)
		width: remify(80px)
		border-radius: 50%
		border: 2px solid $zon-light-grey
		margin: remify(-10px 20px -10px 0)

	&__box
		font-size: em(15px)
		letter-spacing: $letter-spacing-s
		padding: remify(32px 0)
		&:not(:last-child)
			border-bottom: 2px solid $color-border

	&__box-title
		text-transform: uppercase
		margin: remify(0 0 6px 0)

	&__box-list
		list-style: none
		padding: 0
		margin: 0
		a
			+animated-interaction()
			color: $grey
			border-bottom: 2px solid $zon-light-grey
			line-height: 2.4

	+respond-min($break-tablet-min)

		&__item
			padding: 0

		&__header
			padding: remify(40px 0)

		&__title
			font-size: em(34px)

		&__lower
			.dashboard__item
				display: flex
			.dashboard__box-list
				width: auto

		&__user
			border-bottom: none
			padding-right: remify(20px)
			width: 50%

		&__box
			display: flex
			flex-wrap: wrap
			padding: remify(40px 0)

		&__box-title
			width: 100%

		&__box-list
			width: 50%
