.follow-us
	border-top: 1px solid #ccc
	border-bottom: 1px solid #ccc
	padding: remify(20px 0 40px)
	margin: remify(40px 0)
	padding-left: $page-padding
	padding-right: $page-padding
	&__clear
		clear: both
	&__divider
		height: remify(40px)
		position: absolute
		left: 35%
		top: 19%
		bottom: 10%
		border-left: 1px solid $white
		opacity: 0
		+respond-min($break-tablet-min)
			opacity: 0.5
	&__follow-icon
		color: $white
	&__follow-icon
		height: remify(30px)
		width: remify(30px)
		vertical-align: middle
		+respond-min($break-tablet-min)
			float: left
			height: remify(24px)
			margin-left: 12%
			margin-right: (15px)
			width: remify(24px)
	&__link
		color: $white
		display: block
		font-size: remify(16px)
		height: remify(60px)
		width: remify(60px)
		padding: remify(17px 0)
		text-align: center
		+respond-min($break-tablet-min)
			width: 100%
			text-indent: 2.5%
			text-align: left
		+respond-min($break-desktop-min)
			text-indent: 5%
		&:hover,&:focus,&:active
			color: $white
		&--facebook
			background: $color-facebook
			.svg-symbol
				margin-left: remify(12px)
				+respond-min($break-tablet-min)
					margin-left: 14%
			&:hover
				background: $color-facebook-hover
		&--instagram
			background: $color-instagram
			&:hover
				background: $color-instagram-hover
		&--newsletter
			background: $color-newsletter
			&:hover
				background: $color-newsletter-hover
			.svg-symbol
				margin-top: remify(5px)
		&--twitter
			background: $color-twitter
			.svg-symbol
				+respond-min($break-tablet-min)
					margin-top: 3px
			&:hover
				background: $color-twitter-hover
		&--xing
			background: $color-xing
			&:hover
				background: $color-xing-hover
	&__linktext
		display: none
		+respond-min($break-tablet-min)
			display: inline-block
	&__title
		font-size: remify(18px)
		letter-spacing: remify(0.08px)
		margin: remify(10px auto 15px auto)
		width: remify(322px)
		+respond-min($break-tablet-min)
			width: 100%
	ul
		list-style: none
		margin: 0
		padding: 0
		text-align: center
		width: 100%
		+respond-min($break-tablet-min)
			display: flex
		li
			display: inline-block
			vertical-align: top
			margin-right: remify(2px)
			min-height: 60px
			position: relative
			+respond-min($break-tablet-min)
				float: left
				flex: 1 auto
				margin-right: remify(7px)
				width: 19.3%
		li:last-child
			margin: 0
