
// REFERENCE:
// https://zeit-online.atlassian.net/secure/attachment/19208/bigariegel_desktop%2Btablet_vermaßt.png
// https://zeit-online.atlassian.net/secure/attachment/19207/bigariegel_phone%2Bphablet_vermaßt.png

.teaser-gallery-group
	&__container
		// flexbox for same height
		+respond-min($break-tablet-min)
			+display-flex

	&__shuffle-button
		background-color: $white
		display: block
		margin: 0 auto

	&__shuffle-icon
		width: remify(15px)
		height: remify(13px)
		margin-right: 0.5em
		vertical-align: text-top

.no-js .js-gallery-teaser-shuffle
	display: none

.teaser-gallery
	background-color: $white
	margin-bottom: remify(20px)
	+respond-min($break-tablet-min)
		width: remify(354px)
		float: left

		// substitute for margin and last-of-type margin Gedöns
		&+.teaser-gallery
			margin-left: remify(20px)

	+respond-min($break-desktop-min)
		width: remify(460px)

	&:hover
		box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.05)

	&__media
		margin: 0

	&__container
		padding: remify(20px) remify(18px)

	&__heading
		margin: 0

	&__combined-link
		@extend %teaser-combined-link

	&__kicker
		@extend %teaser-kicker
		font-size: remify(14px)

	// Styling her?
	&__title
		@extend %teaser-title
		font-size: remify(18px)

	&__text,
	&__counter
		+respond-max($break-tablet-min)
			display: none

	&__text
		+respond-min($break-tablet-min)
			margin: 0
			font-size: 15px
			color: $zon_grey

	&__figurewrapper
		position: relative
		// min-height in case the image is not loaded (yet)
		min-height: 3rem

	&__icon
		position: absolute
		bottom: em(10px)
		left: em(10px)
		height: em(22px)
		width: em(32px)
		// svg colors
		stroke: $white
		fill: $zon-charcoal
		fill-opacity: 0.6

	&__counter
		position: absolute
		bottom: 0
		right: 0
		padding: remify(2px) 1rem
		background-color: #333338
		color: $white
		font-size: remify(12px)
		letter-spacing: 0.04em
