.centerpage-header
	+padded()
	background-color: $zon-lighter-grey
	margin-bottom: remify(32px)
	padding-bottom: remify(40px)
	padding-top: remify(40px)
	text-align: center

	&__title
		font-size: em(24px)
		letter-spacing: $letter-spacing-s
		margin: 0

	&__text
		font-family: $font-franziska
		font-size: em(17px)
		margin: remify(16px auto 30px)
		max-width: remify(620px)

	// styles for volume overview page
	&--archive
		background-color: transparent
		border-bottom: 1px solid $color-border

	&__dropdown,
	&__link
		font-size: em(13px)
		font-weight: bold
		letter-spacing: $letter-spacing-s
		color: inherit

	&__dropdown
		width: remify(150px)
		border-color: $zon-light-grey
		height: remify(30px)
		background-color: $white

	&__link
		+animated-interaction()
		border-bottom: 1px solid $zon-light-grey
		margin-left: remify(8px)

	+respond-min($break-phablet-min)
		&__text
			font-size: em(20px)

	+respond-min($break-tablet-min)
		margin-bottom: remify(48px)

		&--archive
			margin-left: $page-padding
			margin-right: $page-padding

		&__title
			font-size: em(34px)


