.header-image
	background-color: $color-dark-background
	color: #fff
	height: 0
	overflow: hidden // for overflowing image content on image variant switch
	padding-bottom: 100% / 7 * 3 // image variant 'cinema'
	position: relative
	&__media
		margin: 0
	&__media-container
		+plain-transparent-overlay()
	&__heading
		transform: translateY(-50%)
		font-size: 1em
		margin: 0
		padding: remify(0 $page-padding)
		position: absolute
		text-align: center
		top: 50%
		width: 100%
	&__kicker
		color: $zon-lighter-grey
		display: block
		font-size: remify(14px)
		font-weight: 400
		letter-spacing: 0.125em
		margin-bottom: 0.4em
		text-transform: uppercase
	&__title
		+font-smoothing
		display: block
		font-size: remify(18px)
		font-weight: 700
		line-height: 1.25
		letter-spacing: $zon-letter-spacing-m

	+respond-min($break-tablet-min)
		padding-bottom: 100% / 7 * 2 // image variant 'panorama'
		&__kicker
			font-size: remify(16px)
		&__title
			font-size: remify(36px)
