.figureCopyrightHidden
	display: none

.image-copyright-footer
	background-color: $zon_dark_grey
	color: $zon_mid_grey
	&__container
		+clearfix
		padding: $vertical-space $page-padding
		text-align: left
	&__headline
		+font-smoothing
		color: $zon-seashell
		margin: remify(0 0 20px)
		font-size: remify(16px)
	&__button
		background-color: transparent
		border: 0
		float: right
		padding: 0
		&:hover
			color: $zon_light_grey
			text-decoration: underline
	&__icon
		height: remify(18px)
		width: remify(18px)
	&__items
		list-style: none
		margin: 0
		padding: 0
	&__item
		+clearfix
		&-image
			background-color: $zon-charcoal // support column author images
			float: left
			margin: remify(0 20px 20px 0)
			width: 30%
		a
			color: inherit
			text-decoration: underline
			&:hover
				color: $zon_light_grey

+respond-min($break-tablet-min)
	.image-copyright-footer
		border-top: remify(20px) solid $zon-charcoal // fake margin to improve the animation
		&__items
			+display-flex()
			+flex-wrap(wrap)
		&__item
			+flex(0 1 50%)
