$markup-list-offset: em(18px)

%markup-ul
	list-style: none
	margin: .75em 0
	padding: 0
	li
		margin: .75em 0 .75em $markup-list-offset
		padding: 0
		position: relative
		&:before
			background-color: $zon-mid-grey
			border-radius: .1em
			content: ""
			height: remify(6px)
			left: -$markup-list-offset
			position: absolute
			top: .54em
			width: remify(6px)
	&:last-child,
	li:last-child
		margin-bottom: 0

.markup
	@extend %teaser
	border-bottom-width: 1px
	+respond-min($break-desktop-min)
		border-bottom-width: 0
	+default-article-textlink
	&__title
		@extend %teaser-title
		color: $zon-dark-grey
		margin: 0
	&__text
		@extend %teaser-text
		+respond-min($break-desktop-min)
			font-size: em(16px)
			line-height: 1.5
	ul
		@extend %markup-ul
