+respond-min($break-tablet-min)
	.newsticker
		&__column
			float: left
			width: 50%
			&:nth-last-child(even)
				padding-right: remify(15px)

.newsteaser
	font-size: remify(14px)

	&__time
		display: table-cell
		width: remify(36px)
	&__text
		display: table-cell
		padding-left: remify(10px)
	&__kicker
		color: $color-text-highlighted
		font-weight: bold
		letter-spacing: $zon-letter-spacing-m
	&__title
		padding-right: remify(5px)
	&__product
		color: $zon_mid_grey
		font-size: remify(12px)
	&__ad
		background: $zon-seashell
		margin: remify(15px 0)
		padding: 0
		.ad-desktop--7,
		.ad-desktop--8,
		.ad-mobile--4
			background: $zon-seashell
			padding: remify(30px 0)
