+respond-min($break-tablet-min)
	.newsticker
		&__column
			float: left
			width: 50%
			&:nth-last-child(even)
				padding-right: remify(15px)

.newsteaser
	font-size: remify(14px)
	padding-bottom: $cp-padding

	&__time
		width: remify(60px)
		display: inline-block
		color: $zon-mid-grey
	&__kicker
		color: $color-text-highlighted
		font-weight: bold
		letter-spacing: $zon-letter-spacing-m
	&__title
		margin: 0 remify(5px)
	&__product
		color: $zon-light-grey
		white-space: nowrap
		&:before
			content: "\2014"
			margin-right: remify(5px)
	&__ad
		background-color: $color-advertising-bg
		margin: remify(15px 0)
		padding: 0
		.ad-desktop--7,
		.ad-desktop--8,
		.ad-mobile--4
			background-color: inherit
			padding: remify(30px 0)

	+respond-min($break-tablet-min)
		max-width: remify(800px)
		margin-left: auto
		margin-right: auto
