$bg_img--jobs: 'http://www.zeit.de/angebote/stellenmarkt/stellenmarkt-freisteller'

.partnerbox
	margin: $vertical-space 0
	&__label
		@extend %label
		+respond-min($break-tablet-min)
			text-align: left

.partner
	background-color: $color-advertising-bg
	position: relative
	min-height: remify(140px)

	&__action
		padding: remify(0 25px)

	&__kicker
		height: remify(72px)
		text-align: left
		background-color: $zon-lighter-grey
		color: $zon-charcoal
		border-bottom: 1px solid $gainsboro

	&__kicker-text
		font-size: em(18px)
		font-weight: bold
		line-height: em(22px)
		display: table-cell
		vertical-align: middle
		height: remify(72px)
		+respond-min($break-phablet-min)
			padding-left: 15px

	&__kicker-img
		display: table-cell
		height: remify(72px)
		width: remify(130px)

	&__button-text
		+zon-button-colored($base-color: #168750, $margin: remify(14px 6px 14px 0))

	&__dropdown
		background-color: $gainsboro
		display: block
		width: 100%
		height: 40px
		line-height: 35px

	&__dropdown-option
		line-height: 35px

	&__dropdown-title
		display: block
		font-weight: 700
		color: $zon-charcoal
		font-size: em(18px)
		padding-bottom: remify(15px)

	&__dropdown-intro,
	&__intro
		color: $zon-grey
		font-size: em(14px)
		line-height: em(25px)
		letter-spacing: $letter-spacing-s
		display: block
		+respond-min($break-desktop-min)
			display: table-cell
			vertical-align: top

	&__intro
		padding: remify(25px)

	&__dropdown-intro
		padding: remify(10px 0)

	&__link
		display: block
		letter-spacing: $letter-spacing-s
		font-size: em(15px)
		line-height: em(23px)
		padding-bottom: remify(20px)
		+respond-min($break-phablet-min)
			display: inline-block
			margin-left: remify(20px)

	&__link-url
		border-bottom: 1px solid rgba($zon-grey, .4)
		+on-interaction
			border-bottom-color: rgba($zon-grey, .8)
			color: $zon-grey


	/* modifier */
	&--jobs
		.partner
			&__action
				+respond-min($break-desktop-min)
					width: 55%
					display: table-cell
					vertical-align: top
					padding: remify(25px)

			&__dropdown-intro
				display: none

			&__kicker-img
				background: $zon_lighter_grey url($bg_img--jobs) no-repeat right
				background-size: cover

	&--reisen
		.partner
			&__button-text
				+zon-button-colored($base-color: #c27800, $margin: remify(14px 6px 14px 0))

			&__link
				text-align: right
				padding: remify(20px 0)
				+respond-min($break-phablet-min)
					text-align: left
					position: absolute
					bottom: remify(5px)
					left: 0
					padding: 0
					margin-left: remify(10px)
				+respond-min($break-desktop-min)
					margin-left: remify(20px)

			&__link-icon
				color: $zon-grey
				height: remify(25px)
				width: remify(160px)

			&__link-text
				color: $zon-grey

			&__action
				+respond-min($break-phablet-min)
					width: 65%
					display: table-cell
					vertical-align: top
					padding-top: remify(25px)

			&__dropdown-intro,
			&__intro
				padding: remify(0 0 15px 0)
				+respond-min($break-phablet-min)
					display: table-cell

			&__intro
				+respond-min($break-tablet-min)
					padding-top: remify(25px)
				+respond-min($break-desktop-min)
					padding-top: 0

