$bg-kicker--jobs: 'http://www.zeit.de/angebote/stellenmarkt/stellenmarkt-freisteller'

.partnerbox
    margin: $vertical-space 0
    &__label
        @extend %ad-label
        +respond-min($break-desktop-min)
            text-align: left

.partner
    background-color: $whitesmoke
    padding-bottom: remify(20px)
    position: relative
    min-height: remify(140px)
    &__action
        padding: remify(0 25px)
        +respond-min($break-desktop-min)
            display: table-cell
            vertical-align: top
            width: 55%
            padding: remify(25px)
    &__intro
        color: $zon-grey
        font-size: em(14px)
        line-height: em(25px)
        letter-spacing: $letter-spacing-s
        padding: remify(25px)
        display: block
        +respond-min($break-desktop-min)
            display: table-cell
            vertical-align: top

.p-kicker
    height: remify(72px)
    text-align: left
    background-color: $zon-lighter-grey
    color: $white
    &__text
        font-size: em(18px)
        font-weight: bold
        line-height: em(22px)
        display: table-cell
        vertical-align: middle
    &--jobs
        color: $zon-charcoal
        border-bottom: 1px solid $gainsboro
        .p-kicker__img
            display: table-cell
            height: remify(72px)
            width: remify(130px)
            background: $zon-lighter-grey url($bg-kicker--jobs) no-repeat right
            background-size: cover

.pa-button
    display: inline-block
    &__text
        +zon-button(rgba(22, 135, 80, .8),rgba(22, 135, 80, 1),$white,$white,$white)
        margin-left: 0px

.pa-dropdown
    background-color: $gainsboro
    display: block
    height: remify(35px)
    width: 100%

.pa-link
    display: block
    letter-spacing: $letter-spacing-s
    font-size: em(15px)
    line-height: em(23px)
    color: $zon-grey
    a
        border-bottom: 1px solid rgba($zon-grey, .4)
        +on-interaction
            border-bottom-color: rgba($zon-grey, .8)
            color: $zon-grey
    +respond-min($break-0)
        display: inline-block
        margin-left: remify(20px)

