.ressortnav
	padding: 0 $page-padding--small
	&__headline
		border-bottom: 1px solid $zon-light-grey
		color: $zon-dark-grey
		font-size: em(16px)
		letter-spacing: $letter-spacing-m
		line-height: 1.2
		margin: 0
		padding: 0 0 remify(16px)
		text-transform: uppercase
		width: 100%
		&[role="button"]
			cursor: pointer
			&:after
				+build-mobile-plus-minus-button()
			+respond-min($break-tablet-min)
				cursor: default
		&[aria-expanded="true"]
			&:after
				content: "\2212"
		+respond-min($break-tablet-min)
			margin: 0 auto
			max-width: 41.25rem
	&__list
		display: grid
		grid-column-gap: 15px
		grid-template-columns: 50% 50%
		list-style: none
		margin-top: 5px
		overflow: hidden
		padding: 0
		&[aria-hidden="true"]
			display: none
			+respond-min($break-tablet-min)
				display: block
		+respond-min($break-tablet-min)
			display: grid
			grid-column-gap: 15px
			grid-template-columns: 25% 25% 25% 25%
			padding-top: 4px
	&__item
		float: left
		min-width: 50%
		line-height: 2.85
		margin: 0
		a
			border-bottom: 1px solid $zon-lighter-grey
			display: block
			font-size: em(14px)
			margin-top: -1px
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
		+respond-min($break-tablet-min)
			line-height: 2.85
			a
				border: 0

	+respond-min($break-areas)
		clear: both
		margin: 0 auto
		max-width: remify(620px) + 2 * $page-padding
		padding: 0 $page-padding
		&__list
			margin-top: 5px
