
// TODO: this could be used for Schlagzeilen, Momentaufnahme, and more

.centerpage-ressort-heading
	position: relative
	&__title
		color: $zon-charcoal
		font-size: remify(21px)
		font-weight: 700
		letter-spacing: $zon-letter-spacing-s
		line-height: 1
		margin-bottom: remify(14px)
		+respond-min($break-desktop-min)
			font-size: remify(24px)
	&__readmore-link
		color: $grey--mid
		display: block
		font-size: remify(14px)
		font-weight: 700
		letter-spacing: $zon-letter-spacing-s
		line-height: 1
		position: absolute
		right: 0
		text-decoration: none
		top: remify(7px)

		+link
			color: $grey--mid
			text-decoration: none
		+on-interaction
			color: $grey
		&:after
			+inline-block
			content: " \203A"
			font-size: remify(32px)
			line-height: 0
			position: absolute
			right: 0
			+respond-min($break-phablet-min)
				font-size: 1em
				padding-left: remify(4px)
				position: static
				right: auto
	&__readmore-linktext
		+respond-max($break-phablet-min)
			display: none
