.section-heading
	margin: 0 $page-padding
	padding: remify(24px) 0
	position: relative

	&--unpadded
		margin: 0
	&--zeitshop
		text-align: center
		+respond-min($break-tablet-min)
			text-align: left

	&__title
		font-size: remify(21px)
		font-weight: 700
		letter-spacing: $zon-letter-spacing-s
		line-height: 1
		margin: 0
		+respond-min($break-desktop-min)
			font-size: remify(24px)

		&--zeitshop
			display: block
			+on-interaction
				color: $zon_grey

	&__link
		bottom: remify(24px)
		color: $zon_dark_grey
		font-size: remify(14px)
		font-weight: 700
		letter-spacing: $zon-letter-spacing-s
		line-height: 1
		position: absolute
		right: 0

		&--unpadded
			right: 0

		&--zeitshop
			display: none
			+respond-min($break-tablet-min)
				display: inline

		+link
			color: $zon_dark_grey
		+on-interaction
			color: $zon_grey
		&:after
			content: "\25BA" // ► = black right-pointing pointer
			font-size: remify(32px)
			+respond-min($break-phablet-min)
				// content: "\25B8" // ▸ = Black Right-Pointing Small Triangle
				font-size: 1em

	&__text
		+respond-max($break-phablet-min)
			display: none

	&__logo
		&--zeitshop
			max-width: remify(160px)
			max-height: remify(22px)

