.snapshot
	margin: remify(32px 0)
	position: relative

	&__media
		margin: 0

	&__caption
		color: $zon-charcoal
		font-size: em(16px)
		line-height: 1.35
		padding: remify(14px $page-padding 0)

	&__copyright
		color: $zon-grey
		a
			color: inherit
			+on-interaction
				color: $color-link--hover
