.snapshot
	margin-top: $twice
	position: relative
	&__media
		margin: 0 (-$page-padding) remify(14px)
		+respond-min($break-desktop-min)
			margin: 0 0 remify(14px) 0

.js
	.snapshot__media
		opacity: 0.1
		+filter(blur(10px))
		+transition-property(filter, opacity)
		+transition-duration(2.5s)
		+transition-timing-function(ease-out)
	.snapshot
		display: none
		&--visible
			display: block
		&--uncovered .snapshot__media
			opacity: 1
			+filter(blur(0))

.snapshot-caption
	color: $zon-charcoal
	font-size: remify(16px)
	line-height: 1.35em
	&__link
		+link
			color: $zon_mid_grey
			text-decoration: none
		+on-interaction
			color: inherit
			text-decoration: underline
	&__item
		color: $zon_mid_grey
