.volume-overview-teaser
	padding-bottom: $page-padding--small/2
	&__media
		display: block
		margin: $page-padding $page-padding--small/2 0
	&__media-container
		width: remify(130px)
	&__issue,
	&__link
		font-family: $font-tabletgothic
		font-size: remify(14px)
		font-weight: bold
		font-style: normal
		letter-spacing: $letter-spacing-l
		margin: 0
	&__issue
		margin-top: $page-padding--small/2
	&__link
		padding-bottom: remify(2px)
		font-weight: normal
		color: $zon-mid-grey
		border-bottom: 1px solid $zon-mid-grey

+respond-min($break-tablet-min)
	.volume-overview-teaser
		padding: $page-padding--small/2 $page-padding--small/2
		&__media
			display: inline-block
			margin: $page-padding $page-padding--small/2 0
		&__media-container
			width: remify(220px)
