.volume-navigation
	background-color: $zon-lighter-grey
	display: flex
	flex-wrap: wrap

	&__media
		width: remify(100px)
		margin-right: 0
		margin-left: auto

	&__current
		padding: remify(20px 30px)
		flex-grow: 1
		border-bottom: solid 1px $zon-light-grey
		margin: auto
		width: 100%
		display: block

	&__packshot,
	&__cta
		display: table-cell

	&__cta
		vertical-align: middle
		padding-left: remify(15px)
		width: 75%

	&__packshot
		width: 25%

	&__link
		+animated-interaction()
		font-weight: bold
		color: $zon-dark-grey
		font-size: remify(16px)
		line-height: remify(22px)
		border-bottom: 1px solid $zon-light-grey

	&__previous,
	&__next
		display: inline-block
		flex-grow: 1

	&__next
		text-align: right

	&__previous-link,
	&__next-link
		line-height: remify(50px)
		font-size: remify(12px)
		letter-spacing: $letter-spacing-m
		&:after,
		&:before
			font-size: remify(30px)
			padding: remify(0 8px)
			vertical-align: sub

	&__next-link
		text-align: right
		&:after
			content: "\203A"

	&__previous-link
		&:before
			content: "\2039"

	+respond-min($break-tablet-min)

		flex-wrap: nowrap
		min-height: remify(145px)

		&__previous
			order: 1

		&__current
			width: 60%
			max-width: remify(400px)
			order: 2
			border-bottom: none

		&__next
			order: 3

		&__previous,
		&__next
			min-width: 20%
			align-self: center

		&__previous-link,
		&__next-link
			&:before,
			&:after
				padding: remify(0 10px)

		&__media
			width: remify(150px)

	+respond-min($break-desktop-min)
		&__media
			width: remify(200px)
			padding: 0

		&__current
			transform: translateY(-30px)
			padding: remify(0 30px)
			max-width: remify(680px)

		&__cta
			padding-top: remify(50px) //center text again

		&__cta,
		&__packshot
			width: auto

		&__previous-link,
		&__next-link
			font-size: remify(14px)

		&__previous-link
			&:before
				padding-left: remify(20px)

		&__next-link
			&:after
				padding-right: remify(20px)
