.volume-heading
	position: relative
	background-color: magenta

	&__issue
		+font-smoothing()
		color: $white
		position: relative
		display: inline-block
		z-index: 1
		+respond-min($break-tablet-min)
			padding: remify(100px 0 0 60px)
		+respond-max($break-tablet-min)
			margin: remify(24px 0 50px)

	&__caption
		height: 24px
		font-family: TabletGothic
		font-weight: bold
		font-size: $font-xl
		letter-spacing: $letter-spacing-m
		+respond-min($break-tablet-min)
			margin-top: remify(16px)

	&__navigation
		background-color: $zon-lighter-grey
		display: flex
		flex-wrap: wrap

	&__media
		width: remify(100px)
		margin-left: auto
		margin-right: 0

	&__current
		padding: remify(20px 0 25px 0)
		width: 100%
		flex-grow: 1
		border-bottom: solid 1px $zon-light-grey

	&__packshot,
	&__cta
		display: inline-block

	&__cta
		font-weight: bold
		color: $zon-dark-grey
		font-size: remify(16px)
		padding-right: remify(15px)
		width: 50%
		vertical-align: top

	&__packshot
		padding: remify(0 15px)
		width: 40%

	&__link
		+animated-interaction()
		color: $zon-dark-grey
		border-bottom: 1px solid $zon-light-grey

	&__previous,
	&__next
		flex-grow: 1
		line-height: remify(50px)
		font-size: remify(12px)
		color: $zon-charcoal
		letter-spacing: $zon-letter-spacing-m
		&:after,
		&:before
			font-size: remify(30px)
			padding: remify(0 10px)
			vertical-align: sub

	&__next
		text-align: right
		&:after
			content: "\203A"

	&__previous
		&:before
			content: "\2039"

	+respond-min($break-tablet-min)
		&__navigation
			flex-wrap: nowrap
			height: remify(145px)

		&__previous
			order: 1

		&__current
			width: auto
			order: 2
			border-bottom: none
			align-self: center

		&__next
			order: 3

		&__previous,
		&__next
			padding: remify(20px 0 25px 0)
			min-width: 20%
			align-self: center
			font-size: remify(14px)

		&__media
			width: remify(220px)
			padding: 0
			transform: translateY(-30px)

		&__cta
			transform: translateY(60px)
			padding-left: remify(15px)

