.volume-navigation
	position: relative
	
	&__navigation
		background-color: $zon-lighter-grey
		display: flex
		flex-wrap: wrap

	&__media
		width: remify(100px)
		margin-left: auto
		margin-right: 0

	&__current
		padding: remify(20px 0 25px 0)
		width: 100%
		flex-grow: 1
		border-bottom: solid 1px $zon-light-grey

	&__packshot,
	&__cta
		display: table-cell

	&__cta
		font-weight: bold
		color: $zon-dark-grey
		font-size: remify(16px)
		padding-right: remify(30px)
		line-height: remify(22px)
		width: 50%
		vertical-align: top

	&__packshot
		padding: remify(0 15px)
		width: 40%

	&__link
		+animated-interaction()
		color: $zon-dark-grey
		border-bottom: 1px solid $zon-light-grey

	&__previous,
	&__next
		display: inline-block // non flex fallback
		flex-grow: 1
		line-height: remify(50px)
		font-size: remify(12px)
		letter-spacing: $zon-letter-spacing-m
		&:after,
		&:before
			font-size: remify(30px)
			padding: remify(0 8px)
			vertical-align: sub

	&__next
		text-align: right
		&:after
			content: "\203A"

	&__previous
		&:before
			content: "\2039"

	+respond-min($break-tablet-min)

		&__navigation
			flex-wrap: nowrap
			min-height: remify(145px)

		&__previous
			order: 1

		&__current
			width: auto
			order: 2
			border-bottom: none

		&__next
			order: 3

		&__previous,
		&__next
			min-width: 20%
			align-self: center
			&:before,
			&:after
				padding: remify(0 10px)

		&__media
			width: remify(150px)

		&__cta
			padding-left: remify(15px)
			vertical-align: middle

	+respond-min($break-desktop-min)
		&__media
			width: remify(220px)
			padding: 0

		&__current
			transform: translateY(-30px)
			padding: 0

		&__cta
			padding-top: remify(50px) //center text again

		&__previous,
		&__next
			font-size: remify(14px)

		&__previous
			&:before
				padding-left: remify(20px)

		&__next
			&:after
				padding-right: remify(20px)
