.volume-heading
	position: relative

	&__issue
		+font-smoothing()
		color: $white
		position: relative
		display: inline-block
		z-index: 1
		+respond-min($break-tablet-min)
			padding: remify(100px 0 0 60px)
		+respond-max($break-tablet-min)
			margin: remify(24px 0 50px)

	&__caption
		height: 24px
		font-family: TabletGothic
		font-weight: bold
		+respond-min($break-desktop-min)
			font-size: $font-xxxl
			letter-spacing: $letter-spacing-l
			margin-top: remify(20px)
		+respond-max($break-desktop-min)
			font-size: $font-xl
			letter-spacing: $letter-spacing-m
			margin-top: remify(16px)

.volume-heading-teaser
	@extend .teaser-topic-item
	&__kicker
		@extend .teaser-topic-item__kicker
	&__title
		@extend .teaser-topic-item__title
		
	&:after
		@extend .teaser-topic-item:after
		+respond-max($break-tablet-min)
			border-bottom: 1px solid rgba(255, 255, 255, 1)
			width: remify(70px)
