<span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="url" content="{{ request.route_url('home') }}index">
    <meta itemprop="name" content="ZEIT ONLINE">
    <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="url" content="{{ request.asset_host }}/images/structured-data-publisher-logo-zon.png">
        <meta itemprop="width" content="565">
        <meta itemprop="height" content="60">
    </span>
</span>
