+keyframes('comments_fade_in')
  0%
    +simple-transform(0, null, -100px, null, null, null, left, top)
    opacity: 0
  50%
    opacity: 0
  100%
    +simple-transform(1, null, 0, null, null, null, left, top)
    opacity: 1
