// margins/paddings
$micro:          em(4px)
$tiny:           em(6px)
$thin:           em(8px)
$fine:           em(10px)
$smaller:        em(14px)
$small:          em(18px)
$medium:         em(36px)
$large:          em(56px)
$wide:           em(72px)
$huge:           em(90px)

// font sizes in px
$font-xs--px: 12px
$font-s--px:  14px
$font-m--px:  16px
$font-ml--px: 24px
$font-l--px:  30px
$font-xl--px: 40px

// font sizes in em
$font-xs: em($font-xs--px)
$font-s:  em($font-s--px)
$font-m:  em($font-m--px)
$font-ml: em($font-ml--px)
$font-l:  em($font-l--px)
$font-xl: em($font-xl--px)

// font sizes in rem
$font-xs--rem: em_to_rem($font-xs)
$font-s--rem:  em_to_rem($font-s)
$font-m--rem:  em_to_rem($font-m)
$font-ml--rem: em_to_rem($font-ml)
$font-l--rem:  em_to_rem($font-l)
$font-xl--rem: em_to_rem($font-xl)

$base-line-height: 1.55

// utility colors
$yellow:         #FFE117
$red:            #d4170E
$blue:           #213872
$midnight:       #0B162F

$white:          #FFF
$grey--bright:   #f9f9f9
$grey--light:    #EEE
$grey--mid:      #414141
$grey--dark:     #171717
$grey:           #212b30
$black:          #000

// semantic colors
$color-page-bg: $white
$color-text: $black
$color-canvas-bg: $grey--dark

// content lengths
$small-content-width:  27em
$medium-content-width: 35em
$large-content-width:  44.25em
$max-page-width:       em(980px)

// layout
$page-padding: em(20px)

// Standard breakpoints
$break-0: em(480px)
$break-1: em(576px)
$break-2: em(720px)
$break-3: em(1024px)
$break-4: em(1120px)