*
  +box-sizing(border-box)

body
  +franziska
  font-size: $font-m
  line-height: $base-line-height
  color: $color-text
  margin: 0
  padding: 0

img
  max-width: 100%
  height: auto
  display: block