.button, %button
  +inline-block
  +tablet
  font-size: $font-s
  cursor: pointer
  text-transform: uppercase
  padding: $fine $small $thin*0.8 $small
  background-color: $red
  color: $white
  letter-spacing: 1px
  border: none

textarea
  +tablet
  +border-radius(0)
  display: block
  width: 100%
  border: none
  background-color: $grey--light
  min-height: em(150px)
  padding: $small
