@function em($px)
  @return $px/16px * 1em

@function rem($px)
  @return $px/16px * 1rem

@function em_to_rem($em)
  @return $em/1em * 1rem

@function fix-gradient-direction($direction-or-angle)
  $direction: compact()
  $opposite-direction: compact()

  @if nth($direction-or-angle, 1) == 'to' // w3c
    $direction: $direction-or-angle
    @for $i from 2 through length($direction-or-angle)
      $opposite-direction: append($opposite-direction, opposite-position(nth($direction-or-angle, $i)), space)
  @else if type-of($direction-or-angle) == number // deg
    $direction: $direction-or-angle
    $opposite-direction: abs($direction-or-angle - 450) % 360
  @else
    $direction: append($direction, to, space)
    @each $pos in $direction-or-angle
      $direction: append($direction, opposite-position($pos), space)
    $opposite-direction: $direction-or-angle

  @return $direction, $opposite-direction
