// just the file, we’ll need it soonish

.bleed, %bleed
  +bleed

.round-img, %round-img
  +border-radius(50%)

.padded, %padded
  +padded

.tc
  text-align: center

.visuallyhidden
  +visuallyhidden

.clear
  display: block
  clear: both