// quick hacks go here, fix ’em up at some point

body
  background-color: $color-canvas-bg

//define variable or change with already defined one
.meta-link, %meta-link
  &:hover
    color: #7fa7e1
    border-bottom: 2px solid #7fa7e1