.is-constrained
  max-width: 660px
  max-width: rem(660px)

.is-centered
  display: block
  margin: 0 auto

.has-dropcap
  > p:first-of-type:first-letter
    +tablet
    font-size: $font-xl*2
    display: block
    height: 0.7em
    line-height: 1.15
    float: left
    margin-left: -0.06em
    padding-right: 2%
    text-align: center
    +respond-min($break-3)
      font-size: $font-xl*2.1
      line-height: 1.15