.comments,
.main-nav__community,
.article__page figure,
.tc,
.bx-wrapper,
.main-footer__Z,
.scaled-image,
.is-pixelperfect
	display: none !important

.main-nav,
.main-nav__wrap,
.main-nav__wrap
	overflow: hidden !important

.main-footer__C
	text-align: center
	padding-bottom: 4em

.article.article--longform .article__head-wrap
	background: $white
