.comments,
.main-nav__community,
.article__page figure,
.tc,
.bx-wrapper,
.main-footer__Z,
.scaled-image,
.is-pixelperfect,
.main-nav__service-primary
	display: none !important

.main-nav,
.main-nav__wrap,
.main-nav__wrap
	overflow: hidden !important

.main-footer__C
	text-align: center
	padding-bottom: 4em

.article--longform .article__head-wrap
	background: $white !important
	color: $white
	height: auto !important
	min-height: 1% !important
	position: static !important
	padding: $huge 0 0 0 !important 

.article--longform .article__title,
.article--longform .article__meta
	color: $black !important

.article--longform
	width: $max-page-width !important

.article--longform .article__title-wrap
	position: static !important
	text-align: center !important
	left: auto !important
	top: auto !important
	padding: $fine

.article__subpage-index
	top: 0 !important