{% extends "zeit.web.core:templates/inc/area/default.html" %}
{% block after_module_include %}
    {# new adplace, on zmo cps, first region, first area, after second module #}
    {# except the first region is a solo teaser, then second region, first area, first module #}
    {% set region_number = 2 if region_loop.previtem is defined else 1 %}
    {% set module_number = 1 if region_loop.previtem is defined else 2 %}
    {% if region_loop.index == region_number  and area_loop.index == 1 and module_loop.index == module_number %}
        {% include "zeit.web.core:templates/inc/ads/places/mobile/place3.html" %}
    {% endif %}
    {% if view.is_hp and module_loop.index == 8 and area_loop.first %}
        {% include "zeit.web.core:templates/inc/ads/places/mobile/place4.html" %}
    {% endif %}
{% endblock %}
