{% extends "zeit.web.site:templates/komplettansicht.html" %}

{% block css_link %}
    <link href="{{ request.asset_host }}/css/web.site/advertorial.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock css_link %}

{% block advertorial_marker %}
    {% if view.advertorial_marker %}
    <div class="advertorial-marker">
        <div class="advertorial-marker__label">{{ view.advertorial_marker[2] }}</div>
        <div class="advertorial-marker__title">{{ view.advertorial_marker[0] }}</div>
        <div class="advertorial-marker__text">{{ view.advertorial_marker[1] }}</div>
    </div>
    {% endif %}
{% endblock advertorial_marker %}
