{% extends "zeit.web.site:templates/content.html" %}
{% import "zeit.web.site:templates/macros/article_macro.tpl" as blocks with context %}

{% macro render_page(page) %}
    {% for item in page %}
        {{ (blocks[item | block_type] or blocks["no_block"])(item) }}
    {% endfor %}
{% endmacro %}

{% block content_ad_script -%}
{% if view.context.advertising_enabled %}
<!-- content ad script, commented out until toggled -->
<!--script type="text/javascript">
    (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = document.location.protocol + '//cdn.iqcontentplatform.de/iq.js';
        var sc = document.getElementsByTagName('script')[0]; sc.parentNode.insertBefore(s, sc);
    })();
</script-->
{% endif %}
{%- endblock %}


{% block article_pages %}
    <div class="article-page">
        {{ render_page(view.current_page) }}
    </div>
{% endblock article_pages %}

{% block article_pagination %}
    {% include "zeit.web.site:templates/inc/article/pagination.tpl" ignore missing %}
{% endblock article_pagination %}

{% block article_interactions %}
    <div class="article-interactions article__item">
        <div class="interaction-print"></div>
        <div class="more-interactions"></div>
        <div class="sharing-menu">
            <span class="sharing-menu__title js-sharing-menu">Teilen</span>
            <ul class="sharing-menu__items">
                <li class="sharing-menu__item">
                    <a class="sharing-menu__link sharing-menu__link--facebook" href="http://www.facebook.com/sharer/sharer.php?u={{ view.article_url }}" target="_blank">
                        Facebook
                    </a>
                </li>
                <li class="sharing-menu__item">
                    <a class="sharing-menu__link sharing-menu__link--twitter" href="http://twitter.com/intent/tweet?text={{ view.title }}&url={{ view.article_url }}&via=zeitonline" target="_blank">
                        Twitter
                    </a>
                </li>
                {# Google+ will be closed in the near future, all info is fetched automaticall, no params needed #}
                <li class="sharing-menu__item">
                    <a class="sharing-menu__link sharing-menu__link--google" href="https://plus.google.com/share?url={{ view.article_url }}" target="_blank">
                        Google +
                    </a>
                </li>
                <li class="sharing-menu__item">
                    <a class="sharing-menu__link sharing-menu__link--mail" href="mailto:?subject={{ view.title }} - Artikel auf ZEIT ONLINE&body=Artikel auf ZEIT ONLINE lesen: {{ view.article_url }}">
                        Mail
                    </a>
                </li>
                <li class="sharing-menu__item sharing-menu__item--whatsapp">
                    <a class="sharing-menu__link sharing-menu__link--whatsapp" href="whatsapp://send?text={{ view.title }} - Artikel auf ZEIT ONLINE: {{ view.article_url }}">
                        WhatsApp
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
