{% extends "zeit.web.site:templates/content.html" %}
{% import "zeit.web.site:templates/macros/article_macro.tpl" as blocks with context %}

{% macro render_page(page) %}
    {% for item in page %}
        {{ (blocks[item | block_type] or blocks["no_block"])(item)}}
    {% endfor %}
{% endmacro %}


{% block article_pages %}
    <div class="article-page">
        {{ render_page(view.current_page) }}
    </div>
{% endblock article_pages %}

{% block article_pagination %}
    {% include "zeit.web.site:templates/inc/article/pagination.tpl" ignore missing %}
{% endblock article_pagination %}
