{% extends "zeit.web.site:templates/article.html" %}

{% block article_pages %}
    {% for page in view.pages %}
        <div class="article-page">
            {% if not loop.first %}
            <h3 class="article-page__page-teaser article__item">{{ page.teaser }}</h3>
            {% endif %}
            {{ render_page(page) }}
        </div>
    {% endfor %}
{% endblock article_pages %}

{% block article_google_ad %}
    {% if view.context.advertising_enabled -%}
        {{ blocks.adplace_desktop(view.banner(5)) }}
    {%- endif %}
{% endblock article_google_ad %}

{% block article_pagination %}
{% endblock article_pagination %}
