{% extends "zeit.web.site:templates/article.html" %}

{% block article_main_image %}
    {{ blocks['image'](view.main_image_block)}}
{% endblock article_main_image %}

{% block article_pages %}
    {% for page in view.pages %}
        <div class="article-page">
            {% if not loop.first %}
            <h3 class="article-page__page-teaser article__item">{{ page.teaser }}</h3>
            {% endif %}
            {{ render_page(page) }}
        </div>
    {% endfor %}
{% endblock article_pages %}

{% block article_pagination %}
{% endblock article_pagination %}
