{% extends "zeit.web.site:templates/layout.html" %}

{% block main %}
    {% include "zeit.web.site:templates/inc/author/header.html" %}
    {% include "zeit.web.site:templates/inc/author/profile.html" %}

    <div class="tabbar">
        <ul class="tabbar__container">
            <li class="tabbar__item">
            {% if view.current_tab_name == '' %}
                <span class="{{ 'tabbar__link' | with_mods('active') }}">Artikel</span>
            {% else %}
                <a class="tabbar__link" href="{{view.content_url}}">Artikel</a>
            {% endif %}
            </li>

            <li class="tabbar__item">
            {% if view.current_tab_name == 'kommentare' %}
                <span class="{{ 'tabbar__link' | with_mods('active') }}">Kommentare</span>
            {% else %}
                <a class="tabbar__link" href="{{view.content_url}}/kommentare">Kommentare</a>
            {% endif %}
            </li>
        </ul>
    </div>

    {%- for area in view.tab_areas %}
    {%- set area_loop = loop %}
    {% include "zeit.web.site:templates/inc/area/includer.html" %}
    {%- endfor %}

{% endblock main %}
