{% extends "zeit.web.site:templates/layout.html" %}

{% block structured_data -%}
    {% include "zeit.web.core:templates/inc/structured-data/author.html" %}
{% endblock structured_data -%}

{% block main %}
    {% include "zeit.web.site:templates/inc/author/header.html" %}
    {% include "zeit.web.site:templates/inc/author/profile.html" %}

    <div class="tabbar" id="author-content">
        <ul class="tabbar__container author__item">
            <li class="tabbar__item">
            {% if view.current_tab_name == '' %}
                <span class="{{ 'tabbar__link' | with_mods('active') }}">Artikel</span>
            {% else %}
                <a class="tabbar__link" href="{{ view.content_url }}#author-content">Artikel</a>
            {% endif %}
            </li>

            {% if view.current_tab_name == 'kommentare' %}
            <li class="tabbar__item">
                <span class="{{ 'tabbar__link' | with_mods('active') }}">Kommentare</span>
            </li>
            {% elif view.has_author_comments %}
            <li class="tabbar__item">
                <a class="tabbar__link" href="{{ view.content_url }}/kommentare#author-content">Kommentare</a>
            </li>
            {% endif %}

            {% if toggles('author_feedback') and view.enable_feedback %}
                {% if view.current_tab_name == 'feedback' %}
                <li class="tabbar__item">
                    <span class="{{ 'tabbar__link' | with_mods('active') }}">Feedback</span>
                </li>
                {% elif view.author_email is not none %}
                <li class="tabbar__item">
                    <a class="tabbar__link" href="{{ view.content_url }}/feedback#author-content">Feedback</a>
                </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>

    <div class="author__item">
    {%- for area in view.tab_areas %}
        {%- set area_loop = loop %}
        {% include "zeit.web.core:templates/inc/area/includer.html" %}
    {%- endfor %}
    </div>

{% endblock main %}
