{% extends "zeit.web.site:templates/layout.html" %}

{% block main %}
    {% include "zeit.web.site:templates/inc/author/header.html" %}
    {% include "zeit.web.site:templates/inc/author/profile.html" %}

    <div class="{{ 'cp-region' | with_mods('tabbed') }}">
        <div> <!-- XXX This needs proper tab markup. -->
          <h3><a class="{{'current' if view.current_tab_name == ''}}" href="{{view.content_url}}">Artikel</a></h3>
          {% if view.has_author_comments %}
            <h3><a class="{{'current' if view.current_tab_name == 'kommentare' }}" href="{{view.content_url}}/kommentare">Kommentare</a></h3>
          {% endif %}
        </div>

        {%- for area in view.tab_areas %}
            {%- set area_loop = loop %}
            {% include "zeit.web.site:templates/inc/area/includer.html" %}
        {%- endfor %}
    </div>

{% endblock main %}
