{% extends "zeit.web.site:templates/layout.html" %}

{% block main %}
    <div class="main__fullwidth">
        <div class="beta-teaser">
            {% if view.beta_teaser_img %}
            <img class="beta-teaser__image" alt="ZEIT ONLINE Beta Teaser" src="{{ view.beta_teaser_img }}">
            {% endif %}
            {% if view.beta_user == True %}
            <span class="beta-teaser__kicker">Open Beta</span>
            <span class="beta-teaser__title" id="beta-title">ZEIT&nbsp;ONLINE Beta</span>
            <p class="beta-teaser__prose">
                Vielen Dank, dass Sie die Beta-Version von ZEIT&nbsp;ONLINE testen.
                Hier können Sie jederzeit zwischen der Beta-Version und der klassischen
                Ansicht wechseln:
            </p>
            <form id="beta-toggle" class="beta-teaser__cta beta-teaser__cta--aligned" action="{{ view.friedbert_host }}beta" method="POST">
                <input class="beta-teaser__radio" type="radio" name="opt" value="in" id="opt-in"{% if view.site_version == "opt_in" %} checked{% endif %}>
                <label class="beta-teaser__label" for="opt-in">Ich möchte die neue Beta-Version von ZEIT&nbsp;ONLINE sehen.</label>
                <input class="beta-teaser__radio" type="radio" name="opt" value="out" id="opt-out"{% if view.site_version != "opt_in" %} checked{% endif %}>
                <label class="beta-teaser__label" for="opt-out">Ich möchte die klassische Version von ZEIT&nbsp;ONLINE sehen.</label>
                <input id="beta-toggle-submit" class="beta-teaser__button" type="submit" value="Speichern">
            </form>
            <div class="beta-teaser__cta">
                <a class="beta-teaser__button" href="/index">Zur Homepage</a>
            </div>
            {% elif view.community_user.uid != "0" %}
            <span class="beta-teaser__kicker">Open Beta</span>
            <span class="beta-teaser__title">Beta-Test von ZEIT&nbsp;ONLINE</span>
            <p class="beta-teaser__prose">
                Wir entwickeln die neue Version von ZEIT&nbsp;ONLINE gemeinsam mit unseren
                Nutzerinnen und Nutzern. Es gibt zwei Möglichkeiten, die neue Seite zu sehen.
                Ein Teil der Nutzer wird derzeit zufällig für den Beta-Test ausgewählt.
                Wenn Sie nicht ausgewählt wurden, also das bisherige Design sehen,
                können Sie dennoch beim Betatest mitmachen: Senden Sie bitte eine E-Mail
                mit Ihrem Nutzernamen an <a href="mailto:beta@zeit.de">beta@zeit.de</a>.
            </p>
            <div class="beta-teaser__cta">
                <a class="beta-teaser__button" href="mailto:beta@zeit.de">E&#x2011;Mail 
                senden</a>
            </div>
            {% else %}
            <span class="beta-teaser__kicker">Closed Beta</span>
            <span class="beta-teaser__title">Werden Sie Beta-Tester von ZEIT&nbsp;ONLINE</span>
            <p class="beta-teaser__prose">
                Wir entwickeln die neue Version von ZEIT&nbsp;ONLINE gemeinsam mit unseren
                Nutzerinnen und Nutzern. Es gibt zwei Möglichkeiten, die neue Seite zu sehen.
                Ein Teil der Nutzer wird derzeit zufällig für den Beta-Test ausgewählt.
                Wenn Sie nicht ausgewählt wurden, also das bisherige Design sehen, können Sie
                dennoch beim Betatest mitmachen: Senden Sie bitte eine E-Mail mit
                Ihrem Nutzernamen an <a href="mailto:beta@zeit.de">beta@zeit.de</a>.
            </p>
            <p class="beta-teaser__prose">
                <b>Sie sind schon Beta-Tester?</b>
                Melden Sie sich an.
            </p>
            <div class="beta-teaser__cta">
                <a class="beta-teaser__button" href="{{ request.registry.settings.sso_url }}/anmelden?url={{ view.friedbert_host }}beta">Zur Anmeldung</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock main %}
