{% extends "zeit.web.site:templates/layout.html" %}

{% block metadata %}
    <div class="header__metadata">
    {%- if view.is_hp and view.topic_links | length -%}
        <div class="header__tags">
            <span class="header__tags__label">{{ view.topic_links.title | hide_none }}</span>
            {% for label, link in view.topic_links %}
            <a href="{{ link }}" class="header__tags__link" data-id="topnav.article-tag.{{ loop.index }}..{{ label | format_webtrekk }}">{{ label }}</a>
            {% endfor %}
        </div>
    {%- endif -%}

    {%- if view.is_hp -%}
        {% set date = view.date_last_modified | format_timedelta(hours=3) %}
        {% if date %}
        <div class="header__date">
            <time datetime="{{ view.date_last_modified | format_date('iso8601') }}">Aktualisiert {{ date }}</time>
        </div>
        {% endif %}
    {%- endif -%}
    </div>
{% endblock metadata %}

{% block main %}
    {% for region in view.regions %}
        {% set region_loop = loop %}
        {%- include ["zeit.web.site:templates/inc/region/{}.html".format(region.kind),
                     "zeit.web.site:templates/inc/region/default.html"] ignore missing -%}
    {% endfor %}
{% endblock main %}

{% block meetrics %}
    {# meetrics should only track the homepage #}
    {% if view.is_hp %}
        {{ super() }}
    {% endif %}
{% endblock meetrics %}

{% block cardstack_head %}
    {% if view.has_cardstack %}
        <esi:include
        src="http://www.zeit.de/cardstack-backend/stacks/esi/head?shareUrl={{ request.url }}&static=true" onerror="continue" />
    {% endif %}
{% endblock %}

{% block cardstack_bottom %}
    {% if view.has_cardstack %}
        <esi:include
        src="http://www.zeit.de/cardstack-backend/stacks/esi/scripts?shareUrl={{ request.url }}&static=true" onerror="continue" />
    {% endif %}
{% endblock %}
