{#

This is the main template for the context type "centerpage".

Available attributes:
    zeit.web.site.view_centerpage.Centerpage

#}
{% extends "zeit.web.site:templates/layout.html" %}

{% block metadata %}
    <div class="header__metadata">
        {% if view.topic_links | length %}
        <div class="header__tags">
            <span class="header__tags__label">{{ view.topic_links.title | hide_none }}</span>
            {% for label, link in view.topic_links %}
            <a href="{{ link }}" title="{{ label }}" class="header__tags__link">{{ label }}</a>
            {% endfor %}
        </div>
        {% endif %}
        <div class="header__date">{{ view.displayed_last_published_semantic | format_date('long') }}</div>
    </div>
{% endblock metadata %}

{% block main %}
    {% for region in view.regions %}
        {%- include ["zeit.web.site:templates/inc/region/{}.html".format(region.kind),
                     "zeit.web.site:templates/inc/region/default.html"] ignore missing -%}
    {% endfor %}
{% endblock main %}
