{% extends "zeit.web.site:templates/article_komplett.html" %}
{% block article_heading %}
	<div class="column-heading">
		<div class="column-heading__upper">
			<div class="article__item">
				<div class="column-heading__inner">
					<div class="column-heading__information">
						<h1 class="column-heading__header">
							<span class="column-heading__kicker">
								{#  note: wrap in link, when series landing page exists
									<a href="#" class="column-heading__kicker__link">
									</a>
								#}
								{{- view.serie + ' / ' | hide_none -}}
								{{- view.supertitle | hide_none -}}
							</span>
							<span class="column-heading__title" itemprop="headline">{{- view.title | hide_none -}}</span>
						</h1>
						{% if view.authors %}
							<div class="column-heading__name" itemscope itemtype="http://schema.org/Person" itemprop="author">
								Eine Kolumne von
								{% for author in view.authors %}
									{%- if author.href -%}
										<a href="{{ author.href | translate_url }}" itemprop="url"><span itemprop="name">{{ author.name }}</span></a>
									{%- else -%}
										<span itemprop="name">{{ author.name }}</span>
									{%- endif -%}
								{% endfor %}
							</div>
						{% endif %}
					</div>
					<div class="column-heading__author">
						{% include "zeit.web.site:templates/inc/article/column_author_image.tpl" %}
					</div>
				</div>
			</div>
		</div>
		<div class="column-heading__lower">
			<div class="article__item">
				<div class="summary" itemprop="description">
					{{ view.subtitle | hide_none }}
				</div>
				<div class="metadata metadata--column">
					{% include "zeit.web.site:templates/inc/article/metadata.tpl" ignore missing %}
				</div>
			</div>
		</div>
	</div>
{% endblock article_heading %}

{% block article_meta %}
{% endblock article_meta %}
