{% extends "zeit.web.site:templates/article_komplett.html" %}
{% block pre_article_content %}
    <div class="column-heading">
        <div class="column-heading__upper">
            <div class="column-heading__inner">
                <div class="column-heading__information">
                    <h3 class="column-heading__column-details__title">
                        <!-- TODO: link to series? -->
                        <a href="#" class="column-heading__column-details">
                            <!-- TODO: Nicer series name -->
                            <span>{{- view.serie | hide_none -}}</span> 
                            <span> / </span>
                            <span>{{- view.supertitle | hide_none -}}</span>
                        </a>
                    </h3>                    
                    <h1 class="column-heading__title">{{- view.title | hide_none -}}</h1>
                    <h1 class="column-heading__name">Eine Kolumne vom <a class="column-heading__name__link" href="{{view.authors[0].href}}">{{- view.authors[0].name | hide_none -}}</a></h1>
                </div>
                <div class="column-heading__author">
                    <!-- TODO: correct image, correct link? -->    
                    <a href="{{view.authors[0].href}}">
                        <img src="//i.guim.co.uk/static/w-300/h--/q-95/sys-images/Guardian/Pix/pictures/2014/3/13/1394733739486/JackMonroe.png" alt="Jack Monroe">
                    </a>
                </div>
            </div>
        </div>
        <div class="column-heading__lower">
            <div class="column-heading__inner">
                <div class="column-heading__summary">
                    <div class="summary">
                        {{ view.subtitle | hide_none }}
                    </div>
                    <div class="metadata metadata--column">
                        {% include "zeit.web.site:templates/inc/article/metadata.tpl" ignore missing %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock pre_article_content %}

<!-- TODO: This data is displayed in the new header, so not in the article context, find nicer way of doing this :/ -->
{% block article_heading %}
{% endblock article_heading %}
{% block article_meta %}
{% endblock article_meta %}
