{% extends "zeit.web.site:templates/article_komplett.html" %}
{% block article_heading %}
	<div class="column-heading">
		<div class="column-heading__upper">
			<div class="article__item">
				<div class="column-heading__inner">
					<div class="column-heading__information">
						<h3 class="column-heading__column-details">
							{#  note: wrap in link, when series landing page exists
								<a href="#" class="column-heading__column-details__link">
								</a>
							#}
							<span>{{- view.serie + ' / ' | hide_none -}}</span>
							<span>{{- view.supertitle | hide_none -}}</span>
						</h3>
						<h1 class="column-heading__title" itemprop="headline">{{- view.title | hide_none -}}</h1>
						{% if view.authors %}
							<div class="column-heading__name">
								Eine Kolumne von
								{% for author in view.authors %}
									{%- if author.href -%}
										<a href="{{ author.href | translate_url }}" itemprop="url"><span itemtype="http://schema.org/Person" itemprop="author">{{ author.name }}</span></a>
									{%- else -%}
										<span itemtype="http://schema.org/Person" itemprop="author">{{ author.name }}</span>
									{%- endif -%}
								{% endfor %}
							</div>
						{% endif %}
					</div>
					<div class="column-heading__author">
						{% include "zeit.web.site:templates/inc/article/column_author_image.tpl" %}
					</div>
				</div>
			</div>
		</div>
		<div class="column-heading__lower">
			<div class="article__item">
				<div class="summary" itemprop="description">
					{{ view.subtitle | hide_none }}
				</div>
				<div class="metadata metadata--column">
					{% include "zeit.web.site:templates/inc/article/metadata.tpl" ignore missing %}
				</div>
			</div>
		</div>
	</div>
{% endblock article_heading %}

{% block article_meta %}
{% endblock article_meta %}
