{% import 'zeit.web.site:templates/macros/article_macro.tpl' as blocks %}
{% extends 'zeit.web.site:templates/layout.html' %}

{# Sometimes (if the author has no image), colums are rendered as default
   articles (instead of column.html). In this case, we need to adjust a few
   Things inside the article template (here). #}
{% set is_column = view and view.context and view.context.serie and view.context.serie.column %}

{% block main %}
    {% block advertorial_marker %}{% endblock advertorial_marker %}
    {% block content %}
    <article class="article article--{{ view | block_type }}" id="js-article" itemtype="http://schema.org/Article" itemid="{{ view.basename }}" itemscope>
    {% profile %}
        {% block article_heading %}
            <div class="article__item">
                {% set headertag = 'div' if view.pagination and view.pagination.current > 1 and view.current_page.teaser else 'h1' %}
                <{{ headertag }} class="article-heading" itemprop="headline">
                    <span class="article-heading__kicker">
                        {% if is_column == True %}
                            {{ view.serie + ' / ' }}
                        {% endif %}
                        {{- view.supertitle | hide_none -}}
                    </span>{%- if view.title -%}<span class="article-heading__colon">: </span>{%- endif -%}
                    <span class="article-heading__title">
                        {{- view.title | hide_none -}}
                    </span>
                </{{ headertag }}>
            </div>
        {% endblock article_heading %}
        {% block article_meta %}
            <div class="article__item">
            {% if view.pagination and view.pagination.current > 1 %}
                <div class="article__page-teaser">
                    Seite {{ view.pagination.current }}/{{ view.pagination.total }}
                    {%- if view.current_page.teaser -%}
                        : <h1>{{ view.current_page.teaser }}</h1>
                    {% endif %}
                </div>
            {% else %}
                <div class="summary" itemprop="description">
                    {{ view.subtitle | hide_none }}
                </div>
                {%- set byline = view.context | get_byline %}
                {% if byline | length -%}
                <div class="byline" itemscope itemtype="http://schema.org/Person" itemprop="author">
                    {% include 'zeit.web.site:templates/inc/meta/byline.tpl' %}
                </div>
                {% endif -%}
                <div class="metadata">
                    {% include "zeit.web.site:templates/inc/article/metadata.tpl" %}
                </div>
            {% endif %}
            </div>
        {% endblock article_meta %}
    {% endprofile %}
    {% profile %}
        {% block article_body %}
        <div class="article-body article-body--{{ view | block_type }}" itemprop="articleBody">
            {% block article_main_image %}
            {% endblock article_main_image %}
            {% block article_pages %}
                <!-- Here goes the content for a page -->
            {% endblock article_pages %}
            {% block article_pagination %}
                <!-- Here goes the pagination -->
            {% endblock article_pagination %}
        </div>
        {% endblock article_body %}
    {% endprofile %}
    </article>

    {# TODO: block and subtemplate #}
    <div class="article-lineage">
        {% set predecessor, successor = view.lineage %}
        <a href="{{ predecessor.href }}" class="article-lineage__link article-lineage__link--prev">
            <span class="article-lineage__link-text article-lineage__link-text--prev">
                <span class="article-lineage__link-kicker">TODO: Kicker</span>
                <span class="article-lineage__link-title">{{ predecessor.title }}</span>
            </span>
        </a>
        <a href="{{ successor.href }}" class="article-lineage__link article-lineage__link--next">
            <span class="article-lineage__link-text article-lineage__link-text--next">
                <span class="article-lineage__link-kicker">TODO: Kicker</span>
                <span class="article-lineage__link-title">{{ successor.title }}</span>
            </span>
        </a>
    </div>

    {% endblock content %}
    {% block article_interactions %}
    <div class="article-interactions article__item">
        {% include "zeit.web.site:templates/inc/article/sharing-menu.tpl" %}
        {% block print %}
        {% endblock %}
    </div>
    {% endblock %}
    {% block article_tags %}
        {% include "zeit.web.site:templates/inc/article/tags.tpl" %}
    {% endblock %}
    {% block nextread %}
        {% include "zeit.web.site:templates/inc/article/nextread.tpl" %}
    {% endblock %}
    {% block article_google_ad %}
        {% if view.context.advertising_enabled -%}
            {{ lama.adplace(view.banner(5), view) }}
        {%- endif %}
    {% endblock article_google_ad %}
    {% block comments %}
    {% profile %}
        {% include "zeit.web.site:templates/inc/article/comments.tpl" %}
    {% endprofile %}
    {% endblock comments %}
{% endblock main %}
