{% import 'zeit.web.site:templates/macros/article_macro.tpl' as blocks %}
{% extends 'zeit.web.site:templates/layout.html' %}

{# Sometimes (if the author has no image), colums are rendered as default
   articles (instead of column.html). In this case, we need to adjust a few
   Things inside the article template (here). #}
{% set is_column = view and view.context and view.context.serie and view.context.serie.column %}

{% block main %}
    {% block advertorial_marker %}{% endblock advertorial_marker %}
    {% block content %}
    <article class="article article--{{ view | block_type }}" id="js-article" itemtype="http://schema.org/Article" itemscope>
    {% profile %}
        {% block schema_org_image_info %}
            {% set image = get_image(view, view.context, default='wide') %}
            {%- if image -%}
            <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "ImageObject",
                "contentUrl": "{{ view.request.route_url('home') + image.path }}"
            }
            </script>
            {%- endif -%}
        {% endblock schema_org_image_info %}
        {% block article_heading %}
            <div class="article__item">

                {% if view.pagination and view.pagination.current > 1 and view.current_page.teaser %}
                    <div class="article-heading" itemprop="headline">
                {% else %}
                    <h1 class="article-heading" itemprop="headline">
                {% endif %}

                        <span class="article-heading__kicker">
                            {% if is_column == True %}
                                {{ view.serie + ' / ' }}
                            {% endif %}
                            {{- view.supertitle | hide_none -}}
                        </span>{%- if view.title -%}<span class="article-heading__colon">: </span>{%- endif -%}
                        <span class="article-heading__title">
                            {{- view.title | hide_none -}}
                        </span>

                {% if view.pagination and view.pagination.current > 1 and view.current_page.teaser %}
                    </div>
                {% else %}
                    </h1>
                {% endif %}

            </div>
        {% endblock article_heading %}
        {% block article_meta %}
            <div class="article__item">
                {% if view.pagination and view.pagination.current > 1 %}
                <div class="article__page-teaser">
                    Seite {{ view.pagination.current }}/{{ view.pagination.total }}
                    {%- if view.current_page.teaser -%}
                        : <h1>{{ view.current_page.teaser }}</h1>
                    {% endif %}
                </div>
                {% else %}
                <div class="summary" itemprop="description">
                    {{ view.subtitle | hide_none }}
                </div>
                <div class="byline" itemscope itemtype="http://schema.org/Person" itemprop="author">
                    {% set byline = view.context | get_byline %}
                    {% include 'zeit.web.site:templates/inc/meta/byline.tpl' %}
                </div>
                <div class="metadata">
                    {% include "zeit.web.site:templates/inc/article/metadata.tpl" %}
                </div>
                {% endif %}
            </div>
        {% endblock article_meta %}
    {% endprofile %}
    {% profile %}
        {% block article_body %}
        <div class="article-body article-body--{{ view | block_type }}" itemprop="articleBody">
            {% block article_main_image %}
            {% endblock article_main_image %}
            {% block article_pages %}
                <!-- Here goes the content for a page -->
            {% endblock article_pages %}
            {% block article_pagination %}
                <!-- Here goes the pagination -->
            {% endblock article_pagination %}
        </div>
        {% endblock article_body %}
    {% endprofile %}
    </article>
    {% endblock content %}
    {% block article_interactions %}
        {% include "zeit.web.site:templates/inc/article/interactions.tpl" %}
    {% endblock %}
    {% block article_tags %}
        {% include "zeit.web.site:templates/inc/article/tags.tpl" %}
    {% endblock %}
    {% block nextread %}
        {% include "zeit.web.site:templates/inc/article/nextread.tpl" %}
    {% endblock %}
    {% block article_google_ad %}
        {% if view.context.advertising_enabled -%}
            {{ lama.adplace(view.banner(5), view) }}
        {%- endif %}
    {% endblock article_google_ad %}
    {% block comments %}
    {% profile %}
        {% include "zeit.web.site:templates/inc/article/comments.tpl" %}
    {% endprofile %}
    {% endblock comments %}
{% endblock main %}
