{% extends "zeit.web.site:templates/layout.html" %}
{% block main %}
<div class="dashboard" data-ct-area="user-dashboard" data-ct-column="false">
    <div class="dashboard__upper">
        <div class="dashboard__item">
            <h1 class="dashboard__header">
                <span class="dashboard__kicker">{{ view.kicker }}</span>
                <span class="dashboard__title">{{ view.title }}</span>
            </h1>
        </div>
    </div>
    <div class="dashboard__lower">
        <div class="dashboard__item">
            <div class="dashboard__user">
                {% if request.user.picture %}
                    <img src="{{request.user.picture}}" class="dashboard__user-image" />
                {% endif %}
                <span class="dashboard__user-name">
                    {{request.user.name or request.user.mail }}
                </span>
            </div>
            <!-- header -->
            {% for section in view.dashboard_sections('header') %}
            <div class="dashboard__box">
                <h2 class="dashboard__box-title">{{section.name}}</h2>
                <ul class="dashboard__box-list">
                    {% for link in section.links %}
                      <li>
                        <a href="{{link.href}}" id="{{link.id}}">
                          {{link.text}}
                        </a>
                      </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- body -->
    <div class="dashboard__content">
        <div class="dashboard__item">
              {% for section in view.dashboard_sections('body') %}
                <div class="dashboard__box">
                <h2 class="dashboard__box-title">{{section.name}}</h2>
                  <ul class="dashboard__box-list">
                    {% for link in section.links %}
                      <li>
                        <a href="{{link.href}}" id="{{link.id}}">
                          {{link.text}}
                        </a>
                      </li>
                      {%- if loop.index > 1 and (loop.length / 2)|round|int == loop.index %}
                        </ul><ul class="dashboard__box-list">
                      {% endif -%}
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}
        </div>
        <div class="dashboard__item">
            {% include "zeit.web.core:templates/inc/article/pagination.html" %}
        </div>
    </div>
</div>
{% endblock main %}
