{% extends "zeit.web.site:templates/content.html" %}
{% import "zeit.web.core:templates/macros/article_macro.tpl" as blocks %}

{% block article_pages %}
    <div class="article-page">
        {{ blocks.inlinegallery(view.images, view, wrapper_class='gallery') }}
    </div>
    <div class="article-page">
        <div class="gallery__description article__item">
            {{ view.galleryText|safe }}
        </div>
    </div>
{% endblock article_pages %}

{% block veeseo_div %}
    <div class="RA2VW2"></div>
{% endblock %}

{% block lineage %}{% endblock %}
