{% extends 'zeit.web.site:templates/content.html' %}
{% import 'zeit.web.core:templates/macros/video_macro.tpl' as vima %}

{% block content %}
    <article class="article article--video" id="js-article"
        {% if view.serie %} data-video-series="{{ view.serie | format_webtrekk }}"{% endif %}
        data-video-provider="brightcove"
        data-video-size="large"
        data-video-page-url="{{ view.content_url }}{% if view.slug %}/{{ view.slug }}{% endif %}"
        itemtype="http://schema.org/VideoObject" itemscope>
        {% profile %}
        <meta itemprop="playerType" content="HTML5 Flash">
        <meta itemprop="name" content="{{ view.title }}">
        <meta itemprop="uploadDate" content="{{ view.date_last_modified | format_date('iso8601') }}">
        {% if view.iso_duration %}
            <meta itemprop="duration" content="{{ view.iso_duration }}">
        {% endif %}
        {% require image = get_image(view.context, variant_id="wide", fallback=False) %}
            <meta itemprop="thumbnailUrl" content="{{ request.image_host + image.path }}">
        {% endrequire %}

        <div class="article__item article__item--wide article__item--rimless">
            {% if toggles('zon_videosinglepage_via_html5') %}
                {{ vima.brightcove_video_tag(view.context.__name__, iframe=False) }}
            {% else %}
                {{ vima.brightcove_video_tag(view.context.__name__, iframe=True) }}
            {% endif %}
        </div>

        {% if view.advertising_enabled %}
            <div class="article__item article__item--wide">
                {{ lama.adplace(banner(7), view) }}
            </div>
        {% endif %}

        {% include "zeit.web.site:templates/inc/article/heading.tpl" %}

        <div class="article__item">
            <div class="summary" itemprop="description">
                {{ view.subtitle }}
            </div>
            {%- set byline = view.context | get_byline('main') %}
            {% if byline | length -%}
                <div class="{{ 'byline' | with_mods('on-videopage') }}">
                {% include 'zeit.web.core:templates/inc/meta/byline.html' %}
                </div>
            {% endif -%}
            <div class="metadata" data-ct-area="articleheader">
                {% include "zeit.web.core:templates/inc/article/metadata.tpl" %}
                {% include "zeit.web.site:templates/inc/article/sharing-menu.html" %}
            </div>
            {% set tag_modifier = "video" %}
            {% include "zeit.web.core:templates/inc/article/tags.html" %}
        </div>
        {% endprofile %}
    </article>
{% endblock %}

{% block article_footer %}
{% endblock %}

{% block veeseo_div %}
    <div class="RV2VW2"></div>
{% endblock %}
