{% set ns = namespace(contents_printed=False) %}
{% block before_page %}{% endblock %}
{% for block in page %}
    {% set type = block | block_type %}
    {% if not (ns.contents_printed or view.is_all_pages_view) and type in [
        'paragraph', 'unorderedlist', 'orderedlist', 'intertitle', 'portraitbox', 'authorbox'] %}
        {% block table_of_contents %}
            {% include [
                "{0}:templates/inc/article/table-of-contents.html".format(view.package),
                "zeit.web.core:templates/inc/article/table-of-contents.html"] %}

        {% endblock %}
        {% set ns.contents_printed = True %}
    {% endif %}
    {% include [
        "{0}:templates/inc/blocks/{1}_{2}.html".format(view.package, type, block.layout),
        "{0}:templates/inc/blocks/{1}.html".format(view.package, type),
        "zeit.web.core:templates/inc/blocks/{0}_{1}.html".format(type, block.layout),
        "zeit.web.core:templates/inc/blocks/{0}.html".format(type)] ignore missing %}
{% endfor %}
{% if view.news_type == 'dpa' or view.news_type == 'afp' %}
    <div class="article-notice">
        <h2 class="article-notice__title">Hinweis zu Agenturmeldungen</h2>
        <p class="article-notice__text">
            {% if view.news_type == 'dpa' %}
                Dies ist ein von der Deutschen Presse-Agentur (dpa) für ZEIT ONLINE zur Verfügung gestellter Nachrichten-Feed. Die dpa ist eine Nachrichtenagentur, die Medien mit selbst recherchierten und formulierten Meldungen zu aktuellen Ereignissen beliefert.
            {% else %}
                Dies ist eine von der Agency France-Press (AFP) für ZEIT ONLINE zur Verfügung gestellte Nachricht. Die AFP ist eine Nachrichtenagentur, die Medien mit selbst recherchierten und formulierten Meldungen zu aktuellen Ereignissen beliefert.
            {% endif %}
        </p>
    </div>
{% endif %}
