{% if ns is not defined %}
    {# Preserve previous value if this template is included within another one.
       e.g. z.w.s:templates/inc/blocks/faqitemblock.html
    #}
    {% set ns = namespace(contents_printed=False) %}
{% endif %}
{% block before_page %}{% endblock %}
{% for block in page %}
    {% set type = block | block_type %}
    {% if not (ns.contents_printed or view.is_all_pages_view) and type in [
        'paragraph', 'unorderedlist', 'orderedlist', 'intertitle', 'portraitbox', 'authorbox', 'faqitemblock'] %}
        {% block table_of_contents %}
            {% include [
                "{0}:templates/inc/article/table-of-contents.html".format(view.package),
                "zeit.web.core:templates/inc/article/table-of-contents_{0}.html".format(view.template),
                "zeit.web.core:templates/inc/article/table-of-contents.html"] %}

        {% endblock %}
        {% set ns.contents_printed = True %}
    {% endif %}
    {% include [
        "{0}:templates/inc/blocks/{1}_{2}.html".format(view.package, type, block.layout),
        "{0}:templates/inc/blocks/{1}.html".format(view.package, type),
        "zeit.web.core:templates/inc/blocks/{0}_{1}.html".format(type, block.layout),
        "zeit.web.core:templates/inc/blocks/{0}.html".format(type)] ignore missing %}
{% endfor %}
