<nav class="{% block pagination_class %}article-pagination{% endblock %} article__item" aria-labelledby="article-pagination-title">
    <h3 class="visually-hidden" id="article-pagination-title">Seitennavigation</h3>

    {% if view.pagination and view.pagination.next_page_url -%}
        <a class="article-pagination__link" href="{{ view.pagination.next_page_url }}" data-id="article-pager....next-link">
            <span class="article-pagination__button article-pagination__button--next">Nächste Seite
                {%- block pagination_icon %}{% endblock -%}
            </span>
            {% if view.pagination.next_page_title -%}
            <span class="article-pagination__nexttitle">{{ view.pagination.next_page_title }}</span>
            {%- endif %}
        </a>
    {% else %}
        <a class="article-pagination__link" href="{%block pagination_link %}{{ request.route_url('home') }}index{% endblock %}" data-id="article-pager....startseite">
            <span class="article-pagination__button article-pagination__button--next">
                {%- block pagination_button %}Startseite{% endblock -%}
                {{- self.pagination_icon() -}}
            </span>
        </a>
    {%- endif %}

    {% if view.pagination and view.pagination.total > 1 and not view.is_all_pages_view %}
    <ul class="{% block pager_class %}article-pager{% endblock %}">
        {% block pager_label -%}
        <li class="article-pager__label">Seite</li>
        {% endblock -%}

        {%- for page in view.pagination.pager %}
        <li class="article-pager__number{% if page == view.pagination.current %} article-pager__number--current{% endif %}">
            {%- if page == view.pagination.current -%}
                <span>{{ page }}</span>
            {%- elif page -%}
                <a href="{{ view.pagination.pages_urls[page - 1] }}" data-id="article-pager....{{ page }}">{{ page }}</a>
            {%- else -%}
                <span>…</span>
            {%- endif -%}
        </li>
        {%- endfor %}

        {% block pager_complete_view -%}
        <li class="article-pager__all">
            <a href="{{ view.content_url }}/komplettansicht" data-id="article-pager....all">
                <span class="article-pager__who">Artikel</span>
                <span class="article-pager__what">auf einer Seite lesen</span>
            </a>
        </li>
        {% endblock -%}
    </ul>
    {% endif %}
</nav>
