{% set wrapped = view.subheadings | length > 8 -%}
<aside id="flexible-toc" class="article-flexible-toc article__item" data-ct-area="flexible-toc" data-ct-row="1">
    <h3 class="article-flexible-toc__headline">
        {%- block flexible_toc_headline -%}
            Übersicht:
        {%- endblock -%}
    </h3>
    <ul class="article-flexible-toc__list
        {%- if wrapped %} article-flexible-toc__list--wrapped{% endif %}">
        {% for subheading in view.subheadings -%}
        <li class="article-flexible-toc__item">
            <a class="article-flexible-toc__link js-scroll" href="#{{ subheading.text | striptags | format_faq }}" data-ct-label="text">
                {{- subheading.text | safe -}}
            </a>
        </li>
        {% endfor -%}
    </ul>
    {%- if wrapped -%}
        <a href="#flexible-toc" class="article-flexible-toc__showall" data-ct-column="false"
            onclick="this.previousSibling.classList.remove('article-flexible-toc__list--wrapped'); return false;">
            <span class="article-flexible-toc__more">Mehr anzeigen</span>
        </a>
    {% endif -%}
</aside>
