<aside class="article-flexible-toc article__item article__item--wide">
    <div class="article-flexible-toc__container">
        {% block flexible_toc_headline -%}
        <h3 class="article-flexible-toc__headline" id="article-flexible-toc-label">
            Übersicht:
        </h3>
        {%- endblock -%}
        <div class="article-flexible-toc__seperator" id="article-flexible-toc-box">
            <ul class="article-flexible-toc__list" id="article-flexible-toc-list">
            {% set morequestions = [] %}
            {%- for subheading in view.subheadings %}
                {%- if loop.index > 8 %}
                    {% if morequestions.append(True) %}{% endif %}
                {% endif %}
                <li class="article-flexible-toc__item article-flexible-toc__item--empty {% if morequestions %}article-flexible-toc__item--secondary{% endif %}">
                    <a class="article-flexible-toc__link js-scroll" href="{{ view.content_url}}#{{ subheading.text | striptags | format_faq }}" data-ct-label="{{ subheading.text | safe }}">{{ subheading.text | safe }}</a>
                </li>
            {%- endfor -%}
            </ul>
            {% if morequestions %}
                <a href="#article-flexible-toc-label" class="js-scroll" id="showall" data-ct-label="mehr anzeigen">
                    <div class="article-flexible-toc__fadeout"></div>
                    <div class="article-flexible-toc__showall">Mehr anzeigen</div>
                </a>
            {% endif %}
        </div>
    </div>
</aside>
<script>
    document.getElementById('showall').onclick = function () {
        // show hidden elements
        var flexibleTocList = document.getElementById('article-flexible-toc-list');
        flexibleTocList.classList.add('article-flexible-toc__list--showall');

        // remove showall and fadeout
        var showall = document.getElementById('showall');
        showall.classList.add('article-flexible-toc__item--secondary');
    }
</script>
