<aside class="article-toc article__item article__item--wide" data-ct-area="article-toc" data-ct-row="{{ 'page_%s_of_%s' | format(view.pagination.current, view.pagination.total) }}" data-ct-column="false">
    <div class="article-toc__container">
        <h3 class="article-toc__headline" id="article-toc-label" aria-controls="{% block toc_expandable_region %}article-toc-list{% endblock %}" data-constrained="mobile,phablet">
            Inhalt{% block toc_svg_icon %}{% endblock %}
        </h3>
        <div class="article-toc__seperator" id="article-toc-box">
            <ol class="article-toc__list" id="article-toc-list">
            {%- set current = view.pagination.current %}

            {%- for pagenr in view.pagination.pager %}

                {% if not pagenr -%}
                <li class="article-toc__item article-toc__item--empty">
                    ⋮
                </li>
                {% else %}
                <li class="article-toc__item{%if pagenr == current %} article-toc__item--current{% endif %}">
                    {% if pagenr != current %}
                    <a class="article-toc__link js-scroll" href="{{ view.pagination.pages_urls[pagenr - 1] }}" data-ct-label="{{ pagenr }}">
                    {% endif %}
                    {% block toc_item scoped %}
                        <strong>Seite {{ pagenr }}</strong>
                        {%- if view.pagination.pages_titles[pagenr - 1] %} — {{ view.pagination.pages_titles[pagenr - 1] }}
                        {%- endif %}
                    {% endblock toc_item %}
                    {% if pagenr != current %}
                    </a>
                    {% endif %}
                </li>
                {% endif %}
            {% endfor %}

            </ol>
            <a class="article-toc__onesie" href="{{ view.content_url }}/komplettansicht" data-ct-label="all">Auf einer Seite lesen</a>
        </div>
    </div>
</aside>
