{% if view.template == 'faq' %}
<aside class="article-flexible-foc article__item article__item--wide">
    <div class="article-flexible-toc__container">
        <h3 class="article-flexible-toc__headline" id="article-flexible-toc-label">
            Alle Fragen im Überblick:
        </h3>
        <div class="article-flexible-toc__seperator" id="article-flexible-toc-box">
            <ul class="article-flexible-toc__list" id="article-flexible-toc-list">
            {% set morequestions = [] %}
            {%- for subheading in view.subheadings %}
                {%- if loop.index > 8 %}
                    {% if morequestions.append(True) %}{% endif %}
                {% endif %}
                <li class="article-flexible-toc__item article-flexible-toc__item--empty {% if morequestions %}article-flexible-toc__item--hide{% endif %}">
                    <a class="article-flexible-toc__link js-scroll" href="#{{ subheading.text|format_faq }}">{{ subheading.text }}</a>
                </li>
            {%- endfor -%}
            </ul>
            {% if morequestions %}
                <div id="showall">
                    <div class="article-flexible-toc__fadeout"></div>
                    <div class="article-flexible-toc__showall">Mehr anzeigen</div>
                </div>
            {% endif %}
        </div>
    </div>
</aside>
<script>
    document.getElementById('showall').onclick = function () {
        if (document.getElementById('showall')) {
            // remove showall
            var showall = document.getElementById('showall');
            showall.parentNode.removeChild(showall);

            // show hidden elements
            var elements = document.getElementsByClassName('article-flexible-toc__item--hide');
            while (elements.length > 0) {
                elements[0].classList.remove('article-flexible-toc__item--hide');
            }
        }
    }
</script>
{% elif view.pagination and view.pagination.total > 1 %}
<aside class="article-toc article__item article__item--wide" data-ct-area="article-toc" data-ct-row="{{ 'page_%s_of_%s' | format(view.pagination.current, view.pagination.total) }}" data-ct-column="false">
    <div class="article-toc__container">
        <h3 class="article-toc__headline" id="article-toc-label" aria-controls="{% block toc_expandable_region %}article-toc-list{% endblock %}" data-constrained="mobile,phablet">
            Inhalt{% block toc_svg_icon %}{% endblock %}
        </h3>
        <div class="article-toc__seperator" id="article-toc-box">
            <ol class="article-toc__list" id="article-toc-list">
            {%- set current = view.pagination.current %}

            {%- for pagenr in view.pagination.pager %}

                {% if not pagenr -%}
                <li class="article-toc__item article-toc__item--empty">
                    ⋮
                </li>
                {% else %}
                <li class="article-toc__item{%if pagenr == current %} article-toc__item--current{% endif %}">
                    {% if pagenr != current %}
                    <a class="article-toc__link js-scroll" href="{{ view.pagination.pages_urls[pagenr - 1] }}" data-ct-label="{{ pagenr }}">
                    {% endif %}
                    {% block toc_item scoped %}
                        <strong>Seite {{ pagenr }}</strong>
                        {%- if view.pagination.pages_titles[pagenr - 1] %} — {{ view.pagination.pages_titles[pagenr - 1] }}
                        {%- endif %}
                    {% endblock toc_item %}
                    {% if pagenr != current %}
                    </a>
                    {% endif %}
                </li>
                {% endif %}
            {% endfor %}

            </ol>
            <a class="article-toc__onesie" href="{{ view.content_url }}/komplettansicht" data-ct-label="all">Auf einer Seite lesen</a>
        </div>
    </div>
</aside>
{% endif %}
