<urlset
    xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
    xmlns:n="http://www.google.com/schemas/sitemap-news/0.9"
    xmlns:image="http://www.google.com/schemas/sitemap-image/1.1"
    xmlns:py="http://codespeak.net/lxml/objectify/pytype"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:video="http://www.google.com/schemas/sitemap-video/1.1"
    xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for module in view.area_providing_pagination.values() -%}
    {%- set teaser = module | first_child -%}
    {%- set layout = module | get_layout -%}
    {%- include "zeit.web.core:templates/inc/sitemap/teaser/{0}.html".format(layout.replace('sitemap-', '')) ignore missing -%}
{%- endfor -%}
</urlset>
