{% extends "templates/layout.html" %}
{% import 'templates/block_elements.tpl' as blocks %}
{% block content %}

	<article class="article">
        <div class="article__wrap">
            <div class="article__head-wrap">
                <header class="article__title-wrap">
                    <div class="is-constrained is-centered">
                        <h2 class="article__supertitle">
                            {{ view.supertitle }}
                        </h2>
                        <h1 class="article__title">
                            {{view.title}}
                        </h1>
                        <!--
                            todo: place date into article
                            {{view.publish_date | format_date('long')}}
                        -->
                        {{ blocks.article_meta(view.author, view.genre, view.location) }}

                        <div class="article__subtitle">
                            <p>{{view.subtitle}}</p>
                        </div>
                    </div>
                </header>
                {% if view.header_img %}
                    {{ blocks.image(view.header_img) }}
                {% endif %}

            </div>

            <div class="article__body">

                {% for page in view.pages %}
                <div class="article__page">
                    {% for item in page %}
                        {% if item is elem('p') %} 
                            {{ blocks.p(item, "is-constrained is-centered")}}
                        {% elif item is elem('intertitle') %}
                            {{ blocks.intertitle(item) }}
                        {% elif item is elem('image') %}
                            {{ blocks.image(item) }}
                        {% elif item is elem('citation') %}
                            {{ blocks.citation(item) }}
                        {% elif item is elem('advertising') %}
                            {{ blocks.advertising(item) }}
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}

                {% if view.rankedTags %}
                <div class="article__tags is-constrained is-centered">
                    <span class="article__tags__title">Tags</span> 
                    {% for tag in view.rankedTags %}
                            {% for item in tag %}
                                <a href="#{{ item.url }}">{{ item.html }}</a>
                                {% if not loop.last %}
                                    ,
                                {% endif %}
                            {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}
                
            </div>
        </div>
	</article>
{% endblock content %}
