{% extends "templates/layout.html" %}
{% import 'templates/macros/article_macro.tpl' as blocks with context%}

{% macro render_page(page) %}
  {% for item in page %}
          {{ blocks[item|block_type](item)}}
  {% endfor %}
{% endmacro %}

{% block content %}
    <article class="article" id="js-article">
        <div class="article__wrap">
            {% include "templates/inc/headers/article_header_"+view.header_layout+".html" ignore missing with context %}

            <div class="article__body">
                {% block article_pages %}
                    <div class="article__page">
                        {{ render_page(view.current_page) }}
                    </div>
                {% endblock article_pages %}


                {% block article_pagination %}
                    {% if view.pagination %}
                        {{ blocks.print_pagination( view.pagination ) }}
                    {% endif %}
                {% endblock article_pagination %}

                {% if view.rankedTags %}
                <div class="article__tags is-constrained is-centered">
                    <span class="article__tags__title">Tags</span>
                    {% for tag in view.rankedTags %}
                      <a href="#{{ tag.url_value }}">{{ tag.label }}</a>
                      {% if not loop.last %}
                          ,
                      {% endif %}
                    {% endfor %}
                </div>
                {% endif %}

                {% if view.comments %}
                    {{ blocks.comments(view.comments) }}
                {% endif %}

                {{ blocks.focussed_nextread(view.focussed_nextread) }}

            </div>
        </div>
	</article>
    <!-- seo article date modification -->
    {{blocks.add_publish_date(view.date_last_published_semantic,view.date_first_released | format_date(view.show_date_format_seo), view.show_date_format_seo)}}

{% endblock content %}
