{% extends "templates/layout.html" %}
{% import 'templates/block_elements.tpl' as blocks %}
{% block content %}

    <article class="article">
        <nav class="main-nav has-hover" id="js-main-nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
            <a href="http://zeit.de" class="main-nav__logo" itemscope itemtype="http://schema.org/Organization">
                <meta itemprop="name" content="Zeit Online">
                <div class="main-nav__logo__wrap">
                    <img src="/img/zeit-logo.png" itemprop="logo" title="Nachrichten auf ZEIT ONLINE" />
                </div>
            </a>
            <div class="main-nav__menu">
                <header class="main-nav__menu__head" id="js-main-nav-trigger">
                    <div class="main-nav__menu__head__headline">Zeit Magazin</div>
                    <div class="main-nav__menu__head__hamburger">Menu Öffnen</div>
                </header>
                <div class="main-nav__menu__content" id="js-main-nav-content">
                    <a href="#" class="main-nav__menu__content__current-ressort">Startseite Zeit Magazin</a>
                    <div class="main-nav__section main-nav__ressorts">
                        <div class="main-nav__section__content is-always-open">
                            <a href="#">Mode</a>
                            <a href="#">Essen & Trinken</a>
                            <a href="#">Veganes Leben</a>
                            <a href="#">Wochenmarkt</a>
                            <a href="#">Design</a>
                            <a href="#">Gesellschaft</a>
                            <a href="#">Bartpflege</a>
                        </div>
                    </div>
                    <div class="main-nav__section main-nav__all-ressorts">
                        <span class="main-nav__section__trigger icon-arrow-down">Alle Ressorts</span>
                        <div class="main-nav__section__content">
                            <a href="#">Politik</a>
                            <a href="#">Wirtschaft</a>
                            <a href="#">Gesellschaft</a>
                            <a href="#">Kultur</a>
                            <a href="#">Wissen</a>
                            <a href="#">Digital</a>
                            <a href="#">Studium</a>
                            <a href="#">Karriere</a>
                            <a href="#" class="is-active">Magazin</a>
                            <a href="#">Reisen</a>
                            <a href="#">Mobilität</a>
                            <a href="#">Sport</a>
                        </div>
                    </div>
                    <div class="main-nav__section main-nav__service-primary">
                        <div class="main-nav__section__content is-always-open">
                            <a href="#">Abo</a>
                            <a href="#">Shop</a>
                            <a href="#">ePaper</a>
                        </div>
                    </div>
                    <div class="main-nav__section main-nav__service">
                        <span class="main-nav__section__trigger icon-arrow-down">Service</span>
                        <div class="main-nav__section__content">
                            <a href="#">Service1</a>
                            <a href="#">Service2</a>
                            <a href="#">Service3</a>
                            <a href="#">Service4</a>
                            <a href="#">Service5</a>
                            <a href="#">Service6</a>
                        </div>
                    </div>
                    <div class="main-nav__section main-nav__search">
                        <span class="main-nav__section__trigger icon-search">Suche</span>
                        <div class="main-nav__section__content">
                            <div class="main-nav__search__form">
                                <input class="main-nav__search__input" type="text" placeholder="Schlagwort …">
                                <input class="main-nav__search__submit" type="submit">
                            </div>
                        </div>
                    </div>
                    <div class="main-nav__section main-nav__community">
                        <span class="main-nav__section__trigger">
                            <img src="/img/exner.jpg" class="main-nav__community__avatar">
                            Community
                        </span>
                        <div class="main-nav__section__content">
                            <a href="#">Account</a>
                            <a href="#">Logout</a>
                        </div>
                    </div>
                    <div class="main-nav__section main-nav__breadcrumbs">
                        <div class="main-nav__section__content is-always-open">
                            {{ blocks.breadcrumbs([
                                {'text': 'Start', 'link': 'http://zeit.de'},
                                {'text': 'ZEIT Magazin', 'link': 'http://zeit.de/magazin'},
                                {'text': 'Lebensart', 'link': 'http://zeit.de/magazin/mode'},
                                {'text': 'Kann Leipzig Hypezig überleben?', 'link': 'http://www.zeit.de/lebensart/2013-10/leipzig-hypezig-gentrifizierung-wohnkonzepte-stadtentwicklung'}
                            ]) }}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="article__wrap">
            <div class="article__head-wrap">
                <header class="article__title-wrap">
                    <div class="is-constrained is-centered">
                        <h2 class="article__supertitle">
                            {{ view.supertitle }}
                        </h2>
                        <h1 class="article__title">
                            {{view.title}}
                        </h1>
                        <div class="article__meta">
                            {{ blocks.author_date(view.publish_date | format_date('long'), view.source) }}
                        </div>
                        <div class="article__opener">
                            <span class="article__subtitle">
                                <p>{{view.subtitle}}</p>
                            </span>
                            <span class="article__meta">
                                {% if view.genre -%}
                                    <span class="article__meta__genre">{{view.genre}}</span>
                                {%- endif %}
                                {{ blocks.meta_author(view.author) }}
                                {% if view.location -%}
                                    <span class="article__meta__location">{{view.location}}</span>
                                {%- endif %}
                            </span>
                        </div>
                    </div>
                </header>
                {% if view.header_img %}
                    {{ blocks.img(view.header_img) }}
                {% endif %}

            </div>

            <div class="article__body">

                {% for page in view.pages %}
                <div class="article__page">
                    {% for item in page %}
                            {{ blocks[item|block_type](item)}}
                    {% endfor %}
                </div>
                {% endfor %}

                {% if view.rankedTags %}
                <div class="article__tags is-constrained is-centered">
                    <span class="article__tags__title">Tags</span>
                    {% for tag in view.rankedTags %}
                            {% for item in tag %}
                                <a href="#{{ item.url }}">{{ item.html }}</a>
                                {% if not loop.last %}
                                    ,
                                {% endif %}
                            {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}

            </div>
        </div>
	</article>
{% endblock content %}
