{% extends "templates/article.html" %}
{% import 'templates/macros/article_macro.tpl' as blocks with context%}

{% block article_header %}
    {% include "templates/inc/headers/gallery_header.html" ignore missing with context %}
{% endblock article_header %}

{% block article_pages %}
<div class="gallery">
    <div class="figure figure-full-width">
        <div class="inline-gallery">
            {% for image in view.images %}
                {% set image_meta = image | get_image_metadata %}
                {% set copyright = image_meta.copyrights[0] %}
                <figure class="figure-full-width">
                    <div class="scaled-image">
                        <img alt="" title="" class="figure__media" src="{{image.image.uniqueId | translate_url}}">
                    </div>
                    {% if image.caption %}
                    <figcaption class="figure__caption">{{image.caption}}
                        {% if image_meta.copyrights %}
                            <span class="figure__copyright">{{copyright[0]}}</span>
                        {% endif %}
                    </figcaption>
                    {% endif %}
                </figure>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock article_pages %}

{% block article_pagination %}
{% endblock article_pagination %}

{% block article_comments %}
{% endblock article_comments %}

{% block article_nextread %}
{% endblock article_nextread %}

{% block article_publishdate %}
{% endblock article_publishdate %}
