{% extends "templates/article.html" %}
{% import 'templates/macros/article_macro.tpl' as blocks with context%}
{% import 'templates/macros/layout_macro.tpl' as lama with context %}

{% block article_header %}
    <div class="article__head-wrap">
        <header class="article__head article__head--default">
            {{ blocks.supertitle() }}
            {{ blocks.title() }}
        </header>
    </div>
{% endblock article_header %}

{% block article_pages %}
<div class="gallery">
    <div class="inline-gallery">
        {% for image in view.images.itervalues() -%}
            <figure class="figure-full-width">
                <div class="scaled-image">
                    {{ lama.insert_responsive_image(image) }}
                </div>
                {% if image.caption -%}
                    <figcaption class="figure__caption">
                        <span class="figure__caption__pager">{{ loop.index }}/{{ loop.length }}</span>
                        {{ image.caption }}
                        {% if image.copyright -%}
                            <span class="figure__caption__copyright">{{ image.copyright }}</span>
                        {%- endif %}
                    </figcaption>
                {%- endif %}
            </figure>
        {%- endfor %}
    </div>
</div>
<div class="gallery__info">
    <div class="gallery__description">
        {{view.galleryText | safe}}
    </div>
    <div class="article__head__meta">
        <div class="article__head__meta__date">
            {{ blocks.source_date(view.show_article_date | format_date(view.show_date_format), view.source) }}
            {{blocks.add_publish_date(view.date_last_published_semantic,view.date_first_released | format_date(view.show_date_format_seo), view.show_date_format_seo)}}
        </div>
    </div>
</div>
{% endblock article_pages %}

{% block article_publishdate %}
{% endblock article_publishdate %}

