<!DOCTYPE html>
<!--[if lt IE 8]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie10 lt-ie9 ie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class='no-js modern-browser' lang='en'>
<!--<![endif]-->
    <head>
        <meta charset='utf-8'>
        <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
        <title>ZMO</title>
        <meta name='description'>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=3' name='viewport'>
        <!--[if lte IE 8]>
            <link href="/css/all-old-ie.css" media="screen" rel="stylesheet" type="text/css" />
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css" />
        <!--<![endif]-->
        <style type="text/css">
            #iqd_mainAd {
                margin-bottom: 0;
            }
            #iqd_align_Ad {
                width: 61.25em;
                margin: 0 auto;
            }
            #iqd_topAd {
                padding: 0;
                position: relative;
            }
            #iqd_rightAd {
                position: absolute;
                bottom: -630px;
                left: 980px;
                width: 160px;
            }
            #iqadtile1 {
                padding-left: 20px;
            }
            .content .wrapper{
                max-width: 61.25em;
                padding-left: 1.25em;
                padding-right: 1.25em;
                margin-left: auto;
                margin-right: auto;
                border: 2px solid red;
            }
        </style>  

        <meta name="last-modified" content="{{ view.last_modified_date }}"/>
        <meta http-equiv="last-modified" content="{{ view.last_modified_date }}"/>
        <meta name="date" content="{{ view.publish_date_meta }}"/>

        <script src="/js/libs/modernizr.custom.42776.js"></script>
        {% if view.context.advertising_enabled %}
        <script src="/js/libs/resize-ads.js"></script>
        {% endif %}
        <script data-main="/js/app.js" src="/js/libs/require.js"></script>
        <script type="text/javascript" src="//admin.brightcove.com/js/BrightcoveExperiences.js"></script>

        <script>
            /* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
            window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
            grunticon( [ "/css/icons/icons.data.svg.css", "/css/icons/icons.data.png.css", "/css/icons/icons.fallback.css" ] );
        </script>
        <noscript>
            <link href="/css/icons/icons.fallback.css" rel="stylesheet">
        </noscript>

    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
        {% if view.context.advertising_enabled %}
        <script type="text/javascript">
            nuggtg = encodeURIComponent(IVW.split("CP/")[1]);
            document.write('<scr'+'ipt type="text/javascript" src="http://gwp.nuggad.net/rc?nuggn=223088769&nuggsid=4168690&nuggtg='+nuggtg+'"><\/scr'+'ipt>');     
        </script>
        {% endif %}

        <div class="page-wrap">

            {% if view.context.advertising_enabled %}
            <div id="iqd_mainAd" >
                <div id="iqd_align_Ad">
                    <div id="iqd_topAd">
                        <script>
                            resizeAds.print_ad_place('topbanner');
                            // (function() {
                            //     if (window.ad_slots.topbanner.active_class!= null && window.location.hash === '#ads') {
                            //         document.write('<div class="' + window.ad_slots.topbanner.active_class + '">' +window.ad_slots.topbanner.active_text+ '</div>');
                            //     }
                            // }).call(this);
                        </script>
                        <div id="iqd_rightAd">
                            <script>
                                // (function() {
                                //     if (window.ad_slots.skyscraper.active_class!= null && window.location.hash === '#ads') {
                                //         document.write('<div class="' + window.ad_slots.skyscraper.active_class + '">' +window.ad_slots.skyscraper.active_text+ '</div>');
                                //     }
                                // }).call(this);
                            </script>
                        </div> 
                    </div>
                </div> 
            </div>
            {% endif %}


            {{ blocks.main_nav(view.context.main_nav_full_width) }}
            <main role="main" class="main">
                {%  block content %}{% endblock content %}
            </main>

        </div>

        <div id="iqdLastNode">
            <script type="text/javascript">
                var IQDComplete = {
                    init : function() {
                        return true;
                    }
                };
            </script>
        </div>
    </body>
</html>
