<html>
<head>
    <title>My custom layout</title>
    <link rel="stylesheet" href="/css/screen.css" />
</head>
<body>
    <ul id="top-formate">
        {% for link in top_formate.xpath('item/link') %}
            <li><a href="{{ link.get('href') }}">{{ link }}</a></li>
        {% endfor %}
    </ul>
    <div id="sitemap">
        <ul id="mainnav">
            {% for link in sitemap.xpath('.//item/link') %}
                <li><a href="{{ link.get('href') }}">{{ link }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="content">
        {%  block content %}{% endblock content %}
    </div>
</body>
</html>
