{% extends "templates/layout.html" %}
{% import 'templates/block_elements.tpl' as blocks %}
{% block content %}

	<article class="article article--longform">
		<div class="article__wrap">
			<div class="article__head-wrap">
   
          {{ blocks[view.header_elem|block_type](view.header_elem) }}

  				<header class="article__title-wrap">
  					<h2 class="article__supertitle">
  						{{ view.supertitle }}
  					</h2>
  					<h1 class="article__title">
  						{{view.title}}
  					</h1>
            <div class="article__meta">
              {{ blocks.author_date(view.publish_date | format_date('long'), view.source) }}
              {{ blocks.meta_author(view.author) }}
            </div>
            <span class="article__subtitle">
                <p>{{view.subtitle}}</p>
            </span>
          </header>
			</div>

			<div class="article__body">

        {% for page in view.pages %}
          <section class="article__page">
            <div class="article__page-wrap">

              {{ blocks.subpage_index( view.pages, page.teaser, page.number, 'article__subpage-index', 'article__subpage-active' ) }}
              {{ blocks.subpage_head( page.number, page.teaser, 'article__subpage-head is-centered is-constrained' ) }}

              {% for item in page %}
                  {{ blocks[item|block_type](item)}}
              {% endfor %}
            </div>
          </section>
        {% endfor %}

				{% if view.rankedTags %}
				<div class="article__tags is-constrained is-centered">
					<span class="article__tags__title">Tags</span>
					{% for tag in view.rankedTags %}
								<a href="#{{ tag.url_value }}" id="hp.article.tools.tag.{{ tag.label }}" title="Artikel mit dem Schlagwort *{{ tag.label }}* anzeigen">{{ tag.label }}</a>
								{% if not loop.last %}
									,
								{% endif %}
					{% endfor %}
				</div>
				{% endif %}

			</div>
		</div>
	</article>
{% endblock content %}
