<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
  <title>24h-Newsletter</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

{# IVW VERSION="1.5" #}
<img src="http://zeitonl.ivwbox.de/cgi-bin/ivw/NP/daily;" width="1" height="1" alt="" />
{# Webtrekk VERSION="2.0.5" #}
<img alt="" src="http://zeit01.webtrekk.net/981949533494636/wt.pl?p=205,redaktion.newsletter.daily.online&amp;ov=&amp;cr=&amp;oi=&amp;ba=&amp;co=&amp;qn=&amp;ca=&amp;pi=&amp;st=&amp;cd=&amp;cg1=Redaktion&amp;cg2=Newsletter&amp;cg3=daily" width="1" height="1" />

<table width="600" border="0" style="border: 1px solid #cccccc;" cellpadding="0" cellspacing="0">
<tr><td align="center">

  {# header #}
  <table width="580" border="0"><tr><td align="left" height="40" valign="top">
    <img src="http://images.zeit.de/bilder/newsletter/24h/nl-header-taeglicher.jpg" alt="ZEIT ONLINE"/>
  </td></tr></table>
  <table width="580" border="0"><tr><td align="left" bgcolor="#E7E2CE" height="20">
    <table border="0" cellpadding="0" cellspacing="0"><tr>
      <td width="4">&#32;</td>
      <td>
        <font face="verdana" size="2" color="#333333" style="font-size: 10px">
          Aktuell auf ZEIT ONLINE am {{view.date_first_released | format_date('short')}}
        </font>
      </td>
    </tr></table>
  </td></tr></table>

  {# navigation #}
  <table  border="0" width="580"><tr><td align="left">
    <table><tr>
      <td width="50" valign="top" style="padding-top: 7px;">
        <font face="verdana" size="2" color="#333333" style="font-size: 9px">
          <b>INHALTE:</b>
        </font>
      </td>
      <td>
        {% for group in view.body %}
        {# XXX not anzeige or spezial #}
        <a style="color: #999999; line-height: 20px;"
           href="#{{group.title}}">
           <font color="#999999" face="verdana" style="font-size: 9px;">{{group.title}} &#187;</font></a>&#160;
        {% endfor %}
      </td>
    </tr></table>
  </td></tr></table>

  {# body #}
  {% for group in view.body %}
    {# XXX handle Anzeige and Spezial separately #}
    <table border="0" cellpadding="0" cellspacing="0" width="570">
      <tr><td style="line-height: 20px; height: 20px;">
          <img src="http://images.zeit.de/bilder/elemente/homepage/transparent_pixel.gif" height="20"/>
      </td></tr>
      <tr><td align="left">
        <a><font color="#333333" face="Gorgia" style="font-size: 16px;">
          <b>{{group.title}}</b></font></a>
      </td></tr>
      <tr><td style="line-height: 5px; height: 5px;">
        <img src="http://images.zeit.de/bilder/elemente/homepage/transparent_pixel.gif" height="5"/>
      </td></tr>
      <tr><td height="4" style="line-height: 4px;">
          <img src="http://images.zeit.de/bilder/newsletter/24h/doppellinie.gif" alt="--------------------------------------------------------------------" height="4"/>
      </td></tr>
      <tr><td style="line-height: 10px; height: 10px;">
        <img src="http://images.zeit.de/bilder/elemente/homepage/transparent_pixel.gif" height="10"/>
      </td></tr>
    </table>
    {% for teaser in group.values() %}
      <table width="580" border="0">
        <tr><td style="line-height: 10px; height: 10px;" colspan="{{3 if teaser.image else 2}}">
            <img src="http://images.zeit.de/bilder/elemente/homepage/transparent_pixel.gif" height="10"/>
        </td></tr>
        <tr>
        {% if teaser.image %}
          <td align="left" width="150" valign="top">
            <a href="{{view.translate_url(teaser.uniqueId)}}">
              <img border="0" src="{{view.image_url(teaser.image.uniqueId)}}"/>
            </a>
          </td>
          <td align="left" valign="top" style="line-height: 18px;">
        {% else %}
          <td align="left" valign="top">
        {% endif %}
            <b><font color="#660000" face="verdana" style="font-size: 12px; text-transform:uppercase;">{{teaser.supertitle}}:</font> <font color="#333333" face="verdana" style="font-size: 12px;">{{teaser.title}}</font></b>
            <br />
            <font color="#333333" face="verdana" style="font-size: 12px;">
              {{teaser.subtitle}}
            </font>
            <a style="text-decoration:none"
               href="{{view.translate_url(teaser.uniqueId)}}"
               title="{{teaser.supertitle}}: {{teaser.title}}">
              <font color="#333333" face="verdana" style="font-size: 12px">[ weiterlesen ] &#187;</font></a>
          </td>
        </tr>
      </table>
      <table width="580" border="0" cellpadding="0" cellspacing="0" height="2">
        <tr><td height="2">
          <img src="http://images.zeit.de/bilder/elemente/homepage/transparent_pixel.gif" height="2"/>
        </td></tr>
      </table>

    {% endfor %}

  {% endfor %}

  {# footer #}
  <tr><td align="center">
      <table>
      <tr><td style="line-height: 20px; height: 20px;">
        <img src="http://images.zeit.de/bilder/elemente/homepage/transparent_pixel.gif" height="20"/>
      </td></tr>
      <tr><td height="4" style="line-height: 4px;">
        <img src="http://images.zeit.de/bilder/newsletter/24h/doppellinie.gif" alt="--------------------------------------------------------------------" height="4"/>
      </td></tr>
      <tr><td>
        <p><font face="arial" size="2" color="#660000" style="font-size: 12px;text-transform:uppercase;">
            <b>ZEIT ONLINE empfiehlt die folgenden Dienste und Formate:</b>
        </font></p>
        <p>
          <font face="arial" size="2" color="#000000" style="font-size: 12px">
          [ <a href="http://www.zeit.de/hilfe/hilfe#rss" title="RSS">RSS</a> ] &#187;
          [ <a href="http://www.zeit.de/hilfe/mobile_hilfe" title="Mobil">Mobil</a> ] &#187;
          [ <a href="http://www.zeit.de/hoeren/index" title="Audio">Audio</a> ] &#187;
          [ <a href="http://www.zeit.de/archiv/index" title="Archiv">Archiv</a> ] &#187;
          </font>
        </p>
      </td></tr>
      <tr><td height="4" style="line-height: 4px;">
        <img src="http://images.zeit.de/bilder/newsletter/24h/doppellinie.gif" alt="--------------------------------------------------------------------" height="4"/>
      </td></tr>
      </table>

      <table width="580" border="0">
        <tr>
          <td align="left">
            <p><font face="arial" size="2" color="#999999" style="font-size: 11px"><b>VERWALTUNG</b></font></p>
            <p><font face="arial" size="2" color="#999999" style="font-size: 11px">
              Sie sind auf der Liste Täglicher Newsletter angemeldet als:<br />
              %%emailaddr%%<br /><br />
              Weitere kostenlose Newsletter bei ZEIT ONLINE finden Sie hier:
              <a href="http://www.zeit.de/newsletter">http://www.zeit.de/newsletter</a><br /><br />
                  Um sich von der Liste abzumelden, klicken Sie hier:<br />
              <a href="%%email.unsub%%" style="color: #999999;">%%email.unsub%%</a>  <br /><br />
            </font></p>

            <p><font face="arial" size="2" color="#999999" style="font-size: 11px"><b>WERBEKUNDEN</b></font></p>
            <p><font face="arial" size="2" color="#999999" style="font-size: 11px">
              Wenn Sie in diesem Newsletter werben m&#246;chten, nehmen Sie bitte<br />
              Kontakt mit dem Sales Team der iq digital auf!<br /><br />

              iq digital media marketing gmbh<br />
              Kasernenstraße 67<br />
              40213 D&#252;sseldorf <br />
              <a href="http://www.iqdigital.de/zeitonline">www.iqdigital.de/zeitonline</a>
            </font></p>

            <p><font face="arial" size="2" color="#999999" style="font-size: 11px"><b>IMPRESSUM</b></font></p>
            <p><font face="arial" size="2" color="#999999" style="font-size: 11px">
              &#169; 2013 ZEIT ONLINE GmbH<br /><br />

                ZEIT ONLINE ist verantwortlich für den Inhalt dieses Newsletters:<br /><br />
              <a href="http://www.zeit.de/impressum/index" style="color:#999999;">http://www.zeit.de/impressum/index</a><br /><br />
                    Probleme? Kritik? Lob? Fragen? Wenden Sie sich bitte an:<br />
              <a href="mailto:kontakt@zeit.de" style="color:#999999;">kontakt@zeit.de</a>
            </font></p>

            <p><font face="arial" size="2" color="#999999" style="font-size: 11px"><b>ANSCHRIFT</b></font></p>
            <p><font face="arial" size="2" color="#999999" style="font-size: 11px">
              ZEIT ONLINE GmbH<br />
              Pressehaus<br />
              Buceriusstraße, Eingang Speersort 1<br />
              20095 Hamburg
            </font></p>

            <p><font face="arial" size="2" color="#999999" style="font-size: 11px"><b>POSTANSCHRIFT</b></font></p>
            <p><font face="arial" size="2" color="#999999" style="font-size: 11px">
              ZEIT ONLINE GmbH<br />
              20079 Hamburg<br /><br />
              E-Mail: <a href="mailto:kontakt@zeit.de" style="color:#999999;">kontakt@zeit.de</a>
            </font></p>
          </td>
          <td valign="top"><img src="http://images.zeit.de/bilder/newsletter/24h/nl-footer-maus.jpg" alt="ZEIT ONLINE" /></td>
        </tr>
      </table>
  </td></tr>

</td></tr></table>
</body>
</html>
