{% if toggles('third_party_modules', 'iqd') and view.advertising_enabled %}
<!-- ad controller head start -->

<!-- adcontroller load -->
<script type="text/javascript">
    // edited version of the original iqd code
    // adds the ability to load different adcontroller versions depending on isMobileView()
    var iqd_mode = (function() {
            var dm = window.location.href.toLowerCase();
            return dm.indexOf( 'iqdeployment=' ) > 1 ? dm.split( 'iqdeployment=' )[1].split( '&' )[0] : 'live';
        })(),
        // conditionalize output of cdn directory for mobile, to prevent code replication
        mob_suffix = window.Zeit.isMobileView() ? '_mob' : '';

    document.write('<scr' + 'ipt src="https://scripts.zeit.de/iqd/cdn_zeit' + mob_suffix + '/' + iqd_mode + '/iqadcontroller.js"></scr' + 'ipt>');

</script>

<!-- mandanten object -->
<script type="text/javascript">
    if (typeof AdController !== 'undefined') {
        var adcSiteInfo = {
        {% for name, value in view.adcontroller_values -%}
                {{ '' | indent(4, true) }}{{ name }}: {% if value is string %}'{{ value }}'{% else %}{{ value | lower }}{% endif %}{{ ',' if not loop.last }}
        {% endfor -%}
        };
        // add keyword 'diuqilon' for tablet in portrait orientation only
        if ( window.Zeit.getClientWidth() >= window.Zeit.tabletMinWidth && window.Zeit.getClientWidth() < window.Zeit.noliquidMaxWidth ) {
           var kws = adcSiteInfo.keywords.split(',');
           kws.push('diuqilon');
           adcSiteInfo.keywords = kws.join(',');
        }
        if ( window.Zeit.cookieRead( 'gdpr' ) === 'dnt' ) {
            adcSiteInfo.gdpr = 'dnt';
        }
        AdController.setPageInfo(adcSiteInfo);
    }
    try {
        AdController.stage();
    } catch(e) {}
</script>
<script type="text/javascript">
    if (typeof AdController !== 'undefined') {
        AdController.initialize();
    }
</script>
<!-- ad controller head end -->
{% endif %}
