$is-advertorial: true
$color-page-bg: #FAFAF3
$color-text: #252525
$adv-font: Arial, FreeSans, sans-serif
// set all franziska to georgia
$font-franziska: Georgia, serif
// and all tablet gothic to arial
$font-tabletgothic: $adv-font
// and all patron to arial
$font-patronbold: $adv-font
// with some exceptions (see _fonts.sass)
$font-navigation: "TabletGothic", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif
// set all letter-spacing to none
$letter-spacing-l: 0
$letter-spacing-m: 0
$letter-spacing-s: 0
$zon-letter-spacing-l: 0
$zon-letter-spacing-m: 0
$zon-letter-spacing-s: 0
// make it overwriteable for exceptions like navi
$adv-letter-spacing-l: 0.08em
$adv-letter-spacing-m: 0.05em
$adv-letter-spacing-s: 0.03em
// tweak advertorial underline
$color-underline: $color-text
$color-toc-index: $color-text

%ad-label
	font-family: $font-navigation // Tablet Gothic
	font-weight: bold
	text-align: right
	text-transform: uppercase
	letter-spacing: $adv-letter-spacing-l
