.header__ad-label
	color: #ccc
	display: none
	font-family: $font-navigation
	font-size: remify(14px)
	line-height: 2
	text-transform: uppercase
	letter-spacing: $letter-spacing-l
	margin-left: remify(22px)
	+respond-min($break-tablet-min)
		display: inline
