.teaser-square
	@extend %teaser
	padding: $page-padding--small

	&__media
		background-color: $greyish-white
		height: 0
		padding-bottom: 100% // image variant 'square', ratio 1:1

	&__heading
		@extend %teaser-heading
		margin: remify(-10px 0 10px)

	&__combined-link
		box-shadow: 10px -3px 0 10px $white
		background-color: $white

	&__kicker
		@extend %teaser-kicker
		top: -34px

	&__title
		@extend %teaser-title
		font-size: remify(32px)

	&__text
		@extend %teaser-text

+respond-min($break-tablet-min)
	.teaser-square
		border: none
		float: left
		padding: $cp-padding
		width: 50%
		&__heading
			margin-top: remify(-14px)
		&__combined-link
			box-shadow: 10px -10px 0 10px $white
		&__title
			font-size: remify(42px)
		&__text
			width: 90%
