.teaser-lead-cinema
	@extend %teaser
	padding-bottom: $page-padding--small

	&__media
		@extend %teaser-media
		overflow: hidden
		padding-bottom: 100% / 16 * 9 // image variant 'wide' (16:9)

	&__heading
		@extend %teaser-heading
		font-size: remify($font-size-42)

	&__combined-link
		@extend %teaser-combined-link

	&__kicker
		@extend %teaser-kicker

	&__title
		@extend %teaser-title

	&__text
		@extend %teaser-text

	&__metadata
		@extend %teaser-metadata

	&__byline
		@extend %teaser-byline

+respond-max($break-tablet-min)
	.teaser-lead-cinema
		&__combined-link,
		&__kicker,
		&__text,
		&__metadata
			padding-left: $page-padding--small
		&__text,
		&__metadata
			max-width: 95%
			padding-right: $page-padding--small

+respond-min($break-tablet-min)
	.teaser-lead-cinema
		+clearfix
		padding: $page-padding

		&__media
			padding-bottom: 100% / 7 * 3 // image variant 'cinema', ratio 7:3

		&__heading
			font-size: remify($font-size-64)
			max-width: (780/940) * 100%
			padding-right: 0

		&__text,
		&__metadata
			float: left
			width: 50%
		&__text
			font-size: remify($font-size-18)
			line-height: (27/18)
			margin: 0
			padding-right: $cp-padding
		&__metadata
			padding-left: $cp-padding

+respond-min($break-desktop-min)
	.teaser-lead-cinema
		&__heading
			font-size: remify($font-size-84)
