.teaser-wide-small
	@extend %teaser
	padding: $page-padding--small

	&__media
		@extend %teaser-media
		padding-bottom: 100% / 7 * 3 // image variant 'cinema', ratio 7:3

	&__heading
		+scaled-font(28px, $title-factor)
		line-height: 0
		margin: remify(0 0 10px)

	&__combined-link
		display: block
		position: relative

	&__kicker
		@extend %teaser-kicker
		&--leserartikel
			@extend %teaser-kicker--leserartikel

	&__title
		@extend %teaser-title
		background-color: $color-page-bg
		display: block
		padding-top: remify(12px)

	&__text
		@extend %teaser-text

	&__metadata
		@extend %teaser-metadata

	&__commentcount
		@extend %teaser-commentcount


	+respond-max($break-tablet-min)
		&__media:not(&__media--force-mobile)
			display: none
		&__media:not(&__media--force-mobile) + &__heading &__kicker
			padding: 0
			position: static

	+respond-min($break-tablet-min)
		padding: $vertical-space $cp-padding

// special case advertorial teaser on zco content
// come on and fry me
.teaser-wide-small
	&--advertorial
		position: relative
		.teaser-wide-small__heading
			&:before
				background: rgba(#fff, 0.8)
				color: #444
				content: "Anzeige"
				display: inline-block
				font-family: $font-tabletgothic
				font-size: remify(9px)
				font-weight: normal
				letter-spacing: 0.15em
				line-height: 1
				position: absolute
				text-transform: uppercase
				top: $page-padding--small
				right: $page-padding--small
				// z-index: 2
				+respond-min($break-tablet-min)
					padding: remify(10px)
					top: $page-padding
					right: $cp-padding
		.teaser-wide-small__media--force-mobile + .teaser-wide-small__heading
			&:before
				padding: remify(10px)
