.teaser-topic-wide

	&:after
		content: ''
		display: block
		width: remify(50px)
		margin: remify(20px 0 20px $page-padding--small)
		border-bottom: 3px solid $zco-accent

	&__heading
		@extend %teaser-heading
		+scaled-font(42px, $title-factor)

	&__combined-link
		@extend %teaser-combined-link

	&__kicker
		@extend %teaser-kicker
		min-width: remify(180px)
		&--leserartikel
			@extend %teaser-kicker--leserartikel

	&__title
		@extend %teaser-title

	&__text
		@extend %teaser-text

	&__metadata
		@extend %teaser-metadata

	&__byline
		@extend %teaser-byline

	&__commentcount
		@extend %teaser-commentcount

+respond-max($break-tablet-min)
	.teaser-topic-wide
		&__combined-link,
		&__kicker,
		&__text,
		&__metadata
			padding-left: $page-padding--small
		&__text,
		&__metadata
			padding-right: $page-padding--small


+respond-min($break-tablet-min)
	.teaser-topic-wide
		margin-top: remify(20px)

		&:after
			margin: remify(30px 0 30px -45px)

		&__heading
			+scaled-font(42px, $title-factor)
			margin: remify(0 0 5px)
			max-width: none
			padding: 0

		&__kicker
			display: block
			padding: remify(0 0 15px)
			position: static

+respond-min($break-desktop-min)
	.teaser-topic-wide
		&:after
			margin: remify(40px 0 40px -45px)
