.toolbox
	margin: remify(20px 0 $vertical-space--small)

	&__headline
		+padded
		@extend %font-beckett
		color: $color-text
		+scaled-font(28px, $title-factor)
		margin: 0 0 -0.6em

	&__list
		background-color: $color-tools-primary
		list-style: none
		margin: 0
		padding: remify(30px 0 0)

	&__item
		margin: 1px 0 0
		padding: 0

	&__link
		background-color: #fff
		color: $color-tools-secondary
		display: block
		height: 100%
		padding: remify(20px $page-padding--small)
		+on-interaction
			color: $zco-charcoal

	&__title
		@extend %font-beckett
		+scaled-font(28px, $title-factor)
		margin: remify(0 0 9px)

	&__text,
	&__cta,
	&__sit-link
		+scaled-font(16px)
		line-height: (20/16)

	&__text
		display: inline
		margin: 0

	&__cta
		display: none

	&__footer
		background-color: $color-tools-primary
	&__sit-link
		+font-smoothing
		background-color: rgba(0, 0, 0, .1)
		color: #fff
		display: block
		font-weight: bold
		padding: remify(15px 0)
		text-align: center
		+on-interaction
			color: $zco-charcoal

	&__arrow
		height: remify(15px)
		width: remify(20px)
		margin-left: remify(4px)
		vertical-align: remify(-2px)

+respond-min($break-tablet-min)
	.toolbox
		margin-bottom: $vertical-space

		&__headline
			+scaled-font(42px, $title-factor)

		&__title
			min-height: 1.9em // = 2 lines

		&__list
			+display-flex()
			+justify-content(space-between)
			padding: remify(40px) $page-padding/2

		&__item
			margin: 0
			padding: 0 $page-padding/2
			width: 33.33%

		&__link
			padding-left: remify(10px)
			padding-right: remify(10px)
			+on-interaction
				+transform(translateY(-5px))
				box-shadow: 0px 11px 0px -6px rgba(0, 0, 0, .1)

		&__text
			display: block
			+scaled-font(14px)
			margin-bottom: remify(30px)

		&__cta
			display: inline

		&__sit-link
			padding: remify(25px 0)

+respond-min($break-desktop-min)
	.toolbox
		&__headline
			+scaled-font(64px, $title-factor)

		&__list
			padding-top: remify(60px)

		&__link
			padding-left: remify(20px)
			padding-right: remify(20px)

		&__title
			+scaled-font(42px, $title-factor)

		&__text
			+scaled-font(16px)
			margin-bottom: remify(20px)
