.teaser-lead-cinema
	@extend %teaser

	&__heading
		@extend %teaser-heading

	&__media
		background-color: $greyish-white
		height: 0
		padding-bottom: 100% / 16 * 9 // image variant 'wide' (16:9)

	&__content

	&__kicker
		@extend %teaser-kicker

	&__title
		@extend %teaser-title

	&__text
		@extend %teaser-text
