.teaser-wide-small
	@extend %teaser
	padding: $page-padding--small

	&__media
		@extend %teaser-media
		padding-bottom: 100% / 7 * 3 // image variant 'cinema', ratio 7:3

	&__heading
		+scaled-font(28px, $title-factor)
		line-height: 0
		margin: remify(0 0 10px)

	&__combined-link
		display: block
		position: relative

	&__kicker
		@extend %teaser-kicker
		&--leserartikel
			@extend %teaser-kicker--leserartikel

	&__title
		@extend %teaser-title
		background-color: $color-page-bg
		display: block
		padding-top: remify(12px)

	&__text
		@extend %teaser-text

	&__metadata
		@extend %teaser-metadata

	&__commentcount
		@extend %teaser-commentcount


	+respond-max($break-tablet-min)
		&__media:not(&__media--force-mobile)
			display: none
		&__media:not(&__media--force-mobile) + &__heading &__kicker
			padding: 0
			position: static

	+respond-min($break-tablet-min)
		padding: $vertical-space $cp-padding

// special case advertorial teaser on zco content
// come on and fry me
.teaser-wide-small
	&--advertorial
		position: relative
		font-family: "Verdana", $sans-fallbacks
		&:before
			background: rgba(#fff, 0.8)
			color: #444
			content: "Anzeige"
			display: inline-block
			font-family: $font-tabletgothic
			font-size: remify(9px)
			letter-spacing: 0.15em
			padding: remify(10px)
			position: absolute
			text-transform: uppercase
			top: $page-padding--small
			right: $page-padding--small
			+respond-min($break-tablet-min)
				top: $page-padding
				right: $cp-padding
		.teaser-wide-small__kicker
			font-size: 0.6375rem
			padding-bottom: remify(8px)
		.teaser-wide-small__title
			font-family: "Impact", "Arial Black", "Arial Bold", Gadget, sans-serif
			font-size: remify(19.2px)
			letter-spacing: 0.05em
			line-height: 1.2em
		.teaser-wide-small__text,
		.teaser-wide-small__metadata
			font-size: remify(12px)
