.teaser-wide-large
	@extend %teaser
	padding: $page-padding--small

	&__media
		@extend %teaser-media
		padding-bottom: 100% / 7 * 3 // image variant 'cinema', ratio 7:3

	&__heading
		@extend %teaser-heading
		+scaled-font(28px, $title-factor)

	&__combined-link
		@extend %teaser-combined-link

	&__kicker
		@extend %teaser-kicker
		&--leserartikel
			@extend %teaser-kicker--leserartikel

	&__title
		@extend %teaser-title

	&__text
		@extend %teaser-text

	&__metadata
		@extend %teaser-metadata

	&__byline
		@extend %teaser-byline

	&__commentcount
		@extend %teaser-commentcountlink


+respond-max($break-tablet-min)
	.teaser-wide-large
		&__heading
			margin-top: 0.46em
			max-width: none


+respond-min($break-tablet-min)
	.teaser-wide-large
		padding: $vertical-space $cp-padding
		&__heading
			+scaled-font(42px, $title-factor)
			padding-right: 0
		&__heading,
		&__text,
		&__metadata
			width: 90%
