.teaser-wide-small
	@extend %teaser
	padding: $page-padding--small

	&__media
		@extend %teaser-media
		padding-bottom: 100% / 7 * 3 // image variant 'cinema', ratio 7:3

	&__heading
		+scaled-font(28px, $title-factor)
		line-height: 0
		margin: remify(0 0 10px)

	&__combined-link
		display: block
		position: relative

	&__kicker
		@extend %teaser-kicker
		&--leserartikel
			@extend %teaser-kicker--leserartikel

	&__title
		@extend %teaser-title
		background-color: $color-page-bg
		display: block
		padding-top: remify(12px)

	&__text
		@extend %teaser-text

	&__metadata
		@extend %teaser-metadata

	&__commentcount
		@extend %teaser-commentcount


	+respond-max($break-tablet-min)
		&__media:not(&__media--force-mobile)
			display: none
		&__media:not(&__media--force-mobile) + &__heading &__kicker
			padding: 0
			position: static

	+respond-min($break-tablet-min)
		padding: $vertical-space $cp-padding
