.teaser-lead-portrait
	@extend %teaser

	&__media
		@extend %teaser-media
		overflow: hidden
		padding-bottom: 100% / 16 * 9 // image variant 'wide' (16:9)

	&__content
		padding: 0 0 $page-padding--small

	&__heading
		@extend %teaser-heading
		+scaled-font(42px, $title-factor)

	&__combined-link
		@extend %teaser-combined-link

	&__kicker
		@extend %teaser-kicker
		&--leserartikel
			@extend %teaser-kicker--leserartikel

	&__title
		@extend %teaser-title

	&__text
		@extend %teaser-text

	&__metadata
		@extend %teaser-metadata

	&__byline
		@extend %teaser-byline

+respond-max($break-tablet-min)
	.teaser-lead-portrait
		&__combined-link,
		&__kicker,
		&__text,
		&__metadata
			padding-left: $page-padding--small
		&__text,
		&__metadata
			max-width: 95%
			padding-right: $page-padding--small

+respond-min($break-tablet-min)
	.teaser-lead-portrait
		padding: $page-padding $page-padding*2 $page-padding $page-padding // this is to make the 50% width of the image consider the grid gutter
		position: relative

		&__media
			width: 50%
			padding-bottom: 50% / 3 * 4 // image variant 'portrait' (3:4), refers to half-width

		&__content
			background: $color-page-bg
			padding: remify(26px $page-padding 35px 30px)
			position: absolute
			right: 0
			top: remify(65px)
			width: 66.66%
			width: calc((100% - #{$page-padding}) * 2/3) // consider gutter

		&__heading
			+scaled-font(64px, $title-factor)
			margin: 0
			max-width: none
			padding-right: 0

		&__kicker
			display: block
			padding: remify(0 0 15px)
			position: static

		&__title
			display: block

		&__text
			+scaled-font(18px)
			line-height: (27/18)

+respond-min($break-desktop-min)
	.teaser-lead-portrait
		&__content
			top: remify(69px)
		&__heading
			+scaled-font(84px, $title-factor)
