//styles for buzz area within cp

%buzzboard__heading
	font-size: $font-ml
	font-weight: bold
	letter-spacing: $hair
	text-align: center
	text-transform: uppercase

.buzzboard
	+respond-max($break-2)
		+visuallyhidden
	font-family: $font-tabletgothic
	padding: $compact

	&__headline
		@extend %buzzboard__heading
		+no-user-select
		background-color: $white
		padding: 0 $petite
		display: inline

	&__divider
		border-bottom: $dblhair solid $black
		height: $fine
		text-align: center
		display: block

	&__table
		border-bottom: $dblhair solid $black
		tbody
			counter-reset: buzz-board
		th
			@extend %buzzboard__heading
			width: 33%
			padding: $big 0
		tr
			vertical-align: top
			counter-increment: buzz-board

	&__container
		min-height: remify(69px)
		margin-bottom: $compact
		padding: 0 $fine 0 $medium
		position: relative
		word-wrap: break-word
		span
			margin: $micro 0
		&:before
			font-family: $font-tiemann
			content: counter(buzz-board)
			font-size: $font-xxxl
			position: absolute
			left: 0
			line-height: 1em

	&__heading
		font-size: 1em
		font-weight: normal
		margin: 0
		a
			+link-colors($black, $black, $black, $black, $black)

	&__kicker
		display: block
		font-size: $font-s
		letter-spacing: $hair

	&__title
		font-weight: bold

	&__metadata
		color: $grey
		font-size: $font-s

	&__icon
		margin-right: $fine
		height: remify(36px)
		width: remify(36px)
		vertical-align: middle
