$trio-teaser-width: 270px
$major-width: 65%
$minor-width: 35%

.cp-region
	+pie-clearfix

.cp-area
	&--trio
		display: flex
		flex-wrap: wrap
		justify-content: center

	// as there could be a fullwidth teaser on top or not
	// we have to add the margin here
	&--major,
	&--minor
		margin-top: $small

	&__title
		@extend %headline
		border-top: 2px solid $black
		font-size: $font-ml
		padding: remify(28px 14px)
		text-align: center
		text-transform: uppercase
		width: 100%

	+respond-min($break-1)
		&--trio
			padding: remify(0 14px)
		&__title
			margin: remify(0 14px)

	+respond-min($break-areas)
		&--major,
		&--minor
			margin-top: $compact
		&--major
			display: flex
			flex-wrap: wrap
			float: left
			justify-content: space-between
			padding: remify(0 28px)
			width: $major-width
		&--minor
			float: left
			padding: remify(0 28px 0 0)
			width: $minor-width
		&--trio
			margin-bottom: $compact
		&--ranking
			margin: 0 auto
			max-width: $medium-content-width + 2 * remify(28px)
			padding: remify(0 28px)
