.header-image
	+font-smoothing
	background-color: $grey--mid-dark // fallback for expired images
	color: $white
	margin: $page-padding--small
	position: relative
	+respond-min($break-page-padding)
		margin: remify(28px)

	&__media
		&:before
			content: ''
			float: left
			padding-bottom: 100% / 7 * 2
		&:after
			clear: both
			content: ''
			display: block

	&__media-container
		+fake-box-shadow-inset($black, 0.8)

	&__heading
		line-height: 1.2
		margin: 0
		padding: $page-padding--small
		text-align: center
		&--overlay
			bottom: 0
			display: flex
			flex-direction: column
			justify-content: center
			left: 0
			position: absolute
			right: 0
			top: 0
		+respond-min($break-page-padding)
			padding: remify(40px 20px)
			&--overlay
				justify-content: flex-end

	&__title
		font-size: remify(28px)
		+respond-min($break-0)
			font-size: 5.5vw
		+respond-min($break-3)
			font-size: remify(56px)

	&__kicker
		display: block
		font-weight: normal
		text-transform: uppercase
