.markup
	+default-article-textlink

	&__title
		@extend %teaser__title
		margin: 0

	&__text
		font-family: $article-body-font

	p, ol, ul
		margin: 0.7em 0

	&--left
		text-align: left
	&--center
		text-align: center
	&--right
		text-align: right

	&--solo
		+padded
		margin: remify(22px auto 40px)
		max-width: $medium-content-width + 2 * $page-padding
		+respond-min($break-page-padding)
			margin: remify(52px auto 60px)

	&--solo &__text
		font-size: em(18px)
		line-height: 1.4
		+respond-min($break-page-padding)
			font-size: em(19px)
			line-height: 1.5

// this should match topicpages and seriespages and must not match advertorials
.header-image + .markup--solo.markup--center
	&:after
		border-top: 3px solid currentColor
		content: ''
		display: block
		margin: remify(28px auto 0)
		width: remify(85px)
		+respond-min($break-page-padding)
			margin-top: remify(50px)
