.header
    +padded
    padding-bottom: remify(13px)
    padding-top: remify(14px)
    border-bottom: 1px solid $color-border

    &__logo
        color: $color-zon-logo
        display: block
        height: $logo-height
        width: $logo-width
