.header
    padding: remify(14px $page-padding)
    border-bottom: 1px solid $color-border

    &__logo
        color: $color-zon-logo
        display: block
        height: $logo-height
        width: $logo-width
