<div class="app-user-feedback" id="app-user-feedback">
    <div id="quest1" class="questions-item">
        <div class="questions-item__text">{{ frage1 }}</div>
        <div id="anws1yes" class="questions-item__button" data-wt-click="{ ct : '#app_feedback' , ck:{ 4 : 'mobile', 5 : 'content', 6 : '{{ frage1 }}' , 9 : '{{ antwort1Pos }}' }}">
            {{ antwort1Pos }}
        </div>
        <div id="anws1no" class="questions-item__button" data-wt-click="{ ct : '#app_feedback' , ck:{ 4 : 'mobile', 5 : 'content', 6 : '{{ frage1 }}' , 9 : '{{ antwort1Neg }}' }}">
            {{ antwort1Neg }}
        </div>
    </div>
    <div id="quest2" class="questions-item hidden">
        <div class="questions-item__text">{{ frage2 }}</div>
        <div id="anws2yes" class="questions-item__button" data-wt-click="{ ct : '#app_feedback' , ck:{ 4 : 'mobile', 5 : 'content', 6 : '{{ frage2 }}' , 9 : '{{ antwort2Pos }}' }}">
            {{ antwort2Pos }}
        </div>
        <div id="anws2no" class="questions-item__button" data-wt-click="{ ct : '#app_feedback' , ck:{ 4 : 'mobile', 5 : 'content', 6 : '{{ frage2 }}' , 9 : '{{ antwort2Neg }}' }}">
            {{ antwort2Neg }}
        </div>
    </div>
    <div id="quest3" class="questions-item hidden">
        <div class="questions-item__text">{{ frage3 }}</div>
        <div id="anws3yes" class="questions-item__button" data-wt-click="{ ct : '#app_feedback' , ck:{ 4 : 'mobile', 5 : 'content', 6 : '{{ frage3 }}' , 9 : '{{ antwort3Pos }}' }}">
            {{ antwort3Pos }}
        </div>
        <div id="anws3no" class="questions-item__button" data-wt-click="{ ct : '#app_feedback' , ck:{ 4 : 'mobile', 5 : 'content', 6 : '{{ frage3 }}' , 9 : '{{ antwort3Neg }}' }}">
            {{ antwort3Neg }}
        </div>
    </div>
</div>
