
    <a class="nav__login-title" href="http://www.zeit.de/konto" role="button" aria-controls="user-menu" aria-label="Account" data-ct-label="user-menu" data-follow-mobile="true">
                    <span class="nav__user-picture nav__user-picture--default">

            </span>
        <span class="nav__user-name">{{ username }}</span>
    </a>
    <ul class="nav__login-list" id="user-menu" aria-hidden="true" data-ct-column="">
        <li><a href="http://www.zeit.de/konto">Konto</a></li>
        <li><a href="https://premium.zeit.de/abo?wt_zmc=fix.int.zonpme.zede.dropdown.premium.text.link.link&amp;utm_medium=fix&amp;utm_source=zede_zonpme_int&amp;utm_campaign=dropdown&amp;utm_content=premium_text_link_link">Digital-Abo</a></li>
        <li><a href="http://community.zeit.de/user">Kommentare</a></li>
        <li>
            <a href="https://meine.zeit.de/abmelden?url=http%3A%2F%2Fwww.zeit.de%2Findex&amp;entry_service=sonstige">
                Abmelden
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" class="svg-symbol nav__login-icon" preserveAspectRatio="xMinYMin meet" role="img" aria-label="Login"><title>Login</title><g><path d="M9.276 9.462L6.585 11.25l1.608 1.608 3.858-3.859-3.858-3.86-1.608 1.609 2.614 1.736-2.55-.498H0v2.043h6.667z"></path><path d="M2.936 0v4.452h1.706V1.705h11.179v14.59H4.642v-2.749H2.936V18h14.59V0z"></path></g></svg>
            </a>
        </li>
    </ul>

