<a class="nav__login-title" href="https://www.zeit.de/konto" role="button" aria-controls="user-menu" aria-label="Account" data-ct-label="user-menu" data-follow-mobile="true">
    <span class="nav__user-picture nav__user-picture--default"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" class="svg-symbol nav__user-avatar" preserveAspectRatio="xMinYMin meet" role="img" aria-label="Avatar"><title>Avatar</title><path d="M30 60c8.568 0 16.299-3.593 21.764-9.354-.338-1.17-.801-2.104-1.477-2.604-2.102-1.558-4.676-2.836-8.15-4.275-3.301-1.367-6.576-2.173-7.246-2.173-.182-.58-.398-1.195-.652-2.21 3.984-3.297 4.637-11.359 4.637-12.969 0-8.405-2.645-11.738-8.875-11.738-6.231 0-8.875 3.333-8.875 11.738 0 1.61.652 9.672 4.637 12.969-.254 1.015-.471 1.63-.652 2.21-.67 0-3.946.806-7.245 2.173-3.475 1.439-6.05 2.718-8.151 4.275-.675.501-1.139 1.435-1.478 2.604C13.702 56.407 21.431 60 30 60z"></path></svg></span>
    <span class="nav__user-name">{{{ username }}}</span>{{! triple mustache for unescaped HTML output }}
</a>
<ul class="nav__login-list" id="user-menu" aria-hidden="true" data-ct-column="">
    <li><a href="https://www.zeit.de/konto">Konto</a></li>
    <li><a href="https://premium.zeit.de/abo?wt_zmc=fix.int.zonpme.zede.dropdown.premium.text.link.link&amp;utm_medium=fix&amp;utm_source=zede_zonpme_int&amp;utm_campaign=dropdown&amp;utm_content=premium_text_link_link">Digital-Abo</a></li>
    <li><a href="https://community.zeit.de/user">Kommentare</a></li>
    <li>
        <a href="https://meine.zeit.de/abmelden?url={{ returnurl }}">
            Abmelden
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" class="svg-symbol nav__login-icon" preserveAspectRatio="xMinYMin meet" aria-hidden="true"><g><path d="M9.276 9.462L6.585 11.25l1.608 1.608 3.858-3.859-3.858-3.86-1.608 1.609 2.614 1.736-2.55-.498H0v2.043h6.667z"></path><path d="M2.936 0v4.452h1.706V1.705h11.179v14.59H4.642v-2.749H2.936V18h14.59V0z"></path></g></svg>
        </a>
    </li>
</ul>
