<div class="article__item article__item--wide">
    <aside class="authorbox figure figure--float" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <div class="authorbox__container">
            {%- include "zeit.web.core:templates/amp/asset/image_authorbox.html" -%}
            <div>
                <strong class="authorbox__name" itemprop="name">{{ block.author.display_name }}</strong>
                <em class="authorbox__summary" itemprop="description">{{ block.author.summary }}</em>
            </div>
        </div>

        {% if block.author.uniqueId -%}
            <a href="{{ block.author.uniqueId | create_url }}" itemprop="url" class="authorbox__button button">zur Autorenseite</a>
        {%- endif %}

    </aside>
</div>
