{% set image = get_image(content=block, variant_id="wide") %}
{% if image and not is_image_expired(image) %}

	{% set source = request.image_host + image.path %}
	{% set fallback_source = request.image_host + image.fallback_path %}
	{% set width = 660 %}
	{% set height = (width / image.ratio) | int %}

	<div class="article__item article__item--wide">
		<figure class="{{ 'figure' | with_mods(*image.figure_mods) }}" itemscope itemtype="http://schema.org/ImageObject">
			{% if image.href -%}
				<a class="figure__link" title="{{ image.title }}" href="{{ image.href }}">
			{%- endif %}
			<amp-img
				src="{{ "%s__%sx%s" | format(source, width, height) }}"
				srcset="{% for w in (1440, 1080, 750, 660, 480, 320) %}{{ "%s__%sx%s %sw" | format(source, w, (w / image.ratio) | int, w) }}{{ ", " if not loop.last }}{% endfor %}"
				alt="{{ image.alt }}"
				width="{{ width }}"
				height="{{ height }}"
				sizes=""
				layout="responsive"
				attribution="
				{%- for name, url, nofollow in image.copyright -%}
					{%- if name | trim | length > 1 -%}{{ name }}{%- endif -%}
				{%- endfor -%}"
				{%- if image.itemprop %} itemprop="{{ image.itemprop }}"{% endif %}></amp-img>
			{% if image.href -%}
				</a>
			{%- endif %}

			<!-- <img src="{{ fallback_source }}" data-src="{{ source }}" data-variant="{{ image.image_pattern }}" data-ratio="{{ image.ratio }}"> -->
			<!-- <noscript data-src="{{ fallback_source }}"></noscript> -->

			<figcaption class="figure__caption">
				<span class="figure__text">{{ image.caption }}</span>
				{% for name, url, nofollow in image.copyright %}
				<span class="figure__copyright" itemprop="copyrightHolder">
					{% if url %}<a itemprop="url"{% if nofollow %} rel="nofollow"{% endif %} href="{{ url }}">{% endif %}
					{% if name | trim | length > 1 %}<span itemprop="name">{{ name }}</span>{% endif %}
					{% if url %}</a>{% endif %}
				</span>
				{% endfor %}
			</figcaption>
		</figure>
	</div>

{% endif %}
