{% set image = get_image(content=block, variant_id="wide", fallback=False) or block %}
{% if image and not is_image_expired(image) %}

	{%- set width = 660 %}
	{%- set height = (width / image.ratio) | int %}

	{# TRASHME Rather crude bitblt/zci image api switch #}
	{%- if image is variant %}
		{% set source = request.image_host + image.path %}
		{% set fallback_source = request.image_host + image.fallback_path %}
		{% set src = "%s__%sx%s" | format(source, width, height) %}
		{% set sizes = [320, 480, 660, 820] %}
		{#% for w in (1440, 1080, 750, 660, 480, 320) %}{{ "%s__%sx%s %sw" | format(source, w, (w / image.ratio) | int, w) }}{{ ", " if not loop.last }}{% endfor %#}
	{%- else %}
		{% set source = image | default_image_url %}
		{% set fallback_source = source %}
		{% set src = source %}
		{% set sizes = [] %}
	{%- endif %}

	<div class="article__item article__item--wide">
		<figure class="{{ 'figure' | with_mods(*block.figure_mods) }}"{% if block.itemprop %} itemprop="{{ block.itemprop }}"{% endif %} itemscope itemtype="http://schema.org/ImageObject">
			{% if image.href -%}
				<a class="figure__link" title="{{ image.title }}" href="{{ image.href }}">
			{%- endif %}
			<amp-img
				src="{{ src }}"
				srcset="{% for w in sizes %}{{ "%s__%sx%s %sw" | format(source, w, (w / image.ratio) | int, w) }}{{ ", " if not loop.last }}{% endfor %}"
				alt="{{ image.alt }}"
				width="{{ width }}"
				height="{{ height }}"
				sizes=""
				layout="responsive"
				attribution="
				{%- for name, url, nofollow in image.copyright -%}
					{%- if name | trim | length > 1 %}{{ name | trim }}{% endif -%}
				{%- endfor %}"
				itemprop="contentUrl"></amp-img>
			{% if image.href -%}
				</a>
			{%- endif %}
			<meta itemprop="url" content="{{ fallback_source }}">
			<meta itemprop="width" content="{{ width }}">
			<meta itemprop="height" content="{{ height }}">

			<figcaption class="figure__caption">
				<span class="figure__text" itemprop="caption">{{ image.caption }}</span>
				{% for name, url, nofollow in image.copyright %}
				<span class="figure__copyright" itemprop="copyrightHolder" itemscope itemtype="http://schema.org/Person">
					{% if url %}<a itemprop="url"{% if nofollow %} rel="nofollow"{% endif %} href="{{ url }}">{% endif %}
					{% if name | trim | length > 1 %}<span itemprop="name">{{ name }}</span>{% endif %}
					{% if url %}</a>{% endif %}
				</span>
				{% endfor %}
			</figcaption>
		</figure>
	</div>

{% endif %}
