{% if block.contents -%}
{% set base_id = block.identifier %}
<aside class="infobox" id="{{ base_id }}">
    <div class="infobox__container article__item">
    {% for title, text in block.contents %}
        {% set tab_id = '%s-%s' | format(base_id, loop.index) %}
        <section>
            <h3 class="infobox__title" role="presentation">
                <a
                    class="infobox__link"
                    id="{{ tab_id }}-tab"
                    role="tab"
                    href="#{{ tab_id }}-tab"
                    data-id="{{ tab_id }}-tab"
                    aria-controls="{{ tab_id }}-article">
                    {{- title -}}
                </a>
            </h3>
            <div
                class="infobox__panel"
                id="{{ tab_id }}-article"
                role="tabpanel"
                aria-labelledby="{{ tab_id }}-tab">
                {% for block in text %}
                    {% include "zeit.web.core:templates/amp/blocks/{}.html".format( block | block_type ) ignore missing %}
                {% endfor %}
            </div>
        </section>
    {% endfor %}
    </div>
</aside>
{%- endif %}
