{% if block.contents -%}
{% set id = block.title | attr_safe %}
<aside class="infobox" id="{{ id }}" role="application">
	<div class="infobox__container">
	{% for title, text in block.contents %}
		<section class="infobox-tab" id="{{ id }}-{{ loop.index }}">
			<h3 class="infobox-tab__title" role="presentation">
				<a
					class="infobox-tab__link"
					id="{{ id }}-{{ loop.index }}-tab"
					role="tab"
					href="#{{ id }}-{{ loop.index }}"
					data-id="{{ id }}-{{ loop.index }}-tab"
					aria-controls="{{ id }}-{{ loop.index }}-article">
					{{- title -}}
				</a>
			</h3>
			<article
				class="infobox-tab__panel"
				id="{{ id }}-{{ loop.index }}-article"
				role="tabpanel"
				aria-labelledby="{{ id }}-{{ loop.index }}-tab">
				{% for item in text %}
					{% include "zeit.web.core:templates/amp/blocks/{}.html".format( item | block_type ) ignore missing %}
				{% endfor %}
			</article>
		</section>
	{% endfor %}
	</div>
</aside>
{%- endif %}
