{% if block.contents -%}
{% set base_id = block.identifier %}
<aside class="infobox">
    <amp-accordion class="article__item" disable-session-states>
    {% for title, text in block.contents %}
        <section class="infobox__tab">
            <h3 class="infobox__title">
                {{- title -}}
            </h3>
            <div class="infobox__panel">
                {% for block in text %}
                    {% include "zeit.web.core:templates/amp/blocks/{}.html".format( block | block_type ) ignore missing %}
                {% endfor %}
            </div>
        </section>
    {% endfor %}
    </amp-accordion>
</aside>
{%- endif %}
