{% import 'zeit.web.core:templates/macros/layout_macro.tpl' as lama %}
{% set amp_blog_id = block.get_amp_themed_id(block.id) %}
{% if amp_blog_id -%}
    <div class="liveblog article__item article__item--large">
        {%- if block.version == '3' -%}
            {% set esi_source = '/liveblog-backend-v3/{}/{}/index.html'.format(block.blog_id, amp_blog_id) %}
        {%- else -%}
            {% set esi_source = '/liveblog-backend/{}.html'.format(amp_blog_id) %}
        {%- endif -%}
        {{ lama.insert_esi(esi_source, 'Liveblog konnte nicht geladen werden') }}
    </div>
{%- endif %}
