{% import 'templates/macros/article_macro.tpl' as blocks with context%}

<div class="article__head-wrap">
    <header class="article__head article__head--mode">
      {{ blocks[view.header_elem|block_type](view.header_elem) }}
      <div class="wrap">
        {{ blocks.supertitle() }}
        {{ blocks.title() }}
        <span class="article__head__meta">
          {{ blocks.source_date(view.show_article_date | format_date(view.show_date_format), view.source) }}
        </span>
        {{ blocks.subtitle(True) }}
      </div>
    </header>
</div>
