{% import 'templates/macros/article_macro.tpl' as blocks with context%}

<div class="article__head-wrap">
    <header class="article__head article__head--text-only">
      <h1>
        {{ blocks.supertitle() }}
        {{ blocks.title() }}
      </h1>
      {{ blocks.subtitle() }}
      <span class="article__head__meta-wrap">
        <span class="article__head__meta">
          <div class="article__head__meta__offset">
            {% if view.genre -%}
                {{view.genre}}
            {%- endif %}
            {{ blocks.meta_author(view.authors) }}
          </div>
          {{ blocks.source_date(view.show_article_date | format_date(view.show_date_format), view.source) }}
        </span>
      </span>
    </header>
</div>
