// zeit.web.site config
$base-font-size: 16px
$base-line-height: 1.5
$headline-line-height: 1.4
$meta-line-height: 1.7

// breakpoints
$break-phablet-min: em(520px)
$break-tablet-min: em(768px)
$break-desktop-min: em(980px)

// teaser
$teaser-image-phablet-width: em(150px)
$teaser-image-desktop-width: em(260px)

// colors
$zon-red: #b91109

@import "../constants"

// semantic colors
$color-body-bg: $white
$color-page-bg: $white
$color-text: $black
$color-text-highlighted: $zon-red
$color-canvas-bg: $white
$color-quote: $grey--dark
$color-link--default: $grey
$color-link--hover: $black
$color-input: $grey--mid
$color-input-bg: $grey--light

$color-button:              $white
$color-button--hover:       $white
$color-button--disabled:    $charcoal
$color-button-bg:           $grey--mid-dark
$color-button-bg--hover:    $grey--mid
$color-button-bg--disabled: $grey--light
