// zeit.web.site config
$base-font-size: 16px
$base-line-height: 1.5
$headline-line-height: 1.4

// letter-spacing
$zon-letter-spacing-l: 0.08em !default
$zon-letter-spacing-m: 0.05em !default
$zon-letter-spacing-s: 0.03em !default

@import "../constants"

// colors
// for naming inspiration see http://chir.ag/projects/name-that-color/
$zon-red: #b91109
$zon-alto: #dddddd
$zon-charcoal: #313131
$zon-seashell: #f1f1f1
$zon-trout: #535560
$zon-dark-grey: #444
$zon-grey: #707070
$zon-mid-grey: #999
$zon-light-grey: #CCC
$zon-lighter-grey: #EEE
$zon-warm-dark-grey: #e5e5e3
$zon-warm-grey: #f0f0ed
$zon-silver: #bbbbbb


// brandeins teasers
$kicker-color-brandeins: #252525
$kicker-logo-color-brandeins: #252525

// spektrum.de
$primary-color-spektrum: #4d86a4

// ZMO
$primary-color-zmo: #252525

// ze.tt
$primary-color-zett: #f76900

// Campus
$kicker-color-campus: #005aff

// Arbeit
$kicker-color-arbeit: #cc3a46 // = $zar-faded-red
$primary-color-zar: #252525

// semantic colors
$color-body-bg: #41464d
$color-body-text: $white
$color-page-bg: $white !default
$color-text: $zon-charcoal
$color-text-highlighted: $zon-red
$color-link--default: $zon-charcoal
$color-link--visited: $zon-charcoal
$color-link--hover: $zon-red
$color-link--active: $zon-red
$color-link--focus: $zon-red
$color-input: $zon-dark-grey
$color-input-bg: $zon-lighter-grey
$color-input-border: $zon-lighter-grey
$color-input--focus: $zon-charcoal
$color-input-bg--focus: $zon-seashell
$color-input-border--focus: $zon-light-grey
$color-input--error: $zon-red
$color-input-bg--error: #ffe9ed
$color-input-border--error: $zon-red
$color-border: $zon-alto
$color-zon-logo: #1D1D1B
$color-dark-background: #33333a

//mobile navigation bar globals
$zon-bar-height-phablet-px: 54px
$zon-bar-height-phablet: em($zon-bar-height-phablet-px)

// margins and paddings
$page-padding:        remify(20px)
$page-padding--small: remify(14px)
$cp-padding:          remify(10px)
$vertical-space:      remify(20px)
$video-title-padding--px: 15px
$video-title-padding: remify($video-title-padding--px)
