@media print

	// --------------------------------------------
	// article elements
	#nextread,
	.column-heading__author,
	.comment-section,
	.newsletter-teaser-box, // raw-code in articles comes with own stylesheets
	.breaking-news-banner,
		display: none !important

	// --------------------------------------------
	// article sections

	.article-heading
		margin: 6mm 0 0

		&__kicker
			color: $zon-print-grey
			font-size: 7pt * $print-zoom
			line-height: 9pt * $print-zoom
			margin-bottom: 1pt * $print-zoom
			padding: 0

		&__title
			font-size: 18pt * $print-zoom
			line-height: 21pt * $print-zoom
			margin-bottom: 14pt * $print-zoom

	.summary,
	.byline
		font-size: 10.5pt * $print-zoom
		line-height: 15pt * $print-zoom
		margin-bottom: 7pt * $print-zoom

	.byline a:after
		content: ""

	.metadata
		color: $zon-print-grey
		font-size: 7pt * $print-zoom
		line-height: 9pt * $print-zoom
		margin-bottom: 14pt * $print-zoom

	.article
		&__media
			max-width: $print-media-width
			margin: $print-media-margin

		&__media-item[src*='kreuzwortgitter']
			width: 15cm

		&__item
			&--marginalia
				clear: left
				float: left
				page-break-inside: avoid
				max-width: 40mm
				margin: 0 (20pt * $print-zoom) (14pt * $print-zoom) 0
				a
					font-size: 7pt * $print-zoom

	.figure
		&__caption
			font-size: 7pt * $print-zoom
			margin-left: 0
			padding-left: 0 !important

	.article__subheading
		font-size: 11pt * $print-zoom
		line-height: 14pt * $print-zoom
		margin-bottom: 7pt * $print-zoom
		margin-top: 14pt * $print-zoom
		page-break-inside: avoid
		page-break-after: avoid

	.paragraph,
	.raw
		font-size: 9.5pt * $print-zoom
		line-height: 14pt * $print-zoom
		margin-bottom: 7pt * $print-zoom

	// --------------------------------------------
	// column articles
	.column-heading *
		background: white !important
		color: $zon-print-grey !important
	.column-heading,
	.column-heading__information,
	.column-heading__lower
		padding-bottom: 0
	.column-heading__title
		max-width: none
