$zon-print-grey: #707070
$print-media-width: 100mm
$print-media-margin: 14pt 0

@media print

    @page
        margin: 15mm 25mm
        size: auto

    body
        background: transparent

    p
        orphans: 2
        widows: 3

    h1, h2, h3, h4, h5, h6
        break-after: avoid
        page-break-after: avoid
        page-break-inside: avoid

    acronym[title]:after,
    abbr[title]:after
        content: " (" attr(title) ")"

    a[href^="http"]
        color: $zon-print-grey
        page-break-inside: avoid
        &:after
            border-bottom: 1px solid white // To visibly hide grey border of <a>
            content: " [" attr(href) "]"
            font-family: $font-tabletgothic
            font-size: inherit
            word-wrap: break-word

    a[href^="#"]:after
        content: ""

    #ads,
    #adunit,
    #comments,
    #nextread,
    .ad,
    .ads,
    .article-footer,
    .article-lineage,
    .article-pagination,
    .comment-section,
    .article-toc,
    .footer,
    .logo_bar__menu,
    .nextread,
    .nextread-advertisement,
    .veeseoWidget,
    .video-figure__caption,
    .video-player,
    iframe[id^="google_ads"],
    div[class="main_nav__"] // Hide all nav elements but keep ZON logo visible
        display: none !important

    #main
        padding: 0
        margin: 0

    .page__content
        box-shadow: none

    .logo_bar
        border-bottom: 1pt solid $zon-print-grey
        padding: 0
        a:after
            content: ""
        &__brand-logo
            padding: 0

    .article-heading
        margin: 6mm 0 0

        &__kicker
            color: $zon-print-grey
            font-size: 7pt
            line-height: 9pt
            margin-bottom: 1pt
            padding: 0

        &__title
            font-size: 18pt
            line-height: 21pt
            margin-bottom: 14pt

    .summary,
    .byline
        font-size: 10.5pt
        line-height: 15pt
        margin-bottom: 7pt

    .byline a:after
        content: ""

    .metadata
        font-size: 7pt
        line-height: 9pt
        margin-bottom: 14pt

    .article
        &__media
            max-width: $print-media-width
            margin: $print-media-margin

        &__item
            &--marginalia
                float: left
                page-break-inside: avoid
                max-width: 40mm
                margin: 0 20pt 14pt 0
                a
                    font-size: 7pt

    .figure
        &__caption
            margin-left: 0
            font-size: 7pt

    .article__subheading,
    .article-page__page-teaser
        font-size: 11pt
        line-height: 14pt
        margin-bottom: 7pt
        margin-top: 14pt
        page-break-inside: avoid
        page-break-after: avoid

    .paragraph,
    .raw
        font-size: 9.5pt
        line-height: 14pt
        margin-bottom: 7pt

    .portraitbox

        &__heading,
        &__body
            font-size: 7pt
            line-height: 11pt
            margin-bottom: 6pt
        a,
        a:after
            color: $zon-print-grey
            font-size: 7pt

    .infobox
        background-color: transparent
        border: 1pt solid $zon-print-grey
        margin: $print-media-margin
        padding: 0
        page-break-inside: avoid
        max-width: $print-media-width

    .infobox-tab
        border-bottom: 1pt solid $zon-print-grey
        padding: 9pt

        &__link,
        &__title,
        &__content p
            font-size: 7pt
            line-height: 11pt
            margin-bottom: 6pt

        &__title
            padding: 0

        &__link
            font-weight: bold

        &__content[aria-hidden='true']
            max-height: none // always show all infobox content (ignore script)
