@charset "UTF-8"

@import "setup"

@import "../vendor/normalize.css"

@import "utils"
@import "functions"
@import "constants"
@import "mixins"

$color-body-bg: #fff
$primary-color: $zon-charcoal
$logo-width: remify(231px)
$logo-height: remify(26px)

@import "modules/breakpoints-to-js"
@import "modules/defaults"
@import "modules/basics"
@import "modules/fonts"

@import "framebuilder-minimal/page"
@import "framebuilder-minimal/main"
@import "framebuilder-minimal/header"

@import "modules/footer"
@import "framebuilder-minimal/footer"
