@import "utils"
@import "functions"
@import "constants"
@import "mixins"

// navigation
// we have to do some nav remodelling for IE8/9 as it doesnt support flexbox

.lt-ie9,
.lt-ie10
    .main_nav__community
        width: 90%

.lt-ie9
    .main_nav
        min-width: $break-tablet-min
    .main_nav__classifieds
        font-size: $font-xs
        width: 50%
        .main-nav-classifieds__item[data-feature="dropdown"]
            display: none
    .main_nav__services
        font-size: $font-xs
        width: 49%

.lt-ie10
    .main_nav__services
        +respond-max($break-tablet-min)
            ul > li
                width: 30%
    .main_nav__classifieds
        +respond-min($break-tablet-min)
            width: 44%
    .main_nav__community
        +respond-max(em(768px))
            width: 100%
    .logo_bar
        +respond-max($break-tablet-min)
            text-align: right
    .logo_bar__image
        +respond-max($break-tablet-min)
            position: absolute
            top: 5px
            left: 20px
    .logo_bar__menu
        height: $zon-bar-height-phablet-px



