// styling for brightcove video player
// set as css source in player when launched
// and replace link to old css
// deep in specifity wars with bc and vjs
html.bc-iframe body div.video-js.vjs-default-skin div.vjs-big-play-button
	display: block
	top: 0
	left: 0
	right: 0
	bottom: 0
	margin: auto
