{% import 'zeit.web.core:templates/macros/layout_macro.tpl' as lama %}

{% if view.product_id == 'News' or view.product_id == 'afp' %}
    <aside class="article-notice article__item">
        <h2 class="article-notice__title">
            {{ lama.use_svg_icon('info', 'article-notice__title-icon', 'zeit.web.site', a11y=False) }}
            Hinweis
        </h2>
        <p class="article-notice__text">
            {%- if view.product_id == 'News' -%}
                 Diese Meldung ist Teil des automatisierten Nachrichten-Feeds der Deutschen Presse-Agentur (dpa).
                 Die dpa ist eine Nachrichtenagentur, die Medien mit selbst recherchierten und formulierten Meldungen zu aktuellen Ereignissen beliefert.
            {%- else -%}
                Diese Meldung ist Teil des automatisierten Nachrichten-Feeds der Agence France-Presse (AFP).
                AFP ist eine Nachrichtenagentur, die Medien mit selbst recherchierten und formulierten Meldungen zu aktuellen Ereignissen beliefert.
            {%- endif -%}
        </p>
    </aside>
{% endif %}
