<section class="video-stage" id="video-bar">
    <!-- html5, eine section braucht eine headline, falls das seomäßig nicht geht, können wir auch nicht section nehmen -->
    <header>
        <h6 class="video-stage-heading">Videos auf <span class="video-stage-heading__logo icon-logo-zon-large">ZEIT ONLINE</span></h6>
    </header>

    <div class="video-stage-main">
        {% set video = view.area_videobar.videos[0] %}
        {% include "zeit.web.site:templates/inc/videobar/video-large.tpl" %}
    </div>

    <div class="video-stage-secondary">
        <h6 class="video-stage-secondary__title">Die neuesten Videos</h6>
        {% for video in view.area_videobar.videos[1:] %}
            {% include "zeit.web.site:templates/inc/videobar/video-small.tpl" %}
        {% endfor %}
    </div>

    <footer class="video-stage-footer">
        <div class="video-series">
            <!-- ist so nicht accessible umzusetzen, ohne js auch nicht bedienbar -->
            <label for="series_select" class="video-series__label">Videoserien</label>
            <select id="series_select" class="video-series__select" name="serie">
                <option>Bitte auswählen</option>
                {% for video in view.video_series_list %}
                    <option value="{{video.url}}">{{video.title}}</option>
                {% endfor %}
            </select>
        </div>
        <!-- sind doch gar nicht alle Videos? -->
        <a class="video-centerpage-link" href="{{'http://xml.zeit.de/video'| translate_url}}">Alle Videos</a>
    </footer>
</section>
