<div class="videbar">
    <span class="videobar__title">Videos auf ZEIT ONLINE</span>
    {% for video in view.area_videobar.videos %}
    <div class"video-teaser">
        <span class"video-teaser__kicker">{{ video.teaserSupertitle | hide_none }}</span>
        <span class"video-teaser__title">{{ video.teaserTitle | hide_none }}</span>
        {% set image = (video | get_image_group)['still.jpg'] %}
        {% include "zeit.web.site:templates/inc/teaser_asset/image_videobar.tpl" %}
    </div>
    {% endfor %}
</div>
