{% for area in (view.area_buzz_mostread, view.area_buzz_facebook, view.area_buzz_comments) -%}
    {% if area | length %}
    <div class="buzz-box">
        <div class="buzz-box__heading">
            {{ area.header }}
        </div>
        <div class="buzz-box__teasers">
            {% for teaser in area -%}
                {% set score = teaser.score %}
                {% set layout = area.layout %}
                {% include ["zeit.web.site:templates/inc/teaser/" + layout + ".tpl",
                            "zeit.web.site:templates/inc/teaser/default.tpl"] with context %}
            {%- endfor %}
        </div>
    </div>
    {% endif %}
{%- endfor %}
