{%- import 'zeit.web.site:templates/macros/centerpage_macro.tpl' as cp with context -%}

<div class="teaser-collection">
    {# cp.include_teaser_block(view.area_main) #}
    <div class="teasers">
        <article class="teaser">
            <h2 class="teaser__heading">
                <a class="teaser__combined-link" title="Ukraine-Krise - EU-Sanktionen gegen Russland beginnen Freitag" href="http://www.zeit.de/wirtschaft/2014-09/eu-sanktionen-gegen-russland-beginnen-freitag">
                    <span class="teaser__kicker">Ukraine-Krise</span>
                    <span class="teaser__title">EU-Sanktionen gegen Russland beginnen Freitag</span>
                </a>
            </h2>
            <figure class="teaser__media">
                <a class="teaser__media-link" title="Ukraine-Krise - EU-Sanktionen gegen Russland beginnen Freitag" href="http://www.zeit.de/wirtschaft/2014-09/eu-sanktionen-gegen-russland-beginnen-freitag">
                    <img class="teaser__media-item" alt="EU Sanktionen Russland" src="/img/friedbert_dummy.jpg">
                </a>
            </figure>
            <div class="teaser__container">
                <p class="teaser__text">Mehrere Tage hatten die EU-Botschafter in Brüssel gestritten, nun haben sie sich geeinigt. Betroffen von den neuen Sanktionen sind Ölfirmen wie Rosneft und Transneft.</p>
                <div class="teaser__byline">Ein Ballade von Schiller als Goethe verreist war</div>
                <div class="teaser__metadata">
                    <time class="teaser__datetime" datetime="2014-09-11 13:16">vor 52 Minuten</time>
                    <a class="teaser__commentcount" href="http://www.zeit.de/wirtschaft/2014-09/eu-sanktionen-gegen-russland-beginnen-freitag#comments" title="141 Kommentare">141 Kommentare</a>
                </div>
            </div>
        </article>
        <article class="teaser">
            <h2 class="teaser__heading">
                <a class="teaser__combined-link" title="Ukraine-Krise - EU-Sanktionen gegen Russland beginnen Freitag" href="http://www.zeit.de/wirtschaft/2014-09/eu-sanktionen-gegen-russland-beginnen-freitag">
                    <span class="teaser__kicker">Ukraine-Krise</span>
                    <span class="teaser__title">EU-Sanktionen gegen Russland beginnen Freitag</span>
                </a>
            </h2>
            <div class="teaser__container">
                <p class="teaser__text">Mehrere Tage hatten die EU-Botschafter in Brüssel gestritten, nun haben sie sich geeinigt. Betroffen von den neuen Sanktionen sind Ölfirmen wie Rosneft und Transneft.</p>
                <div class="teaser__byline">Ein Ballade von Schiller als Goethe verreist war</div>
                <div class="teaser__metadata">
                    <time class="teaser__datetime" datetime="2014-09-11 13:16">vor 52 Minuten</time>
                    <a class="teaser__commentcount" href="http://www.zeit.de/wirtschaft/2014-09/eu-sanktionen-gegen-russland-beginnen-freitag#comments" title="141 Kommentare">141 Kommentare</a>
                </div>
            </div>
        </article>


        <!-- kleiner Teaser -->
        <article class="teaser teaser--small teaser--smallmedia">
            <h2 class="teaser__heading">
                <a class="teaser__combined-link" title="Ukraine-Krise - EU-Sanktionen gegen Russland beginnen Freitag" href="http://www.zeit.de/wirtschaft/2014-09/eu-sanktionen-gegen-russland-beginnen-freitag">
                    <span class="teaser__kicker ">Ukraine-Krise</span>
                    <span class="teaser__title teaser__title--small">EU-Sanktionen gegen Russland beginnen Freitag</span>
                </a>
            </h2>
            <figure class="teaser__media teaser__media--small" data-showimagemobile="true">
                <a class="teaser__media-link" title="Ukraine-Krise - EU-Sanktionen gegen Russland beginnen Freitag" href="http://www.zeit.de/wirtschaft/2014-09/eu-sanktionen-gegen-russland-beginnen-freitag">
                    <img class="teaser__media-item teaser__media-item--small" alt="EU Sanktionen Russland" src="/img/friedbert_dummy.jpg">
                </a>
            </figure>
            <div class="teaser__container">
                <p class="teaser__text">Mehrere Tage hatten die EU-Botschafter in Brüssel gestritten, nun haben sie sich geeinigt. Betroffen von den neuen Sanktionen sind Ölfirmen wie Rosneft und Transneft.</p>
                <div class="teaser__byline">Ein Ballade von Schiller als Goethe verreist war</div>
                <div class="teaser__metadata">
                    <time class="teaser__datetime" datetime="2014-09-11 13:16">vor 52 Minuten</time>
                    <a class="teaser__commentcount" href="http://www.zeit.de/wirtschaft/2014-09/eu-sanktionen-gegen-russland-beginnen-freitag#comments" title="141 Kommentare">141 Kommentare</a>
                </div>
            </div>
        </article>

        <!-- kleiner Teaser -->
        <article class="teaser teaser--small teaser--smallmedia">
            <h2 class="teaser__heading">
                <a class="teaser__combined-link" title="Ukraine-Krise - EU-Sanktionen gegen Russland beginnen Freitag" href="http://www.zeit.de/wirtschaft/2014-09/eu-sanktionen-gegen-russland-beginnen-freitag">
                    <span class="teaser__kicker ">Ukraine-Krise</span>
                    <span class="teaser__title teaser__title--small">EU-Sanktionen gegen Russland beginnen Freitag</span>
                </a>
            </h2>
            <figure class="teaser__media teaser__media--small">
                <a class="teaser__media-link" title="Ukraine-Krise - EU-Sanktionen gegen Russland beginnen Freitag" href="http://www.zeit.de/wirtschaft/2014-09/eu-sanktionen-gegen-russland-beginnen-freitag">
                    <img class="teaser__media-item teaser__media-item--small" alt="EU Sanktionen Russland" src="/img/friedbert_dummy.jpg">
                </a>
            </figure>
            <div class="teaser__container">
                <p class="teaser__text">Mehrere Tage hatten die EU-Botschafter in Brüssel gestritten, nun haben sie sich geeinigt. Betroffen von den neuen Sanktionen sind Ölfirmen wie Rosneft und Transneft.</p>
                <div class="teaser__byline">Ein Ballade von Schiller als Goethe verreist war</div>
                <div class="teaser__metadata">
                    <time class="teaser__datetime" datetime="2014-09-11 13:16">vor 52 Minuten</time>
                    <a class="teaser__commentcount" href="http://www.zeit.de/wirtschaft/2014-09/eu-sanktionen-gegen-russland-beginnen-freitag#comments" title="141 Kommentare">141 Kommentare</a>
                </div>
            </div>
        </article>

        <!-- kleiner Teaser -->
        <article class="teaser teaser--small teaser--smallmedia">
            <h2 class="teaser__heading">
                <a class="teaser__combined-link" title="Ukraine-Krise - EU-Sanktionen gegen Russland beginnen Freitag" href="http://www.zeit.de/wirtschaft/2014-09/eu-sanktionen-gegen-russland-beginnen-freitag">
                    <span class="teaser__kicker ">Ukraine-Krise</span>
                    <span class="teaser__title teaser__title--small">EU-Sanktionen gegen Russland beginnen Freitag</span>
                </a>
            </h2>
            <figure class="teaser__media teaser__media--small">
                <a class="teaser__media-link" title="Ukraine-Krise - EU-Sanktionen gegen Russland beginnen Freitag" href="http://www.zeit.de/wirtschaft/2014-09/eu-sanktionen-gegen-russland-beginnen-freitag">
                    <img class="teaser__media-item teaser__media-item--small" alt="EU Sanktionen Russland" src="/img/friedbert_dummy.jpg">
                </a>
            </figure>
            <div class="teaser__container">
                <p class="teaser__text">Mehrere Tage hatten die EU-Botschafter in Brüssel gestritten, nun haben sie sich geeinigt. Betroffen von den neuen Sanktionen sind Ölfirmen wie Rosneft und Transneft.</p>
                <div class="teaser__byline">Ein Ballade von Schiller als Goethe verreist war</div>
                <div class="teaser__metadata">
                    <time class="teaser__datetime" datetime="2014-09-11 13:16">vor 52 Minuten</time>
                    <a class="teaser__commentcount" href="http://www.zeit.de/wirtschaft/2014-09/eu-sanktionen-gegen-russland-beginnen-freitag#comments" title="141 Kommentare">141 Kommentare</a>
                </div>
            </div>
        </article>


        <article class="teaser teaser--small">
            <h2 class="teaser__heading">
                <a class="teaser__combined-link" title="Ukraine-Krise - EU-Sanktionen gegen Russland beginnen Freitag" href="http://www.zeit.de/wirtschaft/2014-09/eu-sanktionen-gegen-russland-beginnen-freitag">
                    <span class="teaser__kicker ">Ukraine-Krise</span>
                    <span class="teaser__title teaser__title--small">EU-Sanktionen gegen Russland beginnen Freitag</span>
                </a>
            </h2>
            <div class="teaser__container">
                <p class="teaser__text">Mehrere Tage hatten die EU-Botschafter in Brüssel gestritten, nun haben sie sich geeinigt. Betroffen von den neuen Sanktionen sind Ölfirmen wie Rosneft und Transneft.</p>
                <div class="teaser__byline">Ein Ballade von Schiller als Goethe verreist war</div>
                <div class="teaser__metadata">
                    <time class="teaser__datetime" datetime="2014-09-11 13:16">vor 52 Minuten</time>
                    <a class="teaser__commentcount" href="http://www.zeit.de/wirtschaft/2014-09/eu-sanktionen-gegen-russland-beginnen-freitag#comments" title="141 Kommentare">141 Kommentare</a>
                </div>
            </div>
        </article>


        <article class="teaser">
            <h2 class="teaser__heading">
                <a class="teaser__combined-link" title="Ukraine-Krise - EU-Sanktionen gegen Russland beginnen Freitag" href="http://www.zeit.de/wirtschaft/2014-09/eu-sanktionen-gegen-russland-beginnen-freitag">
                    <span class="teaser__kicker">Ukraine-Krise</span>
                    <span class="teaser__title">EU-Sanktionen gegen Russland beginnen Freitag</span>
                </a>
            </h2>
            <figure class="teaser__media">
                <a class="teaser__media-link" title="Ukraine-Krise - EU-Sanktionen gegen Russland beginnen Freitag" href="http://www.zeit.de/wirtschaft/2014-09/eu-sanktionen-gegen-russland-beginnen-freitag">
                    <img class="teaser__media-item" alt="EU Sanktionen Russland" src="/img/friedbert_dummy.jpg">
                </a>
            </figure>
            <div class="teaser__container">
                <p class="teaser__text">Mehrere Tage hatten die EU-Botschafter in Brüssel gestritten, nun haben sie sich geeinigt. Betroffen von den neuen Sanktionen sind Ölfirmen wie Rosneft und Transneft.</p>
                <div class="teaser__byline">Ein Ballade von Schiller als Goethe verreist war</div>
                <div class="teaser__metadata">
                    <time class="teaser__datetime" datetime="2014-09-11 13:16">vor 52 Minuten</time>
                    <a class="teaser__commentcount" href="http://www.zeit.de/wirtschaft/2014-09/eu-sanktionen-gegen-russland-beginnen-freitag#comments" title="141 Kommentare">141 Kommentare</a>
                </div>
            </div>
        </article>
    </div>
</div>
