{% for area in (view.area_buzz_mostread, view.area_buzz_facebook, view.area_buzz_comments) -%}
    {% if area | length %}
        {% with -%}
            {% set layout = area.layout %}
            <div class="{{ 'buzz-box' | with_mods(layout) }}">
                <div class="{{ 'buzz-box__heading' | with_mods(layout) }}">
                    {{ area.header }}
                </div>
                <div class="{{ 'buzz-box__teasers' | with_mods(layout) }}">
                    {% for teaser in area -%}
                        {% with -%}
                            {% set index = loop.index %}
                            {% include ["zeit.web.site:templates/inc/teaser/" + layout + ".tpl",
                                        "zeit.web.site:templates/inc/teaser/buzz.tpl",
                                        "zeit.web.site:templates/inc/teaser/default.tpl"] with context %}
                        {%- endwith %}
                    {%- endfor %}
                </div>
            </div>
        {%- endwith %}
    {% endif %}
{%- endfor %}
