<aside class="print-box">
    <div class="print-box__heading">
        Jetzt testen
    </div>
    <div class="print-box__content">
        <a href="#" title="Die digitale ZEIT">
            <h2 class="print-box__title">Die digitale ZEIT</h2>
        </a>
        <a href="#" title="Die digitale ZEIT">
            <img class="print-box__media-item" src="http://images.zeit.de/angebote/bilder-angebotsbox/bild-angebotsbox-03.jpg">
        </a>
        <a href="#" title="Die digitale ZEIT">
            <p class="print-box__text">Testen Sie jetzt die digitale ZEIT 4 Wochen lang gratis als App, E-Paper, Audio und für Ihren E-Reader.</p>
        </a>
        <a href="#">
            <span class="print-box__button cta-button">Test-Zugang sichern ▸</span>
        </a>
    </div>
</aside>
