{%- import 'zeit.web.site:templates/macros/centerpage_macro.tpl' as cp with context -%}

<div class="teaser-collection">
    {# cp.include_teaser_block(view.area_main) #}
    <div class="teasers">

    	{# Grosser Teaser mit Bild #}
        <article class="teaser">
            <h2 class="teaser__heading">
                <a class="teaser__combined-link" title="Olympische Spiele 2024 - Deutsche wünschen sich gemeinsame Bewerbung von Berlin und Hamburg" href="http://www.zeit.de/sport/2014-09/umfrage-olympische-spiele-berlin-hamburg">
                    <span class="teaser__kicker">Olympische Spiele 2024</span>
                    <span class="teaser__title">Deutsche wünschen sich gemeinsame Bewerbung von Berlin und Hamburg</span>
                </a>
            </h2>
            <figure class="teaser__media">
                <a class="teaser__media-link" title="Olympische Spiele 2024 - Deutsche wünschen sich gemeinsame Bewerbung von Berlin und Hamburg" href="http://www.zeit.de/sport/2014-09/umfrage-olympische-spiele-berlin-hamburg">
                    <img class="teaser__media-item" alt="Olympische Spiele 2024 - Deutsche wünschen sich gemeinsame Bewerbung von Berlin und Hamburg" src="/img/demo/olympische-spiele-540x304.jpg">
                </a>
            </figure>
            <div class="teaser__container">
                <p class="teaser__text">Berlin und Hamburg sollen sich nicht einzeln, sondern zusammen für die Olympischen Spiele 2024 bewerben, so eine Umfrage von ZEIT ONLINE.</p>
                <div class="teaser__byline">Von Christian Spiller</div>
                <div class="teaser__metadata">
                    <time class="teaser__datetime" datetime="2014-09-11 13:16">vor 52 Minuten</time>
                    <a class="teaser__commentcount" href="http://www.zeit.de/sport/2014-09/umfrage-olympische-spiele-berlin-hamburg#comments" title="9 Kommentare">9 Kommentare</a>
                </div>
            </div>
        </article>

        {# kleiner Teaser #}
        <article class="teaser teaser--small teaser--smallmedia">
            <figure class="teaser__media teaser__media--small" data-showimagemobile="true">
                <a class="teaser__media-link" title="Ukraine – Genscher für Ende der Russland-Sanktionen" href="http://www.zeit.de/politik/2014-09/hand-dietrich-genscher-putin-russland-ukraine">
                    <img class="teaser__media-item teaser__media-item--small" alt="Genscher für Ende der Russland-Sanktionen" src="/img/demo/genscher-ukraine-540x304.jpg">
                </a>
            </figure>
            <h2 class="teaser__heading">
                <a class="teaser__combined-link" title="Ukraine – Genscher für Ende der Russland-Sanktionen" href="http://www.zeit.de/politik/2014-09/hand-dietrich-genscher-putin-russland-ukraine">
                    <span class="teaser__kicker">Ukraine-Krise</span>
                    <span class="teaser__title teaser__title--small">Genscher für Ende der Russland-Sanktionen</span>
                </a>
            </h2>
            <div class="teaser__container">
                <p class="teaser__text">Der ehemalige Außenminister hat um Verständnis für Putin geworben. Dessen Position kann Genscher nachvollziehen. Notwendig seien offene und gemäßigte Worte.</p>
                <div class="teaser__metadata">
                    <time class="teaser__datetime" datetime="2014-09-11 13:16">vor 52 Minuten</time>
                    <a class="teaser__commentcount" href="http://www.zeit.de/politik/2014-09/hand-dietrich-genscher-putin-russland-ukraine#comments" title="111 Kommentare">111 Kommentare</a>
                </div>
            </div>
        </article>

        {# kleiner Teaser #}
        <article class="teaser teaser--small teaser--smallmedia">
            <figure class="teaser__media teaser__media--small">
                <a class="teaser__media-link" title="Ebola – Manchmal braucht es ein paar Tote" href="http://www.zeit.de/2014/37/ebola-aerzte-ohne-grenzen-westafrika">
                    <img class="teaser__media-item teaser__media-item--small" alt="Ebola – " src="/img/demo/ebola-aerzte-ohne-grenzen-sierra-leone-540x304.jpg">
                </a>
            </figure>
            <h2 class="teaser__heading">
                <a class="teaser__combined-link" title="Ebola – Manchmal braucht es ein paar Tote" href="http://www.zeit.de/2014/37/ebola-aerzte-ohne-grenzen-westafrika">
                    <span class="teaser__kicker">Ebola</span>
                    <span class="teaser__title teaser__title--small">"Manchmal braucht es ein paar Tote"</span>
                </a>
            </h2>
            <div class="teaser__container">
                <p class="teaser__text">Ebola breitet sich rapide aus, auch weil die Menschen immer noch Helfern misstrauen. Die Ärztin Ella Watson-Stryker erklärt, wie das ihre Arbeit vor Ort behindert.</p>
                <div class="teaser__byline">Interview: Fritz Habekuss</div>
                <div class="teaser__metadata">
                    <time class="teaser__datetime" datetime="2014-09-11 13:16">vor 52 Minuten</time>
                    <a class="teaser__commentcount" href="*link*#comments" title="7 Kommentare">7 Kommentare</a>
                </div>
            </div>
        </article>

        {# Grosser Teaser mit Bild #}
        <article class="teaser">
            <h2 class="teaser__heading">
                <a class="teaser__combined-link" title="Olympische Spiele 2024 - Deutsche wünschen sich gemeinsame Bewerbung von Berlin und Hamburg" href="http://www.zeit.de/sport/2014-09/umfrage-olympische-spiele-berlin-hamburg">
                    <span class="teaser__kicker">Olympische Spiele 2024</span>
                    <span class="teaser__title">Deutsche wünschen sich gemeinsame Bewerbung von Berlin und Hamburg</span>
                </a>
            </h2>
            <figure class="teaser__media">
                <a class="teaser__media-link" title="Olympische Spiele 2024 - Deutsche wünschen sich gemeinsame Bewerbung von Berlin und Hamburg" href="http://www.zeit.de/sport/2014-09/umfrage-olympische-spiele-berlin-hamburg">
                    <img class="teaser__media-item" alt="Olympische Spiele 2024 - Deutsche wünschen sich gemeinsame Bewerbung von Berlin und Hamburg" src="/img/demo/olympische-spiele-540x304.jpg">
                </a>
            </figure>
            <div class="teaser__container">
                <p class="teaser__text">Berlin und Hamburg sollen sich nicht einzeln, sondern zusammen für die Olympischen Spiele 2024 bewerben, so eine Umfrage von ZEIT ONLINE.</p>
                <div class="teaser__byline">Von Christian Spiller</div>
                <div class="teaser__metadata">
                    <time class="teaser__datetime" datetime="2014-09-11 13:16">vor 52 Minuten</time>
                    <a class="teaser__commentcount" href="http://www.zeit.de/sport/2014-09/umfrage-olympische-spiele-berlin-hamburg#comments" title="9 Kommentare">9 Kommentare</a>
                </div>
            </div>
        </article>

        {# kleiner Teaser #}
        <article class="teaser teaser--small teaser--smallmedia">
            <figure class="teaser__media teaser__media--small">
                <a class="teaser__media-link" title="Ebola – Manchmal braucht es ein paar Tote" href="http://www.zeit.de/2014/37/ebola-aerzte-ohne-grenzen-westafrika">
                    <img class="teaser__media-item teaser__media-item--small" alt="Ebola – " src="/img/demo/ebola-aerzte-ohne-grenzen-sierra-leone-540x304.jpg">
                </a>
            </figure>
            <h2 class="teaser__heading">
                <a class="teaser__combined-link" title="Ebola – Manchmal braucht es ein paar Tote" href="http://www.zeit.de/2014/37/ebola-aerzte-ohne-grenzen-westafrika">
                    <span class="teaser__kicker">Ebola</span>
                    <span class="teaser__title teaser__title--small">"Manchmal braucht es ein paar Tote"</span>
                </a>
            </h2>
            <div class="teaser__container">
                <p class="teaser__text">Ebola breitet sich rapide aus, auch weil die Menschen immer noch Helfern misstrauen. Die Ärztin Ella Watson-Stryker erklärt, wie das ihre Arbeit vor Ort behindert.</p>
                <div class="teaser__byline">Interview: Fritz Habekuss</div>
                <div class="teaser__metadata">
                    <time class="teaser__datetime" datetime="2014-09-11 13:16">vor 52 Minuten</time>
                    <a class="teaser__commentcount" href="*link*#comments" title="7 Kommentare">7 Kommentare</a>
                </div>
            </div>

    </div>
</div>
