<div class="teaser-collection teaser-collection--buzz">
    <div class="teaser-collection__heading teaser-collection__heading--buzz">
        {{ view.area_buzz.header }}
    </div>
    <div class="teasers teasers--buzz">
        {% for teaser in view.area_buzz -%}
            {% set index = loop.index %}
            {% set layout = view.area_buzz.layout %}
            {% include ["zeit.web.site:templates/inc/teaser/" + layout + ".tpl",
                        "zeit.web.site:templates/inc/teaser/default.tpl"] with context %}
        {% endfor %}
    </div>
</div>
