{% import 'zeit.web.site:templates/macros/footer_macro.tpl' as foma %}
{% import 'zeit.web.site:templates/macros/layout_macro.tpl' as lama %}

<a href="{{ request.route_url('home') }}index" class="footer-brand" title="Nachrichten auf ZEIT ONLINE" data-id="footernav.logo.1..logo">
{{ lama.use_svg_icon('logo-zon-black', 'footer-brand__logo', view.package) }}
</a>

{%- include "zeit.web.site:templates/inc/navigation/breadcrumbs.tpl" ignore missing -%}
<div class="footer-publisher">
    {{ foma.footer_publisher(view) }}
</div>
<div class="footer-links">
    {{ foma.footer_links(view) }}
    <script type="text/template" id="image-copyright-template">
        <div class="image-copyright-footer" id="bildrechte">
            <div class="image-copyright-footer__container">
                <button class="image-copyright-footer__button js-image-copyright-footer-close" title="schließen">
                    {{ lama.use_svg_icon('close', 'image-copyright-footer__icon', view.package) }}
                </button>
                <h2 class="image-copyright-footer__headline">
                    Bildrechte auf dieser Seite
                </h2>
                <ul class="image-copyright-footer__items" id="image-copyright-items">
                </ul>
                <button class="image-copyright-footer__button js-image-copyright-footer-close">
                    Bereich schließen
                </button>
            </div>
        </div>
    </script>
    <div class="footer-links__button">
        <a href="{{ view.canonical_url if not view.is_wrapped else '#top' }}" class="footer-links__linkbutton js-scroll" title="Zurück nach oben" data-id="footernav.4.1..pfeil">Nach oben</a>
    </div>
</div>
