{% import 'zeit.web.site:templates/macros/footer_macro.tpl' as foma %}
{% import 'zeit.web.site:templates/macros/layout_macro.tpl' as lama %}

<a href="{{ request.route_url('home') }}index" class="footer-brand" title="Nachrichten auf ZEIT ONLINE" data-id="footernav.logo.1..logo">
{{ lama.use_svg_icon('logo-zon-black', 'footer-brand__logo', view.package) }}
</a>

{%- include "zeit.web.site:templates/inc/navigation/breadcrumbs.tpl" ignore missing -%}
<div class="footer-publisher">
    {{ foma.footer_publisher(view) }}
</div>
<div class="footer-links">
    {{ foma.footer_links(view) }}
    {% include "zeit.web.core:templates/inc/inline_js/image-copyright-template.html" %}
    <div class="footer-links__button">
        <a href="{{ view.canonical_url if not view.is_wrapped else '#top' }}" class="footer-links__linkbutton js-scroll" title="Zurück nach oben" data-id="footernav.4.1..pfeil">Nach oben</a>
    </div>
</div>
