<script type="text/template" id="overlay">
    <div class="overlay" data-tracking="refreshOverlay"></div>
    <div class="lightbox">
        <div class="lightbox-content">
            <span class="lightbox-content__headline">
                ZEIT ONLINE wurde aktualisiert.
            </span>
            <span class="lightbox-content__text">
                Laden Sie die Seite neu, um Zugriff auf alle aktuellen Beiträge zu haben.
            </span>
            <button type="button" class="lightbox-button" data-tracking="refreshButton">
                <div class="lightbox-button__text">NEU LADEN</div>
            </button>
            <span class="lightbox-cancel" data-tracking="cancel">
                Abbrechen
            </span>
        </div>
    </div>
</script>
