{% import 'zeit.web.site:templates/macros/layout_macro.tpl' as lama %}

<!-- config script -->
<script src="http://scripts.zeit.de/static/js/hpoverlay.config.js"></script>

<!-- config template -->
<script type="text/template" id="overlay">
    <div class="overlay" data-tracking="refreshbox.refreshOverlay"></div>
    <div class="lightbox">
        <div class="lightbox-content">
            <span class="lightbox-content__headline">
                ZEIT ONLINE wurde aktualisiert.
            </span>
            <span class="lightbox-content__text">
                Laden Sie die Seite neu, um Zugriff auf alle aktuellen Beiträge zu haben.
            </span>
            <button type="button" class="lightbox-button">
                {{ lama.use_svg_icon('reload', 'lightbox-button__icon', view.request) }}
                <span class="lightbox-button__text" data-tracking="refreshbox.refreshButton">NEU LADEN</span>
            </button>
            <span class="lightbox-cancel" data-tracking="refreshbox.cancel">
                Abbrechen
            </span>
        </div>
    </div>
</script>
