<script type="text/javascript">
    // negative keyword 'diuqilon'
    var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
    window.diuqilon = (w < 1024) ? ',diuqilon' : '';
    // IQD varPack
    window.IQD_varPack = {
        iqdSite: 'zol',
        iqdRessort: 'zeitmz',
        ord: Math.random()*10000000000000000,
        iqdSiteInfo: [[980, 0, 0], [0, 0, 980], [0, 0, 980], ['center', 'fullBodyBg'], ['y', 'y', 'y']],
        iqdCountSkyReq: parseInt(0,10),
        iqdEnableSky: 'neutral'
    };
    // IQD variable test
    window.iqd_Loc = (window.top===window.self) ? window.location : parent.location;
    window.iqd_Domain = window.iqd_Loc.href.toLowerCase();
    window.iqd_TestKW = (window.iqd_Domain.indexOf('iqadtest=')> -1) ? iqd_Domain.split('iqadtest=')[1] : 'iqlive';
    // ]]>

    //IQD mobile testing
    {# TODO: Check with iqd if it can be deleted entirely (as) #}
    // nuggad.init({"rptn-url": nugghost}, function(api) {
    //     if(typeof nuggtg!="undefined" && nuggtg!=""){
    //         api.rc({"nuggn": nuggn, "nuggsid": nuggsid, "nuggtg": nuggtg });
    //     }else{
    //         api.rc({"nuggn": nuggn, "nuggsid": nuggsid });
    //     }
    // });

    var iqd_testkw = (function () {
        var loc, domain, testkw, vars;
        loc = (window.top === window.self) ? window.location : window.top.location;
        domain = loc.href.toLowerCase();
        vars = {};
        domain.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m, key, value) {
            vars[key] = value;
        });
        testkw = vars.iqdkw;
        return testkw;
    }());
</script>
<script type="text/javascript">
    iqd = (function () {
        var iq_callAdsCounter = 0;
        function iq_callAds() {
            sas_tsn = sas_gtsf();
            sas_mfb = 1;
            if (typeof n_pbt !== 'undefined' || iq_callAdsCounter > 5) {
                // hier ad calls einfuegen
                sas_target = typeof iqd_testkw != 'undefined' ? iqd_testkw + ';' : ''; /* test keyword targeting */
                sas_target += window.n_pbt || ''; // nuggad Targeting

                {% if view.iqd_mobile_settings.top -%}
                    sasmobile('32375/{{ view.iqd_mobile_settings.top }}', 13500, sas_target);
                {% endif -%}

                {% if view.iqd_mobile_settings.middle -%}
                    sasmobile('32375/{{ view.iqd_mobile_settings.middle }}', 13557, sas_target);
                {% endif -%}

                {% if view.iqd_mobile_settings.bottom -%}
                    sasmobile('32375/{{ view.iqd_mobile_settings.bottom }}', 13501, sas_target);
                {% endif -%}

            } else {
                window.setTimeout(iq_callAds, 200);
                iq_callAdsCounter += 1;
            }
        }
        return {callAds: iq_callAds};
    }());
</script>
