// enable video iframes to be full-width inside the article
// This is used for video stages ("Videoriegel" on home page),
// video single pages and inline videos in articles.
.video-player,
// specificity war with brightcove on IE11 (.video-js.bc-player-c09a3b98-8829-47a5-b93b-c3cca8a4b5e9_default)
.video-js.video-player
	padding-bottom: 100% / 16 * 9
	position: relative
	&__iframe,
	&__videotag
		border: none
		bottom: 0
		height: 100%
		left: 0
		position: absolute
		right: 0
		top: 0
		width: 100%
		// z-index is still needed to get "above" the video-thumbnail::after gradient on CP video stage
		z-index: 1
