<header class="header-image
    {%- if view.area_ranking and (view.area_ranking.current_page > 1 or not view.area_ranking.surrounding_teasers) %} header-image--overlain{% endif %}
    {%- if module.visible_mobile == False %} mobile-hidden{% endif %}">
{% require image = get_image(module, fallback=False, variant_id='panorama') -%}
    {% include "zeit.web.core:templates/inc/asset/image_header.tpl" %}
{%- endrequire -%}

{% if view.is_advertorial %}
    <div class="header-image__heading">
        <span class="header-image__title">{{ module.title }}</span>
        <span class="header-image__kicker">{{ module.supertitle }}</span>
    </div>
    <div class="header-image__adlabel">{{ view.cap_title | default('Anzeige') }}</div>
{% else %}
    <h1 class="header-image__heading">
        <span class="header-image__kicker">{{ module.supertitle }}</span>
        {%- if module.title %}<span class="visually-hidden">: </span>{% endif -%}
        <span class="header-image__title">{{ module.title }}</span>
    </h1>
{% endif %}
</header>
