<header class="header-image{% if module.visible_mobile == False %} mobile-hidden{% endif %}" data-unique-id="{{ module.uniqueId }}" data-meetrics="{{ area.kind }}">
{% require image = get_image(module, fallback=False, default='panorama') -%}
    {% include "zeit.web.core:templates/inc/asset/image_header.tpl" %}
{%- endrequire -%}

{% if view.is_advertorial %}
    <div class="{{ 'header-image__heading' | with_mods('overlay' if image) }}">
        <span class="header-image__title">{{ module.title }}</span>
        <span class="header-image__kicker">{{ module.supertitle }}</span>
    </div>
    <div class="header-image__adlabel">{{ view.cap_title | default('Anzeige') }}</div>
{% else %}
    <h1 class="{{ 'header-image__heading' | with_mods('overlay' if image) }}">
        <span class="header-image__kicker">{{ module.supertitle }}</span>
        {%- if module.title %}<span class="visually-hidden">: </span>{% endif -%}
        <span class="header-image__title">{{ module.title }}</span>
    </h1>
{% endif %}
</header>

