{% import 'zeit.web.site:templates/macros/layout_macro.tpl' as lama %}
{% import 'zeit.web.site:templates/macros/centerpage_macro.tpl' as cp %}

<nav class="{{ module.layout.id }}" id="{{ module.layout.id }}">
    {{ cp.section_heading(module.title) }}
    {% for service_column in module.services %}
    {% set column_loop = loop %}
    <div class="servicebox__column">
        {% for service in service_column %}
        {% set row_loop = loop %}
        <a class="servicebox__link servicebox__link--{{ service.id }}" href="{{ service.href }}" data-id="
            {{- 'servicebox.{}.{}.{}.{}'.format(region_loop.index, column_loop.index, row_loop.index, service.id) }}">
            {{ lama.use_svg_icon('servicebox-{}'.format(service.id), 'servicebox__icon servicebox__icon--{}'.format(service.id), view.package, a11y=False) }}
            <span>{{ service.title }}</span>
        </a>
        {% endfor %}
    </div>
    {% endfor %}
</nav>
