
// The CP title is reactivated
// for use in advertorials


.advertorial-title
	padding: 40px 25px 28px 28px
	&__headline
		text-align: center
		font-family: Verdana
		font-weight: 700
		font-size: 22px
		text-transform: uppercase
		color: rgb(0, 0, 0)
		line-height: 1
		margin-bottom: 12px
	&__text
		font-family: Verdana
		text-align: center
		font-size: 10px
		line-height: 1
