
%article-interactions__item
	color: $interaction-color
	cursor: pointer
	letter-spacing: 0.04em
	font-size: remify(14px)
	+on-interaction
		color: $interaction-hover-color

.article-interactions
	margin: remify(20px) auto remify(32px)
	position: relative

.print-menu
	&__link
		@extend %article-interactions__item
		&:before
			color: $color-separator
			content: " / "
			margin: 0 .25em

.sharing-menu
	font-size: remify(14px)
	&__items
		margin: 0
		padding: 0

+respond-min($break-tablet-min)
	.sharing-menu
		&__item
			&--whatsapp
				display: none !important

+respond-max($break-desktop-min)
	.print-menu
		display: none
