.article-heading__footer
	+padded
	border-top: 1px rgba($color-text, 0.2) solid
	font-family: $font-tabletgothic
	padding-bottom: remify(12px)
	padding-top: remify(12px)
	+respond-min($break-tablet-min)
		padding: $page-padding

+respond-min($break-tablet-min)
	.article-heading__podcast
		// Initial setting on flex items is min-width: auto.
		// Then it cannot be smaller than the size of its content.
		// Set to min-width: 0 to prevent overflowing children
		min-width: 0

	.article-heading__headline--podcast > span
		overflow: hidden
		text-overflow: ellipsis
