// styles for registration form is styled like ZON
// on every other page in the moment
// colors are not inherited in all sites so they are set here explictly
$break-form-row: em(540px)
.paragraph
	&--faded
		max-height: 4.3em
		overflow: hidden
		position: relative
		&:before
			background-image: linear-gradient(0deg, rgba(#fff, 1) 0%, rgba(#fff, 0) 100%)
			bottom: 0
			content: ""
			left: 0
			position: absolute
			right: 0
			top: 0
