// the button is used on CPs and articles, with different background colors and in different surroundings.
.podlove-button
	border-radius: remify(4px)
	border: 1px rgba($color-text, 0.5) solid
	bottom: remify(68px)
	color: $color-text
	font-size: remify(12px)
	font-weight: normal
	left: 50%
	letter-spacing: $letter-spacing-m
	padding: remify(3px 8px)
	// position: absolute
	text-transform: uppercase
	// transform: translateX(-50%)
	// +respond-min($break-tablet-min)
	// 	position: static
	// 	transform: none
	+on-interaction
		background-color: $color-text
		border-color: transparent
		color: #f1f1f1 // not totally hard white
		cursor: pointer
	&__icon
		margin: remify(1px 3px 0 1px)
		vertical-align: text-top

	.no-js &
		display: none
