{% set pid = view.request.GET['pid'] | d(None) %}
{% set entry_service = view.request.GET['entry-service'] | d('kommentare') %}
{%- if pid -%}
    {% set comment = view.get_comment(pid|int) | d(None) %}
{%- endif %}
{% if comment %}
    {% set submit_value = 'Antworten' %}
    {% set placeholder = 'Ihre Antwort auf Kommentar "%s..." von %s' | format(comment.text_stripped[:10], comment.name) %}
    {% set class = '' %}
{% else %}
    {% set submit_value = 'Kommentar senden' %}
    {% set placeholder = 'Ihr Kommentar' %}
    {% set class = 'comment-form__cancel--hidden' %}
{% endif %}

{% if view.comment_form.note %}
    <div class="comment-section__note">
        <div class="comment-section__message comment-section__item">{{ view.comment_form.note }}</div>
    </div>
{% elif view.comment_form.user_blocked or view.comment_form.show_premoderation_warning_user or view.comment_form.show_premoderation_warning_article%}
    <div class="comment-section__note">
        <div class="comment-section__notice comment-section__item">
        {% if view.comment_form.user_blocked %}
            Die Kommentarfunktion wurde für Ihr Benutzerprofil gesperrt.
        {% elif view.comment_form.show_premoderation_warning_article %}
          <span class="premoderation_article">
          Liebe Leserinnen und Leser, in diesem Kommentarbereich prüfen wir alle
          Beiträge, bevor sie veröffentlicht werden. Ihr Kommentar erscheint,
          sobald er gesichtet wurde.
          </span>
        {% elif view.comment_form.show_premoderation_warning_user %}
            <span class="premoderation_user">
            Wir überprüfen vorübergehend Ihre Kommentare, bevor wir sie veröffentlichen. Das liegt entweder daran, dass Sie neu hier sind,
            oder kürzlich gegen <a href="{{ request.route_url('home') }}administratives/2010-03/netiquette">unsere Netiquette</a> verstoßen haben.
            </span>
        {% endif %}
        </div>
    </div>
{% endif %}

<div class="comment-section__form comment-section__item" data-ct-area="comment_form">
{%- if request.user %}
    {% set is_mod = 'admin-tech' in request.user.roles or 'admin-editor' in request.user.roles %}
    {%- block comment_form %}
    <form action="#comments" class="comment-form js-submit-comment" method="POST" id="comment-form" data-uid="{{ request.user.uid }}"
        {%- if is_mod %} data-mod="mod"{% endif %}>
        {% if view.comment_form.show_comment_form -%}
        {% if request.user.name %}
            <div class="comment-form__text comment-form__text--metadata" data-ct-row="1">
                {% if request.user.picture %}
                    <img class="comment-form__avatar" alt="Avatarbild von {{ request.user.name }}" src="{{ request.user.picture }}">
                {% endif %}
                {% if request.user.name %}
                    Angemeldet als
                    <a class="comment-form__username" href="{{ request.registry.settings.community_profile_url}}/user" data-ct-label="username">
                        {{ request.user.name }}
                    </a>
                {% endif %}
            </div>
        {% endif %}
            {% if not request.user.name %}
            <div class="comment-form__sso-username">
                <span class="comment-form__charcount">
                    <span class="js-count-formchars"></span> 1500 Zeichen
                </span>
                <h2 class="comment-form__headline">Herzlich willkommen im Kommentarbereich!</h2>
                <p class="comment-form__hint{% if view.error and not view.error.error == 'username_exists_or_invalid' %} comment-form__hint--error{% endif %}">
                    Wenn Sie an der Diskussion zu diesem Artikel teilnehmen möchten, setzen Sie bitte einmalig Ihren persönlichen Benutzernamen. Dieser wird öffentlich angezeigt und kann nachträglich nicht geändert werden. Viel Spaß, Ihr Community-Team.
                </p>
                <input class="comment-form__input" placeholder="Ihr Benutzername" type="text" name="username" {% if view.error.user_name %}value="{{ view.error.user_name }}"{% endif %}>
                {% if view.error.error == 'username_exists_or_invalid' %}
                    <div class='comment-form__error'>Benutzername ist bereits vergeben oder enthält ungültige Zeichen.</div>
                {% endif %}
            </div>
            {% endif %}
        <textarea class="comment-form__textarea js-required" name="comment" placeholder="{{ placeholder }}" maxlength="1500" aria-label="Schreiben Sie hier Ihren Kommentar für den Artikel {{ view.title }} hinein." >
            {%- if view.error and view.error.comment %}{{ view.error.comment }}{% endif -%}
        </textarea>
            {% if view.comment_form.show_premoderation_warning_article %}
            {# hidden in comment form, just visible in (cloned) reply form #}
            <p class="comment-form__text comment-section__notice premoderation_article">
                Liebe Leserinnen und Leser, in diesem Kommentarbereich prüfen
                wir alle Beiträge, bevor sie veröffentlicht werden. Ihr
                Kommentar erscheint, sobald er gesichtet wurde.
            </p>
            {% elif view.comment_form.show_premoderation_warning_user %}
            {# hidden in comment form, just visible in (cloned) reply form #}
            <p class="comment-form__text comment-section__notice premoderation_user">
                Wir überprüfen vorübergehend Ihre Kommentare, bevor wir sie veröffentlichen. Das liegt entweder daran, dass Sie neu hier sind,
                oder kürzlich gegen <a href="{{ request.route_url('home') }}administratives/2010-03/netiquette">unsere Netiquette</a> verstoßen haben.
            </p>
            {% endif %}
        <p class="comment-form__actions" data-ct-row="2">
            <input type="hidden" name="action" value="comment">
            <input type="hidden" name="pid" value="{{ pid }}">
            <a href="{{ view.content_url }}" class="comment-form__cancel {{ class }} js-cancel-reply">Abbrechen</a>
            <input class="comment-form__button button" type="submit" value="{{ submit_value }}" data-ct-label="kommentar_senden" />
        </p>
    {% endif %}
    </form>
    {%- endblock %}
{%- elif view.comment_form.show_comment_form %}
    <form class="comment-login" id="comment-form" data-ct-row="1">
        <p>
            Bitte melden Sie sich an, um zu kommentieren.
        </p>
        <a class="comment-login__button button" href="{{ request.registry.settings.sso_url }}/anmelden?url={{ view.content_url | e }}&entry_service={{ entry_service }}">
            Anmelden
        </a>
        <a class="comment-login__button button" href="{{ request.registry.settings.sso_url }}/registrieren?url={{ view.content_url | e }}&entry_service={{ entry_service }}">
            Registrieren
        </a>
    </form>
{%- endif %}
</div>

<script type="text/template" id="js-report-comment-template">
{%- if request.user %}
    {% include "zeit.web.core:templates/inc/comments/report-comment-form.html" %}
{%- else %}
    <form class="comment-login">
        <p>
            Bitte melden Sie sich an, um diesen Kommentar zu melden.
        </p>
        <a class="comment-login__button button" href="{{ request.registry.settings.sso_url }}/anmelden?url={{ view.content_url | e }}&entry_service={{ entry_service }}">
            Anmelden
        </a>
        <a class="comment-login__button button" href="{{ request.registry.settings.sso_url }}/registrieren?url={{ view.content_url | e }}&entry_service={{ entry_service }}">
            Registrieren
        </a>
    </form>
{%- endif %}
</script>
