<script id="premoderation-template" type="text/template">
	<div id="premoderation-box">
		<div class="overlay"></div>
		<div class="overlay__dialog" role="dialog" aria-labelledby="refreshbox-title" aria-describedby="refreshbox-text">
			<div class="overlay__content" role="document">
				<h3 class="overlay__headline">
					Ihr Kommentar wird bald freigeschaltet!
				</h3>
				<p class="overlay__text">
					<span class="show-set-user">Ihr Benutzername
					<strong>${userName}</strong> wurde angelegt.<br></span>
					Die ersten Kommentare neuer Benutzer prüfen wir vorübergehend, bevor wir sie
					veröffentlichen. Dies geschieht auch
					bei Nutzern, die kürzlich gegen <a href="{{ request.route_url('home') }}administratives/2010-03/netiquette">unsere Netiquette</a>
					verstoßen haben. Bei Fragen wenden Sie
					sich bitte an <a href="mailto:community@zeit.de">community@zeit.de</a>.
					Vielen Dank für Ihre Geduld.
				</p>
				<button type="button" class="overlay__button button">
					OK
				</button>
			</div>
		</div>
	</div>
</script>
