{% set pid = view.request.GET['pid'] | d(None) %}
	<form class="comment-form" method="POST" id="report-comment-form">
		<textarea name="comment" placeholder="Warum halten Sie diesen Kommentar für bedenklich?" class="comment-form__textarea js-required"></textarea>
		<p class="comment-form__text">
			Nutzen Sie dieses Fenster, um Verstöße gegen die <a href="{{ request.route_url('home') }}administratives/2010-03/netiquette">Netiquette</a> zu melden.
			Wenn Sie einem Kommentar inhaltlich widersprechen möchten, <a href="#comments-form">nutzen Sie das Kommentarformular</a> und beteiligen Sie sich an der Diskussion.
		</p>
		<p class="comment-form__actions">
			<input type="hidden" name="action" value="report">
			<input type="hidden" name="pid" value="{{ pid }}">
			<a href="{{ view.content_url }}" class="comment-form__cancel js-cancel-report">Abbrechen</a>
			<input class="comment-form__button button js-submit-report" type="submit" value="Abschicken" data-ct-label="kommentar_melden" />
		</p>
	</form>
