{% import 'zeit.web.core:templates/macros/layout_macro.tpl' as lama %}

{% block comment_section_head %}
    <h3 class="visually-hidden">Kommentare</h3>
    <div class="comment-section__head" data-ct-area="comment_header">
        <div class="comment-section__item">
        {% if view.comment_area.show_comments %}
            <span class="comment-section__headline">
                {{ view.comments.headline }}
                {% if view.comments.pages.title %}
                    <small>{{ view.comments.pages.title }}</small>
                {% endif %}
            </span>
            {% if view.comment_area.show_comment_form %}
                <a href="#comment-form" class="comment-section__button button js-scroll" data-ct-row="1">
                    {% block comment_section_head_cta %}Kommentieren{% endblock %}
                </a>
            {% endif %}
        {% elif view.comment_area.no_comments %}
            <span class="comment-section__headline">
                <span class="nowrap">Noch keine Kommentare.</span>
                <span class="nowrap">{% block comment_section_head_discuss %}Diskutieren Sie mit.{% endblock %}</span>
            </span>
        {% else %}
            <span class="comment-section__headline">
                <span class="nowrap">Kommentare</span>
            </span>
        {% endif %}
        </div>
    </div>

    {% if view.comment_area.message  -%}
    <div class="comment-section__message">
        <div class="comment-section__item">
            {{- view.comment_area.message -}}
        </div>
    </div>
    {%- endif %}
{% endblock %}

{% if view.comment_area.show_comments %}
<div class="comment-preferences" data-ct-area="comment_header">
    <div class="comment-preferences__container" data-ct-row="2">
        {# funky future feature?
        <a class="comment-preferences__item nowrap" href="{{ request.content_url }}#comments">
            {{ lama.use_svg_icon('spinner', 'comment-preferences__icon comment-preferences__icon--spinner', view.package) }}
            Auto-Aktualisierung an
        </a>
        #}
        {% if view.comments.sort == 'asc' %}
            {% set href = view.content_url + '?sort=desc' %}
            {% set label = 'Neueste zuerst' %}
        {% elif view.comments.sort == 'desc' %}
            {% set href = view.content_url %}
            {% set label = 'Älteste zuerst' %}
        {% else %}
            {% set href = view.content_url %}
            {% set label = 'Alle Kommentare anzeigen' %}
        {% endif %}
        <a class="comment-preferences__item nowrap" href="{{ href }}#comments">
            {{ lama.use_svg_icon('sorting', 'comment-preferences__icon comment-preferences__icon--sorting', view.package) }}
            <span>{{ label }}</span>
        </a>
        {% if view.comments.has_promotion %}
            {% set href = view.content_url + '?sort=promoted' %}
            <a class="{{ 'comment-preferences__item' | with_mods('buttonized', 'active' if view.comments.sort == 'promoted') }} nowrap" href="{{ href }}#comments">
                {{ lama.use_svg_icon('promoted', 'comment-preferences__icon comment-preferences__icon--promoted', view.package) }}
                <span class="comment-preferences__text">Nur Redaktionsempfehlungen</span>
            </a>
        {% endif %}
        {% if view.comments.has_recommendations %}
            {% set href = view.content_url + '?sort=recommended' %}
            <a class="{{ 'comment-preferences__item' | with_mods('buttonized', 'active' if view.comments.sort == 'recommended') }} nowrap" href="{{ href }}#comments">
                {{ lama.use_svg_icon('recommended', 'comment-preferences__icon comment-preferences__icon--recommended', view.package) }}
                <span class="comment-preferences__text">Nur Leserempfehlungen</span>
            </a>
        {% endif %}
    </div>
</div>

<div class="comment-section__body" id="js-comments-body" data-ct-area="comment_content">

    {# Show ads before the n-th comment, or before the last comment if there are less than n #}
    {% for comment in view.comments.comments %}

        {% if (loop.length < view.comments.ad_place and loop.last ) or loop.index == view.comments.ad_place -%}
            <div class="comment__ad">
                {{ lama.adplace(banner(8), view) }}
            </div>
        {% endif %}

        {% include "zeit.web.core:templates/inc/comments/comment.html" %}

        {% if view.show_replies(comment) %}
            {% for comment in comment.replies %}
                {% include "zeit.web.core:templates/inc/comments/comment.html" %}
            {% endfor %}
        {% elif comment.replies %}

        {% for comment in comment.replies[:1] %}
            {% include "zeit.web.core:templates/inc/comments/comment.html" %}
        {% endfor %}

        {% if comment.sublevel_comment_count > 1 %}
            <div class="comment__container js-comment-loader">
                {#- link to first reply, which enforces all replies to be included in the HTML -#}
                <a
                    href="{{view.content_url}}?cid={{comment.replies[0].cid}}#cid-{{comment.cid}}" data-url="{{view.content_url}}/comment-replies?cid={{comment.cid}}&page={{view.comments.pages.current}}&local_offset={{loop.index-1}}" data-ct-label="weitere_antworten">
                    <span class="comment-overlay__count">+ {{comment.sublevel_comment_count - 1}}</span>
                    <span class="comment-overlay__cta"> weitere Antworten anzeigen</span>
                </a>
            </div>
        {% endif %}

        {% endif %}
    {% endfor %}
</div>

{% include "zeit.web.core:templates/inc/comments/pagination.html" %}

{% else %}
    {% if view.context.advertising_enabled -%}
        <div class="comment__ad">
            {{ lama.adplace(banner(8), view) }}
        </div>
    {% endif %}
{% endif %}
