{% extends "zeit.web.magazin:templates/layout.html" %}
{% import 'zeit.web.magazin:templates/macros/article_macro.tpl' as blocks with context %}

{% macro render_page(page) %}
    {% for item in page %}
        {% set type = item | block_type %}
        {# XXX Urghs this is nasty #}
        {% if type in ['inlinegallery'] %}
            {{ blocks[type](item, view) }}
        {% else %}
            {{ (blocks[type] or blocks['no_block'])(item) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% block content_ad_script -%}
{% if view.context.advertising_enabled %}
<script type="text/javascript">
    (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = document.location.protocol + '//cdn.iqcontentplatform.de/iq.js';
        var sc = document.getElementsByTagName('script')[0]; sc.parentNode.insertBefore(s, sc);
    })();
</script>
{% endif %}
{%- endblock %}

{% block navigation %}
    {% if not view.is_wrapped %}
    {{ lama.main_nav(view.context.main_nav_full_width, request, is_main_h1=False) }}
    {% endif %}
{% endblock navigation %}

{% block content %}
    <article class="article" id="js-article" itemtype="http://schema.org/Article" itemid="{{ view.basename }}" itemscope>
        <div class="article__wrap{% if view.is_wrapped %} article__wrap--is-wrapped{% endif %}">
            {% block article_header %}
                {% if view.current_page.number == 0 %}
                    {% include "zeit.web.magazin:templates/inc/headers/article_header_{}.html".format(view.header_layout) ignore missing with context %}
                {% else %}
                    {% include "zeit.web.magazin:templates/inc/headers/article_header_sequelpages.html" ignore missing with context %}
                {% endif %}
            {% endblock article_header %}
            <div class="article__body-wrap">
                <div class="article__body">
                    {% block article_main_image %}
                        {% if view.page_nr == 1 %}
                            {% set obj = view.main_image_block %}
                            {% include "zeit.web.magazin:templates/inc/asset/image_article.tpl" with context %}
                        {% endif %}
                    {% endblock article_main_image %}
                    {% block article_pages %}
                        <div class="article__page">
                            {{ render_page(view.current_page) }}
                        </div>
                    {% endblock article_pages %}

                    {% block article_pagination %}
                        {% if view.pagination %}
                            {{ blocks.print_pagination( view.pagination ) }}
                        {% endif %}
                    {% endblock article_pagination %}

                    {# commented ou as not mvp, has to be reworked after first launch (as) #}
                    {#% if view.ranked_tags %}
                    <div class="article__tags is-constrained is-centered">
                        <span class="article__tags__title">Tags</span>
                        {% for tag in view.ranked_tags -%}
                            <a href="#{{ tag.url_value }}">{{ tag.label }}</a>
                            {%- if not loop.last %},{% endif %}
                        {% endfor -%}
                    </div>
                    {% endif %#}
                </div>

                {% block article_comments %}
                    {%- include "zeit.web.magazin:templates/inc/article/comments.html" -%}
                {% endblock article_comments %}

                {% if view.nextread %}
                    {%- include "zeit.web.magazin:templates/inc/article/nextread.html" -%}
                {% endif %}
            </div>
        </div>
    </article>
    <!-- seo article date modification -->

    {% if view.context.product.id not in ['TGS', 'ZEI', 'ZMLB'] %}
        {% block article_publishdate %}
            {{ blocks.add_publish_date(view.date_last_published_semantic, view.date_first_released | format_date(view.show_date_format_seo), view.show_date_format_seo) }}
        {% endblock article_publishdate %}
    {% endif %}

{% endblock content %}
