{% extends "zeit.web.magazin:templates/content.html" %}

{% block comments_balloon %}
    {%- include "zeit.web.magazin:templates/inc/article/comment-balloon.html" -%}
{% endblock comments_balloon %}

{% block article_pages %}
    <div class="article-page" data-page-number="{{ view.current_page.number + 1 }}">
        {% set page = view.current_page %}
        {% include "zeit.web.magazin:templates/inc/article/page.html" %}
    </div>
{% endblock article_pages %}

{% block article_pagination %}
    {% include "zeit.web.magazin:templates/inc/article/pagination.html" %}
{% endblock article_pagination %}
