{#

This is the main template for the context type "centerpage".

Available attributes:
    zeit.web.magazin.view_centerpage.Centerpage

#}
{% extends "zeit.web.magazin:templates/layout.html" %}

{%  block page_wrap_inner %}
    <div class="page-wrap--inner for-centerpage" id="js-page-wrap-inner">
{% endblock page_wrap_inner %}

{% block content %}
    {% for region in view.regions %}
        {% set region_loop = loop %}
        {%- include ["zeit.web.core:templates/inc/region/{}.html".format(region.kind),
                     "zeit.web.core:templates/inc/region/default.html"] ignore missing -%}
    {% endfor %}
{% endblock content %}
