{#

This is the main template for the context type "centerpage".

Available attributes:
    zeit.web.magazin.view_centerpage.Centerpage

#}
{% extends "zeit.web.magazin:templates/layout.html" %}

{% block page_content_additional_class %}for-centerpage{% endblock %}

{%  block content %}
    {% profile %}
    {%- include "zeit.web.magazin:templates/inc/cp_area_lead_full_teaser.html" ignore missing -%}
    {%- include "zeit.web.magazin:templates/inc/cp_area_lead_1.html" ignore missing -%}
    {% endprofile %}

    {% if view.is_hp %}
        {% profile %}
        {%- include "zeit.web.magazin:templates/inc/cp_area_buzz_legacy.html" ignore missing -%}
        {% endprofile %}
    {% endif %}

    {% profile %}
    {%- include "zeit.web.magazin:templates/inc/cp_area_lead_2.html" ignore missing -%}
    {% endprofile %}

    {% if view.monothematic_block %}
        {% profile %}
        {%- include "zeit.web.magazin:templates/inc/cp_area_monothematicblock.html" ignore missing -%}
        {% endprofile %}
    {% endif %}

    {% if view.teaserbar %}
        {% profile %}
        {%- include "zeit.web.magazin:templates/inc/cp_area_teaserbar.html" ignore missing -%}
        {% endprofile %}
    {% endif %}
{% endblock content %}
