{% extends "zeit.web.magazin:templates/layout.html" %}

{% block schemaorg_data %}
    {%- include "zeit.web.core:templates/inc/meta/schemaorg.html" -%}
{% endblock %}

{% block main %}
    {% block advertorial_marker %}{% endblock advertorial_marker %}
    <article class="article" id="js-article" itemprop="mainEntity" itemscope itemtype="http://schema.org/Article" itemid="{{ view.basename }}" itemref="publisher">
        <link itemprop="mainEntityOfPage" href="{{ view.canonical_url }}">
        {% block article_header %}
            {% if view.current_page.number == 0 %}
                {% include "zeit.web.magazin:templates/inc/header/header_{}.html".format(view.header_layout) ignore missing %}
            {% else %}
                {% include "zeit.web.magazin:templates/inc/header/header_sequelpages.html" %}
            {% endif %}
        {% endblock article_header %}
        <div class="article__body" itemprop="articleBody">
            {% block comments_balloon %}{% endblock %}

            {% block article_pages %}{% endblock %}

            {% block article_pagination %}{% endblock %}
        </div>

        {% block article_footer %}
        <div class="article__footer article__item" data-ct-area="articlebottom">
            {% block article_sharing %}
                {% include "zeit.web.magazin:templates/inc/article/sharing-menu.html" %}
            {% endblock %}
            {% block article_tags %}
                {% include "zeit.web.core:templates/inc/article/tags.html" %}
            {% endblock %}
        </div>
        {% endblock %}

        {% if toggles('ligatus') %}
            {% set ligatus_id = '101840' %}
            {% include 'zeit.web.core:templates/inc/ligatus/ligatus.html' %}
        {% else %}
            {% block nextread %}
                {% if view.nextread %}
                    {%- include "zeit.web.magazin:templates/inc/article/nextread.html" -%}
                {% endif %}
            {% endblock nextread %}
        {% endif %}

        {% block article_google_ad %}
            {% if toggles('adtile5') and view.has_comment_area -%}
                <!-- P5 -->
                {% include "zeit.web.core:templates/inc/ads/places/desktop/place5.html" %}
            {% endif %}
        {% endblock article_google_ad %}
    </article>

    {% if view.product_id not in ('TGS', 'ZEI', 'ZMLB') and view.date_last_published_semantic %}
        <!-- seo article date modification -->
        <script type="text/javascript">
            {# Due to seo reasons, original publish date is added later #}
            var time = document.querySelector('.meta__date'),
                content = time.textContent != undefined ? time.textContent : time.innerText,
                published = document.createTextNode('{{ view.date_first_released | format_date(view.show_date_format_seo) }} — '),
                linebreak = document.createElement('br'),
                text = "{% if view.show_date_format_seo == 'long' %}zuletzt aktualisiert am {% else %}editiert: {% endif %}" + content;
            if ( content != undefined ) {
                time.parentNode.insertBefore(published, time);
                time.parentNode.insertBefore(linebreak, time);
                time.firstChild.nodeValue = text;
            }
        </script>
    {% endif %}

    {% block comments %}
        {% include "zeit.web.core:templates/inc/article/comments.html" %}
    {% endblock comments %}

{% endblock main %}

{% block adplace_floor %}
    <!-- P7 -->
    {% include "zeit.web.core:templates/inc/ads/places/desktop/place16.html" %}
{% endblock adplace_floor %}
