{% extends "zeit.web.magazin:templates/layout.html" %}
{% import "zeit.web.magazin:templates/macros/article_macro.tpl" as article_macros %}

{% block main %}
    <article class="article" id="js-article" itemprop="mainEntity" itemscope itemtype="http://schema.org/Article" itemid="{{ view.basename }}" itemref="publisher">
        <link itemprop="mainEntityOfPage" href="{{ view.canonical_url }}">
        <div class="article__wrap{% if view.is_wrapped %} article__wrap--is-wrapped{% endif %}">
            {% block article_header %}
                {% if view.current_page.number == 0 %}
                    {% include "zeit.web.magazin:templates/inc/headers/article_header_{}.html".format(view.header_layout) ignore missing %}
                {% else %}
                    {% include "zeit.web.magazin:templates/inc/headers/article_header_sequelpages.html" %}
                {% endif %}
            {% endblock article_header %}
            <div class="article__body-wrap">
                <div class="article__body">
                    {% block comments_balloon %}{% endblock %}

                    {% block article_pages %}{% endblock %}

                    {% block article_pagination %}{% endblock %}
                </div>

                {% block article_footer %}
                <div class="article__footer article__item" data-ct-area="articlebottom">
                    {% block article_sharing %}
                        {% include "zeit.web.magazin:templates/inc/article/sharing-menu.html" %}
                    {% endblock %}
                    {% block article_tags %}
                        {% include "zeit.web.core:templates/inc/article/tags.html" %}
                    {% endblock %}
                </div>
                {% endblock %}

                {% block nextread %}
                {% if view.nextread %}
                    {%- include "zeit.web.magazin:templates/inc/article/nextread.html" -%}
                {% endif %}
                {% endblock nextread %}
            </div>
        </div>
    </article>

    {% if view.context.product.id not in ['TGS', 'ZEI', 'ZMLB'] %}
        {% block article_publishdate %}
            <!-- seo article date modification -->
            {{ article_macros.add_publish_date(view.date_last_published_semantic, view.date_first_released | format_date(view.show_date_format_seo), view.show_date_format_seo) }}
        {% endblock article_publishdate %}
    {% endif %}

    {% block comments %}
        {% include "zeit.web.core:templates/inc/article/comments.html" %}
    {% endblock comments %}

{% endblock main %}
