{% extends "zeit.web.magazin:templates/longform.html" %}

{% block sharing_meta -%}
    {%- include "zeit.web.site:templates/inc/meta/sharing.html" ignore missing -%}
{%- endblock sharing_meta %}

{% block longform_logo %}
    <a href="{{ request.route_url('home') }}index" class="main-nav__logo" itemscope itemtype="http://schema.org/Organization" id="hp.zm.topnav.logo./index">
        <meta itemprop="name" content="Zeit Online">
        <div class="main-nav__logo__wrap">
            <span class="main-nav__logo__img icon-logo-zon-large" itemprop="logo" title="ZEIT ONLINE">ZEIT ONLINE</span>
            <span class="main-nav__logo__img icon-logo-zon-small"></span>
        </div>
    </a>
{% endblock longform_logo %}

{% block footer_logo %}
    <div class="main-footer__logo icon-logo-zon-small"></div>
{% endblock footer_logo %}
