{% extends "zeit.web.magazin:templates/longform.html" %}

{% block pagetitle %}
<title>{{ view.pagetitle | replace('ZEITmagazin', 'ZEIT ONLINE') }}</title>
{% endblock pagetitle %}

{% block sharing_meta -%}
    <meta name="twitter:card" content="{{view.twitter_card_type }}">
    <meta name="twitter:site" content="@zeitonline">
    <meta name="twitter:creator" content="@zeitonline">
    <meta name="twitter:title" content="{{ view.title }}">
    <meta name="twitter:description" content="{{ view.subtitle }}">
    <meta property="og:site_name" content="ZEIT ONLINE">
    <meta property="fb:admins" content="595098294">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ view.title or 'ZEIT ONLINE' }}">
    <meta property="og:description" content="{{ view.subtitle or 'ZEIT ONLINE' }}">
    <meta property="og:url" content="{{ view.content_url or 'http://' + request.host + request.path_info }}">
    {% if view.image_group -%}
        <meta property="og:image" content="{{ view.image_group|sharing_image_url(image_pattern='og-image') }}">
        <link itemprop="image" rel="image_src" href="{{ view.image_group|sharing_image_url(image_pattern='og-image') }}">
        {% if view.twitter_card_type == 'summary' -%}
            <meta name="twitter:image:src" content="{{ view.image_group|sharing_image_url(image_pattern='twitter-image-small') }}">
        {% else -%}
            <meta name="twitter:image:src" content="{{ view.image_group|sharing_image_url(image_pattern='twitter-image-large') }}">
        {% endif -%}
    {% endif -%}
{%- endblock sharing_meta %}

{% block longform_logo %}
    <a href="http://{{ view.request.host }}/index" class="main-nav__logo" itemscope itemtype="http://schema.org/Organization" id="hp.zm.topnav.logo./index">
        <meta itemprop="name" content="Zeit Online">
        <h1 class="main-nav__logo__wrap">
            <span class="main-nav__logo__img icon-logo-zon-large" itemprop="logo" title="ZEIT ONLINE">ZEIT ONLINE</span>
            <span class="main-nav__logo__img icon-logo-zon-small"></span>
        </h1>
    </a>
{% endblock longform_logo %}

{% block footer_logo %}
    <div class="main-footer__logo icon-logo-zon-small"></div>
{% endblock footer_logo %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="breadcrumbs__list is-constrained is-centered">
            {% for crumb in view.breadcrumb -%}
                <div class="breadcrumbs__list__item" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                {% if crumb[1] != '' -%}
                    <a href="{{ crumb[1] }}" itemprop="url"><span itemprop="title">{{ crumb[0] }}</span></a>
                {% else -%}
                    <span itemprop="title">{{ crumb[0] }}</span>
                {% endif -%}
                </div>
                {% if not loop.last -%}
                &rsaquo;
                {% endif -%}
            {% endfor -%}
        </div>
    </div>
{% endblock breadcrumbs %}
