{% extends 'zeit.web.magazin:templates/article.html' %}
{% import 'zeit.web.magazin:templates/macros/article_macro.tpl' as blocks with context %}

{% block article_header -%}
    <div class="article__head-wrap">
        <header class="article__head article__head--default">
            {{ blocks.supertitle() }}
            {{ blocks.title() }}
        </header>
    </div>
{%- endblock article_header %}

{% block article_pages -%}
    {% set images = view.images %}
    {% include "zeit.web.core:templates/inc/article/gallery.html" %}
    <div class="article__page gallery__info">
        <div class="gallery__description">
            {{ view.galleryText|safe }}
        </div>
        <div class="article__head__meta">
            {% include "zeit.web.magazin:templates/inc/article_area_date.html" %}
        </div>
    </div>
{%- endblock article_pages %}

{% block article_comments %}{% endblock article_comments %}
