{% extends "zeit.web.magazin:templates/content.html" %}

{% block article_pages -%}
    {% require gallery = view.gallery %}
    <div class="article-page">
        {% include "zeit.web.core:templates/inc/article/gallery.html" %}
    </div>
    <div class="article-page">
        <div class="gallery__description article__item">
            {{ gallery.html | safe }}
        </div>
        <div class="meta article__item">
            {% include "zeit.web.magazin:templates/inc/article_area_date.html" %}
        </div>
    </div>
    {% endrequire %}
{%- endblock article_pages %}
