{% import 'zeit.web.magazin:templates/macros/layout_macro.tpl' as lama with context %}
<!DOCTYPE html>
<!--[if IE 9]> <html class="no-js lt-ie10 ie" lang="de"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="de" itemscope itemtype="http://schema.org/WebPage">
<!--<![endif]-->
    <head>
        {% include "zeit.web.core:templates/inc/meta/basics.html" %}
        {% include "zeit.web.core:templates/inc/meta/dns-prefetch.html" %}

        <link rel="shortcut icon" sizes="16x16 32x32" href="{{ request.route_url('home') }}favicon.ico">
        <link rel="apple-touch-icon-precomposed" href="{{ request.image_host }}/static/img/ZO-ipad-114x114.png">
        <link rel="alternate" type="application/rss+xml" href="http://newsfeed.zeit.de/index">
        {% block css_link %}
            <link href="{{ request.asset_host }}/css/web.magazin/screen.css" media="screen" rel="stylesheet" type="text/css">
        {% endblock css_link %}

        {%- include "zeit.web.core:templates/inc/inline_js/library.html" -%}
        {%- include "zeit.web.core:templates/inc/meta/date.html" -%}

        {% block sharing_meta -%}
        {%- include "zeit.web.magazin:templates/inc/meta/sharing.html" -%}
        {%- endblock sharing_meta %}

        {%- include "zeit.web.core:templates/inc/meta/app-indexing.html" -%}
        {%- include "zeit.web.core:templates/inc/meta/ligatus.html" -%}
        {% block schemaorg_data %}{% endblock %}

        {% if toggles('modernizr_js_file') -%}
            <script src="{{ request.asset_host }}/js/vendor/modernizr-custom.js"></script>
        {% else -%}
            <script>{% include "zeit.web.core:templates/inc/inline_js/modernizr-replacement.js" %}</script>
        {% endif -%}

        {% if toggles('third_party_modules') -%}
            <script src="https://script.ioam.de/iam.js"></script>
        {% endif -%}
        {% if toggles('third_party_modules', 'iqd') %}
            {% include "zeit.web.core:templates/inc/ads/head.html" %}
            {%- block content_ad_script -%}{%- endblock -%}
        {% endif %}
        {% include "zeit.web.core:templates/inc/inline_js/rawr.tpl" %}
        {% if settings('livereload') %}
            <script src="//localhost:35729/livereload.js"></script>
        {% endif %}
    </head>
    <body data-page-type="{{ view.type }}"{% if view.no_overscrolling %} data-overscrolling="off"{% endif %}>

        {% include "zeit.web.core:templates/inc/tag-manager.html" %}
        {% include "zeit.web.core:templates/inc/ads/static_oop-tag.html" %}
        {% include "zeit.web.core:templates/inc/tracking/ivw_ver2.html" %}

        {% block skiplink %}
        <a class="skiplink" href="#main" id="top" title="Direkt zum Inhalt springen">Inhalt</a>
        {% endblock skiplink %}

        <div class="page">
            {% block adplace_top %}
                {% include "zeit.web.core:templates/inc/ads/mainad.html" %}
            {% endblock adplace_top %}
            <div class="page__content {% block page_content_additional_class %}{% endblock %}">


                {% profile %}

                {% if not view.is_wrapped -%}
                    {% block navigation -%}
                        {%- include "zeit.web.magazin:templates/inc/navigation/navigation.html" -%}
                    {%- endblock navigation %}
                {%- endif %}

                {% block adplace_billboard %}
                    {% include "zeit.web.core:templates/inc/ads/places/desktop/place3.html" %}
                    {% include "zeit.web.core:templates/inc/ads/places/mobile/place1.html" %}
                {% endblock adplace_billboard %}

                {% block page_title %}
                {% endblock page_title %}

                {% endprofile %}

                <main class="{{ 'main' | with_mods(view.type) }}" id="main" itemprop="mainContentOfPage">
                    {% block main %}{% endblock main %}
                </main>

                {% block adplace_floor %}
                    <!-- P7 -->
                    {% include "zeit.web.core:templates/inc/ads/places/desktop/place16.html" %}
                    {% include "zeit.web.core:templates/inc/ads/places/mobile/place8.html" %}
                {% endblock adplace_floor %}

                {% profile %}
                {% block footer %}
                    <footer class="main-footer" data-ct-area="zmo-footernav">
                        {% block breadcrumbs -%}
                            {%- include "zeit.web.core:templates/inc/breadcrumbs.html" -%}
                        {%- endblock breadcrumbs %}

                        <div class="main-footer__box">
                            <div class="is-constrained is-centered">
                                {% block footer_logo -%}
                                    <a href="{{ request.route_url('home') }}zeit-magazin/index" data-ct-row="logo" data-ct-label="logo">
                                        {{- lama.use_svg_icon('logo-zmo-small', 'main-footer__logo', view.package) -}}
                                    </a>
                                {%- endblock footer_logo %}
                                <div class="main-footer__links">
                                    <ul data-ct-row="1">
                                        <li>VERLAG</li>
                                        <li><a href="http://www.zeit-verlagsgruppe.de/anzeigen/">Mediadaten</a></li>
                                        <li><a href="http://www.zeit-verlagsgruppe.de/marken-und-produkte/geschaeftskunden/artikel-nachrucke/">Rechte &amp; Lizenzen</a></li>
                                    </ul>
                                    <ul data-ct-row="2">
                                        <li><a class="js-image-copyright-footer" href="#bildrechte">Bildrechte</a></li>
                                        <li><a href="{{ request.route_url('home') }}hilfe/datenschutz">Datenschutz</a></li>
                                        <li><a href="http://www.iqm.de/digital/nutzungsbasierte-onlinewerbung/">Cookies</a></li>
                                        <li><a href="{{ request.route_url('home') }}administratives/agb-kommentare-artikel">AGB</a></li>
                                        <li><a href="{{ request.route_url('home') }}impressum/index">Impressum</a></li>
                                        <li><a href="{{ request.route_url('home') }}hilfe/hilfe">Hilfe/ Kontakt</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% include "zeit.web.core:templates/inc/inline_js/image-copyright-template.html" %}
                    </footer>
                {% endblock footer %}
                {% endprofile %}

            </div>

        </div>

        {% include "zeit.web.core:templates/inc/ads/finalize.html" %}
        {% include "zeit.web.core:templates/inc/tracking/zeit.html" %}
        {# Include login-state ESI before webtrekk! It contains the customer SSO ID. #}
        {% include "zeit.web.core:templates/inc/login-state-footer-esi.html" %}
        {% include "zeit.web.core:templates/inc/tracking/webtrekk.html" %}
        {% include "zeit.web.core:templates/inc/tracking/celera_one.html" %}
        {% include "zeit.web.core:templates/inc/inline_js/app_wrapper.html" %}
        {% include "zeit.web.core:templates/inc/tracking/meetrics.html" %}

        <script src="{{ request.asset_host }}/js/magazin.js"></script>

        {% if toggles('third_party_modules') and view.vgwort_url -%}
        <!--start: vgwort-->
        <img src="{{ view.vgwort_url }}" width="1" height="1" alt="" class="visually-hidden">
        <!--end: vgwort-->
        {% endif %}
    </body>
</html>
