{% import 'zeit.web.magazin:templates/macros/layout_macro.tpl' as lama with context %}
<!DOCTYPE html>
<!--[if lte IE 8]> <html class="no-js lt-ie10 lt-ie9 ie" lang="de"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10 ie" lang="de"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="de" itemscope itemtype="http://schema.org/WebPage">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="msapplication-config" content="none">
        {% block pagetitle %}
        <title>{{ view.pagetitle }}</title>
        {% endblock pagetitle %}
        <meta name="description" content="{{ view.pagedescription }}">
        {% if view.meta_keywords -%}
            <meta name="keywords" content="{{ view.meta_keywords | join(', ') }}">
        {%- endif %}
        <meta name="robots" content="{{ view.meta_robots }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" id="viewport-meta">

        {% include "zeit.web.core:templates/inc/inline_js/library.html" %}

        <link rel="shortcut icon" href="http://images.zeit.de/static/img/favicon.ico">
        <link rel="apple-touch-icon-precomposed" href="http://images.zeit.de/static/img/ZO-ipad-114x114.png">
        <link rel="alternate" type="application/rss+xml" href="http://newsfeed.zeit.de/index">
        {% if view.is_amp -%}
            <link rel="amphtml" href="{{ view.amp_url }}">
        {% endif -%}
        {% if view.canonical_url -%}
            <link rel="canonical" href="{{ view.canonical_url }}">
        {% endif -%}
        {% if view.prev_page_url -%}
            <link rel="prev" href="{{ view.prev_page_url }}">
        {% endif -%}
        {% if view.next_page_url -%}
            <link rel="next" href="{{ view.next_page_url }}">
        {% endif -%}
        {% block css_lte8_link %}
        <!--[if lte IE 8]>
            <link href="{{ request.asset_host }}/css/web.magazin/all-old-ie.css" media="screen" rel="stylesheet" type="text/css" />
        <![endif]-->
        {% endblock css_lte8_link %}
        {% block css_link %}
        <!--[if gt IE 8]><!-->
            <link href="{{ request.asset_host }}/css/web.magazin/screen.css" media="screen" rel="stylesheet" type="text/css" />
        <!--<![endif]-->
        {% endblock css_link %}
        <!-- iqd css code integrated in screen.css via modules/_iqd_adcode.sass -->

        <!-- date metadata -->
        {%- include "zeit.web.core:templates/inc/meta/date.html" -%}

        {% block sharing_meta -%}
        <!-- sharing metadata -->
        {%- include "zeit.web.magazin:templates/inc/meta/sharing.html" -%}
        {%- endblock sharing_meta %}

        {# Modernizr -#}
        <script src="{{ request.asset_host }}/js/vendor/modernizr-custom.js"></script>

        {% if toggles('third_party_modules', 'tracking') %}
            <script src="https://script.ioam.de/iam.js"></script>
        {% endif %}
        {% if toggles('third_party_modules', 'iqd') %}
            {% include "zeit.web.core:templates/inc/ads/head.html" ignore missing %}
            {%- block content_ad_script -%}{%- endblock -%}
        {% endif %}
        {% include "zeit.web.core:templates/inc/inline_js/rawr.tpl" %}
        {% if settings('livereload') %}
            <script src="//localhost:35729/livereload.js"></script>
        {% endif %}
    </head>
    <body data-ad-delivery-type="{{ view.ad_delivery_type }}"{% if view.is_wrapped %} data-is-wrapped="true"{% endif %}>

        {% include "zeit.web.core:templates/inc/tag-manager.html" ignore missing %}
        {% include "zeit.web.core:templates/inc/ads/static_oop-tag.html" ignore missing %}
        {% include "zeit.web.core:templates/inc/tracking/ivw_ver2.html" ignore missing %}

        <div class="page-wrap">

        {% block adplace_top %}
            <div id="iqd_mainAd" >
                <div id="iqd_align_Ad">
                    <div id="iqd_topAd">
                        {{ lama.adplace(view.banner(1), view) }}
                        <div id="iqd_rightAd">
                            {{ lama.adplace(view.banner(2), view) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock adplace_top %}

        {% block page_wrap_inner %}
            <div class="page-wrap--inner" id="js-page-wrap-inner">
        {% endblock page_wrap_inner %}

                {% profile %}

                {% if not view.is_wrapped %}
                    {% block navigation %}
                        {{ lama.main_nav(view.context.main_nav_full_width, request) }}
                    {% endblock navigation %}
                {% endif %}

                {% block adplace_billboard %}
                    {{ lama.adplace(view.banner(3), view) }}
                    {{ lama.adplace(view.banner(1), view, True) }}
                {% endblock adplace_billboard %}

                {% block page_title %}
                {% endblock page_title %}

                {% endprofile %}

                <main class="main">
                    {% block content %}{% endblock content %}
                </main>

                {% profile %}
                {% block footer %}
                    <footer class="main-footer" data-ct-area="zmo-footernav">
                        {% block breadcrumbs -%}
                            {%- include "zeit.web.core:templates/inc/breadcrumbs.html" -%}
                        {%- endblock breadcrumbs %}

                        <div class="main-footer__box">
                            <div class="is-constrained is-centered">
                                {% block footer_logo -%}
                                    <a href="{{ request.route_url('home') }}zeit-magazin/index" data-ct-row="logo" data-ct-label="logo">
                                        {{- lama.use_svg_icon('logo-zmo-small', 'main-footer__logo', view.package) -}}
                                    </a>
                                {%- endblock footer_logo %}
                                <div class="main-footer__links">
                                    <ul data-ct-row="1">
                                        <li>VERLAG</li>
                                        <li><a href="http://www.zeit-verlagsgruppe.de/anzeigen/">Mediadaten</a></li>
                                        <li><a href="http://www.zeit-verlagsgruppe.de/marken-und-produkte/geschaeftskunden/artikel-nachrucke/">Rechte &amp; Lizenzen</a></li>
                                    </ul>
                                    <ul data-ct-row="2">
                                        <li><a class="js-image-copyright-footer" href="#bildrechte">Bildrechte</a></li>
                                        <li><a href="{{ request.route_url('home') }}hilfe/datenschutz">Datenschutz</a></li>
                                        <li><a href="http://www.iqm.de/digital/nutzungsbasierte-onlinewerbung/">Cookies</a></li>
                                        <li><a href="{{ request.route_url('home') }}administratives/agb-kommentare-artikel">AGB</a></li>
                                        <li><a href="{{ request.route_url('home') }}impressum/index">Impressum</a></li>
                                        <li><a href="{{ request.route_url('home') }}hilfe/hilfe">Hilfe/ Kontakt</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% include "zeit.web.core:templates/inc/inline_js/image-copyright-template.html" %}
                    </footer>
                {% endblock footer %}
                {% endprofile %}

            </div><!-- end: #js-page-wrap-inner -->

        {% block adplace_floor %}
            <!-- mobile ad at bottom -->
            {{ lama.adplace(view.banner(8), view, True) }}
        {% endblock adplace_floor %}

        </div>

        <script type="text/javascript" src="//admin.brightcove.com/js/BrightcoveExperiences.js"></script>

        {% include "zeit.web.core:templates/inc/ads/finalize.html" ignore missing %}

        <!-- tracking at end -->
        {% include "zeit.web.core:templates/inc/tracking/zeit.html" ignore missing %}
        {% include "zeit.web.core:templates/inc/tracking/meetrics.html" ignore missing %}
        {% include "zeit.web.core:templates/inc/tracking/webtrekk.html" ignore missing %}
        {% include "zeit.web.core:templates/inc/tracking/celera_one.html" ignore missing %}
        {% include "zeit.web.core:templates/inc/inline_js/app_wrapper.html" ignore missing %}

        <script type="text/javascript">
            var require = { baseUrl: '{{ request.asset_host }}/js/' };
        </script>
        <script type="text/javascript" src="{{ request.asset_host }}/js/magazin.js"></script>

        {% if view.vgwort_url %}
        <!--start: vgwort-->
        <img src="{{ view.vgwort_url }}" width="1" height="1" alt="" class="visually-hidden">
        <!--end: vgwort-->
        {% endif %}
    </body>
</html>
