{% extends "zeit.web.magazin:templates/layout.html" %}
{% import 'zeit.web.magazin:templates/macros/article_macro.tpl' as blocks with context %}
{% import 'zeit.web.magazin:templates/macros/layout_macro.tpl' as lama with context %}

{% block adplace_top %}
{% endblock adplace_top %}

{% block page_content_additional_class %}page__content--longform{% endblock %}

{% block navigation %}
<header class="header" data-ct-area="zmo-topnav">
    <div class="header__bar">
        <div class="header__publisher" id="publisher" itemprop="publisher" itemscope itemtype="http://schema.org/Organization" data-ct-row="lead">
            {% block longform_logo -%}
            <a itemprop="url" href="{{ request.route_url('home') }}zeit-magazin/index" data-ct-label="logo">
                <meta itemprop="name" content="ZEITmagazin">
                <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                    {{ lama.use_svg_icon('logo-zmo-large', 'header__logo', view.package) }}
                    {# The "logo" dimensions must not exceed 600x60 -#}
                    <meta itemprop="url" content="{{ request.asset_host }}/images/structured-data-publisher-logo-zmo.png">
                    <meta itemprop="width" content="600">
                    <meta itemprop="height" content="56">
                </span>
            </a>
            {% endblock longform_logo -%}
        </div>

        {% set ga_campaign = '&utm_medium=sm&utm_source={0}_zonaudev_ext&utm_campaign=ref&utm_content=zeitde_share_link_x' -%}
        {% set content_url = view.content_url ~ '?wt_zmc=sm.ext.zonaudev.{0}.ref.zeitde.share.link.x' -%}
        <aside class="header__sharing" data-ct-row="social">
            <a href="http://twitter.com/intent/tweet?text={{ view.title | urlencode }}&amp;via={{ view.twitter_username | urlencode }}&amp;url={{ content_url.format('twitter') | urlencode }}"
                target="_blank" class="header__link" title="Auf Twitter teilen" data-ct-label="twitter">{{ lama.use_svg_icon('sharing-twitter', 'header__sharing-icon', view.package) }}</a>
            <a href="http://www.facebook.com/sharer/sharer.php?u={{ (content_url ~ ga_campaign).format('facebook') | urlencode }}"
                target="_blank" class="header__link" title="Auf Facebook teilen" data-ct-label="facebook">{{ lama.use_svg_icon('sharing-facebook', 'header__sharing-icon', view.package) }}</a>
        </aside>
    </div>
</header>
{% endblock navigation %}

{% block adplace_billboard %}
{% endblock adplace_billboard %}

{% block main %}
    <article class="article article--longform" itemprop="mainEntity" itemscope itemtype="http://schema.org/Article" itemid="{{ view.basename }}" itemref="publisher">
        <link itemprop="mainEntityOfPage" href="{{ view.canonical_url }}">
        <div class="article__wrap">
            <div class="article__head-wrap">

                {% if view.header_module %}
                    {# longforms do have a special headerimage (which has the same name as article headerimages) #}

                    {% if is_instance(view.header_module, 'zeit.web.core.block.Image') %}
                        {% include "zeit.web.magazin:templates/inc/asset/image_article_longform.tpl" %}
                    {% elif is_instance(view.header_module, 'zeit.web.core.block.HeaderVideo') %}
                        {{ blocks['headervideo'](view.header_module) }}
                    {% else %}
                        {{ blocks[view.header_module | block_type](view.header_module) }}
                    {% endif %}
                {% endif %}

                {% include "zeit.web.magazin:templates/inc/headers/article_header_longform.html" %}
            </div>

            <div class="article__body">
                <!-- block for Teaser -->
                <section class="article__page">
                    <div class="article__head__subtitle">
                        {{- view.subtitle -}}
                    </div>
                </section>

                {{ lama.adplace(banner(3), view) }}

                {% block article_pages %}
                {% for page in view.pages %}
                <section class="article__page">
                    {% if page.teaser -%}
                        <h2 class="article__subpage-head is-centered is-constrained" id="kapitel{{ page.number }}">
                            {{- page.number }} &mdash; {{ page.teaser -}}
                        </h2>
                        <aside class="article__subpage-index figure-stamp">
                            <h3 class="article__subpage-index__title">&Uuml;bersicht</h3>
                            <ol>
                                {% for item in view.pages if item.teaser %}
                                <li class="article__subpage-index__item">
                                    <span class="article__subpage-index__item__count">{{ item.number }} &mdash; </span>
                                    {% if loop.index == page.number %}
                                        <span class="article__subpage-index__item__title article__subpage-active">{{ item.teaser }}</span>
                                    {% else %}
                                        <a href="#kapitel{{ loop.index }}" class="article__subpage-index__item__title js-scroll">{{ item.teaser }}</a>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ol>
                        </aside>
                    {% endif -%}

                    {% include "zeit.web.magazin:templates/inc/article/page.html" %}
                </section>
                {% endfor %}
                {% endblock article_pages %}
            </div>

            {% block article_footer %}
            <div class="article__footer article__item" data-ct-area="articlebottom">
                {% block article_sharing %}
                    {% include "zeit.web.core:templates/inc/article/sharing-menu.html" %}
                {% endblock %}
                {% block article_tags %}
                    {% include "zeit.web.core:templates/inc/article/tags.html" %}
                {% endblock %}
            </div>
            {% endblock %}
        </div>
    </article>
{% endblock main %}

{% block adplace_floor %}
{% endblock adplace_floor %}
