{% extends "zeit.web.magazin:templates/layout.html" %}
{% import 'zeit.web.core:templates/macros/layout_macro.tpl' as lama with context %}

{% block adplace_top %}
{% endblock adplace_top %}

{% block page_content_additional_class %}page__content--longform{% endblock %}

{% block navigation %}
<header class="header" data-ct-area="zmo-topnav">
    <div class="header__bar">
        <div class="header__publisher" data-ct-row="lead">
            {% block longform_logo -%}
            <a href="{{ request.route_url('home') }}zeit-magazin/index" data-ct-label="logo">
                {{ lama.use_svg_icon('logo-zmo-large', 'header__logo', view.package) }}
            </a>
            {% endblock longform_logo -%}
        </div>

        {% set ga_campaign = '&utm_medium=sm&utm_source={0}_zonaudev_ext&utm_campaign=ref&utm_content=zeitde_share_link_x' -%}
        {% set content_url = view.content_url ~ '?wt_zmc=sm.ext.zonaudev.{0}.ref.zeitde.share.link.x' -%}
        <aside class="header__sharing" data-ct-row="social">
            <a href="http://twitter.com/intent/tweet?text={{ view.title | urlencode }}&amp;via={{ view.twitter_username | urlencode }}&amp;url={{ content_url.format('twitter') | urlencode }}"
                target="_blank" class="header__link" title="Auf Twitter teilen" data-ct-label="twitter">{{ lama.use_svg_icon('sharing-twitter', 'header__sharing-icon', view.package) }}</a>
            <a href="http://www.facebook.com/sharer/sharer.php?u={{ (content_url ~ ga_campaign).format('facebook') | urlencode }}"
                target="_blank" class="header__link" title="Auf Facebook teilen" data-ct-label="facebook">{{ lama.use_svg_icon('sharing-facebook', 'header__sharing-icon', view.package) }}</a>
        </aside>
    </div>
</header>
{% endblock navigation %}

{% block adplace_billboard %}
{% endblock adplace_billboard %}

{% block main %}
    <article class="article article--longform" id="js-article" itemscope itemtype="http://schema.org/Article">
        <link itemprop="mainEntityOfPage" href="{{ view.canonical_url }}">
        <div class="article__head-wrap" data-x-marker="header-wrapper">

            {% require block = view.header_module %}
                {% set type = block | block_type %}
                {% include [
                    "zeit.web.magazin:templates/inc/blocks/{0}_longform.html".format(type),
                    "zeit.web.magazin:templates/inc/blocks/{0}.html".format(type)] ignore missing %}
            {% endrequire %}

            {% include "zeit.web.magazin:templates/inc/header/header_longform.html" %}
        </div>

        <div class="article__body">
            <!-- block for Teaser -->
            <section class="article-page" data-page-number="0" data-x-marker="subtitle-container">
                <div class="article__head__subtitle" data-x-marker="subtitle">
                    {{- view.subtitle -}}
                </div>
            </section>

            {% include "zeit.web.core:templates/inc/ads/places/desktop/place3.html" %}

            {% block article_pages %}
            {% for page in view.pages %}
            <section class="article-page" data-page-number="{{ page.number }}">
                {% if page.teaser -%}
                    <h2 class="article__subpage-head is-centered is-constrained" id="kapitel{{ page.number }}">
                        {{- page.number }} &mdash; {{ page.teaser -}}
                    </h2>
                    <aside class="article__subpage-index figure-stamp" data-ct-area="article-toc" data-ct-row="
                        {{- 'page_%s_of_%s' | format(page.number, loop.length - 1) }}" data-ct-column="false">
                        <h3 class="article__subpage-index__title">&Uuml;bersicht</h3>
                        <ol>
                            {% for item in view.pages if item.teaser %}
                            <li class="article__subpage-index__item">
                                <span class="article__subpage-index__item__count">{{ item.number }} &mdash; </span>
                                {% if loop.index == page.number %}
                                    <span class="article__subpage-index__item__title article__subpage-active">{{ item.teaser }}</span>
                                {% else %}
                                    <a href="#kapitel{{ loop.index }}" class="article__subpage-index__item__title js-scroll" data-ct-label="{{ loop.index }}">{{ item.teaser }}</a>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ol>
                    </aside>
                {% endif -%}

                {% include "zeit.web.magazin:templates/inc/article/page.html" %}
            </section>
            {% endfor %}
            {% endblock article_pages %}
        </div>

        {% block article_footer %}
        <div class="article__footer article__item" data-ct-area="articlebottom">
            {% block article_sharing %}
                {% include "zeit.web.core:templates/inc/article/sharing-menu.html" %}
            {% endblock %}
            {% block article_tags %}
                {% include "zeit.web.core:templates/inc/article/tags.html" %}
            {% endblock %}
        </div>
        {% endblock %}
    </article>
{% endblock main %}

{% block adplace_floor %}
{% endblock adplace_floor %}
