{% extends "zeit.web.magazin:templates/layout.html" %}
{% import 'zeit.web.magazin:templates/macros/article_macro.tpl' as blocks with context %}
{% import 'zeit.web.magazin:templates/macros/layout_macro.tpl' as lama with context %}
{% import 'zeit.web.magazin:templates/article.html' as article with context %}

{% block adplace_top %}
{% endblock adplace_top %}

{% block page_content_additional_class %}page__content--longform{% endblock %}

{% block navigation %}
<header class="header" data-ct-area="zmo-topnav">
    <div class="header__bar">
        <div class="header__publisher" id="publisher" itemprop="publisher" itemscope itemtype="http://schema.org/Organization" data-ct-row="lead">
            {% block longform_logo -%}
            <a itemprop="url" href="{{ request.route_url('home') }}zeit-magazin/index" data-ct-label="logo">
                <meta itemprop="name" content="ZEITmagazin">
                <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                    {{ lama.use_svg_icon('logo-zmo-large', 'header__logo', view.package) }}
                    {# The "logo" dimensions must not exceed 600x60 -#}
                    <meta itemprop="url" content="{{ request.asset_host }}/images/structured-data-publisher-logo-zmo.png">
                    <meta itemprop="width" content="600">
                    <meta itemprop="height" content="56">
                </span>
            </a>
            {% endblock longform_logo -%}
        </div>

        <aside class="header__sharing" data-ct-row="social">
            <a href="http://twitter.com/intent/tweet?text={{ view.title | urlencode }}&amp;via=ZEITmagazin&amp;url={{ view.content_url | urlencode }}"
                target="_blank" class="header__link" title="Auf Twitter teilen" data-ct-label="twitter">{{ lama.use_svg_icon('twitter', 'header__sharing-icon', view.package) }}</a>
            <a href="http://www.facebook.com/sharer/sharer.php?u={{ view.content_url | urlencode }}"
                target="_blank" class="header__link" title="Auf Facebook teilen" data-ct-label="facebook">{{ lama.use_svg_icon('facebook', 'header__sharing-icon', view.package) }}</a>
        </aside>
    </div>
</header>
{% endblock navigation %}

{% block adplace_billboard %}
{% endblock adplace_billboard %}

{% block content %}
    <article class="article article--longform" itemprop="mainEntity" itemscope itemtype="http://schema.org/Article" itemid="{{ view.basename }}" itemref="publisher">
        <link itemprop="mainEntityOfPage" href="{{ view.canonical_url }}">
        <div class="article__wrap">
            <div class="article__head-wrap">

                {% if view.header_module %}
                    {# longforms do have a special headerimage (which has the same name as article headerimages) #}

                    {% set block_type = view.header_module|block_type %}
                    {% if block_type == 'headerimage' %}
                        <div class="scaled-image is-pixelperfect article__head-image">
                            {% set obj = view.header_module%}
                            {% include "zeit.web.magazin:templates/inc/asset/image_article_longform.tpl" %}
                        </div>
                    {% else %}
                        {{ blocks[view.header_module|block_type](view.header_module) }}
                    {% endif %}
                {% endif %}

                <header class="article__title-wrap">
                    <h1 itemprop="headline">
                        {{ blocks.title() }}
                    </h1>
                    <div class="article__head__meta">
                        {% include "zeit.web.magazin:templates/inc/article_area_date.html" ignore missing %}
                        {{ blocks.meta_author(view.authors) }}
                    </div>
                </header>
            </div>

            <div class="article__body">
                <!-- block for Teaser -->
                <section class="article__page">
                    <div class="article__page-wrap">
                        {{ blocks.subtitle() }}
                    </div>
                </section>

                {{ lama.adplace(view.banner(3), view) }}

                {% for page in view.pages %}
                <section class="article__page">
                    <div class="article__page-wrap">
                        {{ blocks.subpage_head( page.number, page.teaser, 'article__subpage-head is-centered is-constrained' ) }}
                        {{ blocks.subpage_index( view.pages, page.teaser, page.number, 'article__subpage-index', 'article__subpage-active' ) }}

                        {{ article.render_page(page) }}
                    </div>
                </section>
                {% endfor %}
            </div>
        </div>
    </article>
{% endblock content %}

{% block adplace_floor %}
{% endblock adplace_floor %}
