{% extends "zeit.web.magazin:templates/longform.html" %}

{% block article_pages %}
<section class="article__page">
    {%- set page = view.current_page -%}
    {%- set block = (page | select('paragraph') | first) -%}
    {%- set type = 'paragraph' -%}
    {% include "zeit.web.core:templates/inc/article/paywall/paragraph.html" %}
    {% block paywall_form %}
        {% include "zeit.web.core:templates/inc/article/paywall/form_{0}.html".format(view.paywall) %}
    {% endblock %}
</section>
{% endblock %}

{% block article_footer %}{% endblock %}
