{% extends "zeit.web.magazin:templates/article.html" %}
{% import 'zeit.web.magazin:templates/macros/article_macro.tpl' as blocks with context %}

{% block article_header %}
    <div class="article__head-wrap">
        <header class="article__head article__head--default">
          {{ blocks.supertitle() }}
          {{ blocks.title() }}
        </header>
    </div>
{% endblock article_header %}

{% block article_pages %}
<div class="product">
    <div class="product__info">
        <div class="product__description">
            {{ view.galleryText|safe }}
        </div>
        <div class="article__head__meta">
            {% include "zeit.web.magazin:templates/inc/article_area_date.html" ignore missing %}
        </div>
    </div>

    <div class="product__wrap">
        {% for image in view.images.itervalues() %}
            <figure class="product__wrap__entry">
                <div class="scaled-image">
                    {{ lama.insert_responsive_image(image, 'product__image', 'article') }}
                </div>
                <figcaption class="product__caption">
                    <div class="product__caption__text">{{ image.caption }}</div>
                    {% for name, url, nofollow in image.copyright %}
                    	{% if name | startswith('©') %}
                        	<span class="product__caption__copyright">{{ name }}</span>
                    	{%- endif %}
                    {% endfor %}
                </figcaption>
            </figure>
        {% endfor %}
    </div>
</div>
{% endblock article_pages %}
