<div class="column-heading">
    <div class="column-heading__upper">
        <div class="article__item">
            <div class="column-heading__inner">
                <div class="column-heading__information">
                    <h1 class="column-heading__header" itemprop="headline">
                        <span class="column-heading__kicker">
                            {{- view.serie + ' / ' -}}
                            {{- view.supertitle -}}
                        </span>
                        {%- if view.title %}<span class="visually-hidden">: </span>{% endif -%}
                        <span class="column-heading__title">{{ view.title }}</span>
                    </h1>
                    {% if view.authors %}
                        <div class="column-heading__name">
                            Eine Kolumne von
                            {% for author in view.authors -%}
                                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                                {%- if loop.length > 1 -%}
                                    {%- if loop.last %} und {% else %}, {% endif -%}
                                {%- endif -%}
                                {%- if author.href -%}
                                    <a href="{{ author.href | create_url }}" itemprop="url"><span itemprop="name">{{ author.name }}</span></a>
                                {%- else -%}
                                    <span itemprop="name">{{ author.name }}</span>
                                {%- endif -%}
                                </span>
                            {%- endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="column-heading__author">
                    {% include "zeit.web.site:templates/inc/article/column_author_image.tpl" %}
                </div>
            </div>
        </div>
    </div>
    {% if view.pagination and view.pagination.current < 2 %}
    <div class="column-heading__lower">
        <div class="article__item">
            <div class="summary" itemprop="description">
                {{ view.subtitle }}
            </div>
            <div class="metadata metadata--column">
                {% include "zeit.web.core:templates/inc/article/metadata.tpl" %}
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% if view.pagination and view.pagination.current > 1 %}
    <div class="article__page-teaser article__page-teaser--column article__item">
        Seite {{ view.pagination.current }}/{{ view.pagination.total }}
        {%- if view.current_page.teaser -%}
            : <h1>{{ view.current_page.teaser }}</h1>
        {% endif %}
    </div>
{% endif %}
