<div class="article__item">
    <div class="article-heading liveblog-heading">
        {%- include "zeit.web.site:templates/inc/liveblog/header-image.tpl" -%}
        <h1 class="liveblog-heading__headline">
            <span class="article-heading__kicker">
                {{- view.supertitle -}}
            </span>
            {%- if view.title %}<span class="visually-hidden">: </span>{% endif -%}
            <span class="article-heading__title">
                {{- view.title -}}
            </span>
        </h1>
    </div>
</div>
{% include "zeit.web.site:templates/inc/article/metadata.tpl" %}
