{% extends "zeit.web.site:templates/inc/article-header/default.html" %}
{% block heading %}

    {% set imgref = adapt(view.context, 'zeit.content.image.interfaces.IImages') %}
    {% set fill_color = imgref.fill_color if imgref else None %}
    {% set card_style = 'background-color: #{};'.format(fill_color) -%}

    <header class="{{ 'article-heading' | with_mods('podcast') }}" itemprop="headline" data-ct-area="articleheader" {% if card_style %} style="{{ card_style }}"{% endif %}>
        <div class="{{ 'article-heading__container' | with_mods('podcast') }}">
            {% include "zeit.web.site:templates/inc/asset/image_article-header-podcast.html" %}
            <div>
                <h1 class="{{ 'article-heading__headline' | with_mods('podcast') }}">
                    <span class="{{ 'article-heading__series' | with_mods('podcast') }}">
                        {% if view.serie %}
                            Podcast: {{ view.serie }} /
                        {% endif %}
                        {{- view.supertitle -}}
                    </span>
                    {%- if view.title %}<span class="visually-hidden">: </span>{% endif -%}
                    <span class="{{ 'article-heading__title' | with_mods('podcast') }}">{{- view.title -}}</span>
                </h1>
                <div class="article-heading__podcast-player">
                    {% include "zeit.web.core:templates/inc/article/header-module.tpl" %}
                </div>
            </div>
        </div>
        <div class="{{ 'article-heading__subs-series' | with_mods('podcast') }}">
            <div class="article__item">

                {% set podlove_button_id = view.header_module.context.episode_id %}
                {% set podlove_button_configuration = view.header_module.podlove_configuration %}
                {% include "zeit.web.core:templates/inc/shared/podlove-button.html" %}

                {%- if view.serie -%}
                <a href="{{ context | find_series_cp | create_url }}" class="article-heading__link-series">Alle Folgen</a>
                {%- endif -%}

            </div>
        </div>
    </header>
{% endblock %}

{% block headerseries %}{% endblock %}
{% block headermodule %}{% endblock %}
