{% extends "zeit.web.site:templates/inc/article-header/default.html" %}
{% import 'zeit.web.site:templates/macros/layout_macro.tpl' as lama %}
{% block heading %}

    {% set imgref = adapt(view.context, 'zeit.content.image.interfaces.IImages') %}
    {% set fill_color = imgref.fill_color if imgref else None %}
    {% set card_style = 'background-color: #{};'.format(fill_color) -%}

    <header class="{{ 'article-heading' | with_mods('podcast') }}" itemprop="headline" data-ct-area="articleheader" {% if card_style %} style="{{ card_style }}"{% endif %}>
        <div class="{{ 'article-heading__container' | with_mods('podcast') }}">
            {% include "zeit.web.site:templates/inc/asset/image_article-header-podcast.html" %}
            <div>
                <h1 class="{{ 'article-heading__headline' | with_mods('podcast') }}">
                    <span class="{{ 'article-heading__series' | with_mods('podcast') }}">
                        {%- if view.serie -%}
                            Podcast: {{ view.serie -}} &nbsp / &nbsp
                        {%- endif -%}
                        {{- view.supertitle -}}
                    </span>
                    {%- if view.title %}<span class="visually-hidden">: </span>{% endif -%}
                    <span class="{{ 'article-heading__title' | with_mods('podcast') }}">{{- view.title -}}</span>
                </h1>
                <div class="article-heading__podcast-player">
                    {% include "zeit.web.core:templates/inc/article/header-module.tpl" %}
                </div>
            </div>
        </div>
        <div class="{{ 'article-heading__subs-series' | with_mods('podcast') }}">
            <div class="article__item">
                {% if view.header_module.podlove_configuration %}
                    {% set article_jsonname = view.context.uniqueId | format_only_varchars %}
                    {# Podlove verträgt es derzeit nicht, wenn der Button ein Link ist.
                       Das wäre mal einen Pull Request in deren Software wert!
                       Und dann können wir das hier nutzen:
                        {% set external_site_url = view.header_module.podlove_configuration.external_site_url or 'http://{}.podigee.io'.format(view.header_module.podlove_configuration.podigee_subdomain) %}
                       Und dann auch cursor:pointer sowie no-js aus dem CSS entfernen!
                    #}
                    <span class="podlove-button podlove-subscribe-button-{{ article_jsonname }}">
                        {{ lama.use_svg_icon('podcast', 'podlove-button__icon', view.package, a11y=False) }}
                        Abonnieren
                    </span>
                    <script class="podlove-subscribe-button" src="https://cdn.podlove.org/subscribe-button/javascripts/app.js" data-language="de"data-size="small" data-hide="true" data-buttonid="{{ article_jsonname }}" data-json-data="podcastData" async defer></script>
                    {# Attention: The data-size attribute is needed, even though we use our own button. Otherwise the podlove script fails. #}
                {% endif %}
                <a href="{{ context | find_series_cp | create_url }}" class="{{ 'article-heading__link-series' }}">Alle Folgen</a>
            </div>
        </div>
    </header>
{% endblock %}

{% block headerseries %}{% endblock %}
{% block headermodule %}{% endblock %}
