{% if toggles('amp_advertising') -%}
{% set keywords = ['nospa', 'enozqi', 'iqdzeit_amp'] %}
{% set additional_keywords = ['iqadtile%s' | format(tile_number)] %}
{% set iqadtest_keyword = ['iqadtest'] if settings('environment') != 'production' else [] %}
{% set targeting = {'targeting': {'kw': keywords + additional_keywords + iqadtest_keyword, 'tile': [ tile_number | string ], 'doc': ['artikel'], 'iqadtype': ['amp'] }} | tojson %}
{% set slot = '/183/iqdzeit_amp/{}'.format(view.banner_channel.replace('article', 'artikel')) %}
    {% block adplace -%}
    <div class="advertising advertising--place-{{ tile_number }}">
        <div class="advertising__container">
            <amp-ad width="{{ width | default('320') }}" height="{{ height | default('320') }}"
                type="{{ type | default('doubleclick') }}"
                data-slot="{{ slot }}"
                json="{{ targeting }}"
                data-multi-size="{{ multisize }}"
                data-multi-size-validation="{{ multisize_validation | default(false) }}">
            </amp-ad>
            <div class="advertising__marker">Anzeige</div>
        </div>
    </div>
    {% endblock %}
{% endif %}
