$color-exclamation-background: $color-text--light;

@import "web.core/modules/basics";

%zar-button-hollow {
@include zon-button(
	$color: $primary-color,
	$background-color: transparent,
	$hover-background-color: $primary-color,
	$hover-color: $white,
	$hover-border-color: $primary-color,
	$visited-color: $primary-color,
	$letter-spacing: $letter-spacing-s,
	$font-size: remify(16px),
	$border-color: $primary-color,
	$margin: remify(14px 6px 14px 0)
	);
@include font-smoothing;
font-family: $font-patronbold;
text-transform: none;
}

%zar-button-hollow--jobs {
	@include zon-button(
		$color: $color-jobs-elements,
		$background-color: transparent,
		$hover-background-color: $color-jobs-elements,
		$hover-color: $white,
		$hover-border-color: $color-jobs-elements,
		$visited-color: $color-jobs-elements,
		$letter-spacing: $letter-spacing-s,
		$font-size: remify(16px),
		$border-color: $color-jobs-elements,
		$margin: remify(14px 6px 14px 0)
		);
	@include font-smoothing;
	font-family: $font-patronbold;
	text-transform: none;
}

%zar-button-hollow--debate {
	@include zon-button(
		$color: $white,
		$background-color: transparent,
		$hover-background-color: $white,
		$hover-color: $black,
		$hover-border-color: $white,
		$visited-color: $white,
		$letter-spacing: $letter-spacing-s,
		$font-size: remify(16px),
		$border-color: $white,
		$margin: remify(14px 6px 14px 0)
		);
	@include font-smoothing;
	font-family: $font-patronbold;
	text-transform: none;
}
