div[id*="__container__"]
    &:before
        @extend %ad-label
        content: "Anzeige"
        display: none
        margin-left: auto
        margin-right: auto
        max-width: remify(300px)


.ad-mobile
    background-color: $color-advertising-bg
    border-bottom: 1px solid $color-border
    border-top: 1px solid $color-border
    display: block // generally visible on mobile
    margin: -1px 0 // prevent border overlapping
    .cp-area &
        margin: -1px (-$page-padding)
    +respond_min($break-mobile-ad-width)
        display: none // generally hidden on desktop
    &--4-on-centerpage
        margin-bottom: remify(20px)
        +respond_min($break-2)
            display: none
    &--4-on-article
        margin: remify(40px) (-$page-padding)
    &--8
        margin: 0
    &:empty
        display: none

.ad-desktop
    display: none // generally hidden in mobile view
    +respond_min($break-mobile-ad-width)
        display: block // generally visible on desktop
        &:empty
            display: none
    // shows Anzeige-Label before every Ad
    &[data-banner-label]
        *:first-child:before
            @extend %ad-label
            content: "Anzeige"
    &--3,
    &--12
        margin: 0 auto
        max-width: 940px
        padding: $little 0
    &--7-on-centerpage,
    &--8-on-centerpage
        background-color: $color-page-bg
        color: $color-text
        margin: 0 auto $compact auto
        width: 300px
    &--7-on-article,
    &--8-on-article
        display: none
        +respond_min($break-mobile-ad-width)
            border-top: 1px solid $charcoal
            border-bottom: 1px solid $charcoal
            margin: 0 auto 0.625em
            max-width: 41.25rem
            padding-bottom: remify(15px)
            display: table
            vertical-align: middle
            width: 100%
            +respond-min($break-3)
                border: none
                clear: both
                float: right
                margin: 0 remify(60px) remify(28px) remify(36px)
                padding: 0
        // uses code by iqd, may break tomorrow
        div[id*="__container__"]
            display: table-cell
            padding-top: remify(15px)
            position: relative
            text-align: center
            & > iframe[id^="google_ads_iframe"]
                display: inline-block
                margin: 0 auto
                max-width: 100%
            &:before
                display: block
                +respond-min($break-3)
                    display: none
            +respond-min($break-3)
                display: block
                padding-top: 0
                margin: 0
                max-width: 100%
    &--7-on-article
        +respond-min($break-3)
            max-width: 802px
            width: auto
    &--8-on-article
        +respond-min($break-3)
            max-width: 300px

// Fix hillarious unusable ad extras by iqd
+respond-max($break-mobile-ad-width)
    body > #iqdSitebar
        display: none
