$advertorial-mark-offset-px: 15px
$advertorial-mark-offset-em: em(15px)

.teaser-landscape-large.is-advertorial,
.teaser-landscape-small.is-advertorial
	padding: $advertorial-mark-offset-px+8px $advertorial-mark-offset-px $advertorial-mark-offset-px $advertorial-mark-offset-px
	border: 1px solid #d3d3d3
	&:after
		content: 'Anzeige'
		font-family: Verdana
		font-size: 12px
		position: absolute
		text-transform: uppercase
		top: 5px
		right: $advertorial-mark-offset-px

.teaser-upright.is-advertorial a > .scaled-image
	height: remify(40px)

.teaser-landscape-large.is-advertorial
	margin-top: 0
