$advertorial-mark-offset-px: 15px
$advertorial-mark-offset-em: em(15px)

.cp_button--large.is-advertorial,
.cp_button.is-advertorial
	padding: $advertorial-mark-offset-px+8px $advertorial-mark-offset-px $advertorial-mark-offset-px $advertorial-mark-offset-px
	border: 1px solid #d3d3d3
	&:after
		content: 'Anzeige'
		font-family: Verdana
		font-size: 12px
		position: absolute
		text-transform: uppercase
		top: 5px
		right: $advertorial-mark-offset-px
	& .cp_button__title__wrap
		bottom: $advertorial-mark-offset-px
		width: 90%

.cp_button--gallery.is-advertorial a > .scaled-image
	height: $cp_button-gallery-height - remify(40px)

.cp_button--large.is-advertorial
	margin-top: 0
