$nextread-teaser-width: 260px

.nextread
    @extend %nextread-link-dark
    position: relative
    +unpadded
    font-family: $font-tabletgothic
    font-weight: bold
    color: $black
    background-color: $alabaster
    border-top: 1px solid $grey--light
    padding-bottom: remify(154px)
    +respond-max($break-2)
        padding-bottom: $large

    &__lead
        font-size: $font-m
        letter-spacing: $hair
        margin: $big 0 $junior
        text-align: center
        text-transform: uppercase
        &:after
            content: ":"

    &__wrap
        text-align: center
        +respond-max($break-2)
            width: $nextread-teaser-width
            margin: 0 auto

