$nextread-teaser-width: 260px

.nextread
    position: relative
    +unpadded
    font-family: $font-tabletgothic
    font-weight: bold
    color: $black
    background-color: $alabaster
    border-top: 1px solid $grey--light
    padding-bottom: $large

    &__lead
        font-size: $font-m
        letter-spacing: $hair
        margin: $big 0 $junior
        text-align: center
        text-transform: uppercase
        &:after
            content: ":"

