.article__head
	text-align: center
	max-width: $medium-content-width
	margin: $medium auto $compact
	+respond-min($break-1)
		margin-bottom: $big
	+respond-min($break-2)
		margin-top: $large
		margin-bottom: $large
	+respond-min($break-3)
		margin-top: $huge
		margin-bottom: $huge

	// normalize h1 font
	h1
		font-size: 1em
		font-weight: normal
		margin: 0

.article__head__meta__author
	+animated-interaction($color-link--hover)

.article__head__supertitle
	@extend %supertitle
	display: block
	font-size: $font-m
	margin-bottom: $small
	+respond-min($break-3)
		font-size: $font-ml

.article__head__title
	@extend %headline
	display: block
	font-size: $font-xl
	margin-bottom: $compact
	+respond-min($break-2)
		font-size: $font-xxl
		margin-bottom: $big

.article__head__subtitle
	+body-type-zoom
	margin: $small auto $compact
	text-align: left

.article__head__media
	margin: 0 auto $medium
	position: relative
	+respond-min($break-1)
		margin-bottom: $large
	+respond-min($break-2)
		margin-bottom: $wide
	&:hover
		.article__head__caption
			opacity: 1

.article__head__caption
	background-color: rgba(0, 0, 0, 0.5)
	bottom: 0
	color: $grey--light
	font-size: $font-xs
	opacity: 0
	padding: remify(6px)
	position: absolute
	transition: opacity .2s linear
	width: 100%
	&:empty
		display: none
	a
		color: inherit

.article__head__meta
	@extend %meta
	font-size: $font-xs
	letter-spacing: 1px
	line-height: 1.7
	margin-top: $thin
	max-width: 40em // 12px * 40 = 480px ?
	text-align: left
	text-transform: uppercase

.article__head__meta__author
	color: inherit

.article__head__byline
	margin-bottom: $fine

.article__head__meta__source
	&:after
		content: ' — '
	a
		color: inherit
