
// –––––––––––––––––––––––
//    BRIEFMARKE HEADER
// –––––––––––––––––––––––

.article__head--stamp
	text-align: left
	.article__head__title
		+respond-min($break-1)
			font-size: $font-xxl
		+respond-min($break-2)
			margin-bottom: $compact
		+respond-min($break-3)
			font-size: $font-xxxl
	.article__head__media
		+respond-min($break-1)
			margin-bottom: remify(-20px)
			margin-left: 50%


// –––––––––––––––––––––––
//    MODE HEADER
// –––––––––––––––––––––––

.article__head--mode
	max-width: remify(820px)
	text-align: left
	+respond-min($break-1)
		+pie-clearfix
		.article__head__media
			float: left
			margin: remify(56px 0 0)
			max-width: $medium-content-width / 2
			width: 42%
		.article__head__media + div .article__head__text
			float: right
			width: 50%
