$nextread-teaser-width: 260px

.article__nextread
    +unpadded
    font-family: $font-tabletgothic
    font-weight: bold
    color: $black
    background-color: $alabaster
    border-top: 1px solid $grey--light
    padding-bottom: remify(154px)
    +respond-max($break-2)
        padding-bottom: $large

.article__nextread__lead
    font-size: $font-m
    letter-spacing: $hair
    margin: $big 0 $junior
    text-align: center
    text-transform: uppercase
    &:after
        content: ":"

.article__nextread__wrap
    text-align: center
    +respond-max($break-2)
        width: $nextread-teaser-width
        margin: 0 auto

.nextread-maximal
    @extend %nextread-link-light
    +respond-min($break-1)
        padding-left: $medium
        padding-right: $medium

.nextread-minimal
    @extend %nextread-link-dark

.nextread-base
    @extend %nextread-link-dark
    position: relative
