// –––––––––––––––––––––––
//     STANDARD HEADER
// –––––––––––––––––––––––

.article__head--default
	.article__head__media
		max-width: remify(500px)

// –––––––––––––––––––––––
//      TRAUM HEADER
// –––––––––––––––––––––––

.article__head--traum
	max-width: none
	margin-bottom: $medium
	+respond-min($break-1)
		margin-bottom: $big

	.article__head__title
		margin-bottom: 0

	.article__head__subtitle
		@extend %headline
		@extend %font-xl-xxl
		text-align: center
		margin-bottom: $compact
		&:before
			content: "—"
			display: block
			margin-top: $micro
			margin-bottom: $micro

	.article__head__media
		max-width: remify(920px)

// –––––––––––––––––––––––
//    TEXT ONLY HEADER
// –––––––––––––––––––––––

.article__head--text-only
	text-align: left
	+respond-min($break-1)
		padding-left: 7%

	.article__head__title
		margin-bottom: $small

	.article__head__subtitle
		@extend %headline
		@extend %font-xl-xxl
		margin-bottom: $small

// –––––––––––––––––––––––
//    LEINWAND HEADER
// –––––––––––––––––––––––

.article__head--leinwand
	max-width: none
	margin-top: 0
	.article__head__media
		margin-left: -$page-padding--small
		margin-right: -$page-padding--small
		+respond-min($break-page-padding)
			margin-left: auto
			margin-right: auto
			margin-top: remify(30px)
			max-width: remify(920px)

// –––––––––––––––––––––––
//    BRIEFMARKE HEADER
// –––––––––––––––––––––––

.article__head--stamp
	text-align: left
	.article__head__title
		+respond-min($break-1)
			font-size: $font-xxl
		+respond-min($break-2)
			margin-bottom: $compact
		+respond-min($break-3)
			font-size: $font-xxxl
	.article__head__media
		+respond-min($break-1)
			margin-bottom: remify(-20px)
			margin-left: 50%


// –––––––––––––––––––––––
//    MODE HEADER
// –––––––––––––––––––––––

.article__head--mode
	max-width: remify(820px)
	text-align: left
	+respond-min($break-1)
		+pie-clearfix
		.article__head__media
			float: left
			margin: remify(56px 0 0)
			max-width: $medium-content-width / 2
			width: 42%
		.article__head__text
			float: right
			width: 50%

// –––––––––––––––––––––––
//    COLUMN HEAD
// –––––––––––––––––––––––
.article__head--column

	.article__head__title
		margin-bottom: 0

	.article__head__byline
		@extend %headline
		@extend %font-xl-xxl
		margin-bottom: remify($huge)
		&:before
			content: "—"
			display: block
			margin-top: $micro
			margin-bottom: $micro

	.article__head__media
		max-width: remify(300px)
		margin-bottom: remify($huge)
