.breadcrumbs
	+padded
	font-family: $font-tabletgothic
	background-color: $grey--mid-dark
	border-bottom: 1px solid $grey--dark
	color: $grey
	+respond-max($nav__break__full-menu)
		display: none

	&__list
		font-size: em(12px)
		list-style-type: none
		margin: 0 auto
		padding: remify(8px 0)
		a
			color: $grey
			+animated-interaction($grey)

	&__item
		display: inline
		margin: 0
		padding: 0
		&:not(:last-child):after
			content: " › "
			margin: 0 .5em
