.breadcrumbs
	+padded
	border-bottom: 1px solid $grey--dark
	+respond-max($break-tablet-min)
		display: none

	&__list
		font-size: em(12px)
		letter-spacing: $letter-spacing-s
		list-style-type: none
		margin: 0 auto
		max-width: $medium-content-width
		padding: remify(8px 0)

	&__item
		display: inline
		margin: 0
		padding: 0
		&:not(:last-child):after
			content: " › "
			margin: 0 .5em

	&__link
		color: inherit
		+animated-interaction($grey)
