.breadcrumbs
	+padded
	background-color: $grey--mid-dark
	border-bottom: 1px solid $grey--dark
	color: $grey
	font-family: $font-tabletgothic
	+respond-max($nav__break__full-menu)
		display: none

	&__list
		font-size: em(12px)
		list-style-type: none
		margin: 0 auto
		max-width: remify($article-content-max-width)
		padding: remify(8px 0)

	&__item
		display: inline
		margin: 0
		padding: 0
		&:not(:last-child):after
			content: " › "
			margin: 0 .5em

	&__link
		color: inherit
		+animated-interaction($grey)
