
.cp_leader__title__wrap
	position: absolute
	overflow: hidden
	bottom: 0
	padding: $thin 5% $medium 5%
	width: 100%
	z-index: 2

.cp_leader__title
	font-weight: bold
	margin: 0 0 $tiny
	font-size: $font-xl
	line-height: 1.25
	letter-spacing: $hair
	+respond-min($break-0)
		font-size: $font-xxl
	+respond-min($break-2)
		font-size: $font-xxxl

.cp_leader__subtitle
	font-size: $font-m
	line-height: 1.25
	+respond-min($break-2)
		font-size: $font-ml

.cp_leader__supertitle
	line-height: 2.25
	font-size: $font-s
	+respond-min($break-2)
		font-size: $font-ml

.cp_leader__title__wrap--dark
	@extend %cp_link--dark

.cp_leader__title__wrap--light
	@extend %cp_link--light
