//styles for buzz area within cp

%buzzboard__heading
    font-size: $font-ml
    font-weight: bold
    letter-spacing: 1px
    text-align: center
    text-transform: uppercase

.buzzboard
    +respond-max($break-2)
        +visuallyhidden
    clear: left
    font-family: $font-tabletgothic
    padding: $compact

    &__headline
        @extend %buzzboard__heading
        +no-user-select
        background-color: $white
        padding: 0 $petite
        display: inline

    &__divider
        border-bottom: $dblhair solid $black
        height: $fine
        text-align: center
        display: block

    &__table
        width: 100%
        tbody
            counter-reset: buzz-board
        th
            @extend %buzzboard__heading
            height: $medium
            line-height: $medium
            vertical-align: top
            width: 33%
            padding: $big 0
        tr
            vertical-align: top
            counter-increment: buzz-board

    &__container
        min-height: remify(69px)
        margin-bottom: $compact
        padding: 0 $fine 0 $medium
        position: relative
        word-wrap: break-word
        span
            margin: $micro 0
        &:before
            font-family: $font-tiemann
            content: counter(buzz-board)
            font-size: $font-xxxl
            position: absolute
            left: 0
            top: 0.075em
            line-height: 1

    &__heading
        font-size: 1em
        font-weight: normal
        margin: 0
        a
            +link-colors($black, $black, $black, $black, $black)

    &__kicker
        display: block
        font-size: $font-s
        letter-spacing: 1px

    &__title
        font-family: $font-tabletgothic
        font-size: $font-m
        font-weight: bold

    &__metadata
        color: $grey
        font-size: $font-s
        margin: 0

.cp_buzz__service
    +inline-block(top)
    width: 33%
    .cp_buzz__header
        font-size: $font-m
        padding: $big 0

.cp_buzz__icon
    +background-size(cover)
    display: inline-block
    line-height: $medium
    margin-right: $fine
    height: $medium
    width: $medium
    vertical-align: middle

.cp_buzz__service__list
    counter-reset: buzz-list
    padding: 0 $fine



