$teaserbar_teaser_max_width: em(270px)

.cp_teaserbar__wrap
    clear: left
    width: 100%

.cp_teaserbar
    width: 88%
    margin: 0 auto $compact auto

    +respond-min-max($break-1, $break-3)
        width: 2*$mtb-teaser-width + $compact // two teaser columns, one margin
    +respond-min($break-3)
        width: 3*$mtb-teaser-width + 2*$big // three teaser columns, two margins


// start: teasers //

.cp_teaserbar__teasers__wrap
    +justify-children-horizontally('.cp_teaserbar__teasers__wrap > div', top)
    div
        +respond-min($break-1)
            max-width: $teaserbar_teaser_max_width

// end: teasers //
