$teaserbar_teaser_max_width: 270px

.cp_teaserbar__wrap
    clear: left
    width: 100%

.cp_teaserbar
    width: 88%
    margin: 0 auto $compact--px auto

    +respond-min-max($break-1, $break-3)
        width: 2*$teaserbar_teaser_max_width + $compact--px // two teaser columns, one margin
    +respond-min($break-3)
        width: 3*$teaserbar_teaser_max_width + 2*$big--px // three teaser columns, two margins


// start: teasers //

.cp_teaserbar__teasers__wrap
    +justify-children-horizontally('.cp_teaserbar__teasers__wrap > div', top)
    div
        +respond-min($break-1)
            max-width: $teaserbar_teaser_max_width

// end: teasers //
