//styles for all button teaser types
$cp_button__image-height: em(165px)
$cp_button__image-height--large: em(330px)
$cp_button-gallery-height: em(386px)

//teaser type button
.cp_button
	position: relative
	display: inline-block
	width: 100%
	span
		display: block

.cp_button__image
	overflow: hidden
	height: $cp_button__image-height*1.5
	margin-bottom: $small
	img
		width: 100%
		height: 100%
	+respond-min($break-2)
		height: $cp_button__image-height

.cp_button__title__wrap
	display: block

.cp_button__supertitle, %cp_button__supertitle
	@extend %cp_link--light
	margin-bottom: $micro
	line-height: 1.25
	color: $black
	font-size: $font-s
	letter-spacing: $hair

.cp_button__title, %cp_button__title
	@extend %cp_link--light
	font-family: $sans-serif-base-font
	font-weight: bold
	line-height: 1.25
	color: $black
	font-size: $font-ml
	margin: 0 0 $thin 0

.cp_button__subtitle
	@extend %cp_link--light
	line-height: 1.5
	color: $black
	font-size: $font-s

.cp_button--default
	margin-bottom: $compact
	.cp_button__image,
	.cp_comment__counter
		display: none

.cp_button--small
	margin-bottom: $compact

.cp_button--card
	margin-bottom: $compact

.cp_button--large
	margin-top: $compact
	padding-top: 0
	.cp_button__image
		height: $cp_button__image-height--large
		+respond-min($break-2)
			height: $cp_button__image-height--large
	.cp_button__title__wrap
		padding: 0 $compact 0 $compact
		+respond-min($break-2)
			padding: 0 0 0 0

.cp_button--large-photo
	@extend	.cp_button--large
	.cp_button__title__wrap
		text-align: center
	.cp_button__title
		text-transform: uppercase

.cp_button--mtb
	margin: 0 0 $big 0
	+respond-min($break-1)
		width: $mtb-teaser-width

.cp_button--gallery
	height: $cp_button-gallery-height
	overflow: hidden
	margin-bottom: $compact
	display: block
	& a > .scaled-image
		height: $cp_button-gallery-height
		@extend %cp_shadow--dark
		img
			bottom: 0
			left: 0
			min-height: 100%
			position: absolute
			right: 0
			top: 0
			width: 100%
	.icon-galerie-icon-white
		position: absolute
		top: -$medium
	.cp_button__title__wrap
		@extend %cp_link--dark
		bottom: 0
		padding: $tiny $petite $compact $petite
		position: absolute
		width: 100%
		z-index: 2
	.cp_button__supertitle
		margin-bottom: $tiny
		color: $white
		letter-spacing: 0
	.cp_button__title
		color: $white
		margin: 0
		text-shadow: rgba(255, 255, 255, .01) 0 -1px 1px
		-webkit-font-smoothing: antialiased

.cp_button--cover
	.cp_button__image
		@extend %cp_shadow--darker
		height: auto
		img
			width: 100%

	.cp_button__title__wrap
		@extend %cp_link--dark
		bottom: 0
		padding: $tiny $petite $big $petite
		position: absolute
		width: 100%
		z-index: 2
	.cp_button__supertitle
		margin-bottom: $tiny
		color: $white
		letter-spacing: 0
	.cp_button__title
		color: $white
		margin: 0
		text-shadow: rgba(255, 255, 255, .01) 0 -1px 1px
		-webkit-font-smoothing: antialiased
