
// still used in adv_teaser

$cp_button-gallery-height: em(386px)


// still used by mtb

.cp_button__supertitle, %cp_button__supertitle
    @extend %teaser-link--light
    margin-bottom: $micro
    line-height: 1.25
    color: $black
    font-size: $font-s
    letter-spacing: $hair

.cp_button__title, %cp_button__title
    @extend %teaser-link--light
    font-family: $sans-serif-base-font
    font-weight: bold
    line-height: 1.25
    color: $black
    font-size: $font-ml
    margin: 0 0 $thin 0

.cp_button__subtitle, %cp_button__subtitle
    @extend %teaser-link--light
    line-height: 1.5
    color: $black
    font-size: $font-s

// still used for cards

.cp_button--card
    margin-bottom: $compact
