//main cp styles
$cp_comment__count-height: 40px
$cp_comment__count-width: 52px
$gallery-icon-height: em(30px)
$gallery-icon-width: em(40px)

.cp_title
	margin-top: $petite
	margin-bottom: $petite
	letter-spacing: 0.3em
	text-transform: uppercase
	font-size: $font-xl
	font-family: $font-tiemann
	text-align: center
	display: block

.cp_title ~ .main > .cp_lead-full__wrap
	margin-top: em_to_rem($medium)

//hide breadcrumbs for cp and normalize h2
.for-centerpage
	.breadcrumbs
		display: none
	.main
		font-family: $sans-serif-base-font
		overflow: hidden
	h2
		font-size: 1em
		font-weight: normal
		margin: 0


//standard link classes for cp
%cp_link--light
	a
		+link-colors($black, $black, $black, $black, $black)

%cp_link--dark
	a
		+link-colors($white, $white, $white, $white, $white)

//standart shadow classes for cp
%cp_shadow--dark
	+fake-box-shadow-inset($black, 0.8)

%cp_shadow--darker
	+fake-box-shadow-inset($black, 0.8, 0.1)

%cp_shadow--light
	+fake-box-shadow-inset($white)

//comments
// please stick to pixel values here, as there is an issue
// with ems in Android
.cp_comment__counter
	font-size: $little
	color: $white
	position: absolute
	text-align: center
	height: $cp_comment__count-height
	width: $cp_comment__count-width
	right: $little--px
	top: $small--px
	z-index: 2

.cp_comment__count
	position: relative
	top: -40px

.cp_comment__count-icon
	stroke: $white
	color: rgba(0,0,0,0.2)
	stroke-width: em(2px)
	width: $cp_comment__count-width
	height: $cp_comment__count-height

.gallery-icon
	stroke: $white
	color: rgba(0,0,0,0.2)
	stroke-width: em(2px)
	height: $gallery-icon-height
	width: $gallery-icon-width
	position: absolute
	top: -$medium

.figcaption--hidden
	display: none
