//main cp styles
$cp_comment__count-height: 40px
$cp_comment__count-width: 52px

.cp_title
	margin-top: $petite
	margin-bottom: $petite
	letter-spacing: 0.3em
	text-transform: uppercase
	font-size: $font-xl
	font-family: $font-tiemann
	text-align: center
	display: block

.cp_title ~ .main > .cp_lead-full__wrap
	margin-top: em_to_rem($medium)

// normalize h2
.for-centerpage
	h2
		font-weight: normal
		margin: 0

//comments
.cp_comment__counter
	font-size: em(14px)
	height: $cp_comment__count-height
	position: absolute
	right: remify(32px)
	text-align: center
	top: remify(18px)
	width: $cp_comment__count-width
	+respond-min($break-tablet-min)
		right: remify(14px)

.cp_comment__count
	color: $white
	position: relative
	top: -($cp_comment__count-height)

.cp_comment__icon
	color: rgba(0,0,0,0.2)
	height: $cp_comment__count-height
	stroke-width: 2px
	stroke: $white
	width: $cp_comment__count-width
