//main cp styles
$cp_comment__count-height: 40px
$cp_comment__count-width: 52px
$icon-galerie-icon-white-height: em(30px)
$icon-galerie-icon-white-width: em(40px)

.cp_title
	margin-top: $petite
	margin-bottom: $petite
	letter-spacing: 0.3em
	text-transform: uppercase
	font-size: $font-xl
	font-family: $font-tiemann
	text-align: center
	display: block

.cp_title ~ .main > .cp_lead-full__wrap
	margin-top: em_to_rem($medium)

//hide breadcrumbs for cp and normalize h2
.for-centerpage
	.breadcrumbs
		display: none
	.main
		font-family: $sans-serif-base-font
		overflow: hidden
	h2
		font-size: 1em
		font-weight: normal
		margin: 0

//icons
.icon-galerie-icon-white
	display: inline-block
	height: $icon-galerie-icon-white-height
	width: $icon-galerie-icon-white-width
	position: absolute
	top: -$medium

.figcaption--hidden
	display: none
