.main-footer
    background-color: $grey--mid-dark
    font-family: $font-tabletgothic
    padding-top: $petite
    padding-bottom: $medium

.main-footer__box
    +clearfix
    +padded

.main-footer__logo
    color: #fff
    float: left
    height: remify(20px)
    margin: remify(4px 24px 20px 0)
    opacity: 0.3
    width: remify(41px)
    &--zon-small
        width: remify(20px)

.main-footer__links
    color: $grey
    float: left
    font-size: remify(12px)
    letter-spacing: $letter-spacing-s
    ul
        list-style-type: none
        margin: 0
        padding: 0
        li
            display: inline
            &:after
                content: '•'
                margin: 0 $tiny 0 $tiny
            &:last-child:after
                content: ''
    //Verlag schouldnt have a dot
    div:first-child
        li:first-child
            &:after
                content: ''
    a
        cursor: pointer
        color: $grey
        +animated-interaction($grey)
