.main-footer
    background-color: $grey--mid-dark
    color: $grey
    font-family: $font-tabletgothic
    padding-bottom: $medium

.main-footer__box
    +clearfix
    +padded
    padding-top: $petite

.main-footer__logo
    color: #fff
    float: left
    height: remify(20px)
    margin: remify(4px 24px 20px 0)
    opacity: 0.3
    width: remify(41px)
    &--zon-small
        width: remify(20px)

.main-footer__links
    color: $grey
    float: left
    font-size: remify(12px)
    letter-spacing: $letter-spacing-s
    ul
        list-style-type: none
        margin: 0
        padding: 0
    li
        display: inline
        &:not(.main-footer__link-label):not(:last-child):after
            content: '•'
            margin-left: remify(4px)
    // Verlag shouldn't have a dot
    .main-footer__link-label
        margin-right: remify(4px)
    a
        color: $grey
        +animated-interaction($grey)
