.gallery
	+unpadded
	background-color: $grey--light
	margin-bottom: $compact
	margin-top: $compact
	padding-bottom: $small
	+respond-min($break-page-padding)
		margin-bottom: $big
		margin-top: $big
		padding: $compact $page-padding
	+respond-min($break-3)
		padding-bottom: $medium
		padding-top: $medium

	&-container
		margin: 0 auto
		max-width: remify(880px)

	&__media-container
		overflow: hidden

	&__description
		margin-bottom: $compact

		p
			@extend .paragraph
