$longform-inline-max-width: 920px
$longform-image-caption-max-width: 695px
$bp-adjust-horizontal-figures--1: 1120px
$bp-adjust-horizontal-figures--2: 1320px
$bp-adjust-horizontal-figures--3: 1385px
$bp-adjust-horizontal-figures--4: 1450px
$longform-header-offset: 50px
$longform-header-min-height: 400px
$longform-header-max-height: 1400px

.longform-header__media
	height: 100%

.page__content--longform
	max-width: none

.article--longform

	.article__head__title
		color: $white
		display: block
		font-size: em(24px)
		line-height: 1.4
		margin-bottom: $fine
		+respond-min($break-1)
			font-size: em(30px)
		+respond-min($break-2)
			font-size: em(40px)
		+respond-min($break-4)
			font-size: em(50px)

	.article__head__meta
		color: $white
		font-size: $font-xs
		font-weight: bold
		letter-spacing: 2px
		line-height: 1.7
		margin: .5em auto 3em
		max-width: 40em
		text-align: center
		text-transform: uppercase
		+respond-min($break-2)
			font-size: $font-s
		+respond-min($break-4)
			font-size: $font-m
		a
			border-bottom: 1px solid currentColor
			color: inherit

	.article__head__subtitle
		color: $grey--dark
		font-family: $font-tabletgothic
		font-size: $font-ml
		font-weight: bold
		margin: 1.125em auto 0
		max-width: remify(480px)
		text-align: center
		+respond-min($break-2)
			font-size: $font-l
		+respond-min($break-3)
			font-size: $font-xl

	.article__head-wrap
		+fake-box-shadow-inset($black)
		+unpadded
		height: em(400px)
		height: calc(100vh - #{$longform-header-offset})
		max-height: em($longform-header-max-height)
		min-height: em($longform-header-min-height)
		overflow: hidden
		position: relative

	.meta__date:not(:empty)
		display: inline
		&:after
			content: ' — '

	.article__main-video--longform
		overflow: hidden
		position: relative
		height: 100%
		z-index: 1
		video
			display: none
			position: absolute
			bottom: 0
			left: 0
			min-width: 100%
			min-height: 100%
			max-width: none

	.article__title-wrap
		position: absolute
		overflow: hidden
		text-align: center
		bottom: 0
		padding-left: 5%
		padding-right: 5%
		width: 100%
		z-index: 2

	.article__subpage-head
		@extend %headline
		margin: 0 auto $small
		font-size: $font-xl
		+respond-min($break-1)
			font-size: $font-xxl

	//there is a strange ff rendering bug, therefore
	//we have an earlier breakpoint for index
	.article__subpage-index
		font-family: $font-tabletgothic
		display: none
		padding: 0 $small
		min-width: $stamp-width
		+respond-min(em(870px))
			display: inline
		.article__subpage-active
			color: $black
		ol
			padding: 0
			margin: 0

	.article__subpage-index__title
		text-transform: uppercase
		font-size: $font-s
		font-weight: normal
		margin: 0

	.article__subpage-index__item
		+pie-clearfix
		display: block
		margin: $gutter 0
		font-size: $font-s

	.article__subpage-index__item__title
		overflow: hidden
		display: block

	.article__subpage-index__item__count
		float: left
		min-width: em(40px)

	.article__body
		background-color: $white

	.paragraph
		margin-bottom: $little

	.article-page
		background-color: $color-page-bg
		margin: remify(28px auto 82px)
		max-width: $max-longform-width
		&:first-child
			margin-bottom: remify(46px)
		+respond-min($break-1)
			margin: remify(46px auto 118px)
			&:first-child
				margin-bottom: remify(82px)

	.article__item,
	.is-constrained,
	.infographic__media--column-width
		max-width: remify($longform-content-max-width)
		+respond-min($break-3)
			max-width: remify($longform-content-max-width--desktop)

	.quote--wide
		max-width: remify($longform-inline-max-width)
	.quote--short
		+respond-min($break-2)
			max-width: remify(240px)

	.figure-full-width
		.figure__caption
			max-width: remify($longform-image-caption-max-width)
			padding-right: 0

	.inline-gallery
		max-width: em($longform-inline-max-width)
