$longform-inline-max-width: 920px
$longform-image-caption-max-width: 695px
$bp-adjust-horizontal-figures--1: 1120px
$bp-adjust-horizontal-figures--2: 1320px
$bp-adjust-horizontal-figures--3: 1385px
$bp-adjust-horizontal-figures--4: 1450px
$longform-header-offset: 50px
$longform-header-min-height: 400px
$longform-header-max-height: 1400px

.longform-header__media
  height: 100%

.article--longform
  max-width: none

  .article__head__title
    color: $white
    font-size: em(24px)
    margin-bottom: $fine
    +respond-min($break-1)
      font-size: em(30px)
    +respond-min($break-2)
      font-size: em(40px)
    +respond-min($break-4)
      font-size: em(50px)

  .article__head__subtitle
    color: $grey--dark
    font-family: $font-tabletgothic
    font-size: $font-ml
    font-weight: bold
    margin-bottom: 0
    max-width: remify(480px)
    text-align: center
    +respond-min($break-2)
      font-size: $font-l
    +respond-min($break-3)
      font-size: $font-xl

  .article__head-wrap
    +fake-box-shadow-inset($black)
    +unpadded
    height: em(400px)
    max-height: em($longform-header-max-height)
    min-height: em($longform-header-min-height)
    overflow: hidden
    position: relative
    +respond-min-h(em(500px))
      height: em(500px) - em($longform-header-offset)
    +respond-min-h(em(550px))
      height: em(550px) - em($longform-header-offset)
    +respond-min-h(em(600px))
      height: em(600px) - em($longform-header-offset)
    +respond-min-h(em(650px))
      height: em(650px) - em($longform-header-offset)
    +respond-min-h(em(700px))
      height: em(700px) - em($longform-header-offset)
    +respond-min-h(em(750px))
      height: em(750px) - em($longform-header-offset)
    +respond-min-h(em(800px))
      height: em(800px) - em($longform-header-offset)
    +respond-min-h(em(850px))
      height: em(850px) - em($longform-header-offset)
    +respond-min-h(em(900px))
      height: em(900px) - em($longform-header-offset)
    +respond-min-h(em(950px))
      height: em(950px) - em($longform-header-offset)
    +respond-min-h(em(1000px))
      height: em(1000px) - em($longform-header-offset)
    +respond-min-h(em(1050px))
      height: em(1050px) - em($longform-header-offset)
    +respond-min-h(em(1100px))
      height: em(1100px) - em($longform-header-offset)
    +respond-min-h(em(1150px))
      height: em(1150px) - em($longform-header-offset)
    +respond-min-h(em(1200px))
      height: em(1200px) - em($longform-header-offset)
    +respond-min-h(em(1250px))
      height: em(1250px) - em($longform-header-offset)
    +respond-min-h(em(1300px))
      height: em(1300px) - em($longform-header-offset)
    +respond-min-h(em(1350px))
      height: em(1350px) - em($longform-header-offset)
    +respond-min-h(em(1400px))
      height: em(1400px) - em($longform-header-offset)

  .article__main-video--longform
    overflow: hidden
    position: relative
    height: 100%
    z-index: 1
    video
      display: none
      position: absolute
      bottom: 0
      left: 0
      min-width: 100%
      min-height: 100%
      max-width: none

  .article__title-wrap
    position: absolute
    overflow: hidden
    text-align: center
    bottom: 0
    padding-left: 5%
    padding-right: 5%
    width: 100%
    z-index: 2
    .article__head__meta
      font-size: $font-xs
      letter-spacing: $hair
      color: $white
      margin-bottom: 3em
      margin-left: auto
      text-align: center
      letter-spacing: 2px
      margin-right: auto
      +respond-min($break-2)
        font-size: $font-s
      +respond-min($break-4)
        font-size: $font-m
      a
        +link-colors($white, $white, $white, $white, $white)
        border-color: $white

  // does this really still exist? [ms]
  &.has-light-header
    .article__head-wrap
      background-color: $charcoal
      color: $charcoal
      &:after
        box-shadow: none
    .article__title-wrap
      .article__head__title, .article__head__meta
        text-shadow: rgba($white, 1) 0 0 30px
        color: $black
      .article__head__meta a
        +link-colors($black, $black, $black, $black, $black)
        border-color: $black

  .article__subpage-head
    @extend %headline
    margin: 0 auto $small
    font-size: $font-xl
    +respond-min($break-1)
      font-size: $font-xxl
    a
      display: block
      position: relative
      top: -$large
      border-bottom: 0

  //there is a strange ff rendering bug, therefore
  //we have an earlier breakpoint for index
  .article__subpage-index
    font-family: $font-tabletgothic
    display: none
    padding: 0 $small
    min-width: $stamp-width
    +respond-min(em(870px))
      display: inline
    .article__subpage-active
      color: $black
    ol
      padding: 0
      margin: 0

  .article__subpage-index__title
    text-transform: uppercase
    font-size: $font-s
    font-weight: normal
    margin: 0

  .article__subpage-index__item
    +pie-clearfix
    display: block
    margin: $gutter 0
    font-size: $font-s

  .article__subpage-index__item__title
    overflow: hidden
    display: block

  .article__subpage-index__item__count
    float: left
    min-width: em(40px)

  .article__subpage-chapter
    @extend %meta
    position: relative
    top: -$medium
    width: 100%
    background-color: $grey--bright
    span
      letter-spacing: $hair
      font-size: $font-s
      text-transform: uppercase
      margin: auto
      display: block
      text-align: center
      &:first-child
        font-family: $font-tabletgothic
        font-weight: bold
        padding-top: $large
      &:last-child
        padding-bottom: $large
      +respond-min($break-2) // 720px
        min-width: $longform-content-max-width // 615px - who needs this?

  .article__supertitle
    display: none

  .article__title
    font-family: $sans-serif-base-font
    color: $white
    line-height: 1.2
    margin-bottom: $tiny
    font-size: em(50px)
    +respond-min($break-2)
      font-size: em(64px)

  .article__body
    background-color: $white

  .paragraph
    margin-bottom: $little

  .article__page
    background-color: $color-page-bg
    margin: remify(28px auto 82px)
    max-width: $max-longform-width
    &:first-child
      margin-bottom: remify(46px)
    +respond-min($break-1)
      margin: remify(46px auto 118px)
      &:first-child
        margin-bottom: remify(82px)

  .article__opener
    margin-left: auto
    margin-right: auto

  .article__item,
  .is-constrained
    max-width: remify($longform-content-max-width)
    +respond-min($break-3)
      max-width: remify($longform-content-max-width--desktop)

  .quote--wide
    max-width: remify($longform-inline-max-width)
  .quote--short
    +respond-min($break-2)
      max-width: remify(240px)

  .figure-full-width
    .figure__caption
      max-width: remify($longform-image-caption-max-width)
      padding-right: 0

  .inline-gallery
    max-width: em($longform-inline-max-width)
