$nav-color-border: #444

=nav-font-m()
	font-size: remify(14px)
	letter-spacing: .08em

=nav-font-l()
	font-size: remify(16px)
	letter-spacing: .05em

%nav-font-m
	+nav-font-m

%nav-font-l
	+nav-font-l

.header
	background-color: $primary-color
	color: #ccc
	font-family: $font-tabletgothic
	position: relative

	&__brand
		+clearfix
		color: #fff
		line-height: remify(50px)
		padding: remify(0 $page-padding--small)
		a
			color: inherit

	&__publisher
		float: left

	&__logo
		display: block
		height: remify(25px)
		margin-top: remify(13px)
		width: remify(262px)

	&__menu-icon
		&--menu
			height: remify(14px)
			width: remify(20px)
		&--close
			height: remify(16px)
			width: remify(20px) // add 4px to align with burger menu
			padding: remify(0 2px)
			display: none

	&__menu-link
		float: right
		&[aria-expanded="true"]
			.header__menu-icon--close
				display: inline
			.header__menu-icon--menu
				display: none

.nav
	@extend %nav-font-l
	+flex-flow(column nowrap)
	+font-smoothing
	display: none
	line-height: remify(50px)

	&:target,
	&[aria-hidden="false"]
		+display-flex

	a
		color: inherit
		display: block
		+on-interaction
			color: #fff

	ul
		list-style: none
		margin: 0
		padding: 0

	li
		display: block
		margin: 0
		padding: 0

	// ZEIT ONLINE
	&__home-title
		a
			&:before
				content: "\203A"
				font-size: 1.5em
				line-height: normal
				margin-right: .2em

	// LOGIN
	&__login
		@extend %nav-font-m
		min-width: remify(50px)
	&__login-link
		text-align: right
	&__login-icon
		height: remify(18px)
		width: remify(18px)
		vertical-align: remify(-3px)
	&__user-picture
		background-color: #eee
		background-position: center
		background-repeat: no-repeat
		background-size: contain
		border-radius: 50%
		display: block
		height: remify(30px)
		margin: remify(10px 0)
		width: remify(30px)
	&__user-avatar
		color: #ababab
		height: 100%
		width: 100%
	&__user-name
		@extend %nav-font-l
		display: block
		font-weight: bold
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap

	// RESSORTS
	&__ressorts

	// SALES
	&__sales

	&__home-title
		font-size: inherit
		font-weight: normal
		margin: 0


+respond-max($break-tablet-min)
	.nav
		// item order
		&__login
			+order(1)
		&__ressorts
			+order(2)
		&__home
			+order(3)
		&__sales
			+order(4)
		&__service
			+order(5)

		// style für mobile menu item
		&__login,
		&__ressorts,
		&__home a,
		&__sales a,
		&__service
			border-top: 1px solid $nav-color-border
			padding: 0 $page-padding--small

		// service
		&__service-list
			+clearfix
			display: none
			&[aria-hidden="false"]
				display: block
			li
				float: left
				width: 50%

		&__login
			line-height: remify(60px)
		&__login-title
			float: left
			width: 66%
		&__login-list
			float: right
			li:first-child
				display: none
		&__user-picture
			float: left
			height: remify(40px)
			margin-right: remify(8px)
			width: remify(40px)
			&--default
				display: none


+respond-min($break-tablet-min)
	%nav-tablet-font-m
		+nav-font-m

	%nav-tablet-font-l
		+nav-font-l

	%nav-tablet-down-arrow
		&:after
			+transform(rotate(90deg) scale(2))
			+transform-origin(40% 60%)
			+transition(transform .1s ease-out)
			content: "\203A"
			display: inline-block
			line-height: 1
			margin-left: remify(16px)

	.header
		&__brand
			padding: remify(0 $page-padding)
			position: absolute

		&__menu-link
			display: none

	.nav
		@extend %nav-tablet-font-m
		+display-flex
		+flex-flow(row wrap)

		// ZEIT ONLINE
		&__home
			+flex(1 1 50%)
			text-align: right
			border-width: 0 1px 1px 0
			border-style: solid
			border-color: $nav-color-border
		&__home-title
			a
				display: inline-block
				padding: remify(0 24px)

		// SALES + SERVICE
		&__sales,
		&__service
			+flex(0 1 auto)
			border-width: 0 1px 1px 0
			border-style: solid
			border-color: $nav-color-border

		// dropdown menues
		&__service-list,
		&__login-list
			background-color: $primary-color
			border-color: $nav-color-border
			border-style: solid
			border-width: 0 1px 1px
			display: none
			line-height: remify(39px)
			position: absolute
			z-index: 2 // fix visible arrow and lead-teaser headline
			&[aria-hidden="false"]
				display: block
			a
				border-top: 1px solid $nav-color-border
				min-width: remify(150px)
				padding: remify(0 16px)
		&__login-list
			right: 0

		&__sales a
			padding: remify(0 20px)

		&__login-title,
		&__service-title
			padding: remify(0 16px)
			&[aria-expanded="true"]
				.nav__dropdown:after
					+transform(rotate(-90deg) scale(2))

		// LOGIN
		&__login
			+flex(0 1 auto)
			border-bottom: 1px solid $nav-color-border
			padding: remify(0 16px) // needed here for "Anmeldung nicht möglich"
		&__login-title
			padding: 0 // override dropdown standard for "Anmeldung nicht möglich" case
		&__login-link
			display: block
			padding: remify(0 4px)
		&__login-register,
		&__login-icon,
		&__user-name
			display: none

		&__ressorts
			+flex(1 1 50%)

		&__ressorts,
		&__sales
			padding: remify(0 10px)
			li
				float: left
			a
				padding: remify(0 10px)

		&__dropdown
			@extend %nav-tablet-down-arrow
