// variables
$nav__row-height--px: 50px
$nav__row-height: em($nav__row-height--px)
$nav__break__full-menu: em(768px)

$logo-zmo-small-width: 38px
$logo-zmo-small-height: 20px
$logo-zmo-large-width: 262px
$logo-zmo-large-height: 25px

$logo-zon-small-width: 25px
$logo-zon-small-height: 25px
$logo-zon-large-width: 236px
$logo-zon-large-height: 25px

$icon-arrow-down-width: 8.735px
$icon-arrow-down-heigth: 4.026px

$icon-avatar-std-size: em(32px)

$nav__service-primary-full-width: 200px
$nav__background-color: $grey--mid-dark
$nav__border-color: $grey--mid
$nav__section-border: 1px solid $nav__border-color


.main-nav
    font-family: $font-tabletgothic
    line-height: $nav__row-height--px
    width: 100%
    max-width: $max-page-width
    margin: 0 auto
    color: $white
    background-color: $nav__background-color
    &.is-full-width
        max-width: none
        z-index: 100000 // absurd high z-index to overrule ads and such
    &.is-compact
        .no-touch &
            position: fixed
            left: 0
            top: 0
            ~ .main
                margin-top: $nav__row-height
    +respond-min($nav__break__full-menu)
        height: em($nav__row-height--px * 2 + 1)
        &.is-compact
            height: auto
    a
        +link-colors($white, $white, $white, $white, $white)


.main-nav__logo
    float: left


.main-nav__logo__wrap
    margin: 0
    font-size: 1em
    width: $nav__row-height
    height: $nav__row-height
    border-right: $nav__section-border
    +box-sizing(content-box)
    text-align: center
    +respond-min($nav__break__full-menu)
        padding: 0 1em
        width: auto

// declare logo styles "desktop first" to get them IE<9 safe
.main-nav__brand-logo
    color: white
    display: inline-block
    vertical-align: middle
    &--large
        +respond-max($nav__break__full-menu)
            display: none
    &--small
        display: none
        +respond-max($nav__break__full-menu)
            display: inline-block
    &--zmo-large
        width: $logo-zmo-large-width
        height: $logo-zmo-large-height
    &--zon-large
        width: $logo-zon-large-width
        height: $logo-zmo-large-height
    &--zmo-small
        width: $logo-zmo-small-width
        height: $logo-zmo-small-height
    &--zon-small
        width: $logo-zon-small-width
        height: $logo-zmo-small-height

.main-nav__menu
    overflow: hidden
    height: $nav__row-height // needed?


.main-nav__menu__head
    text-align: right
    padding: 0 $small
    cursor: pointer
    +respond-min($nav__break__full-menu)
        display: none


// .main-nav__menu__head__headline
//     +inline-block
//     +no-user-select
//     font-size: $font-s
//     letter-spacing: 1px
//     float: left


.main-nav__menu__head__hamburger
    +inline-block(middle)
    text-indent: -119999px
    text-align: left
    width: 25px
    height: 3px
    background-color: $white
    position: relative
    &:before, &:after
        position: absolute
        width: 100%
        content: ''
        display: block
        border-top: 3px solid $white
    &:before
        top: -8px
    &:after
        bottom: -8px


.main-nav__menu__content
    display: none
    position: absolute
    left: 0
    padding-left: $nav__row-height + em(1px)
    z-index: 5
    width: 100%
    &.is-open
        display: block
    +respond-min($nav__break__full-menu)
        display: block
        position: static


.main-nav__section
    background-color: $nav__background-color
    border-top: 2px solid $nav__border-color
    padding: 0 em(26px)
    +respond-min($nav__break__full-menu)
        border: none
        padding: 0
    a
        font-size: $font-s
        letter-spacing: 1px

.main-nav__section__trigger
    +no-user-select
    cursor: pointer
    display: block

.main-nav__section__text
    display: inline
    font-size: $font-s
    letter-spacing: 1px
    margin-right: em(26px - $icon-arrow-down-width)

.main-nav__icon-arrow-down
    display: none
    color: white
    vertical-align: middle
    width: em($icon-arrow-down-width)
    height: em($icon-arrow-down-heigth)
    +respond-min($nav__break__full-menu)
        display: inline-block

.main-nav__section__content
    display: none
    background-color: $nav__background-color
    &.is-open
        display: block
    a
        display: block


//*****************
// DESKTOP STYLES *
//*****************

+respond-min($nav__break__full-menu)
    .main-nav__section__content
        position: absolute
        right: 0
        top: 100%
        top: -webkit-calc(100% + 1px)
        top: -moz-calc(100% + 1px)
        top: calc(100% + 1px)
        z-index: 10
        padding: $tiny em(26px)
        line-height: 3

    .has-hover
        .main-nav__service,
        .main-nav__community
            .main-nav__section__trigger:hover + .main-nav__section__content,
            .main-nav__section__content:hover
                display: block

    .has-hover .main-nav__service:hover,
    .has-hover .main-nav__community:hover,
    .main-nav__service.has-open-menu,
    .main-nav__community.has-open-menu
        border-bottom: 1px solid $nav__background-color
        z-index: 3

    .main-nav__service,
    .main-nav__community
        .main-nav__section__content
            &:before, &:after
                position: absolute
                content: ''
                height: $nav__row-height
                top: 0
                pointer-events: none
            &:before
                +background-image(linear-gradient(to left, rgba($black, 0.6), rgba($black, 0)))
                right: 100%
                width: 80px
    .main-nav__service
        .main-nav__section__content
            &:after
                +background-image(linear-gradient(to right, rgba($black, 0.6), rgba($black, 0)))
                left: 100%
                width: 80px
            width: em(300px)

    .main-nav__wrap
        max-width: $max-page-width
        margin: 0 auto
        position: relative
        .is-full-width &
            max-width: $max-longform-width - $page-padding*2
            +box-shadow(0 -1px 0 1px $grey--mid)

    .main-nav__aside
        position: absolute
        top: 0
        right: 0
        .main-nav__section
            float: left
            position: relative
            padding: 0 em(16px)
            & + .main-nav__section
                border-left: $nav__section-border



//***********
// RESSORTS *
//***********

+respond-max($nav__break__full-menu)
    .main-nav__ressorts
        padding-top: $tiny
        padding-bottom: $tiny
        line-height: 3
        a
            display: block

+respond-min($nav__break__full-menu)
    .main-nav__ressorts
        border-top: $nav__section-border
        position: absolute
        top: $nav__row-height
        left: 0
        overflow: hidden
        width: 100%
        z-index: 2
        padding-right: $nav__service-primary-full-width
        white-space: nowrap
        a
            +inline-block
            margin-right: $small
            &:link
                color: $greyish-white
            &:hover, &:active
                color: white
            &:last-child
                margin-right: 0
    .main-nav__ressort-list
        position: relative
        height: $nav__row-height
        margin-left: $small
        overflow: hidden
        .no-js &
            overflow: auto
            overflow-x: auto
            overflow-y: hidden

//****************
// PRIMARY LINKS *
//****************

.main-nav__service-primary
    border-top: none
    padding: 0
    a
        border-top: 2px solid $nav__border-color
        display: block
        padding: 0 em(26px)
    +respond-min($nav__break__full-menu)
        position: absolute
        top: $nav__row-height--px + 1px
        right: 0
        height: $nav__row-height
        z-index: 3
        text-align: right
        a
            border-top: none
            display: inline
            padding: 0
            margin-right: $small


.main-nav__only-small
    +respond-min($nav__break__full-menu)
        display: none

.main-nav__only-full
    +respond-max($nav__break__full-menu)
        display: none


//****************
// SERVICE LINKS *
//****************

.main-nav__section__content
    a
        +inline-block
        vertical-align: top
        width: 48%
        &:nth-child(2n)
            padding-left: $small

//************
// COMMUNITY *
//************

.main-nav__avatar
    +inline-block
    vertical-align: middle
    width: $icon-avatar-std-size
    height: $icon-avatar-std-size
    color: $grey--light
    background-color: #ababab
    background-repeat: no-repeat
    background-position: 50% 38% // golden ratio for portrait pictures
    +background-size(cover)
    +border-radius(50%)


//***********
// LONGFORM *
//***********

.main-nav__sharing
    float: right

.main-nav__sharing__item
    float: left
    width: $nav__row-height
    height: $nav__row-height
    border-left: $nav__section-border
    text-align: center
    +transition(background-color)
    +on-interaction
        background-color: $grey--mid

.main-nav__sharing-icon
    color: $white
    max-width: em(19px)
    max-height: em(19px)
    vertical-align: middle
