.nextread
	+padded
	+unpadded
	background-color: $grey--bright
	border-top: 2px solid #d3d3d3
	color: #444
	font-family: $font-tabletgothic
	padding-bottom: remify(60px)

	&__lead
		font-size: em(16px)
		font-weight: bold
		letter-spacing: $hair
		margin: 0
		padding: remify(50px 0)
		text-align: center
		text-transform: uppercase
		&:after
			content: ":"

