.page
	&__content
		background-color: $color-page-bg
		box-shadow: 0 0 em(5px) rgba($color-body-bg, .5) // add invisible box-shadow to tame bodypainting advertising
		color: $color-text
		min-width: em(320px)
		+respond-min($max-page-width)
			&:not(&--longform)
				+transition(all 0.5s)
				left: 50%
				margin-left: -$max-page-width/2
				max-width: $max-page-width
				position: relative
