$pagination-icon-width: 21px
$pagination-icon-height: 32px

.article-pagination
    clear: both
    font-family: $font-tabletgothic
    margin: remify(90px auto 32px)

    &__nexttitle
        font-weight: bold
        color: $grey--dark
        text-align: center
        a
            +link-colors($grey--dark, $grey--dark, $grey--dark, $grey--dark, $grey--dark)

    &__dash
        color: $charcoal

    &__pager
        list-style: none
        text-align: center
        margin: $twice 0 0
        padding: 0

    &__item
        display: inline-block
        line-height: $pagination-icon-height
        margin: 0 $small
        padding: 0
        min-width: $pagination-icon-width
        color: $grey--mid
        vertical-align: middle

    &__link
        font-size: $font-s
        +link
            color: $grey--mid
        +on-interaction
            font-weight: bold
        &--current
            cursor: default
            font-weight: bold

    &__icon
        display: block
        color: $grey--mid
        background-color: $grey--light
        width: $pagination-icon-width
        height: $pagination-icon-height
        opacity: .4
        &--active
            opacity: 1
            +on-interaction
                color: $white
                background-color: $grey--dark
