.photocluster
	@extend .gallery

.photocluster__container
	+respond-min($break-1)
		position: relative
		overflow: hidden

.photocluster__media
	margin-bottom: remify(14px)

	+respond-min($break-1)
		float: left
		margin-bottom: 1.5%
		padding-left: 0.75%
		padding-right: 0.75%
		width: 50%

		&--small
			width: 25%

.photocluster__description
	box-sizing: content-box
	color: #333
	font-family: $font-tabletgothic
	font-size: em(14px)
	margin-top: $compact
	padding-left: $page-padding--small
	padding-right: $page-padding--small

	+respond-min($break-3)
		margin-top: $large

	p:last-child
		margin: 0
