.photocluster
	@extend .gallery

.photocluster__container
	margin: 0 auto
	max-width: remify(920px)
	position: relative
	overflow: hidden

.photocluster__media
	+respond-min($break-1)
		float: left
		width: 50%

		&--small
			width: 25%

.photocluster__description
	box-sizing: content-box
	color: #333
	font-family: $font-tabletgothic
	font-size: em(14px)
	margin-top: $compact
	padding-left: $page-padding--small
	padding-right: $page-padding--small

	+respond-min($break-3)
		margin-top: $large

	p:last-child
		margin: 0
