.portraitbox
    font-family: $font-tabletgothic
    margin: 2.5rem auto
    width: 90%
    +respond-min($break-2)
        margin: 2.5rem 3rem 1.25rem 1.25rem
        width: remify(180px)
    .portraitbox-heading
        font-size: $font-s
        font-weight: bold
        letter-spacing: 0.08em
        line-height: $headline-line-height
        margin-bottom: $fine
        text-transform: uppercase
    p
        color: $grey
        font-size: remify(14px)
        letter-spacing: 0.03em
        padding: 0 !important // to override unwanted styles that occured due to overly specific selectors

