.article__sharing
    margin-bottom: $fine
    display: none
    +respond-min($comments__break-outside)
        display: block

.article__sharing__item
    color: $black
    background-color: $grey--light
    margin-bottom: $hair

.article__sharing__sum
    padding: $fine $micro

.article__sharing__total
    font-size: $font-ml

.article__sharing__unit
    font-size: $font-xs

.article__sharing__services
    text-align: left
    overflow: hidden
    max-height: em(120px)
    transition: max-height .2s linear
    &.blind
        max-height: 0
    .article__sharing__item
        display: block
        padding: $tiny $micro $tiny $little
        cursor: pointer
        &:hover
            background-color: $grey--bright
            .article__sharing__services__text
                color: $black

.article__sharing__services__text
    font-size: $font-xs
    color: $grey

.article__sharing__link
    font-family: $font-tabletgothic
    font-size: em(11px)
    font-weight: bold
    line-height: inherit
    color: $black
    cursor: pointer
    display: block
    padding: 0.75em 0.5em
    &:hover
        opacity: 0.5

.article__sharing-icon
    +inline-block
    margin-right: $micro
    width: 14px
    height: 14px
    vertical-align: middle
    &--open-close
        height: 10px
        margin-right: $micro
        vertical-align: initial
    &--close
        display: none // initially hide the close icon – handled by js
    &--comment-close
        display: none
        margin: 0 auto
        .show-comments &
            display: block
