.video__wrapper
	position: relative
	padding-top: 1px
	padding-bottom: 56.25%
	height: 0
	margin-bottom: $small
	div, object
		position: absolute
		width: 100%
		height: 100%
		left: 0
		top: 0

.video__still
	position: relative

.video__button
	display: none // show if video available – handled by js
	width: 100px
	height: 100px
	position: absolute
	margin: auto
	top: 0
	left: 0 
	bottom: 0 
	right: 0
	cursor: pointer

.video__play-icon
	width: 100px
	height: 100px
	color: $white
	background: rgba(0,0,0,0.2)
	border: em(5px) solid $white
	border-radius: 50%

.BrightcoveExperience
	position: absolute
	width: 100%
	height: 100%
	left: 0
	top: 0
