.video__wrapper
	position: relative
	padding-top: 1px
	padding-bottom: 56.25%
	height: 0
	margin-bottom: $small
	div, object
		position: absolute
		width: 100%
		height: 100%
		left: 0
		top: 0

.video__still
	position: relative

.video__button
	display: inline-block
	width: 100px
	height: 100px
	position: absolute
	margin: auto
	top: 0
	left: 0 
	bottom: 0 
	right: 0
	cursor: pointer

.BrightcoveExperience
	position: absolute
	width: 100%
	height: 100%
	left: 0
	top: 0
