{#

This is the main template for the context type "centerpage".

Available attributes:
	zeit.frontend.view_centerpage.Centerpage
#}

{% macro include(obj, type) -%}
    {% for teaser_block in obj -%}
        {%-
            set teaser_blocks = [
                'templates/inc/' + type + '_block_' + teaser_block.layout.id + '.html',
                'templates/inc/' + type + '_block_default.html'
            ]
        %}
        {% include teaser_blocks ignore missing %}

        {% if (type == 'inf') and (loop.index == 2 or loop.last) and (added is not defined) -%}
            <!-- special ad integration by counter -->
            {% set added = true %}
            {% include 'templates/inc/informatives/inf_ad.html' ignore missing %}
        {% endif %}

    {% endfor %}
{%- endmacro %}

<div class='cp__lead__wrap'>
    {{ include(view.area_lead, 'lead') }}
</div>
<div class='cp__lead__informatives__wrap'>
    {{ include(view.area_informatives, 'inf') }}
</div>
