{#

This is the main template for the context type "centerpage".

Available attributes:
	zeit.frontend.view_centerpage.Centerpage
#}
<div class='cp__lead__wrap'>
        {% for teaser_block in view.area_lead -%}
            {%-
               set teaser_blocks = [
                    'templates/inc/teaser_block_' + teaser_block.layout.id + '.html',
                    'templates/inc/teaser_block_default.html'
                    ]
            %}
            {% include teaser_blocks ignore missing %}
        {% endfor %}
</div>
<div class='cp__lead__informatives__wrap'>
Informatives
</div> 
