
<div class="cp__mtb__wrap">

    <div class="cp__mtb">
        <div class="cp__mtb__title">Wo die schönen Dinge Wohnen</div>
        <div class="cp__mtb__subtitle">Wie es kam, dass in München eine goldene Generation von Industriedesignern heranwuchs.</div>

        <div class="cp__mtb__cell__1_1">
            <!-- column #1 – teaser  -->#1
        </div>
        <div class="cp__mtb__cell__1_2">
            <!-- column #1 – teaser  -->#2
        </div>
        <div class="cp__mtb__cell__2_1">
            <!-- column #2 – teaser  -->#1
        </div>
        <div class="cp__mtb__cell__2_2">
            <!-- column #2 – teaser  -->#2
        </div>
        <div class="cp__mtb__cell__3_1">
            <!-- column #3 – teaser  -->#1
        </div>
        <div class="cp__mtb__cell__3_2">
            <!-- column #3 – teaser  -->#2
        </div>

    </div>

</div>
