{#

This is the monothematic block template for the context type "centerpage".

Available attributes:
    zeit.frontend.view_centerpage.Centerpage
#}

<div class="mtb__wrap" id="mtb">
    <div class="mtb__divider"></div>
    <div class="mtb">
        <div class="mtb__title">{{view.monothematic_block.supertitle | hide_none}}</div>
        <div class="mtb__subtitle">{{view.monothematic_block.teaserText | hide_none}}</div>
        <div class="mtb__teasers__wrap">
            {% for teaser_block in view.monothematic_block.values() -%}
                {% if teaser_block.type != 'placeholder' %}
                    {% for teaser in teaser_block %}
                            {% include get_teaser_template(
                                teaser_block.layout.id,
                                teaser | block_type,
                                teaser | auto_select_asset | block_type) ignore missing %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div><!-- end: .mtb__wrap -->
</div>
