{#

This is the second part template for the context type "centerpage".

Available attributes:
	zeit.frontend.view_centerpage.Centerpage
#}
{% import 'templates/macros/centerpage_macro.tpl' as cp with context%}

<div class='cp__lead__wrap'>
    {% if view.area_lead2 %}
        {{ cp.include_cp_block(view.area_lead2) }}
    {% endif %}
</div>
<div class='cp__lead__informatives__wrap'>
    {% if view.area_informatives2 %}
        {{ cp.include_cp_block(view.area_informatives2) }}
    {% endif %}
</div>
