{#

The teaser_block_layout, the content_type and the
asset_type are needed to select the right teaser template.
All combinations of the three are expanded to a list, ordered by importance and
with a default fallback. This list is used in an include statement.

For example:

* lead_article_video
* lead_article_default
* lead_default_default
* default_article_video
* ...

Available attributes:
	zeit.frontend.view_centerpage.Centerpage
	teaser_block

#}
<div class='teaser_block__default'>
    {% for teaser in teaser_block %}
        {% include get_teaser_template(
            teaser_block.layout.id,
            teaser | block_type,
            teaser | auto_select_asset | block_type) ignore missing %}
    {% endfor %}
</div>
