{#

build teaser block for button layout

For example:

* lead_article_video
* lead_article_default
* lead_default_default
* default_article_video
* ...

Available attributes:
	zeit.frontend.view_centerpage.Centerpage
	teaser_block

#}

<div class='cp__buttons__wrap'>
    {% for teaser in teaser_block %}
        <span>{{ view.teaser_get_commentcount(teaser.uniqueId) }} Kommentare</span>
        {% include get_teaser_template(
            teaser_block.layout.id,
            teaser | block_type,
            teaser | auto_select_asset | block_type) ignore missing %}
    {% endfor %}
</div>
