$comment-color-notice: 			#fff
$comment-color-header-sub: 		#fff
$comment-color-head-background:	$color-community-primary

@import "web.core/modules/comments/comment-section"

// own styles, which differ from core
.comment-section
	&__button
		+font-smoothing
		border: 3px solid currentColor
		color: #fff
		display: inline-block
		font-weight: bold
		padding: remify(6px 8px 6px 12px)
		+respond-min($break-phablet-min)
			float: right
			// fake the button to appear in the center of the pink section
			// (phablet) or on the bottom-line of the big headline (tablet)
			margin-top: remify(6px)

	&__head
		background-color: $color-community-primary
		padding-bottom: em(32px - 6px) // compensate for short-length of font
	&__head,
	&__note
		color: #fff
	&__note &__message
		color: inherit
	&__note &__notice
		+default-article-textlink($color: $comment-color-notice, $hover: $comment-color-notice, $border-color: rgba(#fff, 0.5), $border-color--hover: $comment-color-notice)
		&:before
			background-color: #fff
			color: #444
	&__head + &__message
		padding-bottom: em(16px)
		padding-top: em(16px)
	&__headline
		@extend %font-beckett
		+font-smoothing
		font-size: remify(42px)
		font-weight: normal
		+respond-min($break-tablet-min)
			font-size: remify(64px)
		small
			font-family: $font-tabletgothic
			font-size: remify(16px)
			text-transform: initial
	&__icon
		@extend %cta-button-icon
