$comment-color-form-text:        $color-text--light
$comment-color-form-user-link:   $zco-charcoal
$comment-color-form-cancel-link: $color-text--light

@import "web.core/modules/comments/comment-form"

.comment-login
	padding-bottom: remify(40px)

.comment-form
	.button
		color: $color-community-primary
		+on-interaction
			background-color: $color-community-primary
			border-color: $color-community-primary
			color: #fff
		&[disabled]
			+on-interaction
				background-color: transparent
				color: $color-community-primary
