$comment-color-head-background: $color-community-primary
$comment-color-head-color:      #fff
$comment-color-head-small:      #fff
$comment-color-notice:          $color-text--light

@import "web.core/modules/comments/comment-section"

// own styles, which differ from core
.comment-section
	&__button
		+font-smoothing
		border: 3px solid #fff
		color: #fff
		display: inline-block
		font-weight: bold
		padding: remify(6px 8px 6px 12px)
		+on-interaction
			background-color: #fff
			color: $color-community-primary
		+respond-min($break-phablet-min)
			// fake the button to appear in the center of the pink section
			// (phablet) or on the bottom-line of the big headline (tablet)
			margin-top: remify(6px)

	&__head
		padding-bottom: em(32px - 6px) // compensate for short-length of font
	&__note &__message
		color: inherit
	&__note &__notice
		+default-article-textlink($color: inherit, $hover: inherit, $border-color: rgba($comment-color-head-color, 0.5), $border-color--hover: currentColor)
		color: inherit
		&:before
			background-color: #fff
			color: #444
	&__head + &__message
		padding-bottom: em(16px)
		padding-top: em(16px)
	&__headline
		@extend %font-beckett
		+font-smoothing
		font-size: remify(42px)
		font-weight: normal
		+respond-min($break-phablet-min)
			font-size: remify(64px)
		small
			font-family: $font-tabletgothic
			font-size: remify(16px)
			text-transform: initial
	&__icon
		@extend %cta-button-icon
