$comment-color-author-bg: $zco-grey
$comment-color-border: $color-separator

$comment-color-body-font: $zco-charcoal
$comment-color-overlay-count-background: $color-article-primary
$comment-color-overlay-cta-font: $zco-charcoal
$comment-color-overlay-cta-border: #999

$comment-color-moderation-font: #707070
$comment-color-moderation-link: #b91109 //$zon-red
$comment-color-moderation-sending-font: #CCC //$zon-light-grey

$comment-color-date-link: #707070 //$zon-grey
$comment-color-date-link-hover: #444 //$zon-dark-grey
$comment-color-reaction-active: $color-community-primary

$comment-color-count-background: $color-article-primary
$comment-color-count-font: #EEE //$zon-lighter-grey
$comment-color-cta-font: $color-article-primary //statt $zon-grey
$comment-color-cta-border: #CCC //$zon-light-grey

$comment-color-rewrapper-hover-count-background: $color-article-primary
$comment-color-rewrapper-hover-cta-border: #999 //statt $zon-mid-grey
$comment-color-rewrapper-hover-cta-font: $zco-charcoal //statt $zon-dark-grey

$comment-color-badge-background: $zco-charcoal
$comment-color-indented-boxshadow: $zco-grey

$comment-color-placeholder-background: $zco-grey
$comment-color-placeholder-font: $color-text

@import "web.core/modules/comments/comment"
