$comment-color-author-bg: $zco-grey
$comment-color-border: $color-separator

$comment-color-body-font:               $color-text

$comment-color-count-background:        $color-article-primary
$comment-color-count-font:              #eee
$comment-color-cta-border:              #ddd
$comment-color-cta-font:                $color-link--default
$comment-color-count-background--hover: $color-link--hover
$comment-color-cta-border--hover:       #999
$comment-color-cta-font--hover:         $color-link--hover

$comment-color-moderation-font:    $color-text--light
$comment-color-moderation-sending: #ccc //$zon-light-grey

$comment-color-date-link:       $color-text--light
$comment-color-date-link-hover: #444 //$zon-dark-grey
$comment-color-reaction-active: $color-community-primary

$comment-color-badge-background: $zco-charcoal
$comment-color-indented-boxshadow: $zco-grey

$comment-color-placeholder-background: $zco-grey
$comment-color-placeholder-font: $color-text

@import "web.core/modules/comments/comment"
