$comment-color-preferences-background: $color-background--light
$comment-color-preferences-font: $color-text--light
$comment-color-preferences-hoverunderline: $color-text--light
$comment-color-preferences-active: $color-text--light
$comment-color-preferences-seperator: $color-separator

@import "web.core/modules/comments/comment-preferences"
