// mobile ads
.ad-mobile
	display: table
	margin: remify(59px auto 40px)
	position: relative
	+respond_min($break-mobile-ad-width)
		display: none // generally hidden on desktop
	&--1
		margin: remify(29px auto 10px)
	&:empty
		display: none
	&:before
		@extend %label
		content: "Anzeige"
		position: absolute
		right: 0
		top: -19px
		+respond-max(em(320px), false)
			padding-right: remify(10px)

// desktop ads
.ad-desktop
	display: none // generally hidden on mobile
	&[data-banner-label]:before
		@extend %label
		content: attr(data-banner-label)
	+respond_min($break-mobile-ad-width)
		display: table // generally visible on desktop
		margin: remify(40px auto)
		&--1,
		&--2
			display: block
			margin: 0 auto
		&:empty
			display: none
	&--3,
	&--4,
	&--5,
	&--12,
	&--16
		margin: remify(14px auto)
		max-width: remify(940px)
		#zon1000 &
			max-width: none
			&[data-banner-label]:before
				max-width: 1000px - 40px // if ad is maxpage wide, ad label should stay in grid
				margin-left: auto
				margin-right: auto
	&--7,
	&--8,
	&--9,
	&--10,
	&--11
		width: remify(300px)
	&--7-on-centerpage,
	&--8-on-centerpage,
	&--9-on-centerpage,
	&--10-on-centerpage,
	&--11-on-centerpage
		&:first-of-type
			margin-top: remify(15px)
	&--13-on-centerpage
		margin-bottom: remify(20px)
		margin-top: remify(20px)
	&--7-on-article
		clear: both
		float: right
		margin: remify(0 $page-padding 28px 36px)
		width: auto
		+respond-min($break-desktop-min)
			margin-right: remify(80px)

// Fix hillarious unusable ad extras by iqd
+respond-max($break-mobile-ad-width)
	body > #iqdSitebar
		display: none

/**
 * reset IQD inline styles
 */
div.smartClipAnzeige:before
	content: none !important

#scVideoWrap
	top: 0 !important

+respond-max($break-mobile-ad-width)
	div#iqadtile1::before,
	div#iqadtile3::before,
	div#iqadtile4::before,
	div#iqadtile5::before,
	div#iqadtile8::before
		content: 'Anzeige' !important
		color: $dusty-gray !important
		position: absolute !important
		font-size: em(9px) !important
		background-color: transparent !important
		width: auto !important
		margin-top: auto !important
		height: auto !important
		line-height: 1 !important
		top: -19px !important
		left: auto !important
		right: 0 !important

	div#iqadtile1
		margin-top: remify(29px) !important

	div#iqadtile3,
	div#iqadtile4,
	div#iqadtile5,
	div#iqadtile8
		margin-top: remify(59px) !important
