.ad-mobile
	display: table
	margin: remify(59px auto 40px)
	position: relative
	+respond_min($break-mobile-ad-width)
		display: none // generally hidden on desktop
	&--1
		margin: remify(29px auto 10px)
	&:before
		@extend %label

.ad-desktop
	$name: '.ad-desktop'
	display: none // generally hidden on mobile
	&[data-banner-label]:before
		@extend %label
		content: attr(data-banner-label)
	+respond_min($break-mobile-ad-width)
		display: table // generally visible on desktop
		&--1,
		&--2
			display: block
			margin: 0 auto
	// big superbanner on several location
	&--3,
	&--4,
	&--5,
	&--16
		margin: remify(14px auto)
		max-width: none
		&[data-banner-label]:before
			max-width: 1000px - 40px // if ad is maxpage wide, ad label should stay in grid
			margin-left: auto
			margin-right: auto

	// MR in minor regions
	&--8-on-centerpage,
	&--81-on-centerpage
		margin: 0 auto remify(40px)

	// in trio regions on "arbeit" we have 5px more padding on top
	@at-root .cp-area--trio .ad--on-arbeit
		margin-top: remify(5px)

	// if the ad is not the first child but has an ancestor
	// uses nth-of-type instead of nth-child due to bug in iOS8
	@at-root .cp-area--minor .ad-container:nth-of-type(2)
		#{$name}--8-on-centerpage,
		#{$name}--81-on-centerpage
			margin-top: remify(40px)

	// ad in parquet
	&--9-on-centerpage
		margin: remify(15px) auto remify(25px)

	// large fullwidth ads n article
	&--4-on-article
		margin-bottom: remify(35px)

	// standard article floating ad
	%floating-ad,
	&--8-on-article
		clear: both
		float: right
		margin: remify(0 $page-padding 28px 36px)
		width: auto
		+respond-min($break-desktop-min)
			margin-right: remify(80px)

	// ad in comment area
	&--9-on-article
		margin: remify(14px auto)

	// deprecated ads, still found on frame pages sometimes
	&--7-on-article
		@extend %floating-ad

	// deprecated ads, prevent reintroduction
	&--12-on-centerpage,
	&--13-on-centerpage
		display: none

/**
 * reset IQD inline styles
 */
div.smartClipAnzeige:before
	content: none !important

#scVideoWrap
	top: 0 !important

+respond-max($break-mobile-ad-width)
	div#iqadtile1
		margin-top: remify(29px) !important

	div#iqadtile3,
	div#iqadtile4,
	div#iqadtile5,
	div#iqadtile8
		margin-top: remify(59px) !important
