.skiplink
	color: green
	@extend %off-screen

.nowrap
	white-space: nowrap

.visually-hidden
	+visuallyhidden

.invisible
	display: none

// override normalize.css
input[type="search"]
	+box-sizing(border-box)

// visually hidden construct, which I properly didn't hated enough to prevent us from it
// a region, area or teaser can be set to be not `visible_mobile`. If so, it's hidden on
// mobile breakpoint. This must totally unbemmy overrule all other instructions
+respond-max($break-tablet-min)
	#main
		.mobile-hidden
			display: none

// animation: loading indicator for areas (images, comments)
+keyframes(smoothPulse)
	to
		background-color: rgba(#eee, 0.6)

%label
	color: $dusty-gray
	display: block
	font-family: $font-tabletgothic
	font-size: em(9px)
	letter-spacing: .15em
	line-height: 1
	margin-bottom: remify(10px)
	text-align: right
	text-transform: uppercase
