.page
	&__content
		background-color: $color-page-bg // we need background here, if page is colored
		box-shadow: 0 0 em(5px) rgba($color-body-bg, .5) // add invisible box-shadow to tame bodypainting advertising
		color: $color-text
		margin: 0 auto
		min-width: 300px
		max-width: $max-page-width
		padding: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left) // iPhoneX "the notch" fix

		// special case for app wrapper
		// sometimes the gray body background-color shines through at the top of the page
		// or behind the advertorial marker of the first ad on the page
		// we need to prevent the collapsing margin of any child element here
		// this clearfix hack solves this - somehow mimics `display: flow-root` due to low browser support
		&:before
			content: " "
			display: table

		+respond-max($break-phablet-min)
			word-wrap: break-word
			h1, h2, h3, h4, h5, h6
				hyphens: auto
