// zplus logo
// for general use
// comes in two sizes, small and x-small (in the moment)
// knows nothing about it placement
// it's just the logo
// use flexbox for placing (just do it ;)
.zplus-logo
	background: $zon-red
	color: #fff
	fill: currentColor
	&--s
		height: remify(23px)
		margin-right: remify(14px)
		width: remify(28px)
	&--xs
		height: remify(18px)
		margin-right: remify(6px)
		width: remify(22px)
