// zeit.web.magazin config
$base-font-size: 16px
$base-line-height: 1.5
$headline-line-height: 1.4
$meta-line-height: 1.7

@import "../constants"

$article-body-font: $font-franziska !default
$sans-serif-base-font: $font-tabletgothic !default

$zon-red: #b91109
$zon-charcoal: #313131
$zon-alto: #dddddd
$zon-seashell: #f1f1f1
$zon-darker-grey: #333
$zon_dark_grey: #444
$zon_grey: #707070
$zon_mid_grey: #999
$zon_light_grey: #CCC
$zon_lighter_grey: #EEE
$zon-warm-dark-grey: #e5e5e3
$zon-warm-grey: #f0f0ed
$zon-ad-grey: #f2f2f2
