@media print

	// hide ZMO-specific things
	.article__footer,
	.comment-section,
	.main-footer
		display: none !important



	.page__content,
	.article__item,
	.is-constrained
		max-width: $max-page-width

	.header-article__media
		margin-left: 0 !important
		margin-right: 0 !important
		&-item
			max-width: $print-media-width
			margin-left: auto
			margin-right: auto
	.header-article__caption
		opacity: 1
		background-color: #fff
		color: $zon-print-grey
		position: relative

	.article-heading
		margin: 6mm 0 0

		&__kicker
			color: $zon-print-grey
			font-size: 7pt * $print-zoom
			line-height: 9pt * $print-zoom
			margin-bottom: 1pt * $print-zoom
			padding: 0

		&__title
			font-size: 18pt * $print-zoom
			line-height: 21pt * $print-zoom
			margin-bottom: 14pt * $print-zoom

	.summary,
	.byline
		font-size: 10.5pt * $print-zoom
		line-height: 15pt * $print-zoom
		margin-bottom: 7pt * $print-zoom

	.byline a:after
		content: ""

	.metadata
		color: $zon-print-grey
		font-size: 7pt * $print-zoom
		line-height: 9pt * $print-zoom
		margin-bottom: 14pt * $print-zoom

	.article
		&__media
			max-width: $print-media-width
			margin: $print-media-margin

		&__media-item[src*='kreuzwortgitter']
			width: 15cm

		&__item
			&--marginalia
				clear: left
				float: left
				page-break-inside: avoid
				max-width: 40mm
				margin: 0 (20pt * $print-zoom) (14pt * $print-zoom) 0
				a
					font-size: 7pt * $print-zoom

	.article-pagination__pager
		display: none

	.article-pagination__nexttitle
		border-top: 1pt solid $zon-print-grey
		font-weight: normal

	.figure,
	.figure-stamp
		float: left
		margin: 0 2rem 1rem 0
		max-width: $stamp-width
	.figure__caption
		font-size: 7pt * $print-zoom
		margin-left: 0
		padding-left: 0 !important

	// dont style the media for print, because we styles the figure already
	.figure-stamp .figure__media,
	.figure-stamp--right .figure__media
		float: none
		margin: 0
		max-width: none
		width: auto


	.video-player + .figure__caption
		display: none

	.article__subheading
		font-size: 11pt * $print-zoom
		line-height: 14pt * $print-zoom
		margin-bottom: 7pt * $print-zoom
		margin-top: 14pt * $print-zoom
		page-break-inside: avoid
		page-break-after: avoid

	.paragraph,
	.raw
		font-size: 9.5pt * $print-zoom
		line-height: 14pt * $print-zoom
		margin-bottom: 7pt * $print-zoom
