$zon-print-grey: #444
$print-media-width: 100mm
$print-media-margin: 14pt 0
// using this zoom factor to make fonts bigger
// in opposition to designs
$print-zoom: 1.263157895

@media print

	@page
		margin: 15mm 25mm
		size: auto

	body,
	.page__content
		background: white !important
		box-shadow: none !important

	p
		orphans: 2
		widows: 3

	h1, h2, h3, h4, h5, h6
		break-after: avoid
		page-break-after: avoid
		page-break-inside: avoid

	acronym[title]:after,
	abbr[title]:after
		content: " (" attr(title) ")"

	a[href^="http"]
		page-break-inside: avoid
		&:after
			border-bottom: 1px solid white // To visibly hide grey border of <a>
			color: $zon-print-grey
			content: " [" attr(href) "]"
			font-size: inherit
			word-wrap: break-word

	a[href^="#"]:after,
	.zplus-badge a:after, // this is full of tracking-params
	.header__publisher a:after
		content: ""

	#ads,
	#adunit,
	#comments,
	#iqadtileOOP,
	#iqd_mainAd,
	#iqdLastNode,
	#iqdSitebarWrapper,
	#iqdInfoBox,
	#pDebug,
	.ad,
	.ads,
	.ad-container,
	.article__footer,
	.comment-section,
	.main-footer,
	.newsletter-teaser-box, // raw-code in articles comes with own stylesheets
	.nextread,
	.video-player,
	.visually-hidden,
	#bp-container, // teaser for browser-push
	iframe[id^="google_ads"]
		display: none !important

	#main
		padding: 0
		margin: 0

	.header
		background: none

	.header__brand
		border-bottom: 1pt solid $zon-print-grey
		margin-bottom: remify(13px)
		padding-bottom: remify(13px)
		padding-left: 0
		.header__teaser,
		.header__menu-link
			display: none

	.header__logo
		fill: #313131


	.page__content,
	.article__item,
	.is-constrained
		max-width: $max-page-width

	.header-article__media
		margin-left: 0 !important
		margin-right: 0 !important
		&-item
			max-width: $print-media-width
			margin-left: auto
			margin-right: auto
	.header-article__caption
		opacity: 1
		background-color: #fff
		color: $zon-print-grey
		position: relative

	.article-heading
		margin: 6mm 0 0

		&__kicker
			color: $zon-print-grey
			font-size: 7pt * $print-zoom
			line-height: 9pt * $print-zoom
			margin-bottom: 1pt * $print-zoom
			padding: 0

		&__title
			font-size: 18pt * $print-zoom
			line-height: 21pt * $print-zoom
			margin-bottom: 14pt * $print-zoom

	.summary,
	.byline
		font-size: 10.5pt * $print-zoom
		line-height: 15pt * $print-zoom
		margin-bottom: 7pt * $print-zoom

	.byline a:after
		content: ""

	.metadata
		color: $zon-print-grey
		font-size: 7pt * $print-zoom
		line-height: 9pt * $print-zoom
		margin-bottom: 14pt * $print-zoom

	.article
		&__media
			max-width: $print-media-width
			margin: $print-media-margin

		&__media-item[src*='kreuzwortgitter']
			width: 15cm

		&__item
			&--marginalia
				clear: left
				float: left
				page-break-inside: avoid
				max-width: 40mm
				margin: 0 (20pt * $print-zoom) (14pt * $print-zoom) 0
				a
					font-size: 7pt * $print-zoom

	.article-pagination__pager
		display: none

	.article-pagination__nexttitle
		border-top: 1pt solid $zon-print-grey
		font-weight: normal

	.figure,
	.figure-stamp
		float: left
		margin: 0 2rem 1rem 0
		max-width: $stamp-width
	.figure__caption
		font-size: 7pt * $print-zoom
		margin-left: 0
		padding-left: 0 !important

	// dont style the media for print, because we styles the figure already
	.figure-stamp .figure__media,
	.figure-stamp--right .figure__media
		float: none
		margin: 0
		max-width: none
		width: auto


	.video-player + .figure__caption
		display: none

	.article__subheading
		font-size: 11pt * $print-zoom
		line-height: 14pt * $print-zoom
		margin-bottom: 7pt * $print-zoom
		margin-top: 14pt * $print-zoom
		page-break-inside: avoid
		page-break-after: avoid

	.paragraph,
	.raw
		font-size: 9.5pt * $print-zoom
		line-height: 14pt * $print-zoom
		margin-bottom: 7pt * $print-zoom

	.portraitbox

		&__heading,
		&__body
			font-size: 7pt * $print-zoom
			line-height: 11pt * $print-zoom
			margin-bottom: 6pt * $print-zoom
		a,
		a:after
			color: $zon-print-grey
			font-size: 7pt * $print-zoom

	.infobox
		background-color: transparent
		border: 1pt solid $zon-print-grey
		margin: $print-media-margin
		padding: 0
		page-break-inside: avoid
		max-width: $print-media-width

	.infobox-tab
		border-bottom: 1pt solid $zon-print-grey
		padding: 9pt * $print-zoom

		&__link,
		&__title,
		&__content p
			font-size: 7pt * $print-zoom
			line-height: 11pt * $print-zoom
			margin-bottom: 6pt * $print-zoom

		&__title
			padding: 0

		&__link
			font-weight: bold

		&__content[aria-hidden='true']
			max-height: none // always show all infobox content (ignore script)

	.column-heading *
		background: white !important
		color: $zon-print-grey !important
	.column-heading,
	.column-heading__information,
	.column-heading__lower
		padding-bottom: 0
	.column-heading__title
		max-width: none

	.paragraph--faded:before
		content: none // faded paragraph would not be printed at all, so we dont fade it
