$zon-print-grey: #252525

@media print

	// hide ZMO-specific things
	.article__footer,
	.comment-section,
	.main-footer
		display: none !important

	.header__brand
		border-color: #CCCCCF

	.header__logo
		height: 27pt
		width: auto

	// full width
	.page__content,
	.article__item,
	.is-constrained,
	.header-article,
	.header-article--column > figure, // specificity
	.header-article--default > figure // specificity
		max-width: $max-page-width


	// standardize headers
	.header-article--briefmarke,
	.header-article--mode,
	.header-article--text-only
		text-align: center

	// --------------------------------------------
	// article elements
	.volume-teaser
		display: none

	.article__item.quote
		margin-left: $print-articleitem-margin

	.header-article__media
		margin-left: 0 !important
		margin-right: 0 !important
		&-item
			max-width: $print-media-width
			margin-left: auto
			margin-right: auto
	.header-article__caption
		opacity: 1
		background-color: #fff
		color: $zon-print-grey
		position: relative
		text-align: center

	.article-pagination__pager
		display: none

	.article-pagination__nexttitle
		border-top: 1pt solid $zon-print-grey
		font-weight: normal

	.figure,
	.figure-stamp,
	.figure-stamp--right,
	.figure-full-width
		clear: both
		float: left
		margin: 0 2rem 1rem 0
		max-width: $stamp-width
	.figure__caption
		font-size: 7pt * $print-zoom
		margin-left: 0
		padding-left: 0 !important

	// dont style the media for print, because we styled the figure already
	.figure-stamp .figure__media,
	.figure-stamp--right .figure__media
		float: none
		margin: 0
		max-width: none
		width: auto

	// --------------------------------------------
	// marginalia text boxes
	.portraitbox,
	.authorbox
		color: $zon-print-grey
		float: left
		margin: 20pt 30pt 20pt 0
		width: $stamp-width
	.authorbox__container
		all: unset // TODO: IE + Edge egal?
	.portraitbox__heading,
	.authorbox__name
			font-size: 9pt
			letter-spacing: 0.5pt
			line-height: 11pt
			margin: 0 0 6pt 0
	.authorbox__text
		margin: 0
	.portraitbox__body,
	.authorbox__summary
		color: $zon-print-grey
		font-size: 10pt
		line-height: 14pt
		p
			margin: 0 0 6pt 0
	.authorbox__text:only-child
		text-align: left
	.authorbox__summary
		font-style: normal
	.authorbox__button
		display: none

	// TODO: das zeigt, dass man die Boxen auch mal refactorn sollte

	// --------------------------------------------
	// galleries. beat JS-set styles with !important
	.gallery
		+pie-clearfix
		background: none
		margin: 0
		.gallery-container,
		.inline-gallery-container
			margin: 0
			max-width: none
		.bx-controls,
		.bx-zone-next,
		.bx-zone-prev
			display: none !important
		.bx-viewport
			overflow: visible !important
			margin: 0 auto !important
			width: $max-page-width*0.7 !important
		.gallery-slides
			position: relative !important
			transform: none !important
			width: auto !important
		.slide
			margin: 20pt 0 !important
			&:first-child(),
			&:last-child()
				display: none

	// --------------------------------------------
	// override all font sizes
	.headline__supertitle
		font-size: 10pt
		letter-spacing: 0.5p5
		line-height: 12pt
	.headline__title
		font-size: 18pt
		line-height: 21pt
	.header-article__subtitle
		font-size: 13pt
		line-height: 18pt
	.meta
		font-size: 8pt
		letter-spacing: 0.5pt
		line-height: 10pt
	.article__item
		font-size: 11pt
		line-height: 17pt
	.header-article__caption,
	.figure__caption
		font-size: 10pt
		line-height: 13pt

	// --------------------------------------------
	// undo the nifty flexbox stuff of series-vs-date arrangement
	.meta
		display: block
		&__serie:after
			all: unset
	// lowercase URLs in uppercase linktexts
	.meta,
	.byline
		a:after
			font-weight: normal
			text-transform: none
