// ZEIT ONLINE CSS Coding Guidelines
// https://github.com/ZeitOnline/coding-guidelines/blob/master/css/guidelines.md

@import "setup"

@import "utils"
@import "functions"
@import "constants"
@import "mixins"

$break-phablet-min: $break-1
$break-tablet-min: $break-2
$break-desktop-min: $break-3

$primary-color: #252525
$logo-width: remify(256px)
$logo-height: remify(24px)

@import "web.core/amp"
