
{% if view.date_last_published_semantic %}
	<meta name="last-modified" content="{{ view.date_last_published_semantic | format_date('iso8601') }}">
	<meta http-equiv="last-modified" content="{{ view.date_last_published_semantic | format_date('iso8601') }}">
{% else %}
	<meta name="last-modified" content="{{ view.date_first_released | format_date('iso8601') }}">
	<meta http-equiv="last-modified" content="{{ view.date_first_released | format_date('iso8601') }}">
{% endif %}
	<meta name="date" content="{{ view.show_article_date | format_date('iso8601') }}">
	<meta name="DC.date.issued" content="{{ view.show_article_date | format_date('iso8601') }}">
