{# Dedupe code with zmo:sharing_meta #}
<meta name="twitter:card" content="{{ view.twitter_card_type }}">
<meta name="twitter:site" content="@zeitonline">
<meta name="twitter:creator" content="@zeitonline">
<meta name="twitter:title" content="{{ view.title }}">
<meta name="twitter:description" content="{{ view.subtitle }}">
<meta property="og:site_name" content="ZEIT ONLINE">
<meta property="fb:admins" content="595098294">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ view.supertitle + ': ' + view.title or 'ZEIT ONLINE' }}">
<meta property="og:description" content="{{ view.subtitle or '' }}">
<meta property="og:url" content="{{ view.og_url }}">
{% set image = get_image(view, view.context, fallback=False, default='wide') %}
{% if image -%}
{% set source = request.image_host + image.path + '__1300x731' %}
<meta property="og:image" content="{{ source }}">
<meta name="twitter:image" content="{{ source }}">
<link itemprop="image" rel="image_src" href="{{ source }}">
{%- endif %}
