// extender
%ad
    background-color: $white
    color: $charcoal

%ad__label
    color: $charcoal
    font-size: $font-xxs
    +tablet()
    letter-spacing: 2px
    text-align: left
    text-transform: uppercase

%ad__inner
    margin: 0 auto

// hide all desktop ads
.ad__min__768
    display: none
    +respond-min(em(769px))
        display: block

// mobile
.iqd_mobile__adplace
    width: 320px
    margin: 0 auto


// medium rectangles
%ad__mr
    @extend %ad
    margin: $large auto
    +respond-min($break-1)
        border-top: 1px solid $charcoal
        border-bottom: 1px solid $charcoal
        max-width: 41.25rem
        padding: $small 0
    +respond-min($break-3)
        border: none
        float: right
        margin: 0 0 $compact $medium
        max-width: 300px
        padding: 0
    object
        display: block

%ad__mr__label
    @extend %ad__label
    width: 300px
    margin: 0 auto

%ad__mr__inner
    @extend %ad__inner
    width: 300px


// adplaces
.ad__tile_4, .ad__tile_7, .ad__tile_8
    @extend %ad__mr

.ad__tile_7.ad__on__centerpage // tile 7 on cp
    @extend %ad__mr
    margin: 0 auto $compact auto
    .ad__tile_7__label,
    .ad__tile_8__label
        display: none
    +respond-min($break-2)
        padding: 0
        border: none
    +respond-min($break-3)
        float: none

.ad__tile_4__label, .ad__tile_7__label, .ad__tile_8__label
    @extend %ad__mr__label

.ad__tile_4__inner, .ad__tile_7__inner, .ad__tile_8__inner
    @extend %ad__mr__inner

.ad__tile_3
    max-width: 940px
    margin: 0 auto
    padding: $little 0

.ad__tile_3__label
    @extend %ad__label
    text-align: right

