.ad__top-banner-m
  width: 940px
  height: 90px
  background-color: $grey
  margin-bottom: 20px

.ad__sidebar-banner-r
  width: 160px
  height: 600px
  background-color: $grey

.ad__sidebar-banner-l
  width: 160px
  height: 600px
  background-color: $grey