%ad
    background-color: $white
    color: $charcoal
    text-align: center


%ad__label
    color: $charcoal
    font-size: $font-xs--px
    letter-spacing: 2px
    text-align: left
    text-transform: uppercase

.ad__tile_4
    font-size: 1.125em
    margin: $large auto
    +respond-min($break-1)
        border-top: 1px solid $charcoal
        border-bottom: 1px solid $charcoal
        max-width: 41.25rem
        padding: $small 0
    +respond-min($break-3)
        border: none
        float: left
        margin: 0 $medium $compact 0
        max-width: 300px
        padding: 0
    object
        display: block

.ad__tile_4__label
    @extend %ad__label
    width: 300px
    margin: 0 auto

.ad__tile_4__inner
    width: 300px
    margin: 0 auto

