$standard-header-max-width: 41.25em
$standard-header-image-max-width: 29em

.article__head-wrap
.article__head
  text-align: center
  max-width: $standard-header-max-width
  margin: 0 auto
  margin-bottom: $wide

.article__head__supertitle
  @extend %supertitle
  @extend %font-m
  margin-bottom: $compact

.article__head__headline
  @extend %headline
  @extend %font-xl-xxl
  margin-bottom: $medium

.article__head__subtitle
  @extend %subheading
  text-align: left
  margin-bottom: $compact !important
  p
    +body-type-zoom

.article__head__image
  max-width: $standard-header-image-max-width
  text-align: left
  display: block
  margin: 0 auto
  margin-bottom: $medium
  +respond-min($break-2)
    margin-bottom: $large
  img
    width: 100%
    display: block

.article__head__meta
  @extend %meta
  text-align: left
  text-transform: uppercase
  margin-bottom: $large
  display: block
  margin-top: $thin
  letter-spacing: 1px
  font-size: $font-xs
  max-width: 25em
  +respond-min($break-1)
    font-size: $font-s

.article__head__meta__genre
.article__head__meta__location
.article__head__meta__author

.article__head__meta__source
  &:after
    content: ', '
    +respond-min($break-1)
      content: ' — '

.article__head__meta__date
  +respond-max($break-1)
    display: block
  span
    color: $charcoal
    &:before
      white-space: pre
      content: ', \A'
      color: $charcoal
      +respond-min($break-1)
        content: ' — '

