.article

.article__main-image

.article__wrap

.article__title-wrap

.article__supertitle
	@extend %supertitle
	@extend %font-m-ml

.article__title
	+tablet
	@extend %font-l-xl

.article__meta


.article__meta__timestamp


.article__meta__author


.article__subtitle
	+franziska(bold)
	@extend %copy
	margin-bottom: $small

.article__subheading
	@extend %subheading
	@extend %font-m-ml

.article__body
	@extend %copy
	+respond-min($break-3)
		padding-left: $gutter/2
		padding-right: $gutter/2
