$standard-header-max-width: 41.25em
$standard-header-image-max-width: 31.25em

.article__head--default
  .article__head__subtitle
    p
      +body-type-zoom

.article__head
  text-align: center
  max-width: $standard-header-max-width
  margin: 0 auto
  margin-bottom: $wide

.article__head__supertitle
  @extend %supertitle
  font-size: $font-m
  margin-bottom: $small
  +respond-min($break-2)
    font-size: $font-ml

.article__head__headline
  @extend %headline
  @extend %font-xl-xxl
  margin-bottom: $compact
  +respond-min($break-2)
    margin-bottom: $big

.article__head__subtitle
  @extend %subheading
  text-align: left
  margin-bottom: $compact

.article__head__image
  max-width: $standard-header-image-max-width
  text-align: left
  display: block
  margin: 0 auto
  margin-bottom: $medium
  +respond-min($break-2)
    margin-bottom: $large
  img
    width: 100%
    display: block
  .figure__caption
    text-align: right

.article__head__meta
  @extend %meta
  text-align: left
  text-transform: uppercase
  margin-bottom: $large
  display: block
  margin-top: $thin
  letter-spacing: 1px
  font-size: $font-xs
  max-width: 28em
  line-height: $meta-line-height

.article__head__meta__offset
  display: block
  margin-bottom: $thin

.article__head__meta__genre
.article__head__meta__location
.article__head__meta__author

.article__head__meta__source
  &:after
    content: ' — '

.article__head__meta__date
  span
    &:before
      white-space: pre
      content: ' — '

