.breadcrumbs-wrap
  +respond-max($nav__break__full-menu)
    display: none

.breadcrumbs
  +respond-min($nav__break__full-menu)
    +inline-block
    background-color: $grey--light
    border-top: 1px solid rgba($black, 0.2)
    width: 100%
  &.is-active, .no-js &
    width: 100%

.breadcrumbs__trigger
  +tablet
  +inline-block
  +no-user-select
  cursor: pointer
  font-size: $font-xs
  padding: $micro $thin
  padding-top: 0
  margin: $micro $micro 0 $micro
  color: $grey
  +respond-min($nav__break__full-menu)
  +respond-max($nav__break__full-menu)
    display: none
  &:after
    content: ' ›'
    +respond-min($nav__break__full-menu)
      font-size: $font-xl
    margin-right: $micro
  .no-js &
    display: none
  .is-active &
    margin-right: 0
    &:after
      content: ''
      margin-left: 0

.breadcrumbs__list-wrap
  +tablet
  vertical-align: top
  padding: $thin
  margin: 0 $micro 0 $micro
  list-style-type: none
  +respond-min($break-1)
    margin-left: 5%
  +respond-min($nav__break__full-menu)
    margin-left: em(228px)
    font-size: $font-xs
  .is-active &
    +inline-block
    margin-left: $small

.breadcrumbs__list
  display: inline !important
  padding: 0
  margin: 0
  color: $grey
  a
    display: inline !important
    +respond-min($nav__break__full-menu)
      +link-colors($grey, $grey, $grey, $grey, $grey)
    border-bottom: none
    border-bottom-width: 0
    padding: 0
    margin-right: $thin
    margin-left: $thin
    &:hover
      color: #232323

.breadcrumbs__list__item
  display: inline !important
  &:first-child a
    margin-left: 0
