.article__socialbox
    +respond-min($comments__break-overlap)
        position: absolute
        top: 0
        right: -20px

.article__comments-trigger
    +inline-block
    background-color: $grey--light
    text-align: center
    margin: 0 auto
    position: relative
    +respond-min($comments__break-outside)
        &:after
            content: ''
            position: absolute
            right: 12px
            bottom: -16px
            border-width: 8px
            border-style: solid
            border-color: $grey--light $grey--light transparent transparent

.article__comments-trigger__link
    color: $black
    border-bottom: none
    cursor: pointer
    display: block
    padding: $micro $small
    +respond-min($comments__break-overlap)
        padding: 12px $little 7px
    &:hover
        opacity: 0.5

.article__comments-trigger__count
    +inline-block
    min-width: 13px
    background-position: -13px -13px
    font-size: $font-ml
    line-height: normal
    margin-right: $micro
    +respond-min($comments__break-overlap)
        margin-right: 0
        display: block
    .show-comments &
        color: transparent
        background-position: center center

.article__comments-trigger__text
    +tablet(bold)
    font-size: em(11px)
    color: $black

.comments
    +tablet
    z-index: 20
    display: none
    margin-left: -$page-padding--small
    margin-right: -$page-padding--small
    +respond-min($break-1)
        margin-left: -$page-padding
        margin-right: -$page-padding
    +respond-max($comments__break-overlap)
        width: auto !important
    +respond-min($comments__break-overlap)
        +box-shadow
        +animation('comments_overlap_move_in' 0.25s ease-in-out 1 0s)
        overflow: hidden
        margin: 0
        position: absolute
        top: 5.25em
        height: 100%
        right: -$page-padding
        min-width: em(300px)
        max-width: em(700px)
        width: 100%
        background-color: $white
    +respond-min($comments__break-outside)
        +box-shadow(none)
        +animation('comments_outside_move_in' 0.25s ease-in-out 1 0s)
        top: 0
        right: auto
        left: em(980px) - $page-padding
        border-left: 1px dotted $grey--light
        width: em(300px)
        background-color: $white
    &.show-older-trigger
        .comments__button__older
            display: block
    &.show-newer-trigger
        .comments__button__newer
            display: block
    p
        margin: 0 auto $small
        &:last-child
            margin-bottom: 0


.comments__head
    +padded
    padding-top: $page-padding
    padding-bottom: $large

.comments__list
    +transition(top 1s)
    +padded
    padding-bottom: $large
    position: relative
    top: 0px

.comments__body
    overflow: hidden
    position: relative

.comments__button__older,
.comments__button__newer
    display: none
    width: 100%
    height: em(80px)
    position: absolute
    left: 0
    z-index: 3
    background-color: $white
    background-color: rgba($white, 0.7)
    text-align: center
    .button
        +inline-block
        +background-size(20%, 20%)
        background-position: 10px center
        text-align: center
        cursor: pointer
        width: auto
        padding-left: 40px
        z-index: 4
        margin-top: em(25px)

.comments__button__older
    bottom: 0

.comments__button__newer
    top: 0


.comment
    margin-top: $large
    &:first-child
        margin-top: $compact
    &.is-indented
        margin-top: $compact
        // border-left: 2px solid $grey--light
        .comment__head,
        .comment__body
            padding-left: $large


.comment__head
    font-size: $font-ml
    margin-bottom: $little

.comment__head__avatar
    +inline-block
    +border-radius(50%)
    width: em(40px)
    height: em(40px)
    margin-right: $thin
    background-position: 50% 38% // golden ratio
    +background-size(cover)

.comment__head__meta
    +inline-block

.comment__head__meta__name
    +tablet(bold)
    color: $grey--mid-dark
    margin-right: $fine

.comment__head__meta__label
    display: block
    font-size: $font-xs
    color: $grey

.comment__head__meta__date
    border-bottom: none
    +inline-block
    +link-colors($grey, $grey, $grey, $grey, $grey)
    +on-interaction
        border-color: $grey
    &:before
        margin-right: $fine
        content: "—"


.comment__body
    font-size: $font-m


.comment__tools
    text-align: right
    padding-right: $fine
    margin-bottom: $compact

.comment__tools__icon
    +inline-block
    +hide-text
    cursor: pointer
    margin-left: $small
    border: none
    width: 20px
    height: 20px
    &:hover
        background-position: 0px -20px

.comment__form--login
    text-align: center
    .button
        margin: $thin 15px 0 0

.comments__body
    .comment__form
        padding-bottom: $medium
        border-bottom: 2px solid $grey--light
        margin-bottom: $large
    .comment__form--login
        background-color: $grey--light
        border-bottom-style: none

.comment__form__wrap
    padding: $compact 0 $compact

.comment__form__note
    color: $charcoal
    font-size: $font-s
    a
        color: $grey--mid

.comment__form__note--casual
    float: left

.comment__form__text
    font-size: $font-s
    color: $grey--mid-dark

.comment__form__actions
    text-align: right
    a
        font-size: $font-s
        text-transform: uppercase
        color: $grey--mid-dark
    .button
        margin-left: $compact
        vertical-align: baseline

.comment__form__success
    text-align: center
    padding: $large 0 $large - $medium
    .comment__icon--40
        margin-bottom: $compact

.comment__form__success__text
    color: $charcoal
    font-size: $font-ml

.comment__icon--40
    +inline-block
    width: em(40px)
    height: em(40px)

.show-comments .page-wrap--inner
    +respond-min($comments__break-outside)
        +translateZ(0)
        left: 0
        margin-left: 0
        z-index: 2000
    .comments
        display: block

#iqd_mainAd
    +transition(all 1s)

.show-comments #iqd_align_Ad
    +respond-min($comments__break-outside)
        +translateZ(0)
        margin-left: 0
        #iqdSkyscraperLeft
            display: none !important
        #iqdSkyscraper, #iqdSkyscraperRight
            +translateZ(0)
            position: absolute !important
            left: $max-page-width !important
