//wrapper informatives area
$cp__lead__informatives__wrap-width: 35%

.cp__lead__informatives__wrap
	padding: $compact
	width: 100%
	+respond-min($break-2)
		float: left
		padding: $compact $compact $compact 0
		width: $cp__lead__informatives__wrap-width
