$mtb_teaser_width: em(270px)

.cp__mtb__wrap
    clear: left
    width: 100%

.cp__mtb
    width: 88%
    margin: auto

    +respond-min-max($break-1, $break-3)
        width: 2*$mtb_teaser_width + $compact // two teaser columns, one margin
    +respond-min($break-3)
        width: 3*$mtb_teaser_width + 2*$big // three teaser columns, two margins


.cp__mtb__title,
.cp__mtb__subtitle
    text-align: center
    margin: auto
    width: 80%
    +respond-min($break-1)
        width: 70%

.cp__mtb__title
    @extend %headline
    text-transform: uppercase
    margin-bottom: $petite
    font-size: $font-ml

.cp__mtb__subtitle
    +tablet(regular)
    font-size: $font-m
    line-height: 1.25
    margin-bottom: $medium


.cp__mtb__teasers__wrap
    +justify-children-horizontally('.cp__mtb__teasers__wrap')

    +respond-min($break-1)
        +columns($mtb_teaser_width)

.cp__mtb__teaser
    // left/right margins are not needed, due to justified inline-block
    margin: 0 0 $big 0
    vertical-align: top !important
    width: 100%

    +respond-min($break-1)
        width: $mtb_teaser_width
    // +respond-min($break-3)
    //     margin: 0 0 $big 0

.cp__mtb__teaser__title
    @extend .cp__buttons__title
    margin-bottom: 0

.cp__mtb__teaser__kicker
    @extend .cp__buttons__supertitle

.cp__mtb__teaser__image
    width: 100%
    margin: 0 auto $little auto
