$teaserbar_teaser_max_width: em(270px)

.cp__teaserbar__wrap
    @extend .mtb__wrap

.cp__teaserbar
    @extend .mtb


// start: teasers //

.cp__teaserbar__teasers__wrap
    +justify-children-horizontally('div')
    div
        vertical-align: top
        +respond-min($break-1)
            max-width: $teaserbar_teaser_max_width

// end: teasers //
