$teaserbar_teaser_max_width: em(270px)

.cp__teaserbar__wrap
    @extend .mtb__wrap

.cp__teaserbar
    @extend .mtb


// start: teasers //

.cp__teaserbar__teasers__wrap
    +justify-children-horizontally('div')
    div
        max-width: $teaserbar_teaser_max_width
        vertical-align: top

// end: teasers //
