//styles for lead area within cp
$cp__lead-full-height: em(550px)
$cp__lead__wrap-width: 65%
$cp__lead-large-teaser-size: ($max-page-width * 0.65) - (2 * $compact)
$cp__lead-full-video-max-width: em(1000px)

//placeholder selectors
%cp__lead--dark
	+fake-box-shadow-inset($black)

%cp__lead--light
	+fake-box-shadow-inset($white)

//standard classes for cp lead area
.cp__lead-assets, %cp__lead-assets
	overflow: hidden
	position: relative
	height: 100%
	z-index: 1
	video
		position: absolute
		bottom: 0
		left: 0
		min-width: 100%
		min-height: 100%
		max-width: $cp__lead-full-video-max-width
		display: none
	img
		position: absolute
		top: 0
		right: 0
		bottom: 0
		margin: auto
		min-height: 100%
		width: 100%
	.video--fallback
		display: inline
		@media only screen and (orientation : portrait)
			left: -50%
			min-width: 200%
		+respond-max($break-1)
			@media only screen
				left: -100%
				min-width: 300%

.cp__lead__title
	@extend %cp__link--light
	+tablet(bold)
	margin: 0 0 $tiny
	font-size: $font-xxl
	line-height: $petite
	letter-spacing: $hair
	+respond-min($break-2)
		font-size: $font-xxxl

.cp__lead__subtitle
	@extend %cp__link--light
	@extend %copy
	font-size: $font-m
	line-height: $petite
	+respond-min($break-2)
		font-size: $font-ml

.cp__lead__supertitle
	@extend %cp__link--light
	@extend %copy
	line-height: $medium
	font-size: $font-s
	+respond-min($break-2)
		font-size: $font-ml

//wrapper lead area
.cp__lead__wrap
	+justify-children-horizontally('.cp__buttons__wrap')
	width: 100%
	+respond-min($break-2)
		float: left
		width: $cp__lead__wrap-width
		padding: 0 $compact 0 $compact

//teaser type leader
.cp__lead-leader__wrap
	position: relative
	overflow: hidden
	margin-top: $small
	margin-bottom: $small
	background-color: $black
	width: 100%
	display: inline-block
	+respond-min($break-2)
		margin-top: $compact
		margin-bottom: $compact
		width: $cp__lead-large-teaser-size

/* If viewport lengths are supported, try to retain correct aspect ratios. */
.cssvwunit
	.cp__lead-leader__wrap--square
		+respond-max($break-2)
			height: 100vw
	.cp__lead-leader__wrap--upright
		+respond-max($break-2)
			height: 135vw

.cp__lead-leader__wrap--square
	height: $cp__lead-large-teaser-size
	+respond-max($break-2)
		height: ($break-2 + $break-1) / 2
	+respond-max($break-1)
		height: ($break-1 + $break-2) / 2

.cp__lead-leader__wrap--upright
	height: $cp__lead-large-teaser-size * 1.35
	+respond-max($break-2)
		height: ($break-2 + $break-1) * 0.675
	+respond-max($break-1)
		height: ($break-1 + $break-0) * 0.675

.cp__lead-leader__image--dark
	@extend %cp__lead--dark
	@extend %cp__lead-assets

.cp__lead-leader__image--light
	@extend %cp__lead--light
	@extend %cp__lead-assets

.cp__lead-leader__title__wrap
	position: absolute
	overflow: hidden
	bottom: 0
	padding: $thin 5% $medium 5%
	width: 100%
	z-index: 2

.cp__lead-leader__title__wrap--dark
	color: white
	.cp__lead__title
		@extend %cp__link--dark
	.cp__lead__subtitle
		@extend %cp__link--dark
	.cp__lead__supertitle
		@extend %cp__link--dark

.cp__lead-leader__title__wrap--light
	.cp__lead__title
		@extend %cp__link--light
	.cp__lead__subtitle
		@extend %cp__link--light
	.cp__lead__supertitle
		@extend %cp__link--light

// commented out prelaunch: fix for slow gradient handling on android
// background-color: $white
// background-color: transparentize($white, 0.35)
//	+respond-min($break-2)
//		background-color: transparent

//teaser type full (fullwidth leader)
.cp__lead-full__wrap
	position: relative
	overflow: hidden
	padding-top: 0
	height: $cp__lead-full-height
	background-color: $black

.cp__lead-full--dark
	@extend %cp__lead--dark
	@extend %cp__lead-assets

.cp__lead-full--light
	@extend %cp__lead--light
	@extend %cp__lead-assets

.cp__lead-full__title__wrap
	position: absolute
	overflow: hidden
	text-align: center
	bottom: 0
	padding: $thin 15% $medium 15%
	width: 100%
	z-index: 2

.cp__lead-full__title__wrap--dark
	.cp__lead__title
		@extend %cp__link--dark
	.cp__lead__subtitle
		@extend %cp__link--dark

.cp__lead-full__title__wrap--light
	.cp__lead__title
		@extend %cp__link--light
	.cp__lead__subtitle
		@extend %cp__link--light

//some button adaptions for leadarea only
.cp__lead__wrap
	.cp__buttons__wrap
		vertical-align: top !important
		width: 100%
		padding: 0 $compact 0 $compact
		margin-top: $compact
		margin-bottom: 0
		+respond-min($break-2)
			width: 48%
			padding: 0 0 0 0
		.cp__comment__count__wrap
			right: $big
			+respond-min($break-2)
				right: $little
	.cp__buttons__large__wrap
		.cp__buttons__title__wrap
			padding: 0 $compact 0 $compact
			+respond-min($break-2)
				padding: 0 0 0 0

.cp__buttons__large-photo__wrap
	padding-top: $compact

.cp__buttons__large__wrap
	padding-top: $compact

