//main cp styles
$cp__buttons__image-height: em(165px)

//hide breadcrumbs for cp
.for-centerpage
	.main-nav
		margin-bottom: 0px
	.main-nav__breadcrumbs
		display: none
	.main
		overflow: hidden
		+tablet()

//standard classes for cp
.cp__link--light, %cp__link--light
	a
		+link-colors($black, $black, $black, $black, $black)
		text-decoration: none
		+transition(none)
		+on-interaction
			border-bottom: 0px
			text-decoration: none

.cp__link--light--underlined, %cp__link--light--underlined
	a
		+link-colors($black, $black, $black, $black, $black)
		text-decoration: none
		+on-interaction
			text-decoration: none
			border-color: $black
			border-bottom-width: $dblhair

.cp__link--dark, %cp__link--dark
	@extend %cp__link--light
	a
		+link-colors($white, $white, $white, $white, $white)

.cp__link--dark--underlined, %cp__link--dark--underlined
	@extend %cp__link--light--underlined
	a
		+link-colors($white, $white, $white, $white, $white)
		+on-interaction
			border-color: $white

//teaser type button
.cp__buttons__wrap, %cp__buttons__wrap
	width: 100%
	span
		display: block
	margin-bottom: $compact
		
.cp__buttons__image
	overflow: hidden
	height: $cp__buttons__image-height*1.5
	margin-bottom: $small
	img
		width: 100%
		height: 100%
	+respond-min($break-2)
		height: $cp__buttons__image-height

.cp__buttons__title__wrap
	display: block

.cp__buttons__supertitle
	@extend %cp__link--light
	@extend %copy
	margin-bottom: $micro
	line-height: $petite
	color: $black
	font-size: $font-s
	letter-spacing: $hair

.cp__buttons__title
	@extend %cp__link--light--underlined
	+tablet(bold)
	line-height: $petite
	color: $black
	font-size: $font-ml
	margin: 0 0 $thin 0

.cp__buttons__subtitle
	@extend %cp__link--light
	@extend %copy
	line-height: $junior
	color: $black
	font-size: $font-s
