//main cp styles

//hide breadcrumbs for cp
.for-centerpage
	.main-nav
		margin-bottom: 0px
	.main-nav__breadcrumbs
		display: none
	.main
		overflow: hidden
		+tablet()

//standard classes for cp
.cp__link--light, %cp__link--light
	a
		+link-colors($black, $black, $black, $black, $black)
		text-decoration: none
		+transition(none)
		+on-interaction
			border-bottom: 0px
			text-decoration: none

.cp__link--light--underlined, %cp__link--light--underlined
	a
		+link-colors($black, $black, $black, $black, $black)
		text-decoration: none
		+on-interaction
			text-decoration: none
			border-color: $black
			border-bottom-width: $dblhair

.cp__link--dark, %cp__link--dark
	@extend %cp__link--light
	a
		+link-colors($white, $white, $white, $white, $white)

.cp__link--dark--underlined, %cp__link--dark--underlined
	@extend %cp__link--light--underlined
	a
		+link-colors($white, $white, $white, $white, $white)
		+on-interaction
			border-color: $white