.main-footer
  +tablet
  display: block
  background-color: $grey--mid-dark
  text-align: center
  padding: $big $small $large $small

.main-footer__Z
  margin-bottom: $small
  &:after, &:before
    +inline-block
    content: ''
    max-width: em(140px)
    width: 30%
    height: 1px
    background-color: $grey

.main-footer__Z__img
  +inline-block
  margin: 0 $small
  width: em(15px)
  max-width: em(15px)

.main-footer__C
  color: $grey
  text-transform: uppercase
  letter-spacing: 1px