$nav__row-height: em(50px)
$nav__break__full-menu: em(768px)
$nav__logo-mobile-width: image-width('zeit-logo.png')/24
$nav__logo-mobile-height: image-height('zeit-logo.png')/2
$nav__logo-full-width: image-width('zeit-logo.png')/2
$nav__logo-full-height: image-height('zeit-logo.png')/2
$nav__service-primary-full-width: 200px
$nav__section-border: 1px solid $grey--mid

// mobile hover
// click wherever to close menus
// close menus when others open
// spacing, colors
// breadcrumb mobile finetuning
// außerhalb von artikel
// "Startseite Zeit Magazin" auf Desktop
// longform adjustment: content-breite 1420

.main-nav
  position: relative
  width: 100%
  max-width: $max-page-width - $page-padding*2
  margin: 0 auto
  margin-bottom: $nav__row-height
  &.is-full-width
    max-width: none
    margin-bottom: 0
    z-index: 20
  +respond-min($nav__break__full-menu)
    margin-bottom: $nav__row-height * 2
    height: $nav__row-height * 2
    background-color: $grey--mid-dark
  a
    +link-colors($white, $white, $white, $white, $white)
    +tablet
    border-width: 0
    +respond-min($nav__break__full-menu)
      margin-bottom: $thin
    &.is-active
      opacity: 0.5

.main-nav__wrap
  +respond-min($nav__break__full-menu)
    max-width: $max-page-width - $page-padding*2
    margin: 0 auto
    height: 100%
    position: relative
    .is-full-width &
      border-left: $nav__section-border
      border-right: $nav__section-border

.main-nav__logo
  float: left
  width: $nav__row-height
  height: $nav__row-height
  color: $white
  background-color: $grey--mid-dark
  margin-right: 1px
  border: none
  margin-bottom: 0 !important
  position: relative
  overflow: hidden
  +respond-min($nav__break__full-menu)
    width: em($nav__logo-full-width) + 2*$fine
    border-bottom: $nav__section-border !important


.main-nav__logo__wrap
  width: $nav__logo-mobile-width
  height: $nav__logo-mobile-height
  position: absolute
  overflow: hidden
  left: 50%
  top: 50%
  margin-left: -$nav__logo-mobile-width/2
  margin-top: -$nav__logo-mobile-height/2
  +respond-min($nav__break__full-menu)
    margin-left: -$nav__logo-full-width/2
    margin-top: -$nav__logo-full-height/2
    width: $nav__logo-full-width
  img
    width: $nav__logo-full-width
    height: $nav__logo-full-height
    min-width: $nav__logo-full-width
    min-height: $nav__logo-full-height
    max-width: $nav__logo-full-width
    max-height: $nav__logo-full-height


.main-nav__menu
  overflow: hidden
  height: $nav__row-height
  background-color: $grey--mid-dark
  +respond-min($nav__break__full-menu)
    background: none
    border-bottom: $nav__section-border


.main-nav__menu__head
  height: 100%
  cursor: pointer
  text-align: right
  +respond-min($nav__break__full-menu)
    border-left: $nav__section-border


.main-nav__menu__head__headline
  +tablet
  +inline-block
  +no-user-select
  color: $white
  font-size: $font-s
  letter-spacing: 1px
  float: left
  height: 100%
  margin-left: $small
  line-height: em_to_rem($nav__row-height)
  +respond-min($nav__break__full-menu)
    display: none


.main-nav__menu__head__hamburger
  +hide-text
  +inline-block
  width: 25px
  height: 5px
  right: $small
  top: $nav__row-height/5
  background-color: $white
  margin: 5px 0
  overflow: visible
  position: relative
  &:before, &:after
    position: absolute
    width: 100%
    height: 5px
    left: 0
    color: red
    content: 'lol'
    display: block
    border: 0 solid $white
  &:before
    border-top-width: 5px
    top: -10px
  &:after
    bottom: -10px
    border-bottom-width: 5px
  +respond-min($nav__break__full-menu)
    display: none


.main-nav__menu__content
  display: none
  position: absolute
  left: 1px
  width: 100%
  width: -moz-calc(100% - 1px)
  width: -webkit-calc(100% - 1px)
  width: calc(100% - 1px)
  padding-left: $nav__row-height
  +respond-min($nav__break__full-menu)
    display: block
    position: static


.main-nav__menu__content__current-ressort
  background-color: $grey--mid-dark
  display: block
  padding: $fine


.main-nav__section
  background-color: $grey--mid-dark
  border-top: 1px solid $grey--light
  border-bottom: 1px solid $grey--dark
  +respond-min($nav__break__full-menu)
    border: none
    background-color: $grey--mid-dark
    height: $nav__row-height


.main-nav__section__trigger
  +tablet
  +no-user-select
  color: $white
  font-size: $font-s
  letter-spacing: 1px
  cursor: pointer
  background-color: $grey--mid-dark
  padding: $fine
  display: block
  +respond-min($nav__break__full-menu)
    padding: 0
    height: 100%


.main-nav__section__content
  display: none
  padding: $small
  &.is-always-open, &.is-open
    display: block
  a
    font-size: $font-s
    letter-spacing: 1px
    display: block
    padding: $micro 0
  +respond-max($nav__break__full-menu)
    .main-nav__ressorts &
      +column-count(2)
      +column-gap($compact)
  +respond-min($nav__break__full-menu)
    min-width: em(120px)
    background-color: $grey--mid-dark
    .main-nav__ressorts &,
    .main-nav__service-primary &,
      padding: $fine
  .main-nav__all-ressorts &,
  .main-nav__service &
    +column-count(2)
    +column-gap($compact)
  .main-nav__all-ressorts &,
  .main-nav__service &,
  .main-nav__community &
    padding-bottom: $micro !important
    .main-nav__section__content
      height: 100%
      +respond-min($nav__break__full-menu)
        padding-bottom: $micro !important

=nav__open-submenu
  display: block
  left: 0
  top: 100%
  top: -moz-calc(100% + 1px)
  top: -webkit-calc(100% + 1px)
  top: calc(100% + 1px)
  position: absolute
  z-index: 10
  .main-nav__service-primary &
    left: auto
    right: 0
    width: 100%
  .main-nav__ressorts &
    position: static


+respond-min($nav__break__full-menu)
  .has-hover
    .main-nav__all-ressorts,
    .main-nav__service,
    .main-nav__search,
    .main-nav__community
      .main-nav__section__trigger:hover + .main-nav__section__content,
      .main-nav__section__content:hover
        +nav__open-submenu

  .main-nav__all-ressorts,
  .main-nav__service,
  .main-nav__search,
  .main-nav__community
    .main-nav__section__content.is-open
      +nav__open-submenu

  .has-hover .main-nav__all-ressorts:hover,
  .has-hover .main-nav__service:hover,
  .has-hover .main-nav__community:hover,
  .main-nav__all-ressorts.has-open-menu,
  .main-nav__service.has-open-menu,
  .main-nav__community.has-open-menu
    border-bottom-color: $grey--mid-dark


.main-nav__service-primary
  a
    +inline-block
    margin-right: $small
    &:last-child
      margin-right: 0
  +respond-min($nav__break__full-menu)
    position: absolute
    top: $nav__row-height
    right: 0
    left: auto
    text-align: right
    width: $nav__service-primary-full-width
    overflow: hidden
    .main-nav__section__content
      padding-right: $small


.main-nav__all-ressorts
  +respond-min($nav__break__full-menu)
    position: absolute
    border-right: $nav__section-border
    left: em($nav__logo-full-width) + em(22px)
    top: 0
    padding: 0 $small

.main-nav__all-ressorts,
.main-nav__service,
  .main-nav__section__trigger
    padding-right: $compact
    background-position: right center
  +respond-max($nav__break__full-menu)
    .main-nav__section__trigger
      background: none

.main-nav__ressorts
  +respond-min($nav__break__full-menu)
    position: absolute
    top: $nav__row-height
    left: 0
    overflow: hidden
    width: 100%
    padding-right: $nav__service-primary-full-width
    white-space: nowrap
    .main-nav__section__content
      overflow: scroll
      position: relative
      height: 100%
      margin-left: $fine
      padding: 0
      .main-nav__section__content__wrap
        +transition(left, 0.2s)
        position: absolute
        left: 0
        height: 100%
        padding: $fine 0
      .has-topic-slider &
        padding-right: $medium*2
        overflow: hidden
        &:after
          content: ''
          position: absolute
          height: 100%
          width: $medium*2
          background-color: $grey--mid-dark
          z-index: 5
          right: 0
    a
      +inline-block
      margin-right: $small
      margin-top: $hair
      margin-bottom: 0
      &:last-child
        margin-right: 0

.main-nav__ressorts__slider-arrow--left,
.main-nav__ressorts__slider-arrow--right
  width: $medium
  height: $nav__row-height
  position: absolute
  z-index: 10
  background-position: center center
  display: none
  cursor: pointer
  .has-topic-slider &
    display: block
  &.is-inactive
    opacity: 0.5
    cursor: default

.main-nav__ressorts__slider-arrow--left
  right: $medium
.main-nav__ressorts__slider-arrow--right
  right: 0

.main-nav__service
  border-left: $nav__section-border
  +respond-min($nav__break__full-menu)
    position: absolute
    right: $nav__row-height + em(66px)
    top: 0
    padding: 0 $small
    .main-nav__section__content
      left: auto !important
      right: 0


.main-nav__search
  input
    +tablet
    +inline-block
    margin-top: $thin/2
    vertical-align: middle
    border: none
    padding: $hair $thin
    height: $nav__row-height - $thin
  input[type=text]
    background-color: $grey--mid
  input[type=submit]
    background-color: $black
    color: $white
  +respond-min($nav__break__full-menu)
    position: absolute
    border-left: $nav__section-border
    border-right: $nav__section-border
    padding: 0
    right: $nav__row-height + em(14px)
    top: 0
    .main-nav__section__content
      left: auto !important
      top: 0 !important
      height: $nav__row-height
      padding: 0
      padding-left: $thin/2
      border-left: $nav__section-border
      right: $nav__row-height + $micro
      white-space: nowrap
      border-bottom: $nav__section-border
    .main-nav__section__trigger
      +hide-text
      background-position: center center
      width: em_to_rem($nav__row-height)
  +respond-max($nav__break__full-menu)
    .main-nav__section__trigger
      background: none


+respond-min($nav__break__full-menu)
  .main-nav__all-ressorts,
  .main-nav__service,
  .main-nav__search
    border-bottom: $nav__section-border
    .main-nav__section__trigger
      line-height: em_to_rem($nav__row-height)

  .main-nav__all-ressorts,
  .main-nav__service,
  .main-nav__community
    .main-nav__section__content
      &:before, &:after
        position: absolute
        content: ''
        height: $nav__row-height
        top: 0
        pointer-events: none
        width: 80px
      &:before
        +background-image(linear-gradient(left, rgba($black, 0), rgba($black, 0.3)))
        right: 100%
      &:after
        +background-image(linear-gradient(left, rgba($black, 0.3), rgba($black, 0)))
        left: 100%
  .main-nav__community
    .main-nav__section__content
      &:after
        background: none


.main-nav__community
  +respond-min($nav__break__full-menu)
    position: absolute
    right: 0
    padding: 0 $fine 0 $fine
    left: auto
    top: 0
    border-bottom: $nav__section-border
    .main-nav__section__trigger
      background: none
      width: $nav__row-height
      height: $nav__row-height
      max-width: $nav__row-height
      max-height: $nav__row-height
      overflow: hidden
    .main-nav__section__content
      left: auto !important
      right: 0
  img
    +border-radius(50%)
    padding: $thin

.main-nav__breadcrumbs
  +respond-min($nav__break__full-menu)
    position: absolute
    left: 0
    background: none
    width: 100%
    top: 2*$nav__row-height
    padding: 0
    .main-nav__section__content
      background: none
      padding: 0

