$nextread-background: #f7f7f7
$nextread-bordercolor: #eee
$nextread-image-width: 260px
$nextread-image-height: 172px
$nextread-minimal-height: em(165px)
$nextread-maximal-height: em(320px)

%nextread-link-dark
	a
		+link-colors($black, $black, $black, $black, $black)

%nextread-link-light
	a
		+link-colors($white, $white, $white, $white, $white)


.article__nextread
	+unpadded
	+tablet(bold)
	color: $black
	background-color: $nextread-background
	border-top: 1px solid $nextread-bordercolor
	margin-top: $huge
	padding-bottom: $huge

.article__nextread__lead
	font-size: $font-m
	letter-spacing: $hair
	padding: $medium 0
	text-align: center
	text-transform: uppercase

.article__nextread__body

.article__nextread__supertitle
	@extend %supertitle
	font-size: $font-s
	display: block
	padding-bottom: $micro

.article__nextread__title
	display: block
	font-size: $font-l
	letter-spacing: 1px
	+respond-min($break-1)
		font-size: $font-xl
	+respond-min($break-2)
		font-size: $font-xxl

.nextread-base
	@extend %nextread-link-dark
	position: relative
	img
		height: auto
		display: block
		width: 100%
		+respond-min($break-2)
			display: table-cell
			height: $nextread-image-height
			width: $nextread-image-width
	.article__nextread__body
		background: $white
		margin: 0 auto
		max-width: $medium-content-width
		width: 80%
		+respond-min($break-2)
			display: table
			height: $nextread-image-height
	.article__nextread__article
		padding: $medium
		+respond-min($break-2)
			display: table-cell
			padding: 0 $small
			vertical-align: middle
			.article__nextread__title
				font-size: $font-xl
				padding: 0
				text-align: left
			.article__nextread__supertitle
				text-align: left
				padding: 0

.nextread-minimal
	@extend %nextread-link-dark
	.article__nextread__body
		background: $white
		margin: 0 auto
		padding: $medium
		width: 80%
	.article__nextread__article
		text-align: center


.nextread-maximal
	@extend %nextread-link-light
	+respond-min($break-1)
		padding-left: $medium
		padding-right: $medium
	.article__nextread__body
		+background-size(cover)
		display: table
		height: $nextread-minimal-height
		width: 100%
		+respond-min($break-1)
			height: $nextread-minimal-height * 1.5
		+respond-min($break-2)
			height: $nextread-maximal-height
	.article__nextread__article
		display: table-cell
		padding: 0 $small
		text-align: center
		vertical-align: middle
	.article__nextread__title
		font-size: $font-xl
		+respond-min($break-1)
			font-size: $font-xxl
		+respond-min($break-2)
			font-size: $font-xxxl
		+respond-min($break-3)
			font-size: $font-xxxxl


