%pagerlink
	display: block
	color: $grey--mid
	-webkit-transition: none
	-moz-transition: none
	-o-transition: none
	transition: none
	&:link, &:hover, &:active, &:focus
		border-bottom: none
		text-decoration: none
	&:link, &:visited
		color: $grey--mid
	&:hover
		+tablet(bold)
		line-height: $medium

%pager
	+tablet
	font-size: $font-s
	+inline-block
	line-height: $medium
	margin: 0 $small
	min-width: $junior
	min-height: $medium
	text-align: center
	vertical-align: center
	color: $grey--mid
	a
		@extend %pagerlink

%pagerarrow
	a
		@extend %pagerlink
		background-color: $grey--light
		background-position: 50% 50%
		background-size: 36%
		text-indent: -50000em
		&:hover
			background-color: $grey--dark
	span
		display: block
		background-color: $grey--bright
		color: $grey--light
		background-position: 50% 50%
		background-size: 36%
		text-indent: -50000em


.article__pagination
	padding-top: $mediumhuge

.article__pagination__nexttitle
	+tablet(bold)
	color: $grey--dark
	text-align: center
	margin-bottom: $large
	a
		+link-colors($grey--dark, grey--dark, $grey--dark, $grey--dark, $grey--dark)
		+transition(none)
		+on-interaction
			border-bottom: 0px
			text-decoration: none

.paginator__dash
	color: $charcoal

.article__pager
	list-style: none
	text-align: center
	padding-bottom: $large
	padding-left: 0px

.article__pager__prev
	@extend %pager
	@extend %pagerarrow

.article__pager__number
	@extend %pager

.article__pager__number.is-current
	a
		&:link, &:visited, &:active
			color: $charcoal
			cursor: default
		&:hover
			+tablet
			line-height: $medium

.article__pager__next
	@extend %pager
	@extend %pagerarrow

