.photocluster
    position: relative

.photocluster__item
    padding: 0 5px
    margin-bottom: 10px
    width: 100%
    +respond-min($break-1)
        &.size-s
            width: 25%
        &.size-m
            width: 50%
        &.size-l
            width: 50%
    img
        width: 100%
