.photocluster
  position: relative
  padding: 0
  margin: 0

.photocluster__item
  padding: 5px
  margin: 0
  width: 100%
  &.size-s
    +respond-min($break-1)
      width: 25%
  &.size-m
    +respond-min($break-1)
      width: 50%
  &.size-l
    +respond-min($break-1)
      width: 50%
  img
    width: 100%