.portraitbox
    +tablet
    margin: $large $big $petite $petite !important
    width: em(180px)
    +respond-max($break-2)
        display: none
    .portraitbox-heading
        font-weight: bold
        font-size: $font-s
        line-height: $headline-line-height
        letter-spacing: $hair
        margin-bottom: $fine
        text-transform: uppercase
    p
        font-size: $font-xs
