.portraitbox
    margin-bottom: em(10px)
    margin-left: em(20px)
    margin-right: em(40px)
    margin-top: em(30px)
    width: em(200px)
    .portraitbox-heading
        font-family: "TabletGothic-Bold", $sans-fallbacks
        font-size: $little
        letter-spacing: 1px
        line-height: em(20px)
        margin-bottom: em(10px)
        text-transform: uppercase
    p
        font-family: "TabletGothic", $sans-fallbacks
        font-size: em(12px)
        line-height: em(18px)
