.portraitbox
    margin: em(55px) em(45px) em(20px) em(20px) !important
    width: em(180px)
    +respond-max($break-2)
        display: none
    .portraitbox-heading
        font-family: "TabletGothic-Bold", $sans-fallbacks
        font-size: $little
        letter-spacing: 1px
        line-height: em(20px)
        margin-bottom: em(10px)
        text-transform: uppercase
    p
        font-family: "TabletGothic", $sans-fallbacks
        font-size: em(12px)
        line-height: 1.5em
