// styles for product galleries

.product
    margin: 0 auto 1.125em
    max-width: 40em

.product__wrap__entry
    width: 15em
    margin: 2em
    display: inline-block
    vertical-align: top

.product__image
    margin: 0 auto $fine
    width: 14em

.product__caption__text
    font-size: $font-ml
    margin-bottom: $fine

.product__caption__copyright
    color: $grey
    font-size: $font-xs
    margin-left: $medium