// styles for product galleries

.product
    margin: 0 auto $small
    max-width: $medium-content-width

.product__wrap
    margin-top: $large

.product__wrap__entry
    width: $medium-content-width/2
    padding: 0 $compact
    margin: 0 0-$hair $large
    display: inline-block
    vertical-align: top

.product__image
    margin: 0 auto $medium
    max-width: ($medium-content-width/2)-(2*$medium)

.product__caption
    margin: 0 auto
    font-size: $font-s

.product__caption__text
    color: $grey--mid
    margin-bottom: $micro
    line-height: $font-ml

.product__caption__copyright
    color: $charcoal
    margin: $dblhair 0 $dblhair $small