.scroller-gallery, .no-js .inline-gallery
	.figure-full-width
		margin-top: 0
		margin-bottom: $little
		position: relative
		&:first-child
			margin-top: $medium
	.figure__caption
		bottom: 0
		color: $white
		font-size: em(18px)
		left: 0
		margin: 0
		max-width: 100%
		padding: $little
		position: absolute
		text-shadow: 1px 1px 3px $black
		width: 100%
		z-index: 9999
	.figure__copyright
		display: block
		color: $grey
