.gallery
    background-color: $grey--light
    margin-top: $compact
    margin-bottom: $compact
    // disable padding
    margin-left: -$page-padding--small
    margin-right: -$page-padding--small
    +respond-min($break-1)
        margin-top: $big
        margin-bottom: $big
        margin-left: -$page-padding
        margin-right: -$page-padding
        padding: $compact $page-padding
    +respond-min($break-3)
        margin-left: -($page-padding+$gutter/2)
        margin-right: -($page-padding+$gutter/2)
        padding: $medium $big $large
    .figure__caption
        max-width: none
        +respond-max($break-1)
            color: $white
            background-color: rgba(0,0,0,0.3)
            position: absolute
            left: 0
            bottom: 0
            display: none
            margin-top: 0
            padding: 15px
            max-width: none !important
            .figure__caption__copyright
                color: $white

.gallery__description
    +tablet
    font-size: $font-s

.gallery__info
    margin: 0 auto
    max-width: em(660px)
