.supertitle, %supertitle
  font-family: $sans-serif-base-font
  letter-spacing: 2px
  margin-bottom: $micro

.meta, %meta
  font-family: $sans-serif-base-font
  font-weight: bold
  text-transform: uppercase
  font-size: $font-s

.headline, %headline
  font-family: $sans-serif-base-font
  font-weight: bold
  letter-spacing: 1px
  line-height: $headline-line-height

.video--fallback
  position: absolute
  top: -50%
  right: -50%
  bottom: -50%
  left: -50%
  margin: auto
  width: auto
  height: auto
  min-width: 100%
  min-height: 100%
  max-width: none
  max-height: none
