.supertitle, %supertitle
  font-family: $sans-serif-base-font
  letter-spacing: 2px
  margin-bottom: $micro

.meta, %meta
  font-family: $sans-serif-base-font
  font-weight: bold
  text-transform: uppercase
  font-size: $font-s

.figcaption, %figcaption
  font-family: $sans-serif-base-font
  color: $grey--mid
  .figure__copyright
    color: $grey
  &--hidden
    display: none

.subheading, %subheading
  font-family: $sans-serif-base-font

.headline, %headline
  font-family: $sans-serif-base-font
  font-weight: bold
  letter-spacing: 1px
  line-height: $headline-line-height

.quote, %quote
  @extend %headline
  margin-left: 0

.quote__text
  +body-type-zoom
  display: block
  &:before
    content: '»'
    margin-right: 0.1em
  &:after
    content: '«'
    margin-left: 0.1em

.quote__author
  font-family: $sans-serif-base-font
  font-size: $font-s
  display: block
  color: $charcoal
  margin-top: $little
  &:before
    content: "\2014  "

.quote--wide, %quote--wide
  @extend %quote
  +respond-min($break-1)
    margin-left: $small
    max-width: 80%
  +respond-min($break-2)
    max-width: 70%
  +respond-min($break-3)
    max-width: 50%

.video--fallback
  position: absolute
  top: -50%
  right: -50%
  bottom: -50%
  left: -50%
  margin: auto
  width: auto
  height: auto
  min-width: 100%
  min-height: 100%
  max-width: none
  max-height: none
