{% extends "zeit.web.core:templates/inc/blocks/citation.html" %}

{% block citation_class %}quote quote--share{% endblock%}

{# w3c says: "Element aside not allowed as child of element figure." #}

{% block citation_after_block %}
    {% if toggles('arbeit_quote_sharing') -%}
    <aside class="quote quote--share quote-sharing">
        {# TODO: Hwhat? #}
        <h1 class="quote-sharing__label">Teilen:</h1>
        {% import 'zeit.web.arbeit:templates/macros/layout_macro.tpl' as lama %}
        {% set tracking_id = 'share' %}
        {% set ga_campaign = '&utm_medium=sm&utm_source={0}_zonaudev_ext&utm_campaign=ref&utm_content=zeitde_%s_link_x' | format(tracking_id) -%}
        {% set content_url = view.content_url ~ '?wt_zmc=sm.ext.zonaudev.{0}.ref.zeitde.%s.link.x' | format(tracking_id) %}

        <ul class="quote-sharing__items" data-ct-row="social">
            <li class="quote-sharing__item">
                <a class="{{ 'quote-sharing__link' | with_mods('facebook') }}" href="http://www.facebook.com/sharer/sharer.php?u={{ (content_url ~ ga_campaign).format('facebook') | urlencode }}&quote={{ block.text | urlencode }}" target="_blank" data-ct-label="facebook">
                    {{ lama.use_svg_icon('sharing-facebook', 'quote-sharing__icon' | with_mods('facebook'), view.package) }}
                    <span class="quote-sharing__text">Auf Facebook teilen</span>
                </a>
            </li>
            <li class="quote-sharing__item">
                <a class="{{ 'quote-sharing__link' | with_mods('twitter') }}" href="#" target="_blank" data-ct-label="twitter">
                    {{ lama.use_svg_icon('sharing-twitter', 'quote-sharing__icon' | with_mods('twitter'), view.package) }}
                    <span class="quote-sharing__text">Auf Twitter teilen</span>
                </a>
            </li>
        </ul>
    </aside>
    {% endif -%}
{% endblock %}
