+respond-min($break-tablet-min)
	.cp-region
		+pie-clearfix
		&--duo,
		&--trio,
		&--topic
			padding: 0 $cp-padding

	.cp-area
		&--duo
			display: flex
			float: left
			width: 50%
		&--trio
			float: left
			width: 33.33%
		&--zar-ranking
			margin: 0 auto
			max-width: $medium-content-width
