+respond-min($break-tablet-min)
	.cp-region
		+pie-clearfix
		&--duo,
		&--trio,
		&--topic
			padding: 0 $cp-padding

	.cp-area
		&--duo
			float: left
			width: 50%
		&--trio
			float: left
			width: 33.33%
		&--zar-ranking
			margin: 0 auto
			max-width: $medium-content-width

		&--newsticker
			padding: 0 $page-padding--small

		&--newsticker-on-autotopic,
		&--newsticker-on-manualtopic
			+pie-clearfix
			border-color: $color-border
			border-style: solid
			border-width: 1px 0
			padding-bottom: $vertical-space

		+respond-min($break-areas)
			&--newsticker
				clear: both
				margin: 0 auto
				padding: 0 $page-padding
			&--newsticker-on-autotopic,
			&--newsticker-on-manualtopic
				padding: remify(20px) $page-padding
			&--newsticker-on-autotopic,
			&--newsticker-on-manualtopic
				$max-ranking-width: $medium-content-width + 2 * $page-padding
				$ranking-box-shadow-width: (remify(780px) - $max-ranking-width) / 2
				background-color: $color-page-bg
				box-shadow: remify(-$ranking-box-shadow-width) 0 0 $color-page-bg, remify($ranking-box-shadow-width) 0 0 $color-page-bg
				max-width: $max-ranking-width
				padding-top: remify(20px)
				position: relative // give stacking context to align above header-image
