+respond-min($break-tablet-min)
	.cp-region
		+pie-clearfix
		&--duo,
		&--trio,
		&--topic
			padding: 0 $cp-padding

	.cp-area
		&--duo
			float: left
			width: 50%
		&--trio
			float: left
			width: 33.33%
