$jobbox-border-width: 6px

.jobbox-dropdown
	border: remify($jobbox-border-width) $color-jobs-areas solid
	margin: remify(32px) $page-padding--small remify(14px)
	position: relative
	+respond-min($break-tablet-min)
		margin: $vertical-space $cp-padding

	&__label
		@extend %teaser-adlabel
		color: $zar-cool-grey
		position: absolute
		top: remify(-20px)
		right: remify(-$jobbox-border-width)

	&__media
		// we do not load an image, but want to preserve the 16:9 space
		+reserve-space-for-teaser-media(100% / 16 * 9) // image variant 'wide' (16:9)
		background-color: $color-jobs-areas
		background-image: url('../../images/arbeit/jobbox/target.png')
		background-position: center
		background-repeat: no-repeat
		background-size: 45%

	&__container
		padding: remify(5px 20px)

	&__title
		@extend %teaser-title--s
		margin-top: remify(10px)

	&__text
		@extend %teaser-text
		margin: remify(8px 0)

	&__button
		@extend %zar-button-hollow--jobs
		margin: remify(8px) 0
		vertical-align: middle

	&__dropdown
		border-radius: 4px
		font-size: remify(16px)
		height: remify(38px)
		margin: remify(8px 10px 8px 0)
		max-width: remify(250px)
		padding: remify(8px 16px)
		vertical-align: middle
		.no-js &
			display: none
		+respond-min($break-tablet-min)
			+respond-max(em(850px))
				max-width: remify(150px)
		+respond-min(em(850px))
			+respond-max(em(950px))
				max-width: remify(200px)

	&__link
		border-bottom: 1px solid currentColor

// same height as other duo teasers on desktop for "modern" browsers
+respond-min($break-tablet-min)
	html.flexbox
		.jobbox-dropdown
			+teaser-duo-equal-height
	html.no-js
		@supports (display: flex)
			.jobbox-dropdown
				+teaser-duo-equal-height
