.jobbox-dropdown
	border: remify(6px) $color-jobs-areas solid
	margin: remify(14px) $page-padding--small
	+respond-min($break-tablet-min)
		margin: 0 $cp-padding

	&__media
		// we do not load an image, but want to preserve the 16:9 space
		+reserve-space-for-teaser-media(100% / 16 * 9) // image variant 'wide' (16:9)
		background-color: $color-jobs-areas
		background-image: url('/static/latest/images/arbeit/jobbox/rocket.png')
		background-position: center
		background-repeat: no-repeat
		background-size: 45%

	&__container
		padding: remify(5px 20px)

	&__title
		@extend %teaser-title--s

	&__text
		@extend %teaser-text

	&__button
		@extend %zar-button-hollow--jobs
		margin: 0
		vertical-align: middle

	&__dropdown
		border-radius: 4px
		font-size: remify(16px)
		height: remify(38px)
		margin-right: $page-padding--small
		max-width: remify(250px)
		padding: remify(8px 16px)
		vertical-align: middle
		.no-js &
			display: none

	&__link
		border-bottom: 1px solid currentColor

// same height as other duo teasers on desktop for "modern" browsers
// TODO: bei noJS ists doof.
+respond-min($break-tablet-min)
	html.flexbox
		.jobbox-dropdown
			height: 100%
			margin-bottom: 0
			margin-top: 0
