.markup
	font-family: $font-patronbold
	max-width: $wide-content-width
	margin-left: auto
	margin-right: auto
	padding: 0 $page-padding--small
	+respond-min($break-tablet-min)
		padding: $vertical-space $page-padding
	&__text
		color: $color-text
		> p
			margin: 0
