.markup
	font-family: $font-patronbold
	max-width: $wide-content-width
	margin-left: auto
	margin-right: auto
	padding: $vertical-space--small $page-padding--small
	+respond-min($break-tablet-min)
		padding: $vertical-space $page-padding
