.topicpage-header
	+padded
	margin: 0 auto
	max-width: $medium-content-width
	text-align: center

	&__heading
		font-size: remify(60px)
		line-height: 1.3

	&__kicker
		// TODO: unify into an abstract "stencil" class with the podcast header.
		color: $color-page-bg
		webkit-text-fill-color: $color-page-bg
		-webkit-text-stroke-width: 1px
		-webkit-text-stroke-color: $color-text
		// TODO: Außerdem: browser- und backwards-Kompatibilität

	&__title
		color: $color-text
		display: block
		font-family: $font-patronbold

	&__text
		color: red

// TODO: style explicitly? own class for _that_ markup?
.topicpage-header + .markup
	+padded
	margin: 0 auto
	max-width: $medium-content-width
	text-align: center
