//colors
$color_gallery_approx: #eee
$black: #000000
$color_shark_approx: #252525
$color_tundora_approx: #444444
$color_tapa_approx: #777777
$color_mountain_mist_approx: #999999
$color_celeste_approx: #cccccc
$white: #fff
$color_milano_red_approx: #b51211
$color_thunderbird_approx: #c82506

//fonts
$font_0: sans-serif
$font_1: Tablet Gothic
$font_2: Tablet Gothic Narrow
$font_3: Franziska FF
$font_4: serif

.color-swatch 
	position: relative
	font-family: $font_0
	border: 1px solid $color_gallery_approx
	height: 6em
	width: 6em
	line-height: 6em
	font-size: 0.8em
	border-radius: 50%
	&:before 
		display: block
		width: 100%
		right: -120%
		position: absolute

.color-swatch--black 
	background: $black
	&:before 
		content: '$black00'

.color-swatch--grey-mid-dark 
	background: $color_shark_approx
	&:before 
		content: '$color_shark_approx'

.color-swatch--grey-dark 
	background: $color_tundora_approx
	&:before 
		content: '$color_tundora_approx'

.color-swatch--grey-mid 
	background: $color_tapa_approx
	&:before 
		content: '$color_tapa_approx'

.color-swatch--grey 
	background: $color_mountain_mist_approx
	&:before 
		content: '$color_mountain_mist_approx'

.color-swatch--grey-light 
	background: #CCCCCC
	&:before 
		content: '#CCCCCC'

.color-swatch--grey-bright 
	background: #EEEEEE
	&:before 
		content: '#EEEEEE'

.color-swatch--white 
	background: $white
	&:before 
		content: '#FFFFFF'

.color-swatch--red 
	background: #B51211
	&:before 
		content: '#B51211'

.font--sans-serif 
	font-family: $font_1, $font_0
	font-weight: 400

.font--sans-serif-bold 
	font-family: $font_1, $font_0
	font-weight: 700

.font--sans-serif-narrow 
	font-family: $font_2, $font_0
	font-weight: 400

.font--serif-semibold 
	font-family: $font_3, $font_4
	font-weight: 600

.font-size 
	position: relative
	line-height: 1.4em
	font-family: $font_1, $font_0
	font-weight: 400
	font-size: 1.4em
	&:before 
		content: 'Nachrichten, Hintergründe und Debatten'
		border-radius: 5px
		border: 2px solid $color_gallery_approx
		display: block
		padding: 10px

	&:after 
		position: absolute
		top: 0
		right: 10px
		font-size: 14px
		top: 50%
		opacity: 0.5
		line-height: 14px
		margin-top: -6px

.font-size--xxxs 
	font-size: 10px
	&:after 
		content: '10px'

.font-size--xxs 
	font-size: 11px
	&:after 
		content: '11px'

.font-size--xs 
	font-size: 13px
	&:after 
		content: '13px'

.font-size--s 
	font-size: 14px
	&:after 
		content: '14px'

.font-size--m 
	font-size: 15px
	&:after 
		content: '15px'

.font-size--l 
	font-size: 16px
	&:after 
		content: '16px'

.font-size--xl 
	font-size: 18px
	&:after 
		content: '18px'

.font-size--xxl 
	font-size: 19px
	&:after 
		content: '19px'

.font-size--xxxl 
	font-size: 23px
	&:after 
		content: '23px'

.font-size--xxxxl 
	font-size: 26px
	&:after 
		content: '26px'

.article-teaser 
	margin-bottom: 20px

.article-teaser__header 
	margin: 0 auto

.article-teaser__header__subline 
	display: inline-block
	font-size: 0.9em
	color: $color_thunderbird_approx
	letter-spacing: 0.05em
	font-family: $font_1, $font_0

.article-teaser__header__headline 
	font-family: $font_3, $font_0
	display: inline-block
	width: auto
	color: $black
	font-size: 1.3em
	line-height: 1.2em
	margin: 0

.article-teaser__meta 
	font-weight: bold
	font-size: 0.8em
	font-family: $font_1, $font_0
	margin: 1em 0

.article-teaser__image 
	margin: 15px 0
	img 
		width: 100%
		height: auto

.article-teaser__text 
	margin-bottom: 0
	font-family: $font_1, $font_0

.font:before 
	content: 'Lorem ipsum Ut in deserunt velit in incididunt.'
	font-size: 1.4em
	border-radius: 5px
	border: 2px solid $color_gallery_approx
	display: block
	padding: 2em
	line-height: 1.4em
