<div class="{% block layout %}article-header-column{% endblock %}">
    <div class="{{ self.layout() }}__box">

    {#
    TODO: entscheiden was wir erben und überschreiben ... und was nicht.

    PRO gemeinsame Templates
     - Diese headertag-Logik und den Doppelpunkt will man nicht doppelt haben

    CONTRA gemeinsame Templates
     - keine Underline, also müsste man einen Container entfernen
     - diese Herausrück-Styles usw müsste man zurücksetzen

    #}

        {% set headertag = 'div' if view.pagination and view.pagination.current > 1 and view.current_page.teaser else 'h1' %}
        <{{ headertag }} class="{{ self.layout() }}__heading" itemprop="headline">
            <span class="{{ self.layout() }}__kicker">
                {{- view.supertitle -}}
            </span>
            {%- if view.title %}<span class="visually-hidden">: </span>{% endif -%}
            <span class="{{ self.layout() }}__title">
                {{- view.title -}}
            </span>
        </{{ headertag }}>

        {%- set byline = view.context | get_byline('main') %}
        {% if byline | length -%}
        <div class="{{ self.layout() }}__byline" data-ct-row="author">
            {% include 'zeit.web.core:templates/inc/meta/byline.html' %}
        </div>
        {% endif -%}

        {% require image = get_image(view.context, name='author', variant_id='square', fallback=False) -%}
            {% set media_caption_additional_class = 'figcaption--hidden' %}
            {# TODO: was unterscheidet das vom anderen articleheaderimage bei ZCO? Wrarum funzt unser ZAR Artikelheader nicht? #}
            {%- include "zeit.web.campus:templates/inc/article/header-image.html" -%}
        {% endrequire -%}

    </div>

{# TODO: hide the intro ("Eine Kolumne von XY") #}

{% block metadata %}
    {% include "zeit.web.arbeit:templates/inc/article/metadata.tpl" %}
{% endblock %}

</div>

{# TODO: Tests schreiben, besonders für noimage und intro-nicht-doppelt und mehrseitig #}
