{% block headerseries %}
    {% include "zeit.web.arbeit:templates/inc/article/series.tpl" %}
{% endblock %}

<div class="{{ 'article-header' | with_mods('dark', 'has-series' if view.has_series_attached) }}">
    {% block heading %}
        {% include "zeit.web.arbeit:templates/inc/article/heading.tpl" %}
    {% endblock %}

    {% block metadata %}
        {% include "zeit.web.arbeit:templates/inc/article/metadata.tpl" %}
    {% endblock %}
</div>

{% block header_image %}
    {% set article_header_image_figure_modifiers = 'article__item' | with_mods('full', 'rimless') %}
    {%- include "zeit.web.core:templates/inc/article/header-module.tpl" %}
{% endblock %}
