{% block headerseries %}
    {% include "zeit.web.arbeit:templates/inc/article/series.tpl" %}
{% endblock %}

{% block heading %}
    {% include "zeit.web.arbeit:templates/inc/article/heading.tpl" %}
{% endblock %}

{% block metadata %}
    {% include "zeit.web.arbeit:templates/inc/article/metadata.tpl" %}
{% endblock %}

{% block header_image %}
    {% set article_header_image_figure_modifiers = 'article__item' | with_mods('wide', 'rimless', 'apart') %}
    {%- include "zeit.web.core:templates/inc/article/header-module.tpl" %}
{% endblock %}
