{% extends "zeit.web.arbeit:templates/inc/article-header/default.html" %}
{% block heading %}
    <header class="{{ 'article-heading' | with_mods('podcast') }}" itemprop="headline">
        <div class="article-heading__container">
            <figure class="article-heading__media--podcast">
                <img src="http://img.zeit.de/zeit-magazin/2017-08/harald-martenstein-thermomix-zeitschriften-verantwortung/wide__400x200" alt="">
            </figure>
            <div>
                <h1 class="article-heading__headline--podcast">
                    {%- if view.serie -%}
                    <span class="{{ 'article-heading__series' | with_mods('podcast') }}">
                        Podcast: {{ view.serie -}}
                    </span>
                    {%- endif -%}
                    <span class="{{ 'article-heading__kicker' | with_mods('podcast') }}">
                        {{- view.supertitle -}}
                    </span>
                    {%- if view.title %}<span class="visually-hidden">: </span>{% endif -%}
                    <span class="{{ 'article-heading__title' | with_mods('podcast') }}">{{- view.title -}}</span>
                </h1>
                <div class="article-heading__podcast-player">
                    {% include "zeit.web.core:templates/inc/article/header-module.tpl" %}
                </div>
            </div>
        </div>
        <hr class="article-heading__separator--podcast">
        <div class="article-heading__sharing--podcast">
            {% include "zeit.web.arbeit:templates/inc/article/sharing-podcast.html" %}
        </div>
    </header>
{% endblock %}
