{% extends "zeit.web.arbeit:templates/inc/article-header/default.html" %}
{% block heading %}
    <header class="{{ 'article-heading' | with_mods('podcast') }}" itemprop="headline" data-ct-area="articleheader">
        <div class="{{ 'article-heading__container' | with_mods('podcast') }}">
            <figure class="{{ 'article-heading__media' | with_mods('podcast') }}">
                <img src="/arbeit/image/podcast-illustration/original" alt="Dummy">
            </figure>
            {% block header_image %}
                {% include "zeit.web.arbeit:templates/inc/article-header/image.html" %}
            {% endblock %}
            <div>
                <h1 class="{{ 'article-heading__headline' | with_mods('podcast') }}">
                    {%- if view.serie -%}
                    <span class="{{ 'article-heading__series' | with_mods('podcast') }}">
                        Podcast: {{ view.serie -}}
                    </span>
                    {%- endif -%}
                    <span class="{{ 'article-heading__kicker' | with_mods('podcast') }}">
                        {{- view.supertitle -}}
                    </span>
                    {%- if view.title %}<span class="visually-hidden">: </span>{% endif -%}
                    <span class="{{ 'article-heading__title' | with_mods('podcast') }}">{{- view.title -}}</span>
                </h1>
                <div class="article-heading__podcast-player">
                    {% include "zeit.web.core:templates/inc/article/header-module.tpl" %}
                </div>
            </div>
        </div>
        <div class="{{ 'article-heading__sharing' | with_mods('podcast') }}">
            {% include "zeit.web.arbeit:templates/inc/article/sharing-podcast.html" %}
        </div>
    </header>
{% endblock %}
