.video-centerpage-link
	+link
		color: inherit
		text-decoration: none
	text-transform: uppercase
	font-size: remify(16px)
	background-color: lighten(#33333A, 20%)
	display: inline-block
	margin: remify($small--px) auto