.video-centerpage-link
	+zon-button-dark($margin: 0 0 $page-padding)
	width: 100%
	+respond-min($break-phablet-min)
		position: absolute
		right: $page-padding
		top: remify(14px)
		width: remify(140px)
