.article--video
	// needs a clearfix hack, in case the floating ad--tile is higher than the content
	+pie-clearfix
	background-color: $color-dark-background
	color: $zon-lighter-grey
	padding-bottom: remify(40px)
	+font-smoothing
	+respond-min($break-tablet-min)
		padding-top: remify(48px)
	+respond-min($break-desktop-min)
		padding-top: remify(68px)

	.article-heading
		margin-top: remify(20px)
		+respond_min($break-tablet-min)
			margin-top: remify(40px)
		&__kicker
			color: $zon-mid-grey
		&__title
			color: $zon-lighter-grey
			+respond-min($break-desktop-min)
				font-size: remify(30px)

	.summary
		color: $zon-light-grey
		+respond-min($break-tablet-min)
			font-size: remify(18px)

	.metadata
		color: $zon-mid-grey
		margin-bottom: 0

	// TODO: ad-div should have ".ad-desktop--7-on-video" and then we could
	// apply the styles to this class.
	.ad-desktop--7,
	.ad-desktop--8
		border-left: 1px solid $zon-grey
		margin-left: remify(20px)
		margin-top: remify(40px) // 'top' should be not less than .article-heading
		padding-left: remify(20px)
		position: relative

		// sometimes, ads have transparency and rely on a white background
		iframe
			background-color: $white

// article__item inside article--video behave like the video (same width as
// video), except on small screens, where we want to preserve the default
// padding of the container. So we use the max-width definition of
// .article__item--wide.

+respond-min($break-desktop-min)
	.article--video .article__item
		max-width: remify(820px)
