.video-player
	position: relative
	width: 100%
	&:after
		content: ''
		display: block
		padding-top: 56.25%
	&__iframe
		border: none
		bottom: 0
		height: 100%
		left: 0
		position: absolute
		right: 0
		top: 0
		width: 100%
		z-index: 5