.video-stage-heading
	color: #eee
	font-size: em(18px)
	letter-spacing: $zon-letter-spacing-m
	line-height: 3.5
	margin: 0
	+respond-min($break-phablet-min)
		font-size: em(24px)
		line-height: remify(70px)

	&__logo
		height: remify(18px)
		margin-left: remify(4px)
		vertical-align: remify(-1px)
		width: remify(168px)
