.video-small-title
	bottom: remify(12px)
	left: remify(12px)
	line-height: 1
	margin: 0 remify(12px) 0 0
	position: absolute
	z-index: 2
	&__kicker
		color: #eee
		display: none
		font-size: remify(13px)
		font-weight: normal
		letter-spacing: $zon-letter-spacing-l
		margin-bottom: remify(4px)
		+respond-min($break-desktop-min)
			display: block
	&__title
		color: #fff
		font-size: remify(16px)
		letter-spacing: $zon-letter-spacing-s
		+font-smoothing()
