.video-text-playbutton
	color: lighten(#777, 20%)
	font-size: remify(14px)
	font-weight: 300
	+font-smoothing()
	&:before
		content: '\25B6' // ▶ = Black right-pointing triangle
		font-size: 90%
		padding: 0 remify(4px) 0 0
		vertical-align: middle
	&__text
		display: none
		&--block
			font-weight: bold
			letter-spacing: $zon-letter-spacing-m
			text-transform: uppercase
			+respond-min($break-phablet-min)
				display: inline
				padding: 0 remify(4px) 0 0
	&__duration
		font-weight: 300
	&--block
		bottom: $video-title-padding
		left: $video-title-padding
		position: absolute
		z-index: 2
		+respond-min($break-phablet-min)
			+zon-button-dark($color: $white, $margin: 0)
		+respond-min($break-desktop-min)
			bottom: auto
			left: auto
			margin: remify(0 0 15px 15px)
			position: static
	&--inline
		display: inline
		+respond-min($break-desktop-min)
			display: block
			padding-top: remify(7px)
	&--hidden
		display: none
