.video-large-title
	bottom: remify(40px)
	left: $video-title-padding
	margin: 0
	position: absolute
	text-shadow: 0 1px 0 black
	z-index: 2
	+respond-min($break-phablet-min)
		bottom: remify(66px)
	+respond-min($break-desktop-min)
		bottom: remify(-66px)
	&__kicker
		display: block
		font-size: remify(14px)
		font-weight: normal
		-webkit-font-smoothing: antialiased
	&__title
		display: block
		font-size: remify(16px)
		-webkit-font-smoothing: antialiased
		+respond-min($break-phablet-min)
			font-size: remify(20px)
		+respond-min($break-tablet-min)
			font-size: remify(22px)
	&--playing
		display: none
		+respond-min($break-desktop-min)
			display: block
	