.video-stage-footer
	margin: 0 (-$page-padding)
	padding: 0 $page-padding
	+respond-min($break-phablet-min)
		background-color: #232328
		padding: $page-padding $page-padding 0 $page-padding
		height: remify(76px)
		position: relative
	+respond-min($break-desktop-min)
		margin: 0 0 0 (-$page-padding)