.video-text-playbutton
	bottom: $video-title-padding
	color: #777
	font-size: remify(14px)
	left: $video-title-padding
	position: absolute
	z-index: 2
	&:before
		content: '\25B6' // ▶ = Black right-pointing triangle
		font-size: 90%
		padding: 0 remify(4px) 0 0
		vertical-align: middle
	&__text
		display: none
		font-weight: bold
		letter-spacing: 0.05em
		text-transform: uppercase
		+respond-min($break-phablet-min)
			display: inline
			padding: 0 remify(4px) 0 0
	&--block
		+respond-min($break-phablet-min)
			color: $white
			+zon-button-dark
			margin: 0