.video-large
	color: $white
	margin: 0 (-$page-padding--small) $vertical-space
	+respond-min($break-phablet-min)
		margin-left: 0
		margin-right: 0
	&__combined-link
		display: block
		+link
			color: $white
	&__container
		position: relative
	&__inner
		position: relative
		z-index: 2
	&__description
		display: none
		font-size: em(16px)
		margin: remify(0 0 12px)
	&__byline
		@extend %teaser-metadata
		color: $zon-lighter-grey
		display: none

	+respond-min($break-desktop-min)
		&__description,
		&__byline
			display: block
