.video-series
	display: none
	+respond-min($break-phablet-min)
		left: $page-padding
		position: absolute
		top: $page-padding
		width: remify(190px)
	&__label
		+visuallyhidden
	&__select
		background-color: #1a1a1a
		border-radius: 4px
		border: 1px solid #444
		color: #999
		display: inline-block
		font-family: $font-tabletgothic
		font-size: 14px
		font-weight: normal
		height: 30px
		line-height: 30px
		margin-bottom: $page-padding
		padding: 4px 6px
		vertical-align: middle
		width: 100%

.js .video-series
	display: block