.video-large
	margin-bottom: $vertical-space
	&__combined-link
		+link
			color: $white
	&__container
		position: relative
	&__inner
		position: relative
		z-index: 2
	&__description
		@extend %teaser-text
		display: none
		color: $white
		font-size: $font-m
		+font-smoothing()
		+respond-min($break-desktop-min)
			display: block
