.video-text-playbutton
	color: lighten(#777, 20%)
	font-size: remify(14px)
	font-weight: 300
	+font-smoothing()
	&:before
		// On Unicode 6.1, one unicode code point can have multiple glyphs,
		// and you can choose those using variation selectors.
		// E.g. you can use U+FE0E for text style graph and U+FE0F for Apple Color Emoji.
		// @see http://stackoverflow.com/a/12950876
		content: '\25B6 \FE0E' // ▶ = Black right-pointing triangle (prevent color emoji on iOS)
		font-size: 90%
		padding: 0 remify(4px) 0 0
		vertical-align: middle
	&__text
		display: none
		&--block
			font-weight: bold
			letter-spacing: $zon-letter-spacing-m
			text-transform: uppercase
			+respond-min($break-phablet-min)
				display: inline
				padding: 0 remify(4px) 0 0
	&__duration
		font-weight: 300
	&--block
		bottom: $video-title-padding
		left: $video-title-padding
		position: absolute
		z-index: 2
		+respond-min($break-phablet-min)
			+zon-button-dark($color: $white, $margin: 0)
			background-color: rgba(0, 0, 0, 0.6)
		+respond-min($break-desktop-min)
			top: remify(-54px)
			bottom: auto
	&--inline
		display: inline
		+respond-min($break-desktop-min)
			display: block
			padding-top: remify(7px)
	&--hidden
		display: none
