.video-stage-heading
	color: #eee
	display: block
	font-size: remify(18px)
	font-weight: bold
	letter-spacing: $zon-letter-spacing-m
	line-height: 1.125
	text-align: center
	margin: 0 auto
	padding: remify($small--px) 0
	+font-smoothing()
	+respond-min($break-phablet-min)
		font-size: remify(24px)
	+respond-min($break-desktop-min)
		padding: 0
		position: absolute
		left: $page-padding
		top: remify($small--px)
	&__brand-name
		+hide-text
		display: inline-block
		position: absolute
	&__logo
		height: remify(20px)
		vertical-align: sub
		width: remify(136px)
		+respond-min($break-phablet-min)
			width: remify(197px)
			height: remify(27px)
		// +image_text_replacement(inline-block, text-bottom)
		// +old-ie
		// 	background: none !important
		// 	text-indent: 0
		// 	width: auto
