.video-stage
	background-color: #33333A
	color: $grey--light
	font-family: $font-tabletgothic
	margin: 0 (-$page-padding) remify($small--px) (-$page-padding)
	overflow: hidden
	padding: 0 $page-padding
	+respond-min($break-desktop-min)
		padding-right: 0
		position: relative