
// This is (currently) only the player on the video single page ("article of type video" = "video-article").
// If there is any confusion with videos inside of an ordinary article, we might reconsider the naming.
.video-article-player
	position: relative
	width: 100%
	&:after
		content: ''
		display: block
		padding-top: 56.25%
	&__iframe,
	&__videotag
		border: none
		bottom: 0
		height: 100%
		left: 0
		position: absolute
		right: 0
		top: 0
		width: 100%
	&--expanded
		margin: 0 (-$page-padding) // "overwrite" padding of the parent container
		width: auto
	+respond-min($break-tablet-min)
		max-width: remify($break-tablet-min)
		margin: remify(48px) auto
