.video-stage-secondary
	padding: remify(70px 20px 0)
	display: none
	+respond-min($break-phablet-min)
		display: flex
		justify-content: space-between
	+respond-min($break-desktop-min)
		background-color: #28282e
		display: table-cell
		vertical-align: top
		width: remify(320px)

	&__title
		display: none
		+respond-min($break-desktop-min)
			color: #BCBCBC
			display: block
			font-size: remify(14px)
			letter-spacing: $zon-letter-spacing-m
			line-height: remify(70px)
			margin: 0
			text-transform: uppercase
