.article--video
	background-color: #33333A
	color: $grey--light
	margin: 0 (-$page-padding) // enforce full width background with padding
	padding: 0 $page-padding remify(40px) $page-padding // enforce full width background with padding
	+respond-min($break-tablet-min)
		padding-top: remify(68px)

	.article-heading
		&__kicker
			color: $zon_mid_grey
		&__title
			color: $zon_lighter_grey

	.summary
		color: $zon_light_grey

	.metadata
		color: $zon_mid_grey
		margin-bottom: 0

		&__link
			color: inherit
			white-space: nowrap
			+on-interaction
				color: $zon_light_grey

		& > *
			&:after
				content: "/"
				margin: remify(0 8px)
			&:last-child:after
				content: none
