<meta charset="utf-8">
<title>{{ view.pagetitle }}</title>
<meta name="description" content="{{ view.pagedescription }}">
{% if view.meta_keywords -%}
    <meta name="keywords" content="{{ view.meta_keywords | join(', ') }}">
{% endif -%}
<meta name="robots" content="{{ view.meta_robots }}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" id="viewport-meta">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="msapplication-config" content="none">
{% if view.is_amp -%}
    <link rel="amphtml" href="{{ view.amp_url }}">
{% endif -%}
{% if view.canonical_url -%}
    <link rel="canonical" href="{{ view.canonical_url | safe }}">
{% endif -%}
{% if view.prev_page_url -%}
    <link rel="prev" href="{{ view.prev_page_url | safe }}">
{% endif -%}
{% if view.next_page_url -%}
    <link rel="next" href="{{ view.next_page_url | safe }}">
{% endif -%}
{% if view.syndication_source -%}
    <link rel="syndication-source" href="{{ view.syndication_source }}">
{% endif -%}
