    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//scripts.zeit.de">
    <link rel="dns-prefetch" href="//images.zeit.de">
    <link rel="dns-prefetch" href="//img.zeit.de">
    <link rel="dns-prefetch" href="//de.ioam.de">
    <link rel="dns-prefetch" href="//script.ioam.de">
    <link rel="dns-prefetch" href="//s62.mxcdn.net">
    <link rel="dns-prefetch" href="//i2.s62.research.de.com">
    <link rel="dns-prefetch" href="//www.googletagmanager.com">
    <link rel="dns-prefetch" href="//zeit01.webtrekk.net">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//securepubads.g.doubleclick.net">
    <link rel="dns-prefetch" href="//partner.googleadservices.com">
    <link rel="preconnect" href="//scripts.zeit.de">
    <link rel="preconnect" href="//img.zeit.de">
    <link rel="preconnect" href="//script.ioam.de">
    <link rel="preconnect" href="//i2.s62.research.de.com">
    <link rel="preconnect" href="//s62.mxcdn.net">
