{% if view.context.access == 'abo' %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "@id": "{{ view.content_url }}",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ view.content_url }}"
        },
        "isAccessibleForFree": "False",
        "hasPart": {
            "@type": "WebPageElement",
            "isAccessibleForFree": "False",
            "cssSelector" : ".schemaorg-marker-paywall"
        }
    }
    </script>
{% endif %}
