{% if view.context.access == 'abo' %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "@id": "{{ view.content_url }}",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ view.content_url }}"
        },
        "author": "{{ view.authors_list }}",
        "datePublished": "{{ view.date_last_modified }}",
        "headline": "{{ view.title }}",
        "image": "TODO",
        "publisher": {
            "@type": "http://schema.org/Organization",
            "name": "ZEIT ONLINE",
            "url": "{{ request.route_url('home') }}index",
            "logo": {
                "@type": "http://schema.org/ImageObject",
                "url": "{{ request.asset_host }}/images/structured-data-publisher-logo-zar.png"
            }
        },
        "isAccessibleForFree": "False",
        "hasPart": {
            "@type": "WebPageElement",
            "isAccessibleForFree": "False",
            "cssSelector" : "*[itemprop='articleBody']"
        }
    }
    </script>
{% endif %}
