    <meta property="og:site_name" content="{{ view.site_name }}">
    <meta property="fb:app_id" content="{% block facebook_app_id %}638028906281625{% endblock %}">
    <meta property="fb:pages" content="{{ settings('facebook_app_id_list') | default('37816894428, 63948163305, 327602816926, 114803848589834', true) }}" />
{%- for author in view.authors -%}
    {%- if author.href %}

    <meta property="article:author" content="{{ author.href | create_url }}">
    {%- endif -%}
{% endfor %}

{% if not view.shared_cardstack_id %}
    {# We are receiving the sharing metadata from the cards backend -#}
    <meta name="twitter:card" content="{{ view.twitter_card_type }}">
    <meta name="twitter:site" content="@zeitonline">
    <meta name="twitter:creator" content="@{{ view.twitter_username }}">
    <meta name="twitter:title" content="{{ view.social_pagetitle }}">
    <meta name="twitter:description" content="{{ view.social_description }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ view.social_pagetitle }}">
    <meta property="og:description" content="{{ view.social_description }}">
    <meta property="og:url" content="{{ view.og_url }}">
{% require image = get_image(view.context, variant_id='wide', name='sharing', fallback=False) %}
    {% set source = request.image_host + image.path + '__1300x731' -%}
    <meta property="og:image" content="{{ source }}">
    <meta property="og:image:width" content="1300">
    <meta property="og:image:height" content="731">
    <meta name="twitter:image" content="{{ source }}">
    <link rel="image_src" href="{{ source }}">
    <link itemprop="primaryImageOfPage" href="{{ source }}">
{% endrequire %}
{% endif %}
