{% extends "zeit.web.core:templates/amp/layout.html" %}

{% block symbols %}
	{% include "zeit.web.static:css/web.magazin/amp.svg" %}
{% endblock symbols %}

{% block logo %}
	<div class="article__item article__item--wide">
		<a itemprop="url" href="{{ request.route_url('home') }}zeit-magazin/index">
			<meta itemprop="name" content="ZEITmagazin">
			<svg class="header__logo" itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
				<use xlink:href="#svg-logo-zmo"/>
				{# The "logo" dimensions must not exceed 600x60 -#}
				<meta itemprop="url" content="{{ request.asset_host }}/images/structured-data-publisher-logo-zmo.png">
				<meta itemprop="width" content="600">
				<meta itemprop="height" content="56">
			</svg>
		</a>
	</div>
{% endblock logo %}

{% block zplus_badge %}
	{% include "zeit.web.magazin:templates/amp/article/zplus-badge.html" %}
{% endblock %}

{% block footer_logo %}
	<a href="{{ request.route_url('home') }}zeit-magazin/index">
		<svg class="footer__logo">
			<use xlink:href="#svg-logo-zmo"/>
		</svg>
	</a>
{% endblock footer_logo %}

{% block style %}
	{% include "zeit.web.static:css/web.magazin/amp.css" %}
{% endblock style %}
