{% extends "zeit.web.core:templates/amp/layout.html" %}

{% block symbols %}
	{% include "zeit.web.static:css/web.magazin/amp.svg" %}
{% endblock symbols %}

{% block logo %}
	<div class="article__item article__item--wide">
		<a href="{{ request.route_url('home') }}zeit-magazin/index">
			<svg class="header__logo">
				<use xlink:href="#svg-logo-zmo"/>
			</svg>
		</a>
	</div>
{% endblock logo %}

{% block footer_logo %}
	<a href="{{ request.route_url('home') }}zeit-magazin/index">
		<svg class="footer__logo">
			<use xlink:href="#svg-logo-zmo"/>
		</svg>
	</a>
{% endblock footer_logo %}

{% block style %}
	{% include "zeit.web.static:css/web.magazin/amp.css" %}
{% endblock style %}
