$dropdown-width: remify(160px)

.search-form
	background: $zon-warm-grey
	margin: 0
	padding: remify(25px $page-padding 15px)
	&__fieldset
		+respond-min($break-tablet-min)
			margin: 0 auto
			max-width: em(660px)

.search-text-input
	display: flex
	font-size: remify(14px)
	&__input
		background-color: $white
		border-color: $zon-light-grey
		border-radius: remify(4px 0 0 4px)
		border-style: solid
		border-width: 1px 0 1px 1px
		outline: none // readd in :focus for a11y
		padding: remify(10px)
		flex-grow: 1
		&:focus,
		&:hover,
		&:focus+.search-submit,
		&:hover+.search-submit
			border-color: $zon-mid-grey
		&:focus
			background-color: $white

.search-submit
	background-color: $white
	color: $zon-dark-grey
	border-radius: remify(0 4px 4px 0)
	border: 1px solid $zon-light-grey
	border-left: none
	outline: none // readd in :focus for a11y
	padding: remify(10px 12px)
	+respond-min($break-tablet-min)
		padding: remify(10px 20px)
	&:focus,
	&:hover
		background-color: $trout
		color: $white
	&__icon
		height: remify(18px)
		width: remify(18px)
		vertical-align: text-bottom
	&__text
		display: none
		+respond-min($break-tablet-min)
			display: inline
			letter-spacing: 1px
			padding-left: .5em

.search-options
	margin-top: remify(14px)
	color: $zon-grey
	&__on
		display: none
		transition: max-height .3s ease-in-out
		.js &
			cursor: pointer
			display: block
			font-size: remify(14px)
			max-height: 1.5em
			overflow: hidden
			+respond-min($break-tablet-min)
				display: none
	&__container
		overflow: hidden
		transition: max-height .3s ease-in-out
		.js &
			max-height: 0
			+respond-min($break-tablet-min)
				max-height: none
	&__off
		display: none
		.js &
			cursor: pointer
			display: block
			float: left
			height: remify(32px)
			width: remify(32px)
			+respond-min($break-tablet-min)
				display: none
	&__icon
		width: remify(18px)
		height: remify(18px)
		margin: remify(7px 6px)

	&--open
		.search-options__on
			max-height: 0
		.search-options__container
			max-height: em(320px)

.search-range
	border: none
	margin: 0
	padding: 0
	float: left
	margin: remify(0 10px 10px 0)
	width: $dropdown-width
	&__legend
		background-color: $white
		border: 1px solid $zon-light-grey
		border-radius: remify(4px)
		color: $zon-grey
		cursor: pointer
		display: block
		font-size: remify(12px)
		padding: remify(6px 16px)
		width: 100%
	&__icon
		float: right
		height: remify(6px)
		margin-top: remify(6px)
		width: remify(8px)
		transition: transform .3s
	&__extend
		background: lighten($zon-warm-grey, 5%)
		border-width: 0px 1px
		border-style: solid
		border-color: $zon-light-grey
		box-shadow: inset 0 -1px 0 $zon-light-grey // fake border bottom
		font-size: remify(11px)
		line-height: 2
		overflow: hidden
		transition: max-height .3s
		.js &
			max-height: 0
			position: absolute
			width: $dropdown-width
	&__label
		cursor: pointer
		display: block
		margin: remify(2px 14px)
		&:first-child
			margin-top: remify(14px)
		&:last-child
			margin-bottom: remify(14px)
	&__input
		margin-right: remify(6px)
	&--open
		.search-range__legend
			border-radius: remify(4px 4px 0 0)
		.search-range__icon
			transform: rotate(180deg)
		.search-range__extend
			max-height: em(320px)
