$comment-color-preferences-background: $zar-whitesmoke
$comment-color-preferences-font: $zar-darkslate-grey
$comment-color-preferences-hoverunderline: $zar-darkslate-grey
$comment-color-preferences-active: $color-text
$comment-color-preferences-seperator: #fff

@import "web.core/modules/comments/comment-preferences"
