$comment-color-meta-text: 			$color-text
$comment-color-meta-text-hover:		$zar-battleship-grey
$comment-color-icon-author:			$color-text
$comment-color-name-link:			$color-text

@import "web.core/modules/comments/comment-meta"

// own styles, which differ from core
.comment-meta
	&__name
		font-family: $font-patronbold
		font-size: remify(18px)
