$comment-color-form-text:			$zar-battleship-grey
$comment-color-form-user-link:		$zar-darkslate-grey
$comment-color-form-cancel-link: 	$zar-cool-grey

@import "web.core/modules/comments/comment-form"

.comment-form
	&__button
		margin-right: 0
