$comment-color-author-bg: $zar-whitesmoke
$comment-color-border: $color-border

$comment-color-body-font: $color-text

$comment-color-count-background: $zar-darkslate-grey
$comment-color-count-font: $zar-whitesmoke
$comment-color-cta-border: $zar-white
$comment-color-cta-font: $zar-battleship-grey
$comment-color-count-background--hover: $color-text
$comment-color-cta-border--hover: $zar-french-grey
$comment-color-cta-font--hover: $zar-charcoal-grey

$comment-color-moderation-font: $zar-battleship-grey
$comment-color-moderation-sending: $zar-white

$comment-color-date-link: $zar-battleship-grey
$comment-color-date-link-hover: $zar-charcoal-grey
$comment-color-reaction-active: $zar-darkish-pink

$comment-color-badge-background: $color-text
$comment-color-indented-boxshadow: $zar-whitesmoke

$comment-color-placeholder-background: $zar-whitesmoke
$comment-color-placeholder-font: $zar-white

@import "web.core/modules/comments/comment"
