.liveblog-heading

	&__media
		height: 0
		margin: 0 0 remify(24px)
		padding-bottom: 100% / 16 * 9 // image variant 'wide' (16:9)

	+respond-min($break-tablet-min)

		&__media
			margin-bottom: remify(6px)

		&__headline,
		&__image
			display: inline-block
			vertical-align: bottom

		&__headline
			margin: 0
			padding-left: 3.75%
			width: 65%

		&__image
			width: 35%

	+respond-min($break-desktop-min)
		&__media
			margin-bottom: remify(8px)
