.liveblog-text-wrapper
	transition: max-height .5s
	overflow: hidden
	position: relative

.liveblog-text-wrapper--wrapped
	margin: 0 auto
	max-width: em(660px)
	+text-wrapper()

	// display content if focus moves to hidden elements
	&:focus-within:not(:focus)
		max-height: none

		&::before,
		&::after
			content: none
