.liveblog
	+unpadded
	clear: both
	margin-bottom: remify(20px)
	margin-top: remify(50px)

.liveblog-text-wrapper
	transition: max-height .5s
	overflow: hidden
	position: relative

.liveblog-text-wrapper--wrapped
	margin: 0 auto
	max-width: em(660px)
	+text-wrapper()
