{% extends "zeit.web.magazin:templates/inc/asset/image_article.tpl" %}

{% set media_block_additional_class = 'infographic' %}
{% set media_block_additional_class = 'article__item' | with_mods(*obj.figure_mods) ~ (' infographic x-spacing') %}

{% set media_caption_additional_class = 'x-footer'
    ~ ('--borderless' if not image.origin or not image.copyrights) %}

{% block media_caption_class %}infographic{% endblock %}
{% block media_copyright_class %}x-copyright x-caption--sans{% endblock %}

{% block media_caption_above %}
    <h3 class="x-subheadline{{ '--borderless' if not image.caption }}" itemprop="name">{{ image.title }}</h3>
    <p class="x-copytext" itemprop="caption">{{ image.caption }}</p>
{% endblock %}
