
{% if provides (view.context,'zeit.content.cp.interfaces.ICP2009') %}
    {% extends "zeit.web.magazin:templates/{}_legacy.html".format(view.type) %}
{% else %}
    {% extends "zeit.web.magazin:templates/{}.html".format(view.type) %}
{% endif %}

{% block css_link %}
<!--[if gt IE 8]><!-->
    <link href="{{ request.asset_host }}/css/web.magazin/advertorial.css" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock css_link %}

{% block page_title %}
    {% if view.is_hp == False -%}
        <div class="advertorial-title">
            <a href="./index" title="zurück zur Übersicht">
            	<div class="advertorial-title__headline">{% block advertorial_headline %}{% endblock advertorial_headline %}</div>
            </a>
            <div class="advertorial-title__text">{% block advertorial_text %}{% endblock advertorial_text %}</div>
        </div>
    {%- endif %}
{% endblock page_title %}
